4. Danger Detector.json
{"createdAt":"2025-08-01T09:36:45.231Z","updatedAt":"2025-08-07T11:13:15.395Z","id":"tqrgduXe2fkW7UrJ","name":"4. Danger Detector","active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[160,336],"id":"1515baf3-c3b0-4760-bdc5-96b8f793b385","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"promptType":"define","text":"=List: {{ $json.toJsonString() }}\nReport: {{ $json.report }}","options":{"systemMessage":"=You are an environmental danger detector for NSW, Australia.\n\nYour Task:\nFor each domain object you receive as input (from Agent 3), use the domain name and volume as anchors.\nThen, scan the entire waste report—including the narrative, material descriptions, lab results, and appendices—for hazards listed below.\nOnly flag a danger if you find the hazard for that specific domain/stockpile/area in the report.\nFlag each detected hazard using the EPA’s official danger triggers and thresholds. If multiple hazards are found, flag each one.\nIf none are found, state ✅ No hazardous substances detected.\nDo NOT assign an EPA waste class—just flag hazards.\n\nNSW EPA Danger Triggers & Thresholds (Strictly Apply):\nSpecial Waste Triggers:\nAsbestos: Any detection in description or lab =\n🚨 DANGER: Asbestos detected\n\nClinical/related waste: Any detection (medical, pharmaceutical, cytotoxic, sharps, blood-stained) =\n🚨 DANGER: Clinical/related waste detected\n\nWaste tyres: Any detection (whole, shredded, fragments) =\n🚨 DANGER: Waste tyres detected\n\nPFAS and Forever Chemicals (per latest EPA Addendum):\nPFOS + PFHxS: If result ≥ 1.8 mg/kg in soil (SCC1):\n🚨 DANGER: PFOS + PFHxS detected at [value] mg/kg (limit: 1.8 mg/kg)\n\nPFOA: If result ≥ 18 mg/kg in soil (SCC1):\n🚨 DANGER: PFOA detected at [value] mg/kg (limit: 18 mg/kg)\n\nIf detected but below these limits:\n⚠️ WARNING: PFAS detected below danger threshold ([value] mg/kg)\n\nFor multi-analyte lab results, sum PFOS + PFHxS for comparison.\n\nPASS / Acid Sulphate Soils:\nAny presence of “PASS”, “Potential Acid Sulphate Soil”, or “Acid Sulphate Soil” =\n⚠️ WARNING: Acid Sulphate Soil (PASS) detected — special management required\n\nDangerous Goods:\nIf flagged as a dangerous good (Class 1, 2, 4.1, 4.2, 4.3, 5, 6.1, 8 in the Transport of Dangerous Goods Code) =\n🚨 DANGER: Dangerous Good detected (class [class])\n\nEPA Key Chemicals & Danger Thresholds:\nFlag as DANGER if lab result for any is above:\n\nChemical\tDanger Threshold (mg/kg)\nLead\t400\nMercury\t16\nPCBs (Polychlorinated Biphenyls)\t50\nTotal PAHs (sum of 16 PAHs)\t800\n\nEPA Scheduled Chemicals – Danger Thresholds (ALL = 50 mg/kg):\n\nChemical,Danger Threshold (mg/kg)\nAldrin,50\nalpha-BHC (Hexachlorocyclohexane),50\nbeta-BHC,50\ngamma-BHC (Lindane),50\ndelta-BHC,50\nChlordane,50\nDDT (total),50\nDieldrin,50\nEndosulfan (alpha-, beta-, total, sulfate),50\nEndrin,50\nHeptachlor,50\nHeptachlor epoxide,50\nHexachlorobenzene,50\nMirex,50\nPentachlorophenol,50\nToxaphene,50\nFor any of the above, if lab result is ≥ 50 mg/kg:\n🚨 DANGER: [Chemical name] detected at [value] mg/kg (limit: 50 mg/kg)\n\nOutput Format (JSON array, one object per domain):\nFor each domain object you receive as input, add a new field called danger_flags containing the list of all detected hazard/warning flags (as described above).\nReturn the entire updated list of domain objects, each now including the appended danger_flags array and existing name field.\n\n[\n  {\n    \"name\": \"Stockpile 7 (SP-7)\",\n    \"danger_flags\": [\"✅ No hazardous substances detected\"]\n  },\n  {\n    \"name\": \"Vegetation Stockpile DSP03\",\n    \"danger_flags\": [\"🚨 DANGER: Asbestos detected\"]\n  },\n  {\n    \"name\": \"SP6 (Hydro, nightworks)\",\n    \"danger_flags\": [\n      \"⚠️ WARNING: PFAS detected below danger threshold (3.2 mg/kg)\",\n      \"🚨 DANGER: Lead detected at 450 mg/kg (limit: 400 mg/kg)\"\n    ]\n  }\n]\nList every detected flag per domain.\n\nIf no hazard, output: \"✅ No hazardous substances detected\"\n\nNo commentary, no summary—just the JSON array.\n\nInstructions:\nFor each domain from Agent 3, strictly scan the entire waste report (narrative and laboratory data) for the danger triggers and chemical names/thresholds above.\nIf any result for a scheduled chemical (list above) is ≥ 50 mg/kg, flag as DANGER.\nIf multiple hazards, flag all.\nDo not assign regulatory class—just flags.\nIf a value or chemical is not present, ignore.\nIf threshold is missing, flag as: WARNING: [Chemical name] detected, no threshold available.\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[80,112],"id":"4c949795-193a-424d-b134-89a86df02415","name":"AI Agent1"},{"parameters":{"workflowInputs":{"values":[{"name":"list","type":"any"},{"name":"report","type":"any"}]}},"id":"4cbcd1fc-1bb7-462d-8dad-22ce1cc2ac16","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-144,112]},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[608,768],"id":"3ebb1d45-e4f3-4144-83ec-00ef59a8872d","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"promptType":"define","text":"=List: {{ $json.toJsonString() }}\nReport: {{ $('Extract from File').item.json.text }}","options":{"systemMessage":"=You are an environmental danger detector for NSW, Australia.\n\nYour Task:\nFor each domain object you receive as input (from Agent 3), use the domain name and volume as anchors.\nThen, scan the entire waste report—including the narrative, material descriptions, lab results, and appendices—for hazards listed below.\nOnly flag a danger if you find the hazard for that specific domain/stockpile/area in the report.\nFlag each detected hazard using the EPA’s official danger triggers and thresholds. If multiple hazards are found, flag each one.\nIf none are found, state ✅ No hazardous substances detected.\nDo NOT assign an EPA waste class—just flag hazards.\n\nNSW EPA Danger Triggers & Thresholds (Strictly Apply):\nSpecial Waste Triggers:\nAsbestos: Any detection in description or lab =\n🚨 DANGER: Asbestos detected\n\nClinical/related waste: Any detection (medical, pharmaceutical, cytotoxic, sharps, blood-stained) =\n🚨 DANGER: Clinical/related waste detected\n\nWaste tyres: Any detection (whole, shredded, fragments) =\n🚨 DANGER: Waste tyres detected\n\nPFAS and Forever Chemicals (per latest EPA Addendum):\nPFOS + PFHxS: If result ≥ 1.8 mg/kg in soil (SCC1):\n🚨 DANGER: PFOS + PFHxS detected at [value] mg/kg (limit: 1.8 mg/kg)\n\nPFOA: If result ≥ 18 mg/kg in soil (SCC1):\n🚨 DANGER: PFOA detected at [value] mg/kg (limit: 18 mg/kg)\n\nIf detected but below these limits:\n⚠️ WARNING: PFAS detected below danger threshold ([value] mg/kg)\n\nFor multi-analyte lab results, sum PFOS + PFHxS for comparison.\n\nPASS / Acid Sulphate Soils:\nAny presence of “PASS”, “Potential Acid Sulphate Soil”, or “Acid Sulphate Soil” =\n⚠️ WARNING: Acid Sulphate Soil (PASS) detected — special management required\n\nDangerous Goods:\nIf flagged as a dangerous good (Class 1, 2, 4.1, 4.2, 4.3, 5, 6.1, 8 in the Transport of Dangerous Goods Code) =\n🚨 DANGER: Dangerous Good detected (class [class])\n\nEPA Key Chemicals & Danger Thresholds:\nFlag as DANGER if lab result for any is above:\n\nChemical\tDanger Threshold (mg/kg)\nLead\t400\nMercury\t16\nPCBs (Polychlorinated Biphenyls)\t50\nTotal PAHs (sum of 16 PAHs)\t800\n\nEPA Scheduled Chemicals – Danger Thresholds (ALL = 50 mg/kg):\n\nChemical,Danger Threshold (mg/kg)\nAldrin,50\nalpha-BHC (Hexachlorocyclohexane),50\nbeta-BHC,50\ngamma-BHC (Lindane),50\ndelta-BHC,50\nChlordane,50\nDDT (total),50\nDieldrin,50\nEndosulfan (alpha-, beta-, total, sulfate),50\nEndrin,50\nHeptachlor,50\nHeptachlor epoxide,50\nHexachlorobenzene,50\nMirex,50\nPentachlorophenol,50\nToxaphene,50\nFor any of the above, if lab result is ≥ 50 mg/kg:\n🚨 DANGER: [Chemical name] detected at [value] mg/kg (limit: 50 mg/kg)\n\nOutput Format (JSON array, one object per domain):\nFor each domain object you receive as input, add a new field called danger_flags containing the list of all detected hazard/warning flags (as described above).\nReturn the entire updated list of domain objects, each now including the appended danger_flags array and existing name field.\n\n[\n  {\n    \"name\": \"Stockpile 7 (SP-7)\",\n    \"danger_flags\": [\"✅ No hazardous substances detected\"]\n  },\n  {\n    \"name\": \"Vegetation Stockpile DSP03\",\n    \"danger_flags\": [\"🚨 DANGER: Asbestos detected\"]\n  },\n  {\n    \"name\": \"SP6 (Hydro, nightworks)\",\n    \"danger_flags\": [\n      \"⚠️ WARNING: PFAS detected below danger threshold (3.2 mg/kg)\",\n      \"🚨 DANGER: Lead detected at 450 mg/kg (limit: 400 mg/kg)\"\n    ]\n  }\n]\nList every detected flag per domain.\n\nIf no hazard, output: \"✅ No hazardous substances detected\"\n\nNo commentary, no summary—just the JSON array.\n\nInstructions:\nFor each domain from Agent 3, strictly scan the entire waste report (narrative and laboratory data) for the danger triggers and chemical names/thresholds above.\nIf any result for a scheduled chemical (list above) is ≥ 50 mg/kg, flag as DANGER.\nIf multiple hazards, flag all.\nDo not assign regulatory class—just flags.\nIf a value or chemical is not present, ignore.\nIf threshold is missing, flag as: WARNING: [Chemical name] detected, no threshold available.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[528,544],"id":"5a5041be-ed66-47a8-b8d5-5d4215ff35b3","name":"AI Agent2"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"=You are a helpful assistant\nYou will receive an output make a professional user message on the base of it.\nLike this are the domains we got from report and their other details.\nIf you donty find any inputs plase say \"I am facing some issues with the document you uploaded.\nDo not use any placeholders such as [Recipient], [Your Name], or [Your Position/Company].\n\nInput Format (JSON array, one object per domain):\n\n[\n  {\n    \"name\": \"Domain 1\",\n    \"volume\": \"200 m³\",\n    \"material_type\": \"soil with minor debris\",\n    \"exemption\": null,\n    \"non_exemption_reason\": \"Contains debris; fails VENM/ENM criteria\",\n    \"danger_flags\": [\n      \"⚠️ WARNING: PFAS detected below danger threshold (3.2 mg/kg)\",\n      \"🚨 DANGER: Lead detected at 450 mg/kg (limit: 400 mg/kg)\"\n    ]\n  },\n  .......\n]\n\nStructure of object per domain:\nname\nvolume\nmaterial_type\nexemption (\"VENM\", \"ENM\", or null)\nnon_exemption_reason (null if not applicable; otherwise, a brief reason why exemption was not assigned)\ndanger_flags(Warnings and dangers or No hazardous substances detected)\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[880,544],"id":"0a1becf3-8f0c-42bb-9dac-1c31fd1c55c9","name":"AI Agent3"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[960,768],"id":"009abe29-ec70-4eb7-861c-662dfbaaa7d7","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"httpMethod":"POST","path":"c4cd6ede-85e1-42a8-812c-81c325d619d2","responseMode":"responseNode","options":{"binaryPropertyName":"data"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-144,544],"id":"938793d8-d3b9-4107-a23f-d6bf0d8367af","name":"Webhook","webhookId":"c4cd6ede-85e1-42a8-812c-81c325d619d2"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1232,544],"id":"7145c9f8-5cea-41a8-8440-d30c92f567cc","name":"Respond to Webhook"},{"parameters":{"workflowId":{"__rl":true,"value":"JgvyMhUYZKtkeTBh","mode":"list","cachedResultName":"Waste organizer"},"workflowInputs":{"mappingMode":"defineBelow","value":{"text":"={{ $json.text }}"},"matchingColumns":["text"],"schema":[{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[304,544],"id":"341ce354-dbf5-49cb-baf3-de4fb5812c8b","name":"Execute Workflow"},{"parameters":{"operation":"pdf","binaryPropertyName":"data0","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[80,544],"id":"874b3f40-1767-42c9-a77b-97cf160231b0","name":"Extract from File"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[]]},"Start":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"AI Agent2":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"625d8cff-ba0e-4365-9e6d-45151d6f28a3","triggerCount":1,"tags":[]}