5-EPA Rule Book.json
{"createdAt":"2025-08-06T08:06:55.028Z","updatedAt":"2025-08-06T12:30:26.801Z","id":"m09qUo4o1a7QMG1C","name":"5-EPA Rule Book","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=List: {{ $json.toJsonString() }}\nReport: {{ $json.report }}","options":{"systemMessage":"=You are an EPA waste classification agent for NSW, Australia.\n\nYour Task:\nFor each domain object you receive as input (with name, danger_flags, and other fields), and for each matching domain in the full waste report (including the complete chemical/laboratory results for every analyte):\n\nIf danger_flags includes \"Special Waste\" or \"Liquid Waste\":\n\nSet assigned_waste_class to the flagged class.\n\nSet reason to \"Pre-classified by Agent 4\" and do not reclassify.\n\nOtherwise:\n\nFor that domain, use the full laboratory results from the waste report (including all SCC and TCLP values for every tested contaminant, not just fields passed in JSON).\n\nFor each contaminant, compare both SCC (mg/kg) and TCLP (mg/L) results to the regulatory thresholds below.\n\nAssign the correct EPA waste class using the stepwise hierarchy and always assign the highest-risk class present:\n\nNSW EPA Waste Class Assignment Hierarchy:\nGeneral Solid Waste: All SCC values ≤ CT1 (Table 1), and if TCLP is reported, all TCLP values ≤ TCLP1 (Table 2).\n\nRestricted Solid Waste: If any SCC > CT1 but ≤ CT2 (Table 1), or if TCLP1 < TCLP ≤ TCLP2 and SCC ≤ SCC2 (Table 2).\n\nHazardous Waste: If any SCC > CT2 or TCLP > TCLP2 (Table 2).\n\nIf any required chemical result is missing:\n\nSet \"assigned_waste_class\": \"unknown\" and specify what is missing in the reason field.\n\nAlways assign the highest-risk class found for each domain.\n\nEPA Chemical Threshold Tables (Full Reference)\nTable 1: SCC Thresholds (CT1/CT2) for All Key Contaminants\nscss\nCopy\nEdit\nContaminant,SCC CT1 (mg/kg),SCC CT2 (mg/kg)\nAntimony,20,80\nArsenic,100,400\nBarium,300,1200\nBeryllium,20,80\nCadmium,20,80\nChromium (total),100,400\nChromium (VI),100,400\nCobalt,40,160\nCopper,100,400\nLead,100,400\nManganese,2000,8000\nMercury,4,16\nMolybdenum,40,160\nNickel,40,160\nSelenium,20,80\nSilver,100,400\nThallium,20,80\nVanadium,200,800\nZinc,200,800\nBenzene,10,40\nBenzo(a)pyrene,0.8,3.2\nBenzo(b)fluoranthene,8,32\nBenzo(k)fluoranthene,8,32\nTotal PAHs (sum of 16 PAHs),200,800\nPCBs,50,50\nVinyl chloride,4,16\nXylenes (total),1000,4000\nPFOS + PFHxS,1.8,7.2\nPFOA,18,72\nAldrin,50,50\nChlordane,50,50\nDieldrin,50,50\nEndrin,50,50\nHeptachlor,50,50\nHeptachlor epoxide,50,50\nHexachlorobenzene,50,50\nMirex,50,50\nPentachlorophenol,50,50\nToxaphene,50,50\nDDT (total),50,50\nalpha-BHC,50,50\nbeta-BHC,50,50\ngamma-BHC (Lindane),50,50\ndelta-BHC,50,50\nEndosulfan (alpha-, beta-, total, sulfate),50,50\nTable 2: SCC and TCLP Thresholds for All Key Contaminants\nscss\nCopy\nEdit\nContaminant,SCC1 (mg/kg),TCLP1 (mg/L),SCC2 (mg/kg),TCLP2 (mg/L)\nAntimony,20,0.7,80,2.8\nArsenic,500,5,2000,20\nBarium,1000,100,4000,400\nBeryllium,100,1,400,4\nCadmium,100,1,400,4\nChromium (VI),1900,5.2,7600,20\nCobalt,400,2,1600,8\nCopper,400,10,1600,40\nLead,1500,5,6000,20\nManganese,4000,50,16000,200\nMercury,50,0.2,200,0.8\nMolybdenum,400,5,1600,20\nNickel,1050,2,4200,8\nSelenium,50,1,200,4\nSilver,180,5,720,20\nThallium,80,0.5,320,2\nVanadium,800,8,3200,32\nZinc,800,20,3200,80\nBenzene,2,0.52,72,2\nBenzo(a)pyrene,0.16,0.044,0.23,0.23\nBenzo(b)fluoranthene,8,0.25,32,1\nBenzo(k)fluoranthene,8,0.25,32,1\nTotal PAHs,200,0.1,800,0.4\nPCBs,50,0.01,50,0.1\nVinyl chloride,7.2,0.2,28.8,0.8\nXylenes (total),1800,50,7200,200\nPFOS + PFHxS,1.8,0.05,7.2,0.2\nPFOA,18,0.5,72,2\nAldrin,50,0.005,50,0.02\nChlordane,50,0.04,50,0.16\nDieldrin,50,0.005,50,0.02\nEndrin,50,0.005,50,0.02\nHeptachlor,50,0.008,50,0.03\nHeptachlor epoxide,50,0.008,50,0.03\nHexachlorobenzene,50,0.013,50,0.05\nMirex,50,0.2,50,0.8\nPentachlorophenol,50,0.015,50,0.06\nToxaphene,50,0.02,50,0.08\nDDT (total),50,0.017,50,0.07\nalpha-BHC,50,0.01,50,0.04\nbeta-BHC,50,0.01,50,0.04\ngamma-BHC (Lindane),50,0.01,50,0.04\ndelta-BHC,50,0.01,50,0.04\nEndosulfan (alpha-, beta-, total, sulfate),50,0.03,50,0.12\nPFAS Addendum (EPA 2023):\nPFOS + PFHxS: SCC1 = 1.8 mg/kg, SCC2 = 7.2 mg/kg, TCLP1 = 0.05 mg/L, TCLP2 = 0.2 mg/L\n\nPFOA: SCC1 = 18 mg/kg, SCC2 = 72 mg/kg, TCLP1 = 0.5 mg/L, TCLP2 = 2 mg/L\n\nInstructions:\nFor each domain:\n\nIf danger_flags includes \"Special Waste\" or \"Liquid Waste\", assign that class, set reason to \"Pre-classified by Agent 4\", and do not reclassify.\n\nOtherwise, compare every SCC and TCLP result from the report to the tables above.\n\nAssign:\n\n\"Hazardous Waste\" if any result exceeds CT2/TCLP2\n\n\"Restricted Solid Waste\" if any result is > CT1/TCLP1 but ≤ CT2/TCLP2\n\n\"General Solid Waste\" if all are ≤ CT1/TCLP1\n\n\"unknown\" if any data is missing (specify what is missing in reason)\n\nAlways assign the highest-risk class present in each domain.\n\nOutput only the JSON array—no summary, no commentary.\n\nOutput Format Example:\njson\nCopy\nEdit\n[\n  {\n    \"name\": \"Stockpile 7 (SP-7)\",\n    \"assigned_waste_class\": \"Restricted Solid Waste\",\n    \"reason\": \"Lead SCC = 150 mg/kg exceeds CT1 (100 mg/kg) but not CT2 (400 mg/kg); all others below thresholds.\"\n  },\n  {\n    \"name\": \"Vegetation Stockpile DSP03\",\n    \"assigned_waste_class\": \"Special Waste\",\n    \"reason\": \"Pre-classified by Agent 4 due to asbestos detected.\"\n  },\n  {\n    \"name\": \"SP6 (Hydro, nightworks)\",\n    \"assigned_waste_class\": \"Hazardous Waste\",\n    \"reason\": \"Mercury TCLP = 0.9 mg/L exceeds TCLP2 (0.8 mg/L).\"\n  }\n]\nIf any required lab value is missing for an analyte that appears in the tables, output assigned_waste_class: \"unknown\" and explain what is missing in reason."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1216,0],"id":"336978c2-c513-45a7-8ffd-dfca328660f9","name":"AI Agent"},{"parameters":{"workflowInputs":{"values":[{"name":"list","type":"any"},{"name":"report","type":"any"}]}},"id":"3705be2c-c7e1-4bc0-a08d-95fcf2243d6f","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-1440,104]},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1144,224],"id":"e5e2c2b4-f726-437a-b1ea-092fe92f59ba","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-472,760],"id":"2a82dea4-d6c9-4dcf-94a8-1ac231dc08e7","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"httpMethod":"POST","path":"306f5aee-9a58-410c-8174-5c11074085d2","responseMode":"responseNode","options":{"binaryPropertyName":"data"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1440,440],"id":"4afe3fc0-6b41-4aa1-b90c-be6117676336","name":"Webhook","webhookId":"306f5aee-9a58-410c-8174-5c11074085d2"},{"parameters":{"operation":"pdf","binaryPropertyName":"data0","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1216,440],"id":"2d72c80c-0604-4764-82a4-f4999bd0b131","name":"Extract from File"},{"parameters":{"workflowId":{"__rl":true,"value":"JgvyMhUYZKtkeTBh","mode":"list","cachedResultName":"Waste organizer"},"workflowInputs":{"mappingMode":"defineBelow","value":{"text":"={{ $json.text }}"},"matchingColumns":["text"],"schema":[{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-992,440],"id":"b4d337f2-1f4b-44a3-8057-5c936236e6b9","name":"Execute Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"tqrgduXe2fkW7UrJ","mode":"list","cachedResultName":"Danger Detector"},"workflowInputs":{"mappingMode":"defineBelow","value":{"list":"={{ $json }}","report":"={{ $('Extract from File').item.json.text }}"},"matchingColumns":[],"schema":[{"id":"list","displayName":"list","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"report","displayName":"report","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-768,440],"id":"48525789-7cf4-40eb-a15b-d64eaba8c73e","name":"Execute Workflow1"},{"parameters":{"promptType":"define","text":"=List:: {{ $json.output.toJsonString() }}\nReport:: {{ $('Extract from File').item.json.text }}","options":{"systemMessage":"=You are an EPA waste classification agent for NSW, Australia.\n\nYour Task:\nFor each domain object you receive as input (with name, danger_flags, and other fields), and for each matching domain in the full waste report (including the complete chemical/laboratory results for every analyte):\n\nIf danger_flags includes \"Special Waste\" or \"Liquid Waste\":\n\nSet assigned_waste_class to the flagged class.\n\nSet reason to \"Pre-classified by Agent 4\" and do not reclassify.\n\nOtherwise:\n\nFor that domain, use the full laboratory results from the waste report (including all SCC and TCLP values for every tested contaminant, not just fields passed in JSON).\n\nFor each contaminant, compare both SCC (mg/kg) and TCLP (mg/L) results to the regulatory thresholds below.\n\nAssign the correct EPA waste class using the stepwise hierarchy and always assign the highest-risk class present:\n\nNSW EPA Waste Class Assignment Hierarchy:\nGeneral Solid Waste: All SCC values ≤ CT1 (Table 1), and if TCLP is reported, all TCLP values ≤ TCLP1 (Table 2).\n\nRestricted Solid Waste: If any SCC > CT1 but ≤ CT2 (Table 1), or if TCLP1 < TCLP ≤ TCLP2 and SCC ≤ SCC2 (Table 2).\n\nHazardous Waste: If any SCC > CT2 or TCLP > TCLP2 (Table 2).\n\nIf any required chemical result is missing:\n\nSet \"assigned_waste_class\": \"unknown\" and specify what is missing in the reason field.\n\nAlways assign the highest-risk class found for each domain.\n\nEPA Chemical Threshold Tables (Full Reference)\nTable 1: SCC Thresholds (CT1/CT2) for All Key Contaminants\nscss\nCopy\nEdit\nContaminant,SCC CT1 (mg/kg),SCC CT2 (mg/kg)\nAntimony,20,80\nArsenic,100,400\nBarium,300,1200\nBeryllium,20,80\nCadmium,20,80\nChromium (total),100,400\nChromium (VI),100,400\nCobalt,40,160\nCopper,100,400\nLead,100,400\nManganese,2000,8000\nMercury,4,16\nMolybdenum,40,160\nNickel,40,160\nSelenium,20,80\nSilver,100,400\nThallium,20,80\nVanadium,200,800\nZinc,200,800\nBenzene,10,40\nBenzo(a)pyrene,0.8,3.2\nBenzo(b)fluoranthene,8,32\nBenzo(k)fluoranthene,8,32\nTotal PAHs (sum of 16 PAHs),200,800\nPCBs,50,50\nVinyl chloride,4,16\nXylenes (total),1000,4000\nPFOS + PFHxS,1.8,7.2\nPFOA,18,72\nAldrin,50,50\nChlordane,50,50\nDieldrin,50,50\nEndrin,50,50\nHeptachlor,50,50\nHeptachlor epoxide,50,50\nHexachlorobenzene,50,50\nMirex,50,50\nPentachlorophenol,50,50\nToxaphene,50,50\nDDT (total),50,50\nalpha-BHC,50,50\nbeta-BHC,50,50\ngamma-BHC (Lindane),50,50\ndelta-BHC,50,50\nEndosulfan (alpha-, beta-, total, sulfate),50,50\nTable 2: SCC and TCLP Thresholds for All Key Contaminants\nscss\nCopy\nEdit\nContaminant,SCC1 (mg/kg),TCLP1 (mg/L),SCC2 (mg/kg),TCLP2 (mg/L)\nAntimony,20,0.7,80,2.8\nArsenic,500,5,2000,20\nBarium,1000,100,4000,400\nBeryllium,100,1,400,4\nCadmium,100,1,400,4\nChromium (VI),1900,5.2,7600,20\nCobalt,400,2,1600,8\nCopper,400,10,1600,40\nLead,1500,5,6000,20\nManganese,4000,50,16000,200\nMercury,50,0.2,200,0.8\nMolybdenum,400,5,1600,20\nNickel,1050,2,4200,8\nSelenium,50,1,200,4\nSilver,180,5,720,20\nThallium,80,0.5,320,2\nVanadium,800,8,3200,32\nZinc,800,20,3200,80\nBenzene,2,0.52,72,2\nBenzo(a)pyrene,0.16,0.044,0.23,0.23\nBenzo(b)fluoranthene,8,0.25,32,1\nBenzo(k)fluoranthene,8,0.25,32,1\nTotal PAHs,200,0.1,800,0.4\nPCBs,50,0.01,50,0.1\nVinyl chloride,7.2,0.2,28.8,0.8\nXylenes (total),1800,50,7200,200\nPFOS + PFHxS,1.8,0.05,7.2,0.2\nPFOA,18,0.5,72,2\nAldrin,50,0.005,50,0.02\nChlordane,50,0.04,50,0.16\nDieldrin,50,0.005,50,0.02\nEndrin,50,0.005,50,0.02\nHeptachlor,50,0.008,50,0.03\nHeptachlor epoxide,50,0.008,50,0.03\nHexachlorobenzene,50,0.013,50,0.05\nMirex,50,0.2,50,0.8\nPentachlorophenol,50,0.015,50,0.06\nToxaphene,50,0.02,50,0.08\nDDT (total),50,0.017,50,0.07\nalpha-BHC,50,0.01,50,0.04\nbeta-BHC,50,0.01,50,0.04\ngamma-BHC (Lindane),50,0.01,50,0.04\ndelta-BHC,50,0.01,50,0.04\nEndosulfan (alpha-, beta-, total, sulfate),50,0.03,50,0.12\nPFAS Addendum (EPA 2023):\nPFOS + PFHxS: SCC1 = 1.8 mg/kg, SCC2 = 7.2 mg/kg, TCLP1 = 0.05 mg/L, TCLP2 = 0.2 mg/L\n\nPFOA: SCC1 = 18 mg/kg, SCC2 = 72 mg/kg, TCLP1 = 0.5 mg/L, TCLP2 = 2 mg/L\n\nInstructions:\nFor each domain:\n\nIf danger_flags includes \"Special Waste\" or \"Liquid Waste\", assign that class, set reason to \"Pre-classified by Agent 4\", and do not reclassify.\n\nOtherwise, compare every SCC and TCLP result from the report to the tables above.\n\nAssign:\n\n\"Hazardous Waste\" if any result exceeds CT2/TCLP2\n\n\"Restricted Solid Waste\" if any result is > CT1/TCLP1 but ≤ CT2/TCLP2\n\n\"General Solid Waste\" if all are ≤ CT1/TCLP1\n\n\"unknown\" if any data is missing (specify what is missing in reason)\n\nAlways assign the highest-risk class present in each domain.\n\nOutput only the JSON array—no summary, no commentary.\n\nOutput Format Example:\n\n[\n  {\n    \"name\": \"Stockpile 7 (SP-7)\",\n    \"assigned_waste_class\": \"Restricted Solid Waste\",\n    \"reason\": \"Lead SCC = 150 mg/kg exceeds CT1 (100 mg/kg) but not CT2 (400 mg/kg); all others below thresholds.\"\n  },\n  {\n    \"name\": \"Vegetation Stockpile DSP03\",\n    \"assigned_waste_class\": \"Special Waste\",\n    \"reason\": \"Pre-classified by Agent 4 due to asbestos detected.\"\n  },\n  {\n    \"name\": \"SP6 (Hydro, nightworks)\",\n    \"assigned_waste_class\": \"Hazardous Waste\",\n    \"reason\": \"Mercury TCLP = 0.9 mg/L exceeds TCLP2 (0.8 mg/L).\"\n  }\n]\nIf any required lab value is missing for an analyte that appears in the tables, output assigned_waste_class: \"unknown\" and explain what is missing in reason."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-544,536],"id":"63a3c37f-d252-4d96-8848-5f4dd5a0657f","name":"AI Agent1"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[384,536],"id":"8fdd77e5-546c-4db0-bce3-e106617f1868","name":"Respond to Webhook"},{"parameters":{"jsCode":"// Get the output string\nconst outputStr = $input.first().json.output;\n\n// Parse the JSON string into an array\nconst domains = JSON.parse(outputStr);\n\n// Now you can process each domain as an object!\nreturn domains;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,104],"id":"518e5b5e-5af6-43e5-a197-b92adc93d622","name":"Code3"},{"parameters":{"promptType":"define","text":"={{ $json.data.toJsonString() }}","options":{"systemMessage":"=You are a helpful assistant\nYou will receive an output make a professional user message on the base of it.\nLike this are the domains we got from report and their other details.\nIf you donty find any inputs plase say \"I am facing some issues with the document you uploaded.\nDo not use any placeholders such as [Recipient], [Your Name], or [Your Position/Company].\n\nInput Format (JSON array, one object per domain):\n[\n  {\n    \"name\": \"Domain 1\",\n    \"assigned_waste_class\": \"General Solid Waste\", \n    \"reason\": \"All SCC (mg/kg) and TCLP (mg/L) values for regulated contaminants (including nickel, benzo(a)pyrene, PAHs, metals, OCPs, PCBs, hydrocarbons) are below CT1 and TCLP1 thresholds for General Solid Waste per NSW EPA 2014 tables.\"\n  },\n  .......\n]\n\nStructure of object per domain:\nname\nvolume\nmaterial_type\nassigned_waste_class\nreason(Why iy=t is assigned that waste class)\n  "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[32,536],"id":"922f679f-7fd5-4508-afc6-ebca56a1c73f","name":"AI Agent3"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[104,760],"id":"6e6d1454-e0e5-48f5-a2ce-e86c4dcf9a7a","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-768,632],"id":"96be2611-2b78-44b1-a1a6-2e7a8933ba90","name":"When clicking ‘Execute workflow’"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-192,536],"id":"69eb6c45-aa98-4637-b99b-6255408cb824","name":"Aggregate"}],"connections":{"Start":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code3","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"AI Agent3":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"11cf7e5f-6671-4127-b9dc-af07aaccd00f","triggerCount":1,"tags":[]}