6. The Recycling Hunter.json
{"createdAt":"2025-08-07T09:35:43.932Z","updatedAt":"2025-08-07T11:26:39.218Z","id":"R8n4cQb3n42mwWTf","name":"6. The Recycling Hunter","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Report::{{ $json.report }}","options":{"systemMessage":"=You are an environmental recycling eligibility agent for NSW, Australia.\n\nYour Task:\nFor each domain/stockpile described in the provided waste report, use all available laboratory data (SCC values for every analyte, asbestos presence, pH, PFAS, etc.) and the relevant text/narrative to determine if the domain is eligible for recycling or beneficial reuse.\nApply the Brandown Category 1–4 chemical acceptance table below.\n\nBrandown Recycling Acceptance Table (Category 1–4 Limits):\nCategory,Asbestos,Arsenic,Cadmium,Chromium,Copper,Lead,Mercury,Nickel,Zinc,PAH's,B(a)p,TRH C10-36,pH,PFAS\n1,Absent,40,2,100,200,100,0.5,40,600,80,0.8,1600,9,0.005\n2,Absent,40,2,150,200,100,1,60,600,80,1,1600,10,0.005\n3,Absent,40,2,150,200,250,1.5,80,600,80,4,1600,11,0.005\n4,Absent,40,2,225,200,375,1.5,120,600,80,6,1600,11,0.005\nEligibility Logic:\nFor each domain:\n\nFor every analyte in the table, find the maximum value across all samples for that domain.\n\nCheck Category 4 first:\n\nIf all analytes are less than or equal to Category 4 limit,\n\nAND asbestos is \"Absent\",\n\nAND pH and PFAS are within Category 4 range,\n\nTHEN set:\nrecycling_eligible: true\neligible_category: 4\nreason: \"All analytes at or below Category 4 limits; asbestos absent.\"\n\nIf any analyte exceeds the Category 4 limit:\n\nRepeat the check for Category 3, then 2, then 1, in order.\n\nIf no category is eligible:\n\nSet:\nrecycling_eligible: false\neligible_category: null\nreason: \"List all failed analytes and their values vs. limits.\"\n\nPhysical/Visual Acceptance:\n\nIf the report or facility requires, ensure:\n\nNo visible debris (plastic, glass, etc.)\n\n\"Soil only\" (no C&D waste, ash, etc.)\n\npH and particle size within required range.\n\nIf any of these fail, set recycling_eligible: false and give the reason.\n\nIf asbestos is detected anywhere (lab, narrative, or visual), set recycling_eligible: false for all categories.\n\nIf PFAS is not reported, set recycling_eligible: false unless the report explicitly states “PFAS < 0.005 mg/kg”.\n\nInstructions:\nUse the domain name as anchor.\n\nFor every analyte, always use the maximum value for that domain.\n\nAlways check Category 4 first, then step down to Category 3, 2, 1 as needed.\n\nList all failed analytes (and values) in the reason for ineligible domains.\n\nOutput only the JSON array (no commentary).\n\nOutput Example:\n[\n  {\n    \"name\": \"SP1 (W1, Bally Holly, pit removal)\",\n    \"recycling_eligible\": false,\n    \"eligible_category\": null,\n    \"reason\": \"Nickel = 130 mg/kg exceeds Category 4 limit (120 mg/kg).\"\n  },\n  {\n    \"name\": \"SP3 (compound, Global, compound works)\",\n    \"recycling_eligible\": true,\n    \"eligible_category\": 4,\n    \"reason\": \"All analytes at or below Category 4 limits; asbestos absent.\"\n  }\n]\nSpecial Notes:\nIf multiple analytes exceed limits, list them all in reason.\nDo not reference other agent results or external tables; base your answer only on the report and the Brandown Category table."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[208,112],"id":"6172ceeb-69b6-4ae5-9b67-5823c22b96b3","name":"AI Agent"},{"parameters":{"workflowInputs":{"values":[{"name":"report","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-16,216],"id":"b495613b-1738-442f-95c8-f62adab7d0fb","name":"When Executed by Another Workflow"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[280,336],"id":"adf6b402-47f9-4063-8c18-7aa8333357c9","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"operation":"pdf","binaryPropertyName":"data0","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[208,648],"id":"4313a6a0-a3eb-4b15-8bfc-e36563ef46ee","name":"Extract from File"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1136,648],"id":"2e09b468-f5e0-4eaf-8475-2919f612dd4d","name":"Respond to Webhook"},{"parameters":{"promptType":"define","text":"={{ $json.output.toJsonString() }}","options":{"systemMessage":"=You are a helpful assistant\nYou will receive an output make a professional user message on the base of it.\nLike this are the domains we got from report and their other details.\nIf you donty find any inputs plase say \"I am facing some issues with the document you uploaded.\nDo not use any placeholders such as [Recipient], [Your Name], or [Your Position/Company].\n\nInput Format (JSON array, one object per domain):\n[\n  {\n    \"name\": \"Domain 1\",\n    \"recycling_eligible\": true,\n    \"eligible_category\": 4,\n    \"reason\": \"All analytes at or below Category 4 limits; asbestos absent.\"All analytes at or below Category 4 limits; asbestos absent.\"\n  },\n  {\n    \"name\": \"Domain 2\",\n    \"recycling_eligible\": false,\n    \"eligible_category\": null,\n    \"reason\": \"Asbestos (chrysotile and amosite) detected in DSP03-FRAG01, DSP03-FRAG02, DSP03-FRAG03; visible ACM fragments reported in stockpile material and narrative.\"\n  },\n  .......\n]\n\nStructure of object per domain:\nname\nrecycling_eligible\neligible_category\nreason(Why not eligible)"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[784,648],"id":"32dc7db3-3b85-4ec7-b158-e10da3fe50c0","name":"AI Agent3"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[856,872],"id":"8c019800-76d2-43b2-9e62-d203fd5390ee","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"httpMethod":"POST","path":"b8e96366-e881-493c-8508-ebff2b657217","responseMode":"responseNode","options":{"binaryPropertyName":"data"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-16,648],"id":"c3a9c97d-5693-485d-80b9-6eef2e80a0ae","name":"Webhook","webhookId":"b8e96366-e881-493c-8508-ebff2b657217"},{"parameters":{"promptType":"define","text":"=Report::{{ $json.text }}","options":{"systemMessage":"=You are an environmental recycling eligibility agent for NSW, Australia.\n\nYour Task:\nFor each domain/stockpile described in the provided waste report, use all available laboratory data (SCC values for every analyte, asbestos presence, pH, PFAS, etc.) and the relevant text/narrative to determine if the domain is eligible for recycling or beneficial reuse.\nApply the Brandown Category 1–4 chemical acceptance table below.\n\nBrandown Recycling Acceptance Table (Category 1–4 Limits):\nCategory,Asbestos,Arsenic,Cadmium,Chromium,Copper,Lead,Mercury,Nickel,Zinc,PAH's,B(a)p,TRH C10-36,pH,PFAS\n1,Absent,40,2,100,200,100,0.5,40,600,80,0.8,1600,9,0.005\n2,Absent,40,2,150,200,100,1,60,600,80,1,1600,10,0.005\n3,Absent,40,2,150,200,250,1.5,80,600,80,4,1600,11,0.005\n4,Absent,40,2,225,200,375,1.5,120,600,80,6,1600,11,0.005\nEligibility Logic:\nFor each domain:\n\nFor every analyte in the table, find the maximum value across all samples for that domain.\n\nCheck Category 4 first:\n\nIf all analytes are less than or equal to Category 4 limit,\n\nAND asbestos is \"Absent\",\n\nAND pH and PFAS are within Category 4 range,\n\nTHEN set:\nrecycling_eligible: true\neligible_category: 4\nreason: \"All analytes at or below Category 4 limits; asbestos absent.\"\n\nIf any analyte exceeds the Category 4 limit:\n\nRepeat the check for Category 3, then 2, then 1, in order.\n\nIf no category is eligible:\n\nSet:\nrecycling_eligible: false\neligible_category: null\nreason: \"List all failed analytes and their values vs. limits.\"\n\nPhysical/Visual Acceptance:\n\nIf the report or facility requires, ensure:\n\nNo visible debris (plastic, glass, etc.)\n\n\"Soil only\" (no C&D waste, ash, etc.)\n\npH and particle size within required range.\n\nIf any of these fail, set recycling_eligible: false and give the reason.\n\nIf asbestos is detected anywhere (lab, narrative, or visual), set recycling_eligible: false for all categories.\n\nIf PFAS is not reported, set recycling_eligible: false unless the report explicitly states “PFAS < 0.005 mg/kg”.\n\nInstructions:\nUse the domain name as anchor.\n\nFor every analyte, always use the maximum value for that domain.\n\nAlways check Category 4 first, then step down to Category 3, 2, 1 as needed.\n\nList all failed analytes (and values) in the reason for ineligible domains.\n\nOutput only the JSON array (no commentary).\n\nOutput Example:\n[\n  {\n    \"name\": \"SP1 (W1, Bally Holly, pit removal)\",\n    \"recycling_eligible\": false,\n    \"eligible_category\": null,\n    \"reason\": \"Nickel = 130 mg/kg exceeds Category 4 limit (120 mg/kg).\"\n  },\n  {\n    \"name\": \"SP3 (compound, Global, compound works)\",\n    \"recycling_eligible\": true,\n    \"eligible_category\": 4,\n    \"reason\": \"All analytes at or below Category 4 limits; asbestos absent.\"\n  }\n]\nSpecial Notes:\nIf multiple analytes exceed limits, list them all in reason.\nDo not reference other agent results or external tables; base your answer only on the report and the Brandown Category table."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[432,648],"id":"751c41e4-c448-4db1-9324-176285599a7a","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[504,872],"id":"4fb45f60-cf20-4f5e-a253-b3a6119073da","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f1a57516-1a07-4a34-ad4f-6c57fe640c02","triggerCount":1,"tags":[]}