Agent Logger.json
{"createdAt":"2025-06-26T06:34:15.153Z","updatedAt":"2025-07-30T07:57:55.953Z","id":"OSxAo9ku93J2terx","name":"Agent Logger","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3840,-80],"id":"5ea9ca8d-5063-48b3-91cd-2890e6d21b7b","name":"When clicking ‘Execute workflow’"},{"parameters":{"workflowId":{"__rl":true,"value":"BUb54Ltl3C6X8RtN","mode":"list","cachedResultName":"Shreyansh MAin workflow getter"},"workflowInputs":{"mappingMode":"defineBelow","value":{"MainWorkflowID":"={{ $json.Workflow_id }}","WorkflowLink":"={{ $json.Workflow_link }}","ImageLink":"={{ $json.Image_link }}","AgentDescrition":"={{ $json.Agent_description }}"},"matchingColumns":["MainWorkflowID"],"schema":[{"id":"MainWorkflowID","displayName":"MainWorkflowID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"WorkflowLink","displayName":"WorkflowLink","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ImageLink","displayName":"ImageLink","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"AgentDescrition","displayName":"AgentDescrition","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-3392,16],"id":"0b9886d0-2481-43f4-84ef-2b8961cbe3b3","name":"Execute Workflow2"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"=0 0 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3840,112],"id":"523138bf-696a-40e4-aaf5-07a0858357c6","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1gr3RCO8-d8G0sjGnBlP0saZXQcuYD4S3V7ggedenFRU","mode":"list","cachedResultName":"Agents","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gr3RCO8-d8G0sjGnBlP0saZXQcuYD4S3V7ggedenFRU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1878421499,"mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gr3RCO8-d8G0sjGnBlP0saZXQcuYD4S3V7ggedenFRU/edit#gid=1878421499"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-3616,16],"id":"0aa74910-8214-464d-88f8-04a0bfc7a47d","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"WqHYSCJUHAwccGcv","name":"Gluagents Google Sheets"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Execute Workflow2":{"main":[[]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Execute Workflow2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ff597784-0380-4702-aaec-4d67cfb22146","triggerCount":1,"tags":[]}