Ai marketing video copy.json
{"createdAt":"2025-06-24T07:09:23.841Z","updatedAt":"2025-06-24T10:52:05.186Z","id":"MHJpYspGSJCnZeO8","name":"Ai marketing video copy","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":" https://api.freepik.com/v1/ai/text-to-image/imagen3","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-freepik-api-key","value":"FPSXd657e028599a2956214dfae383682a59"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $('Image Prompt Agent').item.json.output['Part 1'] }}\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"square_1_1\",\n  \"styling\": {\n    \"style\": \"anime\",\n    \"effects\": {\n      \"color\": \"pastel\",\n      \"lightning\": \"warm\",\n      \"framing\": \"portrait\"\n    }\n  },\n  \"person_generation\": \"allow_adult\",\n  \"safety_settings\": \"block_low_and_above\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,60],"id":"c927c29b-688f-4db3-ba8b-fb722ee8d5a6","name":"Generate Image"},{"parameters":{"url":"=https://api.freepik.com/v1/ai/text-to-image/imagen3/{{ $('Generate Image').item.json.data.task_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,60],"id":"650c05b5-a774-4213-bb34-1040f13d125b","name":"Get Images","credentials":{"httpHeaderAuth":{"id":"JbNdC5AAKh0NLVCq","name":"FreePick"}}},{"parameters":{"promptType":"define","text":"=Scene: {{ $('Get Images').item.json.data.input.prompt }}","options":{"systemMessage":"=# Overview\nYou are a Master Sound Prompt Generator.\nYour task is to create vivid, immersive sound prompts based on a given scene. These prompts will be used to generate background audio that matches the mood and environment of the scene.\n\n## Instructions\n- Generate a one- to two-sentence prompt that captures the ambiance, tone, and key sound elements.\n- Use rich, evocative language to describe the background atmosphere, highlighting specific sounds (e.g., footsteps on cobblestone, distant chatter, wind rustling leaves, faint music, industrial hum).\n- Focus on the background audio — not dialogue, narration, or foreground sound effects.\n- Match the emotion and setting of the scene, whether it's calm, chaotic, eerie, festive, or serene.\n- Avoid vague descriptions; be specific and sensory-driven to maximize immersion.\n- Never include quotation marks (\"\") or newlines (\\n) in the output.\n\n## Output\nReturn only the crafted sound prompt text, ready to be used for an audio generation model.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1140,60],"id":"751b2889-e140-4248-a07b-12dc212db4ff","name":"Sound Agent"},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/sound-generation","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.output.replace(/\"/g, '') }}"},{"name":"duration_seconds","value":"5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,60],"id":"190a2637-0090-4e8f-9128-fc5c22b31013","name":"Generate Audio","credentials":{"httpHeaderAuth":{"id":"RkFl15bptlgHHRZv","name":"Elevan Labs Token"}}},{"parameters":{"name":"={{ $('Get Videos').item.json.id }}.mp3","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1hhZhHBv0zm3adye9LE_sxwme7z7yUXw5","mode":"list","cachedResultName":"Audio Files","cachedResultUrl":"https://drive.google.com/drive/folders/1hhZhHBv0zm3adye9LE_sxwme7z7yUXw5"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1680,60],"id":"fdf49f25-0c78-4cf9-94ed-8ddce8cdf2ad","name":"Upload to Drive","credentials":{"googleDriveOAuth2Api":{"id":"tpwDboahmvtrDGYm","name":"Google Drive account 2"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1760,320],"id":"2eb3e020-55aa-45f0-a7a7-73ff1fd142fd","name":"Merge","disabled":true},{"parameters":{"method":"POST","url":"https://api.creatomate.com/v1/renders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 054721bbc723483b8001dbd4c7672d1161af151489c3aaf92c581758f2d860b9f5df88c4c1a9d0651599207f0a596721"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_id\": \"c3d11a82-1f1c-47a4-9af1-1d94baed62c3\",\n  \"modifications\": {\n    \"Video-1.source\": \"https://cdn-magnific.freepik.com/kling_e58336d8-da91-4636-9ffc-dcdfacf74781.mp4?token=exp=1750753982~hmac=042befcadc0d5cb0f1e0deb23e20c7dffe560a5d64e75453134bfa18d5ec9313\",\n    \"Video-2.source\": \"https://cdn-magnific.freepik.com/kling_18e1c19d-0dc2-4c3c-a78f-bab764a34f7c.mp4?token=exp=1750753974~hmac=5cc3c462a67f0ccced236a2515bae82897f1dc88f855af7d9aaed89fd3e0bde7\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,400],"id":"9f308f3c-4a16-462d-b95c-e868af02c845","name":"Render Video"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,700],"id":"3a9ef5b0-ede2-45c1-8df4-e7a2cdbc7433","name":"Download Video"},{"parameters":{"content":"# Generate Image Prompts","height":540,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-300,-40],"typeVersion":1,"id":"d6ad3c82-a547-445e-a698-167747dc81bf","name":"Sticky Note3","disabled":true},{"parameters":{"content":"# Generate Images\n","height":260,"width":600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[460,-40],"typeVersion":1,"id":"029659e9-2ac3-4444-aef2-cdaad478df80","name":"Sticky Note4"},{"parameters":{"content":"# Generate Audio\n\n","height":320,"width":980,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1080,-40],"typeVersion":1,"id":"db91d18b-4d35-426e-82c4-f9b6b0bf3bff","name":"Sticky Note"},{"parameters":{"content":"# Render & Log\n","height":500,"width":1040},"type":"n8n-nodes-base.stickyNote","position":[1080,300],"typeVersion":1,"id":"afdffa83-1d7e-45b8-a8fc-922489445a7c","name":"Sticky Note2"},{"parameters":{"url":"=https://api.dev.runwayml.com/v1/tasks/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,520],"id":"a783b5fd-8437-40c9-9c20-c60363cd0f1e","name":"Get Videos","credentials":{"httpHeaderAuth":{"id":"KvnGy4FbRxGyngct","name":"Header Auth account 2"},"httpBearerAuth":{"id":"sYW77Q8jeiHhzVsy","name":"Runway Token"}},"disabled":true},{"parameters":{"method":"POST","url":"https://api.dev.runwayml.com/v1/image_to_video","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"promptImage","value":"={{ $json.data.output.image_url }}"},{"name":"model","value":"gen3a_turbo"},{"name":"ratio","value":"768:1280"},{"name":"duration","value":"5"},{"name":"promptText","value":"={{ $json.data.input.prompt.replace(/\"/g, '') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[360,340],"id":"8526b805-2258-419f-bfde-daa29c68d538","name":"Generate Videos","credentials":{"httpHeaderAuth":{"id":"KvnGy4FbRxGyngct","name":"Header Auth account 2"},"httpBearerAuth":{"id":"sYW77Q8jeiHhzVsy","name":"Runway Token"}},"disabled":true},{"parameters":{"content":"# Generate Videos\n","height":260,"width":600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[460,240],"typeVersion":1,"id":"ea616e72-cc63-40ea-a4eb-08e21d06cff6","name":"Sticky Note5"},{"parameters":{"jsCode":"// N8n Code Node to extract URLs from output arrays and combine them into a single array\n// This code assumes your input JSON is in items[0].json or is multiple items\n// Determine data source format\nlet inputArray;\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  // If we have a single item containing our array\n  inputArray = items[0].json;\n} else if (items.length > 1) {\n  // If we already have multiple items, each containing part of our data\n  inputArray = $('Aggregate').first().json.data;\n} else {\n  throw new Error('Input structure not recognized. Please check your data format.');\n}\n// Create a single array to hold all URLs\nconst urlArray = [];\n// Process each item in the input array\nfor (const item of inputArray) {\n  // Get the data object\n  const data = item;\n  \n  // Check if the item has an output array\n  if (data.output && Array.isArray(data.output)) {\n    // For each URL in the output array, add to our URL array\n    for (const url of data.output) {\n      // Add URL along with metadata including the web content link\n      urlArray.push({\n        url: url,\n        sourceId: data.id,\n        createdAt: data.createdAt,\n        webContentLink: data.webContentLink || null // Add the web content link\n      });\n    }\n  }\n}\n// Return a single item containing the array of all URLs\nreturn [{\n  json: {\n    urls: urlArray\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1940,420],"id":"e64eaf0e-8116-44a9-ba4d-9a2ecbdcb10f","name":"Split Out Parts","disabled":true},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1880,60],"id":"56aca05a-b7a5-48ad-973b-19abe5b32dae","name":"Share File","credentials":{"googleDriveOAuth2Api":{"id":"tpwDboahmvtrDGYm","name":"Google Drive account 2"}}},{"parameters":{"workflowInputs":{"values":[{"name":"videoTopic"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-260,180],"id":"b36cd510-9462-4624-9877-44063a48e69a","name":"When Executed by Another Workflow"},{"parameters":{"jsonSchemaExample":"{\n  \"Part 1\": \"Prompt for part 1\",\n  \"Part 2\": \"Prompt for part 2\",\n  \"Part 3\": \"Prompt for part 3\",\n  \"Part 4\": \"Prompt for part 4\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[140,300],"id":"34db1589-6de0-4e17-ab10-0fa5b28e9946","name":"4 Parts"},{"parameters":{"promptType":"define","text":"=Video Topic: {{ $json.videoTopic }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are a Master Visual Story Structuring Agent.\nYour task is to take a given short video topic and split it into four parts that together form a cohesive, vivid story, optimized for text-to-image generation.\n\n## Instructions:\n- You must create exactly four parts: Part 1, Part 2, Part 3, and Part 4.\n- Describe the subject of the story in the EXACT same way in all four parts. Each part should be consistent.\n- Each part should build upon the previous, creating a complete visual story by the end.\n- Every part must be written as a high-quality, richly detailed image prompt, following professional standards for models like Flux or similar.\n- Describe characters, settings, outfits, actions, and background elements vividly and precisely.\n- Use rich, imaginative language to maximize visual fidelity.\n- Avoid generic terms — always opt for specific and colorful descriptions.\n- No quotation marks (\"\") or newlines (\\n) should be included in the output.\n- Keep the description natural and seamless so it can be fed directly into a text-to-image model.\n\n## Key Elements to Include in Each Part:\n- Clear description of main subjects (appearance, outfits, facial expressions, poses)\n- Accessories or objects that add to the scene\n- A vivid background that matches the theme and enhances the overall story\n- Consistency and natural progression from part to part\n\n## Output Format:\nReturn your response structured into four fields:\n- Part 1: [Vivid image prompt for Part 1]\n- Part 2: [Vivid image prompt for Part 2]\n- Part 3: [Vivid image prompt for Part 3]\n- Part 4: [Vivid image prompt for Part 4]\n\nOnly output the fields listed above.\nMake sure the story across all four parts feels cohesive, visually rich, and cinematic."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-60,120],"id":"26ce4800-b314-4b00-a360-b85120335230","name":"Image Prompt Agent"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[260,120],"id":"1cba28a4-9f31-417d-92d7-e20030d40b4f","name":"Split Out"},{"parameters":{"operation":"sendVideo","chatId":"={{ $('When Executed by Another Workflow').first().json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1780,620],"id":"9053ea75-fa5b-4ebc-a6c8-ee3a6e6b46f4","name":"Send Video","webhookId":"cdeb2987-d275-480b-8532-f69bbed64999","credentials":{"telegramApi":{"id":"9UDTcxGhNUDvWhgx","name":"typing test bot"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Video: {{ $('When Executed by Another Workflow').first().json.videoTopic }}"},{"content":"Create a 3-4 word title for the given video","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1980,620],"id":"110f839e-def0-4dfd-8885-0b65dad97f67","name":"Title","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0","mode":"list","cachedResultName":"Marketing Team Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $json.message.content }}","Request":"={{ $('When Executed by Another Workflow').first().json.videoTopic }}","Link":"={{ $('Download Video').item.json.url }}","Type":"Video"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Request","displayName":"Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post","displayName":"Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2340,620],"id":"4a912dff-25ff-4266-a303-8c59ae98c61d","name":"Log Video","credentials":{"googleSheetsOAuth2Api":{"id":"0e2MdtnLl9hGCdxD","name":"Google Sheets account 2"}}},{"parameters":{"amount":90},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[700,60],"id":"80976d06-e248-4791-8710-4457f0760568","name":"90 Seconds","webhookId":"ffdc5132-c0fe-44f6-af2b-4b3bb8894153"},{"parameters":{"amount":90},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[700,340],"id":"5e350136-b642-4491-a534-e17d927a3ef6","name":"90_Seconds","webhookId":"3ce99001-8f5a-4c0a-9b25-e3e261fcc778"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-40,340],"id":"492c5b73-ad60-4f5e-9522-0d7ed0e6bb65","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1180,280],"id":"8f15ed0d-7c87-479c-ba1a-70aa2ed42a38","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"method":"POST","url":"https://api.freepik.com/v1/ai/image-to-video/kling-v2","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-freepik-api-key","value":"FPSXd657e028599a2956214dfae383682a59"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"image","value":"={{ $('Get Images').item.json.data.generated[0] }}"},{"name":"ratio","value":"768:1280"},{"name":"duration","value":"5"},{"name":"prompt","value":"={{ $('Image Prompt Agent').item.json.output[\"Part 1\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,340],"id":"0c35d38a-9ce4-4dc8-92c2-0ae7889e0444","name":"Generate Videos1"},{"parameters":{"url":"=https://api.freepik.com/v1/ai/image-to-video/kling-v2/{{ $json.data.task_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,340],"id":"79384045-daa6-4122-82eb-d2f96beeca2f","name":"Get Videos1","credentials":{"httpHeaderAuth":{"id":"JbNdC5AAKh0NLVCq","name":"FreePick"},"httpBearerAuth":{"id":"sYW77Q8jeiHhzVsy","name":"Runway Token"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1120,440],"id":"014c1e6f-1bfd-497c-9ea0-b9fdd415dee6","name":"Aggregate"},{"parameters":{"jsCode":"// Run Once for All Items\nconst dataArray = $input.first().json.data;\n\nconst allCompleted = dataArray.every(item => item.data.status === \"COMPLETED\");\n\nreturn [\n  {\n    json: {\n      allCompleted: allCompleted,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,440],"id":"beb752a5-1b04-4152-8f19-5fb52f8fac31","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3efc2e5-8684-41ec-a567-535fcc5f2e84","leftValue":"={{ $json.allCompleted }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1520,400],"id":"9f7acc44-0913-4b54-b284-df34f1f8640e","name":"If"},{"parameters":{"url":"=https://api.creatomate.com/v1/renders/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 054721bbc723483b8001dbd4c7672d1161af151489c3aaf92c581758f2d860b9f5df88c4c1a9d0651599207f0a596721"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2560,420],"id":"d73ae8bb-aaad-4851-b591-25b708ccf90f","name":"HTTP Request6"},{"parameters":{"url":"https://api.freepik.com/v1/ai/text-to-image/flux-dev","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-freepik-api-key","value":"FPSXd657e028599a2956214dfae383682a59"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $json.videoTopic }}\",\n  \"aspect_ratio\": \"square_1_1\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-280,1040],"id":"848dd949-4b38-427f-a795-7e555253b88b","name":"HTTP Request","disabled":true}],"connections":{"Generate Image":{"main":[[{"node":"90 Seconds","type":"main","index":0}]]},"Get Images":{"main":[[{"node":"Generate Videos","type":"main","index":0}]]},"Sound Agent":{"main":[[{"node":"Generate Audio","type":"main","index":0}]]},"Generate Audio":{"main":[[{"node":"Upload to Drive","type":"main","index":0}]]},"Upload to Drive":{"main":[[{"node":"Share File","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Split Out Parts","type":"main","index":0}]]},"Render Video":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Send Video","type":"main","index":0}]]},"Get Videos":{"main":[[]]},"Generate Videos":{"main":[[{"node":"Generate Videos1","type":"main","index":0}]]},"Split Out Parts":{"main":[[{"node":"Render Video","type":"main","index":0}]]},"Share File":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Image Prompt Agent","type":"main","index":0}]]},"4 Parts":{"ai_outputParser":[[{"node":"Image Prompt Agent","type":"ai_outputParser","index":0}]]},"Image Prompt Agent":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"Send Video":{"main":[[{"node":"Title","type":"main","index":0}]]},"Title":{"main":[[{"node":"Log Video","type":"main","index":0}]]},"90 Seconds":{"main":[[{"node":"Get Images","type":"main","index":0}]]},"90_Seconds":{"main":[[{"node":"Get Videos1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Image Prompt Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Sound Agent","type":"ai_languageModel","index":0}]]},"Generate Videos1":{"main":[[{"node":"90_Seconds","type":"main","index":0}]]},"Get Videos1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Split Out Parts","type":"main","index":0}],[{"node":"90_Seconds","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Download Video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"videoTopic":"A beaver building a house, showing the beaver gathering sticks, arranging them by a riverbank, creating a dam and then constructing a cozy lodge inside.","chatID":8056822155}}],"Image Prompt Agent":[{"json":{"output":{"Part 1":"In a serene riverside setting, a diligent beaver with rich, glossy brown fur and bright, attentive eyes is seen gathering sturdy sticks along the water's edge. The beaver, with its rounded tail and large front teeth, carries a bundle of twigs in its mouth, showcasing a determined expression while its paws are slightly damp from the river. The backdrop reveals a vibrant landscape of lush green grass, colorful wildflowers dotting the area, and the flowing river reflecting the soft sunlight, creating a picturesque harmony of nature and activity.","Part 2":"Now positioned closer to the riverbank, the industrious beaver is meticulously arranging the collected sticks into a solid structure. Its tiny claws deftly interlace the twigs, and there is a focused intensity in its eyes as it works. The surrounding environment features gentle ripples in the water, and the sounds of chirping birds can be imagined. The sun casts dappled light through overhanging branches, illuminating the beaver’s sleek form amid the flurry of sticks, which are now forming the initial structure of the dam, merging beautifully with the chaotic beauty of nature.","Part 3":"The scene transitions to the beaver standing proudly atop the newly built dam, which stretches robustly across the river, holding back shimmering water. Its fur is glistening as if proudly displaying its labor. The beaver's eyes sparkle with achievement, and it is busy adding finishing touches—small twigs and mud—ensuring the structure’s stability. In the background, the river winds elegantly past, and a few butterflies flit about, contributing to the tranquil yet energetic atmosphere of the beaver's industrious work.","Part 4":"Inside the cozy lodge that the beaver has so lovingly constructed, the space reveals a warm, inviting environment. The beaver, looking content and relaxed, is nestled upon a bed of soft moss and fresh leaves inside the dimly lit lodge, with beams of warm sunlight streaming through underwater entrances. Tiny carvings on the walls reflect the beaver's resourcefulness, while the sound of water trickling softly adds a homely touch. A few scattered sticks and personal treasures suggest a sense of comfort and ownership in this snug sanctuary, completing the beaver's remarkable journey from gathering to creating a home."}}}],"Split Out":[{"json":{"output":"In a serene riverside setting, a diligent beaver with rich, glossy brown fur and bright, attentive eyes is seen gathering sturdy sticks along the water's edge. The beaver, with its rounded tail and large front teeth, carries a bundle of twigs in its mouth, showcasing a determined expression while its paws are slightly damp from the river. The backdrop reveals a vibrant landscape of lush green grass, colorful wildflowers dotting the area, and the flowing river reflecting the soft sunlight, creating a picturesque harmony of nature and activity."}},{"json":{"output":"Now positioned closer to the riverbank, the industrious beaver is meticulously arranging the collected sticks into a solid structure. Its tiny claws deftly interlace the twigs, and there is a focused intensity in its eyes as it works. The surrounding environment features gentle ripples in the water, and the sounds of chirping birds can be imagined. The sun casts dappled light through overhanging branches, illuminating the beaver’s sleek form amid the flurry of sticks, which are now forming the initial structure of the dam, merging beautifully with the chaotic beauty of nature."}},{"json":{"output":"The scene transitions to the beaver standing proudly atop the newly built dam, which stretches robustly across the river, holding back shimmering water. Its fur is glistening as if proudly displaying its labor. The beaver's eyes sparkle with achievement, and it is busy adding finishing touches—small twigs and mud—ensuring the structure’s stability. In the background, the river winds elegantly past, and a few butterflies flit about, contributing to the tranquil yet energetic atmosphere of the beaver's industrious work."}},{"json":{"output":"Inside the cozy lodge that the beaver has so lovingly constructed, the space reveals a warm, inviting environment. The beaver, looking content and relaxed, is nestled upon a bed of soft moss and fresh leaves inside the dimly lit lodge, with beams of warm sunlight streaming through underwater entrances. Tiny carvings on the walls reflect the beaver's resourcefulness, while the sound of water trickling softly adds a homely touch. A few scattered sticks and personal treasures suggest a sense of comfort and ownership in this snug sanctuary, completing the beaver's remarkable journey from gathering to creating a home."}}],"90 Seconds":[{"json":{"data":{"task_id":"9525e6fa-6c44-41df-92e7-79a27645726f","status":"CREATED","generated":[]}}},{"json":{"data":{"task_id":"9102b843-4491-4b44-8f0d-fff934fb7acb","status":"CREATED","generated":[]}}},{"json":{"data":{"task_id":"ecc11978-a61f-425c-b328-1c792931361a","status":"CREATED","generated":[]}}},{"json":{"data":{"task_id":"54441ac7-39d8-4768-ad95-f243257ca147","status":"CREATED","generated":[]}}}],"Generate Image":[{"json":{"data":{"task_id":"1fb68bd9-6922-42b6-9932-945724af5203","status":"CREATED","generated":[]}}},{"json":{"data":{"task_id":"00b90fc5-8d5b-4a0c-8595-0c85c8ec72ab","status":"CREATED","generated":[]}}},{"json":{"data":{"task_id":"b1fd96cf-241c-4b37-9d13-489e3f0346eb","status":"CREATED","generated":[]}}},{"json":{"data":{"task_id":"86dae6b4-816a-4b0b-8ca0-ac3008021671","status":"CREATED","generated":[]}}}],"Get Images":[{"json":{"data":{"task_id":"1fb68bd9-6922-42b6-9932-945724af5203","status":"COMPLETED","generated":["https://cdn-magnific.freepik.com/imagen3_1fb68bd9-6922-42b6-9932-945724af5203_0.png?token=exp=1750753574~hmac=39496924d0225c7df43ab70745fa3aa2c6cf6ec7d6528cb3ecb23ddbde2eda8e"]}}},{"json":{"data":{"task_id":"00b90fc5-8d5b-4a0c-8595-0c85c8ec72ab","status":"COMPLETED","generated":["https://cdn-magnific.freepik.com/imagen3_00b90fc5-8d5b-4a0c-8595-0c85c8ec72ab_0.png?token=exp=1750753575~hmac=e53ebc2873cda6bf3b1bf6206773e85c864a1161e47d13f64cb42359002dc9ff"]}}},{"json":{"data":{"task_id":"b1fd96cf-241c-4b37-9d13-489e3f0346eb","status":"COMPLETED","generated":["https://cdn-magnific.freepik.com/imagen3_b1fd96cf-241c-4b37-9d13-489e3f0346eb_0.png?token=exp=1750753575~hmac=3a17b3d714036da7eb61f98caaf3b42b334701e659ca19aa2f5f7ef91b51a5ef"]}}},{"json":{"data":{"task_id":"86dae6b4-816a-4b0b-8ca0-ac3008021671","status":"COMPLETED","generated":["https://cdn-magnific.freepik.com/imagen3_86dae6b4-816a-4b0b-8ca0-ac3008021671_0.png?token=exp=1750753574~hmac=750b61233d21c72b6ccddfdfa4777ba1965e49dbc4241020518779bcf8e91024"]}}}],"Generate Videos1":[{"json":{"data":{"task_id":"e58336d8-da91-4636-9ffc-dcdfacf74781","status":"CREATED","generated":[]}}},{"json":{"data":{"task_id":"18e1c19d-0dc2-4c3c-a78f-bab764a34f7c","status":"CREATED","generated":[]}}},{"json":{"data":{"task_id":"a9a32ebe-f745-48df-8679-3b3ec4a07821","status":"CREATED","generated":[]}}},{"json":{"data":{"task_id":"a5d828dd-de50-4f70-bea9-49a408ab441a","status":"CREATED","generated":[]}}}],"Get Videos1":[{"json":{"data":{"task_id":"e58336d8-da91-4636-9ffc-dcdfacf74781","status":"COMPLETED","generated":["https://cdn-magnific.freepik.com/kling_e58336d8-da91-4636-9ffc-dcdfacf74781.mp4?token=exp=1750753982~hmac=042befcadc0d5cb0f1e0deb23e20c7dffe560a5d64e75453134bfa18d5ec9313"]}}},{"json":{"data":{"task_id":"18e1c19d-0dc2-4c3c-a78f-bab764a34f7c","status":"COMPLETED","generated":["https://cdn-magnific.freepik.com/kling_18e1c19d-0dc2-4c3c-a78f-bab764a34f7c.mp4?token=exp=1750753974~hmac=5cc3c462a67f0ccced236a2515bae82897f1dc88f855af7d9aaed89fd3e0bde7"]}}},{"json":{"data":{"task_id":"a9a32ebe-f745-48df-8679-3b3ec4a07821","status":"COMPLETED","generated":["https://cdn-magnific.freepik.com/kling_a9a32ebe-f745-48df-8679-3b3ec4a07821.mp4?token=exp=1750753981~hmac=461153672e3f5d934c3534c9ecd9e4f89122358b36c13c999d7b1c1e5eebda42"]}}},{"json":{"data":{"task_id":"a5d828dd-de50-4f70-bea9-49a408ab441a","status":"COMPLETED","generated":["https://cdn-magnific.freepik.com/kling_a5d828dd-de50-4f70-bea9-49a408ab441a.mp4?token=exp=1750753984~hmac=2f537e975a64fc4c5fbb3f23cdf588cf4f4907685e253ba8fb03c420b5ee8b18"]}}}],"90_Seconds":[{"json":{"data":{"task_id":"e58336d8-da91-4636-9ffc-dcdfacf74781","status":"CREATED","generated":[]}}},{"json":{"data":{"task_id":"18e1c19d-0dc2-4c3c-a78f-bab764a34f7c","status":"CREATED","generated":[]}}},{"json":{"data":{"task_id":"a9a32ebe-f745-48df-8679-3b3ec4a07821","status":"CREATED","generated":[]}}},{"json":{"data":{"task_id":"a5d828dd-de50-4f70-bea9-49a408ab441a","status":"CREATED","generated":[]}}}],"Render Video":[{"json":{"id":"f8bd3a0a-a74f-48b7-94ad-f4b44deff44d","status":"planned","url":"https://f002.backblazeb2.com/file/creatomate-c8xg3hsxdu/f8bd3a0a-a74f-48b7-94ad-f4b44deff44d.mp4","snapshot_url":"https://f002.backblazeb2.com/file/creatomate-c8xg3hsxdu/f8bd3a0a-a74f-48b7-94ad-f4b44deff44d-snapshot.jpg","template_id":"c3d11a82-1f1c-47a4-9af1-1d94baed62c3","template_name":"Short-Form Voice Over","template_tags":[],"output_format":"mp4","modifications":{"Video-1.source":"https://cdn-magnific.freepik.com/kling_e58336d8-da91-4636-9ffc-dcdfacf74781.mp4?token=exp=1750753982~hmac=042befcadc0d5cb0f1e0deb23e20c7dffe560a5d64e75453134bfa18d5ec9313","Video-2.source":"https://cdn-magnific.freepik.com/kling_18e1c19d-0dc2-4c3c-a78f-bab764a34f7c.mp4?token=exp=1750753974~hmac=5cc3c462a67f0ccced236a2515bae82897f1dc88f855af7d9aaed89fd3e0bde7"}}}]},"versionId":"97525079-dba8-41f8-8037-8eb3ca9cc9f0","triggerCount":0,"tags":[]}