AI Voice Travel Agent.json
{"createdAt":"2025-06-16T09:11:49.292Z","updatedAt":"2025-06-17T05:32:36.171Z","id":"4VULkPSOfma4xvUu","name":"AI Voice Travel Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"openai/gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[620,500],"id":"38490593-f490-4180-aa02-7a8cb3cf475f","name":"GPT 4.1"},{"parameters":{"name":"createImage","description":"Call this tool to create an image. ","workflowId":{"__rl":true,"value":"lsZTPeThp35cB3Hs","mode":"list","cachedResultName":"Create Image"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}","imagePrompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imagePrompt', `The image requested by the user`, 'string') }}","imageTitle":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageTitle', `The title of the image. Should be no more than 4 words.`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"imageTitle","displayName":"imageTitle","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"imagePrompt","displayName":"imagePrompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1580,500],"id":"229507aa-4426-4baa-899e-273c6e17b00a","name":"Create Image"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1960,160],"id":"825e5ccb-62d1-44c4-bd96-4869e87e89ae","name":"Telegram","webhookId":"fbdb3bd7-490b-4d3e-961e-e2d398294649"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[900,500],"id":"497ac91f-eda9-4927-b416-52795e30780c","name":"Simple Memory"},{"parameters":{"name":"editImage","description":"Call this tool to edit an image.","workflowId":{"__rl":true,"value":"nMBpMe21l4gDEjOI","mode":"list","cachedResultName":"Edit Image"},"workflowInputs":{"mappingMode":"defineBelow","value":{"image":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `The title of the image the user wants to edit`, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}","request":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('request', `The edit the user wants to make to the image`, 'string') }}","pictureID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('pictureID', `The ID of the image to edit`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"request","displayName":"request","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"pictureID","displayName":"pictureID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1740,500],"id":"df132670-998b-428e-95de-c8f24526ff32","name":"Edit Image"},{"parameters":{"name":"searchImages","description":"Call this tool to search the image database.","workflowId":{"__rl":true,"value":"zDYAKGCIEChJa1JH","mode":"list","cachedResultName":"Search Images"},"workflowInputs":{"mappingMode":"defineBelow","value":{"intent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('intent', `The intent of the user. This can either be \"Get\" or \"Edit\"`, 'string') }}","image":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `The image title`, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"intent","displayName":"intent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1980,500],"id":"117b05e9-3c69-43d8-b9ec-0f19668dccf8","name":"Search Images"},{"parameters":{"name":"blogPost","description":"Call this tool to create a blog post using a topic and a target audience.","workflowId":{"__rl":true,"value":"sS2JMp5z7YiqtJpa","mode":"list","cachedResultName":"Blog Post"},"workflowInputs":{"mappingMode":"defineBelow","value":{"blogTopic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('blogTopic', `The topic of the blog.`, 'string') }}","targetAudience":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('targetAudience', `The target audience for the blog.`, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"blogTopic","displayName":"blogTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"targetAudience","displayName":"targetAudience","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1400,500],"id":"616fc4e9-1e50-441e-9fd9-fa0581cf2095","name":"Blog Post"},{"parameters":{"content":"# Marketing Team","height":400,"width":460},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1400,0],"id":"040030cc-3c4f-444f-9d73-e33599fef1ee","name":"Sticky Note"},{"parameters":{"name":"linkedinPost","description":"Call this tool to create a LinkedIn post using a topic and a target audience.","workflowId":{"__rl":true,"value":"RgUBWsswXoQsX2tI","mode":"list","cachedResultName":"LinkedIn Post"},"workflowInputs":{"mappingMode":"defineBelow","value":{"postTopic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('postTopic', `The topic of the LinkedIn post`, 'string') }}","targetAudience":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('targetAudience', `The target audience of the LinkedIn post`, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"postTopic","displayName":"postTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"targetAudience","displayName":"targetAudience","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1240,500],"id":"70047d47-d063-4d78-8255-7b9425aa7820","name":"LinkedIn Post"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"56be9f5c-4c53-48bc-b0fe-4151720f0da9","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,240]},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"id":"b2ecaf22-7182-4113-a028-c483368bf2b0","name":"Download Voice File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1040,80],"webhookId":"c0b376b1-7b63-41b6-8063-0b3096b8333d"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"3904572e-44e1-49c7-8a3c-d8420ba56aa7","name":"Transcribe Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1200,80]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"50299a98-e477-4c9c-b221-0b0f90e0e0f9","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[780,160]},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"0959208e-5ad7-4cf0-a45f-fcd4c6d3c4ca","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[640,160],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63"},{"parameters":{"content":"# Trigger\n","height":400,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[580,0],"id":"3b81e031-a9a5-4de0-90f2-d43f34c19560","name":"Sticky Note1"},{"parameters":{"content":"# Content Creation","height":220,"width":480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,420],"id":"a7084a3a-57ee-422f-b2b9-8cfef8acc97e","name":"Sticky Note2"},{"parameters":{"content":"# Image Creation","height":220,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1540,420],"id":"a8bbf3b0-fdef-4e14-96e0-be6ef9350d4a","name":"Sticky Note3"},{"parameters":{"content":"# Image Database","height":220,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1880,420],"id":"fc3e1cf3-44e9-4660-b1f2-ea6834f06050","name":"Sticky Note4"},{"parameters":{"content":"# Response\n\n","height":400,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1880,0],"id":"070e9e8d-804f-435b-b41d-c217efda6cd8","name":"Sticky Note5"},{"parameters":{"content":"# Brain\n\n","height":220,"width":440,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[580,420],"id":"9c166b04-0b39-4b78-85a4-49c8a6ff53cf","name":"Sticky Note6"},{"parameters":{"content":"# Voice or Text","height":400,"width":420,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,0],"id":"b2572127-5de2-4931-851a-c89a3412bc2c","name":"Sticky Note7"},{"parameters":{"name":"video","description":"Call this tool to create a video.","workflowId":{"__rl":true,"value":"7HwL0nnjhjdXJ3FY","mode":"list","cachedResultName":"Faceless Video"},"workflowInputs":{"mappingMode":"defineBelow","value":{"videoTopic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('videoTopic', `The topic of the video`, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"videoTopic","displayName":"videoTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1080,500],"id":"3a9c3f97-317d-4765-a5fd-6337fdf03bb0","name":"Video"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Overview\nYou are a marketing team AI agent. Your job is to help the user create and edit images based on the request, or create content.\n\n## Tools\ncreateImage - Use this to create an image. Send the requested image prompt to this tool.\neditImage - Use this to edit an image. The user might also say \"make\" rather than \"edit\".\nImage Database - Use this to search the image database. \nblogPost - Use this to create a blog post.\nlinkedinPost - Use this to create a LinkedIn post.\nvideo - Use this tool to create a video.\nThink - Use this if you need help making a decision.\n\n## Instructions\n- If the user asks to 'edit that image' or 'make that...', this indicates they want to edit the last image in the database, the most recent one.\n- If the user requests a blog post or LinkedIn post, use the \"blogPost\" or \"linkedinPost\" tool and output: \"Here's that post you requested. Hope you enjoy it.\"\n\n## Output\n- Make sure to return the image link as a clickable link\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1500,160],"id":"4044972e-4b39-45a4-8905-b7a953739d55","name":"Marketing Team Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[760,500],"id":"64cbf800-369b-47d6-9990-e50370398e1e","name":"Think"},{"parameters":{"content":"# 📋 Setup Guide  \n**Author: [Nate Herk](https://www.youtube.com/@nateherk/videos)**\n---\n### ✅ First Steps\n1. **Import the following workflows** into your n8n environment:\n   - Video\n   - LinkedIn Post\n   - Blog Post\n   - Create Image\n   - Edit Image\n   - Search Images\n\n2. **Link all workflows** together appropriately.\n   - Make sure that the tools the Marketing Team Agent uses are correctly linked to these workflows.\n   - Rename workflows as needed to fit your naming system.\n---\n\n### 🔗 Credentials to Connect\n- **[Telegram Credential](https://telegram.org/)** (for outbound/inbound communication)\n- **[OpenRouter](https://openrouter.ai/) Credential** (for AI requests)\n- **[Tavily](https://tavily.com/) Credential** (for research inside LinkedIn Post and Blog Post workflows)\n---\n\n### 🔑 API Keys to Configure\nInside the **Video Workflow**:\n- **[PiAPI](https://piapi.ai/) API Key** (for video generation)\n- **[Runway](https://runwayml.com/) API Key** (for video processing)\n- **[ElevenLabs](https://elevenlabs.io/) API Key** (for voice generation)\n\nInside the **LinkedIn Post** and **Blog Post Workflows**:\n- **[Tavily](https://tavily.com/) API Key** (for research assistance)\n---\n\n### 📄 Templates to Download and Connect\n- **[Creatomate](https://creatomate.com/) Image Template**  \n  → Download from the Free Skool Community\n\n- **[Google Sheets Log Template](https://docs.google.com/spreadsheets/d/1wQxM9cAwewCigPH22KDidMu_i9j_dx4MHEa5rmJiw5I/edit?usp=sharing)**  \n  → Connect it to your n8n Google Sheets node to track content outputs.\n---\n\nMake sure all credentials, APIs, and templates are properly set before running the full system!\n","height":1000,"width":560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"187b2cc5-da6c-4865-964b-7fbd31d9e6fd","name":"Sticky Note8"}],"connections":{"GPT 4.1":{"ai_languageModel":[[{"node":"Marketing Team Agent","type":"ai_languageModel","index":0}]]},"Create Image":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Marketing Team Agent","type":"ai_memory","index":0}]]},"Edit Image":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Search Images":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Blog Post":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"LinkedIn Post":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Download Voice File":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download Voice File","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Marketing Team Agent","type":"main","index":0}]]},"Set 'Text'":{"main":[[{"node":"Marketing Team Agent","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Video":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Marketing Team Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"02276cd8-2cfa-47ef-b5f0-e3c7b5522f70","triggerCount":1,"tags":[]}