Ashish_LOGAN_Inventory_Tracking_V2.json
{"createdAt":"2025-06-23T06:03:38.237Z","updatedAt":"2025-06-23T08:35:38.607Z","id":"t7L8oev3ffSubvZB","name":"Ashish_LOGAN_Inventory_Tracking_V2","active":false,"isArchived":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Telegram Trigger').first().json.message.caption || $('Telegram Trigger').first().json.message.text || \".\" }}","options":{"systemMessage":"=Session ID: {{ $('Telegram Trigger').first().json.message.chat.id }}\n\n{{ $if($json.content, `Process the following inventory items:\\n${$json.content}`, \"\") }}\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[880,80],"id":"b92b0e6e-f24c-43b1-b358-d41e357f7276","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[920,300],"id":"8b14a7a1-9445-4d26-b284-7f51d6fa0265","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"zD5wfo9phRcLkpGK","name":"OpenAi account 2"}}},{"parameters":{"sseEndpoint":"https://lenient-stag-subtly.ngrok-free.app/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1040,300],"id":"1b4153aa-512d-43c7-8df9-8cd17b06aff0","name":"MCP Client"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=Identify if the given image is a packing list, or an inventory item.\n\nIf it is a packing list, generate a list of items in the following format:\nname, quantity, vendor.\n\nElse if it is an inventory item, extract the following info from the image:\nname, description & vendor.\n\nJust give a CSV output, with appropriate headers, nothing else.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,0],"id":"fb48976a-580f-4e70-9c94-46922bc4f69e","name":"OpenAI","credentials":{"openAiApi":{"id":"zD5wfo9phRcLkpGK","name":"OpenAi account 2"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-440,80],"id":"7e725200-fcff-407b-a72a-10bd1ea39341","name":"Telegram Trigger","webhookId":"9b44d4d6-5cc8-46d0-b19a-f2ec53f11a44","credentials":{"telegramApi":{"id":"LyzLpPvKkoanmiFs","name":"Telegram account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d9841de9-a495-4eba-a4fa-f95b9ba6eea2","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-220,80],"id":"5a834a92-394c-4d77-9fca-dad63fd4f46f","name":"Has image"},{"parameters":{"jsCode":"// Access the binary data\nconst binaryData = items[0].binary.data;\n\n// Set the correct MIME type\nbinaryData.mimeType = 'image/jpeg'; // or 'image/png', depending on your file\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"id":"baf081e0-d5dd-4a2e-9de2-e89e55b79468","name":"convert MIME type"},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[$json.message.photo.length - 1].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,0],"id":"b4c83a52-e477-4ec6-8c03-c4cbd8c0e9ec","name":"Download image","webhookId":"001dc3b8-048f-4950-84fe-625719523558","credentials":{"telegramApi":{"id":"LyzLpPvKkoanmiFs","name":"Telegram account 2"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[660,80],"id":"59236935-620a-4513-b384-46a4091b7456","name":"Merge"},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1260,80],"id":"0854f72a-c3b6-496d-8364-0c5fcdcdbbd0","name":"Telegram","webhookId":"5ce293d3-3c0f-423c-b17a-344e1b22c2d3","credentials":{"telegramApi":{"id":"LyzLpPvKkoanmiFs","name":"Telegram account 2"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Has image","type":"main","index":0}]]},"Has image":{"main":[[{"node":"Download image","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"convert MIME type":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Download image":{"main":[[{"node":"convert MIME type","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Merge","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"56a1d3d5-c83a-4feb-a79d-5cfe9543fbf1","triggerCount":0,"tags":[]}