Authorization.json
{"createdAt":"2025-07-22T11:46:30.951Z","updatedAt":"2025-07-22T12:05:54.408Z","id":"ynWTGyb0WKKNXtcT","name":"Authorization","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"userId","type":"any"},{"name":"workflowId","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-240],"id":"f19e1294-605d-47ad-b198-023ac8aaabcc","name":"When Executed by Another Workflow"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appCzSrxDWwOpo897","mode":"list","cachedResultName":"Inventory Tracking","cachedResultUrl":"https://airtable.com/appCzSrxDWwOpo897"},"table":{"__rl":true,"value":"tblOvp51rG85i8pO8","mode":"list","cachedResultName":"Auhtorized Workflows","cachedResultUrl":"https://airtable.com/appCzSrxDWwOpo897/tblOvp51rG85i8pO8"},"filterByFormula":"=AND({workflowId} = '{{ $json.workflowId }}', {userId} = '{{ $json.userId }}')","returnAll":false,"limit":1,"options":{"fields":["id"]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[440,-340],"id":"5fd9f99c-0742-474c-879a-a138c16c5831","name":"Search records","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"zGSUr1ggJXAnwB4S","name":"Ashish Airtable"}}},{"parameters":{"assignments":{"assignments":[{"id":"b4b93bad-5989-4c46-8258-eb1b7221699c","name":"authorized","value":false,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,-140],"id":"6da9ba21-13f7-47da-a7a4-a8964e1c8b4b","name":"unauthorized"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4cea5ccb-66d1-4e80-8f2e-6a0e8dcbbb46","leftValue":"={{ $json.userId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"1e0a6492-526b-4c3f-a45d-d7d6c7c1c674","leftValue":"={{ $json.workflowId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[220,-240],"id":"bb160981-6eb6-4b00-81da-318d63c6c043","name":"isInputValid"},{"parameters":{"assignments":{"assignments":[{"id":"474f5118-6ae4-40f7-a581-44f52857aff0","name":"authorized","value":"={{ !!$json.id }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,-340],"id":"f718402d-5c26-42d0-8688-abfb4ee9b96a","name":"result"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"isInputValid","type":"main","index":0}]]},"Search records":{"main":[[{"node":"result","type":"main","index":0}]]},"isInputValid":{"main":[[{"node":"Search records","type":"main","index":0}],[{"node":"unauthorized","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"acd3b921-e0d9-4b2b-beb5-d6167df9dcb3","triggerCount":0,"tags":[{"createdAt":"2025-06-30T11:35:53.792Z","updatedAt":"2025-06-30T11:35:53.792Z","id":"wWEKn0VtZYLErCuU","name":"ashish"}]}