Connie SubAgent: Videos.json
{"createdAt":"2025-06-23T06:10:45.751Z","updatedAt":"2025-08-14T11:49:04.285Z","id":"tjFvwScl9ksXk6vO","name":"Connie SubAgent: Videos","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"videoTopic"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-896,832],"id":"b1094c0f-b5d2-462d-8c2b-207d7dda2fcb","name":"When Executed by Another Workflow"},{"parameters":{"jsonSchemaExample":"{\n  \"VideoDetailedPrompt\": \"Prompt for image\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[112,1040],"id":"d01b587a-deb8-427a-a160-fd1ce241ed8a","name":"4 Parts1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-128,1040],"id":"c4edce24-124f-4571-8862-71ff6aea1f52","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4000,784],"id":"025c0101-91e4-4d54-9514-c48db0e8428f","name":"Download Video1"},{"parameters":{"url":"=https://api.freepik.com/v1/ai/image-to-video/kling-v2/{{ $json.data.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-freepik-api-key","value":"FPSXd657e028599a2956214dfae383682a59"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,832],"id":"984050a3-1c8e-4f2c-9821-20f7576c46a6","name":"HTTP Request3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"675c3486-bf03-454f-90a8-44b1997e61c2","leftValue":"={{ $json.data.status }}","rightValue":"COMPLETED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1504,832],"id":"b8d91e5a-55b7-4b0b-b90a-90590582e444","name":"If"},{"parameters":{"operation":"sendVideo","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4464,752],"id":"38063de4-cc70-45bd-93fb-fba18a0d2748","name":"Telegram","webhookId":"2e2ef1fd-9b94-40d8-b876-5f8aea4a7638","credentials":{"telegramApi":{"id":"FPa39KbyPXUd0Mna","name":"AI Marketing Bot"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2128,992],"id":"f35192e5-12f1-43b2-9d54-89c06d2d13f1","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"method":"POST","url":"https://api.creatomate.com/v1/renders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 054721bbc723483b8001dbd4c7672d1161af151489c3aaf92c581758f2d860b9f5df88c4c1a9d0651599207f0a596721"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_id\": \"c3d11a82-1f1c-47a4-9af1-1d94baed62c3\",\n  \"output_format\": \"mp4\",\n  \"modifications\": {\n    \"Video-1.source\": \"{{ $('HTTP Request3').item.json.data.generated }}\",\n    \"Voiceover-1.source\": \"{{ $json.webContentLink }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3024,800],"id":"b7d437af-f215-4d51-a60b-b73978f20660","name":"Render Video1"},{"parameters":{"name":"=audio-{{ $now }}.mp3","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1RhRiqv2oyxWGGB13xFxoTArswEW4KjPP","mode":"list","cachedResultName":"Audio Files","cachedResultUrl":"https://drive.google.com/drive/folders/1RhRiqv2oyxWGGB13xFxoTArswEW4KjPP"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2720,800],"id":"dd6f04a4-82e3-4854-917d-96687e7353e2","name":"Upload to Drive1","credentials":{"googleDriveOAuth2Api":{"id":"z29QCHSTFbuYhWdz","name":"Dan Drive Account"}}},{"parameters":{"url":"=https://api.creatomate.com/v1/renders/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 054721bbc723483b8001dbd4c7672d1161af151489c3aaf92c581758f2d860b9f5df88c4c1a9d0651599207f0a596721"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3408,800],"id":"9373017f-f623-4920-b0f9-b8afb9dd1c4d","name":"HTTP Request6"},{"parameters":{"amount":50},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3232,800],"id":"9f54630f-fd04-4e33-bf10-61b536bac0a6","name":"Wait","webhookId":"982cf2a7-5791-4136-812a-ad9b34ce3c9f"},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/sound-generation","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.output }}"},{"name":"duration_seconds","value":"5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2528,800],"id":"b9c78205-3898-4313-868a-0ccad038618f","name":"Generate Audio1","credentials":{"httpHeaderAuth":{"id":"5LENorV6ddUhdpds","name":"Elevan labs"}}},{"parameters":{"method":"POST","url":"https://api.freepik.com/v1/ai/image-to-video/kling-v2","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-freepik-api-key","value":"FPSXd657e028599a2956214dfae383682a59"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $('Image Prompt Agent').item.json.output.VideoDetailedPrompt }}"},{"name":"audio","value":"true"},{"name":"image","value":"={{ $json.webContentLink }}"},{"name":"duration","value":"5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[864,832],"id":"d63f19aa-6658-45fe-a3fb-f1712b1c3d8b","name":"video generate"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1088,832],"id":"1124e4e0-16e6-49a8-b968-ea717765f074","name":"1 minute","webhookId":"d5cd29e8-d3f7-491c-a6b6-2d705aa47931"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"be89462a-97ec-4797-a80f-2056c7eadfd4","leftValue":"={{ $json.status }}","rightValue":"succeeded","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3632,800],"id":"acc5e57f-3937-454a-a3db-698413870359","name":"If1"},{"parameters":{"operation":"toBinary","sourceProperty":"data[0].base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[464,832],"id":"7b9efc8e-a8f9-41ed-b5d6-0d304ef91f5a","name":"Convert to File"},{"parameters":{"name":"={{$now}}.jpeg","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1E-Q3LsOiwAZlJAO6zYmgfwAoPmXEg19h","mode":"list","cachedResultName":"Generated Images For Video","cachedResultUrl":"https://drive.google.com/drive/folders/1E-Q3LsOiwAZlJAO6zYmgfwAoPmXEg19h"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[640,832],"id":"15a0822a-e45b-402a-898a-8c7b97edb85d","name":"Upload to Drive","credentials":{"googleDriveOAuth2Api":{"id":"z29QCHSTFbuYhWdz","name":"Dan Drive Account"}}},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","text":"Your video is being created and may take a few moments. Once it’s ready, we’ll deliver it to you. Thank you for your patience! ","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-336,304],"id":"e779edcb-13ed-4448-a1eb-7222d330034c","name":"Send a text message","webhookId":"2e2ef1fd-9b94-40d8-b876-5f8aea4a7638","credentials":{"telegramApi":{"id":"FPa39KbyPXUd0Mna","name":"AI Marketing Bot"}},"onError":"continueRegularOutput"},{"parameters":{"content":"## Telegram  video Output","height":420,"width":1352,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3504,608],"id":"ec1d11ec-decc-4c81-8ec1-0f5005a21d10","name":"Sticky Note"},{"parameters":{"content":"## Telegram Wait message","height":280,"width":380,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-448,208],"id":"142b025c-3a0b-4747-94c5-a10c1813ce7d","name":"Sticky Note1"},{"parameters":{"content":"## Generate Image","height":620,"width":940},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,608],"id":"854218cb-1695-4ce6-ab44-5881940dbc7c","name":"Sticky Note2"},{"parameters":{"promptType":"define","text":"=Video Topic: {{ $('When Executed by Another Workflow').item.json.videoTopic }}","hasOutputParser":true,"options":{"systemMessage":"={{ ($json.content && $json.content.trim().length > 0) ? $json.content : `\n**You are a Master Visual Story Structuring Agent.**\nYour task is to take a **short video topic** and generate **one continuous, richly detailed prompt** that forms a **cohesive visual story**, optimized for **text-to-image or video generation** in tools like **Flux, Runway, Sora, or Midjourney**.\n\n\n## ✅ Instructions for the Model:\n\n* Create a **single flowing scene** that represents the **entire story arc** visually — beginning, middle, and end — without splitting it into parts.\n* Maintain **perfect consistency** in characters, objects, and settings throughout the prompt.\n* Use **rich, cinematic, and imaginative language**.\n* Describe the **main character** with **consistent appearance, clothing, and expressions**.\n* Detail the **background** vividly with era-accurate, environment-specific visuals that support the theme.\n* Include **meaningful props, lighting, weather, and movement cues** to enhance realism.\n* Avoid generic language. Be **specific, intentional, and visually evocative**.\n* **Do not** use any quotation marks or newlines in your output.\n* **Return one seamless, professional-grade image/video generation prompt**.\n\n---\n\n## ✅ Output Format (Final Template):\n\ntext\nreturn prompt of image and video genration: [INSERT ONE FLOWING VISUAL PROMPT HERE]\n` }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-96,832],"id":"93b514cb-a7ef-4b8c-8546-aa8e32c09571","name":"Image Prompt Agent"},{"parameters":{"content":"## Video Generation","height":620,"width":880},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[608,608],"id":"4b658944-ae51-4547-a8dc-06b36baaa99b","name":"Sticky Note3"},{"parameters":{"content":"## Generate Sound","height":620,"width":860},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1584,608],"id":"805aa195-a6dd-40e6-9b18-7eb69cbd002b","name":"Sticky Note4"},{"parameters":{"promptType":"define","text":"=Scene: {{ $('Image Prompt Agent').item.json.output.VideoDetailedPrompt }}","options":{"systemMessage":"={{ ($json.content && $json.content.trim().length > 0) ? $json.content : `\n# Overview\nYou are a Master Sound Prompt Generator.\nYour task is to create vivid, immersive sound prompts based on a given scene. These prompts will be used to generate background audio that matches the mood and environment of the scene.\n\n## Instructions\n- Generate a one- to two-sentence prompt that captures the ambiance, tone, and key sound elements.\n- Use rich, evocative language to describe the background atmosphere, highlighting specific sounds (e.g., footsteps on cobblestone, distant chatter, wind rustling leaves, faint music, industrial hum).\n- Focus on the background audio — not dialogue, narration, or foreground sound effects.\n- Match the emotion and setting of the scene, whether it's calm, chaotic, eerie, festive, or serene.\n- Avoid vague descriptions; be specific and sensory-driven to maximize immersion.\n- Never include quotation marks (\"\") or newlines (\\n) in the output.\n\n## Output\nReturn only the crafted sound prompt text, ready to be used for an audio generation model.\n\ngenrate a short output not to much large\n` }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2128,800],"id":"f4b7f732-7f8b-4566-a0c0-71fc0c676c1c","name":"Sound Agent"},{"parameters":{"content":"## Merge Sound and Video","height":620,"width":860},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2528,608],"id":"4cea48cc-a8ba-4830-a48d-780747828ab0","name":"Sticky Note5"},{"parameters":{"content":"## Trigger","height":280,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1040,784],"id":"142d22f2-c6e2-4839-aa46-1e02fd18cbcc","name":"Sticky Note6"},{"parameters":{"method":"POST","url":"https://api.freepik.com/v1/ai/text-to-image/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-freepik-api-key","value":"FPSXd657e028599a2956214dfae383682a59"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $json.output.VideoDetailedPrompt }}\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"square_1_1\",\n  \"styling\": {\n    \"style\": \"anime\",\n    \"effects\": {\n      \"color\": \"pastel\",\n      \"lightning\": \"warm\",\n      \"framing\": \"portrait\"\n    }\n  },\n  \"person_generation\": \"allow_adult\",\n  \"safety_settings\": \"block_low_and_above\"\n}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,832],"id":"50d475c9-40ff-404f-bdbe-a3f7607862f9","name":"Generate Image"},{"parameters":{"content":"# Write to Drive & Airtable","height":260,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4000,1120],"id":"5c39f66c-84b1-4d43-9086-8632f076d3e5","name":"Sticky Note7"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appmx8XSC7YGtV2n6","mode":"list","cachedResultName":"Connie - Logs","cachedResultUrl":"https://airtable.com/appmx8XSC7YGtV2n6"},"table":{"__rl":true,"value":"tbl70YA9wJWOAs8ES","mode":"list","cachedResultName":"Connie - Video Logs","cachedResultUrl":"https://airtable.com/appmx8XSC7YGtV2n6/tbl70YA9wJWOAs8ES"},"columns":{"mappingMode":"defineBelow","value":{"userId":"={{ $('When Executed by Another Workflow').item.json.chatID.toString() }}","Output":"={{ $('HTTP Request6').item.json.url }}","ID":"={{ $json.id }}","user_message":"={{ $('When Executed by Another Workflow').item.json.videoTopic }}","Generated_Prompt":"={{ $('Image Prompt Agent').item.json.output.VideoDetailedPrompt }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Generated_Prompt","displayName":"Generated_Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Output","displayName":"Output","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[4192,1184],"id":"dbaa1da5-a47a-4844-8608-e8f88bce3e56","name":"Stored Videos","credentials":{"airtableTokenApi":{"id":"nAL0HIMVMsBw6lFI","name":"Dan Airtable Acc"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77222a38-58a2-41fe-8d5a-856edb08289f","leftValue":"={{ $('When Executed by Another Workflow').item.json.chatID.toString() }}","rightValue":"cg_admin","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4192,784],"id":"b12b429b-542a-439b-bfdc-bc6ff7dfee46","name":"If2","onError":"continueRegularOutput"},{"parameters":{"operation":"get","documentURL":"1wdkPcB6J8ov0wtaDro090egpDnLZJexJ12hzCrePfwE"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-576,800],"id":"545687ea-ee61-4305-b755-e2f97ad03dfd","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}}},{"parameters":{"operation":"get","documentURL":"17q4ZZbHNCCioMCUT7YKIVx2QwdIBoPrWpchYOjBYE84"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1760,800],"id":"4481f04c-e7fa-4b01-91a0-9b14e69e49d8","name":"Get a document1","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}}},{"parameters":{"sendTo":"dan@creativeglu.ai","subject":"Connie-Generated Video","message":"={{ $('When Executed by Another Workflow').item.json.videoTopic }}","options":{"appendAttribution":false,"attachmentsUi":{"attachmentsBinary":[{}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[4464,896],"id":"9af5291f-d4ef-4ccc-a156-8288442485c0","name":"Send a message","webhookId":"7d34bf21-63bb-4911-9b23-15f91f37be7d","credentials":{"gmailOAuth2":{"id":"QV2IR2u8ttUX0kND","name":"Dan Account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Send a text message","type":"main","index":0},{"node":"Get a document","type":"main","index":0}]]},"4 Parts1":{"ai_outputParser":[[{"node":"Image Prompt Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Image Prompt Agent","type":"ai_languageModel","index":0}]]},"Download Video1":{"main":[[{"node":"If2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Get a document1","type":"main","index":0}],[{"node":"1 minute","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Sound Agent","type":"ai_languageModel","index":0}]]},"Render Video1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Upload to Drive1":{"main":[[{"node":"Render Video1","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"If1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Generate Audio1":{"main":[[{"node":"Upload to Drive1","type":"main","index":0}]]},"video generate":{"main":[[{"node":"1 minute","type":"main","index":0}]]},"1 minute":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"If1":{"main":[[{"node":"Download Video1","type":"main","index":0},{"node":"Stored Videos","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload to Drive","type":"main","index":0}]]},"Upload to Drive":{"main":[[{"node":"video generate","type":"main","index":0}]]},"Image Prompt Agent":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"Sound Agent":{"main":[[{"node":"Generate Audio1","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"Telegram","type":"main","index":0},{"node":"Send a message","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Image Prompt Agent","type":"main","index":0}]]},"Get a document1":{"main":[[{"node":"Sound Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4f7f1076-947b-4bdc-9583-814522fc4d1c","triggerCount":0,"tags":[{"createdAt":"2025-06-26T13:04:45.212Z","updatedAt":"2025-06-26T13:04:45.212Z","id":"mlzzxeiQkKmGlFL7","name":"Connie"},{"createdAt":"2025-06-27T07:33:17.146Z","updatedAt":"2025-06-27T07:33:17.146Z","id":"o0UdW0gjScBNiXfo","name":"sub-workflow"}]}