Connie – AI Marketing Team.json
{"createdAt":"2025-06-16T10:57:41.776Z","updatedAt":"2025-08-07T12:18:40.661Z","id":"o0r09BiDeStqCAE9","name":"Connie – AI Marketing Team","active":true,"isArchived":false,"nodes":[{"parameters":{"name":"createImage","description":"Call this tool to create an image. ","workflowId":{"__rl":true,"value":"T1e6Bdxyb8hrcOcC","mode":"list","cachedResultName":"Connie SubAgent: Create Images"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chatID":"={{ $('Edit Fields').first().json.userId }}","imagePrompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imagePrompt', `The image requested by the user`, 'string') }}","imageTitle":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageTitle', `The title of the image. Should be no more than 4 words.`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"imageTitle","displayName":"imageTitle","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"imagePrompt","displayName":"imagePrompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1744,544],"id":"81f3c110-5382-4082-a417-cb615b7f45eb","name":"Create Image"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').first().json.userId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[912,528],"id":"a27e2a2e-f658-4091-84f0-39fa2779a8cb","name":"Simple Memory","disabled":true},{"parameters":{"name":"editImage","description":"Call this tool to edit an image. Do not ask any details","workflowId":{"__rl":true,"value":"1hsB88J2eDLUNScu","mode":"list","cachedResultName":"Connie SubAgent: Edit Images"},"workflowInputs":{"mappingMode":"defineBelow","value":{"image":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `The title of the image the user wants to edit add complete details  do not miss any details`, 'string') }}","request":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('request', `The edit the user wants to make to the image with comepete details image title provide by user`, 'string') }}","chatID":"={{ $('Edit Fields').first().json.userId }}","pictureID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('pictureID', `The ID of the image to edit`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"request","displayName":"request","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"pictureID","displayName":"pictureID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1920,544],"id":"9761827e-d57c-4358-80bc-f0bf9892c2d0","name":"Edit Image"},{"parameters":{"name":"searchImages","description":"Call this tool to search the image database not for edit image","workflowId":{"__rl":true,"value":"LEs25eF8HbvWBfJ8","mode":"list","cachedResultName":"Connie SubAgent: Search Images"},"workflowInputs":{"mappingMode":"defineBelow","value":{"intent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('intent', `The intent of the user. This can either be \"Get\" or \"Edit\"`, 'string') }}","image":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `The image title`, 'string') }}","chatID":"={{ $('Edit Fields').first().json.userId }}"},"matchingColumns":[],"schema":[{"id":"intent","displayName":"intent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2064,544],"id":"3ebfa2fd-6168-4f0f-a4d3-c2bc04e956b1","name":"Search Images"},{"parameters":{"name":"blogPost","description":"Call this tool to create a blog post using a topic and a target audience.","workflowId":{"__rl":true,"value":"CdKcL913RQq4X2St","mode":"list","cachedResultName":"Connie SubAgent: Blog Post"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chatID":"={{ $('Edit Fields').first().json.userId }}","blogTopic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('blogTopic', `The topic of the blog.`, 'string') }}","targetAudience":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('targetAudience', `The target audience for the blog.`, 'string') }}","userPrompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('userPrompt', `Add Complete user prompt or message Without Change any thing`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"blogTopic","displayName":"blogTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"targetAudience","displayName":"targetAudience","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"userPrompt","displayName":"userPrompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1584,544],"id":"eeac4caa-ab34-41d1-b9f2-bf8f80eef6ef","name":"Blog Post"},{"parameters":{"content":"# Marketing Team","height":400,"width":768,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1712,0],"id":"8800a668-889b-4eb4-ba9f-5176bf93f3b3","name":"Sticky Note"},{"parameters":{"name":"linkedinPost","description":"Call this tool to create a LinkedIn post using a topic and a target audience.","workflowId":{"__rl":true,"value":"2D0bXD5lT2tFXQ5l","mode":"list","cachedResultName":"Connie SubAgent: LinkedIn Post"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chatID":"={{ $('Edit Fields').first().json.userId }}","user message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_message', `Add complete user message in that`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user message","displayName":"user message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1296,528],"id":"46f4a9ee-85f8-4647-bbf4-acad02e9cec2","name":"LinkedIn Post"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","additionalFields":{}},"id":"f15371be-cea6-491a-9059-18ccd4a3263f","name":"Download Voice File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1328,48],"webhookId":"c0b376b1-7b63-41b6-8063-0b3096b8333d","credentials":{"telegramApi":{"id":"FPa39KbyPXUd0Mna","name":"AI Marketing Bot"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"en","temperature":0}},"id":"989b6650-fb21-44c1-ac2f-4ac1161db0ed","name":"Transcribe Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1472,80],"credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}},"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"22d5b480-07b2-4ad2-862b-3a920f88498f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.user_message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"7861fcfe-7a3d-4a17-97cc-6aca8909ab94","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1168,64]},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"d6cba671-3d52-45f2-8806-641ab37e0ce5","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[624,80],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63","credentials":{"telegramApi":{"id":"FPa39KbyPXUd0Mna","name":"AI Marketing Bot"}}},{"parameters":{"content":"# Trigger\n","height":400,"width":408,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[544,0],"id":"8dc1f2c6-78bf-4247-be1c-537ae6abb6f5","name":"Sticky Note1"},{"parameters":{"content":"# Content Creation","height":296,"width":480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,416],"id":"f0e3429d-aea7-4c66-812d-3fd72ebf3c35","name":"Sticky Note2"},{"parameters":{"content":"# Image Creation","height":296,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1536,416],"id":"c1bb35fd-771d-4a3b-b6e8-badac9b631d3","name":"Sticky Note3"},{"parameters":{"content":"# Image Database","height":296,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1872,416],"id":"973b9871-0934-4b3f-967d-006827e70831","name":"Sticky Note4"},{"parameters":{"content":"# Response\n\n","height":296,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2192,416],"id":"0a221057-ec7c-429a-9f88-5bf985104acb","name":"Sticky Note5"},{"parameters":{"content":"# Brain\n\n","height":296,"width":488,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[544,416],"id":"5f34a587-49f4-4a99-ac82-a8fc5c476db8","name":"Sticky Note6"},{"parameters":{"content":"# Voice or Text","height":400,"width":736,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,0],"id":"399d50b8-8c6e-4846-85f7-9b060ca4c6e2","name":"Sticky Note7"},{"parameters":{"name":"video","description":"Call this tool to create a video.","workflowId":{"__rl":true,"value":"tjFvwScl9ksXk6vO","mode":"list","cachedResultName":"Connie SubAgent: Videos"},"workflowInputs":{"mappingMode":"defineBelow","value":{"videoTopic":"={{ $json.user_message }}","chatID":"={{ $('Edit Fields').first().json.userId }}"},"matchingColumns":[],"schema":[{"id":"videoTopic","displayName":"videoTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1104,528],"id":"a6afe67d-b420-451d-8fc6-958e67f423e8","name":"Video"},{"parameters":{"promptType":"define","text":"= {{ $('Transcribe Audio').item.json.text }}{{ $('Edit Fields').item.json.user_message }}","options":{"systemMessage":"={{ ($json.content && $json.content.trim().length > 0) ? $json.content : `\nYou are a Connie - Marketing Team AI Agent. Your job is to help users create or edit images, or generate marketing content such as blog posts, LinkedIn posts, or videos.\n\n## 🛠 Tools\n* **GreetingsTool**  use this tool when you didnt use any tool like at greeting time or when you did not understand user query Do not use for other purpose \n \n* createImage – Use this to **generate a new image** based on the user’s prompt.\n* editImage – Use this to **modify an existing image** (e.g., \"edit\", \"change\", \"make it\", \"modify\", etc.).\n* searchImages – Use this to **search for existing images** using title, description, or ID But NOt for edit image.\n* blogPost – Use this to create a **blog post**.\n* linkedinPost – Use this to create a **LinkedIn post**.\n* video – Use this to create a **video**.\n* Think – Use this if you need help deciding which tool to use.\n\nRules :: Do not call search image tool for when user message is related to edit image \n\n## 📋 Instructions\n\nIf User Specified Like Write Linkedin Post Always use **linkedinPost** Tool For that\n\n### ✍️ Content Creation\n\n* If the user requests a **blog post** or **LinkedIn post**, use the appropriate tool and respond with:\n\nFor Edit image do not ask any thing like id title or other \n\nWhen user provode any post and says like crate anew post or linkdin post always call the **LinkedIn post** tool\n\nif you stuck in any task please use the think node always\n\n\n## ✅ Output Rules\n\n* **Only call the correct tool once per request.**\n* When returning an image, **always provide the image link as a clickable URL**.\n* If unsure about user intent, use the Think tool to decide before calling any content tool.\n` }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2048,80],"id":"3bf06b61-3d96-487e-af4a-7e2c5741d48b","name":"Marketing Team Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[784,528],"id":"e82a99bd-0f97-4c68-be28-d65404f2fb0c","name":"Think"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[640,528],"id":"21b78c75-7e8a-4eeb-853b-0a227c822edc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"descriptionType":"manual","toolDescription":" Do not call this tool every time if you didn't call any other tools then use this to to give user query response","chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', `Take an output from Agent`, 'string') }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[2288,528],"id":"6ab02097-3928-4b1e-90ce-603da27a09ae","name":"GreetingsTool","webhookId":"455bf461-2e84-4d71-b759-09f6ed9cf20d","credentials":{"telegramApi":{"id":"FPa39KbyPXUd0Mna","name":"AI Marketing Bot"}}},{"parameters":{"workflowInputs":{"values":[{"name":"user_message","type":"any"},{"name":"user_id","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[624,240],"id":"2658a935-0d47-4693-92e2-27a2efafd218","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"230234bf-1aa3-41e0-bc42-9d8d614abd0a","name":"user_message","value":"={{ $json.user_message || $json.message.text }}","type":"string"},{"id":"f7eab16d-bb1e-470f-af44-937bd4c3c6bf","name":"userId","value":"={{ $json.user_id || $json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,160],"id":"47a03895-bb9e-4060-9d41-ad6de44bb7cd","name":"Edit Fields"},{"parameters":{"operation":"get","documentURL":"1Sv-ET077G3crKk9utTddD-G65V5Vh62DZOtBpRy6QRI"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1584,80],"id":"d5786dc2-2433-43b3-9865-bacfde4241f2","name":"Get a document1","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2296bcd9-daee-43b1-aa17-0de0f29604d3","leftValue":"={{ $json.userId }}","rightValue":"cg_admin","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1008,160],"id":"cb9e6988-60db-405b-a592-321265b46ba0","name":"If"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields').item.json.user_message }}","options":{"systemMessage":"={{ ($json.content && $json.content.trim().length > 0) ? $json.content : `\nYou are a Connie - Marketing Team AI Agent. Your job is to help users create or edit images, or generate marketing content such as blog posts, LinkedIn posts, or videos.\n\n## 🛠 Tools\n* **GreetingsTool**  use this tool when you didnt use any tool like at greeting time or when you did not understand user query Do not use for other purpose \n \n* createImage – Use this to **generate a new image** based on the user’s prompt.\n* editImage – Use this to **modify an existing image** (e.g., \"edit\", \"change\", \"make it\", \"modify\", etc.).\n* searchImages – Use this to **search for existing images** using title, description, or ID But NOt for edit image.\n* blogPost – Use this to create a **blog post**.\n* linkedinPost – Use this to create a **LinkedIn post**.\n* video – Use this to create a **video**.\n* Think – Use this if you need help deciding which tool to use.\n\nRules :: Do not call search image tool for when user message is related to edit image \n\n## 📋 Instructions\n\nIf User Specified Like Write Linkedin Post Always use **linkedinPost** Tool For that\n\n### ✍️ Content Creation\n\n* If the user requests a **blog post** or **LinkedIn post**, use the appropriate tool and respond with:\n\nFor Edit image do not ask any thing like id title or other \n\n\n## ✅ Output Rules\n\n* **Only call the correct tool once per request.**\n* When returning an image, **always provide the image link as a clickable URL**.\n* If unsure about user intent, use the Think tool to decide before calling any content tool.\n` }}\n\nDo not Call any tools for greeting just simple messsage return for greeting \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1312,208],"id":"90dee344-feb7-4469-bbc7-c66290e086e5","name":"Marketing Team Agent1"},{"parameters":{"operation":"get","documentURL":"1Sv-ET077G3crKk9utTddD-G65V5Vh62DZOtBpRy6QRI"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1152,208],"id":"f02012b5-2d57-44f8-a069-2689538e9217","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}}}],"connections":{"Create Image":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0},{"node":"Marketing Team Agent1","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Marketing Team Agent","type":"ai_memory","index":0}]]},"Edit Image":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0},{"node":"Marketing Team Agent1","type":"ai_tool","index":0}]]},"Search Images":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0},{"node":"Marketing Team Agent1","type":"ai_tool","index":0}]]},"Blog Post":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0},{"node":"Marketing Team Agent1","type":"ai_tool","index":0}]]},"LinkedIn Post":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0},{"node":"Marketing Team Agent1","type":"ai_tool","index":0}]]},"Download Voice File":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download Voice File","type":"main","index":0}],[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Get a document1","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Video":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0},{"node":"Marketing Team Agent1","type":"ai_tool","index":0}]]},"Marketing Team Agent":{"main":[[]]},"Think":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Marketing Team Agent","type":"ai_languageModel","index":0},{"node":"Marketing Team Agent1","type":"ai_languageModel","index":0}]]},"GreetingsTool":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get a document1":{"main":[[{"node":"Marketing Team Agent","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Get a document","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Marketing Team Agent1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"582a2ddc-6af7-41ae-bb58-89dfd8e3d51b","triggerCount":1,"tags":[{"createdAt":"2025-06-26T13:04:45.212Z","updatedAt":"2025-06-26T13:04:45.212Z","id":"mlzzxeiQkKmGlFL7","name":"Connie"}]}