Connie SubAgent: Text-To_Speech.json
{"createdAt":"2025-08-13T05:55:13.004Z","updatedAt":"2025-08-14T11:47:37.048Z","id":"kGJSZKcsfhNGP7c5","name":"Connie SubAgent: Text-To_Speech","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"chatID","type":"any"},{"name":"userPrompt","type":"any"},{"name":"message_id","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-336,-80],"id":"99709375-5f36-4a69-8b36-ef0eb973e354","name":"When Executed by Another Workflow"},{"parameters":{"resource":"speech","voice":{"__rl":true,"value":"21m00Tcm4TlvDq8ikWAM","mode":"list","cachedResultName":"Rachel"},"text":"={{ $json.userPrompt }}","additionalOptions":{"outputFormat":"mp3_44100_128","languageCode":"en","voiceSettings":"{\n  \"stability\": 1,\n  \"similarity_boost\": 1,\n  \"style\": 0,\n  \"use_speaker_boost\": true,\n  \"speed\": 1\n}"},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[-48,-80],"id":"0fbecc21-780f-4bd9-bbe9-33cf607957db","name":"Convert text to speech","credentials":{"elevenLabsApi":{"id":"0qhIH7aSHb9tfkH3","name":"ElevenLabs account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"sendAudio","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{"caption":"={{ $('When Executed by Another Workflow').item.json.userPrompt }}","reply_to_message_id":"={{ $('When Executed by Another Workflow').item.json.message_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[336,-208],"id":"8c4ac247-cc7e-4219-9d69-a47a572050fa","name":"Send an audio file","webhookId":"d00fca9f-9857-4d2f-b3b5-e861bae8e03c","credentials":{"telegramApi":{"id":"FPa39KbyPXUd0Mna","name":"AI Marketing Bot"}}},{"parameters":{"content":"## Trigger","height":256,"width":256,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-400,-160],"typeVersion":1,"id":"e935f2a6-a15c-4047-a2e0-da896f680b25","name":"Sticky Note"},{"parameters":{"content":"## Text-To-Speech","height":256,"width":256,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-128,-160],"typeVersion":1,"id":"21b76aab-88f3-4fd0-8a4b-374b529c4bdd","name":"Sticky Note1"},{"parameters":{"content":"## Response","height":336,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","position":[144,-240],"typeVersion":1,"id":"22086487-5657-4515-965f-110e7827fc5f","name":"Sticky Note2"},{"parameters":{"content":"## Handle Error","height":256,"width":800,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-400,112],"typeVersion":1,"id":"17d6d298-a2f9-44e8-a523-27d336cd1334","name":"Sticky Note3"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","text":"We encountered an unexpected error while processing your request. Please try again later or contact support if the issue persists.","additionalFields":{"reply_to_message_id":"={{ $('When Executed by Another Workflow').item.json.message_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[192,176],"id":"9bea5013-dedc-4bad-be7b-7d22833eeb2a","name":"Send a text message","webhookId":"d00fca9f-9857-4d2f-b3b5-e861bae8e03c","credentials":{"telegramApi":{"id":"FPa39KbyPXUd0Mna","name":"AI Marketing Bot"}}},{"parameters":{"sendTo":"dan@creativeglu.ai","subject":"Connie- Text-To-Speech","message":"={{ $('When Executed by Another Workflow').item.json.userPrompt }}","options":{"appendAttribution":false,"attachmentsUi":{"attachmentsBinary":[{}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[336,-48],"id":"2a3885ad-254a-44b5-8809-39819789d366","name":"Send a message","webhookId":"7d34bf21-63bb-4911-9b23-15f91f37be7d","credentials":{"gmailOAuth2":{"id":"QV2IR2u8ttUX0kND","name":"Dan Account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Convert text to speech","type":"main","index":0}]]},"Convert text to speech":{"main":[[{"node":"Send an audio file","type":"main","index":0},{"node":"Send a message","type":"main","index":0}],[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"702ee2f1-bf9a-41bb-b87c-30cab7d358a1","triggerCount":0,"tags":[]}