Connie SubAgent: Search Images.json
{"createdAt":"2025-06-17T06:01:01.201Z","updatedAt":"2025-08-14T11:37:18.992Z","id":"LEs25eF8HbvWBfJ8","name":"Connie SubAgent: Search Images","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"intent"},{"name":"image"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-96,912],"id":"c167a518-8a41-4d43-a35f-ba3230bd83da","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=Image: {{ $('When Executed by Another Workflow').item.json.image }}","hasOutputParser":true,"options":{"systemMessage":"={{ ($json.content && $json.content.trim().length > 0) ? $json.content : `\n# Overview\nYou are an Image Retrieval Agent. When the user provides a query, your task is to search the \"Image Database\" using the keywords from the query. Locate the most relevant matching image.\n\n## Output\n- Return the name, ID, and the Link of the image\n- If no image is found, output \"Not Found\"\n` }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[480,912],"id":"c65955be-94fc-409d-834c-27ad8ce65626","name":"Image Search Agent"},{"parameters":{"assignments":{"assignments":[{"id":"44c36e1d-19e8-4411-bd3d-86c5144ecb14","name":"response","value":"Image wasn't found in the database","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1408,784],"id":"cb7602f7-0439-44e3-8f47-71042b81a0dc","name":"Not Found"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"85e307aa-0bb8-40f1-b62e-5b36c231b0af","leftValue":"={{ $json.output.image_id }}","rightValue":"Not Found","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[944,928],"id":"c3c80f2a-76c5-4fc3-a2d5-c5a6f455ccd3","name":"Not Found?"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.output.image_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1520,1120],"id":"b0128709-f618-45ef-acc1-a36e3b2be351","name":"Download File","credentials":{"googleDriveOAuth2Api":{"id":"z29QCHSTFbuYhWdz","name":"Dan Drive Account"}}},{"parameters":{"content":"# Trigger\n","height":260,"width":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-176,832],"id":"3be7ba51-085b-4629-bf53-83bf57578642","name":"Sticky Note5","disabled":true},{"parameters":{"content":"# Image Search\n","height":260,"width":460,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,800],"id":"d0cca575-504f-4680-9f04-adc5d68ad502","name":"Sticky Note4"},{"parameters":{"content":"## Brain\n","height":200,"width":460,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,1088],"id":"28572168-4b76-409e-80d8-51344d749380","name":"Sticky Note3"},{"parameters":{"jsonSchemaExample":"{\n  \"image_name\":\"string | null\",\n  \"image_id\": \"string | null\",\n  \"image_link\": \"string | null\",\n  \"status\": \"found | not_found\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[752,1152],"id":"854430ed-8f0c-48dc-b75a-64c45f270c19","name":"Name, ID, & Link"},{"parameters":{"content":"# Not Found?","height":260,"width":680,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1152,720],"id":"0673ebe6-f123-4206-aecd-a6c2c2277f85","name":"Sticky Note"},{"parameters":{"content":"# Send Content","height":424,"width":504,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1488,1008],"id":"d87336dd-ab4b-497e-98eb-6667c471e4b6","name":"Sticky Note8"},{"parameters":{"content":"# Download\n","height":280,"width":300,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1152,1008],"id":"98ae8321-8527-4cc1-a346-8dc71e795aa4","name":"Sticky Note9"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1728,1248],"id":"55a132a7-9db9-48d7-9b45-a5ddc0f9e04e","name":"Send Photo","webhookId":"85dc0064-e5c5-45a9-91a5-60e5b2bc4f1e","credentials":{"telegramApi":{"id":"FPa39KbyPXUd0Mna","name":"AI Marketing Bot"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[464,1152],"id":"cfab56d4-464f-4b39-856a-dd5cad37e919","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"content":"","height":200,"width":180,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[768,2192],"id":"f1b77f46-eb79-452d-bfa6-bb71894db8c5","name":"Sticky Note15"},{"parameters":{"content":"","height":200,"width":180,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,2288],"id":"04b61ab5-9408-4bca-b84e-1d4127d6c07d","name":"Sticky Note16"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","text":"Image wasn't found in the database ","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1648,784],"id":"a6ed2196-0df0-4bf6-a1bf-d89e6edbaf09","name":"Send Photo1","webhookId":"85dc0064-e5c5-45a9-91a5-60e5b2bc4f1e","credentials":{"telegramApi":{"id":"FPa39KbyPXUd0Mna","name":"AI Marketing Bot"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appmx8XSC7YGtV2n6","mode":"list","cachedResultName":"Connie - Logs","cachedResultUrl":"https://airtable.com/appmx8XSC7YGtV2n6"},"table":{"__rl":true,"value":"tbl9NlwR95n4Y6pRS","mode":"list","cachedResultName":"Images Logs","cachedResultUrl":"https://airtable.com/appmx8XSC7YGtV2n6/tbl9NlwR95n4Y6pRS"},"filterByFormula":"={userID} = '{{ $('When Executed by Another Workflow')?.first()?.json?.chatID }}'","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[608,1152],"id":"cdb2ff15-3cee-4d22-bdeb-e5507e2bd0c6","name":"Image Database","credentials":{"airtableTokenApi":{"id":"nAL0HIMVMsBw6lFI","name":"Dan Airtable Acc"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"77222a38-58a2-41fe-8d5a-856edb08289f","leftValue":"={{ $('When Executed by Another Workflow').item.json.chatID.toString() }}","rightValue":"cg_admin","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1248,1104],"id":"ec3eec69-6765-4b54-959f-d73a4b2daf3a","name":"If1","alwaysOutputData":true},{"parameters":{"operation":"get","documentURL":"=1pdPtZQ848HhhY8ruA2vKqK7h9z0-sBRf8P7ZqyDgScI"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[160,912],"id":"2df7593e-f491-4f50-948e-70bc4ac602b6","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}}},{"parameters":{"sendTo":"dan@creativeglu.ai","subject":"Connnie-Image","message":"=please find the attached generated image\n{{ $json.webViewLink }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1728,1104],"id":"0614c3ee-9339-41c7-9ced-47a434a84012","name":"Send a message","webhookId":"7d34bf21-63bb-4911-9b23-15f91f37be7d","credentials":{"gmailOAuth2":{"id":"QV2IR2u8ttUX0kND","name":"Dan Account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Image Search Agent":{"main":[[{"node":"Not Found?","type":"main","index":0}]]},"Not Found?":{"main":[[{"node":"Not Found","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Send Photo","type":"main","index":0},{"node":"Send a message","type":"main","index":0}]]},"Name, ID, & Link":{"ai_outputParser":[[{"node":"Image Search Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Image Search Agent","type":"ai_languageModel","index":0}]]},"Not Found":{"main":[[{"node":"Send Photo1","type":"main","index":0}]]},"Image Database":{"ai_tool":[[{"node":"Image Search Agent","type":"ai_tool","index":0}]]},"If1":{"main":[[],[{"node":"Download File","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Image Search Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"39737407-42b6-413f-aa8b-4152a6474a82","triggerCount":0,"tags":[{"createdAt":"2025-06-27T07:36:27.375Z","updatedAt":"2025-06-27T07:36:27.375Z","id":"gi1tb7Yq9bt3IWqg","name":"search images"},{"createdAt":"2025-06-27T07:33:17.146Z","updatedAt":"2025-06-27T07:33:17.146Z","id":"o0UdW0gjScBNiXfo","name":"sub-workflow"},{"createdAt":"2025-06-26T13:04:45.212Z","updatedAt":"2025-06-26T13:04:45.212Z","id":"mlzzxeiQkKmGlFL7","name":"Connie"}]}