Connie SubAgent: LinkedIn Post.json
{"createdAt":"2025-06-17T05:41:23.213Z","updatedAt":"2025-07-25T07:29:29.318Z","id":"2D0bXD5lT2tFXQ5l","name":"Connie SubAgent: LinkedIn Post","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Blog Post: \n{{ $('Message a model').item.json.message.content }}","hasOutputParser":true,"options":{"systemMessage":"={{ ($json.content && $json.content.trim().length > 0) ? $json.content : `\n# Overview\nYou are an AI agent that transforms LinkedIn posts into visual prompt descriptions for generating graphic marketing materials. These visuals are designed to be paired with the post on LinkedIn, helping communicate the message in a visually engaging, brand-aligned way.\n\n## Objective:\n- Read and analyze the given LinkedIn post.\n- Identify the main message, insight, or takeaway from the post.\n- Create a clear and compelling graphic prompt that can be used with a text-to-image generator.\n- The result should be a marketing-style graphic — not a literal scene or hyperrealistic photo — that:\n1) Visually supports or illustrates the key idea of the post\n2) Looks appropriate for use in a professional LinkedIn feed\n3) Feels polished, modern, and engaging\n\n## Output Instructions:\n- Output only the final image prompt. Do not output quotation marks.\n- Do not repeat or rephrase the LinkedIn post.\n- Do not add any explanations or extra content — just the image prompt.\n- Never leave things blank like \"Header area reserved for customizable callout text\"\n- Output numeric stats when available in the original post\n\n## Style Guidelines:\n- Think like a brand designer or marketing creative.\n- Visuals may include: text, charts, icons, abstract shapes, overlays, modern illustrations, motion-like effects, bold typography elements (described, not rendered), or metaphorical concepts.\n- You can mention layout suggestions (e.g., \"split screen design,\" \"header with bold title and subtle background illustration\").\n- Assume the output will be generated using AI image tools — your prompt should guide those tools effectively.\n\n## Example Prompt Format:\nA modern flat-style graphic showing a human brain connected to mechanical gears, representing the fusion of AI and automation. Minimalist background, soft gradients, clean sans-serif text placement space at the top.\n` }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1936,160],"id":"744c405a-47de-405a-b701-c3a2afa75a19","name":"Image Prompt Agent"},{"parameters":{"content":"# Content Generation","height":260,"width":800,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3520,64],"id":"db4c8a12-5276-4e3c-85b5-6374dd5aa3e4","name":"Sticky Note"},{"parameters":{"content":"# Image Prompt\n","height":260,"width":652,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2704,64],"id":"739f2f78-1a2f-4e8f-b780-f9c2532ad055","name":"Sticky Note4"},{"parameters":{"content":"## Tool & Model","height":240,"width":1492,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3840,352],"id":"454d4b62-9809-4a32-b7fd-9e987f280c94","name":"Sticky Note2"},{"parameters":{"workflowInputs":{"values":[{"name":"postTopic"},{"name":"targetAudience"},{"name":"chatID"},{"name":"userPrompt","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-3728,160],"id":"1eb8066b-6e36-4845-ba12-e51d6fae622e","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=Topic of Blog: {{ $('When Executed by Another Workflow').item.json.blogTopic }}\nTarget Audience: {{ $('When Executed by Another Workflow').item.json.targetAudience }}\n**Company_details** ==  {{ $('Get a document').item.json.content }}","options":{"systemMessage":"={{ ($json.content && $json.content.trim().length > 0) ? $json.content : `\nYou are an AI agent that creates professional, educational, and engaging LinkedIn posts on any topic provided.\n\n### 🔧 Instructions:\n\n1. Use the **Blog Writer** tool to gather accurate, recent insights on the topic.\n2. Write a **short LinkedIn post** that:\n\n   * Starts with a **strong hook**\n   * Is **professional, clear, and educational**\n   * **Incorporates the company’s tone or perspective** from \\`company_details\\`\n   * Uses **minimal, relevant emojis**\n   * Includes **source citations**\n   * Adds **relevant hashtags**\n   * Ends with a **call to action**\n\n> ⚠️ Output **only the final LinkedIn post**. No explanations or extra text.\n` }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-3024,160],"id":"e5aa1a12-3ddc-4c5b-8444-f8e82f08692c","name":"Blog Post Agent"},{"parameters":{"jsonSchemaExample":"{\n  \"title\": \"<2-4 word creative title for the image>\",\n  \"prompt\": \"<full detailed image generation prompt>\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1616,432],"id":"5d31fcf2-1f50-494b-b634-a3f8aaaddc03","name":"Image & Title"},{"parameters":{"content":"## Structured Output","height":240,"width":1444,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2320,352],"id":"dcce0977-7943-4356-aa2e-66f63c69e3fd","name":"Sticky Note3"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","text":"={{ $('Blog Post Agent').item.json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-384,128],"id":"b4b6445c-0543-4fbf-a14e-2711bcd6546d","name":"Send Blog","webhookId":"94fa70af-f2fc-4c05-8fa1-d9f55637485f","credentials":{"telegramApi":{"id":"FPa39KbyPXUd0Mna","name":"AI Marketing Bot"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-544,128],"id":"3434a158-95c4-4174-ad31-1854ca09fee6","name":"Send Photo","webhookId":"8fcbda9c-8396-41f7-8f2d-39e4ae4337c7","credentials":{"telegramApi":{"id":"FPa39KbyPXUd0Mna","name":"AI Marketing Bot"}}},{"parameters":{"content":"# Trigger\n","height":260,"width":308,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3840,64],"id":"113f00df-09cd-481c-856c-78e8be8618bc","name":"Sticky Note5","disabled":true},{"parameters":{"content":"# Send Content","height":260,"width":604,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-832,64],"id":"30132c07-3957-432a-8138-1bf81a936ba3","name":"Sticky Note7"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2080,432],"id":"854712dd-e087-4d91-8432-a1390dbc2f05","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"model":"sonar-deep-research","messages":{"message":[{"content":"={{ $('When Executed by Another Workflow').item.json.userPrompt }}"}]},"simplify":true,"options":{"returnImages":true},"requestOptions":{}},"type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[-2816,432],"id":"5fc7bb1a-3b5a-4df2-ac54-eb47beff5916","name":"Blog writer","credentials":{"perplexityApi":{"id":"lpVfQH8LZoNo3Ma7","name":"Kevin API key"}}},{"parameters":{"name":"={{ $('Image Prompt Agent').item.json.output.title }}.png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1S58bH77l326hWEtv8lOZJK8enl1LM5j-","mode":"list","cachedResultName":"AI Image Generation","cachedResultUrl":"https://drive.google.com/drive/folders/1S58bH77l326hWEtv8lOZJK8enl1LM5j-"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-704,432],"id":"e493cceb-9368-4b30-9ff0-8ec723f0c909","name":"Upload","credentials":{"googleDriveOAuth2Api":{"id":"z29QCHSTFbuYhWdz","name":"Dan Drive Account"}}},{"parameters":{"content":"# Write to Drive & Sheets","height":240,"width":636},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-832,352],"id":"8f677935-7b67-419c-a850-38a00e6f3d3a","name":"Sticky Note6"},{"parameters":{"toolDescription":"Use this tool to search the web. ","method":"POST","url":"https://api.tavily.com/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"query\": \"{searchTerm}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}","placeholderDefinitions":{"values":[{"name":"searchTerm","description":"What the user is searching for. "}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-3120,448],"id":"8b15d456-75a5-4c96-b137-d1e06c4c7993","name":"Blog writer1","credentials":{"httpHeaderAuth":{"id":"tImW1UUZqNiJXBdl","name":"Header Auth account"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=Make short of that output Do not add any other informations Just plain output Not to much short keep imporatnt information \n\n{{ $json.output }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2576,160],"id":"ceb8d81b-038f-40bc-b0b7-a4c24bc20e7a","name":"Message a model","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appBpF27QfwgeTEVx","mode":"list","cachedResultName":"Connie Marketing teams","cachedResultUrl":"https://airtable.com/appBpF27QfwgeTEVx"},"table":{"__rl":true,"value":"tblBg54l6ZbStkllZ","mode":"list","cachedResultName":"Images_Logs","cachedResultUrl":"https://airtable.com/appBpF27QfwgeTEVx/tblBg54l6ZbStkllZ"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","userId":"={{ $('When Executed by Another Workflow').item.json.chatID.toString() }}","userPrompt_Title":"={{ $('When Executed by Another Workflow').item.json.postTopic }}","url":"={{ $json.webViewLink }}","Image_Description":"={{ $('Image Prompt Agent').item.json.output.prompt }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"userPrompt_Title","displayName":"userPrompt_Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Image_Description","displayName":"Image_Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-528,432],"id":"d794d35b-351a-4b2d-8b4f-6f2e637b272a","name":"Stored Images Logs","credentials":{"airtableTokenApi":{"id":"2CrlfDDV3wTPTK8t","name":"Creative Glu-New"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appBpF27QfwgeTEVx","mode":"list","cachedResultName":"Connie Marketing teams","cachedResultUrl":"https://airtable.com/appBpF27QfwgeTEVx"},"table":{"__rl":true,"value":"tblrmyna3Ra1D0GRi","mode":"list","cachedResultName":"Connie-Logs","cachedResultUrl":"https://airtable.com/appBpF27QfwgeTEVx/tblrmyna3Ra1D0GRi"},"columns":{"mappingMode":"defineBelow","value":{"userId":"={{ $('When Executed by Another Workflow').item.json.chatID.toString() }}","Title":"={{ $('When Executed by Another Workflow').item.json.postTopic }}","Request":"={{ $('When Executed by Another Workflow').item.json.postTopic }} for {{ $('When Executed by Another Workflow').item.json.targetAudience }}","Link":"={{ $json.fields.url }}","Output":"={{ $('Blog Post Agent').item.json.output }}","ID":"={{ $json.id }}","Type":"Linkdin Post"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Request","displayName":"Request","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Output","displayName":"Output","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-368,432],"id":"c640acb5-2af1-4b1c-88cd-e274054e0aa7","name":"Stored Images Logs1","credentials":{"airtableTokenApi":{"id":"2CrlfDDV3wTPTK8t","name":"Creative Glu-New"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1ZOtE9cTQ3HodG5t2FH2gv2Y1Z2Mw1uxAJ8veWr-qhxA/edit?usp=sharing"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-3440,160],"id":"e5998666-ad40-4acc-8617-53f5ffb5821b","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"oXRWK49kYi4imjWg","name":"Dan Acc 2"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77222a38-58a2-41fe-8d5a-856edb08289f","leftValue":"={{ $('When Executed by Another Workflow').item.json.chatID.toString() }}","rightValue":"cg_admin","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-720,144],"id":"6f7a287a-852d-4e70-8ad8-b35518177f29","name":"If1"},{"parameters":{"amount":25},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1424,144],"id":"950497e7-9a16-4918-b19c-c1c61bb49283","name":"90 Seconds","webhookId":"ffdc5132-c0fe-44f6-af2b-4b3bb8894153"},{"parameters":{"url":"=https://api.freepik.com/v1/ai/text-to-image/imagen3/{{ $json.data.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-freepik-api-key","value":"FPSXd657e028599a2956214dfae383682a59"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1248,144],"id":"cd627aa6-3914-4a89-a6ed-64c880436a28","name":"Get Image"},{"parameters":{"url":"={{ $json.data.generated[0] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1040,144],"id":"43227ec0-a29f-4592-850e-2bd8f6af5cd8","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://api.freepik.com/v1/ai/text-to-image/imagen3","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-freepik-api-key","value":"FPSXd657e028599a2956214dfae383682a59"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $json.output.prompt }}\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"square_1_1\",\n  \"styling\": {\n    \"style\": \"anime\",\n    \"effects\": {\n      \"color\": \"pastel\",\n      \"lightning\": \"warm\",\n      \"framing\": \"portrait\"\n    }\n  },\n  \"person_generation\": \"allow_adult\",\n  \"safety_settings\": \"block_low_and_above\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1616,144],"id":"257c2a04-150b-4a97-a452-05c3a294ed0c","name":"Generate Image1"},{"parameters":{"content":"# Generate Image\n","height":256,"width":1180,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2032,64],"id":"26697850-5c35-43cd-baa3-dd0845f17d98","name":"Sticky Note8"},{"parameters":{"operation":"get","documentURL":"1FV7EdqhU9_acOB4OTC1hrYD7JD3k6T5zY5cUlJOtMik"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-3216,160],"id":"d5d949a7-0ae6-4571-9de7-323f51a62fa8","name":"Get a document1","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}}},{"parameters":{"operation":"get","documentURL":"1gGsrP_c3kM_1DSyFquz5WoWR7vc5x-XFJr1dKtQb204"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-2208,160],"id":"6bd54b9b-5672-4d47-b561-a324c5e4866c","name":"Get a document2","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}}}],"connections":{"Image Prompt Agent":{"main":[[{"node":"Generate Image1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Blog Post Agent":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Image & Title":{"ai_outputParser":[[{"node":"Image Prompt Agent","type":"ai_outputParser","index":0}]]},"Send Photo":{"main":[[{"node":"Send Blog","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Blog Post Agent","type":"ai_languageModel","index":0},{"node":"Image Prompt Agent","type":"ai_languageModel","index":0}]]},"Blog writer":{"ai_tool":[[{"node":"Blog Post Agent","type":"ai_tool","index":0}]]},"Upload":{"main":[[{"node":"Stored Images Logs","type":"main","index":0}]]},"Blog writer1":{"ai_tool":[[]]},"Message a model":{"main":[[{"node":"Get a document2","type":"main","index":0}]]},"Stored Images Logs":{"main":[[{"node":"Stored Images Logs1","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Get a document1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Send Photo","type":"main","index":0}]]},"90 Seconds":{"main":[[{"node":"Get Image","type":"main","index":0}]]},"Get Image":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Generate Image1":{"main":[[{"node":"90 Seconds","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"If1","type":"main","index":0},{"node":"Upload","type":"main","index":0}]]},"Get a document1":{"main":[[{"node":"Blog Post Agent","type":"main","index":0}]]},"Get a document2":{"main":[[{"node":"Image Prompt Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e879f4ef-7d6e-4c37-afcd-d3c1a8e4abb0","triggerCount":0,"tags":[{"createdAt":"2025-06-27T07:39:15.482Z","updatedAt":"2025-06-27T07:39:15.482Z","id":"e748RcVHT4z337cd","name":"Post creation"},{"createdAt":"2025-06-27T07:33:17.146Z","updatedAt":"2025-06-27T07:33:17.146Z","id":"o0UdW0gjScBNiXfo","name":"sub-workflow"},{"createdAt":"2025-06-26T13:04:45.212Z","updatedAt":"2025-06-26T13:04:45.212Z","id":"mlzzxeiQkKmGlFL7","name":"Connie"}]}