Connie SubAgent: LinkedIn Post.json
{"createdAt":"2025-06-17T05:41:23.213Z","updatedAt":"2025-08-14T11:42:36.988Z","id":"2D0bXD5lT2tFXQ5l","name":"Connie SubAgent: LinkedIn Post","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"chatID"},{"name":"user message","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2688,816],"id":"1eb8066b-6e36-4845-ba12-e51d6fae622e","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=Blog Post: \n{{ $('Message a model1').item.json.message.content }}","hasOutputParser":true,"options":{"systemMessage":"={{ ($json.content && $json.content.trim().length > 0) ? $json.content : `\n# Overview\nYou are an AI agent that transforms LinkedIn posts into visual prompt descriptions for generating graphic marketing materials. These visuals are designed to be paired with the post on LinkedIn, helping communicate the message in a visually engaging, brand-aligned way.\n\n## Objective:\n- Read and analyze the given LinkedIn post.\n- Identify the main message, insight, or takeaway from the post.\n- Create a clear and compelling graphic prompt that can be used with a text-to-image generator.\n- The result should be a marketing-style graphic — not a literal scene or hyperrealistic photo — that:\n1) Visually supports or illustrates the key idea of the post\n2) Looks appropriate for use in a professional LinkedIn feed\n3) Feels polished, modern, and engaging\n\n## Output Instructions:\n- Output only the final image prompt. Do not output quotation marks.\n- Do not repeat or rephrase the LinkedIn post.\n- Do not add any explanations or extra content — just the image prompt.\n- Never leave things blank like \"Header area reserved for customizable callout text\"\n- Output numeric stats when available in the original post\n\n## Style Guidelines:\n- Think like a brand designer or marketing creative.\n- Visuals may include: text, charts, icons, abstract shapes, overlays, modern illustrations, motion-like effects, bold typography elements (described, not rendered), or metaphorical concepts.\n- You can mention layout suggestions (e.g., \"split screen design,\" \"header with bold title and subtle background illustration\").\n- Assume the output will be generated using AI image tools — your prompt should guide those tools effectively.\n\n## Example Prompt Format:\nA modern flat-style graphic showing a human brain connected to mechanical gears, representing the fusion of AI and automation. Minimalist background, soft gradients, clean sans-serif text placement space at the top.\n` }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-688,816],"id":"755bb398-5e1b-4c8e-9d31-4cfea33f2efa","name":"Image Prompt Agent1"},{"parameters":{"content":"# Content Generation","height":260,"width":800,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2480,704],"id":"578a068b-adc4-4d43-a30f-c241be6a577b","name":"Sticky Note1"},{"parameters":{"content":"# Image Prompt\n","height":260,"width":652,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1664,704],"id":"fcf7123e-5533-4fe4-b045-587c3a45aab7","name":"Sticky Note9"},{"parameters":{"content":"## Tool & Model","height":336,"width":1492,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2784,1024],"id":"54698916-262c-42ce-9ea6-c7eb9dd0b5cd","name":"Sticky Note10"},{"parameters":{"promptType":"define","text":"=''","options":{"systemMessage":"=🎯 ROLE:\nYou are a **senior AI copywriter** with expertise in crafting viral, high-authority LinkedIn posts for top-tier tech companies and executives. Your goal is to generate LinkedIn content that looks like it was written by a **visionary CEO or founder** of a scaling tech company.\n\n---\n\n# USER MESSAGE:{{ $('When Executed by Another Workflow').item.json['user message'] }}\n\n# COMPANY DESCRIPTION:\n{{ $('user org data').item.json.content }}\n\n\n📥 INPUT FORMAT (Provided in user message):\n- May contain **1 or more viral LinkedIn post examples** (used for tone/style mimicry)\n- May also include **optional instructions or additional message from the user**\n- Always includes a **plain-text description of the user's company**\n\n---\n\n🧠 MODE OF EXECUTION:\n\n## ✅ CASE 1: Viral LinkedIn Post(s) Provided\n\n1. **Read each viral post shared.**\n2. Analyze the **structure, tone, pacing, CTA, and formatting style**.\n3. For **each viral post**, generate a new, original LinkedIn post:\n   - Use the user's company data as the core subject.\n   - Match the viral post's **style, rhythm, tone, and emotional energy**.\n   - Do NOT reuse exact wording — mimic the format and intent only.\n\n---\n\n## ✅ CASE 2: No Viral Post Given (Only Instructions or General Prompt)\n\n1. Based on user message and org description, generate a **powerful, thought-leader-style LinkedIn post**.\n2. Structure the post like it’s written by a **CEO announcing a product milestone, shift in industry, or a bold insight.**\n\n---\n\n📌 OUTPUT REQUIREMENTS (Applies to All Cases):\n\n- Start with a **bold, catchy first line in ALL CAPS or bold** – it should stop the scroll.\n- Speak to a **clear transformation, breakthrough, or benefit**.\n- The tone should be confident, forward-looking, and **senior-leadership level**.\n- Include a **Call to Action** or industry-facing insight.\n- End with a punchy, minimal closer. Examples:  \n  – *“This is just the beginning.”*  \n  – *“It’s not hype. It’s execution.”*  \n  – *“We’re ready for what’s next.”*\n\n---\n\n🧠 ADDITIONAL GUIDANCE:\n\n- Do NOT make the post sound like a blog or essay.\n- Do NOT Genrate to much long post.\n- Use **short paragraphs**, punchy phrasing, **strong verbs**, and **CEO-level confidence**.\n- Your post should look like it belongs on the feed of Satya Nadella, Brian Chesky, or Marc Andreessen.\n- Include **emotion, clarity, and aspiration**.\n- Ensure every sentence drives interest or adds value.\n\n---\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1616,816],"id":"685b70a0-f55a-4b57-8292-30b3b6aac7ae","name":"Blog Post Agent1"},{"parameters":{"jsonSchemaExample":"{\n  \"title\": \"<2-4 word creative title for the image>\",\n  \"prompt\": \"<full detailed image generation prompt>\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-608,1104],"id":"3402448c-2326-4183-b8e3-55523e18b7c3","name":"Image & Title1"},{"parameters":{"content":"## Structured Output","height":352,"width":1444,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,1008],"id":"d3b0e2e7-d0df-44cc-9fc5-6e4a7dd5a863","name":"Sticky Note11"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","text":"={{ $('Blog Post Agent1').item.json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[864,784],"id":"557af9f0-c87c-499a-b538-b7e108154220","name":"Send Blog1","webhookId":"94fa70af-f2fc-4c05-8fa1-d9f55637485f","credentials":{"telegramApi":{"id":"FPa39KbyPXUd0Mna","name":"AI Marketing Bot"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[704,784],"id":"3c493614-953e-4b2e-a3e2-51cd2090b3c1","name":"Send Photo1","webhookId":"8fcbda9c-8396-41f7-8f2d-39e4ae4337c7","credentials":{"telegramApi":{"id":"FPa39KbyPXUd0Mna","name":"AI Marketing Bot"}}},{"parameters":{"content":"# Trigger\n","height":260,"width":308,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2800,720],"id":"153b25c4-1ed5-4973-8601-e31b31775f15","name":"Sticky Note12","disabled":true},{"parameters":{"content":"# Send Content","height":260,"width":908,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,720],"id":"558ced5f-c338-4ae1-bb07-5bfc3e2ae66f","name":"Sticky Note13"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1456,1088],"id":"b8463836-9b17-4eb1-8950-fa7c232b4dd4","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"name":"={{ $('Image Prompt Agent1').item.json.output.title }}.png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1S58bH77l326hWEtv8lOZJK8enl1LM5j-","mode":"list","cachedResultName":"AI Image Generation","cachedResultUrl":"https://drive.google.com/drive/folders/1S58bH77l326hWEtv8lOZJK8enl1LM5j-"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[432,1088],"id":"8c0e4c09-7875-40c5-bb31-9dc08a346b73","name":"Upload1","credentials":{"googleDriveOAuth2Api":{"id":"z29QCHSTFbuYhWdz","name":"Dan Drive Account"}}},{"parameters":{"content":"# Write to Drive & Sheets","height":352,"width":892},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,1008],"id":"2b827b5f-7c8c-458b-8ea7-16a88a2586ff","name":"Sticky Note14"},{"parameters":{"toolDescription":"Use this tool to search the web. ","method":"POST","url":"https://api.tavily.com/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"query\": \"{searchTerm}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}","placeholderDefinitions":{"values":[{"name":"searchTerm","description":"What the user is searching for. "}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2080,1104],"id":"fa7cf607-1d8a-49f6-8f4d-7c4611332086","name":"Blog writer","credentials":{"httpHeaderAuth":{"id":"tImW1UUZqNiJXBdl","name":"Header Auth account"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=Make short of that output Do not add any other informations Just plain output Not to much short keep imporatnt information \n\n{{ $json.output }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1328,816],"id":"058145c9-7b5e-4bde-ac5d-6d9cdc785980","name":"Message a model1","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appBpF27QfwgeTEVx","mode":"list","cachedResultName":"Connie Marketing teams","cachedResultUrl":"https://airtable.com/appBpF27QfwgeTEVx"},"table":{"__rl":true,"value":"tblBg54l6ZbStkllZ","mode":"list","cachedResultName":"Images_Logs","cachedResultUrl":"https://airtable.com/appBpF27QfwgeTEVx/tblBg54l6ZbStkllZ"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","userId":"={{ $('When Executed by Another Workflow').item.json.chatID.toString() }}","userPrompt_Title":"={{ $('When Executed by Another Workflow').item.json.postTopic }}","url":"={{ $json.webViewLink }}","Image_Description":"={{ $('Image Prompt Agent1').item.json.output.prompt }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"userPrompt_Title","displayName":"userPrompt_Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Image_Description","displayName":"Image_Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[624,1200],"id":"7214d80e-63cb-4868-8a55-eacf7cbf770c","name":"Stored Images Logs2","credentials":{"airtableTokenApi":{"id":"2CrlfDDV3wTPTK8t","name":"Creative Glu-New"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appBpF27QfwgeTEVx","mode":"list","cachedResultName":"Connie Marketing teams","cachedResultUrl":"https://airtable.com/appBpF27QfwgeTEVx"},"table":{"__rl":true,"value":"tblrmyna3Ra1D0GRi","mode":"list","cachedResultName":"Connie-Logs","cachedResultUrl":"https://airtable.com/appBpF27QfwgeTEVx/tblrmyna3Ra1D0GRi"},"columns":{"mappingMode":"defineBelow","value":{"userId":"={{ $('When Executed by Another Workflow').item.json.chatID.toString() }}","Title":"={{ $('When Executed by Another Workflow').item.json.postTopic }}","Request":"={{ $('When Executed by Another Workflow').item.json.postTopic }} for {{ $('When Executed by Another Workflow').item.json.targetAudience }}","Link":"={{ $json.fields.url }}","Output":"={{ $('Blog Post Agent1').item.json.output }}","ID":"={{ $json.id }}","Type":"Linkdin Post"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Request","displayName":"Request","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Output","displayName":"Output","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[848,1200],"id":"72b593d3-687b-4f53-9ff7-3581485ace24","name":"Stored Images Logs3","credentials":{"airtableTokenApi":{"id":"2CrlfDDV3wTPTK8t","name":"Creative Glu-New"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77222a38-58a2-41fe-8d5a-856edb08289f","leftValue":"={{ $('When Executed by Another Workflow').item.json.chatID.toString() }}","rightValue":"cg_admin","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[528,800],"id":"c9a484d1-a054-4f0f-8e9a-82f58602cfa3","name":"If"},{"parameters":{"amount":25},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-176,800],"id":"574b96a8-8252-4116-b92f-f0e6e464714a","name":"90 Seconds1","webhookId":"ffdc5132-c0fe-44f6-af2b-4b3bb8894153"},{"parameters":{"url":"=https://api.freepik.com/v1/ai/text-to-image/imagen3/{{ $json.data.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-freepik-api-key","value":"FPSXd657e028599a2956214dfae383682a59"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,800],"id":"52192761-0674-4f24-a766-344157d9f252","name":"Get Image1"},{"parameters":{"url":"={{ $json.data.generated[0] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,800],"id":"dada6976-351f-432d-bab0-e3dc6da7a04b","name":"HTTP Request"},{"parameters":{"content":"# Generate Image\n","height":256,"width":1180,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-992,720],"id":"7bd5f625-5eee-4ab1-b5a7-dfe54b19a188","name":"Sticky Note15"},{"parameters":{"operation":"get","documentURL":"1FV7EdqhU9_acOB4OTC1hrYD7JD3k6T5zY5cUlJOtMik"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-1968,816],"id":"3fb09dd8-5665-4689-8d2d-1c11481b473c","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}},"disabled":true},{"parameters":{"operation":"get","documentURL":"1gGsrP_c3kM_1DSyFquz5WoWR7vc5x-XFJr1dKtQb204"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-960,816],"id":"b5543565-8cbc-44ad-9367-6cdeb0ec35d8","name":"Get a document4","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}}},{"parameters":{"documentId":{"__rl":true,"value":"1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk","mode":"list","cachedResultName":"Linkdin User Profile","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":704596287,"mode":"list","cachedResultName":"viral_post","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk/edit#gid=704596287"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2208,816],"id":"e6e26c5d-8ca4-4c01-bdaa-815ab7bc17b1","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"Oz3VV5pv0lxDbEHp","name":"Dan Creative Glue"}},"disabled":true},{"parameters":{"method":"POST","url":"https://api.freepik.com/v1/ai/text-to-image/imagen3","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-freepik-api-key","value":"FPSXd657e028599a2956214dfae383682a59"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": {{ $json.output.prompt.toJsonString() }},\n  \"num_images\": 1,\n  \"aspect_ratio\": \"square_1_1\",\n  \"styling\": {\n    \"style\": \"anime\",\n    \"effects\": {\n      \"color\": \"pastel\",\n      \"lightning\": \"warm\",\n      \"framing\": \"portrait\"\n    }\n  },\n  \"person_generation\": \"allow_adult\",\n  \"safety_settings\": \"block_low_and_above\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-384,816],"id":"ae1f6e1a-6570-4651-a535-b49a2540a883","name":"Generate Image1"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1NVEGKMcmsd9er4RhqvcuNtWACaitqGLaYoOf4PrA0PI/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-2416,816],"id":"13319d22-b4ae-41b7-a076-7b73eccc7c1e","name":"user org data","credentials":{"googleDocsOAuth2Api":{"id":"L9xmtETGAE9P06CN","name":"Shreyansh Google Docs"}}},{"parameters":{"sendTo":"dan@creativeglu.ai","subject":"Connie- LinkedIn Post","message":"=\n{{ $('Blog Post Agent1').item.json.output }}\n\n{{ $json.webViewLink }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[736,1056],"id":"d53bab35-3f42-4826-989a-ffbd1371ff8b","name":"Send a message","webhookId":"7d34bf21-63bb-4911-9b23-15f91f37be7d","credentials":{"gmailOAuth2":{"id":"QV2IR2u8ttUX0kND","name":"Dan Account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"user org data","type":"main","index":0}]]},"Image Prompt Agent1":{"main":[[{"node":"Generate Image1","type":"main","index":0}]]},"Blog Post Agent1":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"Image & Title1":{"ai_outputParser":[[{"node":"Image Prompt Agent1","type":"ai_outputParser","index":0}]]},"Send Photo1":{"main":[[{"node":"Send Blog1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Blog Post Agent1","type":"ai_languageModel","index":0},{"node":"Image Prompt Agent1","type":"ai_languageModel","index":0}]]},"Upload1":{"main":[[{"node":"Stored Images Logs2","type":"main","index":0},{"node":"Send a message","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Get a document4","type":"main","index":0}]]},"Stored Images Logs2":{"main":[[{"node":"Stored Images Logs3","type":"main","index":0}]]},"If":{"main":[[{"node":"Send Photo1","type":"main","index":0}]]},"90 Seconds1":{"main":[[{"node":"Get Image1","type":"main","index":0}]]},"Get Image1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0},{"node":"Upload1","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Blog Post Agent1","type":"main","index":0}]]},"Get a document4":{"main":[[{"node":"Image Prompt Agent1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Generate Image1":{"main":[[{"node":"90 Seconds1","type":"main","index":0}]]},"user org data":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cd6bba19-764a-49c8-b474-467efbcf10e1","triggerCount":0,"tags":[{"createdAt":"2025-06-27T07:39:15.482Z","updatedAt":"2025-06-27T07:39:15.482Z","id":"e748RcVHT4z337cd","name":"Post creation"},{"createdAt":"2025-06-27T07:33:17.146Z","updatedAt":"2025-06-27T07:33:17.146Z","id":"o0UdW0gjScBNiXfo","name":"sub-workflow"},{"createdAt":"2025-06-26T13:04:45.212Z","updatedAt":"2025-06-26T13:04:45.212Z","id":"mlzzxeiQkKmGlFL7","name":"Connie"}]}