costing tool.json
{"createdAt":"2025-05-13T07:11:28.590Z","updatedAt":"2025-05-16T12:49:06.580Z","id":"g9xW3CEEfLWjscvi","name":"costing tool","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"workflowname"},{"name":"excuationID","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1400,205],"id":"02f4ecc1-7128-4f32-86d4-68429a9c4cbc","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"function getTokenUsageWithContext(data) {\n  /** @type {{ tokenUsage: any, context: any }[]} */\n  const results = [];\n\n  function recurse(node, parent = null) {\n    if (Array.isArray(node)) {\n      node.forEach(item => recurse(item, parent));\n    } else if (node && typeof node === 'object') {\n      for (const [key, value] of Object.entries(node)) {\n        if (key === 'tokenUsage' && typeof value === 'object') {\n          results.push({ tokenUsage: value, context: parent });\n        } else {\n          recurse(value, node);\n        }\n      }\n    }\n  }\n\n  recurse(data, null);\n  return results;\n}\n\nreturn getTokenUsageWithContext($input.all());\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-520,80],"id":"4ccf672f-751f-4d3e-969d-80a3fbedc6fe","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"85544e5a-f792-4711-97d5-66533918f67c","leftValue":"={{ $json.finished }}","rightValue":"success","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-960,130],"id":"4365bae2-c658-4e7a-a292-540d9107ec4a","name":"If"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-740,305],"id":"b1c340a4-d0bc-4f4f-8e07-c93ab5f9a052","name":"Wait","webhookId":"e78b6527-8f3f-4b75-b004-9ff8518c6162"},{"parameters":{"resource":"execution","operation":"get","executionId":"={{ $json.id }}","options":{"activeWorkflows":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-740,80],"id":"d1b04cd2-88b0-4ed3-9a15-84ee330fe44d","name":"n8n1","credentials":{"n8nApi":{"id":"6QQljq0lsJalqZx3","name":"n8n account 3"}}},{"parameters":{"resource":"execution","operation":"get","executionId":"={{ $json.excuationID }}","options":{"activeWorkflows":false},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1180,205],"id":"ca4f1ca5-30cb-4bc7-b398-1e4ef08567ae","name":"n8n","executeOnce":true,"credentials":{"n8nApi":{"id":"6QQljq0lsJalqZx3","name":"n8n account 3"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VKJPoULP5HRO1YqSmbNkkD4LAib2qO4-yJhy-Qq7ybY","mode":"list","cachedResultName":"Cost Estimation Agent Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VKJPoULP5HRO1YqSmbNkkD4LAib2qO4-yJhy-Qq7ybY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VKJPoULP5HRO1YqSmbNkkD4LAib2qO4-yJhy-Qq7ybY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Completion Tokens":"={{ $json.completionTokens }}","Total Tokens":"={{ $json.totalTokens }}","Prompt Tokens":"={{ $json.completionTokens }}","Execution ID":"={{ $('When Executed by Another Workflow').item.json.excuationID }}","Workflow Id":"={{ $('n8n1').item.json.workflowId }}","WorkflowName":"={{ $('When Executed by Another Workflow').item.json.workflowname }}","TimeStamp":"={{ $now.format('yyyy-MM-dd hh:mm d') }}"},"matchingColumns":["Workflow Id"],"schema":[{"id":"Workflow Id","displayName":"Workflow Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Execution ID","displayName":"Execution ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prompt Tokens","displayName":"Prompt Tokens","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Completion Tokens","displayName":"Completion Tokens","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Tokens","displayName":"Total Tokens","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cost","displayName":"Cost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WorkflowName","displayName":"WorkflowName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TimeStamp","displayName":"TimeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[140,80],"id":"e842f1e2-a973-4e7e-98eb-c5169aa61ee0","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"rVLVpC5FEF6wrTch","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const data = $input.first().json.data;\n\nfunction getTokenUsageTotals(data) {\n  let completionTokens = 0;\n  let promptTokens = 0;\n  let totalTokens = 0;\n\n  function recurse(node) {\n    if (Array.isArray(node)) {\n      node.forEach(item => recurse(item));\n    } else if (node && typeof node === 'object') {\n      for (const [key, value] of Object.entries(node)) {\n        if (key === 'tokenUsage' && typeof value === 'object') {\n          completionTokens += value.completionTokens || 0;\n          promptTokens += value.promptTokens || 0;\n          totalTokens += value.totalTokens || 0;\n        } else {\n          recurse(value);\n        }\n      }\n    }\n  }\n\n  recurse(data);\n\n  return {\n    completionTokens,\n    promptTokens,\n    totalTokens\n  };\n}\n\nreturn [ { json: getTokenUsageTotals(data) } ];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,80],"id":"883ec014-46cc-4feb-837e-e81dbe78273d","name":"Code1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-300,80],"id":"0a99a4c8-ddd3-4b60-aa83-fd97ce46948e","name":"Aggregate"},{"parameters":{"content":"## Get Execution Data\n","height":560,"width":700},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1260,-20],"id":"5324a631-db3c-43cc-9d5b-e3e62d8938ef","name":"Sticky Note"},{"parameters":{"content":"## Get Token Usage","height":560,"width":360,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-540,-20],"id":"2d295e5f-75bb-44dd-ad16-e22d42eed204","name":"Sticky Note1"},{"parameters":{"content":"## Save token Usage to Sheet","height":560,"width":440,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-140,-20],"id":"82eb286e-1b42-495d-b8eb-640438091d1e","name":"Sticky Note2"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Code":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"If":{"main":[[{"node":"n8n1","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"Code","type":"main","index":0}]]},"n8n":{"main":[[{"node":"If","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0107f02a-8138-4b35-a63a-4127f49e82e9","triggerCount":0,"tags":[]}