creative_glu.json
{"createdAt":"2025-06-19T05:50:15.848Z","updatedAt":"2025-07-14T11:15:32.844Z","id":"KsoXagS8hZ8JdijG","name":"creative_glu","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=You are a smart AI assistant and expert . Your task is to answer user queries about the **CreativeGlu** platform, where n8n workflows are stored and managed.\n\nGreeting should be smart if user message Hi \"/start\" or hello\nresponse--> Hello I am Assistance of creative Glue workspace I will help you to provide information about exciting agents \n\nUse the correct tool based on the query:\n\n* **Logan Workflow (Shipping)**: For Logan shipping, workflows, Telegram bots, etc.\n* **Logan - Inventory Tracking Documentation**: For Logan logistics & inventory tracking.\n* **CreativeGlu_Info_Agent**: For CreativeGlu services, leadership, and company info.\n* **santorio_health_agent**: For Santorio health data like blood reports and Oura metrics.\n\n**ai_marketing_tool**: Call this tool to access the AI Marketing Agent for generating images, blogs, videos, LinkedIn posts, and other marketing content using AI.\n\n📌 If user asks to create or rewrite a post/blog (e.g. LinkedIn/Twitter):\n→ Use CreativeGlu_Info_Agent to get brand info to generate new content in CreativeGlu style.\n\nUse **Google Sheets** if data lookup is needed.\nEach tool should have its own workflow logic.\nIdentify the right tool for each query and respond accordingly.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-220,180],"id":"f95e43c0-7c19-4bf3-9c5f-e74777d3b6b9","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-420,460],"id":"0876d432-aea2-4171-92c9-349962ba6933","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-540,180],"id":"b9b2ebec-fccc-4cd1-9df2-d432461933d2","name":"Telegram Trigger","webhookId":"46da3f26-bc1b-40db-a7d2-38911fd1d0a6","credentials":{"telegramApi":{"id":"0qGMwwu0TzqKG8Y7","name":"Creative Glu Bot"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Gather comprehensive information about the Logan Shipping Bot, including its purpose, how to use it via Telegram, sample or dummy data, and any additional relevant details.","operation":"get","documentURL":"https://docs.google.com/document/d/1Uha-eX7GKXiNvsFxP2iaW91DVjoBXu1oCX7cgidw6-c/edit?tab=t.ljp18la5395x","simple":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[-20,440],"id":"11d91624-030e-4bd0-8cd1-3a3c4aacb92b","name":"Logan Shipping Doc","credentials":{"googleDocsOAuth2Api":{"id":"oXRWK49kYi4imjWg","name":"Dan Acc 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Logan - Inventory Tracking Workflow Documentation\nInventory Management Workflow for Logan’s logistics automation system, integrated with Telegram through the bot @logan_cg_bot. The system allows users to manage inventory seamlessly through a conversational interface. It supports adding items from packing lists, uploading item images, updating quantities, querying inventory insights, and more—all using natural language and AI-based context handling.\n","operation":"get","documentURL":"https://docs.google.com/document/d/1qfrnjWePFDFQmQ8SCImAAHqbPADU2SJ-juqrfYPCa4M/edit?tab=t.0#heading=h.j14mddlerkkg","simple":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[-160,480],"id":"151804df-300e-4e23-9d27-a994fe657bc9","name":"Logan - Inventory Tracking  Documentation","credentials":{"googleDocsOAuth2Api":{"id":"oXRWK49kYi4imjWg","name":"Dan Acc 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-700,460],"id":"fc383f43-330f-44a7-b177-197df2e24a6b","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-560,460],"id":"e235a625-35ee-4a7d-a186-b699364b80f6","name":"Think"},{"parameters":{"content":"# Brain\n\n","height":260,"width":440,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-740,380],"id":"bee12298-6e32-4b69-a45e-9677a3be4f51","name":"Sticky Note6"},{"parameters":{"content":"# Trigger\n","height":260,"width":290,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-640,80],"id":"8c4cd80b-8a1e-44ce-8c43-7c435c8976a7","name":"Sticky Note1"},{"parameters":{"content":"# Response\n\n","height":260,"width":280,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[180,80],"id":"673d7ef7-a117-46ce-9ada-8bf457f35dc4","name":"Sticky Note5"},{"parameters":{"content":"# Creative Glu","height":260,"width":460},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,80],"id":"067bc418-1f14-46fa-8b23-aa0aaf3cbb9e","name":"Sticky Note"},{"parameters":{"content":"# Information Database","height":260,"width":880,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-260,380],"id":"217127b0-79a3-4b65-9d7f-b76b47976b5d","name":"Sticky Note2"},{"parameters":{"descriptionType":"manual","toolDescription":"Call this tool to get the Creative Glu information — their Services, Leadership, and more.","operation":"get","documentURL":"https://docs.google.com/document/d/1FhQMUGjhqJme7bqq4HNcPZ9H4eT7KIgfU82gXfyJBC0/edit?tab=t.0","simple":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[140,480],"id":"986c0917-6444-4c8d-a2a1-c59f2198106f","name":"CreativeGlu_Info_Agent","credentials":{"googleDocsOAuth2Api":{"id":"oXRWK49kYi4imjWg","name":"Dan Acc 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Call this tool to get Santorio-related information, including:\n📄 Health PDFs & blood reports (via OCR & AI)\n💍 Oura Ring data (sleep, readiness, HRV)\n📚 Health Encyclopedia Q&A (diseases, symptoms, recommendations)\nUse for building personal health insights, trends, and chat-based interactions.","operation":"get","documentURL":"https://docs.google.com/document/d/1eKOfuIGMitgnR1_M071sBfFu3bC7U6nQoCz4xX5BH5M/edit?tab=t.0","simple":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[280,440],"id":"e51b3180-2b1a-4b76-b136-780a29acfa8a","name":"santorio_health_agent","credentials":{"googleDocsOAuth2Api":{"id":"oXRWK49kYi4imjWg","name":"Dan Acc 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Call this tool to access the AI Marketing Agent for generating images, blogs, videos, LinkedIn posts, and other marketing content using AI.\n\n\n\n\n\n\n\n\n","operation":"get","documentURL":"https://docs.google.com/document/d/1mVnzmSQQAsSKOzhiVKcHq8aHqa-7lk58bCyCs5kAGcY/edit?tab=t.0#heading=h.n5q8t0gnxp4f","simple":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[420,480],"id":"ba952439-8a7f-4c5c-8245-b2cc4b8e0ff4","name":"ai_marketing_tool","credentials":{"googleDocsOAuth2Api":{"id":"oXRWK49kYi4imjWg","name":"Dan Acc 2"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","replyMarkup":"forceReply","forceReply":{"force_reply":true},"additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[280,180],"id":"1e916186-cf9d-4e9c-8a6d-6b89e664638c","name":"Telegram","webhookId":"2f827d69-af4c-40fd-b829-2abd29217123","credentials":{"telegramApi":{"id":"0qGMwwu0TzqKG8Y7","name":"Creative Glu Bot"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Logan Shipping Doc":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Logan - Inventory Tracking  Documentation":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"CreativeGlu_Info_Agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"santorio_health_agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"ai_marketing_tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8b4f312d-0ecc-4236-81f5-704fbb0a85f9","triggerCount":1,"tags":[]}