Daily-Backup-workflows.json
{"createdAt":"2025-04-17T10:08:13.456Z","updatedAt":"2025-07-25T07:31:46.334Z","id":"nGQkdi2qqFy5PXf6","name":"Daily-Backup-workflows","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[704,64],"id":"8c31bc4f-f135-46f9-9a4a-d668f9431e69","name":"Loop Over Items"},{"parameters":{"mode":"raw","jsonOutput":"={{ $('Loop Over Items').item.json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,48],"id":"e78b44e4-b03d-40c8-882f-15e45794fa66","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-336,48],"id":"48069b35-bbc1-4759-ab0d-89c468494730","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[368,48],"id":"77048c80-a44c-43e2-9309-d6b50506c803","name":"n8n get all workflows","alwaysOutputData":false,"credentials":{"n8nApi":{"id":"6QQljq0lsJalqZx3","name":"n8n account 3"}}},{"parameters":{"content":"## Schedule Trigger\nTriggers the backup workflow daily at 11:00 AM automatically.\n\n","height":292,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-448,-64],"id":"59eec005-7568-4640-abbb-3913501b9f05","name":"Sticky Note"},{"parameters":{"content":"## n8n get all workflows\nFetches all available workflows from your n8n instance.\n\n\n\n","height":292,"width":280},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[256,-64],"id":"8771f2e6-5edd-4d52-94d3-55967b9bebdd","name":"Sticky Note1"},{"parameters":{"resource":"folder","name":"=n8n-gluagents-backup-{{ $now }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"18-DhHn_DdcwbXObOKHAe66BIbkjfXTMS","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://drive.google.com/drive/folders/18-DhHn_DdcwbXObOKHAe66BIbkjfXTMS"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[0,48],"id":"2556c306-d908-4fa4-a8c6-ca6f556f4bea","name":"create backup folder date wise","credentials":{"googleDriveOAuth2Api":{"id":"HuO7IFt6Yu5NXFJX","name":"Creative Glu-New"}}},{"parameters":{"content":"## 📁 new-backup-folder-daily\nCreates a new Google Drive folder named with the current date to store that day’s workflow backups.\n\n\n\n\n\n","height":292,"width":360},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-128,-64],"id":"930b0312-5b9c-408a-b3f7-acd676c12aa9","name":"Sticky Note2"},{"parameters":{"content":"## Loop Over Items\nIterates over each workflow retrieved to process them one-by-one.\n\n","height":676,"width":316},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[576,-208],"id":"d6c77590-0a02-4a83-b6b4-7bbe3db93880","name":"Sticky Note3"},{"parameters":{"content":"## 💾 Store Workflow Backup to GDrive\nCreates a .json file for each workflow and stores it in the daily Google Drive folder.\n\n","height":680,"width":1060},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[912,-208],"id":"2d1037e1-fb51-4d98-83a8-7e7777455cbe","name":"Sticky Note4"},{"parameters":{"content":"## 📝Daily Backup All Workflow\nThe “Daily Backup All Workflow” automation runs every day at 11 AM. It fetches all n8n workflows, creates a new Google Drive folder named with the current date, and stores each workflow as a .josn file inside that folder. This ensures you have automatic daily backups of all your workflows in an organized and safe way.","height":140,"width":600,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-448,-224],"id":"b6ed8a9c-fa9b-457a-ad64-83e5933ba016","name":"Sticky Note5"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"creativegluagents","mode":"list","cachedResultName":"creativegluagents","cachedResultUrl":"https://github.com/creativegluagents"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/creativegluagents/n8n-backup"},"filePath":"={{ $('Edit Fields').item.json.name }}.json","fileContent":"={{ $('Edit Fields').item.json.toJsonString() }}","commitMessage":"intial commit"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1792,160],"id":"c65aebb2-084a-4b30-be9f-25b28fbed3d0","name":"Create a file","webhookId":"6fc13818-2b5b-4241-9983-20ed2d671438","credentials":{"githubApi":{"id":"gDtIAjNZRf14G80f","name":"Creative Glu -New"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"creativegluagents","mode":"list","cachedResultName":"creativegluagents","cachedResultUrl":"https://github.com/creativegluagents"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/creativegluagents/n8n-backup"},"filePath":"={{ $('Edit Fields').item.json.name }}.json","fileContent":"={{ $('Edit Fields').item.json.toJsonString() }}","commitMessage":"=update-file-{{ $now.format('yyyy-MM-dd') }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1808,-160],"id":"11d2510f-b11a-4956-8108-ede1ed69f647","name":"Edit a file","webhookId":"736d4a26-01c7-472b-b0a7-1686aacdf287","credentials":{"githubApi":{"id":"gDtIAjNZRf14G80f","name":"Creative Glu -New"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"43c7d677-0005-4bcb-80fa-7bfdae53adc5","leftValue":"={{ $json.path }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,48],"id":"6bce9d72-19d9-4a77-9929-92c6e51bcd0f","name":"If"},{"parameters":{"operation":"createFromText","content":"={{ $('Edit Fields').item.json.toJsonString() }}","name":"={{ $('Loop Over Items').item.json.name }}.json","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('create backup folder date wise').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1168,48],"id":"b9d06f3e-05f6-40be-909d-eca63ab32179","name":"Create file from text","credentials":{"googleDriveOAuth2Api":{"id":"HuO7IFt6Yu5NXFJX","name":"Creative Glu-New"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"creativegluagents","mode":"list","cachedResultName":"creativegluagents","cachedResultUrl":"https://github.com/creativegluagents"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/creativegluagents/n8n-backup"},"filePath":"={{ $('Edit Fields').item.json.name }}.json","asBinaryProperty":false,"additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1376,48],"id":"96f83e71-836e-4608-84c5-5a8871c689ad","name":"Get a file1","webhookId":"1702f289-ace8-4a3b-946e-72ea787dd3c5","credentials":{"githubApi":{"id":"gDtIAjNZRf14G80f","name":"Creative Glu -New"}},"onError":"continueRegularOutput"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Create file from text","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"create backup folder date wise","type":"main","index":0}]]},"n8n get all workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"create backup folder date wise":{"main":[[{"node":"n8n get all workflows","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Create file from text":{"main":[[{"node":"Get a file1","type":"main","index":0}]]},"Get a file1":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"35ecb1fc-72a1-48b9-a352-b7b1936d5a54","triggerCount":1,"tags":[{"createdAt":"2025-04-17T12:31:45.418Z","updatedAt":"2025-04-17T12:31:45.418Z","id":"ZKp3pMT09eXPP0Oq","name":"Backup"}]}