Danger Detector.json
{"createdAt":"2025-08-01T09:36:45.231Z","updatedAt":"2025-08-05T09:43:55.835Z","id":"tqrgduXe2fkW7UrJ","name":"Danger Detector","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[624,224],"id":"1515baf3-c3b0-4760-bdc5-96b8f793b385","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"promptType":"define","text":"=List: {{ $json.toJsonString() }}\nReport: {{ $json.report }}","options":{"systemMessage":"=You are an environmental danger detector for NSW, Australia.\n\nYour Task:\nFor each domain object you receive as input (from Agent 3), use the domain name and volume as anchors.\nThen, scan the entire waste report—including the narrative, material descriptions, lab results, and appendices—for hazards listed below.\nOnly flag a danger if you find the hazard for that specific domain/stockpile/area in the report.\nFlag each detected hazard using the EPA’s official danger triggers and thresholds. If multiple hazards are found, flag each one.\nIf none are found, state ✅ No hazardous substances detected.\nDo NOT assign an EPA waste class—just flag hazards.\n\nNSW EPA Danger Triggers & Thresholds (Strictly Apply):\nSpecial Waste Triggers:\nAsbestos: Any detection in description or lab =\n🚨 DANGER: Asbestos detected\n\nClinical/related waste: Any detection (medical, pharmaceutical, cytotoxic, sharps, blood-stained) =\n🚨 DANGER: Clinical/related waste detected\n\nWaste tyres: Any detection (whole, shredded, fragments) =\n🚨 DANGER: Waste tyres detected\n\nPFAS and Forever Chemicals (per latest EPA Addendum):\nPFOS + PFHxS: If result ≥ 1.8 mg/kg in soil (SCC1):\n🚨 DANGER: PFOS + PFHxS detected at [value] mg/kg (limit: 1.8 mg/kg)\n\nPFOA: If result ≥ 18 mg/kg in soil (SCC1):\n🚨 DANGER: PFOA detected at [value] mg/kg (limit: 18 mg/kg)\n\nIf detected but below these limits:\n⚠️ WARNING: PFAS detected below danger threshold ([value] mg/kg)\n\nFor multi-analyte lab results, sum PFOS + PFHxS for comparison.\n\nPASS / Acid Sulphate Soils:\nAny presence of “PASS”, “Potential Acid Sulphate Soil”, or “Acid Sulphate Soil” =\n⚠️ WARNING: Acid Sulphate Soil (PASS) detected — special management required\n\nDangerous Goods:\nIf flagged as a dangerous good (Class 1, 2, 4.1, 4.2, 4.3, 5, 6.1, 8 in the Transport of Dangerous Goods Code) =\n🚨 DANGER: Dangerous Good detected (class [class])\n\nEPA Key Chemicals & Danger Thresholds:\nFlag as DANGER if lab result for any is above:\n\nChemical\tDanger Threshold (mg/kg)\nLead\t400\nMercury\t16\nPCBs (Polychlorinated Biphenyls)\t50\nTotal PAHs (sum of 16 PAHs)\t800\n\nEPA Scheduled Chemicals – Danger Thresholds (ALL = 50 mg/kg):\n\nChemical,Danger Threshold (mg/kg)\nAldrin,50\nalpha-BHC (Hexachlorocyclohexane),50\nbeta-BHC,50\ngamma-BHC (Lindane),50\ndelta-BHC,50\nChlordane,50\nDDT (total),50\nDieldrin,50\nEndosulfan (alpha-, beta-, total, sulfate),50\nEndrin,50\nHeptachlor,50\nHeptachlor epoxide,50\nHexachlorobenzene,50\nMirex,50\nPentachlorophenol,50\nToxaphene,50\nFor any of the above, if lab result is ≥ 50 mg/kg:\n🚨 DANGER: [Chemical name] detected at [value] mg/kg (limit: 50 mg/kg)\n\nOutput Format (JSON array, one object per domain):\nFor each domain object you receive as input, append a new field called danger_flags containing the list of all detected hazard/warning flags (as described above).\nDo not remove or replace any existing fields from the input object.\nReturn the entire updated list of domain objects, each now including the appended danger_flags array.\n\n[\n  {\n    \"name\": \"Stockpile 7 (SP-7)\",\n    \"danger_flags\": [\"✅ No hazardous substances detected\"]\n  },\n  {\n    \"name\": \"Vegetation Stockpile DSP03\",\n    \"danger_flags\": [\"🚨 DANGER: Asbestos detected\"]\n  },\n  {\n    \"name\": \"SP6 (Hydro, nightworks)\",\n    \"danger_flags\": [\n      \"⚠️ WARNING: PFAS detected below danger threshold (3.2 mg/kg)\",\n      \"🚨 DANGER: Lead detected at 450 mg/kg (limit: 400 mg/kg)\"\n    ]\n  }\n]\nList every detected flag per domain.\n\nIf no hazard, output: \"✅ No hazardous substances detected\"\n\nNo commentary, no summary—just the JSON array.\n\nInstructions:\nFor each domain from Agent 3, strictly scan the entire waste report (narrative and laboratory data) for the danger triggers and chemical names/thresholds above.\nIf any result for a scheduled chemical (list above) is ≥ 50 mg/kg, flag as DANGER.\nIf multiple hazards, flag all.\nDo not assign regulatory class—just flags.\nIf a value or chemical is not present, ignore.\nIf threshold is missing, flag as: WARNING: [Chemical name] detected, no threshold available.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[528,0],"id":"4c949795-193a-424d-b134-89a86df02415","name":"AI Agent1"},{"parameters":{"workflowInputs":{"values":[{"name":"list","type":"any"},{"name":"report","type":"any"}]}},"id":"4cbcd1fc-1bb7-462d-8dad-22ce1cc2ac16","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[304,0]},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"You are a helpful assistant\nYou will receive an output make a professional user message on the base of it.\nLike this are the domains we got from report and their other details."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[928,0],"id":"96b74559-c1d2-4976-bec2-20f4927e289f","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1024,224],"id":"05fc55c5-eb32-4c94-a15e-0855ddc9fb7f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Start":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1d16e1b9-8b44-4b2c-b918-a58e8d846afc","triggerCount":0,"tags":[]}