Deal Proposal Google Doc.json
{"createdAt":"2025-05-29T07:58:54.525Z","updatedAt":"2025-05-29T13:38:40.119Z","id":"igOejqb26HoaqsSR","name":"Deal Proposal Google Doc","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-260,-100],"id":"348cd0b9-a90c-49b0-808c-6a4a048a662c","name":"When Executed by Another Workflow"},{"parameters":{"folderId":"1uKohUF_hy3J2CIY2nN_T7NuK3gMXWSKO","title":"={{ $json.output[\"proposal Name\"] }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[340,-100],"id":"cf74c435-ff3f-49a8-bb08-a2a15db01af4","name":"create a google doc file","credentials":{"googleDocsOAuth2Api":{"id":"Om41V3tJihrnzpYR","name":"Google Docs account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-12,120],"id":"8bfc0a72-3220-445b-a500-85cb1e239017","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"HpEjQpM176fwztFV","name":"OpenRouter account 2"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Extract Doc Name').item.json.output.finalProposal }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[556,-100],"id":"69c9cf26-fa5d-4540-9ec3-8e0527bda55b","name":"insert deal proposal to doc","credentials":{"googleDocsOAuth2Api":{"id":"Om41V3tJihrnzpYR","name":"Google Docs account"}}},{"parameters":{"chatId":"6201050219","text":"=📄 Your deal proposal has been created:\\n\n*Name:* {{ $('create a google doc file').item.json.name }}\\n\n*Doc Url:* https://docs.google.com/document/d/{{ $('create a google doc file').item.json.id.replace(/_/g, '\\\\_') }}\n","replyMarkup":"inlineKeyboard","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[776,-100],"id":"2b307f0e-d7f7-4ea0-80a9-1c7b6bf6e9f8","name":"Respond","webhookId":"74efdc95-07c3-4730-abe2-862c397cee65","credentials":{"telegramApi":{"id":"6FtIWUsGifso02j7","name":"Helen"}}},{"parameters":{"promptType":"define","text":"={{ $json.query }}","hasOutputParser":true,"options":{"systemMessage":"=You are a helpful assistant\n\nyou job is extract the deal name from that user message\nDeal Proposal :: {{ $json.query }}\n\n\noutput :: dealName-proposal-{{ $now }}\noutput :: final Proposal without markdown\n\n\nInstructions\nDo not do any thing elsa apart from that \nRemove Al markdown form Deal Proposal "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-40,-100],"id":"e462020e-293a-4a0e-9720-2dbd0ea6625e","name":"Extract Doc Name"},{"parameters":{"jsonSchemaExample":"{\n\t\"proposal Name\": \"\",\n\t\"finalProposal\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[108,120],"id":"d4e01c3a-99c3-475a-b9c5-b1e11e79805f","name":"Structured Output Parser"},{"parameters":{"otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[960,-100],"id":"994f9c50-99c6-41f1-84ec-f0a356c840c2","name":"Slack","webhookId":"32580013-e035-4bfb-89d0-33df888918c0","credentials":{"slackApi":{"id":"OsZxUwI6Pep7OsrL","name":"Slack account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Extract Doc Name","type":"main","index":0}]]},"create a google doc file":{"main":[[{"node":"insert deal proposal to doc","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Extract Doc Name","type":"ai_languageModel","index":0}]]},"insert deal proposal to doc":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Extract Doc Name":{"main":[[{"node":"create a google doc file","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Extract Doc Name","type":"ai_outputParser","index":0}]]},"Respond":{"main":[[{"node":"Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"edcf9aef-5601-4fd4-bd1d-7416957d83e3","triggerCount":0,"tags":[]}