Document checker.json
{"createdAt":"2025-07-28T10:34:31.089Z","updatedAt":"2025-07-29T12:10:28.752Z","id":"YSGCDKWlU7ZSKMaF","name":"Document checker","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Pdf","formFields":{"values":[{"fieldLabel":"data","fieldType":"file","multipleFiles":false}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-2000,-520],"id":"b38280ff-ec1d-4c5f-a585-de350b0af9c3","name":"On form submission","webhookId":"2ba7a82e-a7d6-4073-bc34-7eaf553afc64","disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=Today's date: {{ $today }}\n\nYou are a compliance assistant for waste classification. Given only the raw text of a waste classification report, extract and report the following:\n\n1. Report Date\n- Find the main report date (issue date, revision date, or signature date).\n- If the date is more than 2 years ago, label it as \"TOO OLD\". Otherwise, label as \"VALID\".\n\n2. Mandatory Sections\nFor each required section, check if it is present anywhere in the text (including appendices or attachments). Accept close matches:\n- Chain of Custody\n- Certificate Analysis (also accept \"Laboratory Results\", \"Certificates of Analysis\", \"Lab Reports\")\n- Site History (also accept \"Introduction\" or \"Background\" if describing site/project history)\n\nFor each, return:\n- Whether it is Found or Not Found\n- The actual section heading and page/location (if mentioned)\n- If not found, say \"Not Found\"\n\n3. Extract if present:\n- Waste volumes (with units, e.g., tons, m3)\n- Waste areas (with units, e.g., ha, m2)\n- Consultant name\n- All found dates (report date, sampling dates, etc.)\n\n4. Output Format\nReturn everything in this template:\n\n# Document Compliance Check\n\n## Report Date\n{date} ({status})\n\n## Mandatory Sections\n- Chain of Custody: {Found/Not Found} ({section heading/location or \"Not Found\"})\n- Certificate Analysis: {Found/Not Found} ({section heading/location or \"Not Found\"})\n- Site History: {Found/Not Found} ({section heading/location or \"Not Found\"})\n\n## Key Information\n- Waste Volumes: {text or \"Not Found\"}\n- Waste Areas: {text or \"Not Found\"}\n- Consultant Name: {text or \"Not Found\"}\n- All Dates Found: {comma-separated list or \"Not Found\"}\n\nInstructions:\n- Do not summarize or comment.\n- Do not make up content—only report what is present.\n- If a heading is similar but not exact, return the actual heading."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-1552,-720],"id":"9017ea6e-dcbc-4b7d-b208-e94266058986","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1456,-496],"id":"7c7666f4-2aa3-4ead-ad34-fdb2dc1be04d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1776,-520],"id":"b7971e13-c6b8-4fce-884e-6619530593b2","name":"Extract from File"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2224,-712],"id":"85b43417-4e54-45c3-affd-04adacdf8712","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1Q7-aXk8oMJD0WaEHdA9tm2f9fdl36EtX","mode":"list","cachedResultName":"Picton Report.pdf","cachedResultUrl":"https://drive.google.com/file/d/1Q7-aXk8oMJD0WaEHdA9tm2f9fdl36EtX/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2000,-712],"id":"fef281b3-f530-4f6e-ba37-677efb6a5023","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"HuO7IFt6Yu5NXFJX","name":"Creative Glu-New"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1776,-712],"id":"f395c480-bbc7-467a-864d-64cea33af2a7","name":"Extract from File1"},{"parameters":{"jsCode":"// Get markdown from the previous node (change the key if yours is different)\nconst md = $input.first().json.output || \"\";\n\n// Helper to extract values using regex\nfunction extract(regex, input) {\n  const match = input.match(regex);\n  return match ? match[1].trim() : null;\n}\n\n// Extract report date and status\nconst dateMatch = md.match(/## Report Date\\s*([\\s\\S]+?)\\((VALID|TOO OLD)\\)/i);\nconst reportDate = dateMatch ? dateMatch[1].trim() : null;\nconst reportStatus = dateMatch ? dateMatch[2].trim() : null;\n\n// Extract mandatory sections (Chain of Custody, Certificate Analysis, Site History)\nconst chainMatch = md.match(/Chain of Custody:\\s*(Found|Not Found)[^(]*\\(([^)]*)\\)/i);\nconst chainStatus = chainMatch ? chainMatch[1].trim() : null;\nconst chainDetails = chainMatch ? chainMatch[2].trim() : null;\n\nconst certMatch = md.match(/Certificate Analysis:\\s*(Found|Not Found)[^(]*\\(([^)]*)\\)/i);\nconst certStatus = certMatch ? certMatch[1].trim() : null;\nconst certDetails = certMatch ? certMatch[2].trim() : null;\n\nconst siteMatch = md.match(/Site History:\\s*(Found|Not Found)[^(]*\\(([^)]*)\\)/i);\nconst siteStatus = siteMatch ? siteMatch[1].trim() : null;\nconst siteDetails = siteMatch ? siteMatch[2].trim() : null;\n\n// Optional: Waste Volumes, Areas, Consultant Name\nconst wasteVolume = extract(/Waste Volumes:\\s*([^\\n]+)/i, md);\nconst wasteAreas = extract(/Waste Areas:\\s*([^\\n]+)/i, md);\nconst consultant = extract(/Consultant Name:\\s*([^\\n]+)/i, md);\n\n// Output JSON for easy use in IF nodes or next steps\nreturn [\n  {\n    reportDate,\n    reportStatus,\n    chainStatus,\n    chainDetails,\n    certStatus,\n    certDetails,\n    siteStatus,\n    siteDetails,\n    wasteVolume,\n    wasteAreas,\n    consultant\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1152,-616],"id":"eefd65c8-b97c-4684-8695-ed3dbc5ca97e","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"abb2d357-3694-4200-9667-eefd17de2dc7","leftValue":"={{ $json.reportStatus }}","rightValue":"TOO OLD","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"abd287d8-3bf3-43fb-a3fd-f84790a18f2d","leftValue":"={{ $json.chainStatus }}","rightValue":"Not found","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"32e13b5e-4ffd-4342-b377-32c02e4bfed7","leftValue":"={{ $json.certStatus }}","rightValue":"Not found","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"05bae99f-086e-4e64-b231-14caaaddfe62","leftValue":"={{ $json.siteStatus }}","rightValue":"Not found","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-928,-616],"id":"07b582d0-602e-4fe3-aa64-8ef6fe619338","name":"If"},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/parsing/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"data","value":"data"}]},"options":{}},"id":"664e18c9-d81f-4277-977f-c2f3274a8d68","name":"Upload to LlamaParse","type":"n8n-nodes-base.httpRequest","position":[-2224,-152],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"0npi5HVx8iITBpoK","name":"PI API Token"}}},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"4de64afd-8c81-47ef-8d9e-a996cf4c7f77","name":"Get Processing Status","type":"n8n-nodes-base.httpRequest","position":[-2000,-152],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"0npi5HVx8iITBpoK","name":"PI API Token"}}},{"parameters":{"amount":1},"id":"1bb799ec-d4af-44b0-a624-53a28ce5cdf9","name":"Wait to stay within service limits","type":"n8n-nodes-base.wait","position":[-1552,-56],"webhookId":"17a96ed6-b5ff-47bb-a8a2-39c1eb40185a","typeVersion":1.1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"300fce8c-b19a-4d0c-86e8-f62853c70ce2","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"SUCCESS"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e6058aa0-a3e2-4ce3-9bed-6ff41a5be052","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"ERROR"}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ceb6338f-4261-40ac-be11-91f61c7302ba","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"CANCELED"}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"0fa97d86-432a-409a-917e-5f1a002b1ab9","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"PENDING"}],"combinator":"and"},"renameOutput":true,"outputKey":"PENDING"}]},"options":{"allMatchingOutputs":true}},"id":"60451ac4-2165-4e69-8aca-a3de23379fe9","name":"Is Job Ready?","type":"n8n-nodes-base.switch","position":[-1776,-272],"typeVersion":3},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}/result/markdown","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"redirect":{"redirect":{}}}},"id":"31024d32-5d08-40ce-a6ce-32e609b5ba2f","name":"Get Parsed Data","type":"n8n-nodes-base.httpRequest","position":[-1552,-288],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"0npi5HVx8iITBpoK","name":"PI API Token"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-688,-704],"id":"c162b9b9-9742-4224-8246-ba21b50ac70d","name":"Send a message","webhookId":"ce3dc8da-9235-4f21-90bd-82ff1b020745","credentials":{"gmailOAuth2":{"id":"2GLRzkgXkIxgIJKL","name":"Gmail account"}}}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"Upload to LlamaParse":{"main":[[{"node":"Get Processing Status","type":"main","index":0}]]},"Get Processing Status":{"main":[[{"node":"Is Job Ready?","type":"main","index":0}]]},"Wait to stay within service limits":{"main":[[{"node":"Get Processing Status","type":"main","index":0}]]},"Is Job Ready?":{"main":[[{"node":"Get Parsed Data","type":"main","index":0}],[],[],[{"node":"Wait to stay within service limits","type":"main","index":0}]]},"If":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Download file":[{"json":{}}],"Extract from File1":[{"json":{"numpages":32,"numrender":32,"info":{"PDFFormatVersion":"1.7","Language":null,"EncryptFilterName":null,"IsLinearized":true,"IsAcroFormPresent":false,"IsXFAPresent":false,"IsCollectionPresent":false,"IsSignaturesPresent":false,"Author":"dino","CreationDate":"D:20241106061320+11'00'","Creator":"Adobe Acrobat 10.1.16","ModDate":"D:20241106061320+11'00'","Producer":"Adobe Acrobat 10.1.16","Title":""},"metadata":{"xmp:modifydate":"2024-11-06T06:13:20+11:00","xmp:createdate":"2024-11-06T06:13:20+11:00","xmp:metadatadate":"2024-11-06T06:13:20+11:00","xmp:creatortool":"Adobe Acrobat 10.1.16","dc:format":"application/pdf","dc:creator":["dino"],"xmpmm:documentid":"uuid:55bafdd2-35e4-402f-93b8-6407f1da43f9","xmpmm:instanceid":"uuid:3c9306a2-68b6-4f28-bacb-d9301f13512d","pdf:producer":"Adobe Acrobat 10.1.16"},"text":"Ll001 gsb remed sp7 wclass dp 6.11.2024.doc Page 1 of 6\nRef: E2W-0325, L008 v1\n6 November 2024\nAndrew Poore\nWollondilly Shire Council\nMenangle St, Picton, NSW\nRe: Stockpile (SP-7, 200m3) Waste Classification Assessment\nGovernment Services Building Site- Corner of Colden Street & Corbett Lane, Picton.\n1 Introduction\nEarth2Water Pty Ltd (E2W) is pleased to submit our letter report to Wollondilly Shire Council\n(Council) for conducting a waste classification assessment for the soil stockpile (~200 m3)\nlocated at the proposed Government Services Building Site (GSB)- corner of Colden Street &\nCorbett Lane, Picton (Figure 1, Plates 1 to 5).\nE2W understand that the stockpile originates from the recent excavations works at the GSB\nsite (SW corner; 30 October to 1 November 2024). The purpose of the waste classification is to\nfacilitate the disposal of materials to an appropriately licensed landfill facility.\nThe soil sampling and waste classification of the stockpile (SP-7) was undertaken on 2\nNovember 2024 by E2W (Dino Parisotto; certified environmental practitioner - site\ncontamination specialist, SC40188) in consultation with Council and Kane Construction Pty\nLtd (project managers). The stockpile comprises ~200 m3 (~380 t) of brown/grey clay loam\nwith sand, concrete/brick rubble, sandstone, minor asphalt, and plastic excavated from\ndecommissioned service trench and shallow fill materials.\nThe eight (8) soil samples (SP-7A, 7B, 7C, 7D, 7E. 7F, 7G, 7H and QA sample \n1 \n) were\nsubmitted for a range of laboratory analyses\n2 \n(TPH, BTEX, PAH, heavy metals, OC, PCB,\nasbestos ID) to a NATA accredited laboratory (Eurofins Pty Ltd). The samples were compared\nto the NSW EPA Waste Classification Guidelines (2014).\nThis letter report includes the results of field and analytical testing and the waste classification\nassessment for the stockpile (SP-7). The soil logging details, site photographic plates (5),\ntabulated analytical results (Table 1), laboratory report (Eurofins) and limitations are included\nin this report (Appendix A& B).\n2 Background & Scope of Work\nE2W (Dino Parisotto) has conducted extensive environmental assessment (incl remedial action\nplan) and detailed soil testing at the GSB site during 2023 and 2024. The scope of works\nincluded field sampling, laboratory analyses, assessment and reporting of environmental\n1 \nThe sample density (1 per 25m3) was based on NSW EPA, 2022 and NSW EPA, 2014. Sample Design\nPart 1-Application. A blind duplicate (SP-7A/DUP-1) collected to assess reliability of results.\n2 \nThe chemicals of concern are based on potential contaminants associated with imported fill.\n\nLl001 gsb remed sp7 wclass dp 6.11.2024.doc Page 2 of 6\ninformation. The scope was aimed to classify the stockpile and assess contamination levels as\nper the NSW EPA requirements.\n The soil sampling and waste classification of the stockpile (SP-7, 200 m3) was\nundertaken on 2 November 2024 by E2W (Dino Parisotto; certified environmental\npractitioner - site contamination specialist, SC40188).\n E2W conducted an inspection of the stockpile to assess for any asbestos containing\nmaterials (ACM- none detected). Localised debris containing concrete rubble, bricks,\nplastic and metal/cables was detected in the fill within the service trenches and pits.\n Sampling was conducted by E2W using a stainless-steel trowel (0-0.2m) and sample\ncontainers provided by the laboratory. A PID (minirae3000) was used to screen the\nsoils for volatile organic compounds.\n Eight (8) soil samples (SP-7A to SP-7H & QA sample; DUP-1) were collected from the\nstockpile to classify the soils as per the NSWEPA (2014) guidelines using the minimum\nsample density (i.e. 1 sample per 25m3). Samples were submitted for laboratory\nanalyses\n3 \n(TPH, BTEX, PAH, metals, OC, PCB, and asbestos ID) to a NATA\naccredited laboratory (Eurofins) under E2W chain of custody procedures.\n3 Soil Guidelines & Results\nThe site investigation and testing was undertaken in accordance with published guidelines,\nwhich are approved under direction 105 of the Act (reference: www.epa.nsw.gov.au/your-\nenvironment/contaminatedland/manaping-contaminated-land/statutory-guidelines).\no NSW EPA (2014), Part 1: Classifying the Waste (2014). These guidelines are required\nfor the offsite disposal of soils to a licenced landfill\no EPA, 2022. Sampling design part 1. Application\no Guidelines for consultants reporting on contaminated sites, reprinted September 2020.\n The National Environment Protection (Assessment of Site Contamination) Measure 1999\n(NEPC 1999) are replaced as of 16 May 2013 by the National Environment Protection\n(Assessment of Site Contamination) Measure 1999 (April 2013). The NEPM guidelines\nspecify maximum chemical concentrations considered acceptable for various land uses\nincluding residential, and recreational. E2W have referenced the commercial/industrial\n(NEPM-D) for a general reference to assess risk to site workers.\no Health Investigation Levels (HILs) for \nmetals and organic substances. The HILs\nare applicable for assessing human health risk via all relevant pathways of\nexposure. The HILs are generic to all soil types.\no Health Screening Levels (HSLs) for selected petroleum compounds and\nfractions. The HSLs are applicable when assessing human health risk via the\ninhalation and direct contact pathways. The HSLs depend on specific soil\nphysicochemical properties, land use scenarios, and the characteristics of\nbuilding structures. They apply to different soil types, and sampling depths.\no As per NEPM (2013), the detection of any asbestos (visual, or laboratory\nanalyses) is used as the guideline for assessing asbestos risk. For this site, a\npositive detection of asbestos fibres by the laboratory or by E2W (visual)\n3 \nThe chemicals of concern are based on potential contaminants associated with imported fill and the\nformer UPSS at the site\n.\n\nLl001 gsb remed sp7 wclass dp 6.11.2024.doc Page 3 of 6\nindicates exceedance of the guidelines (NEPM,2013). Fibro fragments (ACM)\nwere not observed by E2W during the sampling works on 2 November 2024.\nThe NSW EPA (2014) waste classification and other relevant guidelines (i.e. NEPM 2013,\nHIL-D commercial/industrial land uses), and analytical results are presented in the Table 1.\nResults for Stockpile 7\n The analytical results indicate that “no asbestos” was detected in the 8 soil samples (SP-7A to\nSP-7H, & DUP-1) analysed from the stockpile. E2W did not observe any asbestos containing\nmaterials (fibro) in the stockpile or at the sample locations.\n The contaminants such as heavy metals are within the NSW EPA (2014) guidelines for general\nsolid waste (GSW) category for all samples analysed. Other potential contaminants such as\nhydrocarbons (TPH/BTEX), PAHs, OC, PCBs are at low concentrations, not detectable and/or\nwithin the GSW classification for all samples (8+1 QA).\n4 Conclusions and Recommendations\nBased on the field sampling and laboratory analysis of the stockpile (SP-7 @200m3, ~380t)\nlocated at the GSB site the following conclusions are offered.\n The concentrations of contaminants (TPH, BTEX, PAH, metals, OC, PCBs) are within\nthe GSW waste classification category.\n Bonded asbestos fragments (fibro) were not detected over the stockpile by E2W. No\nasbestos was detected in the eight soil samples (incl QA sample) submitted for\nlaboratory analyses.\nThe stockpile (SP7, 200m3) is classified as general solid waste (GSW).\nPlease call the undersigned for any questions regarding this letter report.\nSincerely;\nEarth2Water Pty Ltd\n\\\nDino Parisotto (Managing Director)\nBAppSc- Geology, Hon’s: MAppSc-Groundwater, SC40118\nAttachments:\nFigure 1 Site Layout & Stockpile Location Plates (5) 2 November 2024\nTable 1 Soil Analytical Results-GSB Picton Appendix A- Laboratory Report,\nAppendix B – Limitations\n\nLl001 gsb remed sp7 wclass dp 6.11.2024.doc Page 4 of 6\nFigure\nPlates\nResults Table\n\nSite Layout & Stockpile Location- 2 November 2024\nDate: 2 Nov 2\nReference:\n024\nE2W_325_02.cdr\nRAP for Picton Government Services Building\nLEGEND\nCurrent excavations (0.5m)\napprox 250m2\nSite boundary (GSB)\nStockpile 7: Test 2-11-24\n(SP-7A,7B,7C,7D,7E, 7F,\n7G, & SP-7H)\nApprox 200m3 Fill\n(stockpile areas formed\ninto 1 large stockpile after\nsampling)\nN\n0 5 10 15 20\nScale (metres)\nFigure 1\nSP-7\n\nPlates 1 &2 (2 November 2024). View of\nstockpile (SP-7, 200m3) comprising three\nsections; larger stockpile@ 120m3, smaller\nstockpile@ 30m3, and elevated ramp area\n@50m3. The stockpiles comprise shallow fill\n(brown/grey clay loam, with concrete, bricks,\nasphalt, plastic) excavated from the SW corner\nof site. The SW corner comprises backfilled\nservice trenches/pits with cables and pipes (No\nACM). Uniform brown/grey clays underneath\nthe fill.\nPlates 3,4, & 5 (2 November 2024). View of\nstockpile (SP-7) and sample locations (SP-7F, SP7C-\nbrown/grey clay loam with minor debris) and SP-7G\n(gravelly grey soils with concrete, crushed sandstone,\nand bitumen). Samples collected from all parts of\nSP-7. Fibro fragments were not detected in the\nsamples (8) collected (SP8A to 8H) or the stockpiles.\nPicton GSB- Fill Classification\nRef: E2W-325 GSB SP7, 2 Nov 24\nPhotographic Plates (1 of 1)\n\nEarth2Water Pty Ltd\nEPA 2014 -\nWaste Class\n(GSW)\nNEPM 2013\nHSLs*/HILs**\nD\nSP-7A SP-7B SP-7C SP-7D SP-7E SP-7F SP-7G SP-7H SP-7A DUP-01 RPD %\n0-0.2 0-0.2 0-0.2 0-0.2 0-0.2 0-0.2 0-0.2 0-0.2 0-0.2 QA Sample\nUnits LOR 2/11/2024 2/11/2024 2/11/2024 2/11/2024 2/11/2024 2/11/2024 2/11/2024 2/11/2024 2/11/2024 2/11/2024\nMaterial Description Fill\nFill Fill Fill Fill Fill Fill Fill Fill Fill Fill OK\n1.0 1.0 0.5 0.5 0.5 0.5 1.0 1.0 1.0\nAsbestos ID (ALS Lab) \nfibre / fines No No No No No No No No No No OK\nOnsite Visual ID for ACM (E2W) Fibro frags No No No No No No No No No No\nHeavy Metals\nArsenic mg/kg 5 \n100 \n3000 10 6.2 5 7.7 47 12 6.8 9.4 10 7.9 \nNA\nCadmium mg/kg 1 \n20 \n900 0.7 < 0.4 0.5 < 0.4 < 0.4 < 0.4 < 0.4 < 0.4 0.7 < 0.4 \nNA\nChromium (total) mg/kg 2 3600 18 41 29 28 15 21 27 24 18 16 \n11.8\nCopper mg/kg 5 240000 39 28 21 31 37 38 30 31 39 32 \n19.7\nLead mg/kg 5 100 1500 21 21 25 17 22 20 15 23 21 21 \n0.0\nNickel mg/kg 2 \n40 \n6000 22 29 25 17 24 22 25 26 22 19 \n14.6\nZinc mg/kg 5 400000 63 64 62 60 74 70 64 73 63 58 \n8.3\nMercury mg/kg 0.1 4 730 < 0.1 < 0.1 < 0.1 < 0.1 < 0.1 < 0.1 < 0.1 < 0.1 < 0.1 < 0.1 NA\nTotal Petroleum Hydrocarbons\nC6 - C10 Fraction mg/kg 10 650 # < 20 < 20 < 20 < 20 < 20 < 20 < 20 < 20 < 20 < 20 NA\nC6 - C10 Fraction - BTEX (F1) mg/kg 10 250 < 20 < 20 < 20 < 20 < 20 < 20 < 20 < 20 < 20 < 20\n>C10 - C16 Fraction mg/kg 50 < 50 < 50 < 50 < 50 < 50 < 50 < 50 < 50 96 < 50\n>C10 - C16 Fraction -Naphthalene (F2) mg/kg 50 NL < 50 < 50 < 50 < 50 < 50 < 50 < 50 < 50 96 < 50\n>C16 - C34 Fraction mg/kg 100 <100 <100 <100 <100 250 <100 <100 <100 <100 <100\n>C34 - C40 Fraction mg/kg 100 < 100 < 100 < 100 < 100 280 < 100 < 100 < 100 < 100 < 100\nTotal C10-C40 (sum) mg/kg 50 10,000 # 96 ND ND ND 530 ND ND ND 96 ND\nBTEXN HSL (<1m) D\nBenzene mg/kg 0.2 10 4 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 NA\nToluene mg/kg 0.5 288 NL <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1\nEthylbenzene mg/kg 0.5 600 NL <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1\nmeta & para Xylenes mg/kg 0.5 <0.2 <0.2 <0.2 <0.2 <0.2 <0.2 <0.2 <0.2 <0.2 <0.2\northo Xylenes mg/kg 0.5 <0.3 <0.3 <0.3 <0.3 <0.3 <0.3 <0.3 <0.3 <0.3 <0.3\nTotal Polychlorinated biphenyls\nPCBs mg/kg 1 <50 7 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 <0.1 NA\nPesticides (OC's) #\nDDT + DDE + DDD (Total)* mg/kg 0.05 240 3600 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 NA\nChlordanes - Total mg/kg 0.05 50 530 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05\nEndrin mg/kg 0.05 10 100 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05\nHeptachlor mg/kg 0.05 6 50 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05\nAldrin and Dieldrin (Total)* mg/kg 0.05 6 45 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05\nEndosulfan (sum) mg/kg 0.05 60 2000 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05 <0.05\nPAHS HIL D (<1)\nNaphthalene mg/kg 0.5 NL <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 NA\nAcenaphthylene mg/kg 0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5\nAcenaphthene mg/kg 0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5\nFluorene mg/kg 0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5\nPhenanthrene mg/kg 0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 0.9 <0.5 <0.5\nAnthracene mg/kg 0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5\nFluoranthene mg/kg 0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5\nPyrene mg/kg 0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5\nBenz(a)anthracene mg/kg 0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5\nChrysene mg/kg 0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5\nBenzo(b)fluoranthene mg/kg 0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5\nBenzo(k)fluoranthene mg/kg 0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5\nBenzo(a)pyrene mg/kg 0.5 0.8 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5\nIndeno(1.2.3.cd)pyrene mg/kg 0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5\nDibenz(a.h)anthracene mg/kg 0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5\nBenzo(g.h.i)perylene mg/kg 0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5 <0.5\nBenzo(a)pyrene TEQ (half LOR) mg/kg 0.5 40 0.6 0.6 0.6 0.6 0.6 0.6 0.6 0.6 0.6 0.6\nPAHS (total) mg/kg 0.5 200 # 4000 ND ND ND ND ND ND ND 0.9 ND ND Pass- QA\nNOTES:\n** NEPM (2013) HSL used \"silt\" soil type used for commercial guidelines\nND= Not detected PID = Photoionisation detector (minirae3000) calibrated; 100 ppm isobutylene(10.6 ev)\n# In accordance with EPA (2014) Waste Classification Guidelines: Part 1: Classifying Waste and using the specific contaminant concentration. GSW= general solid waste\nSoil Type\nTable 1: Soil Analytical Results,\nGSB Picton - Remedial Works (SP7).\nSample Depth (m bgl)\nPurpose: Waste Classification of soil\nstockpile (SP7, 200m3). Excavated &\nstored onsite (GSB)\nDate\nStockpile 7 (200m3).Fill: Brown/grey clay loam, sand, gravel, sandstone rocks and rubble (concrete, bricks,\ncables, some plastic pipe & cables)\nGSW\nSamples collected by D.Parisotto: CEnvP (site contamination specialist, SC40118) using decontaminated s/s trowell & laboratory containers\nPID (ppm)\n1000 NL\nWaste Classification (EPA, 2014)\nTable1 SP-7 lab results DP 2-11-24.xlsx Page1 of 1\nPrepared by: Earth2Water Pty Ltd\nChecked by: DP\n\nLl001 gsb remed sp7 wclass dp 6.11.2024.doc Page 5 of 6\nAppendix A\nLaboratory Report\n\n\n\nCertificate of Analysis\nEarth2Water P/L\n175 Fern Street\nGerringong\nNSW 2534\nAttention: - Dino Parisotto (Reports & Invoices)\nReport 1156064-S\nProject name GSB-PICTON REMED\nReceived Date Nov 04, 2024\nClient Sample ID \nSP-7A SP-7B SP-7C SP-7D\nSample Matrix Soil Soil Soil Soil\nEurofins Sample No. \nS24-\nNo0006279 \nS24-\nNo0006280 \nS24-\nNo0006281 \nS24-\nNo0006282\nDate Sampled Nov 02, 2024 Nov 02, 2024 Nov 02, 2024 Nov 02, 2024\nTest/Reference LOR Unit\nTotal Recoverable Hydrocarbons\nTRH C6-C9 20 mg/kg < 20 < 20 < 20 < 20\nTRH C10-C14 20 mg/kg < 20 < 20 25 < 20\nTRH C15-C28 50 mg/kg < 50 < 50 74 55\nTRH C29-C36 50 mg/kg < 50 < 50 < 50 < 50\nTRH C10-C36 (Total) 50 mg/kg < 50 < 50 99 55\nTRH C6-C10 20 mg/kg < 20 < 20 < 20 < 20\nTRH C6-C10 less BTEX (F1)\nN04 \n20 mg/kg < 20 < 20 < 20 < 20\nTRH >C10-C16 50 mg/kg < 50 < 50 < 50 < 50\nTRH >C10-C16 less Naphthalene (F2)*\nN01 \n50 mg/kg < 50 < 50 < 50 < 50\nTRH >C16-C34 100 mg/kg < 100 < 100 < 100 < 100\nTRH >C34-C40 100 mg/kg < 100 < 100 < 100 < 100\nTRH >C10-C40 (total)* 100 mg/kg < 100 < 100 < 100 < 100\nBTEX\nBenzene 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nToluene 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nEthylbenzene 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nm&p-Xylenes 0.2 mg/kg < 0.2 < 0.2 < 0.2 < 0.2\no-Xylene 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nXylenes - Total* 0.3 mg/kg < 0.3 < 0.3 < 0.3 < 0.3\n4-Bromofluorobenzene (surr.) 1 % 96 97 97 92\nTotal Recoverable Hydrocarbons - 2013 NEPM Fractions\nNaphthalene\nN02 \n0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nPolycyclic Aromatic Hydrocarbons\nBenzo(a)pyrene TEQ (lower bound) * 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nBenzo(a)pyrene TEQ (medium bound) * 0.5 mg/kg 0.6 0.6 0.6 0.6\nBenzo(a)pyrene TEQ (upper bound) * 0.5 mg/kg 1.2 1.2 1.2 1.2\nAcenaphthene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nAcenaphthylene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nAnthracene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nBenz(a)anthracene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nBenzo(a)pyrene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nBenzo(b&j)fluoranthene\nN07 \n0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nBenzo(g.h.i)perylene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nBenzo(k)fluoranthene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nChrysene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nDibenz(a.h)anthracene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 1 of 15\nReport Number: 1156064-S\nNATA Accredited\nAccreditation Number 1261\nSite Number 18217\nAccredited for compliance with ISO/IEC 17025 – Testing\nNATA is a signatory to the ILAC Mutual Recognition\nArrangement for the mutual recognition of the\nequivalence of testing, medical testing, calibration,\ninspection, proficiency testing scheme providers and\nreference materials producers reports and certificates.\n\nClient Sample ID \nSP-7A SP-7B SP-7C SP-7D\nSample Matrix Soil Soil Soil Soil\nEurofins Sample No. \nS24-\nNo0006279 \nS24-\nNo0006280 \nS24-\nNo0006281 \nS24-\nNo0006282\nDate Sampled Nov 02, 2024 Nov 02, 2024 Nov 02, 2024 Nov 02, 2024\nTest/Reference LOR Unit\nPolycyclic Aromatic Hydrocarbons\nFluoranthene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nFluorene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nIndeno(1.2.3-cd)pyrene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nNaphthalene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nPhenanthrene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nPyrene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nTotal PAH* 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\n2-Fluorobiphenyl (surr.) 1 % 89 86 104 67\np-Terphenyl-d14 (surr.) 1 % 77 76 110 59\nOrganochlorine Pesticides\nChlordanes - Total 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\n4.4'-DDD 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\n4.4'-DDE 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\n4.4'-DDT 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\na-HCH 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nAldrin 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nb-HCH 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nd-HCH 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nDieldrin 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nEndosulfan I 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nEndosulfan II 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nEndosulfan sulphate 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nEndrin 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nEndrin aldehyde 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nEndrin ketone 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\ng-HCH (Lindane) 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nHeptachlor 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nHeptachlor epoxide 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nHexachlorobenzene 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nMethoxychlor 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nToxaphene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nAldrin and Dieldrin (Total)* 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nDDT + DDE + DDD (Total)* 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nVic EPA IWRG 621 OCP (Total)* 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nVic EPA IWRG 621 Other OCP (Total)* 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nDibutylchlorendate (surr.) 1 % 85 86 105 58\nTetrachloro-m-xylene (surr.) 1 % 80 70 90 59\nPolychlorinated Biphenyls\nAroclor-1016 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nAroclor-1221 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nAroclor-1232 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nAroclor-1242 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nAroclor-1248 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nAroclor-1254 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nAroclor-1260 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nTotal PCB* 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nDibutylchlorendate (surr.) 1 % 85 86 105 58\nTetrachloro-m-xylene (surr.) 1 % 80 70 90 59\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 2 of 15\nReport Number: 1156064-S\n\nClient Sample ID \nSP-7A SP-7B SP-7C SP-7D\nSample Matrix Soil Soil Soil Soil\nEurofins Sample No. \nS24-\nNo0006279 \nS24-\nNo0006280 \nS24-\nNo0006281 \nS24-\nNo0006282\nDate Sampled Nov 02, 2024 Nov 02, 2024 Nov 02, 2024 Nov 02, 2024\nTest/Reference LOR Unit\nHeavy Metals\nArsenic 2 mg/kg 10 6.2 5.0 7.7\nCadmium 0.4 mg/kg 0.7 < 0.4 0.5 < 0.4\nChromium 5 mg/kg 18 41 29 28\nCopper 5 mg/kg 39 28 21 31\nLead 5 mg/kg 21 21 25 17\nMercury 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nNickel 5 mg/kg 22 29 25 17\nZinc 5 mg/kg 63 64 62 60\nSample Properties\n% Moisture 1 % 11 8.6 4.2 8.5\nClient Sample ID \nSP-7E DUP_01 SP-7F SP-7G\nSample Matrix Soil Soil Soil Soil\nEurofins Sample No. \nS24-\nNo0006283 \nS24-\nNo0006284 \nS24-\nNo0006285 \nS24-\nNo0006286\nDate Sampled Nov 02, 2024 Nov 02, 2024 Nov 02, 2024 Nov 02, 2024\nTest/Reference LOR Unit\nTotal Recoverable Hydrocarbons\nTRH C6-C9 20 mg/kg < 20 < 20 < 20 < 20\nTRH C10-C14 20 mg/kg 36 < 20 < 20 < 20\nTRH C15-C28 50 mg/kg 150 < 50 < 50 < 50\nTRH C29-C36 50 mg/kg 170 < 50 < 50 < 50\nTRH C10-C36 (Total) 50 mg/kg 356 < 50 < 50 < 50\nTRH C6-C10 20 mg/kg < 20 < 20 < 20 < 20\nTRH C6-C10 less BTEX (F1)\nN04 \n20 mg/kg < 20 < 20 < 20 < 20\nTRH >C10-C16 50 mg/kg < 50 < 50 < 50 < 50\nTRH >C10-C16 less Naphthalene (F2)*\nN01 \n50 mg/kg < 50 < 50 < 50 < 50\nTRH >C16-C34 100 mg/kg 250 < 100 < 100 < 100\nTRH >C34-C40 100 mg/kg 280 < 100 < 100 < 100\nTRH >C10-C40 (total)* 100 mg/kg 530 < 100 < 100 < 100\nBTEX\nBenzene 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nToluene 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nEthylbenzene 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nm&p-Xylenes 0.2 mg/kg < 0.2 < 0.2 < 0.2 < 0.2\no-Xylene 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nXylenes - Total* 0.3 mg/kg < 0.3 < 0.3 < 0.3 < 0.3\n4-Bromofluorobenzene (surr.) 1 % 98 91 108 96\nTotal Recoverable Hydrocarbons - 2013 NEPM Fractions\nNaphthalene\nN02 \n0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nPolycyclic Aromatic Hydrocarbons\nBenzo(a)pyrene TEQ (lower bound) * 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nBenzo(a)pyrene TEQ (medium bound) * 0.5 mg/kg 0.6 0.6 0.6 0.6\nBenzo(a)pyrene TEQ (upper bound) * 0.5 mg/kg 1.2 1.2 1.2 1.2\nAcenaphthene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nAcenaphthylene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nAnthracene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nBenz(a)anthracene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 3 of 15\nReport Number: 1156064-S\n\nClient Sample ID \nSP-7E DUP_01 SP-7F SP-7G\nSample Matrix Soil Soil Soil Soil\nEurofins Sample No. \nS24-\nNo0006283 \nS24-\nNo0006284 \nS24-\nNo0006285 \nS24-\nNo0006286\nDate Sampled Nov 02, 2024 Nov 02, 2024 Nov 02, 2024 Nov 02, 2024\nTest/Reference LOR Unit\nPolycyclic Aromatic Hydrocarbons\nBenzo(a)pyrene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nBenzo(b&j)fluoranthene\nN07 \n0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nBenzo(g.h.i)perylene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nBenzo(k)fluoranthene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nChrysene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nDibenz(a.h)anthracene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nFluoranthene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nFluorene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nIndeno(1.2.3-cd)pyrene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nNaphthalene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nPhenanthrene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nPyrene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nTotal PAH* 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\n2-Fluorobiphenyl (surr.) 1 % 76 59 66 65\np-Terphenyl-d14 (surr.) 1 % 85 55 60 55\nOrganochlorine Pesticides\nChlordanes - Total 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\n4.4'-DDD 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\n4.4'-DDE 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\n4.4'-DDT 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\na-HCH 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nAldrin 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nb-HCH 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nd-HCH 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nDieldrin 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nEndosulfan I 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nEndosulfan II 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nEndosulfan sulphate 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nEndrin 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nEndrin aldehyde 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nEndrin ketone 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\ng-HCH (Lindane) 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nHeptachlor 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nHeptachlor epoxide 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nHexachlorobenzene 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nMethoxychlor 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nToxaphene 0.5 mg/kg < 0.5 < 0.5 < 0.5 < 0.5\nAldrin and Dieldrin (Total)* 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nDDT + DDE + DDD (Total)* 0.05 mg/kg < 0.05 < 0.05 < 0.05 < 0.05\nVic EPA IWRG 621 OCP (Total)* 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nVic EPA IWRG 621 Other OCP (Total)* 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nDibutylchlorendate (surr.) 1 % 96 56 75 67\nTetrachloro-m-xylene (surr.) 1 % 72 50 57 58\nPolychlorinated Biphenyls\nAroclor-1016 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nAroclor-1221 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nAroclor-1232 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nAroclor-1242 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nAroclor-1248 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 4 of 15\nReport Number: 1156064-S\n\nClient Sample ID \nSP-7E DUP_01 SP-7F SP-7G\nSample Matrix Soil Soil Soil Soil\nEurofins Sample No. \nS24-\nNo0006283 \nS24-\nNo0006284 \nS24-\nNo0006285 \nS24-\nNo0006286\nDate Sampled Nov 02, 2024 Nov 02, 2024 Nov 02, 2024 Nov 02, 2024\nTest/Reference LOR Unit\nPolychlorinated Biphenyls\nAroclor-1254 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nAroclor-1260 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nTotal PCB* 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nDibutylchlorendate (surr.) 1 % 96 56 75 67\nTetrachloro-m-xylene (surr.) 1 % 72 50 57 58\nHeavy Metals\nArsenic 2 mg/kg 47 7.9 12 6.8\nCadmium 0.4 mg/kg < 0.4 < 0.4 < 0.4 < 0.4\nChromium 5 mg/kg 15 16 21 27\nCopper 5 mg/kg 37 32 38 30\nLead 5 mg/kg 22 21 20 15\nMercury 0.1 mg/kg < 0.1 < 0.1 < 0.1 < 0.1\nNickel 5 mg/kg 24 19 22 25\nZinc 5 mg/kg 74 58 70 64\nSample Properties\n% Moisture 1 % 9.3 9.8 8.5 12\nClient Sample ID \nSP-7H\nSample Matrix Soil\nEurofins Sample No. \nS24-\nNo0006287\nDate Sampled Nov 02, 2024\nTest/Reference LOR Unit\nTotal Recoverable Hydrocarbons\nTRH C6-C9 20 mg/kg < 20\nTRH C10-C14 20 mg/kg < 20\nTRH C15-C28 50 mg/kg 56\nTRH C29-C36 50 mg/kg 60\nTRH C10-C36 (Total) 50 mg/kg 116\nTRH C6-C10 20 mg/kg < 20\nTRH C6-C10 less BTEX (F1)\nN04 \n20 mg/kg < 20\nTRH >C10-C16 50 mg/kg < 50\nTRH >C10-C16 less Naphthalene (F2)*\nN01 \n50 mg/kg < 50\nTRH >C16-C34 100 mg/kg < 100\nTRH >C34-C40 100 mg/kg < 100\nTRH >C10-C40 (total)* 100 mg/kg < 100\nBTEX\nBenzene 0.1 mg/kg < 0.1\nToluene 0.1 mg/kg < 0.1\nEthylbenzene 0.1 mg/kg < 0.1\nm&p-Xylenes 0.2 mg/kg < 0.2\no-Xylene 0.1 mg/kg < 0.1\nXylenes - Total* 0.3 mg/kg < 0.3\n4-Bromofluorobenzene (surr.) 1 % 97\nTotal Recoverable Hydrocarbons - 2013 NEPM Fractions\nNaphthalene\nN02 \n0.5 mg/kg < 0.5\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 5 of 15\nReport Number: 1156064-S\n\nClient Sample ID \nSP-7H\nSample Matrix Soil\nEurofins Sample No. \nS24-\nNo0006287\nDate Sampled Nov 02, 2024\nTest/Reference LOR Unit\nPolycyclic Aromatic Hydrocarbons\nBenzo(a)pyrene TEQ (lower bound) * 0.5 mg/kg < 0.5\nBenzo(a)pyrene TEQ (medium bound) * 0.5 mg/kg 0.6\nBenzo(a)pyrene TEQ (upper bound) * 0.5 mg/kg 1.2\nAcenaphthene 0.5 mg/kg < 0.5\nAcenaphthylene 0.5 mg/kg < 0.5\nAnthracene 0.5 mg/kg < 0.5\nBenz(a)anthracene 0.5 mg/kg < 0.5\nBenzo(a)pyrene 0.5 mg/kg < 0.5\nBenzo(b&j)fluoranthene\nN07 \n0.5 mg/kg < 0.5\nBenzo(g.h.i)perylene 0.5 mg/kg < 0.5\nBenzo(k)fluoranthene 0.5 mg/kg < 0.5\nChrysene 0.5 mg/kg < 0.5\nDibenz(a.h)anthracene 0.5 mg/kg < 0.5\nFluoranthene 0.5 mg/kg < 0.5\nFluorene 0.5 mg/kg < 0.5\nIndeno(1.2.3-cd)pyrene 0.5 mg/kg < 0.5\nNaphthalene 0.5 mg/kg < 0.5\nPhenanthrene 0.5 mg/kg 0.9\nPyrene 0.5 mg/kg < 0.5\nTotal PAH* 0.5 mg/kg 0.9\n2-Fluorobiphenyl (surr.) 1 % 85\np-Terphenyl-d14 (surr.) 1 % 66\nOrganochlorine Pesticides\nChlordanes - Total 0.1 mg/kg < 0.1\n4.4'-DDD 0.05 mg/kg < 0.05\n4.4'-DDE 0.05 mg/kg < 0.05\n4.4'-DDT 0.05 mg/kg < 0.05\na-HCH 0.05 mg/kg < 0.05\nAldrin 0.05 mg/kg < 0.05\nb-HCH 0.05 mg/kg < 0.05\nd-HCH 0.05 mg/kg < 0.05\nDieldrin 0.05 mg/kg < 0.05\nEndosulfan I 0.05 mg/kg < 0.05\nEndosulfan II 0.05 mg/kg < 0.05\nEndosulfan sulphate 0.05 mg/kg < 0.05\nEndrin 0.05 mg/kg < 0.05\nEndrin aldehyde 0.05 mg/kg < 0.05\nEndrin ketone 0.05 mg/kg < 0.05\ng-HCH (Lindane) 0.05 mg/kg < 0.05\nHeptachlor 0.05 mg/kg < 0.05\nHeptachlor epoxide 0.05 mg/kg < 0.05\nHexachlorobenzene 0.05 mg/kg < 0.05\nMethoxychlor 0.05 mg/kg < 0.05\nToxaphene 0.5 mg/kg < 0.5\nAldrin and Dieldrin (Total)* 0.05 mg/kg < 0.05\nDDT + DDE + DDD (Total)* 0.05 mg/kg < 0.05\nVic EPA IWRG 621 OCP (Total)* 0.1 mg/kg < 0.1\nVic EPA IWRG 621 Other OCP (Total)* 0.1 mg/kg < 0.1\nDibutylchlorendate (surr.) 1 % 78\nTetrachloro-m-xylene (surr.) 1 % 73\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 6 of 15\nReport Number: 1156064-S\n\nClient Sample ID \nSP-7H\nSample Matrix Soil\nEurofins Sample No. \nS24-\nNo0006287\nDate Sampled Nov 02, 2024\nTest/Reference LOR Unit\nPolychlorinated Biphenyls\nAroclor-1016 0.1 mg/kg < 0.1\nAroclor-1221 0.1 mg/kg < 0.1\nAroclor-1232 0.1 mg/kg < 0.1\nAroclor-1242 0.1 mg/kg < 0.1\nAroclor-1248 0.1 mg/kg < 0.1\nAroclor-1254 0.1 mg/kg < 0.1\nAroclor-1260 0.1 mg/kg < 0.1\nTotal PCB* 0.1 mg/kg < 0.1\nDibutylchlorendate (surr.) 1 % 78\nTetrachloro-m-xylene (surr.) 1 % 73\nHeavy Metals\nArsenic 2 mg/kg 9.4\nCadmium 0.4 mg/kg < 0.4\nChromium 5 mg/kg 24\nCopper 5 mg/kg 31\nLead 5 mg/kg 23\nMercury 0.1 mg/kg < 0.1\nNickel 5 mg/kg 26\nZinc 5 mg/kg 73\nSample Properties\n% Moisture 1 % 12\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 7 of 15\nReport Number: 1156064-S\n\nSample History\nWhere samples are submitted/analysed over several days, the last date of extraction is reported.\nIf the date and time of sampling are not provided, the Laboratory will not be responsible for compromised results should testing be performed outside the recommended holding time.\nDescription Testing Site Extracted Holding Time\nTotal Recoverable Hydrocarbons - 1999 NEPM Fractions Sydney Nov 04, 2024 14 Days\n- Method: LTM-ORG-2010 TRH C6-C40\nTotal Recoverable Hydrocarbons - 2013 NEPM Fractions Sydney Nov 04, 2024 14 Days\n- Method: LTM-ORG-2010 TRH C6-C40\nTotal Recoverable Hydrocarbons - 2013 NEPM Fractions Sydney Nov 04, 2024 14 Days\n- Method: LTM-ORG-2010 TRH C6-C40\nBTEX Sydney Nov 04, 2024 14 Days\n- Method: LTM-ORG-2010 BTEX and Volatile TRH\nPolycyclic Aromatic Hydrocarbons Sydney Nov 04, 2024 14 Days\n- Method: LTM-ORG-2130 PAH and Phenols in Soil and Water\nOrganochlorine Pesticides Sydney Nov 04, 2024 14 Days\n- Method: LTM-ORG-2220 OCP & PCB in Soil and Water\nPolychlorinated Biphenyls Sydney Nov 04, 2024 28 Days\n- Method: LTM-ORG-2220 OCP & PCB in Soil and Water\nMetals M8 Sydney Nov 04, 2024 28 Days\n- Method: LTM-MET-3040 Metals in Waters, Soils & Sediments by ICP-MS\n% Moisture Sydney Nov 04, 2024 14 Days\n- Method: LTM-GEN-7080 Moisture\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 8 of 15\nReport Number: 1156064-S\n\nV2\nweb: www.eurofins.com.auemail: EnviroSales@eurofins.com\nEurofins Environment Testing Australia Pty Ltd\n \nEurofins ARL Pty Ltd\n \nEurofins Environment Testing NZ Ltd\nABN: 50 005 085 521\n \nABN: 91 05 0159 898\n \nNZBN: 9429046024954\nMelbourne6 Monterey RoadDandenong SouthVIC 3175+61 3 8564 5000NATA# 1261Site# 1254\nGeelong19/8 Lewalan StreetGrovedaleVIC 3216+61 3 8564 5000NATA# 1261Site# 25403\nSydney179 Magowar RoadGirraweenNSW 2145+61 2 9900 8400NATA# 1261Site# 18217\nCanberraUnit 1,2 Dacre StreetMitchellACT 2911+61 2 6113 8091NATA# 1261Site# 25466\nBrisbane1/21 Smallwood PlaceMurarrieQLD 4172T: +61 7 3902 4600NATA# 1261Site# 20794 & 2780\nNewcastle1/2 Frost DriveMayfield WestNSW 2304+61 2 4968 8448NATA# 1261Site# 25079\nPerth46-48 Banksia RoadWelshpoolWA 6106+61 8 6253 4444NATA# 2377Site# 2370 & 2554\nAuckland35 O'Rorke RoadPenrose,Auckland 1061+64 9 526 4551IANZ# 1327\nAuckland (Focus)Unit C1/4 Pacific Rise,Mount Wellington,Auckland 1061+64 9 525 0568IANZ# 1308\nChristchurch43 Detroit DriveRolleston,Christchurch 7675+64 3 343 5201IANZ# 1290\nTauranga1277 Cameron Road,Gate Pa,Tauranga 3112+64 9 525 0568IANZ# 1402\nCompany Name:\n \nEarth2Water P/L\n \nOrder No.:\n \nE2W-325 GSB\n \nReceived:\n \nNov 4, 2024 12:24 PM\nAddress:\n \n175 Fern Street\n \nReport #:\n \n1156064\n \nDue:\n \nNov 5, 2024\nGerringong\n \nPhone:\n \n02 4236 1334\n \nPriority:\n \nOvernight\nNSW 2534\n \nFax:\n \n02 4236 1824\n \nContact Name:\n \n- Dino Parisotto (Reports &Invoices)\nProject Name:\n \nGSB-PICTON REMED\n \nEurofins Analytical Services Manager : Ursula Long\nSample Detail\nAsbestos - AS4964\nMoisture Set\nSuite\nB10A:TRH/BTEXN/PAH/OCP/PCB/Metals8\nSydney Laboratory - NATA # 1261 Site # 18217\n \nX\n \nX\n \nX\nExternal Laboratory\nNo\n \nSample ID\n \nSample Date\n \nSampling\nTime\n \nMatrix\n \nLAB ID\n1\n \nSP-7A\n \nNov 02, 2024\n \nSoil\n \nS24-No0006279\n \nX\n \nX\n \nX\n2\n \nSP-7B\n \nNov 02, 2024\n \nSoil\n \nS24-No0006280\n \nX\n \nX\n \nX\n3\n \nSP-7C\n \nNov 02, 2024\n \nSoil\n \nS24-No0006281\n \nX\n \nX\n \nX\n4\n \nSP-7D\n \nNov 02, 2024\n \nSoil\n \nS24-No0006282\n \nX\n \nX\n \nX\n5\n \nSP-7E\n \nNov 02, 2024\n \nSoil\n \nS24-No0006283\n \nX\n \nX\n \nX\n6\n \nDUP_01\n \nNov 02, 2024\n \nSoil\n \nS24-No0006284\n \nX\n \nX\n \nX\n7\n \nSP-7F\n \nNov 02, 2024\n \nSoil\n \nS24-No0006285\n \nX\n \nX\n \nX\n8\n \nSP-7G\n \nNov 02, 2024\n \nSoil\n \nS24-No0006286\n \nX\n \nX\n \nX\n9\n \nSP-7H\n \nNov 02, 2024\n \nSoil\n \nS24-No0006287\n \nX\n \nX\n \nX\nTest Counts\n \n9\n \n9\n \n9\nDate Reported:Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 9 of 15\n\nInternal Quality Control Review and Glossary\nGeneral\n1. Laboratory QC results for Method Blanks, Duplicates, Matrix Spikes, and Laboratory Control Samples follow guidelines delineated in the National Environment Protection (Assessment of Site\nContamination) Measure 1999, as amended May 2013. They are included in this QC report where applicable. Additional QC data may be available on request.\n2. Unless otherwise stated, all soil/sediment/solid results are reported on a dry weight basis.\n3. Unless otherwise stated, all biota/food results are reported on a wet weight basis on the edible portion.\n4. For CEC results where the sample's origin is unknown or environmentally contaminated, the results should be used advisedly.\n5. Actual LORs are matrix dependent. Quoted LORs may be raised where sample extracts are diluted due to interferences.\n6. Results are uncorrected for matrix spikes or surrogate recoveries except for PFAS compounds where annotated.\n7. SVOC analysis on waters is performed on homogenised, unfiltered samples unless noted otherwise.\n8. Samples were analysed on an 'as received' basis.\n9. Information identified in this report with blue colour indicates data provided by customers that may have an impact on the results.\n10. This report replaces any interim results previously issued.\nHolding Times\nPlease refer to the 'Sample Preservation and Container Guide' for holding times (QS3001).\nFor samples received on the last day of holding time, notification of testing requirements should have been received at least 6 hours before sample receipt deadlines as stated on the SRA.\nIf the Laboratory did not receive the information in the required timeframe, and despite any other integrity issues, suitably qualified results may still be reported.\nHolding times apply from the sampling date; therefore, compliance with these may be outside the laboratory's control.\nFor VOCs containing vinyl chloride, styrene and 2-chloroethyl vinyl ether, the holding time is seven days; however, for all other VOCs, such as BTEX or C6-10 TRH, the holding time is 14 days.\nUnits\nmg/kg: milligrams per kilogram mg/L: milligrams per litre ppm: parts per million\nμg/L: micrograms per litre ppb: parts per billion %: Percentage\norg/100 mL: Organisms per 100 millilitres NTU: Nephelometric Turbidity Units MPN/100 mL: Most Probable Number of organisms per 100 millilitres\nCFU: Colony Forming Unit Colour: Pt-Co Units (CU)\nTerms\nAPHA American Public Health Association\nCEC Cation Exchange Capacity\nCOC Chain of Custody\nCP Client Parent - QC was performed on samples pertaining to this report\nCRM Certified Reference Material (ISO17034) - reported as percent recovery.\nDry Where moisture has been determined on a solid sample, the result is expressed on a dry weight basis.\nDuplicate A second piece of analysis from the same sample and reported in the same units as the result to show comparison.\nLOR Limit of Reporting.\nLCS Laboratory Control Sample - reported as percent recovery.\nMethod Blank In the case of solid samples, these are performed on laboratory-certified clean sands and in the case of water samples, these are performed on de-ionised water.\nNCP Non-Client Parent - QC performed on samples not pertaining to this report, QC represents the sequence or batch that client samples were analysed within.\nRPD Relative Percent Difference between two Duplicate pieces of analysis.\nSPIKE Addition of the analyte to the sample and reported as percentage recovery.\nSRA Sample Receipt Advice\nSurr - Surrogate The addition of a similar compound to the analyte target is reported as percentage recovery. See below for acceptance criteria.\nTBTO Tributyltin oxide (bis-tributyltin oxide) - individual tributyltin compounds cannot be identified separately in the environment; however, free tributyltin was measured,\nand its values were converted stoichiometrically into tributyltin oxide for comparison with regulatory limits.\nTCLP Toxicity Characteristic Leaching Procedure\nTEQ Toxic Equivalency Quotient or Total Equivalence\nQSM US Department of Defense Quality Systems Manual Version 6.0\nUS EPA United States Environmental Protection Agency\nWA DWER Sum of PFBA, PFPeA, PFHxA, PFHpA, PFOA, PFBS, PFHxS, PFOS, 6:2 FTSA, 8:2 FTSA\nQC - Acceptance Criteria\nThe acceptance criteria should only be used as a guide and may be different when site-specific Sampling Analysis and Quality Plan (SAQP) have been implemented.\nRPD Duplicates: Global RPD Duplicates Acceptance Criteria is ≤30%; however, the following acceptance guidelines are equally applicable:\nResults <10 times the LOR: No Limit\nResults between 10-20 times the LOR: RPD must lie between 0-50%\nResults >20 times the LOR: RPD must lie between 0-30%\nNOTE: pH duplicates are reported as a range, not as RPD\nSurrogate Recoveries: Recoveries must lie between 20-130% for Speciated Phenols & 50-150% for PFAS. SVOCs recoveries 20 – 150%, VOC recoveries 50 – 150%\nPFAS field samples containing surrogate recoveries above the QC limit designated in QSM 6.0, where no positive PFAS results have been reported or reviewed, and no data was affected.\nQC Data General Comments\n1. Where a result is reported as less than (<), higher than the nominated LOR, this is due to either matrix interference, extract dilution required due to interferences or contaminant levels within\nthe sample, high moisture content or insufficient sample provided.\n2. Duplicate data shown within this report that states the word \"BATCH\" is a Batch Duplicate from outside of your sample batch but within the laboratory sample batch at a 1:10 ratio. The Parent\nand Duplicate data shown are not data from your samples.\n3. pH and Free Chlorine analysed in the laboratory - Analysis on this test must begin within 30 minutes of sampling. Therefore, laboratory analysis is unlikely to be completed within holding\ntime.Analysis will begin as soon as possible after sample receipt.\n4. Recovery Data (Spikes & Surrogates) - where chromatographic interference does not allow the determination of recovery, the term \"INT\" appears against that analyte.\n5. For Matrix Spikes and LCS results, a dash \"-\" in the report means that the specific analyte was not added to the QC sample.\n6. Duplicate RPDs are calculated from raw analytical data; thus, it is possible to have two sets of data.\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 10 of 15\nReport Number: 1156064-S\n\nQuality Control Results\nTest Units Result 1 \nAcceptance\nLimits \nPass\nLimits \nQualifying\nCode\nMethod Blank\nHeavy Metals\nArsenic mg/kg < 2 2 Pass\nCadmium mg/kg < 0.4 0.4 Pass\nChromium mg/kg < 5 5 Pass\nCopper mg/kg < 5 5 Pass\nLead mg/kg < 5 5 Pass\nMercury mg/kg < 0.1 0.1 Pass\nNickel mg/kg < 5 5 Pass\nZinc mg/kg < 5 5 Pass\nMethod Blank\nTotal Recoverable Hydrocarbons\nTRH C6-C9 mg/kg < 20 20 Pass\nTRH C6-C10 mg/kg < 20 20 Pass\nMethod Blank\nBTEX\nBenzene mg/kg < 0.1 0.1 Pass\nToluene mg/kg < 0.1 0.1 Pass\nEthylbenzene mg/kg < 0.1 0.1 Pass\nm&p-Xylenes mg/kg < 0.2 0.2 Pass\no-Xylene mg/kg < 0.1 0.1 Pass\nXylenes - Total* mg/kg < 0.3 0.3 Pass\nMethod Blank\nTotal Recoverable Hydrocarbons - 2013 NEPM Fractions\nNaphthalene mg/kg < 0.5 0.5 Pass\nMethod Blank\nTotal Recoverable Hydrocarbons\nTRH C6-C9 mg/kg < 20 20 Pass\nTRH C6-C10 mg/kg < 20 20 Pass\nMethod Blank\nBTEX\nBenzene mg/kg < 0.1 0.1 Pass\nToluene mg/kg < 0.1 0.1 Pass\nEthylbenzene mg/kg < 0.1 0.1 Pass\nm&p-Xylenes mg/kg < 0.2 0.2 Pass\no-Xylene mg/kg < 0.1 0.1 Pass\nXylenes - Total* mg/kg < 0.3 0.3 Pass\nMethod Blank\nTotal Recoverable Hydrocarbons - 2013 NEPM Fractions\nNaphthalene mg/kg < 0.5 0.5 Pass\nLCS - % Recovery\nHeavy Metals\nArsenic % 106 80-120 Pass\nCadmium % 107 80-120 Pass\nChromium % 109 80-120 Pass\nCopper % 107 80-120 Pass\nLead % 107 80-120 Pass\nMercury % 106 80-120 Pass\nNickel % 107 80-120 Pass\nZinc % 107 80-120 Pass\nLCS - % Recovery\nTotal Recoverable Hydrocarbons\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 11 of 15\nReport Number: 1156064-S\n\nTest Units Result 1 \nAcceptance\nLimits \nPass\nLimits \nQualifying\nCode\nTRH C6-C9 % 119 70-130 Pass\nTRH C6-C10 % 119 70-130 Pass\nLCS - % Recovery\nBTEX\nBenzene % 104 70-130 Pass\nToluene % 107 70-130 Pass\nEthylbenzene % 112 70-130 Pass\nm&p-Xylenes % 119 70-130 Pass\no-Xylene % 117 70-130 Pass\nXylenes - Total* % 118 70-130 Pass\nLCS - % Recovery\nTotal Recoverable Hydrocarbons - 2013 NEPM Fractions\nNaphthalene % 112 70-130 Pass\nLCS - % Recovery\nTotal Recoverable Hydrocarbons\nTRH C6-C9 % 126 70-130 Pass\nTRH C6-C10 % 125 70-130 Pass\nLCS - % Recovery\nBTEX\nBenzene % 102 70-130 Pass\nToluene % 107 70-130 Pass\nEthylbenzene % 112 70-130 Pass\nm&p-Xylenes % 116 70-130 Pass\no-Xylene % 113 70-130 Pass\nXylenes - Total* % 115 70-130 Pass\nLCS - % Recovery\nTotal Recoverable Hydrocarbons - 2013 NEPM Fractions\nNaphthalene % 111 70-130 Pass\nTest Lab Sample ID \nQA\nSource \nUnits Result 1 \nAcceptance\nLimits \nPass\nLimits \nQualifying\nCode\nSpike - % Recovery\nTotal Recoverable Hydrocarbons Result 1\nTRH C6-C9 S24-No0004431 NCP % 118 70-130 Pass\nTRH C6-C10 S24-No0004431 NCP % 120 70-130 Pass\nSpike - % Recovery\nBTEX Result 1\nm&p-Xylenes S24-No0004431 NCP % 130 70-130 Pass\nXylenes - Total* S24-No0004431 NCP % 129 70-130 Pass\nSpike - % Recovery\nHeavy Metals Result 1\nArsenic N24-No0001618 NCP % 105 75-125 Pass\nSpike - % Recovery\nBTEX Result 1\nBenzene S24-No0006281 CP % 110 70-130 Pass\nToluene S24-No0006281 CP % 116 70-130 Pass\nEthylbenzene S24-No0006281 CP % 125 70-130 Pass\no-Xylene S24-No0006281 CP % 127 70-130 Pass\nSpike - % Recovery\nTotal Recoverable Hydrocarbons - 2013 NEPM Fractions Result 1\nNaphthalene S24-No0006281 CP % 109 70-130 Pass\nSpike - % Recovery\nTotal Recoverable Hydrocarbons Result 1\nTRH C10-C14 S24-No0006282 CP % 98 70-130 Pass\nTRH >C10-C16 S24-No0006282 CP % 97 70-130 Pass\nSpike - % Recovery\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 12 of 15\nReport Number: 1156064-S\n\nTest Lab Sample ID \nQA\nSource \nUnits Result 1 \nAcceptance\nLimits \nPass\nLimits \nQualifying\nCode\nHeavy Metals Result 1\nCadmium S24-No0006283 CP % 119 75-125 Pass\nChromium S24-No0006283 CP % 104 75-125 Pass\nCopper S24-No0006283 CP % 99 75-125 Pass\nLead S24-No0006283 CP % 96 75-125 Pass\nMercury S24-No0006283 CP % 101 75-125 Pass\nNickel S24-No0006283 CP % 95 75-125 Pass\nZinc S24-No0006283 CP % 92 75-125 Pass\nTest Lab Sample ID \nQA\nSource \nUnits Result 1 \nAcceptance\nLimits \nPass\nLimits \nQualifying\nCode\nDuplicate\nTotal Recoverable Hydrocarbons - 2013 NEPM Fractions Result 1 Result 2 RPD\nNaphthalene R24-Oc0085045 NCP mg/kg < 0.5 < 0.5 <1 30% Pass\nDuplicate\nTotal Recoverable Hydrocarbons Result 1 Result 2 RPD\nTRH C6-C9 S24-No0006280 CP mg/kg < 20 < 20 <1 30% Pass\nTRH C6-C10 S24-No0006280 CP mg/kg < 20 < 20 <1 30% Pass\nDuplicate\nBTEX Result 1 Result 2 RPD\nBenzene S24-No0006280 CP mg/kg < 0.1 < 0.1 <1 30% Pass\nToluene S24-No0006280 CP mg/kg < 0.1 < 0.1 <1 30% Pass\nEthylbenzene S24-No0006280 CP mg/kg < 0.1 < 0.1 <1 30% Pass\nm&p-Xylenes S24-No0006280 CP mg/kg < 0.2 < 0.2 <1 30% Pass\no-Xylene S24-No0006280 CP mg/kg < 0.1 < 0.1 <1 30% Pass\nXylenes - Total* S24-No0006280 CP mg/kg < 0.3 < 0.3 <1 30% Pass\nDuplicate\nTotal Recoverable Hydrocarbons Result 1 Result 2 RPD\nTRH C10-C14 S24-No0006281 CP mg/kg 25 21 17 30% Pass\nTRH C15-C28 S24-No0006281 CP mg/kg 74 160 74 30% Fail Q15\nTRH C29-C36 S24-No0006281 CP mg/kg < 50 88 83 30% Fail Q15\nTRH >C10-C16 S24-No0006281 CP mg/kg < 50 < 50 <1 30% Pass\nTRH >C16-C34 S24-No0006281 CP mg/kg < 100 210 82 30% Fail Q15\nTRH >C34-C40 S24-No0006281 CP mg/kg < 100 120 120 30% Fail Q15\nDuplicate\nPolycyclic Aromatic Hydrocarbons Result 1 Result 2 RPD\nAcenaphthene S24-No0006281 CP mg/kg < 0.5 < 0.5 <1 30% Pass\nAcenaphthylene S24-No0006281 CP mg/kg < 0.5 < 0.5 <1 30% Pass\nAnthracene S24-No0006281 CP mg/kg < 0.5 < 0.5 <1 30% Pass\nBenz(a)anthracene S24-No0006281 CP mg/kg < 0.5 < 0.5 <1 30% Pass\nBenzo(a)pyrene S24-No0006281 CP mg/kg < 0.5 < 0.5 <1 30% Pass\nBenzo(b&j)fluoranthene S24-No0006281 CP mg/kg < 0.5 < 0.5 <1 30% Pass\nBenzo(g.h.i)perylene S24-No0006281 CP mg/kg < 0.5 < 0.5 <1 30% Pass\nBenzo(k)fluoranthene S24-No0006281 CP mg/kg < 0.5 < 0.5 <1 30% Pass\nChrysene S24-No0006281 CP mg/kg < 0.5 < 0.5 <1 30% Pass\nDibenz(a.h)anthracene S24-No0006281 CP mg/kg < 0.5 < 0.5 <1 30% Pass\nFluoranthene S24-No0006281 CP mg/kg < 0.5 < 0.5 <1 30% Pass\nFluorene S24-No0006281 CP mg/kg < 0.5 < 0.5 <1 30% Pass\nIndeno(1.2.3-cd)pyrene S24-No0006281 CP mg/kg < 0.5 < 0.5 <1 30% Pass\nNaphthalene S24-No0006281 CP mg/kg < 0.5 < 0.5 <1 30% Pass\nPhenanthrene S24-No0006281 CP mg/kg < 0.5 < 0.5 <1 30% Pass\nPyrene S24-No0006281 CP mg/kg < 0.5 < 0.5 <1 30% Pass\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 13 of 15\nReport Number: 1156064-S\n\nDuplicate\nOrganochlorine Pesticides Result 1 Result 2 RPD\nChlordanes - Total S24-No0006281 CP mg/kg < 0.1 < 0.1 <1 30% Pass\n4.4'-DDD S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\n4.4'-DDE S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\n4.4'-DDT S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\na-HCH S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\nAldrin S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\nb-HCH S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\nd-HCH S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\nDieldrin S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\nEndosulfan I S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\nEndosulfan II S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\nEndosulfan sulphate S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\nEndrin S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\nEndrin aldehyde S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\nEndrin ketone S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\ng-HCH (Lindane) S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\nHeptachlor S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\nHeptachlor epoxide S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\nHexachlorobenzene S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\nMethoxychlor S24-No0006281 CP mg/kg < 0.05 < 0.05 <1 30% Pass\nDuplicate\nPolychlorinated Biphenyls Result 1 Result 2 RPD\nAroclor-1016 S24-No0006281 CP mg/kg < 0.1 < 0.1 <1 30% Pass\nAroclor-1221 S24-No0006281 CP mg/kg < 0.1 < 0.1 <1 30% Pass\nAroclor-1232 S24-No0006281 CP mg/kg < 0.1 < 0.1 <1 30% Pass\nAroclor-1242 S24-No0006281 CP mg/kg < 0.1 < 0.1 <1 30% Pass\nAroclor-1248 S24-No0006281 CP mg/kg < 0.1 < 0.1 <1 30% Pass\nAroclor-1254 S24-No0006281 CP mg/kg < 0.1 < 0.1 <1 30% Pass\nAroclor-1260 S24-No0006281 CP mg/kg < 0.1 < 0.1 <1 30% Pass\nTotal PCB* S24-No0006281 CP mg/kg < 0.1 < 0.1 <1 30% Pass\nDuplicate\nHeavy Metals Result 1 Result 2 RPD\nArsenic S24-No0006281 CP mg/kg 5.0 < 2 120 30% Fail Q15\nCadmium S24-No0006281 CP mg/kg 0.5 < 0.4 130 30% Fail Q15\nCopper S24-No0006281 CP mg/kg 21 7.4 95 30% Fail Q15\nLead S24-No0006281 CP mg/kg 25 6.2 120 30% Fail Q15\nMercury S24-No0006281 CP mg/kg < 0.1 < 0.1 <1 30% Pass\nNickel S24-No0006281 CP mg/kg 25 < 5 140 30% Fail Q15\nDuplicate\nHeavy Metals Result 1 Result 2 RPD\nArsenic S24-No0006284 CP mg/kg 7.9 7.8 1.0 30% Pass\nCadmium S24-No0006284 CP mg/kg < 0.4 < 0.4 <1 30% Pass\nChromium S24-No0006284 CP mg/kg 16 16 3.0 30% Pass\nCopper S24-No0006284 CP mg/kg 32 32 <1 30% Pass\nLead S24-No0006284 CP mg/kg 21 20 3.0 30% Pass\nMercury S24-No0006284 CP mg/kg < 0.1 < 0.1 <1 30% Pass\nNickel S24-No0006284 CP mg/kg 19 19 2.0 30% Pass\nZinc S24-No0006284 CP mg/kg 58 56 3.0 30% Pass\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 14 of 15\nReport Number: 1156064-S\n\nComments\nSample Integrity\nCustody Seals Intact (if used) N/A\nAttempt to Chill was evident Yes\nSample correctly preserved Yes\nAppropriate sample containers have been used Yes\nSample containers for volatile analysis received with minimal headspace Yes\nSamples received within HoldingTime Yes\nSome samples have been subcontracted No\nQualifier Codes/Comments\nCode Description\nN01 \nF2 is determined by arithmetically subtracting the \"naphthalene\" value from the \">C10-C16\" value. The naphthalene value used in this calculation is obtained from volatiles\n(Purge & Trap analysis).\nN02\nWhere we have reported both volatile (P&T GCMS) and semivolatile (GCMS) naphthalene data, results may not be identical. Provided correct sample handling protocols have\nbeen followed, any observed differences in results are likely to be due to procedural differences within each methodology. Results determined by both techniques have passed\nall QAQC acceptance criteria, and are entirely technically valid.\nN04 \nF1 is determined by arithmetically subtracting the \"Total BTEX\" value from the \"C6-C10\" value. The \"Total BTEX\" value is obtained by summing the concentrations of BTEX\nanalytes. The \"C6-C10\" value is obtained by quantitating against a standard of mixed aromatic/aliphatic analytes.\nN07 \nPlease note:- These two PAH isomers closely co-elute using the most contemporary analytical methods and both the reported concentration (and the TEQ) apply specifically to\nthe total of the two co-eluting PAHs\nQ15 The RPD reported passes Eurofins Environment Testing's QC - Acceptance Criteria as defined in the Internal Quality Control Review and Glossary page of this report.\nAuthorised by:\nBennel Jiri Senior Analyst-Asbestos\nMickael Ros Senior Analyst-Metal\nRoopesh Rangarajan Senior Analyst-Organic\nRoopesh Rangarajan Senior Analyst-Sample Properties\nRoopesh Rangarajan Senior Analyst-Volatile\nGlenn Jackson\nManaging Director\n- Indicates Not Requested\n* Indicates NATA accreditation does not cover the performance of this service\nMeasurement uncertainty of test data is available on request or please click here.\nEurofins shall not be liable for loss, cost, damages or expenses incurred by the client, or any other person or company, resulting from the use of any information or interpretation given in this\nreport. In no case shall Eurofins be liable for consequential damages including, but not limited to, lost profits, damages for failure to meet deadlines and lost production arising from this report. This\ndocument shall not be reproduced except in full and relates only to the items tested. Unless indicated otherwise, the tests were performed on the samples as received.\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 15 of 15\nReport Number: 1156064-S\nUrsula Long Analytical Services Manager\nFinal Report – this report replaces any previously issued Report\n\nCertificate of Analysis\nEarth2Water P/L\n175 Fern Street\nGerringong\nNSW 2534\nAttention: - Dino Parisotto (Reports & Invoices)\nReport 1156064-AID\nProject Name GSB-PICTON REMED\nReceived Date Nov 04, 2024\nDate Reported Nov 05, 2024\nMethodology:\nAsbestos Fibre\nIdentification \nConducted in accordance with the Australian Standard AS 5370:2024* Sampling and qualitative identification of\nasbestos in bulk materials (ISO 22262-1:2012, MOD), formerly AS 4964-2004 and in-house Method LTM-ASB-8020 by\npolarised light microscopy (PLM) and dispersion staining (DS) techniques.\nNOTE: Positive Trace Analysis results indicate the sample contains detectable respirable fibres.\nMan-made vitreous\nfibre (MMVF) \nFibres exhibiting isotropic characteristics, including glass fibres, glass wool, rock wool, slag wool, ceramic fibres and bio-\nsoluble fibres. NOTE: previously known as \"synthetic mineral fibre\" (SMF). Simple analytical procedures such as\npolarised light microscopy cannot detect or reliably identify asbestos in some types of commercial products containing\nasbestos, either because the fibres are below the resolution of optical microscopy or because the matrix material\nadheres too strongly to the fibres. For these types of products, electron microscopy may be necessary.\nSubsampling Soil\nSamples \nThe sample submitted is dried and passed through a 10 mm sieve followed by a 2 mm sieve. All fibrous matter greater\nthan 10 mm and greater than 2 mm and the material passing through the 2 mm sieve are retained and analysed for the\npresence of asbestos. If the sub 2mm fraction is greater than approximately 30 g to 60 g, then a subsampling routine\nbased on ISO 3082:2017(E) is employed.\nNOTE: Depending on the nature and size of the soil sample, the sub-2 mm residue material may need to be\nsubsampled for trace analysis, in accordance with AS 5370:2024*.\nBonded asbestos-\ncontaining material\n(ACM)\nThe material is first examined, and any fibres are isolated for identification by PLM and DS. Where required, interfering\nmatrices may be removed by disintegration using a range of heat, chemical or physical treatments, possibly in\ncombination. The resultant material is then further examined in accordance with AS 5370:2024*.\nNOTE: Even after disintegration, it may be difficult to detect the presence of asbestos in some asbestos-containing bulk\nmaterials using PLM and DS. This is due to the low grade or small length or diameter of the asbestos fibres present in\nthe material or to the fact that very fine fibres have been distributed intimately throughout the materials. Vinyl/asbestos\nfloor tiles, some asbestos-containing sealants and mastics, asbestos-containing epoxy resins and some ore samples are\nexamples of these types of material, which are difficult to analyse.\nLimit of Reporting\n(LOR) \nThe performance limitation of the AS 5370:2024* method for non-homogeneous samples is around 0.1 g/kg (equivalent\nto 0.01% (w/w)). Where no asbestos is found by PLM and DS, including Trace Analysis, this is considered to be at the\nnominal reporting limit of 0.01% (w/w). The NEPM screening level of 0.001% (w/w) is intended as an on-site\ndetermination, not a laboratory limit of reporting, per se. Examination of large sample size (e.g., 500 mL) may improve\nthe likelihood of detecting asbestos, particularly AF, to aid assessment against the NEPM criteria. Gravimetric\ndeterminations to this level of accuracy are outside of AS 5370:2024*, and hence, NATA Accreditation does not cover\nthe performance of this service (non-NATA results are shown with an asterisk).\nNOTE: NATA News March 2014, p.7, states in relation to AS 4964-2004: \"This is a qualitative method with a nominal\nreporting limit of 0.01 % \" and that currently in Australia \"there is no validated method available for the quantification of\nasbestos\". This report is consistent with the analytical procedures and reporting recommendations in the NEPM and the\nWA DoH.\nFirst Reported: Nov 05, 2024\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 1 of\nReport Number: 1156064-AID\n7\nNATA Accredited\nAccreditation Number 1261\nSite Number 18217\nAccredited for compliance with ISO/IEC 17025–Testing\nNATA is a signatory to the ILAC Mutual Recognition\nArrangement for the mutual recognition of the\nequivalence of testing, medical testing, calibration,\ninspection, proficiency testing scheme providers and\nreference materials producers reports and certificates.\n\nProject Name\n \nGSB-PICTON REMED\nProject IDDate Sampled\n \nNov 02, 2024\nReport\n \n1156064-AID\nClient Sample ID\n \nEurofins Sample\nNo.\n \nDate Sampled\n \nSample Description\n \nResult\nSP-7A\n \n24-No0006279\n \nNov 02, 2024\n \nApproximate Sample 43gSample consisted of: Brown fine-grained clayey sandy soil and rocks\nNo asbestos detected at the reporting limit of 0.01% w/w.Organic fibre detected.No trace asbestos detected.\nSP-7B\n \n24-No0006280\n \nNov 02, 2024\n \nApproximate Sample 61gSample consisted of: Brown fine-grained clayey sandy soil, cementand rocks\nNo asbestos detected at the reporting limit of 0.01% w/w.Organic fibre detected.No trace asbestos detected.\nSP-7C\n \n24-No0006281\n \nNov 02, 2024\n \nApproximate Sample 44gSample consisted of: Brown fine-grained clayey sandy soil, cementand rocks\nNo asbestos detected at the reporting limit of 0.01% w/w.Organic fibre detected.No trace asbestos detected.\nSP-7D\n \n24-No0006282\n \nNov 02, 2024\n \nApproximate Sample 44gSample consisted of: Brown fine-grained clayey sandy soil, cementand rocks\nNo asbestos detected at the reporting limit of 0.01% w/w.Organic fibre detected.No trace asbestos detected.\nSP-7E\n \n24-No0006283\n \nNov 02, 2024\n \nApproximate Sample 46gSample consisted of: Brown fine-grained clayey sandy soil and rocks\nNo asbestos detected at the reporting limit of 0.01% w/w.Organic fibre detected.No trace asbestos detected.\nDUP_01\n \n24-No0006284\n \nNov 02, 2024\n \nApproximate Sample 41gSample consisted of: Brown fine-grained clayey sandy soil, cementand rocks\nNo asbestos detected at the reporting limit of 0.01% w/w.Organic fibre detected.No trace asbestos detected.\nSP-7F\n \n24-No0006285\n \nNov 02, 2024\n \nApproximate Sample 59gSample consisted of: Brown fine-grained clayey sandy soil, cementand rocks\nNo asbestos detected at the reporting limit of 0.01% w/w.Organic fibre detected.No trace asbestos detected.\nSP-7G\n \n24-No0006286\n \nNov 02, 2024\n \nApproximate Sample 42gSample consisted of: Brown fine-grained clayey sandy soil, bitumenlike material, cement and rocks\nNo asbestos detected at the reporting limit of 0.01% w/w.Organic fibre detected.No trace asbestos detected.\nFirst Reported: Nov 05, 2024Date Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 2 of\nReport Number: 1156064-AID\n7\n\nClient Sample ID\n \nEurofins Sample\nNo.\n \nDate Sampled\n \nSample Description\n \nResult\nSP-7H\n \n24-No0006287\n \nNov 02, 2024\n \nApproximate Sample 57gSample consisted of: Brown fine-grained clayey sandy soil, cementand rocks\nNo asbestos detected at the reporting limit of 0.01% w/w.Organic fibre detected.No trace asbestos detected.\nFirst Reported: Nov 05, 2024Date Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 3 of\nReport Number: 1156064-AID\n7\n\nSample History\nWhere samples are submitted/analysed over several days, the last date of extraction is reported.\nIf the date and time of sampling are not provided, the Laboratory will not be responsible for compromised results\nshould testing be performed outside the recommended holding time.\nDescription Testing Site Extracted Holding Time\nAsbestos - LTM-ASB-8020 Sydney Nov 04, 2024 Indefinite\nFirst Reported: Nov 05, 2024\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 4 of\nReport Number: 1156064-AID\n7\n\nV2\nweb: www.eurofins.com.auemail: EnviroSales@eurofins.com\nEurofins Environment Testing Australia Pty Ltd\n \nEurofins ARL Pty Ltd\n \nEurofins Environment Testing NZ Ltd\nABN: 50 005 085 521\n \nABN: 91 05 0159 898\n \nNZBN: 9429046024954\nMelbourne6 Monterey RoadDandenong SouthVIC 3175+61 3 8564 5000NATA# 1261Site# 1254\nGeelong19/8 Lewalan StreetGrovedaleVIC 3216+61 3 8564 5000NATA# 1261Site# 25403\nSydney179 Magowar RoadGirraweenNSW 2145+61 2 9900 8400NATA# 1261Site# 18217\nCanberraUnit 1,2 Dacre StreetMitchellACT 2911+61 2 6113 8091NATA# 1261Site# 25466\nBrisbane1/21 Smallwood PlaceMurarrieQLD 4172T: +61 7 3902 4600NATA# 1261Site# 20794 & 2780\nNewcastle1/2 Frost DriveMayfield WestNSW 2304+61 2 4968 8448NATA# 1261Site# 25079\nPerth46-48 Banksia RoadWelshpoolWA 6106+61 8 6253 4444NATA# 2377Site# 2370 & 2554\nAuckland35 O'Rorke RoadPenrose,Auckland 1061+64 9 526 4551IANZ# 1327\nAuckland (Focus)Unit C1/4 Pacific Rise,Mount Wellington,Auckland 1061+64 9 525 0568IANZ# 1308\nChristchurch43 Detroit DriveRolleston,Christchurch 7675+64 3 343 5201IANZ# 1290\nTauranga1277 Cameron Road,Gate Pa,Tauranga 3112+64 9 525 0568IANZ# 1402\nCompany Name:\n \nEarth2Water P/L\n \nOrder No.:\n \nE2W-325 GSB\n \nReceived:\n \nNov 4, 2024 12:24 PM\nAddress:\n \n175 Fern Street\n \nReport #:\n \n1156064\n \nDue:\n \nNov 5, 2024\nGerringong\n \nPhone:\n \n02 4236 1334\n \nPriority:\n \nOvernight\nNSW 2534\n \nFax:\n \n02 4236 1824\n \nContact Name:\n \n- Dino Parisotto (Reports &Invoices)\nProject Name:\n \nGSB-PICTON REMED\n \nEurofins Analytical Services Manager : Ursula Long\nSample Detail\nAsbestos - AS4964\nMoisture Set\nSuite\nB10A:TRH/BTEXN/PAH/OCP/PCB/Metals8\nSydney Laboratory - NATA # 1261 Site # 18217\n \nX\n \nX\n \nX\nExternal Laboratory\nNo\n \nSample ID\n \nSample Date\n \nSampling\nTime\n \nMatrix\n \nLAB ID\n1\n \nSP-7A\n \nNov 02, 2024\n \nSoil\n \nS24-No0006279\n \nX\n \nX\n \nX\n2\n \nSP-7B\n \nNov 02, 2024\n \nSoil\n \nS24-No0006280\n \nX\n \nX\n \nX\n3\n \nSP-7C\n \nNov 02, 2024\n \nSoil\n \nS24-No0006281\n \nX\n \nX\n \nX\n4\n \nSP-7D\n \nNov 02, 2024\n \nSoil\n \nS24-No0006282\n \nX\n \nX\n \nX\n5\n \nSP-7E\n \nNov 02, 2024\n \nSoil\n \nS24-No0006283\n \nX\n \nX\n \nX\n6\n \nDUP_01\n \nNov 02, 2024\n \nSoil\n \nS24-No0006284\n \nX\n \nX\n \nX\n7\n \nSP-7F\n \nNov 02, 2024\n \nSoil\n \nS24-No0006285\n \nX\n \nX\n \nX\n8\n \nSP-7G\n \nNov 02, 2024\n \nSoil\n \nS24-No0006286\n \nX\n \nX\n \nX\n9\n \nSP-7H\n \nNov 02, 2024\n \nSoil\n \nS24-No0006287\n \nX\n \nX\n \nX\nTest Counts\n \n9\n \n9\n \n9\nFirst Reported: Nov 05, 2024Date Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 5 of\nReport Number: 1156064-AID\n7\n\nInternal Quality Control Review and Glossary General\n1. QC data may be available on request.\n2. All soil results are reported on a dry basis, unless otherwise stated.\n3. Samples were analysed on an 'as received' basis.\n4. Information identified on this report with the colour blue indicates data provided by customer that may have an impact on the results.\n5. This report replaces any interim results previously issued.\nHolding Times\nPlease refer to the most recent version of the 'Sample Preservation and Container Guide' for holding times (QS3001).\nUnits\n% w/w: Percentage weight-for-weight basis, e.g. of asbestos in asbestos-containing finds in soil samples (% w/w)\nF/fld Airborne fibre filter loading as Fibres (N) per Fields counted (n)\nF/mL Airborne fibre reported concentration as Fibres per millilitre of air drawn over the sampler membrane (C)\ng, kg Mass, e.g. of whole sample (M) or asbestos-containing find within the sample (m)\ng/kg Concentration in grams per kilogram\nL, mL Volume, e.g. of air as measured in AFM (V = r x t)\nL/min Airborne fibre sampling Flowrate as litres per minute of air drawn over the sampler membrane (r)\nmin Time (t), e.g. of air sample collection period\nCalculations\nAirborne Fibre Concentration: 𝐶 = (\n𝐴\n𝑎\n) × (\n𝑁\n𝑛\n) × (\n1\n𝑟\n) × (\n1\n𝑡 \n) = 𝐾 × (\n𝑁\n𝑛\n) × (\n1\n𝑉\n)\nAsbestos Content (as asbestos): % 𝑤/𝑤 = \n(\n𝑚 × 𝑃\n𝐴\n)\n𝑀\nWeighted Average (of asbestos): %\n𝑊𝐴 \n= \n∑ \n(\n𝑚 × 𝑃\n𝐴\n)\n𝑥\n𝑥\nTerms\n%asbestos Estimated percentage of asbestos in a given matrix may be derived from knowledge or experience of the material, informed by HSG264 Appendix 2, else\nassumed to be 15% in accordance with WA DOH Appendix 2 (P\nA\n). This estimate is not NATA-accredited.\nACM Asbestos Containing Materials. Asbestos contained within a non-asbestos matrix, typically presented in bonded (non-friable) condition. For the purposes of the\nNEPM and WA DOH, ACM corresponds to material larger than 7 mm x 7 mm.\nAF Asbestos Fines. Asbestos contamination within a soil sample, as defined by WA DOH. Includes loose fibre bundles and small pieces of friable and non-friable\nmaterial such as asbestos cement fragments mixed with soil. Considered under the NEPM as equivalent to “non-bonded / friable”.\nAFM Airborne Fibre Monitoring, e.g., by the MFM.\nAmosite Amosite Asbestos Detected. Amosite may also refer to Fibrous Grunerite or Brown Asbestos. Identified in accordance with AS 5370:2024* Sampling and\nqualitative identification of asbestos in bulk materials (ISO 22262-1:2012, MOD), formerly AS 4964-2004.\nAS Australian Standard.\nAsbestos Content (as asbestos) Total %w/w asbestos content in asbestos-containing finds in a soil sample (% w/w).\nChrysotile Chrysotile Asbestos Detected. Chrysotile may also refer to Fibrous Serpentine or White Asbestos. Identified in accordance with AS 5370:2024* Sampling and\nqualitative identification of asbestos in bulk materials (ISO 22262-1:2012, MOD), formerly AS 4964-2004..\nCOC Chain of Custody.\nCrocidolite Crocidolite Asbestos Detected. Crocidolite may also refer to Fibrous Riebeckite or Blue Asbestos. Identified in accordance with AS 5370:2024* Sampling and\nqualitative identification of asbestos in bulk materials (ISO 22262-1:2012, MOD), formerly AS 4964-2004..\nDry Sample is dried by heating prior to analysis.\nDS Dispersion Staining. Technique required for unequivocal Identification of asbestos fibres by PLM.\nFA Fibrous Asbestos. Asbestos-containing material that is wholly or in part friable, including materials with higher asbestos content with a propensity to become\nfriable with handling, and any material that was previously non-friable and in a severely degraded condition. For the purposes of the NEPM and WA DOH, FA\ngenerally corresponds to material larger than 7 mm x 7 mm, although FA may be more difficult to distinguish visibly and may be assessed as AF.\nFibre Count Total of all fibres (whether asbestos or not) meeting the counting criteria set out in the NOHSC:3003\nFibre ID Fibre Identification. Unequivocal identification of asbestos fibres according to AS 5370:2024* Sampling and qualitative identification of asbestos in bulk materials\n(ISO 22262-1:2012, MOD), formerly AS 4964-2004.. Includes Chrysotile, Amosite (Grunerite) or Crocidolite asbestos.\nFriable Asbestos-containing materials of any size that may be broken or crumbled by hand pressure. For the purposes of the NEPM, this includes both AF and FA. It is\noutside of the laboratory’s remit to assess the degree of friability.\nHSG248 UK HSE HSG248, Asbestos: The Analysts Guide, 2\nnd \nEdition (2021), ISBN: 9780616667079.\nHSG264 UK HSE HSG264, Asbestos: The Survey Guide (2012), .ISBN: 9780717665020\nISO (also ISO/IEC) International Organization for Standardization / International Electrotechnical Commission.\nK Factor Microscope constant (K) as derived from the effective filter area of the given AFM membrane used for collecting the sample (A) and the projected eyepiece\ngraticule area of the specific microscope used for the analysis (a).\nLOR Limit of Reporting.\nMFM (also NOHSC:3003) Membrane Filter Method. As described by the Australian Government National Occupational Health and Safety Commission, Guidance Note on the Membrane\nFilter Method for Estimating Airborne Asbestos Fibres, 2nd Edition [NOHSC:3003(2005)].\nMMVF Man-Made Vitreous Fibre - exhibiting isotropic characteristics, including glass fibres, glass wool, rock wool, slag wool, ceramic fibres and “bio-soluble fibres.\nNOTE: previously known as “synthetic mineral fibre” (SMF).\nNEPM (also ASC NEPM) National Environment Protection (Assessment of Site Contamination) Measure, (2013, as amended).\nOrganic Organic Fibres Detected. Organic may refer to Natural or Man-Made Polymeric Fibres. Identified in accordance with AS 5370:2024* Sampling and qualitative\nidentification of asbestos in bulk materials (ISO 22262-1:2012, MOD), formerly AS 4964-2004..\nPCM Phase Contrast Microscopy. This is used for fibre counting according to the MFM.\nPLM Polarised Light Microscopy. As used for Fibre Identification and Trace Analysis according to AS 5370:2024* Sampling and qualitative identification of asbestos in\nbulk materials (ISO 22262-1:2012, MOD), formerly AS 4964-2004..\nSampling Unless otherwise stated, Eurofins are not responsible for sampling equipment or the sampling process.\nSRA Sample Receipt Advice.\nTrace Analysis An analytical procedure is used to detect the presence of respirable fibres (particularly asbestos) in a given sample matrix.\nUK HSE HSG United Kingdom, Health and Safety Executive, Health and Safety Guidance, publication.\nUMF Unidentified Mineral Fibre Detected. Fibrous minerals that are detected but have not been unequivocally identified by PLM with DS according to AS 5370:2024*\nSampling and qualitative identification of asbestos in bulk materials (ISO 22262-1:2012, MOD), formerly AS 4964-2004.. It may include (but is not limited to)\nactinolite, anthophyllite, or tremolite asbestos.\nWA DOH Reference document for the NEPM. Government of Western Australia, Guidelines for the Assessment, Remediation and Management of Asbestos-\nContaminated Sites in Western Australia (updated 2021), including Appendix Four: Laboratory analysis\nWeighted Average Combined average %w/w asbestos content of all asbestos-containing finds in the given aliquot or total soil sample (%\nWA\n).\nFirst Reported: Nov 05, 2024\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 6 of\nReport Number: 1156064-AID\n7\n\nComments\nSample Integrity\nCustody Seals Intact (if used) N/A\nAttempt to Chill was evident Yes\nSample correctly preserved Yes\nAppropriate sample containers have been used Yes\nSample containers for volatile analysis received with minimal headspace Yes\nSamples received within HoldingTime Yes\nSome samples have been subcontracted No\nAsbestos Counter/Identifier:\nSayeed Abu Senior Analyst-Asbestos\nAuthorised by:\nBennel Jiri Senior Analyst-Asbestos\nGlenn Jackson\nManaging Director\n- Indicates Not Requested\n* Indicates NATA accreditation does not cover the performance of this service\nMeasurement uncertainty of test data is available on request or please click here.\nEurofins shall not be liable for loss, cost, damages or expenses incurred by the client, or any other person or company, resulting from the use of any information or interpretation given in this\nreport. In no case shall Eurofins be liable for consequential damages including, but not limited to, lost profits, damages for failure to meet deadlines and lost production arising from this report. This\ndocument shall not be reproduced except in full and relates only to the items tested. Unless indicated otherwise, the tests were performed on the samples as received.\nFirst Reported: Nov 05, 2024\nDate Reported: Nov 05, 2024\nEurofins Environment Testing 179 Magowar Road, Girraween NSW, Australia, 2145\nABN : 50 005 085 521 Telephone: +61 2 9900 8400\nPage 7 of\nReport Number: 1156064-AID\n7\nFinal Report – this report replaces any previously issued Report\n\nLl001 gsb remed sp7 wclass dp 6.11.2024.doc Page 6 of 6\nAppendix B\nLimitations\nEarth2Water Pty Ltd has prepared this report for the use of the client in accordance with the\nstandard terms and conditions of the consulting profession. This report is prepared in\naccordance with the scope of work and for the purpose outlined in the proposal and scope of\nwork. The methodology adopted and sources of information used by E2W are outlined in this\nreport.\nThis report was prepared during November 2024 and is based on the information reviewed at\nthe time of preparation. This report should be read in full. No responsibility is accepted for use\nof any part of this report in any other context or for any other purpose or by third parties.\nThe precision with which conditions are indicated depends largely on the frequency and\nmethod of sampling, and the uniformity of conditions as constrained by the project budget\nlimitations and timing. Our advice and interpretations are based upon E2W site testing,\nassessment of site information, and our previous experience with similar sites.\nWhere conditions encountered at the site are subsequently found to differ significantly from\nthose anticipated in this report, E2W should be notified of any such findings and be provided\nwith an opportunity to review the specification or recommendations of this report.","version":"5.3.31"}}]},"versionId":"cc40a397-282e-4439-a06d-1ba11e27dbe5","triggerCount":0,"tags":[]}