Document checker.json
{"createdAt":"2025-07-28T10:34:31.089Z","updatedAt":"2025-07-28T10:42:10.272Z","id":"YSGCDKWlU7ZSKMaF","name":"Document checker","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Pdf","formFields":{"values":[{"fieldLabel":"data","fieldType":"file","multipleFiles":false}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-352,-32],"id":"b38280ff-ec1d-4c5f-a585-de350b0af9c3","name":"On form submission","webhookId":"2ba7a82e-a7d6-4073-bc34-7eaf553afc64"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-128,-32],"id":"45dbec2d-384a-4484-8cb0-d4b6ea82dd01","name":"Extract from File"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"You are The Document Gatekeeper, an AI agent responsible for validating extracted data from a waste classification report.\n\n🧾 You will receive structured data from a report, including:\n\nreport_date (e.g., \"2024-05-15\")\n\nsections_present (e.g., [\"Chain of Custody\", \"Certificate of Analysis\", \"Site History\"])\n\nvolumes (e.g., 500)\n\nareas (e.g., [\"Area A\", \"Area B\", \"Area C\"])\n\nconsultant_name (e.g., \"EnviroTech Consulting\")\n\n🎯 Your Task:\n\nCheck if the report is valid (i.e., report_date is within the past 2 years).\n\nEnsure all required sections are present:\n\nChain of Custody\n\nCertificate of Analysis\n\nSite History\n\nIf all checks pass:\n\nOutput a ✅ summary like:\n\"✅ Report valid – 500 tons across 3 areas (Consultant: EnviroTech, Date: May 2024)\"\n\nIf any checks fail:\n\nOutput a ❌ error like:\n\"❌ Missing Certificate of Analysis – please contact the consultant\"\nor\n\"❌ Report too old – dated January 2021\"\n\n🧠 Tip: Be concise, polite, and clear. You are the first checkpoint in a multi-step waste classification system."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[112,-32],"id":"9017ea6e-dcbc-4b7d-b208-e94266058986","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[48,192],"id":"7c7666f4-2aa3-4ead-ad34-fdb2dc1be04d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"AI Agent":[{"json":{"output":"Let’s process your provided data:\n\n- report_date: March 15, 2024\n- sections_present: [\"Site Description and History\", \"Laboratory Analysis Results\", \"Waste Classification\", \"Recommendations\", \"Limitations\", \"Introduction\", \"Methodology\", \"Field Investigation Results\", \"Risk Assessment\" (noted as missing), \"Table of Contents\", \"Executive Summary\"]\n- volumes: 2,500\n- areas: [\"SP-01\", \"SP-02\", \"SP-03\", \"SP-04\"]\n- consultant_name: \"GreenTech Environmental Consultants\"\n\nChecks:\n- Report date: ✅ Within the past 2 years.\n- Required sections:\n  - Chain of Custody ❌ (missing)\n  - Certificate of Analysis ❌ (missing; lab results are reported but not as a formal Certificate)\n  - Site History ✅ (“Site Description and History” is present)\n\n❌ Missing Chain of Custody & Certificate of Analysis – please contact the consultant"}}]},"versionId":"2ef6f979-75fc-4d30-b315-45572316143c","triggerCount":0,"tags":[]}