encyclopedia.json
{"createdAt":"2025-06-06T05:10:38.744Z","updatedAt":"2025-07-25T10:41:49.836Z","id":"Sv88injvBKy3kbsp","name":"encyclopedia","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-176,224],"id":"17427b4a-301b-45a7-bc83-717e92f9b61e","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').item.json.userQuery }}","options":{"systemMessage":"=> * **Encyclopedia Data:** `{{ $('Aggregate').item.json.data.toJsonString() }}`\n\n{{ ($json.content && $json.content.trim().length > 0) ? $json.content : `You are a smart health assistant.\n\nIf user asked about any vitamins like how many dosage taken of that particular vitamin, use the below **Vitamin Dosage Details** to share response only, nothing else:\n---\n\n### 🧠 Rules:\n\n1. **When user asks about any vitamin dosage**:\n\n   * First, validate if the mentioned vitamin exists in **Vitamin Dosage Details**.\n   * ✅ If found → Provide the **safe dosage** as per the list.\n   * ❌ If not found in the list → **Do not give any specific dosage value (like 15ml or 200mg)**.\n\n     * Instead, say something like:\n\n       > “This vitamin is not listed in our dosage table. Please consult a healthcare professional for appropriate dosage.”\n     * However, **do not remove the vitamin name from the response** — just avoid exact dosage numbers.\n\n2. Final output should not be too long but don't miss any static, metrics, or numbers.\n\n3. For all other cases, proceed below:\n\n4. Use smooth transitions:\n   “According to the encyclopedia…”,\n   “The encyclopedia provides insight…”, etc.\n\n5. Use paragraph breaks for readability.\n\n6. Do not return raw JSON or code blocks.\n\n7. Do not invent or guess any data.\n\n8. Always include chapter name, chapter number, and page number at the end if found.\n\n9. Add this at the very end:\n   **Do you want to learn more? click here → [https://santoriov1.vercel.app/status]**\n\n10. The output should be user friendly — use emojis 🧠, ✅, 📊, 📚, bullet points, and helpful language.\n\n11. Keep the tone helpful, the output fast and compact, and prioritize clarity.` }}\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1248,-64],"id":"bc02972e-ee22-4de9-8f97-d1d6f86ce22d","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1264,208],"id":"9e685611-091a-4b51-b2b6-1732077f0ae5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"aggregate":"aggregateAllItemData","include":"allFieldsExcept","fieldsToExclude":"document.metadata._node_content","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[320,-64],"id":"bd4cf2b6-61ea-496f-9ddb-ae6bc1bf1c85","name":"Aggregate"},{"parameters":{"workflowInputs":{"values":[{"name":"userQuery","type":"any"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-336,-64],"id":"7f297ba4-1bc1-4b54-8c19-a1d5e6c044e9","name":"When Executed by Another Workflow"},{"parameters":{"content":"# DB Finder and Aggregate data\n","height":240,"width":560,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-128,-144],"id":"70bad5cf-905b-4756-91db-ef2e96ce3b80","name":"Sticky Note1"},{"parameters":{"content":"# Trigger\n","height":240,"width":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-144],"id":"0c791c5a-b5b8-4d3b-b3b9-3c09f9a7f3b5","name":"Sticky Note5","disabled":true},{"parameters":{"content":"# Formate Final Output\n","height":240,"width":732,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,-144],"id":"046d389a-29a9-438b-8f12-0a390861965d","name":"Sticky Note"},{"parameters":{"content":"# Embenddings and Re-Ranker\n","height":240,"width":840,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-416,128],"id":"eafd0a6d-e600-492f-bd50-8f97c3ac4c38","name":"Sticky Note6","disabled":true},{"parameters":{"content":"# Brain\n\n","height":240,"width":1604,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,128],"id":"54675246-0040-447a-9a83-0b6e4cdadff1","name":"Sticky Note7","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1VHHXL_TLAS4iaKiiw2hni45YspzA5xRZDp87N5tmlV0","mode":"list","cachedResultName":"Vitamin Dossage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VHHXL_TLAS4iaKiiw2hni45YspzA5xRZDp87N5tmlV0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":157839277,"mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VHHXL_TLAS4iaKiiw2hni45YspzA5xRZDp87N5tmlV0/edit#gid=157839277"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[608,-64],"id":"8ecc2abf-88ec-4936-8451-7fc2c6b2a9a5","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2a7t9bbSmio220XT","name":"Dan Google Cred"}},"onError":"continueRegularOutput"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[864,-64],"id":"da17f0f7-7cdb-425a-89fd-6bafd319d1b2","name":"Aggregate1"},{"parameters":{"content":"# Get Vitamins Data\n","height":240,"width":332,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,-144],"id":"4c949b41-e529-4678-9bdb-85d58e086fa8","name":"Sticky Note8","disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.rerankerCohere","typeVersion":1,"position":[160,224],"id":"393aa646-dc31-4f18-b87d-552455433dbe","name":"Reranker Cohere","credentials":{"cohereApi":{"id":"oSQI69C4pVWPIRSm","name":"CohereApi account"}},"disabled":true},{"parameters":{"mode":"load","pineconeIndex":{"__rl":true,"value":"rag-index","mode":"list","cachedResultName":"rag-index"},"prompt":"=You are a semantic search AI. Based on:\nUser Query: {{ $json.userQuery }}\nFind the most relevant matches from the encyclopedia-book index. Focus on semantic meaning, not exact keywords. ","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[-64,-64],"id":"0e97e64b-a390-4cb8-b9c0-87db874c2b3e","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"C7qzM8nn06D4s2tq","name":"Sh PineconeApi account 2"}}},{"parameters":{"formTitle":"myForm","formFields":{"values":[{"fieldLabel":"file","fieldType":"file","multipleFiles":false}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[64,704],"id":"1fef8638-030d-49a5-9105-c9afd02ef59d","name":"On form submission","webhookId":"801e57c5-71b0-4c57-9f33-95f0aa3cfb05","disabled":true},{"parameters":{"operation":"pdf","binaryPropertyName":"file","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[288,704],"id":"f87a2041-a407-4cd1-af0a-4e3c1f6a35c9","name":"Extract from File"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"encyclopedia-book","mode":"list","cachedResultName":"encyclopedia-book"},"embeddingBatchSize":300,"options":{"pineconeNamespace":"diabetics-and -toxins"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[512,704],"id":"b0bd71b9-a47f-47f2-a998-870618efbce4","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"8wEZENAdckcB0rvK","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[464,928],"id":"6713e049-17f7-4bc0-8495-6f1be9563398","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"key","value":"diabetics-and-toxins"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[640,944],"id":"88eea19f-116b-4686-abe0-5c557f4196d0","name":"Default Data Loader"},{"parameters":{"chunkSize":300,"chunkOverlap":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[752,1152],"id":"c5039693-c6d2-455a-bb3d-a408d47ca59a","name":"Recursive Character Text Splitter"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1904,-80],"id":"0f5e6152-a65b-44d7-be75-6cab520c0a6d","name":"Send a text message","webhookId":"83aaf73e-1fb9-4485-abd6-a76bda36e51f","credentials":{"telegramApi":{"id":"n9uqHVVmsUH0LY6C","name":"Santorio-API-Token"}}},{"parameters":{"content":"# Response\n","height":240,"width":508,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1552,-144],"id":"d4eacf43-a568-4b46-892b-b6bc71319b2a","name":"Sticky Note4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2fb4806-bd1b-478d-afb4-c221acb59a49","leftValue":"={{ $('When Executed by Another Workflow').item.json.chatID }}","rightValue":"cg_admin","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1664,-64],"id":"80067dd8-b40e-4f05-ad40-9c12b076e548","name":"If"},{"parameters":{"operation":"get","documentURL":"1ZgJrW-bFe-HUzz-u-7AJILahr2AQco9rtn40u9yWvGQ"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1088,-64],"id":"a7fe2537-633f-488c-901f-aeab9b7bf60d","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}}}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Aggregate":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Reranker Cohere":{"ai_reranker":[[]]},"Pinecone Vector Store":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Pinecone Vector Store1","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"If":{"main":[[],[{"node":"Send a text message","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"On form submission":[{"json":{"file":{"filename":"15.4 Diabetes and Toxins.pdf","mimetype":"application/pdf","size":2889714},"submittedAt":"2025-07-01T05:19:09.268-04:00","formMode":"test"}}],"Extract from File":[{"json":{"numpages":10,"numrender":10,"info":{"PDFFormatVersion":"1.5","Language":null,"EncryptFilterName":null,"IsLinearized":true,"IsAcroFormPresent":false,"IsXFAPresent":false,"IsCollectionPresent":false,"IsSignaturesPresent":false,"CreationDate":"D:20160810130428-05'00'","Creator":"Adobe InDesign CS6 (Windows)","ModDate":"D:20160810130433-05'00'","Producer":"Adobe PDF Library 10.0.1","Trapped":{"name":"False"}},"metadata":{"xmpmm:instanceid":"uuid:2b4ded69-2d72-432e-b83a-3fbbf089a2d3","xmpmm:originaldocumentid":"adobe:docid:indd:0e6e9efe-b183-11e1-9303-800b545c198b","xmpmm:documentid":"xmp.id:AC92F794245FE611964ADF86D847426D","xmpmm:renditionclass":"proof:pdf","xmpmm:derivedfrom":"xmp.iid:08BDDF14FE5EE611964ADF86D847426Dxmp.did:424E2B0CE55EE411AAC5C2D12BEE5634adobe:docid:indd:0e6e9efe-b183-11e1-9303-800b545c198bdefault","xmpmm:history":"convertedfrom application/x-indesign to application/pdfAdobe InDesign CS6 (Windows)/2016-08-10T13:04:28-05:00","xmp:createdate":"2016-08-10T13:04:28-05:00","xmp:modifydate":"2016-08-10T13:04:33-05:00","xmp:metadatadate":"2016-08-10T13:04:33-05:00","xmp:creatortool":"Adobe InDesign CS6 (Windows)","dc:format":"application/pdf","pdf:producer":"Adobe PDF Library 10.0.1","pdf:trapped":"False"},"text":"Integrative Medicine • Vol. 15, No. 4 • August 20168 Pizzorno—The Path Ahead\nIs the Diabetes Epidemic Primarily Due to\nToxins?\nJoseph Pizzorno, ND, Editor in Chief\nTHE PATH AHEAD\nThe Diabetes Epidemic\nAccording to the Centers for Disease Control and\nPrevention (CDC), the incidence of diabetes has increased\nfrom 0.9% in 1958 to 7.2% in 2013, representing an 8-fold\nincrease. This diabetes epidemic is well demonstrated in\nFigure 1. The problem, of course, is that this is only the tip\nof the iceberg as the incidence of metabolic syndrome is\neven higher and many people have diabetes which has not\nyet been diagnosed.\nThe incidence of diabetes has increased 7 to 10-fold in\nthe past 50 y. Although increased sugar consumption,\nobesity, and lack of exercise certainly contribute, the\neffect of environmental toxins may be far greater. The\ndata are so compelling that some researchers now label\nthese toxins as diabetogens. This editorial summarizes\nthe research showing which toxins are the worst\noffenders, how they disrupt blood sugar control, where\nthey come from, how to assess body load, and strategies\nfor detoxification and excretion.\nAbstract\nSome might dismiss this because of increased sugar\nconsumption. But a close look at Figure 2 casts serious\ndoubt on this as the primary, even most important,\ncause. The diabetes epidemic started 4 decades after the\nsugar consumption began to increase and shows little\ncorrelation. I am not asserting sugar does not contribute\nto diabetes. But if this were the primary driver, one\nwould have expected the epidemic to start decades\nearlier.\nFigure 1. The Rising Incidence of Diabetes\n1\nNumber and Percentage of US Population With Diagnosed Diabetes, 1958–2013\nNumber With Diabetes (Millions)\nPercentage With Diabetes\n\nIntegrative Medicine • Vol. 15, No. 4 • August 2016 9Pizzorno—The Path Ahead\nFigure 2. The Diabetes Epidemic Does Not Correlate With the Increase in Sugar Consumption\nAnother possibility is the increased incidence of\nobesity which is a known major risk factor for diabetes.\nHowever, the obesity epidemic appears because of the\nsame causes as diabetes: diabetogens, many of which are\nalso called obesogens. Of particular significance is the\nsurprising observation that obese people with low levels of\npersistent organic pollutants (POPs) do not have an\nincreased risk of diabetes.\n3\nIn contrast, as can be seen in Figure 3, the diabetes\nepidemic does correlate with the rate of release of POPs\ninto the environment. Of course, correlation does not\nprove causation.\nFigure 3. The Diabetes Epidemic Correlates With Release of POPs Into the Environment\n4\nDiabetes 1%\n\nIntegrative Medicine • Vol. 15, No. 4 • August 201610 Pizzorno—The Path Ahead\nMore convincing is the correlation between body\nload of POPs and risk of metabolic syndrome as seen in\nFigure 4, and the association is synergistic. When POP\nlevels versus diabetes risk is examined, the case becomes\neven more compelling, as shown in Figure 5. For example,\nthose in the top 10% of trans-nonachlor level have a\nremarkable 12-fold increased risk.\nDiabetogens: Toxins That Disrupt Blood Sugar\nControl\nAs near as I can determine, the term diabetogen was\ncoined in 1961 by GD Campbell of the Diabetic Clinic in\nKing Edward VIII Hospital (Congella, Durban, South\nAfrica). \n7 \nHe posted a letter in the British Medical Journal\ndescribing his efforts to determine the cause of an\ninexplicably high incidence of “connubial” diabetes in\nmarried Natal Indians. His investigative work lead him to\ntheir high consumption of mustard oil, which consisted of\na simple vegetable oil flavored with a synthetic substance\ncontaining 95% allyl isothiocyanate. He postulated that\nthe chemical’s chelation of free sulfhydryl (SH) groups in\nthe gut resulted in decrease availability of SH groups,\nwhich he thought would impair carbohydrate metabolism.\nAlthough he apparently focused on the wrong molecule,\nhis observation of food contamination as a cause of\ndiabetes was right on.\nCurrently, I am working on 2 new books: for consumers,\nThe Toxin Solution (coming February 2017); and for health\ncare professionals, Clinical Environmental Medicine (coming\nDececember 2017), coauthored with Walter Crinnion, ND.\nAs part of the process, I have been working with 2 smart\nrecent Bastyr University graduates (Drs Cirovic and Bender)\nto help me dig into the research to answer the question,\n“What percentage of chronic disease may be due to toxins?”\nThe numbers we are finding are simply stunning (lots of\ncontent for future editorials).\nThe methodology we used to determine the percentage\nof disease potentially because of specific toxins utilizes the\nfollowing formula:\nFigure 4. Body Load of POPs Correlates With\nMetabolic Syndrome\n5\nNote: The prevalence of prediabetes increases with\nincreased circulating levels of POPs. Black circles,\nPCBs (15 congeners); black squares, p,p'-DDE; white\nsquares, p,p'-DDT; black diamonds, HCB; white\ndiamonds, β-HCH; white circles, POLL5.\nAbbreviations: POPs, persistent organic pollutants;\nPCBs, polychlorinated biphenyls; DDE, dichloro-\ndiphenyldichloroethylene; DDT, dichlorodiphenylt-\nrichloroethane; HCB, hexachlorobenzene;\nHCH, hexachlorocyclohexane.\nFigure 5. Very Strong Diabetes Risk in Those With\nthe Highest Levels of POPs\n6\nAbbreviations: PCB, polychlorinated biphenyl; hpCDD,\nheptachlorodibenzo-p-dioxins; OCDD, octachlorodiben-\nzo‐p‐dioxin; DDE, dichlorodiphenyldichloroethylene.\np(rr - 1)\np(rr - 1) + 1\nAF =\nwhere p \n= underlying prevalence of risk factor in the\npopulation; rr = relative risk (risk of contracting a disease\nin an exposed population divided by the risk of contracting\nthe disease in an unexposed population); and\nAF = attributable fraction (ie, % of disease because of the\ntoxin).\nThis is the same formula used to determine, for\nexample, the percentage of lung cancer because of\nsmoking. \n8 \nAs you might expect, determining these\nnumbers requires quite a lot of research time. Table 1\nshows what we have TENTATIVELY found for diabetes. I\nincluded a few of the references. Please be clear that this is\nan early look. Challenges finding the numbers we need,\n\nIntegrative Medicine • Vol. 15, No. 4 • August 2016 11Pizzorno—The Path Ahead\nnonindependence of the toxins, and difficulty finding\nunexposed controls makes rigor very difficult. It would be\nbetter if we could include error ranges, but we have not\nprogressed that far. Nonetheless, what we have found is\nvery important.\nAdding up the numbers shows potentially the whole\nepidemic is apparently due to the massive increase in body\nload of toxins. A big caveat is that there is a real problem\nwith nonindependence of the correlations and that many\nof these diabetogens are also being labeled obesogens, as\nthere is substantial overlap of mechanisms of damage.\nNonetheless, even if we do not know the exact percentage\ncontribution of each toxin, their role in the epidemic\nappears undeniable.\nMechanisms of Blood Sugar Control Dysregulation\nThere are many mechanisms for blood sugar control\ndisruption by these toxins. They can be loosely into\n2 broad categories: impaired insulin sensitivity and\ndecreased insulin production. Although I have allocated\nthese toxins to the 2 categories, the reality is that all of\nthem have multiple ways in which they disrupt blood\nsugar regulation.\nDecreased Insulin Production\nAs can be seen in Figure 6, there is a direct correlation\nbetween the amount of arsenic in a person’s body (toenail\narsenic is the best measure of body load) and risk of\ndiabetes. The primary mechanism appears due to\ndamaging pancreatic β cells with resultant decreased\nproduction of insulin.\n12\nImpaired Insulin Sensitivity\nBisphenol A (BPA) blocks insulin receptor sites\ncausing insulin resistance.\n14 \nThis increases not only the\nincidence of diabetes, but also obesity, especially the worst\ntype—accumulation of visceral fat—as well demonstrated\nby increasing waist-to-hip ratio as shown in Figure 7.\nImpaired insulin sensitivity is the typical mechanism\nof damage for all the POPs, which is why they are also\nimplicated in the obesity epidemic.\n16-19\nSources of the Diabetogens\nArsenic\nArsenic exposure occurs primarily through diet and\nwater. A surprising 13 million in the United States use\npublic water exceeding Environmental Protection Agency\n(EPA) limit of 10 μg/L. As can be seen from Figure 8,\nmany water supplies have not been tested and the data on\nprivate water supplies are very limited, so the total\nexposure is likely much higher. Seafood, rice, mushrooms,\nand poultry are main food sources. \n20 \nSeafood contains\nTable 1. Tentative Estimate of Contribution of Key\nDiabetogens to Diabetes\n9-11\nToxin % of Diabetes\nArsenic 18\nBPA 14\nDioxins (other than PCBs) 4\nOCPs 3\nPCBs 13\nPhthalates 22\nPAHs 16\nAbbreviations: BPA, bisphenol A; PCB, polychlorinated\nbiphenyls; OCPs, organochlorine pesticides;\nPAHs, polycyclic aromatic hydrocarbons.\nFigure 6. Arsenic Levels Correlate With Diabetes\n13\nFigure 7. BPA Correlates With Visceral Fat\n15\nAbbreviations: BPA, bisphenol A; WC, waist\ncircumference.\n\nIntegrative Medicine • Vol. 15, No. 4 • August 201612 Pizzorno—The Path Ahead\nprimarily arsenobetaine, an organic form, which is\nconsidered less toxic. Even some organically grown rice\nhas been found to have elevated levels.\n21\nBisphenol A\nBPA is used in the production of polycarbonate\nplastics. These plastics are used in many ways, such as\nfood and drink packaging, including canned foods and\nwater bottles, compact discs, implanted medical devices,\nand even in some dental sealants and composites. Figure 9\nshows the comparison between urinary BPA after\nconsumption of 2 servings of soy milk in canned versus in\nglass and one 12-oz serving daily for 1 week of fresh soup\ncompared with canned soup. The threshold for doubling\nof risk for diabetes is 5.0 μg/L urine.\nDioxins\nDioxins are a large class of highly toxic POPs. They are\nby-products of several industrial processes and new-to-\nnature molecules made for specific purposes. They include\nsuch classes of molecules as polychlorinated\ndibenzo-p-dioxins (PCDDs); polychlorinated dibenzofurans\n(PCDFs), or furans; and polychlorinated/polybrominated\nbiphenyls (PCBs/PBBs).\nFigure 8. Arsenic in Public Water Supplies\n22\nFigure 9. Canned Foods Have High Levels of BPA\nAbbreviation: BPA, bisphenol A.\n\nIntegrative Medicine • Vol. 15, No. 4 • August 2016 13Pizzorno—The Path Ahead\nOrganochlorine Pesticides\nEveryone who eats conventionally grown foods is\nexposed to organochlorine pesticides (OCPs). The\nexposure is even higher for those breathing and drinking\nwater in farming areas.\nPolychlorinated Biphenyls\nAlthough banned in 1977, PCBs were manufactured\nfrom 1929 and have heavily contaminated the\nenvironment. PCBs, like other POPs, are very difficult to\nbreakdown in the environment as well as in living\norganisms. Because of their nonflammability, chemical\nstability, high boiling point, and electrical insulating\nproperties, PCBs were used in hundreds of industrial and\ncommercial applications including electrical, heat\ntransfer, and hydraulic equipment; as plasticizers in\npaints, plastics, and rubber products; in pigments, dyes,\nand carbonless copy paper; and in many building\nmaterials. \n23 \nAs can be seen in Figure 10, PCBs accumulate\nwith age. This correlates well with the increasing\nincidence of diabetes with age. This is despite most PCBs\nand dichlorodiphenyltrichloroethane (DDT) having\nbeen banned since the late 1970s.\nPhthalates\nPhthalates are a family of organic chemicals used\nas plasticizers (to increase flexibility, transparency, and\ndurability) and for multiple manufactured product\npurposes, such as to solubilize and stabilize fragrances in\nFigure 10. PCBs Accumulate With Age\n24\nAbbreviation: PCBs, polychlorinated biphenyls.\ncosmetics. Diet is the main source of phthalates as they\neasily contaminate fatty foods such as milk, butter, and\nmeats when in plastic containers. Diethyl phthalate and\ndibutyl phthalate are especially common in health and\nbeauty aids, except in Europe where they have now been\nbanned due the very large amount of research showing\ntheir toxicity, regardless of the source. As can be seen in\nFigure 11, phthalate levels in the blood directly correlate\nwith use of health and beauty aids.\nFigure 11. Cosmetic Use Increases Phthalates in the Blood\n25\nAbbreviation: MEP, monoethyl phthalate.\nAge Group (y)\n70\n60\n50\n40\n30\n20\n10\n0 \n>6041 \n– 6021 – 4012 – 20\nBlood Levels of Most Common PCBs\n(lipid adjusted ng/g)\nPCB153\nPCB180\nPCB138 & 158\nPCB118\n\nIntegrative Medicine • Vol. 15, No. 4 • August 201614 Pizzorno—The Path Ahead\nPolycyclic Aromatic Hydrocarbons\nPolycyclic aromatic hydrocarbons (PAHs) are a group\nof hydrocarbons with multiple aromatic rings. They\ninclude such molecules such as napthalene, fluorene,\nanthracene, phenanthrene, fluoranthene, pyrene, benzo[a]\nanthracene, chrysene, benzo[a]pyrene, benzo[b]\nfluoranthene, benzo[e]pyrene, benzo[j]fluoranthene,\nbenzo[k]fluoranthene, dibenzo[a,h]anthracene,\nindo[123-cd]pyrene, and dibenzo[al]pyrene. They are the\nprimary carcinogens in cigarette smoke and are found in\ncharbroiled food, in smoked meats, in the air in cities, and\nwherever fossil fuels are burned.\n26 \nThey are such a health\nhazard that a PubMed search yields almost 400 000 studies.\nDiabetogen Body Load Assessment\nA number of laboratory tests are available to determine\ntotal body load of toxins as well as the level of specific\ntoxins. These include both conventional laboratory tests\nand toxin-specific tests.\nConventional Laboratory Tests. Determining which\npatients have elevated body load of toxins can be inferred\nfrom several conventional laboratory tests. The grim reality\nis that the “normal” range is actually indicative of adaptation\nto toxic load. Perhaps the most important easily available\nlab tests indicative of the load of toxins that cause diabetes\nis γ-glutamyl transferase (GGT), also known as GGTP. This\nenzyme recycles glutathione for detoxification of POPs and\nis induced in proportion to exposure. One particularly\nillustrative study followed men for 4 years to determine the\npredictive value of GGT for development of diabetes. As\nFigure 12 shows, the correlation is very strong.\nAs can be seen in Figure 13, in diabetics there is a very\nstrong correlation between GGT and hemoglobin A \n1c\n(HbA\n1c\n), which is indicative of poorer blood sugar control\nthe higher the level of toxins.\nOther conventional laboratory tests indicative of toxic\nload include complete blood count (CBC), high-sensitivity\nC-reactive protein (hsCRP), platelet count, homocysteine,\nalanine transaminase (ALT), and bilirubin. The number of\ntests continues to increase as researchers study this area.\nToxin-Specific Laboratory Tests. The best test to\ndetermine body load of arsenic is by measuring the\namount in toenails. Blood and urine levels typically only\nindicate acute exposure. As noted above, there is a direct\ncorrelation between toenail arsenic and diabetes. The\nbest way to determine body load of chemical toxins is\nwith fat biopsy. Fortunately, much more easily available\nand more patient tolerant is urinary measurement. A\nnumber of laboratories now directly measure multiple\nindustrial toxins in urine and blood.\nDetoxification and Excretion of Diabetogens\nA number of liver enzymes metabolize chemical\ntoxins. This typically results in either complete breakdown\nbut more often excretion of conjugated compounds\ndirectly into the urine.\nThere are essentially 5 types of strategies for decreasing\nbody load of toxins:\n1. Avoidance (the best!).\n2. Increasing glutathione production (facilitates\nphase 2 conjugation and helps protect from the\noxidation and inflammation which facilitate the\ndamage to blood sugar regulation).\n3. Increasing dietary fiber (helps bind toxins in the\ngut to facilitate excretion from the body).\n4. Toxin-specific interventions to increase\ndetoxification/elimination.\n5. Toxin-specific interventions to prevent the damage\nthey cause.\nThe importance of avoidance cannot be overstated.\nAlthough some of these toxins have half-lives of hours to\ndays, some take months to even years. Once in the body,\nmany are very difficult to eliminate and accumulate in fat\nstores. The following toxin-specific interventions presuppose\nglutathione support and increasing dietary fiber.\nFigure 12. GGT and Risk of Diabetes\n27\nAbbreviation: GGT, γ-glutamyl transferase.\nFigure 13. HbA\n1c \nCorrelates With GGT\n28\nAbbreviations: HbA\n1c\n, hemoglobin A\n1c\n;\nGGT, γ-glutamyl transferase.\n\nIntegrative Medicine • Vol. 15, No. 4 • August 2016 15Pizzorno—The Path Ahead\nArsenic\nAs methylation is the normal mechanism for excretion\nof arsenic, methyl donors would seem like a good idea.\nHowever, the research is mixed. Resveratrol has been\nshown in cell cultures to protect against arsenic-induced\noxidative damage. \n29 \nB vitamins have been shown to\nincrease urinary excretion of arsenic in humans.\n30 \nIn a rat\nmodel, curcumin protects against multiple mechanisms of\narsenic damage.\n31\nBisphenol A\nIn an interesting rat study, probiotics Bifidobacterium\nbreve and Lactobacillus casei were shown to bind BPA in\nthe gut and increase excretion in the stools. \n32 \nBoth\nα-tocopherol and α-lipoic acid have been shown in a rat\nmodel to decrease BPA toxicity as has N-acetylcysteine\n(NAC). \n33,34\nDioxins (Other Than PCBs)\nQuercetin has been shown in animal studies to\nprotect against the oxidative stress induced by dioxins.\n35\nVitamin C has been shown in human cell cultures to\nsuppress dioxin carcinogenesis.\n36\nOrganochlorine Pesticides\nNAC has been shown in human cells to decrease\nglutathione depletion by OCPs. \n37 \nGallic acid and quercetin\nhave been shown to alleviate lindane-induced cardiotoxicity\nin rats.\n38\nPolychlorinated Biphenyls\nEpigallocatechin gallate (EGCG) and quercetin have\nbeen shown in human cell lines to protect against DNA\ndamage from PCBs.\n39 \nPCB-induced oxidative stress and\ncytotoxicity in cell lines can be mitigated by NAC.\n40 \nIn cell\ncultures, quercetin blocks the inflammatory induced by\nPCBs. \n41\nPhthalates\nIn rats, α-lipoic acid, resveratrol, and curcumin\nprotect against the testicular toxicity induced by\nphthalates. \n42,43\nPolycyclic Aromatic Hydrocarbons\nFinally, a human study—probably because this class\nof toxins has been recognized for decades as the primary\ncarcinogens in tobacco smoke. Antioxidants such as\nvitamin C and vitamin E at modest daily dosages of\n500 mg and 400 IU daily have been shown to protect\nwomen smokers from DNA damage. \n44 \nIn human epithelial\ncells, curcumin protects against DNA damage from\nPAHs. \n45 \nQuercetin has been shown to enhance the\nprotective effects of β-carotene for DNA from PAHs.\n46\nEpicatechins have been shown in mucosal cell cultures to\nprotect against DNA damage.\n47\nBile Sequestrants. Although the approaches above all\nused natural medicines, there is also an intriguing drug\noption. Bile sequestrants, which were designed to decrease\ncholesterol levels, have in limited studies been shown to\nalso decrease body load of several POPs. Five grams per\nday of colestimide was shown to decrease body load of\nPCBs by 23% after 6 months.\n48 \nInterestingly, those in the\ncontrol group suffered a 24% increase.\nFifteen grams per day of olestra, administered via\n22 Pringles Light crisps, for 12 months decreased body\nload of PCBs and dichlorodiphenyldichloroethylene\n(DDE) (the breakdown product in the body of DDT) by\n9%. \n49 \nThis is particularly important as the body half-life of\nDDE is more than 10 years.\nThe astute reader will have noticed that few of these\ninterventions have been studied in human clinical trials and\nthat the limited research appears to have been on protection\nrather than detoxification/excretion. I think this inexplicable\nresearch deficiency reflects the lack of recognition in much\nof the research community of the substantial human\ndamage being done by environmental toxins. We are way\npast the “yellow canary” stage of reactivity to toxins—the\nwhole population is now clearly being affected.\nGlutathione. Finally, glutathione plays a critical role\nin protection from the oxidative effects of these toxins and\nfacilitation of their detoxification through phase 2. Ways\nto increase endogenous synthesis will be discussed in a\nfuture editorial.\nConclusion\nAs near as I can determine from the research, the\ndiabetes epidemic is likely due to the ever-increasing body\nload of toxins. Although only 7 are discussed here, the list\nis almost certainly to increase as the research evolves.\nMost of these chemical toxins are very difficult to get out\nof the body, hence the title of persistent organic pollutants.\nFoundational to excretion and detoxification are\nsupplementing with NAC to promote glutathione\nproduction and increasing dietary and supplemental fiber,\naugmented by the appropriate intervention for those\ntoxins with the highest body load.\nIn This Issue\nAssociate editor, Jeffrey Bland, PhD, FACN, FACB , leads\noff discussing the critical role of gut mucosal membrane\nin health and disease. Sure reminds me of Dr Robert\nCarroll, DC, ND , in my third year of naturopathic medical\nschool more than 4 decades ago when he started class\nwith the provocative assertion, “Disease begins in the\ngut!” I was quite skeptical at the time. Now we realize he\nwas right on.\nJohn Weeks keeps us up-to-date on the latest in\nintegrative medicine research and the growing\ninternational interest.\nOnce again, we provide interesting guidance on\nnonpharmaceutical interventions. Managing editor, Craig\n\nIntegrative Medicine • Vol. 15, No. 4 • August 201616 Pizzorno—The Path Ahead\nGustafson, interviews Anthony Rosner, PhD, LLD, LLC , on\nways to approach inflammation without pharmaceuticals\nin our first presenter interview. Our second presenter\ninterview, again by Craig, is of Amie Skilton, ND.\nAssistant editor, Clyde B. Jensen, PhD, provides us\nanother episode in is series of articles on the intra- and\ninterprofessional continuum. As the only academician to\nhave served as president or dean of all the major health\ncare professions, he is uniquely qualified to provide us\ninformative and important insights.\nAssociate editor, Davie Riley, MD, brings 2 interesting\ncase histories. Jessica Drummond, MPT, CCN, CHC ; Deborah\nFord, MS, RD, CCN ; Stephanie Daniel, DO ; and\nTara Meyerink, MS, FDN-P , show how diet alone can be\neffective in treating vulvodynia and irritable bowel\nsyndrome. Reading their account reminded me of a newly\nmarried young woman with persistent dyspareunia\nunresponsive to treatment. After seeing 2 gynecologists\nand refusing their referral to a psychologist, she sought my\ncare. Intervention was surprisingly simple: avoidance of all\nsources of gliadin resulted in total reversal in a bit more\nthan 1 week.\nOur second case history is from Kasia Kines, MS, MA,\nCN, CNS, LDN; and Tina Krupczak, MS, CNS, LDN , who used\ndiet and nutritional interventions to help a woman with\ngastroesophageal reflux, irritable bowel syndrome, and\nhypochlorhydria. Commendations to Liz Lipsky, PhD ,\ndirector of the nutrition programs at the Maryland\nUniversity in Integrative Health, whose graduate students\nplayed lead roles in the care of these patients.\nIn BackTalk, Associate editor, Bill Benda, MD, talks\nabout not having time for pain. And once again he\nprovides incredible insight into the challenges of practicing\neffective and caring medicine in a world where taking\nresponsibility is now up to someone else.\nJoseph Pizzorno, ND , Editor in Chief\ndrpizzorno@innovisionhm.com\nhttp://twitter.com/drpizzorno\nReferences\n1. Centers for Disease Control and Prevention. Diabetes statistics. CDC Web\nsite. http://www.cdc.gov/diabetes/statistics/slides/long_term_trends.pdf.\nAccessed May 1, 2016.\n2. Guyenet S. By 2606, the US diet will be 100 percent sugar. Whole Health\nSource Web site. http://wholehealthsource.blogspot.com/2012/02/by-2606-\nus-diet-will-be-100-percent.html. Published February 18, 2012. Accessed\nAugust 3, 2016.\n3. Lee DH, Lee IK, Song K, et al. A strong dose-response relation between\nserum concentrations of persistent organic pollutants and diabetes: Results\nfrom the National Health and Examination Survey 1999-2002. Diabetes Care.\n2006;29(7):1638-1644.\n4. Neel BA, Robert M. Sargis RM. The paradox of progress: Environmental\ndisruption of metabolism and the diabetes epidemic. Diabetes.\n2011;60(7):1838-1848\n5. Ukropec J, Radikova Z, Huckova M, et al. High prevalence of prediabetes and\ndiabetes in a population exposed to high levels of an organochlorine cocktail.\nDiabetologia. 2010;53(5):899-906.\n6. Lee DH, Lee IK, Song L, et al. A strong dose-response relation between\nserum concentrations of persistent organic pollutants and diabetes: Results\nfrom the National Health and Examination Survey 1999-2002. Diabetes Care.\n2006;29(7):1638-1644.\n7. Campbell GD. Connubial diabetes and the possible role of “oral diabetogens.”\nBMJ. 1961;1(5238):1538-1539.\n8. Levin M. The occurrence of lung cancer in man. Acta Unio Int Contra\nCancrum. 1953;9(3):531-541.\n9. Navas-Acien A, Silbergeld EK. Pastor-Barriuso R, Guallar E. Arsenic\nexposure and prevalence of type 2 diabetes in US adults. JAMA.\n2008;300(7):814-822.\n10. Song Y, Chou EL, Baecker A, et al. Endocrine-disrupting chemicals, risk of\ntype 2 diabetes, and diabetes-related metabolic traits: A systematic review\nand meta-analysis. J Diabetes. 2016;8(4):516-532.\n11. Ranjbar M, Rotondi MA, Ardern CI, Kuk JL. Urinary biomarkers of\npolycyclic aromatic hydrocarbons are associated with cardiometabolic health\nrisk. PLoS One. 2015;10(9):e0137536.\n12. Liu S, Guo X, Wu B, et al. Arsenic induces diabetic effects through beta-cell\ndysfunction and increased gluconeogenesis in mice. Sci Rep. November\n2014;4:6894.\n13. Pan WC, Seow WJ, Kile ML, et al. Association of low to moderate levels of\narsenic exposure with risk of type 2 diabetes in Bangladesh. Am J Epidemiol.\n2013;178(10):1563-1570.\n14. Wang T, Li M, Chen B, et al. Urinary bisphenol A (BPA) concentration\nassociates with obesity and insulin resistance. J Clin Endocrinol Metab.\n2012;97(2):E223-E227.\n15. Savastano S, Tarantino G, D’Esposito V, et al. Bisphenol-A plasma levels are\nrelated to inflammatory markers, visceral obesity and insulin-resistance: A\ncross-sectional study on adult male population. J Transl Med. May\n2015;13:169.\n16. Remillard RB, Bunce NJ. Linking dioxins to diabetes: epidemiology and\nbiologic plausibility. Environ Health Perspect. 2002;110(9):853-858.\n17. Tang M, Chen K, Yang F, Liu W. Exposure to organochlorine pollutants and\ntype 2 diabetes: A systematic review and meta-analysis. PLoS One.\n2014;9(10):e85556.\n18. Weinhold B. PCBs and diabetes: Pinning down mechanisms. Environ Health\nPerspect. 2013;121(1):A32.\n19. Grün F, Blumberg B. Perturbed nuclear receptor signaling by environmental\nobesogens as emerging factors in the obesity crisis. Rev Endocr Metab Disord.\n2007;8(2):161-171.\n20. Jomova K, Jenisova Z, Feszterova M, et al. Arsenic: Toxicity, oxidative stress\nand human disease. J Appl Toxicol. 2011;31(2):95-107.\n21. Holtcamp W. Suspect sweetener: Arsenic detected in organic brown rice\nsyrup. Environ Health Perspect.2012;120(5):A204.\n22. Centers for Disease Control and Prevention. Arsenic toxicity. CDC Web site.\nhttp://www.atsdr.cdc.gov/csem/arsenic/docs/arsenic.pdf. Accessed August\n18, 2015.\n23. US Environmental Protection Agency. Hazardous waste. EPA Web site.\nhttps://www3.epa.gov/epawaste/hazard/tsd/pcbs/about.htm. Accessed\nFebruary 26, 2016.\n24. Serdar B, LeBlanc WG, Norris JM, Dickinson LM. Potential effects of\npolychlorinated biphenyls (PCBs) and selected organochlorine pesticides\n(OCPs) on immune cells and blood biochemistry measures: A cross-\nsectional assessment of the NHANES 2003-2004 data. Environ Health.\nDecember 2014;13:114.\n25. Duty SM, Ackerman RM, Calafat AM, Hauser R. Personal care product use\npredicts urinary concentrations of some phthalate monoesters. Environ\nHealth Perspect. 2005;113(11):1530-1535.\n26. Caruso JA, Zhang K, Schroeck NJ, et al. Petroleum coke in the urban\nenvironment: A review of potential health effects. Int J Environ Res Public\nHealth. 2015;12(6):6218-6231.\n27. Lee DH, Ha MH, Kim JH, et al. Gamma-glutamyltransferase and diabetes: A\n4 year follow-up study. Diabetologia. 2003;46(3):359-364.\n28. Gohel MG, Chacko AN.Serum GGT activity and hsCRP level in patients\nwith type 2 diabetes mellitus with good and poor glycemic control: An\nevidence linking oxidative stress, inflammation and glycemic control. J\nDiabetes Metab Disord. 2013;12(1):56.\n29. Chen C, Jiang X, Hu Y, Zhang Z. The protective role of resveratrol in the\nsodium arsenite-induced oxidative damage via modulation of intracellular\nGSH homeostasis. Biol Trace Elem Res. 2013;155(1):119-131.\n30. Argos M, Rathouz PJ, Pierce BL, et al. Dietary B vitamin intakes and urinary\ntotal arsenic concentration in the Health Effects of Arsenic Longitudinal\nStudy (HEALS) cohort, Bangladesh. Eur J Nutr. 2010;49(8):473-481.\n31. Muthumani M, Miltonprabu S. Ameliorative efficacy of tetrahydrocurcumin\nagainst arsenic induced oxidative damage, dyslipidemia and hepatic\nmitochondrial toxicity in rats. Chem Biol Interact. June 2015;235:95-105.\n32. Oishi K, Sato T, Yokoi W, et al. Effect of probiotics, Bifidobacterium breve\nand Lactobacillus casei, on bisphenol A exposure in rats. Biosci Biotechnol\nBiochem. 2008;72(6):1409-1415.\n\nIntegrative Medicine • Vol. 15, No. 4 • August 2016 17Pizzorno—The Path Ahead\n33. Avci B, Bahadir A, Tuncel OK, Bilgici B. Influence of α-tocopherol and\nα-lipoic acid on bisphenol-A-induced oxidative damage in liver and ovarian\ntissue of rats. Toxicol Ind Health. December 29, 2014 [E-pub ahead of print].\n34. Jain S, Kumar CH, Suranagi UD, Mediratta PK. Protective effect of\nN-acetylcysteine on bisphenol A-induced cognitive dysfunction and\noxidative stress in rats. Food Chem Toxicol. 2011;49(6):1404-1409.\n35. Ciftci O, Ozdemir I, Tanyildizi S, et al. Antioxidative effects of curcumin,\nβ-myrcene and 1,8-cineole against 2,3,7,8-tetrachlorodibenzo-p-dioxin-\ninduced oxidative stress in rats liver. Toxicol Ind Health. 2011;27(5):447-453.\n36. Chang HJ, Park JS, Lee EK, et al. Ascorbic acid suppresses the\n2,3,7,8-tetrachloridibenxo-p-dioxin (TCDD)-induced CYP1A1 expression in\nhuman HepG2 cells. Toxicol In Vitro. 2009;23(4):622-626.\n37. Ahmed T, Tripathi AK, Ahmed RS, et al. Endosulfan-induced apoptosis and\nglutathione depletion in human peripheral blood mononuclear cells:\nAttenuation by N-acetylcysteine. J Biochem Mol Toxicol. 2008;22(5):299-304.\n38. Padma V, Poornima P, Prakash C, Bhavani R. Oral treatment with gallic acid\nand quercetin alleviates lindane-induced cardiotoxicity in rats. Can J Physiol\nPharmacol. 2013;91(2):134-140.\n39. Ramadass P, Meerarani P, Toborek M, et al. Dietary flavonoids modulate\nPCB-induced oxidative stress, CYP1A1 induction, and AhR-DNA binding\nactivity in vascular endothelial cells. Toxicol Sci. 2003;76(1):212-219.\n40. Zhu Y, Kalen AL, Li L, et al. Polychlorinated-biphenyl-induced oxidative\nstress and cytotoxicity can be mitigated by antioxidants after exposure. Free\nRadic Biol Med. 2009;47(12):1762-1771.\n41. Choi YJ, Arzuaga X, Kluemper CT, et al. Quercetin blocks caveolae-\ndependent pro-inflammatory responses induced by co-planar PCBs. Environ\nInt. 2010;36(8):931-934.\n42. El-Beshbishy HA, Mariah RA, Al-Azhary NM, et al. Influence of lipoic acid\non testicular toxicity induced by bi-n-butyl phthalate in rats. Food Chem\nToxicol. 2014 Sep;71:26-32\n43. El-Fattah AA, Fahim AT, Sadik NA, Ali BM. Resveratrol and curcumin\nameliorate di-(2-ethylhexyl) phthalate induced testicular injury in rats. Gen\nComp Endocrinol. January 2016;225:45-54.\n44. Mooney LA, Madsen AM, Tang D, et al. Antioxidant vitamin\nsupplementation reduces benzo(a)pyrene-DNA adducts and potential\ncancer risk in female smokers. Cancer Epidemiol Biomarkers Prev.\n2005;14(1):237-242.\n45. Zhu W, Cromie MM, Cai Q, et al. Curcumin and vitamin E protect against\nadverse effects of benzo[a]pyrene in lung epithelial cells. PLoS One. 2014\nMar 24;9(3):e92992\n46. Chang YZ, Lin HC, Chan ST, Yeh SL. Effects of quercetin metabolites on the\nenhancing effect of β-carotene on DNA damage and cytochrome P1A1/2\nexpression in benzo[a]pyrene-exposed A549 cells. Food Chem.\n2012;133(2):445-450.\n47. Baumeister P, Reiter M, Kleinsasser N, et al. Epigallocatechin-3-gallate\nreduces DNA damage induced by benzo[a]pyrene diol epoxide and cigarette\nsmoke condensate in human mucosa tissue cultures. Eur J Cancer Prev.\n2009;18(3):230-235.\n48. Sakurai K, Fukata H, Todaka E, et al. Colestimide reduces blood\npolychlorinated biphenyl (PCB) levels. Intern Med. 2006;45(5):327-328.\n49. Jandacek RJ, Heubi JE, Buckley DB, et al. Reduction of the body burden of\nPCBs and DDE by dietary intervention in a randomized trial. J Nutr\nBiochem. 2014;25(4):483-488.\nThe Future of Holistic Health:\nReg´Activ\n® \nwith ME-3—the Patented Probiotic Proven\nto Produce Glutathione, the ‘Master-Antioxidant’\nLactobacillus fermentum ME-3 is the ONLY probiotic proven to actually produce glutathione in the body. This has\npowerful effects for your patients Cardio, Detox, and Immune System Wellness. Glutathione, utilized by every cell in the\nbody, plays a crucial role in maintaining cellular health during daily exposure to free radicals, common environmental toxins\nand the effects of aging. Reg´Activ\n® \nformulas combine ME-3 with other established condition-specific ingredients for syn-\nergistic health promoting effects.*\nFind Reg´Activ\n® \nformulas at better health food stores nationwide. • www.EssentialFormulas.com • (800) 430-6180\nRevolutionary. Remarkable. Reg´Activ\n®\n.\n*These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.","version":"5.3.31"}}]},"versionId":"23432a8f-fb36-4513-ad6c-856173f865c0","triggerCount":0,"tags":[]}