Evaluation Test.json
{"createdAt":"2025-06-18T07:16:21.462Z","updatedAt":"2025-06-18T08:47:18.517Z","id":"FoGC7jSriQar1huy","name":"Evaluation Test","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1-7cIdJI40Ggy6Ef45R9kN2wzELkQZ4mx8uowB_1oJ_w","mode":"list","cachedResultName":"Evaluation Workflow","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-7cIdJI40Ggy6Ef45R9kN2wzELkQZ4mx8uowB_1oJ_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-7cIdJI40Ggy6Ef45R9kN2wzELkQZ4mx8uowB_1oJ_w/edit#gid=0"},"limitRows":true},"type":"n8n-nodes-base.evaluationTrigger","typeVersion":4.6,"position":[-500,20],"id":"afb9b11a-643d-414c-92f4-13a197d981f7","name":"When fetching a dataset row","credentials":{"googleSheetsOAuth2Api":{"id":"2a7t9bbSmio220XT","name":"Dan Google Cred"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-480,-260],"id":"e1aa8a90-88a0-457e-99a8-bd934eb52b39","name":"When chat message received","webhookId":"04913664-af4b-4a12-96b4-c675291310f0","disabled":true},{"parameters":{"promptType":"define","text":"=subject :: {{ $json.Subject }}\nBody :: {{ $json.Body }}","hasOutputParser":true,"options":{"systemMessage":"=You are an intelligent assistant designed to analyze and classify user messages.\nYour goal is to understand the **content and intent** of each user message and return a structured output based on two criteria: **Category** and **Priority**.\n\n---\n\n### 🗂️ **Category**\n\nClassify the message into one of the following departments:\n\n* `HR` – Human Resources, including employee concerns, hiring, leave, payroll issues.\n* `IT` – Technical or software/hardware-related issues.\n* `Finance` – Budgeting, expense reports, invoice issues, payment queries.\n* `Operations` – Process efficiency, logistics, internal workflows.\n* `Marketing` – Campaigns, social media, branding, or promotions.\n\n---\n\n### 🔥 **Priority**\n\nDetermine the urgency of the message using the following levels:\n\n* `High` – Requires immediate attention or may impact business continuity.\n* `Medium` – Important but not urgent.\n* `Low` – Informational or minor issue.\n\n---\n\n### ✅ **Expected Output Format**\n\nReturn the result as a JSON object:\n\n```json\n{\n  \"category\": \"IT\",\n  \"priority\": \"High\"\n}\n```\n\n---\n\n### 📌 Notes:\n\n* Analyze the **meaning and context** of the message.\n* Do **not** return anything outside the allowed categories or priority levels.\n* Keep your output **strictly** in the defined JSON format.\n* If uncertain, make the **most reasonable assumption** based on message context.\n\n---\n\nWould you like this wrapped into a system prompt for an actual AI agent implementation (e.g., OpenAI Function, LangChain, or n8n)?\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-260,-260],"id":"caf66239-6bce-447e-a769-e1a839c269a3","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-240,-40],"id":"74be7b11-cd46-4281-bcf6-71fb6608add8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1-7cIdJI40Ggy6Ef45R9kN2wzELkQZ4mx8uowB_1oJ_w","mode":"list","cachedResultName":"Evaluation Workflow","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-7cIdJI40Ggy6Ef45R9kN2wzELkQZ4mx8uowB_1oJ_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-7cIdJI40Ggy6Ef45R9kN2wzELkQZ4mx8uowB_1oJ_w/edit#gid=0"},"outputs":{"values":[{"outputName":"=Expected_Category","outputValue":"={{ $json.output.category }}"},{"outputName":"Expected_Priority","outputValue":"={{ $json.output.priority }}"}]}},"type":"n8n-nodes-base.evaluation","typeVersion":4.6,"position":[200,-260],"id":"fec4fdc4-be4a-4b69-a98c-7f421e23edbd","name":"Evaluation","credentials":{"googleSheetsOAuth2Api":{"id":"2a7t9bbSmio220XT","name":"Dan Google Cred"}}},{"parameters":{"jsonSchemaExample":"{\n  \"category\": \"IT\",\n  \"priority\": \"High\",\n  \"subject\":\"\",\n  \"body\":\"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-100,-40],"id":"a9f250a7-5a57-4d9f-bf03-95cc0c05dec1","name":"Structured Output Parser"},{"parameters":{"operation":"setMetrics","metrics":{"assignments":[{"id":"a7528335-2427-466f-a26e-c7a7484f5305","name":"category_match","value":"={{ $('When fetching a dataset row').item.json.Category == $('AI Agent').item.json.output.category }}","type":"number"},{"id":"f56903c0-2d1b-4656-b6c3-f2659206512f","name":"priority_match","value":"={{ $('When fetching a dataset row').item.json.Priority == $('AI Agent').item.json.output.priority }}","type":"number"}]}},"type":"n8n-nodes-base.evaluation","typeVersion":4.6,"position":[420,-260],"id":"8fbb582a-afb4-41d7-9698-2b859ae21b8c","name":"Set Matrix"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Evaluation","type":"main","index":0}]]},"Evaluation":{"main":[[{"node":"Set Matrix","type":"main","index":0}]]},"When fetching a dataset row":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Set Matrix":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aca19bc2-6381-4af2-a5dc-29df3d021365","triggerCount":0,"tags":[]}