fedex-API-Test.json
{"createdAt":"2025-05-05T13:52:37.382Z","updatedAt":"2025-05-07T07:17:11.127Z","id":"iQywMNEGkuaPamSF","name":"fedex-API-Test","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-620,-160],"id":"45220d8e-8d3c-408d-8dbd-100707868ccf","name":"When clicking ‘Test workflow’"},{"parameters":{"method":"POST","url":"https://apis-sandbox.fedex.com/oauth/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"l7ee3a41678dfb48dbaf0c2375ff8594ad"},{"name":"client_secret","value":"88fcb60a3c764377a4c1beb703deb803"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,-160],"id":"4503c846-a084-4bb4-8d64-5d82167c1ca2","name":"HTTP Request"},{"parameters":{"method":"POST","url":"https://apis-sandbox.fedex.com/rate/v1/rates/quotes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"accountNumber\": {\n    \"value\": \"510087020\"\n  },\n  \"requestedShipment\": {\n    \"shipper\": {\n      \"address\": {\n        \"postalCode\": \"10001\",\n        \"countryCode\": \"US\"\n      }\n    },\n    \"recipient\": {\n      \"address\": {\n        \"postalCode\": \"89106\",\n        \"countryCode\": \"US\"\n      }\n    },\n    \"pickupType\": \"DROPOFF_AT_FEDEX_LOCATION\",\n    \"serviceType\": \"STANDARD_OVERNIGHT\",\n    \"packagingType\": \"YOUR_PACKAGING\",\n    \"rateRequestType\": [\n  \"LIST\"\n],\n    \"requestedPackageLineItems\": [\n      {\n        \"weight\": {\n          \"units\": \"KG\",\n          \"value\": 7\n        },\n        \"dimensions\": {\n          \"length\": 20,\n          \"width\": 20,\n          \"height\": 22,\n          \"units\": \"CM\"\n        }\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-140,-220],"id":"3db86f3d-f004-4c5c-91d1-f18a742ba96c","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://apis-sandbox.fedex.com/ship/v1/shipments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('HTTP Request').item.json.access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"labelResponseOptions\":\"URL_ONLY\",\"requestedShipment\":{\"shipper\":{\"contact\":{\"personName\":\"Natalie Brooks\",\"phoneNumber\":\"+1 971-355-6543\",\"companyName\":\"Homemade Harvest\"},\"address\":{\"streetLines\":[\"310 Farmhouse Road\"],\"city\":\"Des Moines\",\"stateOrProvinceCode\":\"IA\",\"postalCode\":\"50309\",\"countryCode\":\"US\"}},\"recipients\":[{\"contact\":{\"personName\":\"Logan Reed\",\"phoneNumber\":\"5155554892\",\"companyName\":\"\"},\"address\":{\"streetLines\":[\"202 Garden Blvd\"],\"city\":\"Omaha\",\"stateOrProvinceCode\":\"NE\",\"postalCode\":\"68102\",\"countryCode\":\"US\"}}],\"serviceType\":\"FEDEX_GROUND\",\"packagingType\":\"YOUR_PACKAGING\",\"pickupType\":\"USE_SCHEDULED_PICKUP\",\"blockInsightVisibility\":false,\"shippingChargesPayment\":{\"paymentType\":\"SENDER\"},\"labelSpecification\":{\"labelFormatType\":\"COMMON2D\",\"imageType\":\"PDF\",\"labelStockType\":\"PAPER_85X11_TOP_HALF_LABEL\"},\"requestedPackageLineItems\":[{\"weight\":{\"units\":\"KG\",\"value\":55},\"dimensions\":{\"length\":20,\"width\":20,\"height\":15,\"units\":\"CM\"}}]},\"accountNumber\":{\"value\":\"510087020\"}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-140,-40],"id":"7587606c-02aa-4759-87e9-a0f7531767ce","name":"HTTP Request2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[140,-140],"id":"ccdf4688-2501-46f1-bb09-35139681df19","name":"Merge"},{"parameters":{"promptType":"define","text":"=fedex api details :: {{ $json.data.toJsonString() }}","options":{"systemMessage":"=You are an intelligent shipping assistant. Your task is to extract and clearly present important shipping details from the FedEx API response.\n\nFrom the data, provide the following:\n1. **Price Quote** – Mention the total shipping cost.\n2. **Tracking Number(s)** – Extract and list all tracking numbers.\n3. **Estimated Arrival** – Provide the estimated delivery date and time.\n4. **Shipping Label** – Share the shipping label URL or note if it's missing.\n\nAlways respond in a clear, human-friendly summary format. Example:\n\n\"Here are your shipping details:\n- 📦 Price Quote: $12.45 (USD)\n- 🔢 Tracking Number: 123456789012\n- 🕒 Estimated Arrival: May 10, 2025, by 6:00 PM\n- 🖨️ Shipping Label: [Download Label](https://fedex.com/label/xyz)\"\n\nIf any field is missing or not available, mention that politely.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[580,-140],"id":"76890719-e772-4dac-8a85-82d3b9b8d753","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[620,80],"id":"00d3874e-c1f0-40c4-96a7-998ae8b12add","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[360,-140],"id":"d5a8fb8a-0bb1-45ed-816e-3450a223c6ac","name":"Aggregate"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e1fa7c00-fb57-4a65-b8f7-21c94697f507","triggerCount":0,"tags":[]}