Github - Uploader Feed Workflows.json
{"createdAt":"2025-07-22T04:51:47.486Z","updatedAt":"2025-07-22T09:45:38.877Z","id":"t7rzt1TFNZaKZId2","name":"Github - Uploader Feed Workflows","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"balvinder-arora","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/balvinder-arora/n8n_backup"},"filePath":"={{ $json.fileName }}.json","fileContent":"={{ $('To base1').first().json.data }}","commitMessage":"=backup-{{ $node['Commit date & file name'].json.commitDate }}"},"id":"91c0bf35-82f3-4634-9241-934a1077f502","name":"Upload file","type":"n8n-nodes-base.github","position":[260,260],"webhookId":"ce4b561b-acb9-4cd8-b76f-4928dada9674","typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"zUubkXeu78m5DmuI","name":"GitHub account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $('When Executed by Another Workflow').item.json.git_file_name.map(f => f.json.name) }}\n","operation":"contains","value2":"={{ $json.fileName }}.json"}]}},"id":"a5a49dbd-f475-40e2-a9d5-d4a5471143cf","name":"Check if file exists","type":"n8n-nodes-base.if","position":[40,160],"typeVersion":1},{"parameters":{"operation":"toJson","mode":"each","binaryPropertyName":"=data","options":{"format":true}},"id":"4c755c67-84ec-4f6d-a9d9-5d95a169dda8","name":"Json file","type":"n8n-nodes-base.convertToFile","position":[-620,160],"typeVersion":1.1},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"=data","options":{"keepSource":"binary"}},"id":"432a9b27-2746-47ba-91b0-9bb60eba7515","name":"To base1","type":"n8n-nodes-base.extractFromFile","position":[-400,160],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"fe4a36ef-9f04-40e3-99bd-cc517a49b440","name":"commitDate","type":"string","value":"={{ $now.format('dd-MM-yyyy/H:mm') }}"},{"id":"b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8","name":"fileName","type":"string","value":"={{ $('When Executed by Another Workflow').item.json.workflow_data.name }}"}]},"options":{}},"id":"152c9002-e2d1-457c-a1b4-89ee08d596f5","name":"Commit date & file name","type":"n8n-nodes-base.set","position":[-180,160],"typeVersion":3.4},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"balvinder-arora","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/balvinder-arora/n8n_backup"},"filePath":"={{ $json.fileName }}.json","fileContent":"={{ $('To base1').item.json.data }}","commitMessage":"=backup-{{ $('Commit date & file name').item.json.commitDate }}"},"id":"adc2aedd-8ffc-4d2d-8002-82079cc0f844","name":"Update file","type":"n8n-nodes-base.github","position":[260,60],"webhookId":"27218087-8df7-474d-a39f-70cfa9c34ec8","typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"zUubkXeu78m5DmuI","name":"GitHub account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"workflow_data","type":"object"},{"name":"git_file_name","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1060,160],"id":"eac524f9-1b4a-4d76-a1c9-b8cb142f1fa8","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"return $input.first().json.workflow_data"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-840,160],"id":"f71cf660-2d53-47f7-a205-9dd63edb9070","name":"Code"}],"connections":{"Check if file exists":{"main":[[{"node":"Update file","type":"main","index":0}],[{"node":"Upload file","type":"main","index":0}]]},"Json file":{"main":[[{"node":"To base1","type":"main","index":0}]]},"To base1":{"main":[[{"node":"Commit date & file name","type":"main","index":0}]]},"Commit date & file name":{"main":[[{"node":"Check if file exists","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Json file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f3e579bc-fd96-4408-b16f-f61850124b22","triggerCount":0,"tags":[]}