GitHub - Uploader.json
{"createdAt":"2025-07-17T07:44:40.683Z","updatedAt":"2025-07-24T11:51:51.017Z","id":"QkjHWFferJTizTOv","name":"GitHub - Uploader","active":true,"isArchived":false,"nodes":[{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"balvinder-arora","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/balvinder-arora/n8n_backup"},"filePath":"="},"id":"c9df7fe3-32c7-44b3-8694-b5a01925eca8","name":"List files from repo","type":"n8n-nodes-base.github","position":[-2512,1696],"webhookId":"354d699e-44b0-4444-9d31-af7fd4ff5561","typeVersion":1,"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"zUubkXeu78m5DmuI","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"id":"b6bc5d8f-af41-4593-8b99-3a59ed3f4ec8","name":"Retrieve workflows","type":"n8n-nodes-base.n8n","position":[-2064,1696],"typeVersion":1,"credentials":{"n8nApi":{"id":"ErPdia6OfpeN2Y4H","name":"Shreyansh n8n account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Aggregate2').item.json.name }}","operation":"contains","value2":"={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"}]}},"id":"d8aa5a24-d4ac-4500-875b-3f4e02f57240","name":"Check if file exists","type":"n8n-nodes-base.if","position":[-1168,1696],"typeVersion":1},{"parameters":{"operation":"toJson","mode":"each","options":{"format":true}},"id":"a3f36ad3-fdb2-477b-9a42-9edc534f2b3c","name":"Json file","type":"n8n-nodes-base.convertToFile","position":[-1840,1696],"typeVersion":1.1},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"3c884ea0-053c-4d50-b312-8e4dc492a739","name":"To base64","type":"n8n-nodes-base.extractFromFile","position":[-1616,1696],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"fe4a36ef-9f04-40e3-99bd-cc517a49b440","name":"commitDate","type":"string","value":"={{ $now.format('dd-MM-yyyy/H:mm') }}"},{"id":"b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8","name":"fileName","type":"string","value":"={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"}]},"options":{}},"id":"6ed26d83-da8c-45fc-ad86-7804008fe5b6","name":"Commit date & file name","type":"n8n-nodes-base.set","position":[-1392,1696],"typeVersion":3.4},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"748c94e8-6187-4825-b9c1-7a3040f9aab8","name":"Aggregate2","type":"n8n-nodes-base.aggregate","position":[-2288,1696],"typeVersion":1},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"balvinder-arora","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/balvinder-arora/n8n_backup"},"filePath":"={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json","fileContent":"={{ $('To base64').item.json.data }}","commitMessage":"=backup-{{ $node['Commit date & file name'].json.commitDate }}"},"id":"bc54610f-b514-4d7d-b4fe-01645870fc4c","name":"Upload file1","type":"n8n-nodes-base.github","position":[-720,1792],"webhookId":"ce4b561b-acb9-4cd8-b76f-4928dada9674","typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"zUubkXeu78m5DmuI","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"balvinder-arora","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/balvinder-arora/n8n_backup"},"filePath":"={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json","fileContent":"={{ $('To base64').item.json.data }}","commitMessage":"=backup-{{ $('Commit date & file name').item.json.commitDate }}"},"id":"ecb24eeb-539a-4cd8-a059-4acf9be8b013","name":"Update file","type":"n8n-nodes-base.github","position":[-944,1600],"webhookId":"27218087-8df7-474d-a39f-70cfa9c34ec8","typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"zUubkXeu78m5DmuI","name":"GitHub account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-944,1792],"id":"0ac03f40-168a-4b98-8172-54b82a35a779","name":"Loop Over Items1"},{"parameters":{"rule":{"interval":[{"field":"weeks","weeksInterval":0,"triggerAtDay":[5],"triggerAtHour":21}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2736,1696],"id":"9e3611ce-4e6d-4c04-9e67-f422b21955d4","name":"Schedule Trigger"}],"connections":{"List files from repo":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Json file":{"main":[[{"node":"To base64","type":"main","index":0}]]},"To base64":{"main":[[{"node":"Commit date & file name","type":"main","index":0}]]},"Retrieve workflows":{"main":[[{"node":"Json file","type":"main","index":0}]]},"Check if file exists":{"main":[[{"node":"Update file","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Commit date & file name":{"main":[[{"node":"Check if file exists","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Retrieve workflows","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Upload file1","type":"main","index":0}]]},"Upload file1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"List files from repo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"95975c90-8dcc-43f0-9e4d-81230359ad89","triggerCount":1,"tags":[]}