Hanna_Bot.json
{"createdAt":"2025-06-04T06:37:54.480Z","updatedAt":"2025-06-04T10:47:56.147Z","id":"EU4LSPmeUO6HMGCR","name":"Hanna_Bot","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72deedc8-124f-4174-86db-6e0745ac62e7","leftValue":"={{ $('Get Secret Token1').item.json.Token }}","rightValue":"={{ $('Get User Stored Token1').item.json.Token }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"67fe9508-4c84-41cf-8220-7ee099147ae8","leftValue":"={{ $json.isValid }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,-140],"id":"3627e2ba-aa21-4c35-81cc-907b0de9690f","name":"Validate Secret Token And User Token"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-840,-140],"id":"1234d69c-5fbe-462f-a5af-49678c9f582d","name":"Telegram Trigger","webhookId":"7e3ba3ec-f349-4e99-a664-7c86efd4d1b1","credentials":{"telegramApi":{"id":"Iw8VWBxFF8xrYlQ9","name":"Hanna"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","replyMarkup":"forceReply","forceReply":{"force_reply":false},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1740,-140],"id":"1e0b8d37-9753-436c-b14e-3b6c07bae419","name":"Respond","webhookId":"b15ec2ea-76b7-4824-bc45-a727257a7529","credentials":{"telegramApi":{"id":"Iw8VWBxFF8xrYlQ9","name":"Hanna"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60d16cee-e38e-451f-b3eb-bce9f299f73d","leftValue":"={{ $('Set User Info').item.json.userMessage }}","rightValue":"={{ $('Get Secret Token1').item.json.Token }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[920,-40],"id":"36efe180-434f-48e7-b896-fc8d0867ed9e","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"2272ccec-0bdd-42ee-aa11-96b1d81907cb","name":"userMessage","value":"={{ $json.message.text }}","type":"string"},{"id":"6ac43166-d522-4c4a-a5f8-d12848b2f8b0","name":"userId","value":"={{ $json.message.from.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-620,-140],"id":"b7e0d521-a997-4bf1-bbcf-81f53437d8af","name":"Set User Info"},{"parameters":{"assignments":{"assignments":[{"id":"7ad7c880-d597-4f59-b515-e387382d37f0","name":"output","value":"You are not authenticated, please provide the secret key to use this secure agent. ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,60],"id":"ca361626-e218-4721-a7f3-12d561efd5bc","name":"Set Unauthenticated Response"},{"parameters":{"assignments":{"assignments":[{"id":"07548001-f13b-473c-93e7-879528080950","name":"output","value":"Thank you , you are sucessfully authenticated and you can use this agent","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,-140],"id":"09a72fbb-8eed-4a71-9276-1dddaf7b52e3","name":"Set Authenticated Response"},{"parameters":{"assignments":{"assignments":[{"id":"233851cf-cef5-41f4-a23e-4b542a595c99","name":"output","value":"=Sample Response from agent","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,-340],"id":"041ac9c5-d408-4635-8cb4-4c0a4de01a68","name":"Set Response"},{"parameters":{"documentId":{"__rl":true,"value":"1uk-rDY0a3RMxHCtWtJyRqE09xXfiV7itOgSF2LmoCSU","mode":"list","cachedResultName":"Hanna_Auth","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uk-rDY0a3RMxHCtWtJyRqE09xXfiV7itOgSF2LmoCSU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Secret_token","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uk-rDY0a3RMxHCtWtJyRqE09xXfiV7itOgSF2LmoCSU/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-180,-140],"id":"92e47e5c-b28f-4761-8645-ea5f24c73b58","name":"Get Secret Token1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"2a7t9bbSmio220XT","name":"Dan Google Cred"}}},{"parameters":{"documentId":{"__rl":true,"value":"1uk-rDY0a3RMxHCtWtJyRqE09xXfiV7itOgSF2LmoCSU","mode":"list","cachedResultName":"Hanna_Auth","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uk-rDY0a3RMxHCtWtJyRqE09xXfiV7itOgSF2LmoCSU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2048845196,"mode":"list","cachedResultName":"users_tokens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uk-rDY0a3RMxHCtWtJyRqE09xXfiV7itOgSF2LmoCSU/edit#gid=2048845196"},"filtersUI":{"values":[{"lookupColumn":"userId","lookupValue":"={{ $('Telegram Trigger').item.json.message.chat.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[40,-140],"id":"e7254c93-19ee-44aa-8782-056bcab0d809","name":"Get User Stored Token1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"2a7t9bbSmio220XT","name":"Dan Google Cred"}}},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      userId: $json.userId,\n      token: $json.Token,\n      expiredAt: $json.expiredAt,\n      isValid: new Date() < new Date($json.expiredAt)\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,-140],"id":"0a2c688c-f2f9-48fd-9883-55c8392b5d52","name":"Code"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1uk-rDY0a3RMxHCtWtJyRqE09xXfiV7itOgSF2LmoCSU","mode":"list","cachedResultName":"Hanna_Auth","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uk-rDY0a3RMxHCtWtJyRqE09xXfiV7itOgSF2LmoCSU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2048845196,"mode":"list","cachedResultName":"users_tokens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uk-rDY0a3RMxHCtWtJyRqE09xXfiV7itOgSF2LmoCSU/edit#gid=2048845196"},"columns":{"mappingMode":"defineBelow","value":{"Token":"={{ $('Telegram Trigger').item.json.message.text }}","userId":"={{ $('Telegram Trigger').item.json.message.from.id }}","expiredAt":"={{ $now.plus({ minutes: 3 }).toISO() }}"},"matchingColumns":["userId"],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Token","displayName":"Token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"expiredAt","displayName":"expiredAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1140,-140],"id":"2dea6772-a556-417b-89d4-317aafb6f95d","name":"Stored User Token1","credentials":{"googleSheetsOAuth2Api":{"id":"2a7t9bbSmio220XT","name":"Dan Google Cred"}}},{"parameters":{"workflowId":{"__rl":true,"value":"P52GHv5dPorHBzxZ","mode":"list","cachedResultName":"Hannah"},"workflowInputs":{"mappingMode":"defineBelow","value":{"userMessage":"={{ $('Telegram Trigger').item.json.message.text }}","userID":"={{ $('Telegram Trigger').item.json.message.from.id }}"},"matchingColumns":["userMessage"],"schema":[{"id":"userMessage","displayName":"userMessage","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"userID","displayName":"userID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[980,-360],"id":"bb27f886-6dcc-4e3c-80b7-9a074009552c","name":"Execute Workflow","disabled":true},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-400,-140],"id":"ae5b66c6-c0a4-4bff-a8cc-50ce4d63d593","name":"Limit"}],"connections":{"Validate Secret Token And User Token":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Set User Info","type":"main","index":0}]]},"If":{"main":[[{"node":"Stored User Token1","type":"main","index":0}],[{"node":"Set Unauthenticated Response","type":"main","index":0}]]},"Set User Info":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Set Unauthenticated Response":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Set Authenticated Response":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Set Response":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Get Secret Token1":{"main":[[{"node":"Get User Stored Token1","type":"main","index":0}]]},"Get User Stored Token1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Validate Secret Token And User Token","type":"main","index":0}]]},"Stored User Token1":{"main":[[{"node":"Set Authenticated Response","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Set Response","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Get Secret Token1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"373a14c1-67e1-4598-a8eb-9538ebdb2e68","triggerCount":1,"tags":[]}