Hannah copy.json
{"createdAt":"2025-06-03T08:39:27.366Z","updatedAt":"2025-06-03T08:39:27.366Z","id":"8IzcUhTi71bhv8Ka","name":"Hannah copy","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Hanna Agent","height":580,"width":1120,"color":4},"type":"n8n-nodes-base.stickyNote","position":[7140,220],"typeVersion":1,"id":"624b8a7c-7c5a-4a97-ba98-420781144e22","name":"Sticky Note1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[7200,640],"id":"0694d287-623a-4dfc-9edb-5207639c7110","name":"OpenAI MCP Client Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"### `error-log`\n\n- **Purpose:** record any workflow or tool error for later troubleshooting.  \n- **Required:** `message` — JSON object or array describing the error.","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_error_logs","mode":"list","cachedResultName":"n8n_error_logs"},"columns":{"mappingMode":"defineBelow","value":{"message":"={{ $fromAI('message', `The error message or array of error messages to be logged. Can include source and details.`, 'string') }}","session_id":"={{ $json.sessionId }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[7460,640],"id":"e7e08e35-a0a6-4936-864b-fd786994e68c","name":"Error Log","credentials":{"postgres":{"id":"kS35e9jQpjf0T0s4","name":"Postgres Account"}}},{"parameters":{},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[7740,640],"id":"5263c739-d8ce-496c-ae6c-88784ca20763","name":"MCP List tools","credentials":{"mcpClientApi":{"id":"OUjNkwlDjafsGW4l","name":"MCP Client (STDIO) account 2 Personal"}}},{"parameters":{"operation":"executeTool","toolName":"={{ $fromAI('tool_name') }}","toolParameters":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[7880,640],"id":"7496b0a1-f66c-4d12-8d97-3d8b9cd3a155","name":"MCP Execute Tool","credentials":{"mcpClientApi":{"id":"OUjNkwlDjafsGW4l","name":"MCP Client (STDIO) account 2 Personal"}},"onError":"continueRegularOutput"},{"parameters":{"updates":["message"],"additionalFields":{},"path":"3a3269fd-dab7-4ca2-9895-a240d2093617"},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[6120,360],"id":"1671e244-af8f-400c-9a31-af3ee0a9f188","name":"Telegram Trigger","webhookId":"3a3269fd-dab7-4ca2-9895-a240d2093617","credentials":{"telegramApi":{"id":"Iw8VWBxFF8xrYlQ9","name":"Hanna"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"={{\"\"+ $json.output }}","replyMarkup":"forceReply","forceReply":{},"additionalFields":{"appendAttribution":false,"parse_mode":"HTML"},"path":"9628c883-91eb-4486-ab42-f6bf2fb0ec87"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[8300,340],"id":"e9ec9a14-368c-4099-927b-c967780ae310","name":"Telegram","webhookId":"9628c883-91eb-4486-ab42-f6bf2fb0ec87","alwaysOutputData":false,"notesInFlow":true,"credentials":{"telegramApi":{"id":"Iw8VWBxFF8xrYlQ9","name":"Hanna"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[7340,640],"id":"b45fdfa9-2f72-4c34-8273-69fbcf604551","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"kS35e9jQpjf0T0s4","name":"Postgres Account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[8000,640],"id":"fc969727-9560-4da8-9927-f6f19118d8b5","name":"Calculator"},{"parameters":{"description":"Call this agent to generate the proposal of the deal, the input should be string containing all the details needed to generate the proposal.\n\nDetails needed:\nField\tRequired?\tPurpose (one-liner)\ndeal_name\tYes\tHeader, internal tracking\ncompany_name\tYes\tPersonalization in every section\nprimary_contact_name\tOptional\tWarmer greeting (“Dear …”)\nprimary_contact_title\tOptional\tAdds credibility (“CMO”, “VP Ops”)\ncompany_website\tOptional\tLets model reference real context\nindustry_sector\tOptional\tEnables sector-specific language\ndeal_size_budget\tOptional\tAligns “Fees” section with expectations\nproducts_in_hubspot_deal\tOptional\tDrives “Recommended Solutions” lineup\nprospect_product_interests\tOptional\tSame as above when CEO gives extra detail\npain_points_needs\tOptional\tFuels “Background & Client Objectives” copy\nurgency_or_go_live_date\tOptional\tHighlights speed in “Implementation”\ndiscount_or_pilot_terms\tOptional\tKeeps pricing promises consistent\ncompetitive_context_current_tools\tOptional\tSharpens differentiation copy\nprior_meeting_notes\tOptional\tAdds human touch (“As discussed on …”)\nlocation_timezone\tOptional\tHelpful for scheduling next steps","workflowId":{"__rl":true,"value":"nQwfWpQ6UCxJsOOT","mode":"list","cachedResultName":"Proposal Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[8120,640],"id":"6b43c0dd-39ec-473d-be6a-12b2282462fa","name":"Proposal Generation Tool"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","path":"1d56a6cd-83b4-4920-885d-6ff95431cb81"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[6580,500],"id":"3758bba0-4f72-4556-b87f-5b0fb984bc5c","name":"Telegram Get File","webhookId":"1d56a6cd-83b4-4920-885d-6ff95431cb81","credentials":{"telegramApi":{"id":"Iw8VWBxFF8xrYlQ9","name":"Hanna"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"audio","operation":"translate","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6760,500],"id":"dced0c62-c4cc-40e7-a21c-78b43c8dc550","name":"Transcribe Audio","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"return [{\n  chatInput: $input.first().json?.message?.text ?? $input.first().json?.text,\n  sessionId: $(\"Telegram Trigger\").first().json.message.chat.id\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6940,340],"id":"20ff6759-9688-4c83-ba92-3e39aaead70b","name":"Input Transformer","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ce4c2eb-9554-4b0b-9687-3ed836f350c5","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6380,360],"id":"6ee55798-dea0-4766-8376-ad71d775a9bb","name":"Is Chat Input","onError":"continueRegularOutput"},{"parameters":{"content":"## Telegram Input handler","height":600,"width":780,"color":4},"type":"n8n-nodes-base.stickyNote","position":[6320,220],"typeVersion":1,"id":"49f60f39-fd56-4642-a44c-20f1a5494435","name":"Sticky Note"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"=You are Hannah, Friendly, professional helper for Hubspot CRM tasks —Hubspot CRM Assistant (Creativeglu AI).\n---\nGreetings:\nIf you greet user, use this exact message:\n```\nI’m Hannah, your AI RevOps agent from Creative Glu and CodeStrap. What do you need to unblock today?\n```\n---\nInstructions:\n- Comprehend, understand and interpret user queries, especially within the context of sales and hubspot (CRM).\n- Before performing any operation first Call this tool **MCP List tools** to get all the tools available to use.\n- Call this tool **MCP Execute tool** to execute the selected tool and carefully follow the description and schema of each tool while executing the tool.\n- Some tools support pagination,when needed use them wisely if it is given in description of the tool.\n- When deal is moved to qualify to buy, call create proposal tool with required data\nNote: If tool execution fails, analyze and comprehend the error, attempt to resolve it, and retry the operation— up to three times. Do not immediately notify the user of a technical issue unless all retry attempts, including resolution efforts, have been exhausted.","maxIterations":30,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[7560,340],"id":"ec950067-a770-473d-b310-7e7b312ca3b2","name":"Hanna - AI Chat Agent","retryOnFail":false,"onError":"continueRegularOutput"}],"connections":{"OpenAI MCP Client Model":{"ai_languageModel":[[{"node":"Hanna - AI Chat Agent","type":"ai_languageModel","index":0}]]},"Error Log":{"ai_tool":[[{"node":"Hanna - AI Chat Agent","type":"ai_tool","index":0}]]},"MCP List tools":{"ai_tool":[[{"node":"Hanna - AI Chat Agent","type":"ai_tool","index":0}]]},"MCP Execute Tool":{"ai_tool":[[{"node":"Hanna - AI Chat Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Is Chat Input","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Hanna - AI Chat Agent","type":"ai_memory","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Hanna - AI Chat Agent","type":"ai_tool","index":0}]]},"Proposal Generation Tool":{"ai_tool":[[{"node":"Hanna - AI Chat Agent","type":"ai_tool","index":0}]]},"Telegram Get File":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Input Transformer","type":"main","index":0}]]},"Input Transformer":{"main":[[{"node":"Hanna - AI Chat Agent","type":"main","index":0}]]},"Is Chat Input":{"main":[[{"node":"Input Transformer","type":"main","index":0}],[{"node":"Telegram Get File","type":"main","index":0}]]},"Hanna - AI Chat Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0bcbbf19-1cb6-4daf-96e8-88035389263e","triggerCount":1,"tags":[{"createdAt":"2025-06-01T16:00:52.436Z","updatedAt":"2025-06-01T16:00:59.278Z","id":"MjOiYL5GnVjfwraW","name":"Hannah"},{"createdAt":"2025-04-16T15:47:30.324Z","updatedAt":"2025-04-16T15:47:30.324Z","id":"iuHH1i6Z5YT5XHkS","name":"Main"}]}