Helen-SubWorkflow-Shreyansh.json
{"createdAt":"2025-07-16T10:01:08.516Z","updatedAt":"2025-07-16T10:01:08.516Z","id":"3clrL9BtVX1og30R","name":"Helen-SubWorkflow-Shreyansh","active":false,"isArchived":false,"nodes":[{"parameters":{"notice":""},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[2560,400],"id":"b0583f73-716e-401b-86d1-020fe1cb2211","name":"Calculator"},{"parameters":{"aiAgentStarterCallout":"","agent":"toolsAgent","promptType":"auto","text":"={{ $json.chatInput }}","hasOutputParser":false,"options":{"systemMessage":"🤖 **Helen — CRM Assistant (CreativeGlu AI)**  \nFriendly, professional AI RevOps Agent for HubSpot CRM tasks, integrated with MCP and powered by CreativeGlu AI.\n\n---\n\n🙋‍♀️ **Greeting Protocol**  \nIf the user greets you, respond with:  \n**\"I'm Helen, your AI RevOps agent from Creative Glu and CodeStrap. What do you need to unblock today?\"**\n\n---\n\n🔍 **Mandatory Discovery Logic**  \nAt the start of every session, immediately and always call:  \n- `MCP - List Tools`  \n- `MCP - List Prompts`  \n- `MCP - List Resources`  \n\n❗ Do **not proceed** or respond until all lists are fully parsed and understood.  \n🚫 Never use cached or outdated tool data.\n\n---\n\n⏳ **Session Recovery Logic**  \nTrigger this if:  \n- No tool is executed  \n- No response is generated  \n- The session is inactive or stuck for 10 minutes  \n\n🛠️ Recovery Steps:  \n1. Call:  \n   - `MCP - List Tools`  \n   - `MCP - List Prompts`  \n   - `MCP - List Resources`  \n2. Respond with:  \n   **\"Let’s pick up where we left off. What would you like to do?\"**\n\n---\n\n📖 **Execution Instructions**  \n- Call **prompts** and **resources** first using:  \n  - `MCP - Execute Prompt`  \n  - `MCP - Execute Resource`  \n- Only then call tools via:  \n  - `MCP - Execute Tool`  \n\n⚠️ Strictly follow the tool’s **description** and **schema**. No assumptions. No shortcuts.  \n🔄 If the tool supports **pagination**, handle it as defined.\n\n🧱 For object references:  \n- Create → `BatchCreateObjects`  \n- Read → `BatchReadObjects`  \n- Update → `BatchUpdateObjects`\n\n---\n\n💬 **User Input Guidelines**  \n- Use NLP to process user intent, phrasing, and CRM context.\n\n---\n\n🧾 **Handling & Response Guidelines**  \n- 🚫 Never show raw IDs (`dealId`, `contactId`) unless explicitly asked.  \n- 🧠 Always present **human-readable** fields like `name`, `label`, or `title`.  \n- 💵 Format currency fields using ` (e.g., `$15,000`).  \n- 📝 Character limit per response: **4000 characters**.  \n- ✨ Use appropriate emojis to distinguish response sections or paragraph meanings.\n\n---\n\n💡 **Keyword Rules**  \n- 🧮 Words like **\"all\"**, **\"total\"**, **\"summary\"**, **\"sum\"** → return **all available results**  \n  - If schema has `limit` or `perPage`, set to **maximum allowed**  \n- 🔖 Words like **\"called\"**, **\"named\"**, **\"name\"** → map to `name` or `dealName` fields\n\n---\n\n⏱️ **Response Timing Tracker**  \nTrack the following:  \n- 🕐 Timestamp of user message received  \n- 🕑 Timestamp of assistant response sent  \n- ⏳ Elapsed time in seconds, minutes, and hours\n\n📎 Append to each user-facing reply:  \n**_\"It took me [time] to process your request.\"_**","maxIterations":30},"credentials":""},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1840,-260],"id":"de1d09fc-d0ef-419a-ba51-b913418eacac","name":"Helen | AI Agent","retryOnFail":true},{"parameters":{"descriptionType":"manual","toolDescription":"### `error-log`\n\n- **Purpose:** record any workflow or tool error for later troubleshooting.  \n- **Required:** `message` — JSON object or array describing the error.","resource":"database","operation":"insert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_error_logs","mode":"list","cachedResultName":"n8n_error_logs"},"columns":{"mappingMode":"defineBelow","value":{"message":"={{ $fromAI('message', `The error message or array of error messages to be logged. Can include source and details.`, 'string') }}","session_id":"={{ $json.sessionId }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1740,435],"id":"3d37e70c-3c63-472c-88e6-081ed79928de","name":"MCP - Error Log","credentials":{"postgres":{"id":"kS35e9jQpjf0T0s4","name":"Postgres Account"}},"disabled":true},{"parameters":{"descriptionType":"auto","connectionType":"http","operation":"listTools"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1620,435],"id":"c26071d8-3387-4bca-82ae-2436e6ca572e","name":"MCP - List Tools","credentials":{"mcpClientHttpApi":{"id":"PWCMity0g3k8UqWg","name":"MCP Client (HTTP Streamable)"}}},{"parameters":{"descriptionType":"auto","connectionType":"http","operation":"executeTool","toolName":"={{ $fromAI(\"tool\", \"tool to use\")}}","toolParameters":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1500,420],"id":"e581b6eb-bb9e-4ca4-a79b-7ee4929514e4","name":"MCP - Execute Tool","credentials":{"mcpClientHttpApi":{"id":"PWCMity0g3k8UqWg","name":"MCP Client (HTTP Streamable)"}}},{"parameters":{"descriptionType":"auto","connectionType":"http","operation":"listPrompts"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1380,420],"id":"2f1e12cd-c05c-4585-ad52-74498d2172c6","name":"MCP - List Prompts","credentials":{"mcpClientHttpApi":{"id":"PWCMity0g3k8UqWg","name":"MCP Client (HTTP Streamable)"}}},{"parameters":{"descriptionType":"auto","connectionType":"http","operation":"getPrompt","promptName":"={{ $fromAI(\"prompt\", \"prompt to use\")}}"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1260,420],"id":"48bcc935-168c-4733-bad1-869e9361153c","name":"MCP - Execute Prompt","credentials":{"mcpClientHttpApi":{"id":"PWCMity0g3k8UqWg","name":"MCP Client (HTTP Streamable)"}}},{"parameters":{"descriptionType":"auto","connectionType":"http","operation":"listResources"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1140,420],"id":"4ae4283f-b51c-4c42-83b8-cc6a904a853e","name":"MCP Client - List Resources","credentials":{"mcpClientHttpApi":{"id":"PWCMity0g3k8UqWg","name":"MCP Client (HTTP Streamable)"}}},{"parameters":{"descriptionType":"auto","connectionType":"http","operation":"readResource","resourceUri":"={{ $fromAI(\"resource\", \"resource to use\")}}"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1840,360],"id":"4081482a-9afc-4043-835c-d6b1fc30969a","name":"MCP - Execute Resource","credentials":{"mcpClientHttpApi":{"id":"PWCMity0g3k8UqWg","name":"MCP Client (HTTP Streamable)"}}},{"parameters":{"notice":"","model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2040,320],"id":"caa399d3-c338-4316-823d-7d4ca37f8bb3","name":"MCP Chat Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"id":"395ec727-c7f0-4a8f-97a2-a96590f40872","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[1620,-260],"parameters":{"workflowInputs":{"values":[{"name":"chatInput","type":"any"}]}}}],"connections":{"Calculator":{"ai_tool":[[{"node":"Helen | AI Agent","type":"ai_tool","index":0}]]},"MCP - Error Log":{"ai_tool":[[{"node":"Helen | AI Agent","type":"ai_tool","index":0}]]},"MCP - List Tools":{"ai_tool":[[{"node":"Helen | AI Agent","type":"ai_tool","index":0}]]},"MCP - Execute Tool":{"ai_tool":[[{"node":"Helen | AI Agent","type":"ai_tool","index":0}]]},"MCP - List Prompts":{"ai_tool":[[{"node":"Helen | AI Agent","type":"ai_tool","index":0}]]},"MCP - Execute Prompt":{"ai_tool":[[{"node":"Helen | AI Agent","type":"ai_tool","index":0}]]},"MCP Client - List Resources":{"ai_tool":[[{"node":"Helen | AI Agent","type":"ai_tool","index":0}]]},"MCP - Execute Resource":{"ai_tool":[[{"node":"Helen | AI Agent","type":"ai_tool","index":0}]]},"MCP Chat Model":{"ai_languageModel":[[{"node":"Helen | AI Agent","type":"ai_languageModel","index":0}]]},"Start":{"main":[[{"node":"Helen | AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"3d897784-6a8e-416c-9f47-459c1be77bd4","triggerCount":0,"tags":[]}