Helen - RevOps.json
{"createdAt":"2025-07-16T08:39:15.327Z","updatedAt":"2025-07-23T06:45:20.787Z","id":"fHsFWfZCkLyQweew","name":"Helen - RevOps","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"file","fileId":"={{ $('MCP Host - Telegram').item.json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[80,-525],"id":"54e9cedd-8988-4e5e-9195-35a717ca1e53","name":"Telegram Get File","webhookId":"076f0443-c6cd-4324-a58f-49524dc15683","credentials":{"telegramApi":{"id":"KFO1136nlORXNVub","name":"Telegram Account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[300,-525],"id":"8566e245-eb74-4049-ae98-643f21d9a26f","name":"Transcribe Audio","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}},"onError":"continueRegularOutput"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-360,-600],"id":"4694c8c1-3952-4ccb-830e-7343c4fc1c18","name":"MCP Host - Telegram","webhookId":"1f60a9fc-fa58-4c75-8496-4d304a3cd38f","credentials":{"telegramApi":{"id":"KFO1136nlORXNVub","name":"Telegram Account"}}},{"parameters":{"chatId":"={{ $('MCP Host - Telegram').item.json.message.chat.id }}","text":"={{ $json.output }}","replyMarkup":"=","forceReply":{},"replyKeyboardOptions":{},"replyKeyboardRemove":{},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1460,-600],"id":"90269948-4e4e-4b65-b756-477423d89a8f","name":"Telegram Reply","webhookId":"4a0960d3-f227-415a-8025-785109ea3fcb","credentials":{"telegramApi":{"id":"KFO1136nlORXNVub","name":"Telegram Account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"return [{\n  chatInput: $input.first().json?.message?.text ?? $input.first().json?.text,\n  sessionId: $('MCP Host - Telegram').first().json.message.chat.id\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[540,-620],"id":"76e3ee23-57eb-4a0b-8307-ab920e1187cb","name":"Input Transformer","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ce4c2eb-9554-4b0b-9687-3ed836f350c5","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-140,-600],"id":"ad692599-f742-41e3-9395-b24a18012f8c","name":"Is Chat Input","onError":"continueRegularOutput"},{"parameters":{"content":"## MCP Host - Telegram Helen And web","height":580,"width":1300,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-520,-700],"typeVersion":1,"id":"08e2af8d-46a4-47cd-bc1b-26e24452c203","name":"Sticky Note"},{"parameters":{"workflowInputs":{"values":[{"name":"user_message","type":"any"},{"name":"userId","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[300,-320],"id":"d91d9ba9-eaa9-4833-b073-21e73d6aef2e","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"return [{\n  chatInput: $input.first().json.user_message,\n  sessionId: $input.first().json.userId\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[520,-325],"id":"a7aee0a7-050c-47e9-a600-bbc7c2151912","name":"Input Transformer2","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cddc3fab-5403-4930-aea3-83f0dc2017d1","leftValue":"={{ $('When Executed by Another Workflow').item.json.userId }}","rightValue":"cg_admin","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,-620],"id":"0cfc1958-b99d-48dc-a59d-8819ec280067","name":"If","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"sG4R3MsTQeyL5dVP","mode":"list","cachedResultName":"Helen-RevOps-Core"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["chatInput"],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[880,-620],"name":"Call Helen-RevOps-Core","id":"eab03d13-14f6-4a00-a691-0ec823fee9f7"}],"connections":{"Telegram Get File":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Input Transformer","type":"main","index":0}]]},"MCP Host - Telegram":{"main":[[{"node":"Is Chat Input","type":"main","index":0}]]},"Input Transformer":{"main":[[{"node":"Call Helen-RevOps-Core","type":"main","index":0}]]},"Is Chat Input":{"main":[[{"node":"Input Transformer","type":"main","index":0}],[{"node":"Telegram Get File","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Input Transformer2","type":"main","index":0}]]},"Input Transformer2":{"main":[[{"node":"Call Helen-RevOps-Core","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Telegram Reply","type":"main","index":0}]]},"Call Helen-RevOps-Core":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c8ff20c0-cfde-431d-b3d9-ba736423d327","triggerCount":1,"tags":[]}