Inventory tracking Shreyansh.json
{"createdAt":"2025-06-23T09:42:57.329Z","updatedAt":"2025-06-23T10:35:57.928Z","id":"bsQfaLwH2ciySkU4","name":"Inventory tracking Shreyansh","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-2140,300],"id":"0b4dcd2b-1a5f-4234-9719-998900119a14","name":"Message received","webhookId":"2b908855-3889-4af4-b1d9-bada8f4d3f52","disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-240,780],"id":"ade0e8d2-735b-4776-a654-c6ebf7ea606d","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"zD5wfo9phRcLkpGK","name":"OpenAi account 2"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appCzSrxDWwOpo897","mode":"list","cachedResultName":"Inventory Tracking","cachedResultUrl":"https://airtable.com/appCzSrxDWwOpo897"},"table":{"__rl":true,"value":"tblPSM4eoIURtrJ2k","mode":"list","cachedResultName":"Packing List","cachedResultUrl":"https://airtable.com/appCzSrxDWwOpo897/tblPSM4eoIURtrJ2k"},"filterByFormula":"={Session Id}='{{ $('When Executed by Another Workflow').item.json.userMessage.message.chat.id }}'","options":{"fields":["Item name","Item description","Quantity","Co-branded"]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1700,660],"id":"1ab0f392-4237-4404-8c23-cac642f8ea3e","name":"Packing List Search","alwaysOutputData":true,"executeOnce":false},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appCzSrxDWwOpo897","mode":"list","cachedResultName":"Inventory Tracking","cachedResultUrl":"https://airtable.com/appCzSrxDWwOpo897"},"table":{"__rl":true,"value":"tblIdCOOdcML13Znj","mode":"list","cachedResultName":"Memory","cachedResultUrl":"https://airtable.com/appCzSrxDWwOpo897/tblIdCOOdcML13Znj"},"filterByFormula":"=","options":{"fields":["Item name","Item description","Quantity","Co-branded"]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1700,460],"id":"2a49250f-d182-4cf7-ac90-697cf660e4ae","name":"Inventory Items Search","alwaysOutputData":true,"executeOnce":false},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"packing_list_items","include":"specifiedFields","fieldsToInclude":"id, Item name, Item description, Quantity, Co-branded","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1480,660],"id":"711ce38c-3a2f-4a60-bf69-b0b10bad7c05","name":"Aggregate Packing List Items","alwaysOutputData":true,"executeOnce":false},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"inventory_items","include":"specifiedFields","fieldsToInclude":"id, Item name, Item description, Quantity, Co-branded","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1480,460],"id":"91bb0263-1913-4318-b7a8-8fbefe626666","name":"Aggregate Inventory Items","alwaysOutputData":true,"executeOnce":false},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').first().json.userMessage.message.chat.id }}","contextWindowLength":2},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-120,780],"id":"f07c6982-1e68-4d4a-be86-1b81e582ca84","name":"Postgres Chat Memory"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"app3cD8QwU5ltJmJL","mode":"list","cachedResultName":"Base","cachedResultUrl":"https://airtable.com/app3cD8QwU5ltJmJL"},"table":{"__rl":true,"value":"tblyDfP8j9sknbmyf","mode":"list","cachedResultName":"Inventory","cachedResultUrl":"https://airtable.com/app3cD8QwU5ltJmJL/tblyDfP8j9sknbmyf"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id__using_to_match_', ``, 'string') }}","Quantity":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity', ``, 'number') }}","Co-branded":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Co-branded', ``, 'string') }}","item name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('item_name', ``, 'string') }}","item description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('item_description', ``, 'string') }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"item name","displayName":"item name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"item description","displayName":"item description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Quantity","displayName":"Quantity","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Co-branded","displayName":"Co-branded","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[20,780],"id":"a1249781-9b2b-4a91-8ba4-b8d00a468bf7","name":"create_or_update_inventory_items","credentials":{"airtableTokenApi":{"id":"LUV09oDP5v1QpIcn","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"mode":"combineBySql","query":"SELECT input1.inventory_items, input2.packing_list_items FROM input1 OUTER JOIN input2"},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1260,560],"id":"bcfb6876-40b5-4bb8-b39b-2fe317893906","name":"Merge","alwaysOutputData":true,"executeOnce":false},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1040,320],"id":"4f778b06-b8fb-427c-9d42-876a86c8d6ce","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"zD5wfo9phRcLkpGK","name":"OpenAi account 2"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appCzSrxDWwOpo897","mode":"list","cachedResultName":"Inventory Tracking","cachedResultUrl":"https://airtable.com/appCzSrxDWwOpo897"},"table":{"__rl":true,"value":"tblPSM4eoIURtrJ2k","mode":"list","cachedResultName":"Packing List","cachedResultUrl":"https://airtable.com/appCzSrxDWwOpo897/tblPSM4eoIURtrJ2k"},"columns":{"mappingMode":"defineBelow","value":{"Item name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Item_name', ``, 'string') }}","Quantity":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity', ``, 'number') }}","Session Id":"={{ $('When Executed by Another Workflow').item.json.userMessage.message.chat.id.toString() }}","Item description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Item_description', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Item name","displayName":"Item name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Item description","displayName":"Item description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Quantity","displayName":"Quantity","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Session Id","displayName":"Session Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Co-branded","displayName":"Co-branded","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-800,320],"id":"93e4120c-9b0f-4752-a83f-3b6f8a9c71b0","name":"create_items"},{"parameters":{"operation":"deleteRecord","base":{"__rl":true,"value":"appCzSrxDWwOpo897","mode":"list","cachedResultName":"Inventory Tracking","cachedResultUrl":"https://airtable.com/appCzSrxDWwOpo897"},"table":{"__rl":true,"value":"tblPSM4eoIURtrJ2k","mode":"list","cachedResultName":"Packing List","cachedResultUrl":"https://airtable.com/appCzSrxDWwOpo897/tblPSM4eoIURtrJ2k"},"id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Record_ID', ``, 'string') }}"},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-680,320],"id":"2cfc72b4-893b-4336-b324-4f703cf6fce4","name":"delete_items"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appCzSrxDWwOpo897","mode":"list","cachedResultName":"Inventory Tracking","cachedResultUrl":"https://airtable.com/appCzSrxDWwOpo897"},"table":{"__rl":true,"value":"tblPSM4eoIURtrJ2k","mode":"list","cachedResultName":"Packing List","cachedResultUrl":"https://airtable.com/appCzSrxDWwOpo897/tblPSM4eoIURtrJ2k"},"filterByFormula":"={Session Id}='{{ $('When Executed by Another Workflow').item.json.userMessage.message.chat.id }}'","options":{"fields":["Item name"]}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-560,320],"id":"bbb6547b-2746-46f9-91c1-d286e0d136fc","name":"search_items"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appCzSrxDWwOpo897","mode":"list","cachedResultName":"Inventory Tracking","cachedResultUrl":"https://airtable.com/appCzSrxDWwOpo897"},"table":{"__rl":true,"value":"tblPSM4eoIURtrJ2k","mode":"list","cachedResultName":"Packing List","cachedResultUrl":"https://airtable.com/appCzSrxDWwOpo897/tblPSM4eoIURtrJ2k"},"columns":{"mappingMode":"defineBelow","value":{"Quantity":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity', ``, 'number') }}","id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id__using_to_match_', ``, 'string') }}","Item name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Item_name', ``, 'string') }}","Item description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Item_description', ``, 'string') }}","Co-branded":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Co-branded', ``, 'string') }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Item name","displayName":"Item name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Item description","displayName":"Item description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Quantity","displayName":"Quantity","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Session Id","displayName":"Session Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Co-branded","displayName":"Co-branded","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[140,780],"id":"e7ae4f70-b0e4-4911-b68a-4347786a052f","name":"update_packing_list_items","credentials":{"airtableTokenApi":{"id":"LUV09oDP5v1QpIcn","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.userMessage.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[460,460],"id":"7977e513-4722-4d51-80d2-607218f233d3","name":"Send Message","webhookId":"b2317347-a1bb-4a94-966b-d175e4d2deda","alwaysOutputData":false,"executeOnce":true,"disabled":true},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.userMessage.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,200],"id":"3f5f4e3a-f783-46fb-a0cf-d15c55a43625","name":"Send Message1","webhookId":"b2317347-a1bb-4a94-966b-d175e4d2deda","executeOnce":true,"disabled":true},{"parameters":{"promptType":"define","text":"=**Update the packing list to exactly the following items:**\n{{ $('Analyze packing list image').item.json.content }}\n","options":{"systemMessage":"=### 🧠 Packing List Sync Agent\n\nYou are an AI agent that synchronizes the **packing list** in Airtable, knowing this schema:\n\n* **Item name** (required)\n* **Item description** (optional)\n* **Quantity** (positive integer)\n* **Co-branded** (optional “Yes”/“No”)\n\n---\n\n#### Behavior Rules:\n\n1. Parse the user’s JSON input of new packing-list items.\n2. If invalid or empty, do nothing.\n3. Delete **all** existing packing list records (if there are any).\n4. Create new records for each item, mapping fields exactly as per schema.\n5. If the quantity is sent as a string, feel free to cast it to a positive integer.\n6. Skip `Item description` if it’s not provided.\n7. Do **not** expose any tool names such as Airtable or implementation details.\n8. On failure, respond politely and ask the user to retry.\n9. After successfully updating the packing list, thank the user by name and prompt them to upload each item’s image—one at a time—with the **item name** as the caption.\n\n---\n\n#### Tools Available:\n\n* `search_items`\n* `delete_items`\n* `create_items`\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-820,100],"id":"498557d7-61cc-4540-9dfa-7a5b7fa51476","name":"Process packing list","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.userMessage.message.chat.id }}","contextWindowLength":2},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-920,320],"id":"4194200d-075c-41ab-be06-bb13dbbe4487","name":"Postgres Chat Memory Packing List"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=## 📦 **Process Packing List Image**\n\nYou are an AI that extracts item details from **packing list** images.\n\n---\n\n### ✅ **What qualifies as a valid packing list image:**\n\n* The image contains a structured **table** or clearly formatted **list**.\n* Each entry includes at least:\n\n  * an **Item name**, and\n  * a **Quantity**.\n* It may optionally include:\n\n  * an **Item description**.\n* Common keywords in the image may include:\n\n  * *\"Packing List\"*, *\"Item Information\"*, *\"Order\"*, *\"Units\"*, etc.\n\n---\n\n### 🔄 **Expected Output (if valid):**\n\nIf the image **is a packing list**, respond with:\n{\n  \"items\": [\n    {\n      \"Item name\": \"string\",\n      \"Quantity\": \"string or number\",\n      \"Item description\": \"string (optional)\"\n    }\n  ]\n}\n\n---\n\n### 🚫 **If the image is not a packing list:**\n\nReturn an empty object:\n{}\n","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1260,100],"id":"86558d32-f36b-4c39-837a-7247edb3953e","name":"Analyze packing list image","alwaysOutputData":false,"executeOnce":false,"credentials":{"openAiApi":{"id":"zD5wfo9phRcLkpGK","name":"OpenAi account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d9841de9-a495-4eba-a4fa-f95b9ba6eea2","leftValue":"={{ $json.userMessage.message.photo[2] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"843b06aa-10cb-465a-9835-ad3e879601fb","leftValue":"={{ $json.userMessage.message.caption }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1920,460],"id":"39a96eab-611a-42d8-9ae3-174803c6c64b","name":"Is packing list image"},{"parameters":{"jsCode":"const message = $('When Executed by Another Workflow').first().json.userMessage.message;\n\nlet userInput = '';\n\nconst caption = message.caption;\nconst text = message.text;\n\nif (caption) {\n  userInput = `Find the packing list or inventory item that best matches this name and create or update it in the inventory: ${caption}.`;\n} else {\n  userInput = text;\n}\nreturn [\n  {\n    json: {\n      user_input: userInput\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-740,560],"id":"fc66a84c-8ad4-4fd6-b99f-33fcc9a1607f","name":"Code"},{"parameters":{"promptType":"define","text":"={{ $json.user_input }}","options":{"systemMessage":"=### 🧠 Inventory & Packing List Management\n\nYou are an AI assistant that manages both an **inventory** and a **packing list**, both stored in Airtable. You know the exact schemas:\n\n---\n\n#### 📦 **Inventory Table Schema**\n\n* **Item name** (required string)\n* **Item description** (optional string)\n* **Quantity** (positive integer)\n* **Co-branded** (optional: “Yes” or “No”)\n\n---\n\n#### 📋 **Packing List Table Schema**\n\n* **Item name** (required string)\n* **Item description** (optional string)\n* **Quantity** (positive integer)\n* **Co-branded** (optional: “Yes” or “No”)\n\n---\n\nIf the quantity is sent as a string, feel free to cast it to a positive integer.\n\n---\n\n### 📥 Provided Context\n\nYou are given full datasets from both tables:\n\n* **Inventory Items**:\n  `{{ $('Merge').item.json.inventory_items.toJsonString() }}`\n\n* **Packing List Items**:\n  `{{ $('Merge').item.json.packing_list_items.toJsonString() }}`\n\nUse only this context. Never assume or fetch external data.\n\n---\n\n### ⚙️ Behavior Rules\n\n#### 1. Inventory Management\n\n* Match items by **Item name** (case-insensitive).\n* Use the item's `Item description`, `Quantity`, and `Co-branded` if available.\n* Call `create_or_update_inventory_items` to create or update the record.\n\n#### 2. Packing List Management\n\n* Only update items that already exist in the packing list.\n* Call `update_packing_list_items` if there are updates.\n* Do not add new packing list items.\n* Skip any optional fields that are not provided.\n\n---\n\n### 🔒 Additional Guidelines\n\n* Greet the user using their first name from:\n  '{{ $('When Executed by Another Workflow').first().json.userMessage.message.chat.first_name }}'\n* As the first step, ask them to upload or provide the **packing list** for processing.\n* Never mention tool names such as Airtable, APIs, or implementation details.\n* On errors or mismatches, respond politely and ask the user to try again.\n\n---\n\n### ✅ Response Style\n\n* Be clear, concise, and helpful.\n* Format responses using only the fields defined in the schemas.\n* Always act strictly based on the JSON context provided.\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-80,560],"id":"75a8e008-f03e-4b7d-8111-ca8970f7247c","name":"Process inventory","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"userMessage","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2140,500],"id":"5fb51028-6395-44f1-85d4-8bdbc3f65510","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Access the binary data\nconst binaryData = items[0].binary.data;\n\n// Set the correct MIME type\nbinaryData.mimeType = 'image/jpeg'; // or 'image/png', depending on your file\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1480,100],"id":"b27a36d9-5461-487d-a1a4-2b5070d57201","name":"convert MIME type"},{"parameters":{"resource":"file","fileId":"={{ $json.userMessage.message.photo[2].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1700,100],"id":"b644c6ae-0882-4ec4-823a-4413a1010d78","name":"Get packing list image","webhookId":"001dc3b8-048f-4950-84fe-625719523558","credentials":{"telegramApi":{"id":"LyzLpPvKkoanmiFs","name":"Telegram account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[260,780],"id":"dacb67e6-d54a-4bd9-bd52-7f78c94d12eb","name":"Think"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-440,320],"id":"71f4f8e4-6183-461c-9b71-84f326df03f0","name":"Think1"},{"parameters":{"assignments":{"assignments":[{"id":"236bb9a5-6bee-413f-b159-0ece31335f74","name":"output","value":"Something went wrong, please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"e46826b0-69e6-4a75-a730-ee29ebb6c313","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"0a2b414b-cacd-4800-a2e4-f38acb7fe876","name":"output","value":"Something went wrong, please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,660],"id":"62cf0e5c-ff1e-4908-8da5-1c6497439338","name":"Edit Fields1"}],"connections":{"Message received":{"main":[[{"node":"Is packing list image","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Process inventory","type":"ai_languageModel","index":0}]]},"Packing List Search":{"main":[[{"node":"Aggregate Packing List Items","type":"main","index":0}]]},"Inventory Items Search":{"main":[[{"node":"Aggregate Inventory Items","type":"main","index":0}]]},"Aggregate Packing List Items":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Aggregate Inventory Items":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Process inventory","type":"ai_memory","index":0}]]},"create_or_update_inventory_items":{"ai_tool":[[{"node":"Process inventory","type":"ai_tool","index":0}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Process packing list","type":"ai_languageModel","index":0}]]},"create_items":{"ai_tool":[[{"node":"Process packing list","type":"ai_tool","index":0}]]},"delete_items":{"ai_tool":[[{"node":"Process packing list","type":"ai_tool","index":0}]]},"search_items":{"ai_tool":[[{"node":"Process packing list","type":"ai_tool","index":0}]]},"update_packing_list_items":{"ai_tool":[[{"node":"Process inventory","type":"ai_tool","index":0}]]},"Process packing list":{"main":[[{"node":"Send Message1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Postgres Chat Memory Packing List":{"ai_memory":[[{"node":"Process packing list","type":"ai_memory","index":0}]]},"Analyze packing list image":{"main":[[{"node":"Process packing list","type":"main","index":0}]]},"Is packing list image":{"main":[[{"node":"Get packing list image","type":"main","index":0}],[{"node":"Inventory Items Search","type":"main","index":0},{"node":"Packing List Search","type":"main","index":0}]]},"Code":{"main":[[{"node":"Process inventory","type":"main","index":0}]]},"Process inventory":{"main":[[{"node":"Send Message","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Is packing list image","type":"main","index":0}]]},"convert MIME type":{"main":[[{"node":"Analyze packing list image","type":"main","index":0}]]},"Get packing list image":{"main":[[{"node":"convert MIME type","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Process inventory","type":"ai_tool","index":0}]]},"Think1":{"ai_tool":[[{"node":"Process packing list","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"02d55a3c-3f8c-4412-b1ee-fba6343f73c2","triggerCount":0,"tags":[{"createdAt":"2025-04-30T06:20:39.113Z","updatedAt":"2025-04-30T06:21:08.644Z","id":"Y9xvRKL6uE6KQeu6","name":"logan"}]}