Logan - Logistics.json
{"createdAt":"2025-05-05T09:19:33.653Z","updatedAt":"2025-07-25T07:09:04.066Z","id":"lAPIuCmaQTMxdaXp","name":"Logan - Logistics","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type[0].type }}","rightValue":"SHIPPING","operator":{"type":"string","operation":"contains"},"id":"652fb368-808f-4cee-9d1e-6d479efefeb1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Shipping Request"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"480a9d95-1e6c-40d5-8095-0247006ceb86","leftValue":"={{ $json.type[0].type }}","rightValue":"INVENTORY","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Inventory item request"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2560,1040],"id":"245cf0da-e3a7-433d-bee1-dcd0ad07c12c","name":"Router Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1616,736],"id":"44c601c1-37a7-46f8-8f49-1d664f9be974","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g","mode":"list","cachedResultName":"Session Id Storage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Session Id ","lookupValue":"={{ $json.userId }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[480,848],"id":"a53b3928-656e-43f5-be7e-7f0d3fa0ff95","name":"Read Session From Google Sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0e2MdtnLl9hGCdxD","name":"Google Sheets account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g","mode":"list","cachedResultName":"Session Id Storage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Session Id ":"={{ $('Edit Fields').item.json.userId }}"},"matchingColumns":["Session Id "],"schema":[{"id":"Session Id ","displayName":"Session Id ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1904,528],"id":"f7331a8d-0daf-4e92-a0d9-a823fe15c103","name":"Update Session From Google Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0e2MdtnLl9hGCdxD","name":"Google Sheets account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"4ef32a8b-40e8-42fa-83da-95e23bc9b9eb","name":"text","value":"={{ $('Greeting Message Helper').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2112,528],"id":"be04c5a2-ec7b-46ba-99f1-6974188ed321","name":"Seeting Session to Empty Type"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields').item.json.user_message }}","messages":{"messageValues":[{"message":"=\n## System Prompt\nYou are an helpful Ai assistant. Your work is to verify messages as per the followings:\n- If message contains greeting messages then respond them politely and ask the user to politely respond on followings:\n  - I have a new Shipping Request.\n  - I have to add new item into an Inventory.\n- If user asked other information then frame your answer in such a way that it should only ask the above two questions only. \n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1520,528],"id":"082817ca-a130-4e58-b595-9385119ac4ad","name":"Greeting Message Helper"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00571328-bb73-42b5-b605-786b06ebf982","leftValue":"={{ $('Read Session From Google Sheet').item.json.values() }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,848],"id":"e46f13bf-a0c7-4479-81dd-c098185710ef","name":"Check If Session Exist or Not"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c52ab88a-d1e2-49da-9179-3e750c025f71","leftValue":"={{ $('Read Session From Google Sheet').item.json.Type }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[928,976],"id":"6079af98-df02-45e4-8e97-a68c5e26e46b","name":"Check If Request Type is exist or not"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1616,1360],"id":"bc41550d-f47d-4060-8c67-646abfe867c8","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g","mode":"list","cachedResultName":"Session Id Storage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Session Id ":"={{ $json['Session Id '] }}","Type":"SHIPPING"},"matchingColumns":["Session Id "],"schema":[{"id":"Session Id ","displayName":"Session Id ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1904,1040],"id":"68314015-a2f8-4ff7-b3bf-51fa8257f0b9","name":"Update Session on Google Sheet Type Shipping","credentials":{"googleSheetsOAuth2Api":{"id":"0e2MdtnLl9hGCdxD","name":"Google Sheets account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g","mode":"list","cachedResultName":"Session Id Storage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Session Id ":"={{ $('Edit Fields').item.json.userId }}","Type":"INVENTORY"},"matchingColumns":["Session Id "],"schema":[{"id":"Session Id ","displayName":"Session Id ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1904,1248],"id":"36b64ae5-d5dc-4b47-b8c0-413b961e021c","name":"Update Session on Google Sheet Type Inventory","credentials":{"googleSheetsOAuth2Api":{"id":"0e2MdtnLl9hGCdxD","name":"Google Sheets account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"a64536b7-581e-43ea-b28e-998e866ee32f","name":"type","value":"={{ $('Check If Session Exist or Not').item.json.Type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2112,768],"id":"1bd3f1ed-db57-4cb8-b204-b48acf87acea","name":"Setting Type"},{"parameters":{"assignments":{"assignments":[{"id":"4717583d-d82a-4f55-b2b2-8a7873281029","name":"type","value":"SHIPPING","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2112,1040],"id":"92a9dac7-b335-40df-b7d9-8d4c1277b283","name":"Setting Shipping Type"},{"parameters":{"assignments":{"assignments":[{"id":"97ede583-7a94-40ef-8ece-b2814a525f34","name":"type","value":"INVENTORY","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2112,1248],"id":"fe473dc3-c234-4b35-93da-d645aa9d0b97","name":"Setting Inventory Type"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"type","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2336,1040],"id":"280384af-0096-44a3-b554-1c7f226554b5","name":"Aggregate"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1232,1312],"id":"58c05b5a-49f6-47ec-aec7-03277d9eaa0a","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"inputText":"={{ $('Edit Fields').first().json.user_message }}","categories":{"categories":[{"category":"GREETING","description":"If message contains hey, hello or any any greeting content."},{"category":"SHIPPING or INVENTORY","description":"If message contains anything about shipping and inventory"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[1152,1104],"id":"0300673e-a04e-44b7-985c-4aa50358f8cc","name":"Text Validate if it message have greeting messages or shipping or inventory messages"},{"parameters":{"inputText":"={{ $('If1').item.json.user_message }}","categories":{"categories":[{"category":"SHIPPING","description":"If messages related with raising a new shipping request"},{"category":"INVENTORY","description":"If messages related with adding item into an inventory"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[1520,1152],"id":"28cf7886-62aa-4382-94d6-64c44b4cd640","name":"Check if it is Inventory or Shipping Message"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"bf3362cd-cb4e-4e68-83ab-62f5784c1dbd","leftValue":"={{ $json.Type }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3664,944],"id":"64e00c01-1df2-46b1-a27d-3bf1d9e99759","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"6394f98f-54b9-4208-b578-bf7e004e8ef8","name":"text","value":"={{ $('Response Aggregate').item.json.data[0].text || $('Response Aggregate').item.json.data[0].output }}\n{{ $('Response Aggregate').item.json.data[0].message }}\n\nNote: Please use \"reset\" command to reinitiate the whole conversation. ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3888,960],"id":"914df0cb-fcca-4b8c-ae48-c6c368b630cc","name":"Add reset type selection note1"},{"parameters":{"assignments":{"assignments":[{"id":"6394f98f-54b9-4208-b578-bf7e004e8ef8","name":"text","value":"={{ $('Response Aggregate').item.json.data[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3872,752],"id":"3a29a523-bffc-4ae0-99f3-d5ad309e437a","name":"Don't add reset command selection in greeting or other messages"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3280,944],"id":"c0788f25-f7f9-4d20-823f-cab326790b77","name":"Response Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"0346356a-6d31-4080-b9e8-54dd9937b803","leftValue":"={{ $json.user_message }}","rightValue":"RESET","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,752],"id":"4a623643-6084-4c3a-97c7-7e5ecd26d2ab","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"5c2ada0c-7c34-4e89-9ece-8c592fa31b89","name":"text","value":"Your conversation has been successfully reset. To start a new conversation, simply type \"Hello\" or \"Hi.\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,352],"id":"018fcc8d-517f-45c5-aeda-103c51fb451a","name":"Set Reset command success message","onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.text }}","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1392,352],"id":"a25b4bb2-46eb-40d7-b35c-62806cd2bdf9","name":"Telegram1","webhookId":"465b954b-ac6c-4570-bf64-4d5d01f71877","credentials":{"telegramApi":{"id":"oOu5uBhHVvactaW4","name":"LOGAN"}},"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g","mode":"list","cachedResultName":"Session Id Storage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Session Id ","lookupValue":"={{ $('Edit Fields').item.json.userId }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[480,352],"id":"a0ec6db3-b8f1-4c8d-a095-f02f9bd46ec8","name":"Get Session on Google Sheet Type Shipping1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0e2MdtnLl9hGCdxD","name":"Google Sheets account 2"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g","mode":"list","cachedResultName":"Session Id Storage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit#gid=0"},"startIndex":"={{ $json.row_number }}"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[704,352],"id":"0522af91-2d79-480f-a500-02d2e1d80be5","name":"Delete Session on Google Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0e2MdtnLl9hGCdxD","name":"Google Sheets account 2"}},"onError":"continueRegularOutput"},{"parameters":{"content":"## Main Trigger","height":528,"width":492,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,560],"id":"13d3286e-cb71-4b76-aa5c-0e824a823b10","name":"Sticky Note"},{"parameters":{"content":"## Logan Router For Shipping and Inventory","height":820,"width":340},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1808,704],"id":"fc64e677-01b1-4025-afd7-146ded6ebb2d","name":"Sticky Note1"},{"parameters":{"content":"## Response","height":320,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3184,848],"id":"afdbfa34-3ae5-427a-a925-90c8b39f7b1f","name":"Sticky Note2"},{"parameters":{"workflowId":{"__rl":true,"value":"tTXaIldnOQJGcViW","mode":"list","cachedResultName":"Logan SubAgent: Inventory-main"},"workflowInputs":{"mappingMode":"defineBelow","value":{"userMessage":"={{ $('Edit Fields').item.json.telegram_message || $('Edit Fields').item.json.user_message }}","userId":"={{ $('Edit Fields').item.json.userId }}"},"matchingColumns":["userMessage"],"schema":[{"id":"userMessage","displayName":"userMessage","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2912,1104],"id":"716a63ff-a85c-452f-9147-2d4a0fe6bcd8","name":"Logan_Inventory_Tracker"},{"parameters":{"content":"## Token Refreshment","height":360,"width":1300,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[192,192],"id":"ae3614ca-f849-4686-8545-18d69578dce5","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"cdd9e438-b4d4-455d-89cc-fb814d3a288e","name":"userId","value":"={{ $json.chatId || $json.message.chat.id }}","type":"string"},{"id":"177f243e-166f-42b9-b8c7-ea690c26b453","name":"user_message","value":"={{ $json.user_message || $json.message.text || $json.message.caption || $json.message.photo[2].file_id }}","type":"string"},{"id":"037467c6-6f64-4405-9692-28d1e65591f7","name":"telegram_message","value":"={{ $json.message }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,736],"id":"7ccd3492-f6f6-4e18-99fb-19d615fb113f","name":"Edit Fields","onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g","mode":"list","cachedResultName":"Session Id Storage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Session Id ","lookupValue":"={{ $('Edit Fields').item.json.userId }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3440,944],"id":"b53e7fb8-286c-4acb-aa7a-9c0d1cd18183","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0e2MdtnLl9hGCdxD","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93e3ed4d-69c1-4d7d-bc71-09263db6ab16","leftValue":"={{ $('Edit Fields').item.json.userId }}","rightValue":"cg_admin","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4144,880],"id":"0286ab87-76aa-47cd-8237-3e3ceced449c","name":"If2"},{"parameters":{"chatId":"={{ $('Edit Fields').item.json.userId }}","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4400,944],"id":"48036a46-e897-4fdf-b30d-ca08c6f306c8","name":"Send a text message","webhookId":"465b954b-ac6c-4570-bf64-4d5d01f71877","credentials":{"telegramApi":{"id":"oOu5uBhHVvactaW4","name":"LOGAN"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93e3ed4d-69c1-4d7d-bc71-09263db6ab16","leftValue":"={{ $('Edit Fields').item.json.userId }}","rightValue":"cg_admin","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1168,352],"id":"ef03c481-16a7-41ba-95b5-4c639e09dc32","name":"If3"},{"parameters":{"workflowInputs":{"values":[{"name":"user_message"},{"name":"metadata","type":"any"},{"name":"chatId","type":"any"},{"name":"attachmentData","type":"any"},{"name":"uploadFileUrl","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-352,864],"id":"a1446573-65aa-4541-9af8-04accd828a12","name":"When Executed by Another Workflow"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-352,640],"id":"d70aa485-8e01-440d-bdb1-bddf66c199b8","name":"Telegram Trigger","webhookId":"ae216f1b-9e60-4a85-968d-82459bb25f98","credentials":{"telegramApi":{"id":"oOu5uBhHVvactaW4","name":"LOGAN"}}},{"parameters":{"workflowId":{"__rl":true,"value":"tsiodpTdfS9R4jwT","mode":"list","cachedResultName":"Logan SubAgent: Shipping"},"workflowInputs":{"mappingMode":"defineBelow","value":{"userMessage":"={{ $('Edit Fields').item.json.user_message }}","userID":"={{ $('Edit Fields').item.json.userId }}","attachmentData":"={{ $('When Executed by Another Workflow').item.json.attachmentData }}"},"matchingColumns":["userMessage"],"schema":[{"id":"userMessage","displayName":"userMessage","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"userID","displayName":"userID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"attachmentData","displayName":"attachmentData","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2912,768],"id":"e361913c-483a-414c-8233-497b1651be26","name":"Logan_Shipping_Handler","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"36da0a1f-e7c6-4917-a6c2-909d49ffdf18","leftValue":"={{ $('Edit Fields').item.json.userId }}","rightValue":"cg_admin","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2704,928],"id":"4c552631-626f-400f-8be7-02f82609abc0","name":"If4"},{"parameters":{"workflowId":{"__rl":true,"value":"tsiodpTdfS9R4jwT","mode":"list","cachedResultName":"Logan SubAgent: Shipping"},"workflowInputs":{"mappingMode":"defineBelow","value":{"userMessage":"={{ $('Telegram Trigger').item.json.message }}","userID":"={{ $('Edit Fields').item.json.userId }}","attachmentData":"false"},"matchingColumns":["userMessage"],"schema":[{"id":"userMessage","displayName":"userMessage","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"userID","displayName":"userID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"attachmentData","displayName":"attachmentData","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2912,928],"id":"472ca35d-3a62-491b-95e8-7e5d609794c8","name":"Logan_Shipping_Handler1","alwaysOutputData":true,"onError":"continueRegularOutput"}],"connections":{"Router Agent":{"main":[[{"node":"If4","type":"main","index":0}],[{"node":"Logan_Inventory_Tracker","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Greeting Message Helper","type":"ai_languageModel","index":0}]]},"Read Session From Google Sheet":{"main":[[{"node":"Check If Session Exist or Not","type":"main","index":0}]]},"Update Session From Google Sheet":{"main":[[{"node":"Seeting Session to Empty Type","type":"main","index":0}]]},"Greeting Message Helper":{"main":[[{"node":"Update Session From Google Sheet","type":"main","index":0}]]},"Check If Session Exist or Not":{"main":[[{"node":"Greeting Message Helper","type":"main","index":0}],[{"node":"Check If Request Type is exist or not","type":"main","index":0}]]},"Check If Request Type is exist or not":{"main":[[{"node":"Setting Type","type":"main","index":0}],[{"node":"Text Validate if it message have greeting messages or shipping or inventory messages","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Check if it is Inventory or Shipping Message","type":"ai_languageModel","index":0}]]},"Update Session on Google Sheet Type Shipping":{"main":[[{"node":"Setting Shipping Type","type":"main","index":0}]]},"Update Session on Google Sheet Type Inventory":{"main":[[{"node":"Setting Inventory Type","type":"main","index":0}]]},"Setting Type":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Setting Shipping Type":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Setting Inventory Type":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Router Agent","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Text Validate if it message have greeting messages or shipping or inventory messages","type":"ai_languageModel","index":0}]]},"Text Validate if it message have greeting messages or shipping or inventory messages":{"main":[[{"node":"Greeting Message Helper","type":"main","index":0}],[{"node":"Check if it is Inventory or Shipping Message","type":"main","index":0}]]},"Check if it is Inventory or Shipping Message":{"main":[[{"node":"Update Session on Google Sheet Type Shipping","type":"main","index":0}],[{"node":"Update Session on Google Sheet Type Inventory","type":"main","index":0}]]},"Seeting Session to Empty Type":{"main":[[{"node":"Response Aggregate","type":"main","index":0}]]},"If":{"main":[[{"node":"Don't add reset command selection in greeting or other messages","type":"main","index":0}],[{"node":"Add reset type selection note1","type":"main","index":0}]]},"Don't add reset command selection in greeting or other messages":{"main":[[{"node":"If2","type":"main","index":0}]]},"Response Aggregate":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"If1":{"main":[[{"node":"Get Session on Google Sheet Type Shipping1","type":"main","index":0}],[{"node":"Read Session From Google Sheet","type":"main","index":0}]]},"Add reset type selection note1":{"main":[[{"node":"If2","type":"main","index":0}]]},"Set Reset command success message":{"main":[[{"node":"If3","type":"main","index":0}]]},"Get Session on Google Sheet Type Shipping1":{"main":[[{"node":"Delete Session on Google Sheet","type":"main","index":0}]]},"Delete Session on Google Sheet":{"main":[[{"node":"Set Reset command success message","type":"main","index":0}]]},"Logan_Inventory_Tracker":{"main":[[{"node":"Response Aggregate","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[]]},"If3":{"main":[[],[{"node":"Telegram1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Logan_Shipping_Handler":{"main":[[{"node":"Response Aggregate","type":"main","index":0}]]},"If4":{"main":[[{"node":"Logan_Shipping_Handler","type":"main","index":0}],[{"node":"Logan_Shipping_Handler1","type":"main","index":0}]]},"Logan_Shipping_Handler1":{"main":[[{"node":"Response Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1ffe5aba-c9d3-4d72-aa9a-5bf100273367","triggerCount":1,"tags":[{"createdAt":"2025-04-30T06:20:39.113Z","updatedAt":"2025-04-30T06:21:08.644Z","id":"Y9xvRKL6uE6KQeu6","name":"logan"},{"createdAt":"2025-07-16T07:42:40.296Z","updatedAt":"2025-07-16T07:42:40.296Z","id":"Be4t3RgvNL1y2QHg","name":"main"}]}