Logan2_0__shipping shreyansh.json
{"createdAt":"2025-06-23T06:04:58.717Z","updatedAt":"2025-06-23T10:05:24.914Z","id":"FkymzRs2645ETJNk","name":"Logan2_0__shipping shreyansh","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[980,480],"id":"34d5c73a-e908-4ee0-9986-8e1aa82868f5","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"zD5wfo9phRcLkpGK","name":"OpenAi account 2"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"=Instruction:\nAnalyze the uploaded image and attempt to extract the package dimensions (length, width, height). which will already measued in image \n\nIf the dimensions are present in the image, extract and return them.\n\nIf the dimensions are not available or not visible, return:\n\"Dimensions not available in the image.\"\n\n\n","inputType":"base64","options":{"detail":"auto"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[620,220],"id":"50b11f22-bc3e-4598-8453-c7f5b222c411","name":"Analysis Report Image node","credentials":{"openAiApi":{"id":"zD5wfo9phRcLkpGK","name":"OpenAi account 2"}}},{"parameters":{"jsCode":"// Access the binary data\nconst binaryData = items[0].binary.data;\n\n// Set the correct MIME type\nbinaryData.mimeType = 'image/jpeg'; // or 'image/png', depending on your file\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,200],"id":"a53b204c-34f1-47f1-88a6-09c0d0fdab27","name":"convert MIME type"},{"parameters":{"name":"get_shipping_rates_tool","description":"call this tool to get price and estimated datss and shipping lables** Always\n\n","workflowId":{"__rl":true,"value":"Yydb7HVv9aznqzKB","mode":"list","cachedResultName":"Store_Shipping_Details_Logan"},"workflowInputs":{"mappingMode":"defineBelow","value":{"shipping details":"={{ $fromAI('shipping_details', `provide complete details of shipping related once you received all details from user`, 'string') }}","userId":"={{ $('Execute to get shipping cost estimation').item.json.userMessage.message.chat.id }}"},"matchingColumns":["shipping details"],"schema":[{"id":"shipping details","displayName":"shipping details","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1360,480],"id":"99fe2d7d-499d-4a66-9484-c74acf21747f","name":"get_shipping_rates_tool"},{"parameters":{"assignments":{"assignments":[{"id":"93b8d677-fc6a-44bd-bc8c-d520ec590d62","name":"message","value":"={{ $('Agent Which Ask Shipping details and provide cost estimation details').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1600,260],"id":"f3f6c9aa-c7a3-4580-936c-ac7b60414672","name":"Edit Fields"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Master Router').item.json.userMessage.message.chat.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1140,500],"id":"c0853a27-2583-42fe-82a1-966fe98c4f3a","name":"Simple Memory1"},{"parameters":{"workflowInputs":{"values":[{"name":"userMessage","type":"any"},{"name":"userID","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-500,280],"id":"131154df-1e37-43f5-b3dc-6734cd1431df","name":"Execute to get shipping cost estimation","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.userMessage.message.photo[0].file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"457db5b0-1d8d-43e2-9378-c323e02bb29e"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77544bf3-36c0-4558-a052-9364652510fb","leftValue":"={{ $json.userMessage.message.document?.toJsonString() }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4a880d3-5f99-4c31-8a3f-b2d6f9b32fae","leftValue":"={{ $json.userMessage.message.text}}  ","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-200,280],"id":"184aa3d6-5ba8-4726-91f6-dabdc52a0213","name":"Master Router"},{"parameters":{"resource":"file","fileId":"={{ $json.userMessage.message.photo[2].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[80,80],"id":"2111f3eb-c57b-4733-931a-d9bc8c792040","name":"get report image jpeg/jpg1 Photo","webhookId":"001dc3b8-048f-4950-84fe-625719523558","credentials":{"telegramApi":{"id":"LyzLpPvKkoanmiFs","name":"Telegram account 2"}}},{"parameters":{"resource":"file","fileId":"={{ $json.userMessage.message.document.thumbnail.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[80,240],"id":"eab10a41-227f-46c5-85a9-d9fa1d49569b","name":"get report image jpeg/jpg document","webhookId":"001dc3b8-048f-4950-84fe-625719523558","credentials":{"telegramApi":{"id":"LyzLpPvKkoanmiFs","name":"Telegram account 2"}}},{"parameters":{"promptType":"define","text":"= {{ $('Master Router').item.json.userMessage.message.text }} {{ $json.content }}","options":{"systemMessage":"=you are a friendly shipping assistant helps in gathering following shipping details from user one by one:\n\n1. **Package dimensions**: Length × Width × Height (accept image or text)\n2. **Sender name & email**\n3. **What are your request details? Request Details** (brief)\n4. **What would you like to ship? Shipping Contents**\n5. **Insurance required?** (Yes/No)\n6. **Desired delivery date**\n7. **Recipient name & contact number**\n8. **Recipient address** (USA-only: house, street, city, postal code, country)*\n9. **Sender address** (USA-only: house, street, city, postal code, country)*\n10. **Sender mobile number**\n11. **Package weight** (must be below 45 kg)\n\n📌 Rules:\n1. Do not skip any field – all are required.\n2. Each question should be asked one-by-one.\n3. After gathering all data, summarize everything clearly and ask for confirmation.\n4. Only after the user's confirmation, you must call get_shipping_rates_tool with all \n    the collected info.\n5. Never provide shipping information without calling get_shipping_rates_tool.\n\n✅ Final Response After Tool Call:\nOnce you receive the response from get_shipping_rates_tool, \n✅ Your logistics request has been processed.\n📦 SHIPPING DETAILS:\n[Insert concise summary of package details]\n💰 RATE QUOTATION: \n[Insert price from tool]\n📅 ESTIMATED ARRIVAL:\n[Insert date from tool]\n  Tracking numbers\n[Insert Tracking numbers from tool]\n🏷️ SHIPPING LABEL & TRACKING:\n[Insert tracking information from tool]\n\nPlease drop off your package before 3 PM and take a picture of the drop-off.\n\nIMPORTANT: \n1.You must NEVER provide shipping information without calling `get_shipping_rates_tool`.\n2.Do not skip any field – all are required.\n3.If Dimension are avaialble do not ask again for image (accpet both image and text) "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1100,300],"id":"d144a26f-e67c-47ee-bf73-66dbebd048ea","name":"Agent Which Ask Shipping details and provide cost estimation details"},{"parameters":{"content":"## Execute to get shipping cost ","height":260,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,200],"id":"95960398-2e6e-44d3-aa4d-1a219cb8b11a","name":"Sticky Note"},{"parameters":{"content":"## Agent Which Ask Shipping details... (Tools Agent)\nCore agent that asks and answers based on analysis.\nRetrieves shipping details and calculates cost.\nConnected to:\nOpenAI Chat Model – powers language understanding.\nSimple Memory – stores conversational memory.\nget_shipping_rates_tool – fetches rates from FedEx Api.\n\n","height":520,"width":620},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[900,100],"id":"46acd248-d488-4f42-b54f-4c442c64d667","name":"Sticky Note1"},{"parameters":{"content":"## Get Photos/Document\nget user uploaded photos and document  ","height":500,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"d27c096c-7a2e-4f7c-aaca-185013c27039","name":"Sticky Note2"},{"parameters":{"content":"## Master Router\nroute the flow based on text and files","height":260,"width":260,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-280,200],"id":"1babb134-96c6-4a4f-b116-c56decd3c124","name":"Sticky Note3"},{"parameters":{"content":"## Analysis Image node\nUses OpenAI Vision to analyze image contents for extracting shipping-related data.\n\n","height":320,"width":360},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[500,100],"id":"f2a7cf86-865a-4481-9e97-e97fbc19c498","name":"Sticky Note4"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Agent Which Ask Shipping details and provide cost estimation details","type":"ai_languageModel","index":0}]]},"convert MIME type":{"main":[[{"node":"Analysis Report Image node","type":"main","index":0}]]},"Analysis Report Image node":{"main":[[{"node":"Agent Which Ask Shipping details and provide cost estimation details","type":"main","index":0}]]},"get_shipping_rates_tool":{"ai_tool":[[{"node":"Agent Which Ask Shipping details and provide cost estimation details","type":"ai_tool","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Agent Which Ask Shipping details and provide cost estimation details","type":"ai_memory","index":0}]]},"Execute to get shipping cost estimation":{"main":[[{"node":"Master Router","type":"main","index":0}]]},"Master Router":{"main":[[{"node":"get report image jpeg/jpg1 Photo","type":"main","index":0}],[{"node":"get report image jpeg/jpg document","type":"main","index":0}],[{"node":"Agent Which Ask Shipping details and provide cost estimation details","type":"main","index":0}]]},"get report image jpeg/jpg1 Photo":{"main":[[{"node":"convert MIME type","type":"main","index":0}]]},"get report image jpeg/jpg document":{"main":[[{"node":"convert MIME type","type":"main","index":0}]]},"Agent Which Ask Shipping details and provide cost estimation details":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b7dca612-805b-49e0-b3d4-c21aaff9c6a5","triggerCount":0,"tags":[{"createdAt":"2025-04-30T06:20:39.113Z","updatedAt":"2025-04-30T06:21:08.644Z","id":"Y9xvRKL6uE6KQeu6","name":"logan"}]}