Logan V2.json
{"createdAt":"2025-08-04T09:13:31.079Z","updatedAt":"2025-08-04T10:27:40.583Z","id":"QBAY3lJRkebdOVnR","name":"Logan V2","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1024,-288],"id":"383d9201-2854-41ea-889e-5498654d64ed","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"sseEndpoint":"https://sleepsleeves.com/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1344,-256],"id":"47d0a843-d407-45f1-857a-92f975ac22a6","name":"MCP Client","retryOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d9841de9-a495-4eba-a4fa-f95b9ba6eea2","leftValue":"={{ $('Workflow trigger').first().json.message.photo }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-624,-944],"id":"92d46f69-be3f-4acf-80b3-7b9ecae05929","name":"Has image","retryOnFail":false},{"parameters":{"jsCode":"// Access the binary data\nconst binaryData = items[0].binary.data;\n\n// Set the correct MIME type\nbinaryData.mimeType = 'image/jpeg'; // or 'image/png', depending on your file\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[128,-1344],"id":"244900c4-8417-4b8c-bf0a-290ae7950ae7","name":"convert MIME type"},{"parameters":{"resource":"file","fileId":"={{ $('Workflow trigger').first().json.message.photo[$('Workflow trigger').first().json.message.photo.length - 1].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-96,-1264],"id":"c2920769-1d6c-412d-a09b-d0d90a3491a9","name":"Download image","webhookId":"bde0c89c-5791-4e73-9c17-a329d20376d2","retryOnFail":true,"credentials":{"telegramApi":{"id":"G5KHUflDIqn67QWH","name":"LOGAN - Inventory"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e3d242d-cdb0-4dae-a8dd-c2bf75ae00c4","leftValue":"={{ $('Workflow trigger').first().json.message.caption }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,-1136],"id":"1cdcb9ea-24f4-47c9-b273-291dd3704d4b","name":"Has caption"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=From the given image, generate a list of items in the following format:\nname, quantity, vendor\n\nHere, vendor refers to the company that the particular item belongs to (not the packing list).\n\nReturn the result as plain CSV with appropriate headers and no additional text.\n","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[624,-1328],"id":"7148391e-bbd6-462b-bf36-287f259ef459","name":"Extract items","retryOnFail":false,"credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}},"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1040,-1344],"id":"108cf031-8902-4acc-8a4d-c261f4ef4647","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"sseEndpoint":"https://sleepsleeves.com/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1328,-1200],"id":"692c00f7-7b06-4c59-97ff-9652182d4edb","name":"MCP Client1","retryOnFail":true},{"parameters":{"promptType":"define","text":"={{ $json.content }}","options":{"systemMessage":"=Add all the items from the given list to the inventory.\n\nFirst name of user: {{ $('Workflow trigger').first().json.message.chat.first_name }}","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1072,-1504],"id":"06b08ed6-6f1c-4d52-8429-27c9c4a5b7a6","name":"Store items from packing list","retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $('Workflow trigger').first().json.message.text }}","options":{"systemMessage":"=You are a helpful AI assistant for managing inventory with the following functionality:\n- Can store multiple inventory items by uploading a packing list image with the phrase \"packing list\" in the caption.\n- Can also update or create individual inventory items by uploading item images with the item's name in the caption.\n- Offer assistance if the users want to query or update inventory data.\n\n- Shortcut way to refer any location for inventory items is using a string consisting 4 parts in the format row-rack-shelf-position. For example, \"A25C\" is Row A, Rack 2, Shelf 5 & Position C.\n\n- You can find item id by loading all the items.\n\nDo not mention any technical details or internal processing. Keep the tone friendly, clear, and supportive.\n\nFirst name of user: {{ $('Workflow trigger').first().json.message.chat.first_name }}","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1120,-496],"id":"3efb1cc6-0bb7-4224-9d51-ca4aad4e667d","name":"Process text message","retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $json.itemInfo }}","options":{"systemMessage":"=You are an AI inventory assistant. The user will provide an item info and an image URL. Your task is to:\n\n- Fuzzy match the given info against existing inventory items.\n- If a close match is found, update that item using the new image.\n- If no suitable match exists, create a new inventory item with the provided info and image.\n\n- Shortcut way to refer any location for inventory items is using a string consisting 4 parts in the format row-bay-shelf-position. For example, \"A25C\" is Row A, Bay 2, Shelf 5 & Position C.\n\nYou must always call the tool `load_all_items` to find the current list of items, and based on the current items list + user input, you should ALWAYS call either the `add_item` or `modify_item` tool.\n\nAcknowledge the action taken (update or create) clearly. Do not mention fuzzy matching, database logic, or any technical operations. Keep all responses simple, human-readable, and outcome-focused.\n\nFirst name of user: {{ $('Workflow trigger').first().json.message.chat.first_name }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1168,-944],"id":"972f293b-cfc2-433b-a9c3-5255f2a14965","name":"Process Item Image","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1040,-704],"id":"1b06bfc2-c077-45ba-9739-e00ad9f0e9be","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"sseEndpoint":"https://sleepsleeves.com/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1392,-688],"id":"2ec7cdaa-663a-42b8-96dc-bb6c7f1a99ec","name":"MCP Client2","retryOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"caf9b64c-4d2a-45b1-8f7c-05a3d9253517","leftValue":"={{ $('Workflow trigger').first().json.message.caption.toLowerCase() }}","rightValue":"packing","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,-1296],"id":"70c36903-e2f7-4836-8a5d-21cb166c689e","name":"Is packing list"},{"parameters":{"assignments":{"assignments":[{"id":"23acba35-3191-4b95-9786-46af81ac1c05","name":"itemInfo","value":"=Item info: {{ $('Workflow trigger').first().json.message.caption }}\n\nImage URL: https://drive.google.com/file/d/{{ $('Upload file').item.json.id }}/view\n\n{{ $if($('Extract barcode info').item?.json?.content.length > 0, `Item location: ${$('Extract barcode info').item.json.content}`, \"\") }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,-1008],"id":"ff89d646-d14e-4673-b54e-d496be790015","name":"setItemInfo"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Workflow trigger').first().json.message.chat.id }}","tableName":"logan_inventory_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1184,-1264],"id":"8476d58c-d9d8-49cb-9d3a-42e021564a6d","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"7OnJqIOLdnbm1qrR","name":"Ashish Supabase"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Workflow trigger').first().json.message.chat.id }}","tableName":"logan_inventory_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1200,-704],"id":"ed128b9e-73ba-42c1-a9dd-b0823116be9f","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"7OnJqIOLdnbm1qrR","name":"Ashish Supabase"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Workflow trigger').first().json.message.chat.id }}","tableName":"logan_inventory_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1184,-224],"id":"91dc6e8e-987f-4d2e-9f27-220111f6e49c","name":"Postgres Chat Memory2","credentials":{"postgres":{"id":"7OnJqIOLdnbm1qrR","name":"Ashish Supabase"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"Check for any barcode in the given image. Your output should be blank if no barcode is detected, otherwise just the results after scanning the barcode with no additional text.","imageUrls":"=https://drive.google.com/uc?export=download&id={{ $json.id }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[560,-1008],"id":"215905bf-0caf-4e04-9b1b-7d79b2646dcc","name":"Extract barcode info","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1296,-976],"id":"293c06cc-726e-4898-b975-228475392c2c","name":"Workflow trigger","webhookId":"21194543-3cce-4d3e-a7f7-bde7d850ce27","credentials":{"telegramApi":{"id":"G5KHUflDIqn67QWH","name":"LOGAN - Inventory"}},"disabled":true},{"parameters":{"chatId":"={{ $('Workflow trigger').first().json.message.chat.id }}","text":"=Please upload the image again and include an appropriate caption. For packing lists, use \"Packing List\" as the caption, and for item images, use the item's name as the caption.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-80,-976],"id":"36685f1e-7e80-439c-a332-352cae33fd2f","name":"Ask caption","webhookId":"87933b65-3579-40b1-a862-c6c9ec12bc48","credentials":{"telegramApi":{"id":"G5KHUflDIqn67QWH","name":"LOGAN - Inventory"}}},{"parameters":{"chatId":"={{ $('Workflow trigger').first().json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,-688],"id":"9e591696-af83-46b4-b2d6-8b5d8c1e3352","name":"Send response","webhookId":"ed8b263c-3801-4448-851e-072d0af92027","credentials":{"telegramApi":{"id":"G5KHUflDIqn67QWH","name":"LOGAN - Inventory"}}},{"parameters":{"chatId":"={{ $('Workflow trigger').first().json.message.chat.id }}","text":"=Something went wrong, please try again.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,-976],"id":"2ca53e59-0811-4e89-a5db-7927238f497c","name":"Set error","webhookId":"4f640bec-2843-4dc7-a8bd-1c8e61917859","credentials":{"telegramApi":{"id":"G5KHUflDIqn67QWH","name":"LOGAN - Inventory"}}},{"parameters":{"name":"={{ $('Workflow trigger').first().json.message.photo[$('Workflow trigger').first().json.message.photo.length - 1].file_id }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1ruYTn0fbSkUZW3F6CHIHIw5zT_M1QL4w","mode":"list","cachedResultName":"LOGAN","cachedResultUrl":"https://drive.google.com/drive/folders/1ruYTn0fbSkUZW3F6CHIHIw5zT_M1QL4w"},"options":{"simplifyOutput":true}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,-944],"id":"a4c9c10e-50b5-40da-b23d-8e3d51126395","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"rHmTBmUfayyq0Jy2","name":"Ashish Google Cloud"}}},{"parameters":{"workflowId":{"__rl":true,"value":"ynWTGyb0WKKNXtcT","mode":"list","cachedResultName":"Authorization"},"workflowInputs":{"mappingMode":"defineBelow","value":{"workflowId":"AzPUwclVg91FQwd0","userId":"={{ $('Workflow trigger').first().json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"workflowId","displayName":"workflowId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1040,-608],"id":"fc6fe2c7-dece-4050-b73c-3c58646a8c9b","name":"Authorize"},{"parameters":{"chatId":"={{ $('Workflow trigger').first().json.message.chat.id }}","text":"=Oops! It looks like you don’t have access to do that. Please reach out to the developer to get the necessary permissions.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-640,-400],"id":"519a235b-0533-4261-8287-99eda4c07b0c","name":"Unauthorized","webhookId":"bd7b7b9b-3f3e-47fc-833f-64db9befb8c0","credentials":{"telegramApi":{"id":"G5KHUflDIqn67QWH","name":"LOGAN - Inventory"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc55507c-494f-4ce5-9546-05272b7cbd49","leftValue":"={{ $('Authorize').item.json.authorized }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-832,-608],"id":"4458ea2a-8b7b-4baf-949f-14b8ffe896e0","name":"isAuthorized"},{"parameters":{"resource":"callback","queryId":"1","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[688,-352],"id":"eae60765-523a-4234-95ea-40046a3b2ccd","name":"Answer Query a callback","webhookId":"00d9a8ed-46e7-41ca-8043-e147b029f6bd","credentials":{"telegramApi":{"id":"G5KHUflDIqn67QWH","name":"LOGAN - Inventory"}}},{"parameters":{"httpMethod":"POST","path":"89be668f-2e4f-4571-99fb-1c0cc1392919","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[400,-352],"id":"e00a5f8e-f87d-4afd-9487-854717a2de5f","name":"Webhook","webhookId":"89be668f-2e4f-4571-99fb-1c0cc1392919"},{"parameters":{"chatId":"={{ $json.body.message.chat.id }}","text":"=hello","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Add inventory item","additionalFields":{"callback_data":"add_inventory_item"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[704,-112],"id":"726c456e-0b93-423b-97a7-d2abcbd9da67","name":"Send response1","webhookId":"6b15184c-8ebc-41a6-8205-42564fabd15e","credentials":{"telegramApi":{"id":"G5KHUflDIqn67QWH","name":"LOGAN - Inventory"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Process text message","type":"ai_languageModel","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"Process text message","type":"ai_tool","index":0}]]},"Has image":{"main":[[{"node":"Has caption","type":"main","index":0}],[{"node":"Process text message","type":"main","index":0}]]},"convert MIME type":{"main":[[{"node":"Is packing list","type":"main","index":0}]]},"Download image":{"main":[[{"node":"convert MIME type","type":"main","index":0}]]},"Has caption":{"main":[[{"node":"Download image","type":"main","index":0}],[{"node":"Ask caption","type":"main","index":0}]]},"Extract items":{"main":[[{"node":"Store items from packing list","type":"main","index":0}],[{"node":"Set error","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Store items from packing list","type":"ai_languageModel","index":0}]]},"MCP Client1":{"ai_tool":[[{"node":"Store items from packing list","type":"ai_tool","index":0}]]},"Store items from packing list":{"main":[[{"node":"Send response","type":"main","index":0}],[{"node":"Set error","type":"main","index":0}]]},"Process text message":{"main":[[{"node":"Send response","type":"main","index":0}],[{"node":"Set error","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Process Item Image","type":"ai_languageModel","index":0}]]},"MCP Client2":{"ai_tool":[[{"node":"Process Item Image","type":"ai_tool","index":0}]]},"Process Item Image":{"main":[[{"node":"Send response","type":"main","index":0}],[{"node":"Set error","type":"main","index":0}]]},"Is packing list":{"main":[[{"node":"Extract items","type":"main","index":0}],[{"node":"Upload file","type":"main","index":0}]]},"setItemInfo":{"main":[[{"node":"Process Item Image","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Store items from packing list","type":"ai_memory","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Process Item Image","type":"ai_memory","index":0}]]},"Postgres Chat Memory2":{"ai_memory":[[{"node":"Process text message","type":"ai_memory","index":0}]]},"Extract barcode info":{"main":[[{"node":"setItemInfo","type":"main","index":0}]]},"Workflow trigger":{"main":[[{"node":"Has image","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Extract barcode info","type":"main","index":0}]]},"Authorize":{"main":[[{"node":"isAuthorized","type":"main","index":0}]]},"isAuthorized":{"main":[[],[{"node":"Unauthorized","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Send response1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"01fcb83b-9b20-48fb-9e78-ba6bf38d91dd","triggerCount":1,"tags":[{"createdAt":"2025-06-30T11:35:53.792Z","updatedAt":"2025-06-30T11:35:53.792Z","id":"wWEKn0VtZYLErCuU","name":"ashish"}]}