Logan generic Shreyansh.json
{"createdAt":"2025-06-23T10:36:26.247Z","updatedAt":"2025-06-30T11:31:38.338Z","id":"WVJySdsc72gZgPmY","name":"Logan generic Shreyansh","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type[0].type }}","rightValue":"SHIPPING","operator":{"type":"string","operation":"contains"},"id":"652fb368-808f-4cee-9d1e-6d479efefeb1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Shipping Request"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"480a9d95-1e6c-40d5-8095-0247006ceb86","leftValue":"={{ $json.type[0].type }}","rightValue":"INVENTORY","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Inventory item request"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2080,700],"id":"ea79cb60-5f5f-47ab-b8eb-a39b7221f3aa","name":"Router Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1140,400],"id":"05066571-4f56-4eac-9cd2-c49a73e65d4b","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"zD5wfo9phRcLkpGK","name":"OpenAi account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g","mode":"list","cachedResultName":"Session Id Storage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Session Id ","lookupValue":"={{ $json.message.chat.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,500],"id":"eea4fdcf-fc11-4fbe-b7b2-e96f9fd071ab","name":"Read Session From Google Sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"hpsjv1XnTe2gXjCG","name":"Google Sheets account 3"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g","mode":"list","cachedResultName":"Session Id Storage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Session Id ":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":["Session Id "],"schema":[{"id":"Session Id ","displayName":"Session Id ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1420,180],"id":"a169e3f6-d21f-4f3f-a8f4-d32415c9926c","name":"Update Session From Google Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"hpsjv1XnTe2gXjCG","name":"Google Sheets account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"4ef32a8b-40e8-42fa-83da-95e23bc9b9eb","name":"text","value":"={{ $('Greeting Message Helper').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,180],"id":"1984cd77-2441-4d89-ab97-ac12dc250072","name":"Seeting Session to Empty Type"},{"parameters":{"promptType":"define","text":"={{ $('Telegram Trigger').item.json.message.text }}","messages":{"messageValues":[{"message":"=\n## System Prompt\nYou are an helpful Ai assistant. Your work is to verify messages as per the followings:\n- If message contains greeting messages then respond them politely and ask the user to politely respond on followings:\n  - I have a new Shipping Request.\n  - I have to add new item into an Inventory.\n- If user asked other information then frame your answer in such a way that it should only ask the above two questions only. \n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1040,180],"id":"e57cb8b0-9b2b-4361-903f-cc180cbe3834","name":"Greeting Message Helper"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00571328-bb73-42b5-b605-786b06ebf982","leftValue":"={{ $('Read Session From Google Sheet').item.json.values() }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[220,500],"id":"9541b04e-4be1-4439-9716-22666a040e67","name":"Check If Session Exist or Not"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c52ab88a-d1e2-49da-9179-3e750c025f71","leftValue":"={{ $('Read Session From Google Sheet').item.json.Type }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,640],"id":"150c0b12-1c6d-4cd0-b47b-9f537084eeff","name":"Check If Request Type is exist or not"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1140,1020],"id":"0b4cb20e-7131-42db-8060-c16e3ed50a85","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"zD5wfo9phRcLkpGK","name":"OpenAi account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g","mode":"list","cachedResultName":"Session Id Storage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Session Id ":"={{ $('Telegram Trigger').item.json.message.chat.id }}","Type":"SHIPPING"},"matchingColumns":["Session Id "],"schema":[{"id":"Session Id ","displayName":"Session Id ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1420,700],"id":"e6de7cbd-b767-498a-a944-3c3d6daca3d4","name":"Update Session on Google Sheet Type Shipping","credentials":{"googleSheetsOAuth2Api":{"id":"hpsjv1XnTe2gXjCG","name":"Google Sheets account 3"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g","mode":"list","cachedResultName":"Session Id Storage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Session Id ":"={{ $('Telegram Trigger').item.json.message.chat.id }}","Type":"INVENTORY"},"matchingColumns":["Session Id "],"schema":[{"id":"Session Id ","displayName":"Session Id ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1420,900],"id":"4197ae91-8b9a-4fba-b7fb-f2e2f9e3eae7","name":"Update Session on Google Sheet Type Inventory","credentials":{"googleSheetsOAuth2Api":{"id":"hpsjv1XnTe2gXjCG","name":"Google Sheets account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"a64536b7-581e-43ea-b28e-998e866ee32f","name":"type","value":"={{ $('Check If Session Exist or Not').item.json.Type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,440],"id":"89c5f64d-0aa9-4fec-ad22-f33301d41871","name":"Setting Type"},{"parameters":{"assignments":{"assignments":[{"id":"4717583d-d82a-4f55-b2b2-8a7873281029","name":"type","value":"SHIPPING","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,700],"id":"964d2890-2905-4944-8b81-ec6b6288c118","name":"Setting Shipping Type"},{"parameters":{"assignments":{"assignments":[{"id":"97ede583-7a94-40ef-8ece-b2814a525f34","name":"type","value":"INVENTORY","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,900],"id":"85455f16-a7cb-4c9b-893a-414e3663b7a7","name":"Setting Inventory Type"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"type","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1860,700],"id":"087ef185-3d54-4ec4-bc02-58e003281f42","name":"Aggregate"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[760,980],"id":"a1fc5077-1092-40f0-8885-7c465de98826","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"zD5wfo9phRcLkpGK","name":"OpenAi account 2"}}},{"parameters":{"inputText":"={{ $('Telegram Trigger').item.json.message.text }}","categories":{"categories":[{"category":"GREETING","description":"If message contains hey, hello or any any greeting content."},{"category":"SHIPPING or INVENTORY","description":"If message contains anything about shipping and inventory"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[660,760],"id":"a39ad044-34f9-4f6d-822f-a3ba3bba5774","name":"Text Validate if it message have greeting messages or shipping or inventory messages"},{"parameters":{"inputText":"={{ $('Telegram Trigger').item.json.message.text }}","categories":{"categories":[{"category":"SHIPPING","description":"If messages related with raising a new shipping request"},{"category":"INVENTORY","description":"If messages related with adding item into an inventory"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[1040,800],"id":"30397879-6f60-4a16-bcdb-8e608c2a2dca","name":"Check if it is Inventory or Shipping Message"},{"parameters":{"documentId":{"__rl":true,"value":"1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g","mode":"list","cachedResultName":"Session Id Storage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Session Id ","lookupValue":"={{ $('Telegram Trigger').item.json.message.chat.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2740,600],"id":"f78d98b6-f5c1-4411-8728-45635a832e75","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"hpsjv1XnTe2gXjCG","name":"Google Sheets account 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"bf3362cd-cb4e-4e68-83ab-62f5784c1dbd","leftValue":"={{ $json.Type }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2960,600],"id":"262c5c0e-02d8-430a-8065-b8e2b25528a9","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"6394f98f-54b9-4208-b578-bf7e004e8ef8","name":"text","value":"={{ $('Response Aggregate').item.json.data[0].text || $('Response Aggregate').item.json.data[0].output }}\n{{ $('Response Aggregate').item.json.data[0].message }}\n\nNote: Please use \"reset\" command to reinitiate the whole conversation. ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3180,600],"id":"dbc1ca68-510d-428d-a13c-a9dbb45661c2","name":"Add reset type selection note1"},{"parameters":{"assignments":{"assignments":[{"id":"6394f98f-54b9-4208-b578-bf7e004e8ef8","name":"text","value":"={{ $('Response Aggregate').item.json.data[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3180,400],"id":"a0be8a5e-af20-421f-b626-91f7bda5200b","name":"Don't add reset command selection in greeting or other messages"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2520,600],"id":"822083e3-15ae-4ca1-96ea-5c9cb59fe9ac","name":"Response Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"0346356a-6d31-4080-b9e8-54dd9937b803","leftValue":"={{ $json.message.text }}","rightValue":"RESET","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-220,400],"id":"1450871a-dab7-4c40-83c1-fbbc6b0eecc8","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"5c2ada0c-7c34-4e89-9ece-8c592fa31b89","name":"text","value":"Your conversation has been successfully reset. To start a new conversation, simply type \"Hello\" or \"Hi.\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"0773e7ba-f0ad-48f0-abe8-eb09a1a360cf","name":"Set Reset command success message"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-440,400],"id":"882b9131-152c-4518-86f2-0ff13bad8243","name":"Telegram Trigger","webhookId":"ae216f1b-9e60-4a85-968d-82459bb25f98","credentials":{"telegramApi":{"id":"LyzLpPvKkoanmiFs","name":"Telegram account 2"}}},{"parameters":{"workflowId":{"__rl":true,"value":"tsiodpTdfS9R4jwT","mode":"list","cachedResultName":"Logan2.0 (shipping)"},"workflowInputs":{"mappingMode":"defineBelow","value":{"userMessage":"={{ $('Telegram Trigger').item.json}}"},"matchingColumns":["userMessage"],"schema":[{"id":"userMessage","displayName":"userMessage","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"userID","displayName":"userID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2300,440],"id":"0422a0f4-1e5f-4017-97af-cfede1be80b3","name":"Execute Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"tTXaIldnOQJGcViW","mode":"list","cachedResultName":"Inventory Tracking"},"workflowInputs":{"mappingMode":"defineBelow","value":{"userMessage":"={{ $('Telegram Trigger').item.json}}"},"matchingColumns":["userMessage"],"schema":[{"id":"userMessage","displayName":"userMessage","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2300,740],"id":"905f6b05-6164-43db-a402-2a220276f3ad","name":"Execute Workflow1"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3400,600],"id":"69da7b10-e6e1-4050-af81-5587629a3b59","name":"Telegram","webhookId":"465b954b-ac6c-4570-bf64-4d5d01f71877","credentials":{"telegramApi":{"id":"LyzLpPvKkoanmiFs","name":"Telegram account 2"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.text }}","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[740,0],"id":"58c1f9b0-b7b3-490a-951f-1b67127e30dd","name":"Telegram1","webhookId":"465b954b-ac6c-4570-bf64-4d5d01f71877","credentials":{"telegramApi":{"id":"LyzLpPvKkoanmiFs","name":"Telegram account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g","mode":"list","cachedResultName":"Session Id Storage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Session Id ","lookupValue":"={{ $json.message.chat.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,0],"id":"fd181fa3-3ee1-4dce-a2e2-da82e5f4e77a","name":"Get Session on Google Sheet Type Shipping1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"hpsjv1XnTe2gXjCG","name":"Google Sheets account 3"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g","mode":"list","cachedResultName":"Session Id Storage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oD8VfdhYNgZ3c-gF_L_ESE12wJc_O91ToSpyd_HLp7g/edit#gid=0"},"startIndex":"={{ $json.row_number }}"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,0],"id":"60e3b6dc-8bf8-4b8d-9304-7b2ca244bf11","name":"Delete Session on Google Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"hpsjv1XnTe2gXjCG","name":"Google Sheets account 3"}}}],"connections":{"Router Agent":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"Execute Workflow1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Greeting Message Helper","type":"ai_languageModel","index":0}]]},"Read Session From Google Sheet":{"main":[[{"node":"Check If Session Exist or Not","type":"main","index":0}]]},"Update Session From Google Sheet":{"main":[[{"node":"Seeting Session to Empty Type","type":"main","index":0}]]},"Greeting Message Helper":{"main":[[{"node":"Update Session From Google Sheet","type":"main","index":0}]]},"Check If Session Exist or Not":{"main":[[{"node":"Greeting Message Helper","type":"main","index":0}],[{"node":"Check If Request Type is exist or not","type":"main","index":0}]]},"Check If Request Type is exist or not":{"main":[[{"node":"Setting Type","type":"main","index":0}],[{"node":"Text Validate if it message have greeting messages or shipping or inventory messages","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Check if it is Inventory or Shipping Message","type":"ai_languageModel","index":0}]]},"Update Session on Google Sheet Type Shipping":{"main":[[{"node":"Setting Shipping Type","type":"main","index":0}]]},"Update Session on Google Sheet Type Inventory":{"main":[[{"node":"Setting Inventory Type","type":"main","index":0}]]},"Setting Type":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Setting Shipping Type":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Setting Inventory Type":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Router Agent","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Text Validate if it message have greeting messages or shipping or inventory messages","type":"ai_languageModel","index":0}]]},"Text Validate if it message have greeting messages or shipping or inventory messages":{"main":[[{"node":"Greeting Message Helper","type":"main","index":0}],[{"node":"Check if it is Inventory or Shipping Message","type":"main","index":0}]]},"Check if it is Inventory or Shipping Message":{"main":[[{"node":"Update Session on Google Sheet Type Shipping","type":"main","index":0}],[{"node":"Update Session on Google Sheet Type Inventory","type":"main","index":0}]]},"Seeting Session to Empty Type":{"main":[[{"node":"Response Aggregate","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Don't add reset command selection in greeting or other messages","type":"main","index":0}],[{"node":"Add reset type selection note1","type":"main","index":0}]]},"Don't add reset command selection in greeting or other messages":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Response Aggregate":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"If1":{"main":[[{"node":"Get Session on Google Sheet Type Shipping1","type":"main","index":0}],[{"node":"Read Session From Google Sheet","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"If1","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Response Aggregate","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Response Aggregate","type":"main","index":0}]]},"Add reset type selection note1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Set Reset command success message":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Get Session on Google Sheet Type Shipping1":{"main":[[{"node":"Delete Session on Google Sheet","type":"main","index":0}]]},"Delete Session on Google Sheet":{"main":[[{"node":"Set Reset command success message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1cb3eb68-deda-4a52-8a52-8d5e9aac5e33","triggerCount":0,"tags":[{"createdAt":"2025-04-30T06:20:39.113Z","updatedAt":"2025-04-30T06:21:08.644Z","id":"Y9xvRKL6uE6KQeu6","name":"logan"}]}