Logan SubAgent: Inventory.json
{"createdAt":"2025-06-22T09:14:20.022Z","updatedAt":"2025-07-22T12:11:59.289Z","id":"AzPUwclVg91FQwd0","name":"Logan SubAgent: Inventory","active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1020,-280],"id":"c7135865-c63b-4f4f-9fa0-d6c3f93c21f4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"sseEndpoint":"https://sleepsleeves.com/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1340,-260],"id":"6bf490f8-e4cf-4d5f-a6d4-adf75cbe47f2","name":"MCP Client","retryOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d9841de9-a495-4eba-a4fa-f95b9ba6eea2","leftValue":"={{ $('Workflow trigger').first().json.message.photo }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-620,-940],"id":"ad95b376-8569-4d56-b839-f1854d1c9f60","name":"Has image","retryOnFail":false},{"parameters":{"jsCode":"// Access the binary data\nconst binaryData = items[0].binary.data;\n\n// Set the correct MIME type\nbinaryData.mimeType = 'image/jpeg'; // or 'image/png', depending on your file\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[120,-1340],"id":"ce8745fe-7b68-4b32-bbad-7fbc735c5290","name":"convert MIME type"},{"parameters":{"resource":"file","fileId":"={{ $('Workflow trigger').first().json.message.photo[$('Workflow trigger').first().json.message.photo.length - 1].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-100,-1260],"id":"e436d943-8151-4817-9b1d-b2268d9f06e3","name":"Download image","webhookId":"001dc3b8-048f-4950-84fe-625719523558","retryOnFail":true,"credentials":{"telegramApi":{"id":"G5KHUflDIqn67QWH","name":"LOGAN - Inventory"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e3d242d-cdb0-4dae-a8dd-c2bf75ae00c4","leftValue":"={{ $('Workflow trigger').first().json.message.caption }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-300,-1140],"id":"33466a87-54c1-4280-ae09-b0544a9a930d","name":"Has caption"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=From the given image, generate a list of items in the following format:\nname, quantity, vendor\n\nHere, vendor refers to the company that the particular item belongs to (not the packing list).\n\nReturn the result as plain CSV with appropriate headers and no additional text.\n","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[620,-1320],"id":"93babcd9-05c9-41b3-9fe5-65459e9ff651","name":"Extract items","retryOnFail":false,"credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}},"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1040,-1340],"id":"ffb2e3e7-00a2-4b85-b0a1-4517ae46d04a","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"sseEndpoint":"https://sleepsleeves.com/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1320,-1200],"id":"5caeba7f-291f-4177-b407-efb8fb7e2fe8","name":"MCP Client1","retryOnFail":true},{"parameters":{"promptType":"define","text":"={{ $json.content }}","options":{"systemMessage":"=Add all the items from the given list to the inventory.\n\nFirst name of user: {{ $('Workflow trigger').first().json.message.chat.first_name }}","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1060,-1500],"id":"97f8bd43-28a1-472a-95e8-b695a5c6accb","name":"Store items from packing list","retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $('Workflow trigger').first().json.message.text }}","options":{"systemMessage":"=You are a helpful AI assistant for managing inventory with the following functionality:\n- Can store multiple inventory items by uploading a packing list image with the phrase \"packing list\" in the caption.\n- Can also update or create individual inventory items by uploading item images with the item's name in the caption.\n- Offer assistance if the users want to query or update inventory data.\n\n- Shortcut way to refer any location for inventory items is using a string consisting 4 parts in the format row-rack-shelf-position. For example, \"A25C\" is Row A, Rack 2, Shelf 5 & Position C.\n\nDo not mention any technical details or internal processing. Keep the tone friendly, clear, and supportive.\n\nFirst name of user: {{ $('Workflow trigger').first().json.message.chat.first_name }}","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1120,-500],"id":"2e8a5982-9017-4c09-85fb-e36491b7dbe7","name":"Process text message","retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $json.itemInfo }}","options":{"systemMessage":"=You are an AI inventory assistant. The user will provide an item info and an image URL. Your task is to:\n\n- Fuzzy match the given info against existing inventory items.\n- If a close match is found, update that item using the new image.\n- If no suitable match exists, create a new inventory item with the provided info and image.\n\n- Shortcut way to refer any location for inventory items is using a string consisting 4 parts in the format row-bay-shelf-position. For example, \"A25C\" is Row A, Bay 2, Shelf 5 & Position C.\n\nYou must always call the tool `load_all_items` to find the current list of items, and based on the current items list + user input, you should ALWAYS call either the `add_item` or `modify_item` tool.\n\nAcknowledge the action taken (update or create) clearly. Do not mention fuzzy matching, database logic, or any technical operations. Keep all responses simple, human-readable, and outcome-focused.\n\nFirst name of user: {{ $('Workflow trigger').first().json.message.chat.first_name }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1160,-940],"id":"2fd0d175-2a53-47c8-a7ad-9b6fec555605","name":"Process Item Image","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1040,-700],"id":"09cd01b9-deb6-4b68-831b-2891aa2d5484","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"sseEndpoint":"https://sleepsleeves.com/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1380,-680],"id":"0a693f33-6a1f-45dd-a496-6caadd5a4454","name":"MCP Client2","retryOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"caf9b64c-4d2a-45b1-8f7c-05a3d9253517","leftValue":"={{ $('Workflow trigger').first().json.message.caption.toLowerCase() }}","rightValue":"packing","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,-1300],"id":"2ec831c2-b64a-4d9a-b744-5f33ffa804f3","name":"Is packing list"},{"parameters":{"assignments":{"assignments":[{"id":"23acba35-3191-4b95-9786-46af81ac1c05","name":"itemInfo","value":"=Item info: {{ $('Workflow trigger').first().json.message.caption }}\n\nImage URL: https://drive.google.com/file/d/{{ $('Upload file').item.json.id }}/view\n\n{{ $if($('Extract barcode info').item?.json?.content.length > 0, `Item location: ${$('Extract barcode info').item.json.content}`, \"\") }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,-1000],"id":"7d4cb426-10dd-4b82-a113-ab636311a96d","name":"setItemInfo"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Workflow trigger').first().json.message.chat.id }}","tableName":"logan_inventory_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1180,-1260],"id":"0f230ca2-225f-4862-b1a4-0a1640cf2791","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"7OnJqIOLdnbm1qrR","name":"Ashish Supabase"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Workflow trigger').first().json.message.chat.id }}","tableName":"logan_inventory_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1200,-700],"id":"9fa391c7-a89a-4414-95f9-9da6c1ddda89","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"7OnJqIOLdnbm1qrR","name":"Ashish Supabase"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Workflow trigger').first().json.message.chat.id }}","tableName":"logan_inventory_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1180,-220],"id":"dd01c090-9807-4568-a529-3a5a30d0e37e","name":"Postgres Chat Memory2","credentials":{"postgres":{"id":"7OnJqIOLdnbm1qrR","name":"Ashish Supabase"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"Check for any barcode in the given image. Your output should be blank if no barcode is detected, otherwise just the results after scanning the barcode with no additional text.","imageUrls":"=https://drive.google.com/uc?export=download&id={{ $json.id }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[560,-1000],"id":"f3ed6421-47f7-447d-a49a-b825e565a291","name":"Extract barcode info","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1300,-980],"id":"3e7a55d6-82c9-4ae4-814b-6f1ef3237a23","name":"Workflow trigger","webhookId":"4b2230e3-b32d-4344-b5a6-89aac0816d84","credentials":{"telegramApi":{"id":"G5KHUflDIqn67QWH","name":"LOGAN - Inventory"}}},{"parameters":{"chatId":"={{ $('Workflow trigger').first().json.message.chat.id }}","text":"=Please upload the image again and include an appropriate caption. For packing lists, use \"Packing List\" as the caption, and for item images, use the item's name as the caption.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-80,-980],"id":"c930c0e0-76f3-4421-959a-ae96cc98fe13","name":"Ask caption","webhookId":"951e2ef3-c292-464c-9e25-531e7d60d4d2","credentials":{"telegramApi":{"id":"G5KHUflDIqn67QWH","name":"LOGAN - Inventory"}}},{"parameters":{"chatId":"={{ $('Workflow trigger').first().json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,-680],"id":"a1a4c715-5af9-477c-b2c3-5bb5a0ec1345","name":"Send response","webhookId":"951e2ef3-c292-464c-9e25-531e7d60d4d2","credentials":{"telegramApi":{"id":"G5KHUflDIqn67QWH","name":"LOGAN - Inventory"}}},{"parameters":{"chatId":"={{ $('Workflow trigger').first().json.message.chat.id }}","text":"=Something went wrong, please try again.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,-980],"id":"0094b29a-8b0d-4991-b30f-c5651d608bd3","name":"Set error","webhookId":"951e2ef3-c292-464c-9e25-531e7d60d4d2","credentials":{"telegramApi":{"id":"G5KHUflDIqn67QWH","name":"LOGAN - Inventory"}}},{"parameters":{"name":"={{ $('Workflow trigger').first().json.message.photo[$('Workflow trigger').first().json.message.photo.length - 1].file_id }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1ruYTn0fbSkUZW3F6CHIHIw5zT_M1QL4w","mode":"list","cachedResultName":"LOGAN","cachedResultUrl":"https://drive.google.com/drive/folders/1ruYTn0fbSkUZW3F6CHIHIw5zT_M1QL4w"},"options":{"simplifyOutput":true}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[200,-940],"id":"7733b18c-7738-4a01-b31c-ac1d889bfc40","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"rHmTBmUfayyq0Jy2","name":"Ashish Google Cloud"}}},{"parameters":{"workflowId":{"__rl":true,"value":"ynWTGyb0WKKNXtcT","mode":"list","cachedResultName":"Authorization"},"workflowInputs":{"mappingMode":"defineBelow","value":{"workflowId":"AzPUwclVg91FQwd0","userId":"={{ $('Workflow trigger').first().json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"workflowId","displayName":"workflowId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1100,-980],"id":"e25001fd-48fe-40ba-9b17-e3087091b1af","name":"Authorize"},{"parameters":{"chatId":"={{ $('Workflow trigger').first().json.message.chat.id }}","text":"=Oops! It looks like you don’t have access to do that. Please reach out to the developer to get the necessary permissions.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-700,-760],"id":"07e44418-cf2c-426e-b4d5-b17d9e0a18c7","name":"Unauthorized","webhookId":"951e2ef3-c292-464c-9e25-531e7d60d4d2","credentials":{"telegramApi":{"id":"G5KHUflDIqn67QWH","name":"LOGAN - Inventory"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc55507c-494f-4ce5-9546-05272b7cbd49","leftValue":"={{ $('Authorize').item.json.authorized }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-900,-980],"id":"f8f89c27-f03a-4c89-ad65-bac295c93a06","name":"isAuthorized"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Process text message","type":"ai_languageModel","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"Process text message","type":"ai_tool","index":0}]]},"Has image":{"main":[[{"node":"Has caption","type":"main","index":0}],[{"node":"Process text message","type":"main","index":0}]]},"convert MIME type":{"main":[[{"node":"Is packing list","type":"main","index":0}]]},"Download image":{"main":[[{"node":"convert MIME type","type":"main","index":0}]]},"Has caption":{"main":[[{"node":"Download image","type":"main","index":0}],[{"node":"Ask caption","type":"main","index":0}]]},"Extract items":{"main":[[{"node":"Store items from packing list","type":"main","index":0}],[{"node":"Set error","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Store items from packing list","type":"ai_languageModel","index":0}]]},"MCP Client1":{"ai_tool":[[{"node":"Store items from packing list","type":"ai_tool","index":0}]]},"Store items from packing list":{"main":[[{"node":"Send response","type":"main","index":0}],[{"node":"Set error","type":"main","index":0}]]},"Process text message":{"main":[[{"node":"Send response","type":"main","index":0}],[{"node":"Set error","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Process Item Image","type":"ai_languageModel","index":0}]]},"MCP Client2":{"ai_tool":[[{"node":"Process Item Image","type":"ai_tool","index":0}]]},"Process Item Image":{"main":[[{"node":"Send response","type":"main","index":0}],[{"node":"Set error","type":"main","index":0}]]},"Is packing list":{"main":[[{"node":"Extract items","type":"main","index":0}],[{"node":"Upload file","type":"main","index":0}]]},"setItemInfo":{"main":[[{"node":"Process Item Image","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Store items from packing list","type":"ai_memory","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Process Item Image","type":"ai_memory","index":0}]]},"Postgres Chat Memory2":{"ai_memory":[[{"node":"Process text message","type":"ai_memory","index":0}]]},"Extract barcode info":{"main":[[{"node":"setItemInfo","type":"main","index":0}]]},"Workflow trigger":{"main":[[{"node":"Authorize","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Extract barcode info","type":"main","index":0}]]},"Authorize":{"main":[[{"node":"isAuthorized","type":"main","index":0}]]},"isAuthorized":{"main":[[{"node":"Has image","type":"main","index":0}],[{"node":"Unauthorized","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7b1dc239-dfcf-4479-82c5-16d3d91cbef1","triggerCount":1,"tags":[{"createdAt":"2025-04-30T06:20:39.113Z","updatedAt":"2025-04-30T06:21:08.644Z","id":"Y9xvRKL6uE6KQeu6","name":"logan"},{"createdAt":"2025-06-30T11:35:53.792Z","updatedAt":"2025-06-30T11:35:53.792Z","id":"wWEKn0VtZYLErCuU","name":"ashish"}]}