Logan SubAgent: Shipping.json
{"createdAt":"2025-05-01T14:08:44.189Z","updatedAt":"2025-07-25T07:32:18.685Z","id":"tsiodpTdfS9R4jwT","name":"Logan SubAgent: Shipping","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1072,272],"id":"03dab764-d433-4c09-a29e-bfb6a67498a7","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"=Instruction:\nAnalyze the uploaded image and attempt to extract the package dimensions (length, width, height). which will already measued in image \n\nIf the dimensions are present in the image, extract and return them.\n\nIf the dimensions are not available or not visible, return:\n\"Dimensions not available in the image.\"\n\n\n","inputType":"base64","options":{"detail":"auto"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[512,96],"id":"8399eb04-2670-4e06-a091-2363b74c90a1","name":"Analysis Report Image node","alwaysOutputData":true,"credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Access the binary data\nconst binaryData = items[0].binary.data;\n\n// Set the correct MIME type\nbinaryData.mimeType = 'image/jpeg'; // or 'image/png', depending on your file\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,112],"id":"425f6db5-5fdc-4e2c-9b81-2f1aac6c690d","name":"convert MIME type"},{"parameters":{"name":"get_shipping_rates_tool","description":"call this tool to get price and estimated datss and shipping lables** Always\n\n","workflowId":{"__rl":true,"value":"mUCvXYptZD30wFxw","mode":"list","cachedResultName":"Logan SubAgent: Shipping Process"},"workflowInputs":{"mappingMode":"defineBelow","value":{"shipping details":"={{ $fromAI('shipping_details', `provide complete details of shipping related once you received all details from user`, 'string') }}","userId":"={{ $('Execute to get shipping cost estimation').item.json.userID }}"},"matchingColumns":["shipping details"],"schema":[{"id":"shipping details","displayName":"shipping details","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1392,256],"id":"33730935-16ff-45cf-8ff9-7b2c84be8fe6","name":"get_shipping_rates_tool"},{"parameters":{"assignments":{"assignments":[{"id":"93b8d677-fc6a-44bd-bc8c-d520ec590d62","name":"message","value":"={{ $('Agent Which Ask Shipping details and provide cost estimation details').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1664,96],"id":"516ed621-3987-475b-b774-73b4230cfc05","name":"Edit Fields"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Execute to get shipping cost estimation').item.json.userID }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1232,272],"id":"c2cbde05-bccc-4278-b3ff-c1c44dd6879f","name":"Simple Memory1"},{"parameters":{"workflowInputs":{"values":[{"name":"userMessage","type":"any"},{"name":"userID","type":"any"},{"name":"attachmentData","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-560,112],"id":"4d8e7151-e121-4a08-97f8-70d3c025819d","name":"Execute to get shipping cost estimation"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.userMessage.photo[0].file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"457db5b0-1d8d-43e2-9378-c323e02bb29e"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77544bf3-36c0-4558-a052-9364652510fb","leftValue":"={{ $json.userMessage.document?.toJsonString() }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4a880d3-5f99-4c31-8a3f-b2d6f9b32fae","leftValue":"={{ $json?.userMessage?.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"606a40dd-dcdb-4a6d-8e3a-717f4747e953","leftValue":"={{ $json.attachmentData }}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-320,48],"id":"942618df-ca91-4ac2-9710-4c7f7f15d114","name":"Master Router"},{"parameters":{"resource":"file","fileId":"={{ $json.userMessage.photo[1].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,-16],"id":"ef98c817-7f63-499a-8878-04ba782e5ce0","name":"get report image jpeg/jpg1 Photo","webhookId":"001dc3b8-048f-4950-84fe-625719523558","credentials":{"telegramApi":{"id":"oOu5uBhHVvactaW4","name":"LOGAN"}}},{"parameters":{"resource":"file","fileId":"={{ $json.userMessage.message.document.thumbnail.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,288],"id":"754087c6-a745-48d9-af0f-2bf7c1e37c20","name":"get report image jpeg/jpg document","webhookId":"001dc3b8-048f-4950-84fe-625719523558","credentials":{"telegramApi":{"id":"oOu5uBhHVvactaW4","name":"LOGAN"}}},{"parameters":{"promptType":"define","text":"={{ $('Execute to get shipping cost estimation').item.json.userMessage.text }}\n\n{{ $('Analysis Report Image node')?.item?.json?.content }}\n\n{{ $('Execute to get shipping cost estimation').item.json.attachmentData }}","options":{"systemMessage":"={{ ($json.content && $json.content.trim().length > 0) ? $json.content : `\nyou are a friendly shipping assistant helps in gathering following shipping details from user one by one:\n\n1. Package dimensions: Length × Width × Height (accept image or text)\n2. Sender name & email\n3. What are your request details? Request Details (brief)\n4. What would you like to ship? Shipping Contents\n5. Insurance required? (Yes/No)\n6. Desired delivery date\n7. Recipient name & contact number\n8. Recipient address (USA-only: house, street, city, postal code, country)\n9. Sender address (USA-only: house, street, city, postal code, country)\n10. Sender mobile number\n11. Package weight (must be below 45 kg)\n\n📌 Rules:\n1. Do not skip any field – all are required.\n2. Each question should be asked one-by-one.\n3. After gathering all data, summarize everything clearly and ask for confirmation.\n4. Only after the user's confirmation, you must call get_shipping_rates_tool with all the collected info.\n5. Never provide shipping information without calling get_shipping_rates_tool.\n\n✅ Final Response After Tool Call:\nOnce you receive the response from get_shipping_rates_tool,\n✅ Your logistics request has been processed.\n📦 SHIPPING DETAILS:\n[Insert concise summary of package details]\n💰 RATE QUOTATION:\n[Insert price from tool]\n📅 ESTIMATED ARRIVAL:\n[Insert date from tool]\nTracking numbers\n[Insert Tracking numbers from tool]\n🏷️ SHIPPING LABEL & TRACKING:\n[Insert tracking information from tool]\n\nPlease drop off your package before 3 PM and take a picture of the drop-off.\n\nIMPORTANT:\n1. You must NEVER provide shipping information without calling get_shipping_rates_tool.\n2. Do not skip any field – all are required.\n3. If Dimension are available do not ask again for image (accept both image and text)\n` }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1136,96],"id":"1502881b-427d-4b04-8fd2-168f8b18bf7b","name":"Agent Which Ask Shipping details and provide cost estimation details","alwaysOutputData":false},{"parameters":{"content":"## Execute to get shipping cost ","height":568,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,-80],"id":"56c3fd14-cb16-4931-99b4-be427fa71ef5","name":"Sticky Note"},{"parameters":{"content":"## Agent Which Ask Shipping details... (Tools Agent)\n\n\n","height":572,"width":620},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,-80],"id":"e539e7cc-dde3-4868-9a82-ba07260dbb3a","name":"Sticky Note1"},{"parameters":{"content":"## Get Photos/Document\nget user uploaded photos and document  ","height":568,"width":480,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-96,-80],"id":"9d3e6dc3-3f3f-45f1-8976-16b520a9a73a","name":"Sticky Note2"},{"parameters":{"content":"## Master Router\nroute the flow based on text and files","height":568,"width":260,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,-80],"id":"a4d412ee-57d1-4796-bf52-716683006166","name":"Sticky Note3"},{"parameters":{"content":"## Analysis Image node\nUses OpenAI Vision to analyze image contents for extracting shipping-related data.\n\n","height":572,"width":520},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,-80],"id":"ce728076-ba84-46eb-b702-524ada7a9174","name":"Sticky Note4"},{"parameters":{"operation":"get","documentURL":"1FCic5q0meBkCMrpZ7boY0valH6JQdTPhS1WJHLTiBoM"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[768,96],"id":"d8496e93-cd4c-40a0-b70f-9063bfa470ca","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}}}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Agent Which Ask Shipping details and provide cost estimation details","type":"ai_languageModel","index":0}]]},"convert MIME type":{"main":[[{"node":"Analysis Report Image node","type":"main","index":0}]]},"Analysis Report Image node":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"get_shipping_rates_tool":{"ai_tool":[[{"node":"Agent Which Ask Shipping details and provide cost estimation details","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[]]},"Simple Memory1":{"ai_memory":[[{"node":"Agent Which Ask Shipping details and provide cost estimation details","type":"ai_memory","index":0}]]},"Execute to get shipping cost estimation":{"main":[[{"node":"Master Router","type":"main","index":0}]]},"Master Router":{"main":[[{"node":"get report image jpeg/jpg1 Photo","type":"main","index":0}],[{"node":"get report image jpeg/jpg document","type":"main","index":0}],[{"node":"Analysis Report Image node","type":"main","index":0}],[{"node":"Analysis Report Image node","type":"main","index":0}]]},"get report image jpeg/jpg1 Photo":{"main":[[{"node":"convert MIME type","type":"main","index":0}]]},"get report image jpeg/jpg document":{"main":[[{"node":"convert MIME type","type":"main","index":0}]]},"Agent Which Ask Shipping details and provide cost estimation details":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Agent Which Ask Shipping details and provide cost estimation details","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"262b64c8-401d-48f4-9aa0-67f51a61005d","triggerCount":1,"tags":[{"createdAt":"2025-04-30T06:20:39.113Z","updatedAt":"2025-04-30T06:21:08.644Z","id":"Y9xvRKL6uE6KQeu6","name":"logan"}]}