Logan SubAgent: Shipping Process.json
{"createdAt":"2025-05-05T07:52:05.506Z","updatedAt":"2025-07-29T13:08:51.382Z","id":"mUCvXYptZD30wFxw","name":"Logan SubAgent: Shipping Process","active":false,"isArchived":false,"nodes":[{"parameters":{"jsonSchemaExample":"\n{\n\"Name\": \n\"Jay Soni\",\n\"Email\": \n\"jay@gmail.com\",\n\"Request Details\": \n\"Handle with care\",\n\"Shipping Contents\": \n\"15-5-2025\",\n\"Insurance (Y/N)\": \n\"No\",\n\"Desired Delivery Date\": \n\"20-5-2025\",\n\"Recipient Name\": \n\"Harshit Soni\",\n\"Recipient Contact\": \n7894561235,\n\"Recipient Address\": \n\"456 Oak Avenue, San Francisco, CA 94107, USA\",\n\"Dimensions (L x W x H)\": \"9½ × 2½ × 7\",\n\"Weight\": \n\"55 kg\",\n\"Shipping Price Quote\": \n\"$45.00\",\n\"Tracking Number\": \n\"TRACK123456\",\n\"Estimated Arrival\": \n\"May 20, 2025\",\n\"Shipping Label URL\": \n\"http://dummyurl.com/shippinglabel\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1904,144],"id":"fb3da8a5-2b45-4696-a501-3b56dfb93e76","name":"Structured Output Parser"},{"parameters":{"aggregate":"aggregateAllItemData","options":{"includeBinaries":false}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1328,-48],"id":"670c59d2-2ce8-4c0f-8605-5b82baeec397","name":"Aggregate"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"transactionId\": {{ $json.transactionId.toJsonString() }},\n\n\"serviceType\":{{ $json.output.rateReplyDetails[0].serviceDescription.serviceType.toJsonString()  }},\n\"serviceCategory\":{{ $json.output.rateReplyDetails[0].serviceDescription.serviceCategory.toJsonString()  }},\n\"totalBillingWeight\":{{ $json.output.rateReplyDetails[0].ratedShipmentDetails[0].shipmentRateDetail.totalBillingWeight.toJsonString()  }},\n\n\"ratedShipmentDetails\":{{ $json.output.rateReplyDetails[0].ratedShipmentDetails.toJsonString() }}\n\n\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,-208],"id":"869935f1-7079-4f6b-b222-20861466e547","name":"Edit Fields"},{"parameters":{"mode":"raw","jsonOutput":"={\n\"transactionId\":{{ $json.transactionId.toJsonString() }},\n\"masterTrackingNumber\":{{ $json.output.transactionShipments[0].masterTrackingNumber.toJsonString() }},\n\"shipDatestamp\":{{ $json.output.transactionShipments[0].shipDatestamp.toJsonString() }},\n\"deliveryDatestamp\":{{ $json.output.transactionShipments[0].pieceResponses[0].deliveryDatestamp.toJsonString() }},\n\"masterTrackingId\":{{ $json.output.transactionShipments[0].completedShipmentDetail.masterTrackingId.toJsonString() }},\n\"packagingDescription\":{{ $json.output.transactionShipments[0].completedShipmentDetail.packagingDescription.toJsonString() }},\n\n\"shipping_lable\":{{$json.output.transactionShipments[0].pieceResponses[0].packageDocuments[0].url.toJsonString()}}\n\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,304],"id":"d027b920-fb38-465f-979e-9313ce2d09ab","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"https://apis-sandbox.fedex.com/rate/v1/rates/quotes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('fedex_auth_api').item.json.access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.output.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,-208],"id":"900fce21-cc36-4c65-90a7-45f1280fe0bc","name":"fedex_rates_api","retryOnFail":true},{"parameters":{"method":"POST","url":"https://apis-sandbox.fedex.com/ship/v1/shipments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('fedex_auth_api').item.json.access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.output.toJsonString()  }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,304],"id":"6b285000-62cc-47ec-a358-ea240296eab7","name":"fedex_shipment_api"},{"parameters":{"method":"POST","url":"https://apis-sandbox.fedex.com/oauth/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"l7ee3a41678dfb48dbaf0c2375ff8594ad"},{"name":"client_secret","value":"88fcb60a3c764377a4c1beb703deb803"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,-176],"id":"cf8c22e6-bc18-4195-873a-1c4383a0db45","name":"fedex_auth_api"},{"parameters":{"promptType":"define","text":"=shipping_details :: {{ $('Excute With Shipping details').item.json[\"shipping details\"] }}","hasOutputParser":true,"options":{"systemMessage":"=Convert the user's shipping message into valid FedEx API JSON.\nAlways include:\n\n\"pickupType\": \"DROPOFF_AT_FEDEX_LOCATION\"\n\"serviceType\": \"STANDARD_OVERNIGHT\"\n\"accountNumber\": { \"value\": \"510051408\" }\n\"rateRequestType\": [\"ACCOUNT\", \"LIST\"]\n\"packagingType\": \"YOUR_PACKAGING\"\n\"preferredCurrency\": \"USD\"\n\"requestedPackageLineItems\" with accurate dimensions and weight in CM and KG.\n\nStrict Instructions:: \nNEVER skip requestedPackageLineItems.\nIf weight/dimensions are not found, return an error:\n\"Missing required 'requestedPackageLineItems'. Weight and dimensions must be provided in CM/KG.\"\n\nParse all sender/recipient info from US addresses.\nDo not skip \"requestedPackageLineItems\" — error if missing.","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[240,-304],"id":"04f703e3-56e5-4f5c-8ec9-839806b780eb","name":"generate_rate_api_payload"},{"parameters":{"promptType":"define","text":"=shipping_details :: {{ $('Excute With Shipping details').item.json[\"shipping details\"] }}","hasOutputParser":true,"options":{"systemMessage":"=You are a shipping assistant. Convert the user's shipping message into a FedEx API JSON using the structure output parser tool.\n> Strictly follow these rules:\n\n> * `\"shipper\"` phone: `+1 971-355-6543`\n> * `\"pickupType\": \"USE_SCHEDULED_PICKUP\"`\n> * `\"serviceType\": \"FEDEX_GROUND\"`\n> * `\"accountNumber\": { \"value\": \"510087020\" }`\n> * `\"labelResponseOptions\": \"URL_ONLY\"`\n> * `\"labelStockType\": \"PAPER_85X11_TOP_HALF_LABEL\"`\n> * `\"labelFormatType\": \"COMMON2D\"`\n> * `\"imageType\": \"PDF\"`\n> * `\"packagingType\": \"YOUR_PACKAGING\"`\n> * `\"shipDatestamp\"` must follow `\"YYYY-MM-DD\"` format\n> * `\"rateRequestType\": [\"ACCOUNT\", \"LIST\"]`\n> * Extract and include `\"requestedPackageLineItems\"` — do **not skip or miss** it\n> * All dimensions in **CM**, weight in **KG**, country code as `\"US\"` unless stated otherwise\n\n> ⚠️ **Strictly follow all rules above without exception.**\n\n---\n\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[160,304],"id":"4dbda57f-8cca-4561-828c-a26ad443897c","name":"generate_shipment_api_payload"},{"parameters":{"chatId":"={{ $json.userId }}","text":"Thank you for reaching out. We're currently reviewing your shipping details and will share the price quote and other information with you as soon as possible.  If you have any questions in the meantime, feel free to contact us. 🙏 Thanks for your patience!","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-192,-768],"id":"6592b737-0bbb-4cbe-b770-e2e3252ce333","name":"acknowledgement_message","webhookId":"f34f55d6-0937-4140-a8fe-26191ca3f512","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"oOu5uBhHVvactaW4","name":"LOGAN"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1152,-48],"id":"70561970-f78f-4add-8741-a325a1f572e0","name":"merge_rate_and _shipments_api_data"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1BijJ1K3a92YlQi3HcJM2A9l38bfpOUCpZorQRGeA8JM","mode":"list","cachedResultName":"Logan Shipping Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BijJ1K3a92YlQi3HcJM2A9l38bfpOUCpZorQRGeA8JM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BijJ1K3a92YlQi3HcJM2A9l38bfpOUCpZorQRGeA8JM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.output.Name }}","Email":"={{ $json.output.Email }}","Request Details":"={{ $json.output['Request Details'] }}","Shipping Contents":"={{ $json.output['Shipping Contents'] }}","Insurance (Y/N)":"={{ $json.output['Insurance (Y/N)'] }}","Desired Delivery Date":"={{ $json.output['Desired Delivery Date'] }}","Recipient Name":"={{ $json.output['Recipient Name'] }}","Recipient Contact":"={{ $json.output['Recipient Contact'] }}","Recipient Address":"={{ $json.output['Recipient Address'] }}","Dimensions (L x W x H)":"={{ $json.output['Dimensions (L x W x H)'] }}","Weight":"={{ $json.output.Weight }}","Shipping Price Quote":"={{ $json.output['Shipping Price Quote'] }}","Tracking Number":"={{ $json.output['Tracking Number'] }}","Estimated Arrival":"={{ $json.output['Estimated Arrival'] }}","Shipping Label URL":"={{ $json.output['Shipping Label URL'] }}","createdAt":"={{ $now.format('yyyy-MM-dd ').toDateTime()}}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Request Details","displayName":"Request Details","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shipping Contents","displayName":"Shipping Contents","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Insurance (Y/N)","displayName":"Insurance (Y/N)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Desired Delivery Date","displayName":"Desired Delivery Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recipient Name","displayName":"Recipient Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recipient Contact","displayName":"Recipient Contact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recipient Address","displayName":"Recipient Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Dimensions (L x W x H)","displayName":"Dimensions (L x W x H)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Weight","displayName":"Weight","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shipping Price Quote","displayName":"Shipping Price Quote","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tracking Number","displayName":"Tracking Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estimated Arrival","displayName":"Estimated Arrival","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shipping Label URL","displayName":"Shipping Label URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2752,-320],"id":"065a2524-b328-4681-ba82-762ea5b1fa3d","name":"store shipping details in google sheet1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"rVLVpC5FEF6wrTch","name":"Google Sheets account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"shipping details","type":"any"},{"name":"userId","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-624,-176],"id":"39329a0f-626f-4b15-8a45-317e4f38dd30","name":"Excute With Shipping details"},{"parameters":{"promptType":"define","text":"=fedex api details :: {{ $json.data.toJsonString() }}","hasOutputParser":true,"options":{"systemMessage":"=You are an intelligent shipping assistant. Your task is to extract and clearly present important shipping details from the FedEx API response.\n\nShipping_details :: {{ $('Excute With Shipping details').item.json[\"shipping details\"] }}\n\nFrom the data, provide the following:\n1. **Price Quote** – Mention the total shipping cost.\n2. **Tracking Number(s)** – Extract and list all tracking numbers.\n3. **Estimated Arrival** – Provide the estimated delivery date and time.\n4. **Shipping Label** – Share the shipping label URL always , do not share downlaod or other just share the link of shipping lable \n\nAlways respond in a clear, human-friendly summary format. \nIf any field is missing or not available, mention that politely.\n\n\n## Instruction \n** Shipping Lable URL should be in downloaded formate a;wyas send proper link of that \n\nOutput structure shoul be attached structure formate","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1712,-48],"id":"ad950324-255f-4e29-9c32-2663ac1fc20a","name":"Agent To Extract Shipping details"},{"parameters":{"content":"## Execute With Shipping details\n","height":412,"width":444},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-784,-288],"id":"da172cd3-3fbf-4a14-a158-a35e1acec353","name":"Sticky Note"},{"parameters":{"content":"## Telegram Acknowledgement\nSends a confirmation message to the user via Telegram indicating the process has started.","height":320,"width":380,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-304,-896],"id":"be058de2-c86e-4e21-b61c-493a0ca2096c","name":"Sticky Note1"},{"parameters":{"content":"## FedEx Auth\nFetches an authorization token from FedEx API for subsequent API calls.\n\n","height":1144,"width":380,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,-496],"id":"ec17cf71-dc69-45dd-a15d-96b46d7e9d54","name":"Sticky Note2"},{"parameters":{"content":"##  Rate API Execution\nAgent: generate_rate_api_payload\nA Tools Agent generates a payload for fetching FedEx shipping rates using extracted data.\n\nUses:\nOpenRouter Chat Model2 for conversation logic.\nStructured Output FedEx Rate API Payload Structure to ensure valid payload format.\nMakes a POST request to fetch shipping rate based on generated payload.","height":520,"width":920,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,-496],"id":"efa87a58-3b4f-48d2-ba5b-d66900c5d10c","name":"Sticky Note3"},{"parameters":{"jsonSchemaExample":"{\n  \"accountNumber\": {\n    \"value\": \"510087020\"\n  },\n  \"requestedShipment\": {\n    \"shipper\": {\n      \"address\": {\n        \"postalCode\": \"10001\",\n        \"countryCode\": \"US\"\n      }\n    },\n    \"recipient\": {\n      \"address\": {\n        \"postalCode\": \"89106\",\n        \"countryCode\": \"US\"\n      }\n    },\n    \"pickupType\": \"DROPOFF_AT_FEDEX_LOCATION\",\n    \"serviceType\": \"STANDARD_OVERNIGHT\",\n    \"packagingType\": \"YOUR_PACKAGING\",\n    \"rateRequestType\": [\n  \"LIST\"\n],\n    \"labelSpecification\": {\n      \"imageType\": \"PDF\",\n      \"labelStockType\": \"PAPER_85X11_TOP_HALF_LABEL\"\n    },\n    \"requestedPackageLineItems\": [\n      {\n        \"weight\": {\n          \"units\": \"KG\",\n          \"value\": 7\n        },\n        \"dimensions\": {\n          \"length\": 20,\n          \"width\": 20,\n          \"height\": 22,\n          \"units\": \"CM\"\n        }\n      }\n    ]\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[400,-144],"id":"e0874fc0-4a5a-443f-8f5b-c78ef5364ecd","name":"FedEx Rate API Payload Structure"},{"parameters":{"content":"## Shipment API Execution\nAgent: generate_shipment_api_payload\nGenerates payload to create a FedEx shipment using the Tools Agent.\n\nUses:\nOpenRouter Chat Model1\nStructured Output FedEx Shipment API Payload Structure\n\nCall: fedex_shipment_api\nCreates a shipment via FedEx API.","height":580,"width":920,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,64],"id":"20436913-a8ec-4949-9f14-f04864ad2588","name":"Sticky Note4"},{"parameters":{"jsonSchemaExample":"{\n  \"labelResponseOptions\": \"URL_ONLY\",\n  \"requestedShipment\": {\n    \"shipper\": {\n      \"contact\": {\n        \"personName\": \"Jennifer Disoza Martinez\",\n        \"phoneNumber\": \"+1 971-355-6543\",\n        \"companyName\": \"\"\n      },\n      \"address\": {\n        \"streetLines\": [\"456 Sunset Boulevard\"],\n        \"city\": \"Miami\",\n        \"stateOrProvinceCode\": \"FL\",\n        \"postalCode\": \"33101\",\n        \"countryCode\": \"US\"\n      }\n    },\n    \"recipients\": [\n      {\n        \"contact\": {\n          \"personName\": \"Michael Martinez\",\n          \"phoneNumber\": \"3055557421\",\n          \"companyName\": \"\"\n        },\n        \"address\": {\n          \"streetLines\": [\"892 Cherry Lane\"],\n          \"city\": \"Seattle\",\n          \"stateOrProvinceCode\": \"WA\",\n          \"postalCode\": \"98101\",\n          \"countryCode\": \"US\"\n        }\n      }\n    ],\n    \"serviceType\": \"FEDEX_GROUND\",\n    \"packagingType\": \"YOUR_PACKAGING\",\n    \"pickupType\": \"USE_SCHEDULED_PICKUP\",\n    \"blockInsightVisibility\": false,\n    \"shippingChargesPayment\": {\n      \"paymentType\": \"SENDER\"\n    },\n    \"labelSpecification\": {\n      \"labelFormatType\": \"COMMON2D\",\n      \"imageType\": \"PDF\",\n      \"labelStockType\": \"PAPER_85X11_TOP_HALF_LABEL\"\n    },\n    \"requestedPackageLineItems\": [\n      {\n        \"weight\": {\n          \"units\": \"KG\",\n          \"value\": 18\n        },\n        \"dimensions\": {\n          \"length\": 20,\n          \"width\": 15,\n          \"height\": 10,\n          \"units\": \"CM\"\n        }\n      }\n    ]\n  },\n  \"accountNumber\": {\n    \"value\": \"510087020\"\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[320,464],"id":"2fab8386-33d8-4523-be6b-6bf72c80be6a","name":"FedEx Shipment API Payload Structure"},{"parameters":{"content":"## Post-Processing & Merge\nMerge: merge_rate_and_shipments_api_data\n\nAppends both rate and shipment responses into one unified object.\n\nAggregate\n\nConsolidates all merged information for final processing.","height":880,"width":480,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,-240],"id":"55a9d68b-e224-4c23-a5c9-82d95c1d1475","name":"Sticky Note5"},{"parameters":{"content":"## Agent To Extract Shipping details\n\nFinal agent extracts structured shipping details from the aggregated response.\n\nUses:\n\nOpenRouter Chat Model3\n\nStructured Output Parser","height":880,"width":568},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1552,-240],"id":"1d01bf0c-9b2b-4017-8706-be099a391f50","name":"Sticky Note6"},{"parameters":{"content":"## store shipping details in google sheet","height":896,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2160,-240],"id":"acd7b10e-a757-48ed-8922-5a748da4f5b8","name":"Sticky Note7"},{"parameters":{"content":"## This Shipping Processing Workflow automates the full lifecycle of generating FedEx rates, creating shipments, merging and extracting key shipping data, and storing everything in a Google Sheet. AI agents handle the generation of API payloads and extraction of data, ensuring flexibility and scalability. The process is seamless and structured — from authorization to final record-keeping.","height":240,"width":1440},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,-496],"id":"fe30c53f-47e0-4900-8ed6-2c8aae2aafe3","name":"Sticky Note8"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[240,-144],"id":"c7dcfaea-69fa-4423-94c0-07395504bd67","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[160,464],"id":"3ed4e6bb-cff1-441f-ac82-c2abce6d2a53","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1712,144],"id":"eb9dc7f8-088e-4318-8bf9-5727425ea5e5","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appjfd7iGxbyV0sb2","mode":"list","cachedResultName":"Logan New","cachedResultUrl":"https://airtable.com/appjfd7iGxbyV0sb2"},"table":{"__rl":true,"value":"tbljBw5KP5UisT0qV","mode":"list","cachedResultName":"Shipping Details","cachedResultUrl":"https://airtable.com/appci9t1XvOQmdiBR/tbljBw5KP5UisT0qV"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.output.Name }}","userId":"={{ $('Excute With Shipping details').item.json.userId }}","Request Details":"={{ $json.output['Request Details'] }}","Email":"={{ $json.output.Email }}","Shipping Contents":"={{ $json.output['Shipping Contents'] }}","Insurance (Y/N)":"={{ $json.output['Insurance (Y/N)'] }}","Desired Delivery Date":"={{ $json.output['Desired Delivery Date'] }}","Recipient Name":"={{ $json.output['Recipient Name'] }}","Recipient Contact":"={{ $json.output['Recipient Contact'].toString() }}","Recipient Address":"={{ $json.output['Recipient Address'] }}","Weight":"={{ $json.output.Weight }}","Dimensions (L x W x H)":"={{ $json.output['Dimensions (L x W x H)'] }}","Shipping Price Quote":"={{ $json.output['Shipping Price Quote'] }}","Tracking Number":"={{ $json.output['Tracking Number'] }}","Estimated Arrival":"={{ $json.output['Estimated Arrival'] }}","Shipping Label URL":"={{ $json.output['Shipping Label URL'] }}","createdAt":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Request Details","displayName":"Request Details","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Shipping Contents","displayName":"Shipping Contents","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Insurance (Y/N)","displayName":"Insurance (Y/N)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Desired Delivery Date","displayName":"Desired Delivery Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Recipient Name","displayName":"Recipient Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Recipient Contact","displayName":"Recipient Contact","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Recipient Address","displayName":"Recipient Address","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Dimensions (L x W x H)","displayName":"Dimensions (L x W x H)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Weight","displayName":"Weight","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Shipping Price Quote","displayName":"Shipping Price Quote","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Tracking Number","displayName":"Tracking Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estimated Arrival","displayName":"Estimated Arrival","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Shipping Label URL","displayName":"Shipping Label URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2224,-48],"id":"db00dffb-28ef-4ca2-af08-76e5a301f75a","name":"Create a record","credentials":{"airtableTokenApi":{"id":"2CrlfDDV3wTPTK8t","name":"Creative Glu-New"}}}],"connections":{"Structured Output Parser":{"ai_outputParser":[[{"node":"Agent To Extract Shipping details","type":"ai_outputParser","index":0}]]},"Aggregate":{"main":[[{"node":"Agent To Extract Shipping details","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"merge_rate_and _shipments_api_data","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"merge_rate_and _shipments_api_data","type":"main","index":1}]]},"fedex_rates_api":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"fedex_shipment_api":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"fedex_auth_api":{"main":[[{"node":"generate_rate_api_payload","type":"main","index":0},{"node":"generate_shipment_api_payload","type":"main","index":0}]]},"generate_rate_api_payload":{"main":[[{"node":"fedex_rates_api","type":"main","index":0}],[]]},"generate_shipment_api_payload":{"main":[[{"node":"fedex_shipment_api","type":"main","index":0}]]},"acknowledgement_message":{"main":[[]]},"merge_rate_and _shipments_api_data":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Excute With Shipping details":{"main":[[{"node":"fedex_auth_api","type":"main","index":0},{"node":"acknowledgement_message","type":"main","index":0}]]},"Agent To Extract Shipping details":{"main":[[{"node":"Create a record","type":"main","index":0}]]},"FedEx Rate API Payload Structure":{"ai_outputParser":[[{"node":"generate_rate_api_payload","type":"ai_outputParser","index":0}]]},"FedEx Shipment API Payload Structure":{"ai_outputParser":[[{"node":"generate_shipment_api_payload","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"generate_rate_api_payload","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"generate_shipment_api_payload","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Agent To Extract Shipping details","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"store shipping details in google sheet1":[{"json":{"output":{"Name":"Lucas Turner","Email":"lucas@toyspark.com","Request Details":"Preschool activity kits","Shipping Contents":"Shape sorters, number flashcards, art supplies","Insurance (Y/N)":"No","Desired Delivery Date":"10-12-2025","Recipient Name":"Mia Collins","Recipient Contact":7025559211,"Recipient Address":"1404 Palomino Drive, Las Vegas, NV 89119, United States","Dimensions (L x W x H)":"35 × 27 × 20 cm","Weight":"3.2 kg","Shipping Price Quote":"$193.03 USD","Tracking Number":"794888951307","Estimated Arrival":"2025-07-22","Shipping Label URL":"https://wwwtest.fedex.com/document/v1/cache/retrieve/SH,817d0d9a8b096376794888951307_SHIPPING_P?isLabel=true&autoPrint=false"},"intermediateSteps":[]}}],"generate_rate_api_payload":[{"json":{"output":{"accountNumber":{"value":"510051408"},"requestedShipment":{"shipper":{"address":{"postalCode":"11235","countryCode":"US"}},"recipient":{"address":{"postalCode":"89119","countryCode":"US"}},"pickupType":"DROPOFF_AT_FEDEX_LOCATION","serviceType":"STANDARD_OVERNIGHT","packagingType":"YOUR_PACKAGING","rateRequestType":["ACCOUNT","LIST"],"requestedPackageLineItems":[{"weight":{"units":"KG","value":3.2},"dimensions":{"length":35,"width":27,"height":20,"units":"CM"}}]}},"intermediateSteps":[]}}],"generate_shipment_api_payload":[{"json":{"output":{"labelResponseOptions":"URL_ONLY","requestedShipment":{"shipper":{"contact":{"personName":"Lucas Turner","phoneNumber":"+1 971-355-6543","companyName":"Toyspark"},"address":{"streetLines":["89 Brighton Blvd"],"city":"Brooklyn","stateOrProvinceCode":"NY","postalCode":"11235","countryCode":"US"}},"recipients":[{"contact":{"personName":"Mia Collins","phoneNumber":"702-555-9211"},"address":{"streetLines":["1404 Palomino Drive"],"city":"Las Vegas","stateOrProvinceCode":"NV","postalCode":"89119","countryCode":"US"}}],"serviceType":"FEDEX_GROUND","packagingType":"YOUR_PACKAGING","pickupType":"USE_SCHEDULED_PICKUP","blockInsightVisibility":false,"shippingChargesPayment":{"paymentType":"SENDER"},"labelSpecification":{"labelFormatType":"COMMON2D","imageType":"PDF","labelStockType":"PAPER_85X11_TOP_HALF_LABEL"},"requestedPackageLineItems":[{"weight":{"units":"KG","value":3.2},"dimensions":{"length":35,"width":27,"height":20,"units":"CM"}}]},"accountNumber":{"value":"510087020"}},"intermediateSteps":[]}}],"Agent To Extract Shipping details":[{"json":{"output":{"Name":"Lucas Turner","Email":"lucas@toyspark.com","Request Details":"Preschool activity kits","Shipping Contents":"Shape sorters, number flashcards, art supplies","Insurance (Y/N)":"No","Desired Delivery Date":"10-12-2025","Recipient Name":"Mia Collins","Recipient Contact":7025559211,"Recipient Address":"1404 Palomino Drive, Las Vegas, NV 89119, United States","Dimensions (L x W x H)":"35 × 27 × 20 cm","Weight":"3.2 kg","Shipping Price Quote":"$193.03 USD","Tracking Number":"794888951307","Estimated Arrival":"2025-07-22","Shipping Label URL":"https://wwwtest.fedex.com/document/v1/cache/retrieve/SH,817d0d9a8b096376794888951307_SHIPPING_P?isLabel=true&autoPrint=false"},"intermediateSteps":[]}}]},"versionId":"88e58655-2270-4d28-8047-b0a931b155f0","triggerCount":0,"tags":[]}