Logger.json
{"createdAt":"2025-06-23T07:59:09.422Z","updatedAt":"2025-06-24T12:46:24.175Z","id":"CnjHn2mP6acpIjMI","name":"Logger","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"execution","filters":{"workflowId":{"__rl":true,"value":"={{ $json.Workflow_id }}","mode":"id"}},"options":{"activeWorkflows":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-60,-280],"id":"abcefb76-23ea-41e7-90f4-e5c9967dcc4b","name":"n8n","alwaysOutputData":true,"credentials":{"n8nApi":{"id":"3bO05BbPldH0LQxw","name":"n8n account 4"}}},{"parameters":{"documentId":{"__rl":true,"value":"1N1ShW0AO8x4S7ThF7Wiu9FY5ZWLv2Wl59d-_XC_xxy0","mode":"list","cachedResultName":"Agents","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N1ShW0AO8x4S7ThF7Wiu9FY5ZWLv2Wl59d-_XC_xxy0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N1ShW0AO8x4S7ThF7Wiu9FY5ZWLv2Wl59d-_XC_xxy0/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Include","lookupValue":"yes"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-540,-300],"id":"12974946-41f5-4d69-a6c1-3cde7652b7f6","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"hpsjv1XnTe2gXjCG","name":"Google Sheets account 3"}}},{"parameters":{"workflowId":{"__rl":true,"value":"dZOPJZBppXmRR6yi","mode":"list","cachedResultName":"Logger subworkflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Executions":"={{ $json.data }}"},"matchingColumns":["Executions"],"schema":[{"id":"Executions","displayName":"Executions","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[380,-280],"id":"7392d3aa-d0ee-4545-b4a0-982683938e39","name":"Execute Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"=You are a helpful assistant that will create or update data in airtable using airtable tool connected.\nAgent Name: {{ $('Google Sheets').item.json.Agents }}\nAgent Description: {{ $('Google Sheets').item.json['Agent Desciprion'] }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[760,-200],"id":"c8618e7d-5c9f-4915-85c4-03057b7248b9","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[628,15],"id":"34202ba6-73e6-42f8-96c7-33d220feb352","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"zD5wfo9phRcLkpGK","name":"OpenAi account 2"}}},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appDhxpnl9eqpJm7z","mode":"list","cachedResultName":"Agents","cachedResultUrl":"https://airtable.com/appDhxpnl9eqpJm7z"},"table":{"__rl":true,"value":"tblcHZxjHzUPdYcPW","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appDhxpnl9eqpJm7z/tblcHZxjHzUPdYcPW"},"columns":{"mappingMode":"defineBelow","value":{"Total executions":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_executions', ``, 'number') }}","Succesful finished number":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Succesful_finished_number', ``, 'number') }}","Unsuccesful finished number":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Unsuccesful_finished_number', ``, 'number') }}","Success percentage":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Success_percentage', ``, 'number') }}","Failure percentage":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Failure_percentage', ``, 'number') }}","Agent Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Agent_Name', ``, 'string') }}","Agent Description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Agent_Description', ``, 'string') }}"},"matchingColumns":["Agent Name"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Agent Name","displayName":"Agent Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Total executions","displayName":"Total executions","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Succesful finished number","displayName":"Succesful finished number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Unsuccesful finished number","displayName":"Unsuccesful finished number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Success percentage","displayName":"Success percentage","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Failure percentage","displayName":"Failure percentage","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Agent Description","displayName":"Agent Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[820,40],"id":"b9d34b4c-4240-43ef-872f-e3f9d5985420","name":"Airtable1","credentials":{"airtableTokenApi":{"id":"LUV09oDP5v1QpIcn","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[160,-280],"id":"dab1e437-ded4-4ae3-a21b-def18c0f1380","name":"Aggregate"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-300,-300],"id":"41f3ad4a-0adb-4d9a-8dfe-d30b3d598b7e","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-860,-180],"id":"9e66f3de-476c-430b-b10f-b51c244fb318","name":"When clicking ‘Execute workflow’"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-860,-400],"id":"0e70e1f7-2608-4e24-8c25-ac0d51b7e6cc","name":"Schedule Trigger","disabled":true}],"connections":{"n8n":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Airtable1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Aggregate":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"n8n","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dc6bc242-d1ae-479b-ade1-74c1aa8df7df","triggerCount":1,"tags":[]}