Logger caller.json
{"createdAt":"2025-06-24T10:22:31.384Z","updatedAt":"2025-06-24T11:40:33.874Z","id":"EKvIM3bRDZb1hwtH","name":"Logger caller","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"id","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-320,100],"id":"8778f50e-446f-4e57-a65a-96f7671cd12e","name":"When Executed by Another Workflow"},{"parameters":{"resource":"execution","operation":"get","executionId":"={{ $json.id }}","options":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-20,100],"id":"35a14604-7317-4738-80ad-90ba1b5524e9","name":"n8n","credentials":{"n8nApi":{"id":"3bO05BbPldH0LQxw","name":"n8n account 4"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"ccb0ef48-15fc-4398-b63e-433ca8fbfdc8","leftValue":"={{ $('n8n1').item.json.status }}","rightValue":"running","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[420,100],"id":"d1cedf2a-2227-4668-810a-fd5fab306a76","name":"If"},{"parameters":{"workflowId":{"__rl":true,"value":"CnjHn2mP6acpIjMI","mode":"list","cachedResultName":"Logger"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[640,-20],"id":"96598dec-2458-4147-807a-4b7fa9cf6071","name":"Execute Workflow"},{"parameters":{"resource":"execution","operation":"get","executionId":"={{ $json.id }}","options":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[640,205],"id":"c1a63931-843c-490d-b1e0-e53ea594bf17","name":"n8n1","credentials":{"n8nApi":{"id":"3bO05BbPldH0LQxw","name":"n8n account 4"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"n8n1","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9998f6b7-c30a-4f14-8208-ab9dac6daf34","triggerCount":0,"tags":[]}