Logger subworkflow.json
{"createdAt":"2025-06-24T06:21:03.563Z","updatedAt":"2025-06-24T11:32:46.686Z","id":"dZOPJZBppXmRR6yi","name":"Logger subworkflow","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Executions","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,0],"id":"4ae5eb2d-2de9-42f9-b5a8-5dbd6efdb6f9","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.Executions }}","options":{"systemMessage":"=executions: {{ $json.Executions }}\nYou are a smart data extractor agent that will create a json of attributes like:\n- Succesfully executed count.\n- UnSuccesfully executed count.\n- Success percetage.\n- Failure percentage.\n- Total executions\n\nGoal: To craete a json of above attributes from all the executions. "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[220,0],"id":"21e75054-13b9-4c43-9565-9b93f0c443c5","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[220,220],"id":"b7305b8d-1593-4649-aaf9-57580dc891f1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"zD5wfo9phRcLkpGK","name":"OpenAi account 2"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8892b6ad-792a-4ceb-9725-8d24f70781a5","triggerCount":0,"tags":[]}