MCP Host - Telegram Helen.json
{"createdAt":"2025-05-18T15:33:40.615Z","updatedAt":"2025-07-16T07:57:53.597Z","id":"HYTqZgm22qZeay50","name":"MCP Host - Telegram Helen","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","fileId":"={{ $('MCP Host - Telegram').item.json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-20,-120],"id":"faeb8e98-5562-4b15-ba67-f17eb3f88374","name":"Telegram Get File","webhookId":"076f0443-c6cd-4324-a58f-49524dc15683","credentials":{"telegramApi":{"id":"KFO1136nlORXNVub","name":"Telegram Account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,-140],"id":"8ab4bb36-da60-4883-aa6c-374513a9236c","name":"Transcribe Audio","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}},"onError":"continueRegularOutput"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-480,-140],"id":"eaa421a4-5a8a-49f3-946d-e3d6c54ec7ae","name":"MCP Host - Telegram","webhookId":"1f60a9fc-fa58-4c75-8496-4d304a3cd38f","credentials":{"telegramApi":{"id":"KFO1136nlORXNVub","name":"Telegram Account"}}},{"parameters":{"chatId":"={{ $('MCP Host - Telegram').item.json.message.chat.id }}","text":"={{ $json.output }}","replyMarkup":"=","forceReply":{},"replyKeyboardOptions":{},"replyKeyboardRemove":{},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1060,-660],"id":"85bdbb72-526f-4fa6-89f1-19878f306332","name":"Telegram Reply","webhookId":"4a0960d3-f227-415a-8025-785109ea3fcb","credentials":{"telegramApi":{"id":"KFO1136nlORXNVub","name":"Telegram Account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"return [{\n  chatInput: $input.first().json?.message?.text ?? $input.first().json?.text,\n  sessionId: $('MCP Host - Telegram').first().json.message.chat.id\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,-400],"id":"ab1b16a7-d2cf-4c27-9d0e-5b4b62a80c28","name":"Input Transformer","onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"QeC5SuRuNj9HgIw6","mode":"list","cachedResultName":"MCP Client - Helen"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[720,-520],"id":"2e7b6ce3-bb59-46aa-8cdf-78175bfcbee1","name":"MCP Client - Sub-Workflow","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ce4c2eb-9554-4b0b-9687-3ed836f350c5","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-300,-400],"id":"bc068b8c-bcf9-4b2f-b59e-d6c6338a4b41","name":"Is Chat Input","onError":"continueRegularOutput"},{"parameters":{"content":"## MCP Host - Telegram Helen And web","height":540,"width":1100,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-760,-440],"typeVersion":1,"id":"80a493b2-cf17-4323-b8fb-1b92e2fffc9a","name":"Sticky Note"},{"parameters":{"resource":"file","fileId":"={{ $('MCP Host - Telegram1').item.json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-40,800],"id":"13953f6a-2a12-4047-b67d-5b6e57fbe036","name":"Telegram Get File1","webhookId":"076f0443-c6cd-4324-a58f-49524dc15683","credentials":{"telegramApi":{"id":"KFO1136nlORXNVub","name":"Telegram Account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[180,800],"id":"12dc7fab-eb6a-4590-910d-c8d1b4363573","name":"Transcribe Audio1","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}},"onError":"continueRegularOutput"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-40,540],"id":"292be312-4308-4c22-ba08-208fc398cc1d","name":"MCP Host - Telegram1","webhookId":"1f60a9fc-fa58-4c75-8496-4d304a3cd38f","credentials":{"telegramApi":{"id":"KFO1136nlORXNVub","name":"Telegram Account"}}},{"parameters":{"chatId":"={{ $('MCP Host - Telegram1').item.json.message.chat.id }}","text":"={{ $json.output }}","replyMarkup":"=","forceReply":{},"replyKeyboardOptions":{},"replyKeyboardRemove":{},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,800],"id":"859903ea-6d36-4608-9fe6-fceabb1b1637","name":"Telegram Reply1","webhookId":"4a0960d3-f227-415a-8025-785109ea3fcb","credentials":{"telegramApi":{"id":"KFO1136nlORXNVub","name":"Telegram Account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"return [{\n  chatInput: $input.first().json?.message?.text ?? $input.first().json?.text,\n  sessionId: $('MCP Host - Telegram1').first().json.message.chat.id\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,540],"id":"e7f6f1eb-820c-40a5-a358-f98c75eec494","name":"Input Transformer1","onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"QeC5SuRuNj9HgIw6","mode":"list","cachedResultName":"MCP Client - Helen"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[500,800],"id":"5edda6b7-83c5-4ee7-8faf-0697f6e333f3","name":"MCP Client - Sub-Workflow1","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ce4c2eb-9554-4b0b-9687-3ed836f350c5","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[180,540],"id":"8f2cc9cd-b17e-4f3f-90a3-0a9e8b91c1b8","name":"Is Chat Input1","onError":"continueRegularOutput"},{"parameters":{"content":"## MCP Host - Telegram Helen","height":540,"width":1100,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-140,460],"typeVersion":1,"id":"d8e680de-6726-4fd9-9283-cffdfea87ad1","name":"Sticky Note1"},{"parameters":{"workflowInputs":{"values":[{"name":"user_message","type":"any"},{"name":"userId","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-540,-660],"id":"823c1390-d172-48a2-be88-1a1f0e69a53f","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"return [{\n  chatInput: $input.first().json.user_message,\n  sessionId: 'Hey'\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[60,-640],"id":"ee53c254-b218-470e-93de-19ca66856acf","name":"Input Transformer2","onError":"continueRegularOutput"}],"connections":{"Telegram Get File":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Input Transformer","type":"main","index":0}]]},"MCP Host - Telegram":{"main":[[{"node":"Is Chat Input","type":"main","index":0}]]},"Telegram Reply":{"main":[[]]},"Input Transformer":{"main":[[{"node":"MCP Client - Sub-Workflow","type":"main","index":0}]]},"MCP Client - Sub-Workflow":{"main":[[{"node":"Telegram Reply","type":"main","index":0}]]},"Is Chat Input":{"main":[[{"node":"Input Transformer","type":"main","index":0}],[{"node":"Telegram Get File","type":"main","index":0}]]},"Telegram Get File1":{"main":[[{"node":"Transcribe Audio1","type":"main","index":0}]]},"Transcribe Audio1":{"main":[[{"node":"Input Transformer1","type":"main","index":0}]]},"MCP Host - Telegram1":{"main":[[{"node":"Is Chat Input1","type":"main","index":0}]]},"Input Transformer1":{"main":[[{"node":"MCP Client - Sub-Workflow1","type":"main","index":0}]]},"MCP Client - Sub-Workflow1":{"main":[[{"node":"Telegram Reply1","type":"main","index":0}]]},"Is Chat Input1":{"main":[[{"node":"Input Transformer1","type":"main","index":0}],[{"node":"Telegram Get File1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Input Transformer2","type":"main","index":0}]]},"Input Transformer2":{"main":[[{"node":"MCP Client - Sub-Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c3680938-e135-4670-96d8-05ef5510564b","triggerCount":2,"tags":[]}