MCP Client - Hanna.json
{"createdAt":"2025-06-06T12:42:44.375Z","updatedAt":"2025-07-14T05:23:40.628Z","id":"GfoIBAL6Q4m5gy5p","name":"MCP Client - Hanna","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Hanna Agent","height":580,"width":1120,"color":7},"type":"n8n-nodes-base.stickyNote","position":[820,0],"typeVersion":1,"id":"d1005ba3-f388-48d5-952f-d831553c76a0","name":"Sticky Note1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,420],"id":"0e1b380a-4953-41c9-a153-273ec305d854","name":"OpenAI MCP Client Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"### `error-log`\n\n- **Purpose:** record any workflow or tool error for later troubleshooting.  \n- **Required:** `message` — JSON object or array describing the error.","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_error_logs","mode":"list","cachedResultName":"n8n_error_logs"},"columns":{"mappingMode":"defineBelow","value":{"message":"={{ $fromAI('message', `The error message or array of error messages to be logged. Can include source and details.`, 'string') }}","session_id":"={{ $json.sessionId }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1140,420],"id":"f23e7c0d-6669-438c-bfaf-920116f67556","name":"Error Log","credentials":{"postgres":{"id":"kS35e9jQpjf0T0s4","name":"Postgres Account"}}},{"parameters":{},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1420,420],"id":"2fc7d2d2-7a3c-45d4-958d-b6b39de2ad29","name":"MCP List tools","credentials":{"mcpClientApi":{"id":"DDWQhpvcsZ5MDkkD","name":"MCP Client (STDIO)"}}},{"parameters":{"operation":"executeTool","toolName":"={{ $fromAI('tool_name') }}","toolParameters":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1560,420],"id":"a89db47d-9301-433d-ad9a-46b8945fcf81","name":"MCP Execute Tool","credentials":{"mcpClientApi":{"id":"DDWQhpvcsZ5MDkkD","name":"MCP Client (STDIO)"}},"onError":"continueRegularOutput"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1020,420],"id":"69b7fc9a-05d8-4d56-be2f-536e7dec2722","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"kS35e9jQpjf0T0s4","name":"Postgres Account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1680,420],"id":"b35ad50e-3f81-4fc2-9735-1f9227b66ab5","name":"Calculator"},{"parameters":{"description":"Call this agent to generate the proposal of the deal, the input should be string containing all the details needed to generate the proposal.\n\nDetails needed:\nField\tRequired?\tPurpose (one-liner)\ndeal_name\tYes\tHeader, internal tracking\ncompany_name\tYes\tPersonalization in every section\nprimary_contact_name\tOptional\tWarmer greeting (“Dear …”)\nprimary_contact_title\tOptional\tAdds credibility (“CMO”, “VP Ops”)\ncompany_website\tOptional\tLets model reference real context\nindustry_sector\tOptional\tEnables sector-specific language\ndeal_size_budget\tOptional\tAligns “Fees” section with expectations\nproducts_in_hubspot_deal\tOptional\tDrives “Recommended Solutions” lineup\nprospect_product_interests\tOptional\tSame as above when CEO gives extra detail\npain_points_needs\tOptional\tFuels “Background & Client Objectives” copy\nurgency_or_go_live_date\tOptional\tHighlights speed in “Implementation”\ndiscount_or_pilot_terms\tOptional\tKeeps pricing promises consistent\ncompetitive_context_current_tools\tOptional\tSharpens differentiation copy\nprior_meeting_notes\tOptional\tAdds human touch (“As discussed on …”)\nlocation_timezone\tOptional\tHelpful for scheduling next steps","workflowId":{"__rl":true,"value":"nQwfWpQ6UCxJsOOT","mode":"list","cachedResultName":"Proposal Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1800,420],"id":"cc5a3069-cff3-4ad8-864f-17a3ee527ad5","name":"Proposal Generation Tool"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"=You are Hannah, Friendly, professional helper for Hubspot CRM tasks —Hubspot CRM Assistant (Creativeglu AI).\n---\nGreetings:\nIf you greet user, use this exact message:\n```\nI’m Hannah, your AI RevOps agent from Creative Glu and CodeStrap. What do you need to unblock today?\n```\n---\nInstructions:\n- Comprehend, understand and interpret user queries, especially within the context of sales and hubspot (CRM).\n- Before performing any operation first Call this tool **MCP List tools** to get all the tools available to use.\n- Call this tool **MCP Execute tool** to execute the selected tool and carefully follow the description and schema of each tool while executing the tool.\n- Some tools support pagination,when needed use them wisely if it is given in description of the tool.\n- When deal is moved to qualify to buy, call create proposal tool with required data\nNote: If tool execution fails, analyze and comprehend the error, attempt to resolve it, and retry the operation— up to three times. Do not immediately notify the user of a technical issue unless all retry attempts, including resolution efforts, have been exhausted.\n\n\n⏱️ Response Timing Tracker\n\n- Log the **timestamp** when the user message is received.  \n- Log the **timestamp** when the assistant response is sent.  \n- Calculate and record the **response time in seconds, minutes, and hours**.  \n- Optionally, use this data for performance monitoring, latency alerts, or UX optimization.  \n- When you reply to the user, add:  \n  'It took me **time** to process your request.'","maxIterations":30,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1240,120],"id":"c6183a61-76c2-455c-8533-f299af5c80db","name":"Hanna - AI Chat Agent","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[980,120],"id":"79d26866-059d-4432-9e78-b40cb1278288","name":"When chat message received","webhookId":"6cf53589-4590-4e22-ab6e-8efbba3aec2e"}],"connections":{"OpenAI MCP Client Model":{"ai_languageModel":[[{"node":"Hanna - AI Chat Agent","type":"ai_languageModel","index":0}]]},"Error Log":{"ai_tool":[[{"node":"Hanna - AI Chat Agent","type":"ai_tool","index":0}]]},"MCP List tools":{"ai_tool":[[{"node":"Hanna - AI Chat Agent","type":"ai_tool","index":0}]]},"MCP Execute Tool":{"ai_tool":[[{"node":"Hanna - AI Chat Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Hanna - AI Chat Agent","type":"ai_memory","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Hanna - AI Chat Agent","type":"ai_tool","index":0}]]},"Proposal Generation Tool":{"ai_tool":[[{"node":"Hanna - AI Chat Agent","type":"ai_tool","index":0}]]},"Hanna - AI Chat Agent":{"main":[[]]},"When chat message received":{"main":[[{"node":"Hanna - AI Chat Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5ac488a1-98ba-4da0-b5c5-2041cd73a24e","triggerCount":1,"tags":[{"createdAt":"2025-04-16T15:47:30.324Z","updatedAt":"2025-04-16T15:47:30.324Z","id":"iuHH1i6Z5YT5XHkS","name":"Main"},{"createdAt":"2025-06-01T16:00:52.436Z","updatedAt":"2025-06-01T16:00:59.278Z","id":"MjOiYL5GnVjfwraW","name":"Hannah"}]}