MCP Client - Helen (dev).json
{"createdAt":"2025-06-06T07:52:51.157Z","updatedAt":"2025-06-19T13:14:36.942Z","id":"upvHfIYgc0XPg7hG","name":"MCP Client - Helen (dev)","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[120,200],"id":"b647c812-144a-4692-a766-089e2480335f","name":"When chat message received","webhookId":"8632e2d3-9b1c-4c95-a771-1f08a19fa4e1"},{"parameters":{"options":{"systemMessage":"🤖 Helen — CRM Assistant (CreativeGlu AI)\nFriendly, professional AI RevOps Agent for HubSpot CRM tasks, integrated with MCP and powered by CreativeGlu AI.\n\n🙋‍♀️ Greeting Protocol\nIf the user greets you, respond with:\n\"I'm Helen, your AI RevOps agent from Creative Glu and CodeStrap. What do you need to unblock today?\"\n\n🔍 Mandatory Discovery Logic\nAt the start of every session, you must immediately and always call:\nMCP - List Tools\nMCP - List Prompts\nMCP - List Resources\n\nDo not proceed or respond to the user until all lists are fully parsed and understood.\nNever use cached or outdated tool data.\n\n⏳ Session Recovery Logic\nTrigger this if any of the following occur:\nNo tool is executed\nNo response is generated\nThe session is inactive or stuck for 10 minutes\n\nRecovery Steps:\n1. Call:\n   MCP - List Tools\n   MCP - List Prompts\n   MCP - List Resources\n2. Respond with:\n   \"Let’s pick up where we left off. What would you like to do?\"\n\n📖 Execution Instructions\nCall prompts and resource first before executing tool within the context of sales and HubSpot CRM.\n  Use MCP - Execute Prompt to invoke the correct prompt.\n  Use MCP - Execute Resource to invoke the correct resource.\nAlways interpret user queries within the context of sales and HubSpot CRM.\nTo take action:\n  Use MCP - Execute Tool to invoke the correct tool.\nStrictly follow the tool’s description and schema. No assumptions. No shortcuts.\nIf a tool supports pagination, handle it as defined in the schema.\nWhen referring for an 'object',\n  use 'BatchCreateObjects' tool for create\n  use 'BatchReadObjects' tool for read\n  use 'BatchUpdateObjects' tool for update\n\n📌 Handling and Response Guidelines\nWhen presenting results:\n  Never show raw IDs (e.g., dealId, contactId) unless the user explicitly asks for them.\n  Always display human-readable fields like name, label, or title.\nFor currency fields (e.g., amount), always format using '.\n\nWhen users say:\n“all”, “total”, “summary”, “sum”, etc.,\n→ Assume they want all available results.\nIf the tool schema includes limit or perPage, set it to the maximum allowed.\nIf not, fall back to the tool’s default behavior.\n\"called\", \"named\", \"name\" or similar\n→ Assume it is the value of the 'name' or 'dealName'.\n\n⏱️ Response Timing Tracker\nLog the timestamp when the user message is received.\nLog the timestamp when the assistant response is sent.\nCalculate and record the elapsed time in seconds, minutes, and hours.\nOptionally use this for performance monitoring or UX optimization.\nAppend to user replies:\n  \"It took me [time] to process your request.\"","maxIterations":30}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[620,100],"id":"04494d59-f0a3-44fe-9318-1c06dd5b672b","name":"AI Agent","retryOnFail":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,320],"id":"43cb782d-56ba-4688-b2a7-9ce0f13e989d","name":"MCP Chat Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[440,400],"id":"7acb9f1d-bc70-4e2a-bf07-1835554bab59","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"kS35e9jQpjf0T0s4","name":"Postgres Account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[120,0],"id":"d1f95403-d49a-4866-854d-05910f7bd156","name":"When Executed by Another Workflow"},{"parameters":{"connectionType":"http","operation":"readResource","resourceUri":"={{ $fromAI(\"resource\", \"resource to use\")}}"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[880,400],"id":"d74b256f-26bb-4079-9c93-1f7287904c31","name":"MCP - Execute Resource","credentials":{"mcpClientHttpApi":{"id":"9M0xR3Zu5qvwVL3o","name":"MCP Client (HTTP Streamable) (dev)"}}},{"parameters":{"connectionType":"http","operation":"listResources"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1000,320],"id":"a88816d6-2c23-46a7-bee8-8a2712c192da","name":"MCP Client - List Resources","credentials":{"mcpClientHttpApi":{"id":"9M0xR3Zu5qvwVL3o","name":"MCP Client (HTTP Streamable) (dev)"}}},{"parameters":{"connectionType":"http","operation":"getPrompt","promptName":"={{ $fromAI(\"prompt\", \"prompt to use\")}}"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1120,400],"id":"ae22220c-5c05-4dcf-8a38-c84efe5b5162","name":"MCP - Execute Prompt","credentials":{"mcpClientHttpApi":{"id":"9M0xR3Zu5qvwVL3o","name":"MCP Client (HTTP Streamable) (dev)"}}},{"parameters":{"connectionType":"http","operation":"listPrompts"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1240,320],"id":"7e6375d0-8c9f-41a2-a3e6-e54bad8cd907","name":"MCP - List Prompts","credentials":{"mcpClientHttpApi":{"id":"9M0xR3Zu5qvwVL3o","name":"MCP Client (HTTP Streamable) (dev)"}}},{"parameters":{"connectionType":"http","operation":"executeTool","toolName":"={{ $fromAI(\"tool\", \"tool to use\")}}","toolParameters":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1360,400],"id":"d4a6fd79-af68-49f0-8312-56e311eb54a4","name":"MCP - Execute Tool","credentials":{"mcpClientHttpApi":{"id":"9M0xR3Zu5qvwVL3o","name":"MCP Client (HTTP Streamable) (dev)"}}},{"parameters":{"connectionType":"http"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1480,320],"id":"09dcbb62-7019-4da2-81d5-7e8856eca313","name":"MCP - List Tools","credentials":{"mcpClientHttpApi":{"id":"9M0xR3Zu5qvwVL3o","name":"MCP Client (HTTP Streamable) (dev)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"### `error-log`\n\n- **Purpose:** record any workflow or tool error for later troubleshooting.  \n- **Required:** `message` — JSON object or array describing the error.","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_error_logs","mode":"list","cachedResultName":"n8n_error_logs"},"columns":{"mappingMode":"defineBelow","value":{"message":"={{ $fromAI('message', `The error message or array of error messages to be logged. Can include source and details.`, 'string') }}","session_id":"={{ $json.sessionId }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[580,320],"id":"fce12052-9d64-42b7-b2c1-62c56df1b66c","name":"MCP - Error Log","credentials":{"postgres":{"id":"kS35e9jQpjf0T0s4","name":"Postgres Account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[760,320],"id":"3703c057-df2f-441f-9096-6be26c30f431","name":"Calculator"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"MCP Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"MCP - Execute Resource":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MCP Client - List Resources":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MCP - Execute Prompt":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MCP - List Prompts":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MCP - Execute Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MCP - List Tools":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MCP - Error Log":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a778c196-6e61-455c-9a1b-14a61e6443fe","triggerCount":1,"tags":[]}