My workflow 29.json
{"createdAt":"2025-07-02T06:40:46.837Z","updatedAt":"2025-07-02T06:51:00.218Z","id":"cZHugLgma2cJpKcl","name":"My workflow 29","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-300,-20],"id":"cfe14a18-5788-4118-8767-f781473993de","name":"Telegram Trigger","webhookId":"4f543c6e-2fdf-4646-b92f-adb04dd5eca5","credentials":{"telegramApi":{"id":"yjTIjxaXNqale9Gp","name":"Dan Dashboard bot"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"You are a helpful assistant\nAdd an emoji to input and give output"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-80,-20],"id":"8b0b6264-ca65-4240-881a-f8f798e8411c","name":"AI Agent"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[280,-20],"id":"473b1a80-4b19-47bf-8f47-326fc32b58e5","name":"Send a text message","webhookId":"8ae6f44d-9524-4619-99d5-d706f13348b2","credentials":{"telegramApi":{"id":"yjTIjxaXNqale9Gp","name":"Dan Dashboard bot"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-60,200],"id":"14dcf3b0-56e7-4a07-8ea7-35c9b16ccfd4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ae5146f4-e984-41f4-ad6a-f9fb2f5635e0","triggerCount":0,"tags":[]}