My workflow 23.json
{"createdAt":"2025-06-18T10:33:38.248Z","updatedAt":"2025-06-18T11:16:25.732Z","id":"3pUSWX0EaCV7y1uf","name":"My workflow 23","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[960,2115],"id":"459e5136-b57d-4eb7-8baa-7442c483d4f5","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[520,1895],"id":"e5ea8524-585a-4f7d-b83f-f5d04fa237d3","name":"Aggregate1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1400,1895],"id":"3909cae2-087e-4a9e-a135-efcd47e28d89","name":"Wait1","webhookId":"fe4501f9-3334-4fc8-b3dd-83ea0ebb14a2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6cc1bd80-2bb7-47b6-950e-be3d6a36a965","leftValue":"={{ $json.status }}","rightValue":"ready","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1840,1895],"id":"32a6bbce-f163-4490-8e6f-22245888899e","name":"If1"},{"parameters":{"schemaType":"manual","inputSchema":"{\n    \"type\": \"object\",\n    \"properties\": {\n        \"videoId\": {\n            \"type\": \"string\",\n            \"description\": \"the id of the video\"\n        },\n        \"videoTitle\": {\n            \"type\": \"string\",\n            \"description\": \"the title of the video on Youtube\"\n        }\n    },\n    \"required\": [\n        \"videoId\",\n        \"videoTitle\"\n    ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1200,2115],"id":"88d8fdc7-4614-41de-9bad-7e90dbc78ed7","name":"Structured Output Parser1"},{"parameters":{"url":"=http://host.docker.internal:3123/api/short-video/{{ $('Generate video1').item.json.output.videoId }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2060,1895],"id":"a52ebb9e-3bb8-4ed7-9fa6-79a21e9735c9","name":"Download the video1","alwaysOutputData":false,"retryOnFail":false},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('Generate video1').item.json.output.videoTitle }}","regionCode":"HU","categoryId":"24","options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[2280,1895],"id":"260a1ca1-7910-4825-a2aa-4a6aded1d665","name":"Share on YouTube1","disabled":true},{"parameters":{"promptType":"define","text":"=<Instruction>\nTurn the following post from reddit (lifeprotips) into a video. Keep everything, but make slight tweaks so it's easy to understand it in a text-to-speech video format with subtitles.\n\nReturn the video ID and the title of the video for the Youtube upload.\n</Instruction>\n\n<Post>\n{{ $json.data[4].title }}\n{{ $json.data[4].contentSnippet }}\n</Post>","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[992,1895],"id":"102fc760-b61d-4c2e-a7b3-06bc4822c4ea","name":"Generate video1"},{"parameters":{"url":"=http://host.docker.internal:3123/api/short-video/{{ $('Generate video1').item.json.output.videoId }}/status","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,1820],"id":"fd165a91-a90b-4e3a-9530-b1111e7e4288","name":"Check video status1","alwaysOutputData":false,"retryOnFail":false},{"parameters":{"assignments":{"assignments":[{"id":"220a5d64-eea7-47fb-9557-682ed4ac2670","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"667fc922-3cb8-41cf-b86e-e635cf75bdc2","name":"contentSnippet","value":"={{ $json.contentSnippet.split('submitted')[0].trim() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,1895],"id":"e149105e-cfb8-47a3-b3c8-89043503f260","name":"Map fields1"},{"parameters":{"url":"=https://www.reddit.com/r/LifeProTips/top/.rss?t=week","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[80,1895],"id":"2146c230-dc2a-4cb5-8224-ad65bb941b17","name":"Get top weekly posts1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-140,1895],"id":"defee638-7946-4482-a3f1-f7b394d2b606","name":"When clicking ‘Execute workflow’"},{"parameters":{"sseEndpoint":"http://localhost:3123/mcp/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1080,2240],"id":"05ec0505-6e74-4a7f-a21e-259ef26eaf5a","name":"MCP Client"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Generate video1","type":"ai_languageModel","index":0}]]},"Aggregate1":{"main":[[{"node":"Generate video1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Check video status1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Download the video1","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Generate video1","type":"ai_outputParser","index":0}]]},"Download the video1":{"main":[[{"node":"Share on YouTube1","type":"main","index":0}]]},"Generate video1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Check video status1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Map fields1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Get top weekly posts1":{"main":[[{"node":"Map fields1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get top weekly posts1","type":"main","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"Generate video1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"683e2755-52fa-4590-ac85-f96128201ab2","triggerCount":0,"tags":[]}