My workflow 13.json
{"createdAt":"2025-05-12T13:50:12.192Z","updatedAt":"2025-05-12T15:32:50.736Z","id":"EJeDUlngx12n24Pf","name":"My workflow 13","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[260,0],"id":"87565af6-10eb-4f4c-9ce0-49fb1fc50bc7","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[160,180],"id":"3721b330-ecdf-461b-b302-b640c8ce3eaf","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[360,220],"id":"bd451f38-899c-4cf6-bcb6-af11831d8bf4","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[520,220],"id":"4dca9e60-195c-404c-ad6b-15fd8a0cf645","name":"Wikipedia"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"1f3bfee1-746a-4140-a0bd-cf0bf81629a1","name":"When chat message received","webhookId":"22a4b5ae-a706-4216-a4d1-9f4ae9e652bb"},{"parameters":{"workflowId":{"__rl":true,"value":"k6PRsc8VgZzpVeC5","mode":"list","cachedResultName":"Test"},"workflowInputs":{"mappingMode":"defineBelow","value":{"execution ID":"={{ Number($execution.id) }}"},"matchingColumns":["execution ID"],"schema":[{"id":"execution ID","displayName":"execution ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1020,160],"id":"10103fa3-1306-494e-bad1-bf14ca6582d6","name":"Test Agent"},{"parameters":{"promptType":"define","text":"=add appropriate emojies to this text {{ $json.output }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[620,0],"id":"a40229bc-11ec-4f91-a6d1-4174802f6533","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[720,220],"id":"4c90f683-7bab-485e-9d44-5bf21ff94851","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1280,0],"id":"4d9c241b-6f3b-4ee5-8201-805321037be5","name":"Wait","webhookId":"cc8fbeec-c285-4324-88ba-2cb3f8c3a9fa"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Test Agent":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"Test Agent","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Wait":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fc5a5c30-561b-4cb0-859e-bb62d076d8de","triggerCount":0,"tags":[]}