My workflow 21.json
{"createdAt":"2025-06-17T06:51:15.495Z","updatedAt":"2025-06-17T07:09:28.618Z","id":"O8cgmvuhBmfomxUo","name":"My workflow 21","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.piapi.ai/api/v1/task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 021c10182c949c3d0fa6f5c0b21169ae48e81d4730d0a8dc37429a214e7529d1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.output.replace(/\"/g, '') }}\",\n        \"width\": 540, \n        \"height\": 960\n    } \n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,280],"id":"f68b5017-55a0-422b-9d1a-36eec750f74c","name":"Generate Image"},{"parameters":{"url":"=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 021c10182c949c3d0fa6f5c0b21169ae48e81d4730d0a8dc37429a214e7529d1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1160,280],"id":"78b58d23-c819-4712-b3bb-d383273afc7a","name":"Get Images"},{"parameters":{"promptType":"define","text":"=Scene: {{ $('Get Images').item.json.data.input.prompt }}","options":{"systemMessage":"=# Overview\nYou are a Master Sound Prompt Generator.\nYour task is to create vivid, immersive sound prompts based on a given scene. These prompts will be used to generate background audio that matches the mood and environment of the scene.\n\n## Instructions\n- Generate a one- to two-sentence prompt that captures the ambiance, tone, and key sound elements.\n- Use rich, evocative language to describe the background atmosphere, highlighting specific sounds (e.g., footsteps on cobblestone, distant chatter, wind rustling leaves, faint music, industrial hum).\n- Focus on the background audio — not dialogue, narration, or foreground sound effects.\n- Match the emotion and setting of the scene, whether it's calm, chaotic, eerie, festive, or serene.\n- Avoid vague descriptions; be specific and sensory-driven to maximize immersion.\n- Never include quotation marks (\"\") or newlines (\\n) in the output.\n\n## Output\nReturn only the crafted sound prompt text, ready to be used for an audio generation model.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1420,280],"id":"25112f18-2482-42b7-8baf-c836219fb838","name":"Sound Agent"},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/sound-generation","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.output.replace(/\"/g, '') }}"},{"name":"duration_seconds","value":"5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,280],"id":"ab2e8042-3fd8-415a-bf09-b9e8ad07323c","name":"Generate Audio","credentials":{"httpHeaderAuth":{"id":"0npi5HVx8iITBpoK","name":"PI API Token"}}},{"parameters":{"name":"={{ $('Get Videos').item.json.id }}.mp3","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1nzqB5GEng-NWzY7Xwn4Y9QMpVTgwBKFA","mode":"list","cachedResultName":"Audio Files","cachedResultUrl":"https://drive.google.com/drive/folders/1nzqB5GEng-NWzY7Xwn4Y9QMpVTgwBKFA"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1960,280],"id":"534a4af5-d238-4d72-abfd-9b819d033038","name":"Upload to Drive","credentials":{"googleDriveOAuth2Api":{"id":"z29QCHSTFbuYhWdz","name":"Dan Drive Account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1440,620],"id":"5007f256-ef06-4a09-8d3a-933b4bf2cbea","name":"Merge"},{"parameters":{"method":"POST","url":"https://api.creatomate.com/v1/renders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer "}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_id\": \"e19f26a1-dfb6-4a0d-a3ba-d394e398b3c9\",\n  \"modifications\": {\n    \"Video-1.source\": \"{{ $json.urls[0].url }}\",\n    \"Video-2.source\": \"{{ $json.urls[1].url }}\",\n    \"Video-3.source\": \"{{ $json.urls[2].url }}\",\n    \"Video-4.source\": \"{{ $json.urls[3].url }}\",\n    \"Audio-1.source\": \"{{ $json.urls[0].webContentLink }}\",\n    \"Audio-2.source\": \"{{ $json.urls[1].webContentLink }}\",\n    \"Audio-3.source\": \"{{ $json.urls[2].webContentLink }}\",\n    \"Audio-4.source\": \"{{ $json.urls[3].webContentLink }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1840,620],"id":"790eb931-3c58-43bb-9bfa-b840d7b217ca","name":"Render Video"},{"parameters":{"amount":25},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2040,620],"id":"f4ef2452-53a1-404f-bfbb-3bd962a57a6f","name":"25 Seconds","webhookId":"d5cd29e8-d3f7-491c-a6b6-2d705aa47931"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,840],"id":"ddbc8f1a-188a-43f7-a9ff-550255dc1bc5","name":"Download Video"},{"parameters":{"content":"# Generate Image Prompts","height":540,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-20,180],"typeVersion":1,"id":"d6935639-eb98-4479-a708-5a3a04ecef00","name":"Sticky Note3","disabled":true},{"parameters":{"content":"# Generate Images\n","height":260,"width":600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[740,180],"typeVersion":1,"id":"c34a9a56-4410-46b1-835c-e112267fc583","name":"Sticky Note4"},{"parameters":{"content":"# Generate Audio\n\n","height":320,"width":980,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1360,180],"typeVersion":1,"id":"3c39c806-b5cf-4d15-99b5-f5f81161c3e6","name":"Sticky Note"},{"parameters":{"content":"# Render & Log\n","height":500,"width":1040},"type":"n8n-nodes-base.stickyNote","position":[1360,520],"typeVersion":1,"id":"44a67cd1-17c3-4592-93e7-390e62ed5897","name":"Sticky Note2"},{"parameters":{"url":"=https://api.dev.runwayml.com/v1/tasks/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1160,560],"id":"c68a771f-5986-4139-bfb9-f5f3bb5c7ff1","name":"Get Videos","credentials":{"httpHeaderAuth":{"id":"0npi5HVx8iITBpoK","name":"PI API Token"}}},{"parameters":{"method":"POST","url":"https://api.dev.runwayml.com/v1/image_to_video","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"promptImage","value":"={{ $json.data.output.image_url }}"},{"name":"model","value":"gen3a_turbo"},{"name":"ratio","value":"768:1280"},{"name":"duration","value":"5"},{"name":"promptText","value":"={{ $json.data.input.prompt.replace(/\"/g, '') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,560],"id":"8bd7ecc4-c200-4022-9e06-24fd969c60c9","name":"Generate Videos","credentials":{"httpHeaderAuth":{"id":"ow0UADqY7QVIl4iU","name":"KEVIn RUNWAY API"},"httpBearerAuth":{"id":"ORrMtzao15RJuXOX","name":"RUNWAY_KEVIN_API"}}},{"parameters":{"content":"# Generate Videos\n","height":260,"width":600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[740,460],"typeVersion":1,"id":"8cac782b-4d8e-4d1e-9c0a-571468932f5a","name":"Sticky Note5"},{"parameters":{"jsCode":"// N8n Code Node to extract URLs from output arrays and combine them into a single array\n// This code assumes your input JSON is in items[0].json or is multiple items\n// Determine data source format\nlet inputArray;\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  // If we have a single item containing our array\n  inputArray = items[0].json;\n} else if (items.length > 1) {\n  // If we already have multiple items, each containing part of our data\n  inputArray = items.map(item => item.json || item);\n} else {\n  throw new Error('Input structure not recognized. Please check your data format.');\n}\n// Create a single array to hold all URLs\nconst urlArray = [];\n// Process each item in the input array\nfor (const item of inputArray) {\n  // Get the data object\n  const data = item;\n  \n  // Check if the item has an output array\n  if (data.output && Array.isArray(data.output)) {\n    // For each URL in the output array, add to our URL array\n    for (const url of data.output) {\n      // Add URL along with metadata including the web content link\n      urlArray.push({\n        url: url,\n        sourceId: data.id,\n        createdAt: data.createdAt,\n        webContentLink: data.webContentLink || null // Add the web content link\n      });\n    }\n  }\n}\n// Return a single item containing the array of all URLs\nreturn [{\n  json: {\n    urls: urlArray\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1640,620],"id":"66745001-5c64-421d-85e7-1976b89ed658","name":"Split Out Parts"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2160,280],"id":"355045fb-824e-404a-8277-01959ede3448","name":"Share File","credentials":{"googleDriveOAuth2Api":{"id":"z29QCHSTFbuYhWdz","name":"Dan Drive Account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"videoTopic"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[40,340],"id":"ac108554-ee76-43e7-9c8e-a83547a0f457","name":"When Executed by Another Workflow"},{"parameters":{"jsonSchemaExample":"{\n  \"Part 1\": \"Prompt for part 1\",\n  \"Part 2\": \"Prompt for part 2\",\n  \"Part 3\": \"Prompt for part 3\",\n  \"Part 4\": \"Prompt for part 4\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[420,520],"id":"9783294f-50db-49b6-8fb4-52b1565e66bb","name":"4 Parts"},{"parameters":{"promptType":"define","text":"=Video Topic: {{ $json.videoTopic }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are a Master Visual Story Structuring Agent.\nYour task is to take a given short video topic and split it into four parts that together form a cohesive, vivid story, optimized for text-to-image generation.\n\n## Instructions:\n- You must create exactly four parts: Part 1, Part 2, Part 3, and Part 4.\n- Describe the subject of the story in the EXACT same way in all four parts. Each part should be consistent.\n- Each part should build upon the previous, creating a complete visual story by the end.\n- Every part must be written as a high-quality, richly detailed image prompt, following professional standards for models like Flux or similar.\n- Describe characters, settings, outfits, actions, and background elements vividly and precisely.\n- Use rich, imaginative language to maximize visual fidelity.\n- Avoid generic terms — always opt for specific and colorful descriptions.\n- No quotation marks (\"\") or newlines (\\n) should be included in the output.\n- Keep the description natural and seamless so it can be fed directly into a text-to-image model.\n\n## Key Elements to Include in Each Part:\n- Clear description of main subjects (appearance, outfits, facial expressions, poses)\n- Accessories or objects that add to the scene\n- A vivid background that matches the theme and enhances the overall story\n- Consistency and natural progression from part to part\n\n## Output Format:\nReturn your response structured into four fields:\n- Part 1: [Vivid image prompt for Part 1]\n- Part 2: [Vivid image prompt for Part 2]\n- Part 3: [Vivid image prompt for Part 3]\n- Part 4: [Vivid image prompt for Part 4]\n\nOnly output the fields listed above.\nMake sure the story across all four parts feels cohesive, visually rich, and cinematic."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[220,340],"id":"0ba973b2-c86e-4114-adf6-ece6b2d3b008","name":"Image Prompt Agent"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[540,340],"id":"9ca4e69c-29e8-4ee9-82e3-4ae8e566871e","name":"Split Out"},{"parameters":{"operation":"sendVideo","chatId":"={{ $('When Executed by Another Workflow').first().json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1620,840],"id":"adf6d42b-eb6c-4f70-baff-4a95ffa7e4fd","name":"Send Video","webhookId":"cdeb2987-d275-480b-8532-f69bbed64999","credentials":{"telegramApi":{"id":"FPa39KbyPXUd0Mna","name":"AI Marketing Bot"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Video: {{ $('When Executed by Another Workflow').first().json.videoTopic }}"},{"content":"Create a 3-4 word title for the given video","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1820,840],"id":"d02ebf52-da83-43af-8589-754437f5bc94","name":"Title","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"13ccUXL9lNmQHGhAa0g-PFFZfAYpzN2i58AcKrUsPE5s","mode":"list","cachedResultName":"Marketing Team Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13ccUXL9lNmQHGhAa0g-PFFZfAYpzN2i58AcKrUsPE5s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $json.message.content }}","Request":"={{ $('When Executed by Another Workflow').first().json.videoTopic }}","Link":"={{ $('Download Video').item.json.url }}","Type":"Video"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Request","displayName":"Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post","displayName":"Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2180,840],"id":"81a19af3-5c5c-4459-8934-d5c0948cb427","name":"Log Video","credentials":{"googleSheetsOAuth2Api":{"id":"2a7t9bbSmio220XT","name":"Dan Google Cred"}}},{"parameters":{"amount":90},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[980,280],"id":"85432a05-26e3-47bd-b10f-853f2916e874","name":"90 Seconds","webhookId":"ffdc5132-c0fe-44f6-af2b-4b3bb8894153"},{"parameters":{"amount":90},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[980,560],"id":"c49c0fe2-ec52-46bf-b1c4-93175c812a95","name":"90_Seconds","webhookId":"3ce99001-8f5a-4c0a-9b25-e3e261fcc778"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[240,560],"id":"f9f5a94d-c830-4ab4-b22b-15b6333596fc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1460,500],"id":"5188fb78-acb2-485b-8185-213502a64527","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}}],"connections":{"Generate Image":{"main":[[{"node":"90 Seconds","type":"main","index":0}]]},"Get Images":{"main":[[{"node":"Generate Videos","type":"main","index":0}]]},"Sound Agent":{"main":[[{"node":"Generate Audio","type":"main","index":0}]]},"Generate Audio":{"main":[[{"node":"Upload to Drive","type":"main","index":0}]]},"Upload to Drive":{"main":[[{"node":"Share File","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Split Out Parts","type":"main","index":0}]]},"Render Video":{"main":[[{"node":"25 Seconds","type":"main","index":0}]]},"25 Seconds":{"main":[[{"node":"Download Video","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Send Video","type":"main","index":0}]]},"Get Videos":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Sound Agent","type":"main","index":0}]]},"Generate Videos":{"main":[[{"node":"90_Seconds","type":"main","index":0}]]},"Split Out Parts":{"main":[[{"node":"Render Video","type":"main","index":0}]]},"Share File":{"main":[[{"node":"Merge","type":"main","index":2}]]},"When Executed by Another Workflow":{"main":[[{"node":"Image Prompt Agent","type":"main","index":0}]]},"4 Parts":{"ai_outputParser":[[{"node":"Image Prompt Agent","type":"ai_outputParser","index":0}]]},"Image Prompt Agent":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"Send Video":{"main":[[{"node":"Title","type":"main","index":0}]]},"Title":{"main":[[{"node":"Log Video","type":"main","index":0}]]},"90 Seconds":{"main":[[{"node":"Get Images","type":"main","index":0}]]},"90_Seconds":{"main":[[{"node":"Get Videos","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Image Prompt Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Sound Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"videoTopic":"A beaver building a house, showing the beaver gathering sticks, arranging them by a riverbank, creating a dam and then constructing a cozy lodge inside.","chatID":8056822155}}],"Image Prompt Agent":[{"json":{"output":{"Part 1":"In a tranquil forest, a determined beaver with a sleek brown coat and bright orange teeth begins its day by the shimmering riverbank. The sun filters through the lush green leaves, casting a warm glow on the scene. The beaver stands upright on its hind legs, its tiny paws clutching a freshly cut stick. Around it, a variety of sticks, twigs, and branches are scattered, their earthy colors blending perfectly with the vibrant natural setting. The river flows gently in the background, reflecting the cerulean sky and providing a serene soundtrack to the beaver's industrious morning.","Part 2":"As the day progresses, the beaver skillfully navigates the riverbank, dragging several sticks towards the water’s edge. Its expressive eyes convey determination and focus as it waddles, the sunlight glinting off its wet fur. In the background, the water ripples softly, and a few dragonflies flit about. The beaver carefully arranges the sticks in a row, creating the foundation for its dam. Nearby, colorful wildflowers sway gently in the breeze, enhancing the idyllic scenery surrounding the bustling beaver at work.","Part 3":"With the sticks neatly aligned, the beaver plunges into the flowing water, expertly securing larger branches and rocks to solidify the dam. The structure gradually takes shape under its diligent efforts, a testament to the beaver’s hard work. The river begins to pool behind the rising dam, creating a small pond reflecting the vibrant colors of the trees above. The beaver's brow is furrowed with concentration, its paws swiftly moving as it places the final pieces. Beneath the surface, fish dart around, and the sounds of chirping birds fill the air, adding life to the scene.","Part 4":"Finally, the beaver moves to the central part of its newly built dam, digging into the structure to create a cozy lodge. Inside, the beaver arranges soft moss and leaves for a comfortable nest, ensuring warmth and security. The light filters into the lodge through small openings, casting a delightful glow on the beaver's proud face. Outside, the once flowing river has transformed into a serene pond surrounding the sturdy dam, where fireflies begin to twinkle as dusk approaches, painting a perfect picture of the beaver's hard work and dedication."}}}],"Split Out":[{"json":{"output":"In a tranquil forest, a determined beaver with a sleek brown coat and bright orange teeth begins its day by the shimmering riverbank. The sun filters through the lush green leaves, casting a warm glow on the scene. The beaver stands upright on its hind legs, its tiny paws clutching a freshly cut stick. Around it, a variety of sticks, twigs, and branches are scattered, their earthy colors blending perfectly with the vibrant natural setting. The river flows gently in the background, reflecting the cerulean sky and providing a serene soundtrack to the beaver's industrious morning."}},{"json":{"output":"As the day progresses, the beaver skillfully navigates the riverbank, dragging several sticks towards the water’s edge. Its expressive eyes convey determination and focus as it waddles, the sunlight glinting off its wet fur. In the background, the water ripples softly, and a few dragonflies flit about. The beaver carefully arranges the sticks in a row, creating the foundation for its dam. Nearby, colorful wildflowers sway gently in the breeze, enhancing the idyllic scenery surrounding the bustling beaver at work."}},{"json":{"output":"With the sticks neatly aligned, the beaver plunges into the flowing water, expertly securing larger branches and rocks to solidify the dam. The structure gradually takes shape under its diligent efforts, a testament to the beaver’s hard work. The river begins to pool behind the rising dam, creating a small pond reflecting the vibrant colors of the trees above. The beaver's brow is furrowed with concentration, its paws swiftly moving as it places the final pieces. Beneath the surface, fish dart around, and the sounds of chirping birds fill the air, adding life to the scene."}},{"json":{"output":"Finally, the beaver moves to the central part of its newly built dam, digging into the structure to create a cozy lodge. Inside, the beaver arranges soft moss and leaves for a comfortable nest, ensuring warmth and security. The light filters into the lodge through small openings, casting a delightful glow on the beaver's proud face. Outside, the once flowing river has transformed into a serene pond surrounding the sturdy dam, where fireflies begin to twinkle as dusk approaches, painting a perfect picture of the beaver's hard work and dedication."}}],"Generate Image":[{"json":{"code":200,"data":{"task_id":"e1d5430d-841b-4253-bb69-4fc8f080cdbb","model":"Qubico/flux1-dev","task_type":"txt2img","status":"pending","config":{"service_mode":"","webhook_config":{"endpoint":"","secret":""}},"input":{"prompt":"In a tranquil forest, a determined beaver with a sleek brown coat and bright orange teeth begins its day by the shimmering riverbank. The sun filters through the lush green leaves, casting a warm glow on the scene. The beaver stands upright on its hind legs, its tiny paws clutching a freshly cut stick. Around it, a variety of sticks, twigs, and branches are scattered, their earthy colors blending perfectly with the vibrant natural setting. The river flows gently in the background, reflecting the cerulean sky and providing a serene soundtrack to the beaver's industrious morning.","negative_prompt":"","image":"","width":540,"height":960,"guidance_scale":0,"denoise":0,"seed":0,"steps":0,"batch_size":0,"scale":0,"return_preprocessed_image":false,"lora_settings":null,"custom_settings":null},"output":null,"meta":{"created_at":"2025-06-17T07:02:54.198196698Z","started_at":"0001-01-01T00:00:00Z","ended_at":"0001-01-01T00:00:00Z","usage":{"type":"llm","frozen":0,"consume":150000},"is_using_private_pool":false},"detail":null,"logs":[],"error":{"code":0,"raw_message":"","message":"","detail":null}},"message":"success"}},{"json":{"code":200,"data":{"task_id":"b785af62-a41c-4ad3-aefd-89c0d60b2d95","model":"Qubico/flux1-dev","task_type":"txt2img","status":"pending","config":{"service_mode":"","webhook_config":{"endpoint":"","secret":""}},"input":{"prompt":"As the day progresses, the beaver skillfully navigates the riverbank, dragging several sticks towards the water’s edge. Its expressive eyes convey determination and focus as it waddles, the sunlight glinting off its wet fur. In the background, the water ripples softly, and a few dragonflies flit about. The beaver carefully arranges the sticks in a row, creating the foundation for its dam. Nearby, colorful wildflowers sway gently in the breeze, enhancing the idyllic scenery surrounding the bustling beaver at work.","negative_prompt":"","image":"","width":540,"height":960,"guidance_scale":0,"denoise":0,"seed":0,"steps":0,"batch_size":0,"scale":0,"return_preprocessed_image":false,"lora_settings":null,"custom_settings":null},"output":null,"meta":{"created_at":"2025-06-17T07:02:54.196024319Z","started_at":"0001-01-01T00:00:00Z","ended_at":"0001-01-01T00:00:00Z","usage":{"type":"llm","frozen":0,"consume":150000},"is_using_private_pool":false},"detail":null,"logs":[],"error":{"code":0,"raw_message":"","message":"","detail":null}},"message":"success"}},{"json":{"code":200,"data":{"task_id":"0e7b8faa-af34-433e-a33a-e98249ad7b8f","model":"Qubico/flux1-dev","task_type":"txt2img","status":"pending","config":{"service_mode":"","webhook_config":{"endpoint":"","secret":""}},"input":{"prompt":"With the sticks neatly aligned, the beaver plunges into the flowing water, expertly securing larger branches and rocks to solidify the dam. The structure gradually takes shape under its diligent efforts, a testament to the beaver’s hard work. The river begins to pool behind the rising dam, creating a small pond reflecting the vibrant colors of the trees above. The beaver's brow is furrowed with concentration, its paws swiftly moving as it places the final pieces. Beneath the surface, fish dart around, and the sounds of chirping birds fill the air, adding life to the scene.","negative_prompt":"","image":"","width":540,"height":960,"guidance_scale":0,"denoise":0,"seed":0,"steps":0,"batch_size":0,"scale":0,"return_preprocessed_image":false,"lora_settings":null,"custom_settings":null},"output":null,"meta":{"created_at":"2025-06-17T07:02:54.081095181Z","started_at":"0001-01-01T00:00:00Z","ended_at":"0001-01-01T00:00:00Z","usage":{"type":"llm","frozen":0,"consume":150000},"is_using_private_pool":false},"detail":null,"logs":[],"error":{"code":0,"raw_message":"","message":"","detail":null}},"message":"success"}},{"json":{"code":200,"data":{"task_id":"cb40173e-e04e-4069-8d34-efefe1c46081","model":"Qubico/flux1-dev","task_type":"txt2img","status":"pending","config":{"service_mode":"","webhook_config":{"endpoint":"","secret":""}},"input":{"prompt":"Finally, the beaver moves to the central part of its newly built dam, digging into the structure to create a cozy lodge. Inside, the beaver arranges soft moss and leaves for a comfortable nest, ensuring warmth and security. The light filters into the lodge through small openings, casting a delightful glow on the beaver's proud face. Outside, the once flowing river has transformed into a serene pond surrounding the sturdy dam, where fireflies begin to twinkle as dusk approaches, painting a perfect picture of the beaver's hard work and dedication.","negative_prompt":"","image":"","width":540,"height":960,"guidance_scale":0,"denoise":0,"seed":0,"steps":0,"batch_size":0,"scale":0,"return_preprocessed_image":false,"lora_settings":null,"custom_settings":null},"output":null,"meta":{"created_at":"2025-06-17T07:02:54.070225266Z","started_at":"0001-01-01T00:00:00Z","ended_at":"0001-01-01T00:00:00Z","usage":{"type":"llm","frozen":0,"consume":150000},"is_using_private_pool":false},"detail":null,"logs":[],"error":{"code":0,"raw_message":"","message":"","detail":null}},"message":"success"}}],"90 Seconds":[{"json":{"code":200,"data":{"task_id":"e1d5430d-841b-4253-bb69-4fc8f080cdbb","model":"Qubico/flux1-dev","task_type":"txt2img","status":"pending","config":{"service_mode":"","webhook_config":{"endpoint":"","secret":""}},"input":{"prompt":"In a tranquil forest, a determined beaver with a sleek brown coat and bright orange teeth begins its day by the shimmering riverbank. The sun filters through the lush green leaves, casting a warm glow on the scene. The beaver stands upright on its hind legs, its tiny paws clutching a freshly cut stick. Around it, a variety of sticks, twigs, and branches are scattered, their earthy colors blending perfectly with the vibrant natural setting. The river flows gently in the background, reflecting the cerulean sky and providing a serene soundtrack to the beaver's industrious morning.","negative_prompt":"","image":"","width":540,"height":960,"guidance_scale":0,"denoise":0,"seed":0,"steps":0,"batch_size":0,"scale":0,"return_preprocessed_image":false,"lora_settings":null,"custom_settings":null},"output":null,"meta":{"created_at":"2025-06-17T07:02:54.198196698Z","started_at":"0001-01-01T00:00:00Z","ended_at":"0001-01-01T00:00:00Z","usage":{"type":"llm","frozen":0,"consume":150000},"is_using_private_pool":false},"detail":null,"logs":[],"error":{"code":0,"raw_message":"","message":"","detail":null}},"message":"success"}},{"json":{"code":200,"data":{"task_id":"b785af62-a41c-4ad3-aefd-89c0d60b2d95","model":"Qubico/flux1-dev","task_type":"txt2img","status":"pending","config":{"service_mode":"","webhook_config":{"endpoint":"","secret":""}},"input":{"prompt":"As the day progresses, the beaver skillfully navigates the riverbank, dragging several sticks towards the water’s edge. Its expressive eyes convey determination and focus as it waddles, the sunlight glinting off its wet fur. In the background, the water ripples softly, and a few dragonflies flit about. The beaver carefully arranges the sticks in a row, creating the foundation for its dam. Nearby, colorful wildflowers sway gently in the breeze, enhancing the idyllic scenery surrounding the bustling beaver at work.","negative_prompt":"","image":"","width":540,"height":960,"guidance_scale":0,"denoise":0,"seed":0,"steps":0,"batch_size":0,"scale":0,"return_preprocessed_image":false,"lora_settings":null,"custom_settings":null},"output":null,"meta":{"created_at":"2025-06-17T07:02:54.196024319Z","started_at":"0001-01-01T00:00:00Z","ended_at":"0001-01-01T00:00:00Z","usage":{"type":"llm","frozen":0,"consume":150000},"is_using_private_pool":false},"detail":null,"logs":[],"error":{"code":0,"raw_message":"","message":"","detail":null}},"message":"success"}},{"json":{"code":200,"data":{"task_id":"0e7b8faa-af34-433e-a33a-e98249ad7b8f","model":"Qubico/flux1-dev","task_type":"txt2img","status":"pending","config":{"service_mode":"","webhook_config":{"endpoint":"","secret":""}},"input":{"prompt":"With the sticks neatly aligned, the beaver plunges into the flowing water, expertly securing larger branches and rocks to solidify the dam. The structure gradually takes shape under its diligent efforts, a testament to the beaver’s hard work. The river begins to pool behind the rising dam, creating a small pond reflecting the vibrant colors of the trees above. The beaver's brow is furrowed with concentration, its paws swiftly moving as it places the final pieces. Beneath the surface, fish dart around, and the sounds of chirping birds fill the air, adding life to the scene.","negative_prompt":"","image":"","width":540,"height":960,"guidance_scale":0,"denoise":0,"seed":0,"steps":0,"batch_size":0,"scale":0,"return_preprocessed_image":false,"lora_settings":null,"custom_settings":null},"output":null,"meta":{"created_at":"2025-06-17T07:02:54.081095181Z","started_at":"0001-01-01T00:00:00Z","ended_at":"0001-01-01T00:00:00Z","usage":{"type":"llm","frozen":0,"consume":150000},"is_using_private_pool":false},"detail":null,"logs":[],"error":{"code":0,"raw_message":"","message":"","detail":null}},"message":"success"}},{"json":{"code":200,"data":{"task_id":"cb40173e-e04e-4069-8d34-efefe1c46081","model":"Qubico/flux1-dev","task_type":"txt2img","status":"pending","config":{"service_mode":"","webhook_config":{"endpoint":"","secret":""}},"input":{"prompt":"Finally, the beaver moves to the central part of its newly built dam, digging into the structure to create a cozy lodge. Inside, the beaver arranges soft moss and leaves for a comfortable nest, ensuring warmth and security. The light filters into the lodge through small openings, casting a delightful glow on the beaver's proud face. Outside, the once flowing river has transformed into a serene pond surrounding the sturdy dam, where fireflies begin to twinkle as dusk approaches, painting a perfect picture of the beaver's hard work and dedication.","negative_prompt":"","image":"","width":540,"height":960,"guidance_scale":0,"denoise":0,"seed":0,"steps":0,"batch_size":0,"scale":0,"return_preprocessed_image":false,"lora_settings":null,"custom_settings":null},"output":null,"meta":{"created_at":"2025-06-17T07:02:54.070225266Z","started_at":"0001-01-01T00:00:00Z","ended_at":"0001-01-01T00:00:00Z","usage":{"type":"llm","frozen":0,"consume":150000},"is_using_private_pool":false},"detail":null,"logs":[],"error":{"code":0,"raw_message":"","message":"","detail":null}},"message":"success"}}],"Get Images":[{"json":{"code":200,"data":{"task_id":"e1d5430d-841b-4253-bb69-4fc8f080cdbb","model":"Qubico/flux1-dev","task_type":"txt2img","status":"completed","config":{"service_mode":"","webhook_config":{"endpoint":"","secret":""}},"input":{"batch_size":0,"custom_settings":null,"denoise":0,"guidance_scale":0,"height":960,"image":"","lora_settings":null,"negative_prompt":"","prompt":"In a tranquil forest, a determined beaver with a sleek brown coat and bright orange teeth begins its day by the shimmering riverbank. The sun filters through the lush green leaves, casting a warm glow on the scene. The beaver stands upright on its hind legs, its tiny paws clutching a freshly cut stick. Around it, a variety of sticks, twigs, and branches are scattered, their earthy colors blending perfectly with the vibrant natural setting. The river flows gently in the background, reflecting the cerulean sky and providing a serene soundtrack to the beaver's industrious morning.","return_preprocessed_image":false,"scale":0,"seed":0,"steps":0,"width":540},"output":{"image_base64":"","image_url":"https://img.theapi.app/temp/0eaf9d6c-ac40-4ca4-a8e0-564b75afe02b.png"},"meta":{"created_at":"2025-06-17T07:02:54.198196698Z","started_at":"2025-06-17T07:02:54.963061303Z","ended_at":"2025-06-17T07:03:26.787771792Z","usage":{"type":"llm","frozen":0,"consume":150000},"is_using_private_pool":false},"detail":null,"logs":[],"error":{"code":0,"raw_message":"","message":"","detail":null}},"message":"success"}},{"json":{"code":200,"data":{"task_id":"b785af62-a41c-4ad3-aefd-89c0d60b2d95","model":"Qubico/flux1-dev","task_type":"txt2img","status":"completed","config":{"service_mode":"","webhook_config":{"endpoint":"","secret":""}},"input":{"batch_size":0,"custom_settings":null,"denoise":0,"guidance_scale":0,"height":960,"image":"","lora_settings":null,"negative_prompt":"","prompt":"As the day progresses, the beaver skillfully navigates the riverbank, dragging several sticks towards the water’s edge. Its expressive eyes convey determination and focus as it waddles, the sunlight glinting off its wet fur. In the background, the water ripples softly, and a few dragonflies flit about. The beaver carefully arranges the sticks in a row, creating the foundation for its dam. Nearby, colorful wildflowers sway gently in the breeze, enhancing the idyllic scenery surrounding the bustling beaver at work.","return_preprocessed_image":false,"scale":0,"seed":0,"steps":0,"width":540},"output":{"image_base64":"","image_url":"https://img.theapi.app/temp/77c0af1e-d7e7-4d24-bfac-fdd1b44c03d7.png"},"meta":{"created_at":"2025-06-17T07:02:54.196024319Z","started_at":"2025-06-17T07:02:54.962988385Z","ended_at":"2025-06-17T07:03:44.342743793Z","usage":{"type":"llm","frozen":0,"consume":150000},"is_using_private_pool":false},"detail":null,"logs":[],"error":{"code":0,"raw_message":"","message":"","detail":null}},"message":"success"}},{"json":{"code":200,"data":{"task_id":"0e7b8faa-af34-433e-a33a-e98249ad7b8f","model":"Qubico/flux1-dev","task_type":"txt2img","status":"completed","config":{"service_mode":"","webhook_config":{"endpoint":"","secret":""}},"input":{"batch_size":0,"custom_settings":null,"denoise":0,"guidance_scale":0,"height":960,"image":"","lora_settings":null,"negative_prompt":"","prompt":"With the sticks neatly aligned, the beaver plunges into the flowing water, expertly securing larger branches and rocks to solidify the dam. The structure gradually takes shape under its diligent efforts, a testament to the beaver’s hard work. The river begins to pool behind the rising dam, creating a small pond reflecting the vibrant colors of the trees above. The beaver's brow is furrowed with concentration, its paws swiftly moving as it places the final pieces. Beneath the surface, fish dart around, and the sounds of chirping birds fill the air, adding life to the scene.","return_preprocessed_image":false,"scale":0,"seed":0,"steps":0,"width":540},"output":{"image_base64":"","image_url":"https://img.theapi.app/temp/54933331-01a9-4053-86cb-a481874f7f84.png"},"meta":{"created_at":"2025-06-17T07:02:54.081095181Z","started_at":"2025-06-17T07:02:54.962637213Z","ended_at":"2025-06-17T07:03:26.935643337Z","usage":{"type":"llm","frozen":0,"consume":150000},"is_using_private_pool":false},"detail":null,"logs":[],"error":{"code":0,"raw_message":"","message":"","detail":null}},"message":"success"}},{"json":{"code":200,"data":{"task_id":"cb40173e-e04e-4069-8d34-efefe1c46081","model":"Qubico/flux1-dev","task_type":"txt2img","status":"completed","config":{"service_mode":"","webhook_config":{"endpoint":"","secret":""}},"input":{"batch_size":0,"custom_settings":null,"denoise":0,"guidance_scale":0,"height":960,"image":"","lora_settings":null,"negative_prompt":"","prompt":"Finally, the beaver moves to the central part of its newly built dam, digging into the structure to create a cozy lodge. Inside, the beaver arranges soft moss and leaves for a comfortable nest, ensuring warmth and security. The light filters into the lodge through small openings, casting a delightful glow on the beaver's proud face. Outside, the once flowing river has transformed into a serene pond surrounding the sturdy dam, where fireflies begin to twinkle as dusk approaches, painting a perfect picture of the beaver's hard work and dedication.","return_preprocessed_image":false,"scale":0,"seed":0,"steps":0,"width":540},"output":{"image_base64":"","image_url":"https://img.theapi.app/temp/1d6b3beb-6962-4887-9f3d-a29ece204ca4.png"},"meta":{"created_at":"2025-06-17T07:02:54.070225266Z","started_at":"2025-06-17T07:02:54.962517876Z","ended_at":"2025-06-17T07:03:38.599178176Z","usage":{"type":"llm","frozen":0,"consume":150000},"is_using_private_pool":false},"detail":null,"logs":[],"error":{"code":0,"raw_message":"","message":"","detail":null}},"message":"success"}}]},"versionId":"94df88f2-73ae-47dc-90ec-a2c513c4018d","triggerCount":0,"tags":[]}