My workflow 19.json
{"createdAt":"2025-06-16T08:22:27.614Z","updatedAt":"2025-06-16T08:57:11.543Z","id":"NGTYPCRNksaYgv3w","name":"My workflow 19","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Chat Model & Output Parser","height":540,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,400],"id":"6a8648e3-1267-4205-97bc-4fd0cbd46c71","name":"Sticky Note9"},{"parameters":{"content":"# Upload","height":260,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1720,-160],"id":"49960280-37f4-44a0-8364-d657f94c1f7d","name":"Sticky Note1"},{"parameters":{"content":"# 5) Render Video","height":260,"width":760,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[940,680],"id":"5bbb9476-47b3-4ebe-8a11-5f6225dbf03e","name":"Sticky Note8"},{"parameters":{"content":"# 4) Generate Sound","height":260,"width":440,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,680],"id":"36fdb399-80b8-42e5-864a-8098e0eda145","name":"Sticky Note5"},{"parameters":{"content":"# 3) Generate Videos","height":260,"width":1220,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,400],"id":"bcbd55c9-60e1-4895-8ff4-f03ffcb40521","name":"Sticky Note4"},{"parameters":{"content":"# 2) Generate Images","height":260,"width":1220,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,120],"id":"238b30ef-3436-49cd-8951-0ac6899b5911","name":"Sticky Note3"},{"parameters":{"content":"# 1) Create Story Prompts","height":260,"width":1220,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,-160],"id":"75802ba2-0b8a-4109-bcaa-54d94dba2fc1","name":"Sticky Note2"},{"parameters":{"amount":80},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1320,780],"id":"c7ca3c50-5b34-40ea-898c-e3df6fa2e1d0","name":"60 Seconds","webhookId":"01f09bb5-28d7-4abd-9209-5a5359ddadc1"},{"parameters":{"content":"# Instagram\n","height":260,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1720,120],"id":"df45402d-f73e-460c-a8a0-2ffb3504a8d9","name":"Sticky Note"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1580,780],"id":"b17bd089-e164-4759-b609-7599351c27bc","name":"10 Seconds","webhookId":"b79593c9-387d-44fc-b96b-99f374b27e03"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1080,780],"id":"416ef68c-7e40-4760-9faf-47a0f2af4889","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"04bd6607-3a27-49fe-b67a-8fa9dc0ac0a9","name":"Video","value":"={{ $('Get Videos').item.json.video.url }}","type":"string"},{"id":"f04169da-679d-4009-9bc8-c4be2de53eed","name":"Audio","value":"={{ $('Upload to Drive').item.json.webContentLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,780],"id":"abd7668a-6db3-4e2d-8d45-d41007aa3b79","name":"Grab Elements"},{"parameters":{"content":"# YouTube\n","height":260,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1720,680],"id":"248118a1-8676-4c20-b817-a6c97f24450d","name":"Sticky Note7"},{"parameters":{"content":"# TikTok","height":260,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1720,400],"id":"47df981d-94c8-406e-9ebb-5a0f990563ca","name":"Sticky Note6"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Get Story').item.json.Category }} Reimagined\",\n      \"privacyStatus\": \"unlisted\",\n      \"shouldNotifySubscribers\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get Story').item.json.Category }} Reimagined\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"ACCOUNT_ID\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1820,780],"id":"45acaf5a-a9cc-42d8-b11b-4f6bfa6b50fa","name":"YouTube"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": true,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get Story').item.json.Category }} Reimagined\",\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"ACCOUNT_ID\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1820,500],"id":"d1d3b47f-ead1-4dfc-ab67-9135551d171d","name":"TikTok"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get Story').item.json.Category }} Reimagined\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"ACCOUNT_ID\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1820,220],"id":"41046156-a10a-4f4a-9b69-8abc295a5f61","name":"Instagram","credentials":{"httpHeaderAuth":{"id":"KvnGy4FbRxGyngct","name":"Header Auth account 2"}}},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.URL }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1880,-60],"id":"e585da20-c841-478a-b4fc-8cc453a9699c","name":"Upload to Blotato"},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1760,-60],"id":"722206bc-4507-4d58-ab9b-693fab82e111","name":"Google Sheets"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,780],"id":"7290be88-c2f9-4a0b-aef8-3baf453b1484","name":"Download Video","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.creatomate.com/v1/renders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR API KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_id\": \"7a93dc0c-fa19-47d2-8be7-9bfde6ddae9f\",\n  \"modifications\": {\n    \"Video-1.source\": \"{{ $json.data[0].Video }}\",\n    \"Video-2.source\": \"{{ $json.data[1].Video }}\",\n    \"Video-3.source\": \"{{ $json.data[2].Video }}\",\n    \"Video-4.source\": \"{{ $json.data[3].Video }}\",\n    \"Audio-1.source\": \"{{ $json.data[0].Audio }}\",\n    \"Audio-2.source\": \"{{ $json.data[1].Audio }}\",\n    \"Audio-3.source\": \"{{ $json.data[2].Audio }}\",\n    \"Audio-4.source\": \"{{ $json.data[3].Audio }}\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,780],"id":"049310b0-65c7-4251-bfd3-7a9fbc06463b","name":"Render Video"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[780,780],"id":"d56aed81-52a0-4032-9946-8bbac630f79e","name":"Share File"},{"parameters":{"name":"={{ $('Get Story').item.json.Category }}.mp3","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[640,780],"id":"95f40c2f-80bf-4764-8539-106cc1078b40","name":"Upload to Drive","executeOnce":false},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/sound-generation","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk_ace3229760dcf0032edd8df775bf261fc69c2ef484ac97df"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $('Prompt Generator').item.json.output.audio_prompt }}"},{"name":"duration_seconds","value":"5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,780],"id":"00866eed-bd9c-446f-bdee-d25bceb15c11","name":"Generate Audio"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f9113c83-7b43-4dbe-830f-18a814c3f1f7","leftValue":"={{ $input.all().filter(item => item.json.status === \"IN_PROGRESS\" || item.json.status === \"IN_QUEUE\").length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1100,220],"id":"8e21733c-80c8-4609-b8d9-0d86e7b4e4d4","name":"Images Done?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f9113c83-7b43-4dbe-830f-18a814c3f1f7","leftValue":"={{ $input.all().filter(item => item.json.status === \"IN_PROGRESS\" || item.json.status === \"IN_QUEUE\").length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1100,500],"id":"1e9e6155-f214-4f70-b5d2-d549b7713872","name":"Videos Done?"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1300,500],"id":"e14a3b66-ee8f-46f7-80a8-2716b7cb2899","name":"20 Seconds","webhookId":"3df950c4-9116-466b-99ac-6c768615d247"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1300,220],"id":"9e5eff9f-d90b-4592-be7e-6c45c2a77d8b","name":"3 Seconds","webhookId":"0a175f88-ae3a-4f35-b7c6-a9ae6deab1d5"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/kling-video/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,500],"id":"a7dcb7af-228b-435d-a217-beae6a8afdd6","name":"Get Videos","credentials":{"httpHeaderAuth":{"id":"tImW1UUZqNiJXBdl","name":"Header Auth account"}}},{"parameters":{"url":"=https://queue.fal.run/fal-ai/kling-video/requests/{{ $('Generate Videos').item.json.request_id }}/status","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,500],"id":"4fef872e-4cd2-43a7-b660-80eccb690acf","name":"Get Video Status","credentials":{"httpHeaderAuth":{"id":"tImW1UUZqNiJXBdl","name":"Header Auth account"}}},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[740,500],"id":"f290ed4a-da20-4bd4-b8c5-222ad1d4868a","name":"5 Minutes","webhookId":"c955252e-d3cb-47c8-a774-53d16c56a78b"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/kling-video/v1.6/pro/image-to-video","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $('Prompt Generator').item.json.output.video_prompt }}"},{"name":"image_url","value":"={{ $json.images[0].url }}"},{"name":"aspect_ratio","value":"9:16"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,500],"id":"dc2da5cf-092d-47c7-b3ec-c880a5c9ae7f","name":"Generate Videos","credentials":{"httpHeaderAuth":{"id":"tImW1UUZqNiJXBdl","name":"Header Auth account"}}},{"parameters":{"url":"=https://queue.fal.run/fal-ai/flux-pro/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,220],"id":"1319bcb1-e737-4323-8ed2-b9280294a603","name":"Get Images","credentials":{"httpHeaderAuth":{"id":"tImW1UUZqNiJXBdl","name":"Header Auth account"}}},{"parameters":{"url":"=https://queue.fal.run/fal-ai/flux-pro/requests/{{ $json.request_id }}/status","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,220],"id":"61a856d9-9006-418f-b56d-4a037cddca07","name":"Get Status","credentials":{"httpHeaderAuth":{"id":"tImW1UUZqNiJXBdl","name":"Header Auth account"}}},{"parameters":{"amount":12},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[740,220],"id":"62988a59-eb4c-45b1-91af-c6ab353b21f4","name":"12 Seconds","webhookId":"1edecdff-d63e-4821-81a4-794545558e7e"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/flux-pro/v1.1-ultra","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.output.image_prompt }}"},{"name":"aspect_ratio","value":"9:16"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,220],"id":"7a65f762-967b-4d3f-a23a-ab27c02a7748","name":"Generate Images","credentials":{"httpHeaderAuth":{"id":"tImW1UUZqNiJXBdl","name":"Header Auth account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"brand\": \"[Brand Name]\",\n  \"image_prompt\": \"[Detailed visual description]\",\n  \"video_prompt\": \"[5-second cinematic loop prompt]\",\n  \"audio_prompt\": \"[Immersive, brand-aligned music description]\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[300,580],"id":"febcc7c3-3355-4813-91ec-4f44fe5bbf1d","name":"Prompts"},{"parameters":{"fieldToSplitOut":"Brands","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1140,-80],"id":"919bc6f9-f8e4-448b-8cfa-3291bfda9068","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"62154da3-9df0-474a-86b0-87c687bbbb7a","name":"Brands","value":"=[\"{{ $json['Brand 1'] }}\",\"{{ $json['Brand 2'] }}\",\"{{ $json['Brand 3'] }}\",\"{{ $json['Brand 4'] }}\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,-80],"id":"9c43bbd3-dbab-4d24-83ee-5292e8e0a789","name":"Set Brands"},{"parameters":{"promptType":"define","text":"={{ $('Get Story').item.json.Category }} Brand: {{ $json.Brands }}","hasOutputParser":true,"options":{"systemMessage":"=# System Prompt: Reimagine Famous Brands as Tiny, Visually Satisfying Buildings\n\n## Overview\n\nYou are a **multimodal creative AI** that transforms **famous brands into tiny, hyper-realistic, visually satisfying digital resources**.\n\nYou will be given the name of a well-known brand. Your job is to output:\n\n1. A **highly detailed image prompt** that describes a **miniature architectural structure** inspired by the brand. The building should be **hyper-realistic**, include **tiny people**, and have a **satisfying, well-composed scene**.\n\n   - The shape of the building must be a **distinct, exaggerated form tied directly to the brand** — such as its most iconic **product**, **logo**, or **symbol**.\n   - The building must be clearly recognizable as a **functioning structure**, with **windows, a door, or visible interior space**.\n   - There should always be **tiny people** in or around it to show scale and life.\n\n2. A **cinematic video prompt** describing a **5-second loopable animation** where the building is the clear focal point. The scene should feature:\n   - A mostly still or gently rotating camera\n   - Dynamic motion from **tiny characters**, **machinery**, or **environmental elements** like steam, lights, or swaying plants\n   - A sense of cozy immersion and satisfying movement\n\n3. An **immersive audio prompt** that complements the video. This should be:\n   - Music only (no sound effects or voices)\n   - Deeply aligned with the brand’s **vibe and culture**\n   - Designed to feel **soothing, ambient, lo-fi, or emotionally satisfying**\n\nIt is **critical** that the brand is **immediately recognizable** from the visual. That means the **logo**, **brand colors**, or **product forms** must be prominently integrated into the building design. The entire experience should feel **visually rich, emotionally cozy, and creatively delightful**.\n\n---\n\n## Output Format\n\nFor each brand, respond with:\n\n- **Image Prompt:**  \n- **Video Prompt:**  \n- **Audio Prompt:**  \n\n---\n\n## Example Output (Brand: Nike)\n\n**Image Prompt:**  \nA hyperrealistic tiny building shaped like a Nike Air Max sneaker, converted into a miniature sports center. The giant shoe structure has glowing mesh windows on the sides and a working front door embedded in the tongue. A massive white swoosh glows on both sides of the building. Miniature people in athletic wear jog on a looped path that circles the building, while others stretch on yoga mats on a rooftop patio. Stacks of Nike shoeboxes are used as seating and signage around the structure.\n\n**Video Prompt:**  \nA slow 5-second cinematic pan from right to left at sunset. Tiny joggers move rhythmically on the looping track while others pass in and out of the glowing doorway. Steam gently rises from rooftop vents, the swoosh lights pulse softly, and trees rustle in the background. The scene feels active yet serene.\n\n**Audio Prompt:**  \nA chill, motivational lo-fi beat featuring layered synths, soft hi-hats, and deep ambient bass. The rhythm is smooth and repetitive, giving off a cool, athletic vibe like a soundtrack to an early morning workout.\n\n---\n\nEach scene you generate should be **hyper-recognizable, richly imaginative, and deeply satisfying.** The prompts must work together to create a miniature branded world that viewers will want to step into.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1340,-80],"id":"59388c2b-8901-4a81-95a1-8d1112982329","name":"Prompt Generator"},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"value":"","mode":"list","cachedResultName":"","cachedResultUrl":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[780,-80],"id":"f13753c9-44fb-422a-8cc0-9fa63ff5b178","name":"Get Story","credentials":{"googleSheetsOAuth2Api":{"id":"0e2MdtnLl9hGCdxD","name":"Google Sheets account 2"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[560,-80],"id":"87fc41b7-50ea-497b-b23f-bda02baa097a","name":"Schedule Trigger"},{"parameters":{"content":"# 🛠️ SETUP GUIDE  \n## **Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\n### 1. Make a copy of the [Google Sheet Template](https://docs.google.com/spreadsheets/d/1cGcCC8JnfPJu5TCAMFcQiMMPxuEENiauS_h_CvC2Nqc/edit?usp=sharing) and connect it to your n8n workflow.  \n### 2. Connect your [OpenRouter](https://openrouter.ai/) API key.  \n### 3. Connect your [FAL AI](https://fal.ai/) API key.  \n### 4. Connect your [Eleven Labs](https://try.elevenlabs.io/bzis5j24bluk) API key.  \n### 5. Connect to your Google Drive account.  \n### 6. Create your video template in [Creatomate](https://creatomate.com/). You can find the required source code [here](https://docs.google.com/document/d/1I3Rtm7r6zyIkZXTJS4nRjZsCabmREDHfz6iXfiVfXh4/edit?usp=sharing).  \n### 7. Paste your Creatomate **template ID** into the \"Render Video\" HTTP Request node.  \n### 8. Connect your Creatomate API key.  \n### 9. Connect your [Blotato](https://blotato.com/?ref=nate) API key *(use promo code **NATE30** for 30% off for 6 months)*.  \n### 10. Connect your **account IDs** to the Instagram node, TikTok node, and YouTube node.\n","height":540,"width":720},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-260,-160],"id":"fa785308-dcdf-449f-94b5-2fed722f7816","name":"Sticky Note10"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[300,780],"id":"e6b6ce9d-94ac-4046-a6c3-01bca82a6069","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}}],"connections":{"60 Seconds":{"main":[[{"node":"Download Video","type":"main","index":0}]]},"10 Seconds":{"main":[[{"node":"Download Video","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Render Video","type":"main","index":0}]]},"Grab Elements":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Upload to Blotato":{"main":[[{"node":"YouTube","type":"main","index":0},{"node":"Instagram","type":"main","index":0},{"node":"TikTok","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Upload to Blotato","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Google Sheets","type":"main","index":0}],[{"node":"10 Seconds","type":"main","index":0}]]},"Render Video":{"main":[[{"node":"60 Seconds","type":"main","index":0}]]},"Share File":{"main":[[{"node":"Grab Elements","type":"main","index":0}]]},"Upload to Drive":{"main":[[{"node":"Share File","type":"main","index":0}]]},"Generate Audio":{"main":[[{"node":"Upload to Drive","type":"main","index":0}]]},"Images Done?":{"main":[[{"node":"Get Images","type":"main","index":0}],[{"node":"3 Seconds","type":"main","index":0}]]},"Videos Done?":{"main":[[{"node":"Get Videos","type":"main","index":0}],[{"node":"20 Seconds","type":"main","index":0}]]},"20 Seconds":{"main":[[{"node":"Get Video Status","type":"main","index":0}]]},"3 Seconds":{"main":[[{"node":"Get Status","type":"main","index":0}]]},"Get Videos":{"main":[[{"node":"Generate Audio","type":"main","index":0}]]},"Get Video Status":{"main":[[{"node":"Videos Done?","type":"main","index":0}]]},"5 Minutes":{"main":[[{"node":"Get Video Status","type":"main","index":0}]]},"Generate Videos":{"main":[[{"node":"5 Minutes","type":"main","index":0}]]},"Get Images":{"main":[[{"node":"Generate Videos","type":"main","index":0}]]},"Get Status":{"main":[[{"node":"Images Done?","type":"main","index":0}]]},"12 Seconds":{"main":[[{"node":"Get Status","type":"main","index":0}]]},"Generate Images":{"main":[[{"node":"12 Seconds","type":"main","index":0}]]},"Prompts":{"ai_outputParser":[[{"node":"Prompt Generator","type":"ai_outputParser","index":0}]]},"Split Out":{"main":[[{"node":"Prompt Generator","type":"main","index":0}]]},"Set Brands":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Prompt Generator":{"main":[[{"node":"Generate Images","type":"main","index":0}]]},"Get Story":{"main":[[{"node":"Set Brands","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Story","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Prompt Generator","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b42fcdd1-a579-4677-a365-5da3cdcf9266","triggerCount":0,"tags":[]}