My workflow 25.json
{"createdAt":"2025-06-23T07:59:55.203Z","updatedAt":"2025-06-23T08:12:55.842Z","id":"bezwuEJpxDiUSDrz","name":"My workflow 25","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a helpful assistant that will use to calculate mathematical expression using calculator tool."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[20,20],"id":"7343430d-1ad2-49cd-b28f-f0ec22624022","name":"AI Agent"},{"parameters":{"workflowId":{"__rl":true,"value":"CnjHn2mP6acpIjMI","mode":"list","cachedResultName":"Logger"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{$execution.id}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[580,20],"id":"76a11014-76a2-42bf-9944-a27eab3ed609","name":"Execute Workflow"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[180,240],"id":"f7327546-c12c-4535-9527-643badd00235","name":"Calculator"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[60,240],"id":"7db6d5cb-1261-44c1-8b14-c7b30b9e471d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"zD5wfo9phRcLkpGK","name":"OpenAi account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-240,40],"id":"43a59c01-b0d1-418b-892a-515a486243f5","name":"When chat message received","webhookId":"6ac1ef16-4073-434e-823e-ac1c83796c85"}],"connections":{"AI Agent":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4a48e59c-1d28-459b-bf23-1471358be477","triggerCount":0,"tags":[]}