My workflow 11.json
{"createdAt":"2025-05-06T06:21:15.482Z","updatedAt":"2025-05-06T06:21:55.891Z","id":"1k400vduap0SE32O","name":"My workflow 11","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-300,-220],"id":"b5526c30-2bb2-4b7f-9d4e-12706c3a15ff","name":"When chat message received","webhookId":"37460748-9c62-4ff9-822f-a654f61000c2"},{"parameters":{"inputText":"={{ $json.chatInput }}","categories":{"categories":[{"category":"SHIPPING","description":"If messages related with raising a new shipping request"},{"category":"INVENTORY","description":"If messages related with adding item into an inventory"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-80,-220],"id":"5cfe982b-8250-4cf8-aa45-8aea57a4a510","name":"Text Classifier"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-60,60],"id":"5f3e9e95-a65f-4843-affd-df3ff2dd3915","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6d4ea593-d487-44f2-bc1e-190f8e9677a6","triggerCount":0,"tags":[]}