Narrato-VidVoice-Generator.json
{"createdAt":"2025-08-12T06:41:20.643Z","updatedAt":"2025-08-12T11:33:32.050Z","id":"EYxIIyxSeabAsnVI","name":"Narrato-VidVoice-Generator","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-912,320],"id":"27936d0d-86aa-4e25-9576-5725785f3266","name":"Telegram Trigger","webhookId":"1ecc1353-b700-4a05-bdf5-64c1078b1913","credentials":{"telegramApi":{"id":"FPmr9iMwSK4zWVHr","name":"Narrato-VidVoice"}}},{"parameters":{"promptType":"define","text":"=caption :: {{ $json.message.caption }}\nvideo :: {{ $json.message.video.file_id }}","hasOutputParser":true,"options":{"systemMessage":"You are an AI validation agent for the \"Narrato\" workflow. \nYour role is to check if the user has provided BOTH:\n1. A video file (mp4, mov, avi, or similar format)  \n2. A caption text (string) to be used for voice generation.\n\nRules:\n- If BOTH are present → Confirm readiness to proceed with voice generation and appending to video.  \n- If the video is missing → Politely ask the user to upload their video file.  \n- If the caption text is missing → Politely ask the user to provide the caption text.  \n- If both are missing → Politely ask the user to send both the video and the caption text.  \n\nOutput format:  \nplease use the output parser i want json to with both links\nAdd caption text on textMessage key of output parser same at is do not change any thing\nDo not proceed with any processing unless both inputs are present.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-240,144],"id":"0f390217-acb9-4c78-8cb6-edc388c51b84","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-224,320],"id":"c791dbfb-2a47-46e3-b251-a0d8bd2d2c22","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Hi, I’m Narrato 🤖✨! I can add a natural-sounding voice to your videos 🎥 using your caption text 📝. Please send me both the video and the text so I can get started","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-160,608],"id":"635d4210-1fdc-4f0c-8efd-38d5fc3b45de","name":"Send a text message","webhookId":"ba02895f-4b6b-4bcc-a43c-30c7fb9f4701","credentials":{"telegramApi":{"id":"FPmr9iMwSK4zWVHr","name":"Narrato-VidVoice"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"textMessage\": \"California\",\n\t\"videoLink\": [\"Los Angeles\", \"San Francisco\", \"San Diego\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-80,320],"id":"1fdb5573-b34e-43f8-9f9f-855ca252e704","name":"Structured Output Parser"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.video.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[128,192],"id":"d77a248b-0bb5-41c6-b4a6-0e78f4070319","name":"Get a file","webhookId":"b570937a-14e5-47ec-afb5-3b31eae04010","credentials":{"telegramApi":{"id":"FPmr9iMwSK4zWVHr","name":"Narrato-VidVoice"}}},{"parameters":{"resource":"speech","voice":{"__rl":true,"value":"29vD33N1CtxCmqQRPOHJ","mode":"list","cachedResultName":"Drew"},"text":"={{ $('AI Agent').item.json.output.textMessage }}","additionalOptions":{"model":{"mode":"list","value":"eleven_multilingual_v2"},"outputFormat":"mp3_44100_128","voiceSettings":"{\n  \"stability\": 1,\n  \"similarity_boost\": 1,\n  \"style\": 0,\n  \"use_speaker_boost\": true,\n  \"speed\": 1\n}"},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[576,192],"id":"1b73d52c-a4c3-47ef-a810-8a99cab2c36f","name":"Convert text to speech1","credentials":{"elevenLabsApi":{"id":"0qhIH7aSHb9tfkH3","name":"ElevenLabs account"}}},{"parameters":{"method":"POST","url":"https://api.creatomate.com/v1/renders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 054721bbc723483b8001dbd4c7672d1161af151489c3aaf92c581758f2d860b9f5df88c4c1a9d0651599207f0a596721"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_id\": \"c3d11a82-1f1c-47a4-9af1-1d94baed62c3\",\n  \"output_format\": \"mp4\",\n  \"modifications\": {\n    \"Video-1.source\": \"{{ $('Upload Video To Drive').item.json.webViewLink }}\",\n    \"Voiceover-1.source\": \"{{ $json.webContentLink }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,192],"id":"7e9ae764-a730-41df-ad6a-82f73213f8eb","name":"Render Video"},{"parameters":{"url":"=https://api.creatomate.com/v1/renders/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 054721bbc723483b8001dbd4c7672d1161af151489c3aaf92c581758f2d860b9f5df88c4c1a9d0651599207f0a596721"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,128],"id":"f8de6fb6-8c7a-42e9-92ed-67ee1f3fb1e4","name":"HTTP Request"},{"parameters":{"amount":50},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1248,192],"id":"fcfd2393-03ab-4f5a-a892-6a12c9635234","name":"Wait1","webhookId":"982cf2a7-5791-4136-812a-ad9b34ce3c9f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"be89462a-97ec-4797-a80f-2056c7eadfd4","leftValue":"={{ $json.status }}","rightValue":"succeeded","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1696,192],"id":"145a0cf4-494c-4ccd-a808-0b17d8c5698a","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa827f16-484c-4d0a-afe4-6df21bc9cac4","leftValue":"={{ $json.message.caption }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"0e740d32-5661-4402-8501-90ec5565bc61","leftValue":"={{ $json.message.video.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-512,320],"id":"2610a480-530a-4df2-81ea-847cc116d4ca","name":"If2"},{"parameters":{"name":"=audio-{{ $now }}.mp3","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1RhRiqv2oyxWGGB13xFxoTArswEW4KjPP","mode":"list","cachedResultName":"Audio Files","cachedResultUrl":"https://drive.google.com/drive/folders/1RhRiqv2oyxWGGB13xFxoTArswEW4KjPP"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[800,192],"id":"52a74290-4011-44a3-a74d-e6a162e59582","name":"Upload Audio to Drive","credentials":{"googleDriveOAuth2Api":{"id":"z29QCHSTFbuYhWdz","name":"Dan Drive Account"}}},{"parameters":{"name":"=video-{{ $now }}.mp4","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1JuJE9XWGf4rOmpLrs647KTgzveLR1Ou2","mode":"list","cachedResultName":"Connie - Generated Videos","cachedResultUrl":"https://drive.google.com/drive/folders/1JuJE9XWGf4rOmpLrs647KTgzveLR1Ou2"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[352,192],"id":"f7e99329-61fc-4b19-b37f-69c8e38414de","name":"Upload Video To Drive","credentials":{"googleDriveOAuth2Api":{"id":"z29QCHSTFbuYhWdz","name":"Dan Drive Account"}}},{"parameters":{"operation":"sendVideo","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","file":"={{ $json.url }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2112,176],"id":"36b574e8-290c-4612-ba1e-8f79956e1dd5","name":"Send a video","webhookId":"3fca57fa-de5c-487a-af87-0f359cb0aed8","credentials":{"telegramApi":{"id":"FPmr9iMwSK4zWVHr","name":"Narrato-VidVoice"}}},{"parameters":{},"type":"n8n-nodes-base.stickyNote","position":[736,192],"typeVersion":1,"id":"7bb43b0e-7216-415a-a013-66388f0ece89","name":"Sticky Note"},{"parameters":{"content":"## Trigger","height":336,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1040,208],"typeVersion":1,"id":"a9f845cf-762b-4962-b453-bfb041adbf96","name":"Sticky Note1"},{"parameters":{"content":"## Check Point","height":336,"width":304,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-704,208],"typeVersion":1,"id":"3da9eabc-64c0-4d1d-afe7-5fc2caf3c983","name":"Sticky Note2"},{"parameters":{"content":"## Handler Error","height":336,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-256,512],"typeVersion":1,"id":"3f8a892b-3fea-41a2-b41e-b3e41866bbf0","name":"Sticky Note3"},{"parameters":{"content":"## Handler Download Files and create video and audio","height":560,"width":1792,"color":6},"type":"n8n-nodes-base.stickyNote","position":[112,16],"typeVersion":1,"id":"8f9f5fe2-4cac-4e6f-9211-63f32c5ed6e8","name":"Sticky Note4"},{"parameters":{"content":"## Check Point","height":384,"width":448,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-368,64],"typeVersion":1,"id":"cd4dd362-40ac-4460-a5a6-32ce1277c19d","name":"Sticky Note5"},{"parameters":{"content":"## Response","height":576,"width":432,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1936,0],"typeVersion":1,"id":"52c112dc-0a4a-474f-b19b-30cad0835329","name":"Sticky Note6"}],"connections":{"Telegram Trigger":{"main":[[{"node":"If2","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Get a file","type":"main","index":0}],[]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Convert text to speech1":{"main":[[{"node":"Upload Audio to Drive","type":"main","index":0}]]},"Render Video":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"If":{"main":[[{"node":"Send a video","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Upload Video To Drive","type":"main","index":0}]]},"If2":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Send a text message","type":"main","index":0}]]},"Upload Audio to Drive":{"main":[[{"node":"Render Video","type":"main","index":0}]]},"Upload Video To Drive":{"main":[[{"node":"Convert text to speech1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"daaffb2e-da59-4e62-8bfa-4e9eea740ca6","triggerCount":1,"tags":[]}