New dashboard.json
{"createdAt":"2025-07-07T07:25:07.501Z","updatedAt":"2025-07-07T08:57:38.471Z","id":"huCEbwbO6x4H95Dt","name":"New dashboard","active":false,"isArchived":true,"nodes":[{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-800,-100],"id":"7b77e644-86ad-45c1-a3b1-4622df38b8b7","name":"When chat message received","webhookId":"b5629c57-7796-4cd2-9565-7c710504b0c9"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields').item.json.Message }}","options":{"systemMessage":"=You are an intelligent and helpful Ai assistant.\n\nquery : {{ $('Edit Fields').item.json.Message }}\n\nTools:\nAgent' executions data1\nAgent's last executions1\n\nIf query is related to greeting messaages like Hi Hello How are you , \nReturn response in formal conversation of greetings.\n\n- If query is related to Agent's execution high-level data like Success percentage, failure percentage, total executions, childs etc.:\nCall Agent' executions data tool.\nInstructions:\nAnswer the user query based on data we got.\nIf you dont find answer in the data you got,\nAnswer with \"Its not related to the Agent's data\".\nParent agents have child agents in Childs.\nImportant: If not mentioned always answer for Parent agent only not for Childs.(Dont mention this instruction in answer)\nDo not hallucinate or add extra information on yourself answer should be from data only not from your side.\nIf only agents name is mentioned not a specific one answer about parent agent not all.\nReturn answer in a professional way along with some emojis.\n\n- If query is related to Agent's last executions low-level data like status, input and output details.:\nCall Agent's last executions tool.\nInstructions:\nAnswer the user query based on data we got.\nIf you dont find answer in the data you got,\nAnswer with \"Its not related to the Agent's data\".\nUse the execution time to identify the last execution.\nDo not hallucinate or add extra information on yourself answer should be from data only not from your side.\nIt contains only parent agents executions if asked about child's executions answer with \"Its not related to the Parent Agent's data ask about Parent\".\nReturn answer in a professional way along with some emojis."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-48,-500],"id":"2ac94941-f3ce-447a-ae25-c41107e753aa","name":"AI Agent3"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-140,-280],"id":"332c06ba-212a-45af-9ee7-b0cd8b9f62db","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=cg_admin_newest","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-20,-280],"id":"b0f70081-44bf-457c-9774-b00598c9dc74","name":"Simple Memory1"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-800,-300],"id":"b8ca7ba5-1e37-4e01-a767-70811ddb122d","name":"Telegram Trigger","webhookId":"f20f93ae-ae49-4911-9bfb-cb548c24fe8a","credentials":{"telegramApi":{"id":"yjTIjxaXNqale9Gp","name":"Dan Dashboard bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d83bac53-7159-4eb0-b848-b68e999890d7","leftValue":"={{ $('Edit Fields').item.json.chatId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-360,-200],"id":"31ad4849-4ad6-4c82-9a74-a6086e97e566","name":"If"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[420,-400],"id":"45f0d5e9-00bd-4983-bcf2-38e8c8fba2dc","name":"Send a text message","webhookId":"e3d1e0b2-5569-43d4-9fcb-fd2df4cb2eed","credentials":{"telegramApi":{"id":"yjTIjxaXNqale9Gp","name":"Dan Dashboard bot"}}},{"parameters":{"assignments":{"assignments":[{"id":"9b582c25-7353-4777-ad37-b276f7efd8a1","name":"=Message","value":"={{ $json[\"message\"]?.text || $json[\"chatInput\"] }}","type":"string"},{"id":"97fac2ff-5fec-4b4e-b795-6da3f27085da","name":"chatId","value":"={{ $json.message.chat.id  }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-580,-200],"id":"7ebafd27-82de-48de-a12d-9b1d80517c08","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields').item.json.Message }}","options":{"systemMessage":"=You are an intelligent and helpful Ai assistant.\n\nquery : {{ $('Edit Fields').item.json.Message }}\n\nTools:\nAgent' executions data\nAgent's last executions\n\nIf query is related to greeting messaages like Hi Hello How are you , \nReturn response in formal conversation of greetings.\n\n- If query is related to Agent's execution high-level data like Success percentage, failure percentage, total executions, childs etc.:\nCall Agent' executions data tool.\nInstructions:\nAnswer the user query based on data we got.\nIf you dont find answer in the data you got,\nAnswer with \"Its not related to the Agent's data\".\nParent agents have child agents in Childs.\nImportant: If not mentioned always answer for Parent agent only not for Childs.(Dont mention this instruction in answer)\nDo not hallucinate or add extra information on yourself answer should be from data only not from your side.\nIf only agents name is mentioned not a specific one answer about parent agent not all.\nReturn answer in a professional way along with some emojis.\n\n- If query is related to Agent's last executions low-level data like status, input and output details.:\nCall Agent's last executions tool.\nInstructions:\nAnswer the user query based on data we got.\nIf you dont find answer in the data you got,\nAnswer with \"Its not related to the Agent's data\".\nUse the execution time to identify the last execution.\nDo not hallucinate or add extra information on yourself answer should be from data only not from your side.\nIt contains only parent agents executions if asked about child's executions answer with \"Its not related to the Parent Agent's data ask about Parent\".\nReturn answer in a professional way along with some emojis."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-48,0],"id":"50c0249b-3f3d-41a1-abd1-402168cd2af1","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-140,220],"id":"c7668ffa-1af7-444a-ba6a-1c837d5eedeb","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=cg_admin_newest","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-20,220],"id":"70267cf9-a94b-4027-9dbb-95951ec031d8","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"=Call this tool to get data related to agent and child agents execution data like Success percentage, failure percentage, total executions, childs etc.","operation":"search","base":{"__rl":true,"value":"appDhxpnl9eqpJm7z","mode":"list","cachedResultName":"Agents","cachedResultUrl":"https://airtable.com/appDhxpnl9eqpJm7z"},"table":{"__rl":true,"value":"tblcHZxjHzUPdYcPW","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appDhxpnl9eqpJm7z/tblcHZxjHzUPdYcPW"},"filterByFormula":"=","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[220,220],"id":"96b6b79d-8b55-4bba-a228-ec19382ac71d","name":"Agents'executions data","credentials":{"airtableTokenApi":{"id":"LUV09oDP5v1QpIcn","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Call this tool to get data related to agent and child agents execution data like Success percentage, failure percentage, total executions, childs etc.","operation":"search","base":{"__rl":true,"value":"appDhxpnl9eqpJm7z","mode":"list","cachedResultName":"Agents","cachedResultUrl":"https://airtable.com/appDhxpnl9eqpJm7z"},"table":{"__rl":true,"value":"tblcHZxjHzUPdYcPW","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appDhxpnl9eqpJm7z/tblcHZxjHzUPdYcPW"},"filterByFormula":"=","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[220,-280],"id":"684177bd-257d-4cb4-be74-813a0849f362","name":"Agents'executions data1","credentials":{"airtableTokenApi":{"id":"LUV09oDP5v1QpIcn","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"=Call this tool to get data related to agent's last executions like status, input and output details.","operation":"search","base":{"__rl":true,"value":"appDhxpnl9eqpJm7z","mode":"list","cachedResultName":"Agents","cachedResultUrl":"https://airtable.com/appDhxpnl9eqpJm7z"},"table":{"__rl":true,"value":"tblKXDysiqT2sq4Wd","mode":"list","cachedResultName":"Executions","cachedResultUrl":"https://airtable.com/appDhxpnl9eqpJm7z/tblKXDysiqT2sq4Wd"},"filterByFormula":"=","options":{"view":{"mode":"list","value":""}}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[100,220],"id":"8cd6d8e3-77be-475a-90e6-24f1f51569e6","name":"Agent's last executions","credentials":{"airtableTokenApi":{"id":"LUV09oDP5v1QpIcn","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Call this tool to get data related to agent's last executions like status, input and output details.","operation":"search","base":{"__rl":true,"value":"appDhxpnl9eqpJm7z","mode":"list","cachedResultName":"Agents","cachedResultUrl":"https://airtable.com/appDhxpnl9eqpJm7z"},"table":{"__rl":true,"value":"tblKXDysiqT2sq4Wd","mode":"list","cachedResultName":"Executions","cachedResultUrl":"https://airtable.com/appDhxpnl9eqpJm7z/tblKXDysiqT2sq4Wd"},"filterByFormula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', ``, 'string') }}","options":{"view":{"mode":"list","value":""}}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[100,-280],"id":"1670280b-6a8c-49e9-866d-06200fef9442","name":"Agent's last executions1","credentials":{"airtableTokenApi":{"id":"LUV09oDP5v1QpIcn","name":"Airtable Personal Access Token account 2"}}}],"connections":{"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent3","type":"ai_memory","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent3","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Agents'executions data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Agents'executions data1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Agent's last executions":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Agent's last executions1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"75db33f2-57b5-425e-bcf2-19e9618d3cb1","triggerCount":0,"tags":[]}