Notion Test.json
{"createdAt":"2025-06-02T06:18:16.475Z","updatedAt":"2025-06-02T09:29:08.149Z","id":"nne0DQ8L5WPuvfNZ","name":"Notion Test","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"=You are a professional business analyst and technical proposal writer.\n\nYour job is to create a comprehensive **Deal Proposal Document** in Notion format.\n\nThe user will provide a `dealName`, e.g., \"Santorio-Ai\". The proposal should include structured sections, tables, and bullet points to outline the scope, value, and strategic benefits of the deal.\n\n[Instructions]\n1. Use the provided `dealName` throughout the proposal as the project title.\n2. Include key sections like:\n   - Executive Summary\n   - Problem Statement\n   - Proposed Solution\n   - Key Features\n   - Team Involved\n   - Next Steps\nwhere needed, bullet lists, and tables.\n\n4.Deal Proposal formate should be propoer html formate \n\n[Output Format]\nReturn the full deal proposal using the given `dealName`. Format it in html style.\n\n4. Genrate Short Deal proposal not long\n\nFinalOutput\n- DealName: {dealname}-proposal-{{ $now.format('yyyy-MM-dd') }}\n- finalProposal: {the complete HTML formatted proposal you just created}\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[40,-20],"id":"1703e653-d5bc-427a-aa04-65ed3ebe1039","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[68,200],"id":"af38ebe4-fc9a-42d4-9b93-895443062a22","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"DealName\": \"\",\n\t\"finalProposal\":\"\" \n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[188,200],"id":"ac0c3ee1-6248-436b-92b0-60123c0c7155","name":"Structured Output Parser"},{"parameters":{"descriptionType":"manual","toolDescription":"Call  this tool always to stored generated deal proposal into notion","pageId":{"__rl":true,"value":"https://www.notion.so/Deal-Proposal-20694557268a809bacb4e026932f3c19","mode":"url"},"title":"={{ $('AI Agent').item.json.output.DealName }}","blockUi":{"blockValues":[{"textContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('blockValues0_Text', `Parse all html  content from html and store into notion without html tags with proper formatting which mentions into html\nDo not keep ** and and ## markdown `, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[600,180],"id":"27be0a77-75a3-46b9-aa72-83018b55d0b3","name":"Store Deal Proposal","credentials":{"notionApi":{"id":"fFAsAEsumizkIxDS","name":"Dan Notion account"}}},{"parameters":{"promptType":"define","text":"=","options":{"systemMessage":"=You are a helpful assistant your job is to call the **Store Deal Proposal** Always to store deal Proposal into notion\n\nDeal Name :: {{ $json.output.DealName }}-proposal-{{ $now.format('yyyy-MM-dd') }}\nDealProposal :: {{ $json.output.finalProposal }}\n\nInstructions\n1. Do not Add any markdown e.g ** and ## "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[400,-20],"id":"849302ad-6b47-4840-96a0-aca0da4e2f8b","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[420,180],"id":"437ebb41-2a17-4a36-bfbe-37cf89c6e6b0","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-140,-20],"id":"83a2aa1a-aec1-4571-b421-6c51b1b72b63","name":"When chat message received","webhookId":"33fa5175-160a-482c-9282-467ef5bdc29f"}],"connections":{"AI Agent":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Store Deal Proposal":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent1":{"main":[[]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eb675c07-fd4f-40c1-b5e7-e942ec2d60ab","triggerCount":0,"tags":[]}