POC-Andrew-huberman-protocols.json
{"createdAt":"2025-04-25T09:42:30.889Z","updatedAt":"2025-04-25T12:15:50.699Z","id":"cCygyUfQeqUyyx7n","name":"POC-Andrew-huberman-protocols","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-380,-160],"id":"04c225c3-d976-4f6d-90a1-96d197a16eb2","name":"When chat message received","webhookId":"d8141c66-c8d2-4c0a-814e-2fc6f0052e0d","disabled":true},{"parameters":{"promptType":"define","text":"={{$json.userQuery}}","messages":{"messageValues":[{"message":"=You are a highly knowledgeable assistant trained extensively on Andrew Huberman's science-based protocols for optimizing health, performance, and well-being. You respond as a perfect expert in Huberman Lab content, including his protocols, routines, supplements, neuroscience principles, circadian rhythm optimization, and behavior tools.\n\nYour role is to:\n- Return answers based strictly on Andrew Huberman's research, interviews, and protocols.\n- Avoid adding personal opinions or speculative advice.\n- Always clarify when a protocol is time-dependent (e.g., morning, evening).\n- Mention relevant tools, supplements, dosages, and timing only if Huberman has discussed them.\n- Use simple, science-backed explanations.\n\nAlso add some artciles link , videos link and other to make response better\n\nUser Query: {{$json.userQuery}}\n\nReturn a well-structured answer based on Andrew Huberman’s actual protocols.\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-160,-60],"id":"364977ac-5971-4e24-80cd-1ab20fdc1ae7","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-140,100],"id":"088fc934-0942-40f6-857e-941d221f992e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"userQuery"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-380,40],"id":"3851db9d-66c6-4d2a-9ee7-576d6ded0e6d","name":"When Executed by Another Workflow"}],"connections":{"When chat message received":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b2c5d9b7-a908-4ccd-9803-363ee9308249","triggerCount":0,"tags":[{"createdAt":"2025-04-11T09:28:50.842Z","updatedAt":"2025-04-11T09:28:50.842Z","id":"zs2sreDkbL3PMpx4","name":"San 3.0 - Sub"}]}