POC-SAN-Web-Interface-Poling.json
{"createdAt":"2025-04-17T06:17:16.445Z","updatedAt":"2025-05-13T07:34:15.527Z","id":"R3yTrpf1gPO8LtlT","name":"POC-SAN-Web-Interface-Poling","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"polling","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-340,-20],"id":"495bb479-87e9-4d97-a6c8-52b369560913","name":"Webhook2","webhookId":"533830a7-b839-491d-85ba-853a94adaa99"},{"parameters":{"resource":"execution","operation":"get","executionId":"={{ $json.body.excuationId }}","options":{"activeWorkflows":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-120,-20],"id":"76982514-0f89-4c2a-b128-983faea7e087","name":"n8n1","credentials":{"n8nApi":{"id":"Az4KLtuQj1kM1AqY","name":"n8n account"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"data\":{{JSON.stringify( $('n8n1').item.json.data.resultData.runData[\"Execution Data1\"][0].data.main[0][0].json.finalOutoutData) }},\n\"finished\":  \"true\" ,\n    \"status\": \"{{ $json.status }}\"\n}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[320,80],"id":"ed938f84-aea1-477b-8fbb-08b8f611b675","name":"Respond to Webhook2"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5691fd9d-e04c-43ee-8934-4032d9db8051","leftValue":"={{ $json.status }}","rightValue":"=running","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[100,-20],"id":"5bf6da8a-9828-4614-ba00-92e6d53c8f77","name":"If"},{"parameters":{"respondWith":"json","responseBody":"={\n    \"data\": \"\",\n\"finished\":  \"false\" ,\n    \"status\": \"{{ $json.status }}\"\n}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[320,-120],"id":"dc29ef2f-b34f-447c-8b4d-0bacb65e06b5","name":"Respond to Webhook"}],"connections":{"Webhook2":{"main":[[{"node":"n8n1","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Respond to Webhook2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"354a7b06-6878-46ff-8ac7-f8569499f63c","triggerCount":1,"tags":[]}