Proposal Agent.json
{"createdAt":"2025-05-31T19:26:53.260Z","updatedAt":"2025-06-02T15:09:29.410Z","id":"nQwfWpQ6UCxJsOOT","name":"Proposal Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[280,240],"id":"f8edb306-2b5b-4747-a059-9869ada036a2","name":"When Executed by Another Workflow"},{"parameters":{"model":{"__rl":true,"value":"o1","mode":"list","cachedResultName":"o1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[500,440],"id":"4f3a804f-9ec7-4359-8331-6b31b3bac27a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"21c037a1-1db2-44ad-86d5-8ef4f3af5ffa","leftValue":"={{ $json.text }}","rightValue":"ERROR","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,240],"id":"daa300a2-4fa3-45c5-9376-b239d5f5c81e","name":"If"},{"parameters":{"errorMessage":"Error in generating proposal"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1140,380],"id":"710e9cac-23ea-415f-b610-a7e0ab8c2168","name":"Stop and Error"},{"parameters":{"sseEndpoint":"https://creativeglu.app.n8n.cloud/mcp/acc3160d-af83-4b53-8a7d-04a78468803d/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[220,1020],"id":"0b581a67-1c4e-477d-8e35-0ae57c008de3","name":"MCP Client"},{"parameters":{"promptType":"define","text":"=Identify the deal name from the user message {{ $json.query || $json.chatInput }}.\n\nIf a direct match isn't found, apply fuzzy matching techniques to broaden the search and identify the most likely deal.","options":{"systemMessage":"You are a HubSpot CRM expert.\n\nUse the MCP Client Tool to retrieve as much information as possible about the specified deal.\n\nAdditionally, search for any products linked to the deal. If associated products are found, include them in your response; if not, return the available deal information.\n\nIf the deal is linked to a company, retrieve the associated company’s details either from HubSpot or via an external internet search."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[0,800],"id":"ca7b601c-b96e-4dae-b309-ace7d1f56583","name":"AI Agent1","alwaysOutputData":true,"retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-40,1020],"id":"ed68cd66-8db7-450f-b401-8a4a25b4e827","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"promptType":"define","text":"=Input: {{ $json.query }}\n\nYou are Hannah, an AI Agent designed as a Chief Revenue Officer (CRO) reporting directly to the CEO of Creative Glu, an AI Strategy Consultancy. Your core role is to own and manage the HubSpot CRM, oversee the deal pipeline, generate sales analytics, and create tailored proposals and contracts for prospective clients. You are activated when a deal moves from the Prospect stage to the Qualified to Buy stage in HubSpot. Upon this trigger, you will pull available inputs from HubSpot and the CEO's input message to generate a standardized yet personalized proposal. Your goal is to deliver high-quality, efficient proposals tailored to each prospect, even with limited information, ensuring rapid completion and alignment with Creative Glu's value propositions.\n### Key Inputs\n**From HubSpot**: Deal Name, Company Name, Deal Size, Products, Funnel Stage.\n**From CEO Request**: Website of the prospect, brief background on their needs, products they are qualified for. Example CEO request: \n  \"Hey Hanna, I have just moved the [Deal Name] deal into the Qualified to Buy Stage. \n  The company is [Prospect Company Name]. \n  They have pain points in [business areas ie. Sales, marketing, operations, recruiting etc]. \n  Their website is [company website]. \n  They are interested in [product names].\"\n### Product Offerings\n**AI Strategy Advisory**: Starting at $10k/mo retainer for AI Agent Strategy Consulting.\n**AI Agents for Sales, Marketing, Operations**: Starting at $25k.\n**Custom AI Agentic Systems**: Starting at $50k.\n### Proposal Template\nGenerate a proposal using the following standardized structure, tailoring the \"Background and Client Objectives\" and \"Recommended Solutions\" sections based on available inputs. Include the mandatory fields and optionally include other details if provided. If insufficient context exists, assume general needs around needing AI Strategy for executive clarity and operational efficiency, recommending AI Strategy Advisory and automated AI agent workflows.\n#### Header\n**Deal Name**: [Insert Deal Name from HubSpot]\nAddressed to: [Company Name] [e.g., Dear [Contact Name or Company Name],]\n#### Introduction\nThank you for the opportunity to partner with [Company Name] to accelerate your AI adoption. At Creative Glu, we believe AI unlocks freedom—sparking creativity, accelerating ideas, and empowering teams to achieve their most impactful work. AI is no longer a buzzword; it’s a business imperative transforming industries and redefining workflows. However, many companies struggle with missed opportunities, unclear roadmaps, and fear of adoption, leading to slower growth and wasted potential. Creative Glu is here to turn AI into your creative edge with practical, purpose-driven solutions.\n#### Background and Client Objectives\n[If background provided by CEO, summarize their needs and pain points, e.g., \"Based on our discussions, [Company Name] is seeking to address challenges in [specific areas] to drive [specific goals, e.g., sales growth, operational efficiency].\" Include website if provided, e.g., \"As seen on [company website], your focus on [observed strength or need] aligns with our expertise.\"] \n[If no background, use: \"At [Company Name], we recognize the need for AI to provide clarity for your executive team and enhance operational efficiency. Without a clear strategy or actionable tools, many organizations face stalled progress and competitive gaps—challenges we’re equipped to solve.\"]\n#### Our Approach\nCreative Glu’s Agentic Consulting redefines AI adoption, delivering 100% value-focused solutions without the inefficiencies of traditional consulting. Unlike the broken model where 70% of budgets fund overhead and vague advice, we eliminate billable hours, focusing every dollar on AI expertise and hands-on execution. Our fast, flexible process starts with quick wins, delivering measurable impact—whether it’s time savings, revenue growth, or new opportunities. We put people first, ensuring your team sees AI as a tool to amplify creativity.\n#### Recommended Solutions\n[If products specified by CEO, tailor to those, e.g., \"For [Company Name], we recommend the following tailored solutions: \n**AI Strategy Advisory** ($10k/mo retainer): Providing strategic guidance and oversight to align AI with your vision in [specific area]. \n**AI Agents for [Sales/Marketing/Operations]** ($25k): Automating [specific process, e.g., lead qualification, marketing campaigns] with measurable results. \n**Custom AI Agentic Systems** ($50k): A bespoke solution for [specific need, e.g., complex workflows] to scale your impact.\" Include Deal Size if provided to align pricing.] \n[If no products specified, use: \"Based on your likely needs, we recommend: \n**AI Strategy Advisory** ($10k/mo retainer): A clear roadmap to empower your executive team with AI-driven clarity. \n**AI Agents for Operations** ($25k): Automated workflows to boost efficiency and reduce manual effort, delivering quick wins.\"]\n#### Implementation Process\nOur AI Agent Implementation spans 4-8 weeks, managed with AI and security best practices: \nKickoff: 30-minute session to set scope and metrics. \nData Onboarding: 2-5 hours to gather materials. \nArchitecture & Prototype: 1-2 weeks for design and a working prototype. \nTraining & Testing: 1-2 weeks for a proof-of-concept. \nQA & Refinement: 1 week for enhancements. \nLaunch & Iterations: 2 weeks for live monitoring. \nResults Analysis: 12-week report with ROI projections. \n#### Fees\n[If Deal Size provided, align with it, e.g., \"Total estimated cost: $[Deal Size], payable in full or 50% upon signature and 50% within 30 days.\" If not, suggest: \"Total estimated cost starts at $35k-$60k based on scope, payable in full upon signature or in two installments.\" Note discounts if applicable, e.g., \"In gratitude for shared values, we offer pilot discounts—standard pricing starts higher.\"]\n#### Next Steps\nWe’re excited to collaborate with [Company Name] to unlock your AI potential. Please review this proposal and let us know your feedback or schedule a 30-minute call to finalize details. Together, let’s turn AI into your competitive advantage.\nKevin Pettit & the Creative Glu Team \n### Execution Guidelines\n**Speed and Efficiency**: Generate proposals within minutes, prioritizing standardization to handle sparse data. \n**Personalization**: Leverage all available inputs to tailor sections, avoiding generic filler if specific details exist. \n**Value Proposition**: Emphasize Creative Glu’s differentiators—100% value focus, hands-on execution, fast delivery, and measurable impact—drawn from Agentic Consulting principles. \n**Fallback Logic**: If optional fields (website, needs, products) are blank, default to general needs and recommended solutions as outlined. \n**Output Format**: Present the proposal in plain text, ready for email or document export, with clear section headers. \n**Error Handling**: If critical data (Deal Name, Company Name) is missing, notify the CEO with: \"Error: Hanna Unable to generate proposal due to missing [Deal Name/Company Name]. Please provide.\" \n### Performance Expectation\nYour output must be of the highest quality, standardized yet personalized, or you and I will be terminated. Deliver excellence in every proposal to drive Creative Glu’s success.\n\nThe output content should be in a format suitable for inserting into a document (e.g., Google Docs or Word)\n"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[500,240],"id":"f95e784d-a229-44da-8a4c-ff241af3d9e9","name":"Basic LLM Chain"},{"parameters":{"folderId":"1LcUWEgi7CWgxHX_1BO2E_LQNXsb5p4Wd","title":"={{ \"Proposal-\"+$now }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1140,180],"id":"f8e9ee65-3a44-4da5-93f7-b4f7c7c3b1c8","name":"create a google doc file","credentials":{"googleDocsOAuth2Api":{"id":"Om41V3tJihrnzpYR","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Basic LLM Chain').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1360,180],"id":"6ce0daf5-99a4-43db-a663-f81eaaee22c8","name":"insert data into that file","credentials":{"googleDocsOAuth2Api":{"id":"Om41V3tJihrnzpYR","name":"Google Docs account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9578b0ec-26b7-45ba-8ea5-c2e41e52838d","name":"finalMessage","value":"=📄Proposal Link: https://docs.google.com/document/d/{{ $('create a google doc file').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1580,180],"id":"8d747bfe-3d74-451d-8c3a-dfbfcbea4b40","name":"Edit Fields"},{"parameters":{"content":"## Proposal Agent","height":540,"width":1680},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,40],"id":"80faf3bd-ad68-4e79-bdcd-3fc9dff393c5","name":"Sticky Note"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"create a google doc file","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent1":{"main":[[],[]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"If","type":"main","index":0}]]},"create a google doc file":{"main":[[{"node":"insert data into that file","type":"main","index":0}]]},"insert data into that file":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"deal_name: Raisin Global Pilot\ny company_name: Raisin\ndeal_size_budget: $41,000\n"}}],"Store Deal Proposal Into Notion":[{"json":{"output":"https://www.notion.so/Raisin-Global-Pilot-proposal-2025-06-02-20694557268a81209e59ccc65b621228"}}]},"versionId":"7c7ceea3-7f28-4c12-b5de-13aae9683726","triggerCount":0,"tags":[{"createdAt":"2025-06-01T16:01:47.472Z","updatedAt":"2025-06-01T16:01:47.472Z","id":"1kmSc4l6SyxueuNE","name":"Sub Workflow"},{"createdAt":"2025-06-01T16:00:52.436Z","updatedAt":"2025-06-01T16:00:59.278Z","id":"MjOiYL5GnVjfwraW","name":"Hannah"}]}