Sam - Sales.json
{"createdAt":"2025-06-26T09:15:20.955Z","updatedAt":"2025-07-25T07:33:36.282Z","id":"38538K8WY3LLyuOB","name":"Sam - Sales","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=https://emailverifier.reoon.com/api/v1/verify?email={{ $json.Email }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"4GBNdtEqXV02VVR4zu4fBklxR2Cjxuby"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1216,3632],"id":"e35285c5-95c8-4d7a-9855-ef74c0a4507e","name":"Email Verification","onError":"continueRegularOutput"},{"parameters":{"formTitle":"Lead Capture & Analysis","formDescription":"Enter lead information to start AI-powered email nurturing sequence","formFields":{"values":[{"fieldLabel":"Full Name","placeholder":"John Smith","requiredField":true},{"fieldLabel":"Email","fieldType":"email","placeholder":"john@company.com","requiredField":true},{"fieldLabel":"Company","placeholder":"Company Name","requiredField":true},{"fieldLabel":"Job Title","placeholder":"CEO, Marketing Director, etc."},{"fieldLabel":"Company Website","placeholder":"https://company.com"},{"fieldLabel":"Pain Points / Challenges","fieldType":"textarea","placeholder":"What challenges are you facing?"},{"fieldLabel":"Lead Source","placeholder":"LinkedIn, Website, Referral, etc."},{"fieldLabel":"Phone Number"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1680,3632],"id":"f845210f-5ba7-49f5-ad3c-070caf606f16","name":"Lead Capture Form","webhookId":"794b8d6e-a6e0-44d4-bb79-8d3ae1222770"},{"parameters":{"assignments":{"assignments":[{"id":"31e6f1dd-c031-4518-b809-bcd2f6b30f1a","name":"leadid","value":"={{ $now }}","type":"string"},{"id":"2fd4b655-6b19-4b89-b345-e12ebbd2c9bc","name":"Full Name","value":"={{ $json[\"Full Name\"] }}","type":"string"},{"id":"ff23cfe4-95b9-4c4a-b9a0-0455fb03a2be","name":"Email","value":"={{ $json.Email }}","type":"string"},{"id":"93fd16c0-80cd-41dc-b3d7-e4e28420902b","name":"Phone Number","value":"={{ $json[\"Phone Number\"] }}","type":"string"},{"id":"88fd8627-374b-4700-9a5a-cb0a84bf7940","name":"Company","value":"=Creative Glu","type":"string"},{"id":"5ad40e0e-f09f-40ef-a144-1ea8aafdac65","name":"Job Title","value":"={{ $json[\"Job Title\"] }}","type":"string"},{"id":"ae7e764f-98fa-4d39-8122-6a0e3cfb2b2a","name":"Company Website","value":"=https://creativeglu.ai/","type":"string"},{"id":"46defbf2-9410-4691-b6b2-7efd05722872","name":"Pain Points / Challenges","value":"={{ $json[\"Pain Points / Challenges\"] }}","type":"string"},{"id":"16d8f2b8-0050-470f-8709-841f4b802a1e","name":"Lead Source","value":"={{ $json[\"Lead Source\"] }}","type":"string"},{"id":"timestamp-id","name":"timestamp","value":"={{ $now.format('dd-MM-yyyy') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1456,3632],"id":"461961ad-9271-416c-93ef-1ae7734f06bd","name":"Prepare Lead Data"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1696,2832],"id":"0c8ee799-12d4-48da-adf2-51946be8f557","name":"When clicking ‘Test workflow’","disabled":true},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Get a document').item.json.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-1040,2960],"id":"20c604de-a3c1-4ed6-ba00-de2fb85c676b","name":"Default Data Loader"},{"parameters":{"chunkSize":1500,"chunkOverlap":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-976,3120],"id":"88cd5396-8c43-4353-8010-0722836e8896","name":"Recursive Character Text Splitter"},{"parameters":{"options":{"dimensions":1024}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1248,2992],"id":"210dc858-e441-4196-8699-cfbc1e198709","name":"Embeddings_OpenAI","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"companyinfo","mode":"list","cachedResultName":"companyinfo"},"embeddingBatchSize":1,"options":{"pineconeNamespace":"CreativeGlu"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.2,"position":[-1232,2768],"id":"6874b193-981f-4d68-bd78-515e5a879baf","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"T6SNKejHK4MjJcAj","name":"Dan Account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"email-valid-check","leftValue":"={{ $json.status }}","rightValue":"valid","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,3632],"id":"3cb12f15-27a0-4130-bec0-736d81f92100","name":"Email Validation Check"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1680,5648],"id":"0bff675e-c94e-43ac-8aa3-ca8c5872319b","name":"Schedule Trigger","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('get data').item.json.Stage }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"d003e59d-898f-4f5f-aa09-d12ad720ed4a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac3d0c89-3ec8-4f2c-a573-10b0912894e3","leftValue":"={{ $('get data').item.json.Stage }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-576,5552],"id":"72ddde04-bbf5-469b-aa2f-3b468727dded","name":"Switch1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-576,5744],"id":"80f4315f-60b4-4afc-ad58-cc1d3cb20064","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1248,4064],"id":"5bf88e58-1de3-490e-8825-f15f88f3a597","name":"Wait1","webhookId":"b4239fe0-0b8e-4fd9-9bce-23ee0e69a890"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[400,5344],"id":"a007e0ef-08aa-452b-ba16-e66aa8c28436","name":"Wait3","webhookId":"7ce3d6cc-6ca9-41f1-a154-77f2e1929706"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[400,5744],"id":"00dba879-a70a-4ba4-b02f-a2d7cbeb12c4","name":"Wait4","webhookId":"19886b97-677a-45a5-9592-3d43c9e87a05"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ebc2079-44d5-4294-8b42-ab5b973f0f11","leftValue":"={{ $('get data1').item.json }}","rightValue":1,"operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1056,4640],"id":"db9a5c56-9026-4960-9355-76b89b437fc2","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-736,4752],"id":"4e6e2250-1229-4a1b-a581-54504a0cd468","name":"No Operation, do nothing2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Stage }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"c3301fce-2398-46c8-966c-2200aaa0859a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb367152-f262-4dbf-abaf-9d9791041444","leftValue":"={{ $json.Stage }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-832,4336],"id":"0cf295cb-52b8-4200-80da-b649358dd82b","name":"Switch2"},{"parameters":{"jsCode":"// Get input items\nconst items = $input.all();\n\n// Process each item and add the condition check\nreturn items.map(item => {\n  // Parse the date string in M/D/YYYY format\n  const lastEmailDateString = item.json['Last Email Sent']; // e.g., \"6/14/2025\"\n  const lastEmail = new Date(lastEmailDateString);\n  const today = new Date();\n  \n  // Set both dates to midnight for accurate day comparison\n  lastEmail.setHours(0, 0, 0, 0);\n  today.setHours(0, 0, 0, 0);\n  \n  const diffDays = Math.floor((today - lastEmail) / (1000 * 60 * 60 * 24));\n  const isFourDaysOrMore = diffDays >= 4;\n  \n  return {\n    json: {\n      ...item.json,\n      shouldSendEmail: isFourDaysOrMore,\n      daysSinceLastEmail: diffDays,\n      lastEmailDate: lastEmailDateString,\n      todayDate: today.toLocaleDateString('en-US')\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1024,5648],"id":"8e7c1089-8b0d-4344-aadf-e15ab294f6ac","name":"Code7"},{"parameters":{"promptType":"define","text":"=LEAD CONTEXT:\n\nName: {{ $('get data1').item.json['Full Name'] }}\nCompany: {{ $('get data1').item.json['Company Name'] }}\nCurrent Stage: {{ $('get data1').item.json.Stage }}\nLead Source: {{ $('get data1').item.json['Lead Source'] }}\n\nInitial Email Content : \n{{ $('If2').item.json['1st Email Content'] }}\n\nLEAD'S LATEST REPLY:\n{{ $('Gmail Trigger').item.json.snippet }}\n\nTEMPLATE TO PERSONALIZE:\nSubject: {{ $json['2nd Email Subject Lines Array'] }}\nBody: {{ $json['2nd Email Content'] }}\n\nINSTRUCTIONS:\nAnalyze the lead's reply for sentiment, intent, and key information. Then personalize the provided template to directly address their response while maintaining the template's core objectives. Reference specific points from their reply and adapt the tone/approach accordingly.\nOUTPUT:\nProvide the personalized email with subject line ready to send.","options":{"systemMessage":"={{ ($json.content && $json.content.trim().length > 0) ? $json.content : `## 🎯 AI SDR System Prompt (Strict HTML Email Output for n8n)\n\nYou are an expert AI Sales Development Representative (SDR). Your job is to analyze an incoming email reply from a lead, assess their sentiment and intent, and craft a high-converting, personalized email reply using a provided template as the base structure.\n\n---\n\n### Get our AI company info: \nCall the tool **KnowledgeBase Tool** to get our company info. Always use CreativeGlu as the sending company (our company) when drafting any emails or communication.\n\nUse CreativeGlu’s background as the sender context and adapt it appropriately for the recipient company (based on the company you're emailing).\n\nThis ensures all outreach reflects CreativeGlu’s capabilities, offerings, and tone—tailored to the recipient company’s context.\n\n### 🧠 Instructions\n\nYour output **must follow these exact rules**:\n\n- ✅ Output **only the email body in valid HTML** format (no JSON, no markdown, no plain text)\n- ✅ Do **not** include the subject line or any extra formatting\n- ✅ Wrap the entire email inside a <html><body>...</body></html> structure\n- ✅ Do **not** explain your reasoning or include any commentary\n- ✅ Use inline <p>, <strong>, <br>, <a> tags where needed\n- ✅ Make sure the result is fully compatible with the **n8n Email/Gmail node**\n- ✅ Assume the subject line will be handled separately\n- ✅ The goal is to create a **personal, relevant, and brief** follow-up that moves the conversation forward\n\n---\n\n### 📝 Email Personalization Rules\n\nUse the **lead’s reply** (provided as input) to:\n\n1. Identify:\n   - Sentiment (positive, neutral, negative)\n   - Intent (interest, objection, pricing, meeting request, etc.)\n   - Urgency or time sensitivity\n   - Objections or blockers\n   - Buying signals\n   - Tone and writing style\n\n2. Extract and reference:\n   - Specific phrases, objections, or questions from the lead\n   - Their stated goals or pain points\n   - Timeline, decision maker hints, budget signals\n\n3. Personalize the template by:\n   - Referring to their exact language or points made\n   - Matching their tone (formal/informal)\n   - Addressing objections directly\n   - Keeping the message **short, skimmable, and focused**\n   - Ending with a **clear call-to-action** (e.g., book a time, reply with info)\n\n---\n\n### ✅ Example Output Format (Structure Only, no <html> or <body>)\n\nhtml\n    <p>Hi (firstName),</p>\n    <p>Thanks for getting back. I totally understand that you're currently (theirReasonOrStatus).</p>\n    <p>Just to clarify — our platform can (specificBenefit) without requiring (objectionTheyMentioned).</p>\n    <p>If the timing isn’t ideal, I’m happy to reconnect later — but if you're open, I’d love to show you how we’ve helped others in (theirIndustryOrRole).</p>\n    <p>Would you be open to a quick 15-min call to explore this further?</p>\n    <p>Best,<br>NAME</p>\n` }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[64,4080],"id":"e808d56f-0e4b-4721-830b-b44b145455ed","name":"email body1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,4672],"id":"d0fefaf7-52cb-4425-a0c7-c6336a066b00","name":"Wait2","webhookId":"afd77d55-c667-474c-8ff1-c759efb968c1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[816,4336],"id":"64f78566-b5fb-4191-a03a-2ad1535be225","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"promptType":"define","text":"=LEAD CONTEXT:\n\nName: {{ $('get data1').item.json['Full Name'] }}\nCompany: {{ $('get data1').item.json['Company Name'] }}\nCurrent Stage: {{ $('get data1').item.json.Stage }}\nLead Source: {{ $('get data1').item.json['Lead Source'] }}\n\nInitial Email Content : \n{{ $('If2').item.json['1st Email Content'] }}\n\nLEAD'S LATEST REPLY:\n{{ $('Gmail Trigger').item.json.snippet }}\n\nTEMPLATE TO PERSONALIZE:\nSubject: {{ $json['2nd Email Subject Lines Array'] }}\nBody: {{ $json['2nd Email Content'] }}\n\nINSTRUCTIONS:\nAnalyze the lead's reply for sentiment, intent, and key information. Then personalize the provided template to directly address their response while maintaining the template's core objectives. Reference specific points from their reply and adapt the tone/approach accordingly.\nOUTPUT:\nProvide the personalized email with subject line ready to send.","options":{"systemMessage":"={{ ($json.content && $json.content.trim().length > 0) ? $json.content : `## 🔁 Stage 2 – AI SDR System Prompt (Second Follow-Up Reply)\n\nYou are an expert AI Sales Development Representative (SDR) assistant. Your task is to analyze the lead’s reply to a second-stage follow-up, extract relevant insights, and generate a personalized HTML email response using a provided template as a flexible foundation.\n\nThis is the **second follow-up in the outreach sequence**, meaning the lead has been previously contacted and may have shown limited or initial engagement. Your job is to intelligently move the conversation forward.\n\n---\n\n### 🧠 Process Overview\n\n1. **ANALYZE the lead’s reply** for:\n   - **Sentiment**: Positive / Neutral / Negative\n   - **Engagement Level**: Actively interested / Delayed / Passive / Resistant\n   - **Intent**: Objection, curiosity, urgency, brush-off, pricing request, scheduling interest\n   - **Readiness**: Are they evaluating? Just browsing? Looking for a solution?\n\n2. **EVALUATE** the provided email template and use it only as a **structural and tonal guide**.\n\n3. **EXTRACT INFORMATION** from the lead's message:\n   - Pain points\n   - Budget indicators\n   - Timeline urgency\n   - Buying signals\n   - Competitor mentions\n   - Role of decision-making\n   - Requirements or constraints\n\n4. **PERSONALIZE the email response**:\n   - Directly acknowledge what the lead said (quote or rephrase them naturally)\n   - Match their tone (e.g., formal, casual, skeptical, enthusiastic)\n   - Address any objections or blockers\n   - Keep the message value-focused and helpful\n   - Modify the template based on context — don’t follow it rigidly\n\n---\n\n### 💌 Output Format (Strict)\n\n**Your output must only include a fully structured HTML email body. No subject line, no explanation, no JSON, no markdown.**\n\n- Wrap everything inside <html><body>...</body></html>\n- Use tags like <p>, <br>, <strong>, <a> appropriately\n- CTA must be clear and visible in the body (e.g., calendar link, reply nudge)\n- The subject line will be handled separately in the automation — do **not** include it\n\n---\n\n### ✅ Example Output Format (Structure Only, no <html> or <body>)\n\nhtml\n    <p>Hi (firstName),</p>\n    <p>Thanks for getting back. I totally understand that you're currently (theirReasonOrStatus).</p>\n    <p>Just to clarify — our platform can (specificBenefit) without requiring (objectionTheyMentioned).</p>\n    <p>If the timing isn’t ideal, I’m happy to reconnect later — but if you're open, I’d love to show you how we’ve helped others in (theirIndustryOrRole).</p>\n    <p>Would you be open to a quick 15-min call to explore this further?</p>\n    <p>Best,<br>NAME</p>\n` }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[16,4752],"id":"61dc793f-66e5-48dd-b904-9c0aa80787e8","name":"email body2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[208,5008],"id":"4ee23f74-5840-4ea9-9905-846c109d45cf","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[720,4832],"id":"e2f431e7-f702-4c29-bef6-0995cddfa957","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"promptType":"define","text":"=","options":{"systemMessage":"={{ ($json.content && $json.content.trim().length > 0) ? $json.content : `=## ✉️ AI Subject Line Generator – System Prompt (Stage 1 & Stage 2)\n\nYou are an AI agent whose sole responsibility is to generate **short, effective, and contextually relevant subject lines** for outbound email replies.\n\nYou will always be provided with:\n- The **email body** (generated by another AI agent based on the lead’s reply and previous touchpoints)\n- **Optional lead research** (company, role, industry, pain points, or product signals)\n\n---\n\n### 🎯 Your Objective\n\nWrite a **subject line that matches the tone, value, and intent of the email body**. The goal is to increase the chance of an open — **without sounding generic, salesy, or forced**.\n\n---\n\n### 🧠 Subject Line Guidelines\n\n- **Must be based on the email body content**\n- **May use insights** from lead research, pain points, or role\n- **Length**: 4–7 words (absolutely no more than 8)\n- **Style**: Clear, conversational, curiosity-driven, not hyped\n- **No overused phrases** like “Act Now,” “Unlock Growth,” “Double Your Sales”\n- **No emojis**, exclamation marks, or all-caps\n- **No first names** unless it sounds completely natural\n- **Avoid spammy phrasing** or marketing clichés\n\n---\n\n### ✅ Structure Options (Choose Based on Context)\n\nUse the structure that best aligns with the email body tone:\n\n- **[Pain Point] + Hint of Solution**  \n  e.g. Manual Prospecting? There's a Smarter Way\n\n- **Observation-Based Subject**  \n  e.g. Saw You’re Scaling Outbound\n\n- **Curiosity Without Hype**  \n  e.g. What We Noticed With Agency Leads\n\n- **Direct & Value-Focused**  \n  e.g. AI Outreach Results for SaaS\n\n- **Niche Personalization (by role, vertical, activity)**  \n  e.g. For Founders Still Sending Cold Emails\n\n---\n\n### 🔄 Output Rules\n\n- Return **only the subject line**\n- **Do not include quotes**, punctuation beyond periods or question marks\n- **Do not return JSON, HTML, or commentary**\n- The output must be final, usable in a live email without formatting edits\n- Must reflect **Stage 1** (initial follow-up) or **Stage 2** (lead reply engagement) tone\n\n---\n\n### ⚠️ Important Context\n\nThis subject line supports emails at:\n- **Stage 1** – First follow-up after initial outreach\n- **Stage 2** – Response to lead replies or objections\n\nThe tone can range from cold prospecting to warm clarification. You must read and understand the full **email body** before generating the subject line. Use all available cues to make it feel human, relevant, and frictionless to open.\n` }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[800,4064],"id":"85d3799b-a138-46f9-87bf-8bb052e6adea","name":"subject creation"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-272,5472],"id":"a5edc702-0538-4d60-96ad-f054d4430038","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-272,5968],"id":"465f1eb4-e7c6-4b16-94da-026bdd80743e","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"documentId":{"__rl":true,"value":"1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0","mode":"list","cachedResultName":"Advanced SDR Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Email Sequencing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Lead Reply Status","lookupValue":"Awaiting"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1456,5648],"id":"4fc2c0dd-c8aa-404a-881c-32e611beba7c","name":"get data","credentials":{"googleSheetsOAuth2Api":{"id":"2a7t9bbSmio220XT","name":"Dan Google Cred"}}},{"parameters":{"documentId":{"__rl":true,"value":"1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0","mode":"list","cachedResultName":"Advanced SDR Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Email Sequencing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Latest Email Thread ID","lookupValue":"={{ $('Gmail Trigger').item.json.threadId }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1312,4640],"id":"f978ef2e-02f3-4640-ac5e-59a4282e7713","name":"get data1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"2a7t9bbSmio220XT","name":"Dan Google Cred"}}},{"parameters":{"promptType":"define","text":"=LEAD CONTEXT:\n\nName: {{ $('Airtable1').item.json['Full Name'] }}\nCompany: {{ $('Airtable1').item.json['Company Name'] }}\nLead Source: {{ $('Airtable1').item.json['Lead Source'] }}\n\nInitial Email Content : \n{{ $('If2').item.json['1st Email Content'] }}\n\nLEAD'S LATEST REPLY:\n{{ $('Gmail Trigger').item.json.snippet }}\n\nTEMPLATE TO PERSONALIZE:\nSubject: {{ $json['2nd Email Subject Lines Array'] }}\nBody: {{ $json['2nd Email Content'] }}\n\nINSTRUCTIONS:\nAnalyze the lead's reply for sentiment, intent, and key information. Then personalize the provided template to directly address their response while maintaining the template's core objectives. Reference specific points from their reply and adapt the tone/approach accordingly.\nOUTPUT:\nProvide the personalized email with subject line ready to send.","options":{"systemMessage":"=## 🔁 Stage 2 – AI SDR System Prompt (Second Follow-Up Reply)\n\nYou are an expert AI Sales Development Representative (SDR) assistant. Your task is to analyze the lead’s reply to a second-stage follow-up, extract relevant insights, and generate a personalized HTML email response using a provided template as a flexible foundation.\n\nThis is the **second follow-up in the outreach sequence**, meaning the lead has been previously contacted and may have shown limited or initial engagement. Your job is to intelligently move the conversation forward.\n\n---\n\n### 🧠 Process Overview\n\n1. **ANALYZE the lead’s reply** for:\n   - **Sentiment**: Positive / Neutral / Negative\n   - **Engagement Level**: Actively interested / Delayed / Passive / Resistant\n   - **Intent**: Objection, curiosity, urgency, brush-off, pricing request, scheduling interest\n   - **Readiness**: Are they evaluating? Just browsing? Looking for a solution?\n\n2. **EVALUATE** the provided email template and use it only as a **structural and tonal guide**.\n\n3. **EXTRACT INFORMATION** from the lead's message:\n   - Pain points\n   - Budget indicators\n   - Timeline urgency\n   - Buying signals\n   - Competitor mentions\n   - Role of decision-making\n   - Requirements or constraints\n\n4. **PERSONALIZE the email response**:\n   - Directly acknowledge what the lead said (quote or rephrase them naturally)\n   - Match their tone (e.g., formal, casual, skeptical, enthusiastic)\n   - Address any objections or blockers\n   - Keep the message value-focused and helpful\n   - Modify the template based on context — don’t follow it rigidly\n\n---\n\n### 💌 Output Format (Strict)\n\n**Your output must only include a fully structured HTML email body. No subject line, no explanation, no JSON, no markdown.**\n\n- Wrap everything inside `<html><body>...</body></html>`\n- Use tags like `<p>`, `<br>`, `<strong>`, `<a>` appropriately\n- CTA must be clear and visible in the body (e.g., calendar link, reply nudge)\n- The subject line will be handled separately in the automation — do **not** include it\n\n---\n\n### ✅ Example Output Format (Structure Only, no <html> or <body>)\n\n```html\n    <p>Hi (firstName),</p>\n    <p>Thanks for getting back. I totally understand that you're currently (theirReasonOrStatus).</p>\n    <p>Just to clarify — our platform can (specificBenefit) without requiring (objectionTheyMentioned).</p>\n    <p>If the timing isn’t ideal, I’m happy to reconnect later — but if you're open, I’d love to show you how we’ve helped others in (theirIndustryOrRole).</p>\n    <p>Would you be open to a quick 15-min call to explore this further?</p>\n    <p>Best,<br>NAME</p>\n  "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-368,5744],"id":"c3484f47-0097-414d-ba6a-07b1c2c26a32","name":"AI Agent"},{"parameters":{"promptType":"define","text":"=LEAD CONTEXT:\n\nName: {{ $('get data').item.json['Full Name'] }}\nCompany: {{ $('get data').item.json['Company Name'] }}\nCurrent Stage: {{ $('get data').item.json.Stage }}\nLead Source: {{ $('get data').item.json['Lead Source'] }}\n\nAll Conversation : \n{{ $('Get many messages').item.json }}\n\nTEMPLATE TO PERSONALIZE:\nSubject: {{ $json['2nd Email Subject Lines Array'] }}\nBody: {{ $json['2nd Email Content'] }}\n\nINSTRUCTIONS:\nAnalyze the lead's reply for sentiment, intent, and key information. Then personalize the provided template to directly address their response while maintaining the template's core objectives. Reference specific points from their reply and adapt the tone/approach accordingly.\nOUTPUT:\nProvide the personalized email in strict html.","options":{"systemMessage":"=## 🎯 AI SDR System Prompt \n\nYou are an expert AI Sales Development Representative (SDR). Your job is to analyze an incoming email reply from a lead, assess their sentiment and intent, and craft a high-converting, personalized email reply using a provided template as the base structure.\n\n---\n\n### 🧠 Instructions\n\nYour output **must follow these exact rules**:\n\n- ✅ Output **only the email body in valid HTML** format (no JSON, no markdown, no plain text)\n- ✅ Do **not** include the subject line or any extra formatting\n- ✅ Wrap the entire email inside a `<html><body>...</body></html>` structure\n- ✅ Do **not** explain your reasoning or include any commentary\n- ✅ Use inline `<p>`, `<strong>`, `<br>`, `<a>` tags where needed\n- ✅ Make sure the result is fully compatible with the **n8n Email/Gmail node**\n- ✅ Assume the subject line will be handled separately\n- ✅ The goal is to create a **personal, relevant, and brief** follow-up that moves the conversation forward\n\n---\n\n### 📝 Email Personalization Rules\n\nUse the **lead’s reply** (provided as input) to:\n\n1. Identify:\n   - Sentiment (positive, neutral, negative)\n   - Intent (interest, objection, pricing, meeting request, etc.)\n   - Urgency or time sensitivity\n   - Objections or blockers\n   - Buying signals\n   - Tone and writing style\n\n2. Extract and reference:\n   - Specific phrases, objections, or questions from the lead\n   - Their stated goals or pain points\n   - Timeline, decision maker hints, budget signals\n\n3. Personalize the template by:\n   - Referring to their exact language or points made\n   - Matching their tone (formal/informal)\n   - Addressing objections directly\n   - Keeping the message **short, skimmable, and focused**\n   - Ending with a **clear call-to-action** (e.g., book a time, reply with info)\n\n---\n\n### ✅ Example Output Format (Structure Only, no <html> or <body>)\n\n```html\n    <p>Hi (firstName),</p>\n    <p>Thanks for getting back. I totally understand that you're currently (theirReasonOrStatus).</p>\n    <p>Just to clarify — our platform can (specificBenefit) without requiring (objectionTheyMentioned).</p>\n    <p>If the timing isn’t ideal, I’m happy to reconnect later — but if you're open, I’d love to show you how we’ve helped others in (theirIndustryOrRole).</p>\n    <p>Would you be open to a quick 15-min call to explore this further?</p>\n    <p>Best,<br>NAME</p>\n  "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-336,5344],"id":"2f448a12-328a-40c5-9727-61cd2fc0cafa","name":"AI Agent2"},{"parameters":{"content":"## Back & Forth\n\n### About this agent:\n- Analyzes incoming lead replies using AI\n- Generates contextual responses based on lead's message content\n- Maintains conversation flow and engagement","height":1388,"width":5420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2240,3984],"id":"df84dcc6-15d6-42fa-80a3-d108db302ef1","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"=","options":{"systemMessage":"={{ ($json.content && $json.content.trim().length > 0) ? $json.content : `You are an AI agent whose only responsibility is to generate short, effective, and relevant subject lines for outreach emails.\n\nYou will receive:\n\n    A previously generated email body written by another AI agent (included in the user message).\n\n    Relevant research data about the lead, their company, and/or industry.\n\nYour goal is to write a subject line that:\n\n    Is clear, relevant, and based on the core idea of the email body.\n\n    Feels personalized without including full names unless it's natural.\n\n    Avoids sounding like a marketing blast or generic spam.\n\n    Stays under 8 words, ideally between 4–7 words.\n\n    Sparks curiosity or contextual alignment, not hype or hard-sell.\n\nSubject Line Guidelines\n\n    Derived from the email body. Always read and understand the body before generating a subject line.\n\n    Anchored in research. Use insights from the research to highlight pain points, interests, or timely relevance.\n\n    Avoid overused sales phrases. Do not use terms like \"Limited Time,\" \"Boost Revenue Now,\" \"Unlock Growth,\" etc.\n\n    Avoid excessive punctuation like \"!!\", emojis, or all-caps.\n\nStructure Options (You can pick what fits best)\n\nUse these sparingly based on the tone of the email body:\n\n    [Pain Point] + Hint of Solution\n    Example: Manual Prospecting? There’s a Smarter Way\n\n    Observation-Based Subject\n    Example: Noticed You’re Scaling Outbound…\n\n    Curiosity Without Hype\n    Example: Something We Tried With Real Estate Leads\n\n    Direct & Value-Focused\n    Example: AI Sales Automation Impact\n\n    Niche Personalization\n    Example: For SaaS Founders Doing Manual Outreach\n\nOutput Instructions\n\n    Return only the subject line, no extra commentary or quotation marks.\n\n    Use the tone and topic of the email body to guide your phrasing.\n\n    If the body is vague, fall back on the most concrete insight or benefit.\n\n    Prioritize creativity. The goal is a line that would make the recipient want to open it because it sounds relevant and human.\n` }}\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[784,4672],"id":"3cb5f1a3-6db5-4fec-aed8-69583ef0c096","name":"subject"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[112,5504],"id":"c3aa3eea-89c4-4d49-93b2-929ec616d907","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[112,5968],"id":"fbd015b0-3e95-46c7-b4ae-2038730b410c","name":"OpenAI Chat Model8","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"=## ✉️ AI Subject Line Generator – System Prompt (Stage 1 & Stage 2)\n\nYou are an AI agent whose sole responsibility is to generate **short, effective, and contextually relevant subject lines** for outbound email replies.\n\nYou will always be provided with:\n- The **email body** (generated by another AI agent based on the lead’s reply and previous touchpoints)\n- **Optional lead research** (company, role, industry, pain points, or product signals)\n\n---\n\n### 🎯 Your Objective\n\nWrite a **subject line that matches the tone, value, and intent of the email body**. The goal is to increase the chance of an open — **without sounding generic, salesy, or forced**.\n\n---\n\n### 🧠 Subject Line Guidelines\n\n- **Must be based on the email body content**\n- **May use insights** from lead research, pain points, or role\n- **Length**: 4–7 words (absolutely no more than 8)\n- **Style**: Clear, conversational, curiosity-driven, not hyped\n- **No overused phrases** like “Act Now,” “Unlock Growth,” “Double Your Sales”\n- **No emojis**, exclamation marks, or all-caps\n- **No first names** unless it sounds completely natural\n- **Avoid spammy phrasing** or marketing clichés\n\n---\n\n### ✅ Structure Options (Choose Based on Context)\n\nUse the structure that best aligns with the email body tone:\n\n- **[Pain Point] + Hint of Solution**  \n  e.g. `Manual Prospecting? There's a Smarter Way`\n\n- **Observation-Based Subject**  \n  e.g. `Saw You’re Scaling Outbound`\n\n- **Curiosity Without Hype**  \n  e.g. `What We Noticed With Agency Leads`\n\n- **Direct & Value-Focused**  \n  e.g. `AI Outreach Results for SaaS`\n\n- **Niche Personalization (by role, vertical, activity)**  \n  e.g. `For Founders Still Sending Cold Emails`\n\n---\n\n### 🔄 Output Rules\n\n- Return **only the subject line**\n- **Do not include quotes**, punctuation beyond periods or question marks\n- **Do not return JSON, HTML, or commentary**\n- The output must be final, usable in a live email without formatting edits\n- Must reflect **Stage 1** (initial follow-up) or **Stage 2** (lead reply engagement) tone\n\n---\n\n### ⚠️ Important Context\n\nThis subject line supports emails at:\n- **Stage 1** – First follow-up after initial outreach\n- **Stage 2** – Response to lead replies or objections\n\nThe tone can range from cold prospecting to warm clarification. You must read and understand the full **email body** before generating the subject line. Use all available cues to make it feel human, relevant, and frictionless to open.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[48,5344],"id":"667cf76d-d514-42d8-b299-f9b0e01e0ede","name":"subject creation1"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"=You are an AI agent whose only responsibility is to generate short, effective, and relevant subject lines for outreach emails.\n\nYou will receive:\n\n    A previously generated email body written by another AI agent (included in the user message).\n\n    Relevant research data about the lead, their company, and/or industry.\n\nYour goal is to write a subject line that:\n\n    Is clear, relevant, and based on the core idea of the email body.\n\n    Feels personalized without including full names unless it's natural.\n\n    Avoids sounding like a marketing blast or generic spam.\n\n    Stays under 8 words, ideally between 4–7 words.\n\n    Sparks curiosity or contextual alignment, not hype or hard-sell.\n\nSubject Line Guidelines\n\n    Derived from the email body. Always read and understand the body before generating a subject line.\n\n    Anchored in research. Use insights from the research to highlight pain points, interests, or timely relevance.\n\n    Avoid overused sales phrases. Do not use terms like \"Limited Time,\" \"Boost Revenue Now,\" \"Unlock Growth,\" etc.\n\n    Avoid excessive punctuation like \"!!\", emojis, or all-caps.\n\nStructure Options (You can pick what fits best)\n\nUse these sparingly based on the tone of the email body:\n\n    [Pain Point] + Hint of Solution\n    Example: Manual Prospecting? There’s a Smarter Way\n\n    Observation-Based Subject\n    Example: Noticed You’re Scaling Outbound…\n\n    Curiosity Without Hype\n    Example: Something We Tried With Real Estate Leads\n\n    Direct & Value-Focused\n    Example: AI Sales Automation Impact\n\n    Niche Personalization\n    Example: For SaaS Founders Doing Manual Outreach\n\nOutput Instructions\n\n    Return only the subject line, no extra commentary or quotation marks.\n\n    Use the tone and topic of the email body to guide your phrasing.\n\n    If the body is vague, fall back on the most concrete insight or benefit.\n\n    Prioritize creativity. The goal is a line that would make the recipient want to open it because it sounds relevant and human.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[16,5744],"id":"8ce6ce11-9154-43b6-8a1f-5abffe07d9ba","name":"subject1"},{"parameters":{"content":"## Follow ups\n\n### About this agent:\n- Monitors email responses after initial outreach\n- Auto-sends followup emails if no reply within set timeframe\n- Tracks engagement timeline and response rates","height":1160,"width":3640,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2288,5312],"id":"3015b007-2a5e-4353-ab0b-f2fbb616e809","name":"Sticky Note4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"967b53c2-ed4c-47a3-865d-e174be9bfb27","leftValue":"={{ $json.shouldSendEmail }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"d198b4c0-cd74-49e2-8f70-cec2c127f756","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-800,5648],"id":"0bb1a0a7-dcc9-4798-bc5a-0ab9489dcb52","name":"If"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[48,4304],"id":"4a2bcde1-81a4-4909-9507-acea581db28a","name":"OpenAI Chat Model9","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"url":"={{ $('Lead Capture Form').item.json['Company Website'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-768,3520],"id":"edfc075d-a1bb-43f9-b15c-95985dae311f","name":"HTTP Request"},{"parameters":{"html":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-576,3520],"id":"024e4422-eb02-4ded-999f-7acdef31c34e","name":"Markdown"},{"parameters":{"assignments":{"assignments":[{"id":"19d3c3aa-b328-4158-b1bc-47bfcaba58bd","name":"companyInfo","value":"Creative Glu (creativeglu.ai) Transform your business with AI-driven solutions Company Overview Creative Glu (often referred to as \"Glu\") is an AI-powered SaaS platform designed to automate and streamline creative workflows for e-commerce brands and marketing teams. The platform focuses on content creation, digital asset management, and multi-channel publishing, helping businesses boost efficiency, maintain brand consistency, and reduce manual effort. Key Details Industry: Artificial Intelligence, E-commerce Technology, Marketing Automation Business Model: SaaS (Software as a Service) Headquarters: APAC focus (specific location not disclosed) Company Size: Likely under 50 employees Website: creativeglu.ai Products & Services AI-Powered Content Creation: Automates the creation of marketing assets (copy, images, templates) using generative AI. Digital Asset Management: Features automatic tagging, smart recommendations, and centralized storage for digital assets. Brand Consistency Tools: Centralizes brand guidelines and templates for consistent creative output. Media Editing: Provides in-platform editing, bulk cropping, resizing, and background removal. Multi-Channel Publishing: Enables one-click publishing to Shopify, Facebook, Instagram, TikTok, Pinterest, Google Ads, and Mailchimp. Creative Workflow Automation: Reduces manual work, increases creative production efficiency, and lowers software costs. Intelligent Recommendations: AI suggests content improvements and automates repetitive tasks. Integrations: Seamless connection with major e-commerce and marketing platforms. Leadership Chief Technology Officer: Sangeeta Mudnal Recent News & Developments Official Launch in APAC: Creative Glu launched its AI-powered platform for e-commerce content creation in the Asia-Pacific region. Product Enhancements: Announced plans for advanced AI-powered features, including predictive analytics and agentic AI capabilities. Customer Research: Platform development guided by customer research, beta testing, and feedback, including collaboration with the Stanford Graduate School of Business Seed Program. Company Culture & Values User-Centered Design: Built on design thinking principles and real-world marketing feedback. Efficiency & Innovation: Focused on automating routine tasks to empower creative teams. Collaboration: Emphasis on teamwork and empowering users to focus on strategic work. Contact Information Website: creativeglu.ai Contact Form: Available on the website for business inquiries. Notable Partnerships or Clients Platform development involved interviews and beta testing with over 50 companies (specific names not disclosed). End of Document","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-576,3728],"id":"3b445937-4959-41c4-86c6-9eae0b7f39b0","name":"Creative glu doc"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-368,3632],"id":"b53299b1-15da-4f6d-a039-dee4ab956176","name":"Merge1"},{"parameters":{"jsCode":"const company_data = $input.all();\n\nreturn {\n  company_data:company_data\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,3632],"id":"667660b3-9239-4665-80d8-bef3164d662f","name":"Code9"},{"parameters":{"resource":"thread","operation":"reply","threadId":"={{ $('Get a thread').item.json.id }}","messageId":"={{ $('Get a thread').item.json.messages[0].id }}","emailType":"html","message":"={{ $('email body1').item.json.output }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1536,4064],"id":"a816e75b-ecd4-4dd3-926e-c5d3d7c51d88","name":"Reply to a message","webhookId":"f0abfdb4-61bf-4fa6-a9ce-df2cf44d9a8b","credentials":{"gmailOAuth2":{"id":"QV2IR2u8ttUX0kND","name":"Dan Account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"K2IQx6HN3hGSFQkt","mode":"list","cachedResultName":"Proposal Email Generation"},"workflowInputs":{"mappingMode":"defineBelow","value":{"company_data":"={{ $json.company_data }}","Prepare_Lead_Data_allItems":"={{ $('Prepare Lead Data').all() }}"},"matchingColumns":["company_data","Prepare_Lead_Data_allItems"],"schema":[{"id":"company_data","displayName":"company_data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"Prepare_Lead_Data_allItems","displayName":"Prepare_Lead_Data_allItems","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[80,3632],"name":"Call Proposal Email Generation","id":"0e6a8e13-1519-4aff-ba89-afe6061caa81"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[288,4528],"id":"a1e282d8-52e8-41a3-8d9c-dfa33bf7d97b","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"comany_knowledge_base","toolDescription":"Use this tool to extract information about our company.","pineconeIndex":{"__rl":true,"value":"companyinfo","mode":"list","cachedResultName":"companyinfo"},"topK":20,"options":{"pineconeNamespace":"CreativeGlu"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.2,"position":[352,4368],"id":"9e80498c-9bf2-4c9a-8c01-46d3fd06c98c","name":"KnowledgeBase Tool","credentials":{"pineconeApi":{"id":"T6SNKejHK4MjJcAj","name":"Dan Account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[304,5184],"id":"d7673cf0-6ebe-4293-97e9-993a8687998f","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"comany_knowledge_base","toolDescription":"Use this tool to extract information about our company.","pineconeIndex":{"__rl":true,"value":"companyinfo","mode":"list","cachedResultName":"companyinfo"},"topK":20,"options":{"pineconeNamespace":"CreativeGlu"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.2,"position":[384,5024],"id":"dc8e2446-40b9-4396-801d-2c8331cd7675","name":"KnowledgeBase Tool1","credentials":{"pineconeApi":{"id":"T6SNKejHK4MjJcAj","name":"Dan Account"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1FSC-KTA9ObCsrV4vG9rWFzWzR0G2hprXvV79iiYqCoI/edit?tab=t.0#heading=h.aj9l2umlckda"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-1488,2832],"id":"199b8f22-c1f8-4bb2-bdac-0fa0b58edbc2","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"oXRWK49kYi4imjWg","name":"Dan Acc 2"}}},{"parameters":{"resource":"thread","operation":"get","threadId":"={{ $json.threadId }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1584,4640],"id":"7fe93ed1-e99e-4156-9bfd-e919b74e9624","name":"Get a thread","webhookId":"61aca587-fb17-4899-9b2d-b25b33dc71a1","credentials":{"gmailOAuth2":{"id":"QV2IR2u8ttUX0kND","name":"Dan Account"}}},{"parameters":{"resource":"thread","operation":"reply","threadId":"={{ $('Get a thread').item.json.id }}","messageId":"={{ $('Get a thread').item.json.messages[0].id }}","emailType":"html","message":"={{ $json.message.content }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1536,4672],"id":"063437a1-af8e-4c7f-8869-c9e44d6963b5","name":"Reply to a message1","webhookId":"63ea42a1-b270-4eff-babe-5d4d00d35756","credentials":{"gmailOAuth2":{"id":"QV2IR2u8ttUX0kND","name":"Dan Account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0","mode":"list","cachedResultName":"Advanced SDR Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Email Sequencing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Latest Email Thread ID":"={{ $json.threadId }}","Stage":"3","Email Back & Forth raw content":"={{ $('subject creation').item.json.output }}, {{ $('email body1').item.json.output }}","Email Followups":"No","Lead Reply Status":"Replied"},"matchingColumns":["Latest Email Thread ID"],"schema":[{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone Numer","displayName":"Phone Numer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Website URL","displayName":"Company Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pain Points","displayName":"Pain Points","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Lead Source","displayName":"Lead Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Lead Company Research","displayName":"Lead Company Research","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Followups","displayName":"Email Followups","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"1st Email Subject Lines Array","displayName":"1st Email Subject Lines Array","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"1st Email Content / CTA / Trigger","displayName":"1st Email Content / CTA / Trigger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"2nd Email Content / CTA / Trigger","displayName":"2nd Email Content / CTA / Trigger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"3rd Email Content / CTA / Trigger","displayName":"3rd Email Content / CTA / Trigger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Latest Email Thread ID","displayName":"Latest Email Thread ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Lead Reply Status","displayName":"Lead Reply Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stage","displayName":"Stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Email Sent","displayName":"Last Email Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Call Status\n","displayName":"Call Status\n","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Call Successful","displayName":"Call Successful","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Back & Forth raw content","displayName":"Email Back & Forth raw content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1808,4064],"id":"a5e23f97-2270-4fb9-8849-eddcf9505dfb","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2a7t9bbSmio220XT","name":"Dan Google Cred"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0","mode":"list","cachedResultName":"Advanced SDR Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Email Sequencing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('get data1').item.json['Email'] }}","Latest Email Thread ID":"={{ $json.threadId }}","Lead Reply Status":"Replied","Stage":"3","Email Back & Forth raw content":"={{ $('subject').item.json.output }}, {{ $('email body2').item.json.output }}","Email Followups":"No"},"matchingColumns":["Email"],"schema":[{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone Numer","displayName":"Phone Numer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Website URL","displayName":"Company Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pain Points","displayName":"Pain Points","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Lead Source","displayName":"Lead Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Lead Company Research","displayName":"Lead Company Research","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Followups","displayName":"Email Followups","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"1st Email Subject Lines Array","displayName":"1st Email Subject Lines Array","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"1st Email Content / CTA / Trigger","displayName":"1st Email Content / CTA / Trigger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"2nd Email Content / CTA / Trigger","displayName":"2nd Email Content / CTA / Trigger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"3rd Email Content / CTA / Trigger","displayName":"3rd Email Content / CTA / Trigger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Latest Email Thread ID","displayName":"Latest Email Thread ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead Reply Status","displayName":"Lead Reply Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Stage","displayName":"Stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Email Sent","displayName":"Last Email Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Call Status\n","displayName":"Call Status\n","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Call Successful","displayName":"Call Successful","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Back & Forth raw content","displayName":"Email Back & Forth raw content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1776,4672],"id":"a11c2fa0-d86b-4299-be4e-e776c920f415","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"8grgm01j4S7pxhtA","name":"Google Sheets account 4"}}},{"parameters":{"sendTo":"={{ $('get data').item.json.Email }}","subject":"={{ $json.output }}","message":"={{ $('AI Agent2').item.json.output }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[624,5344],"id":"2d5cdb37-5419-4490-a20c-e54f0df5710a","name":"Send a message","webhookId":"0e0dc5be-1dbd-450a-95ed-1aa9bae8c719","credentials":{"gmailOAuth2":{"id":"QV2IR2u8ttUX0kND","name":"Dan Account"}}},{"parameters":{"sendTo":"={{ $('get data').item.json.Email }}","subject":"={{ $('AI Agent').item.json.output }}","message":"={{ $json.message.content }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[624,5744],"id":"6a712b73-0385-40e6-a3bf-93905fc46a55","name":"Send a message1","webhookId":"2017f741-bc99-4050-b63f-d6cd0850f9d1","credentials":{"gmailOAuth2":{"id":"QV2IR2u8ttUX0kND","name":"Dan Account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0","mode":"list","cachedResultName":"Advanced SDR Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Email Sequencing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('get data').item.json['Email'] }}","Latest Email Thread ID":"={{ $json.threadId }}","Stage":"2","2nd Email Content / CTA / Trigger":"={{ $('subject creation1').item.json.output }}, {{ $('AI Agent2').item.json.output }}"},"matchingColumns":["Email"],"schema":[{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone Numer","displayName":"Phone Numer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Website URL","displayName":"Company Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pain Points","displayName":"Pain Points","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Lead Source","displayName":"Lead Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Lead Company Research","displayName":"Lead Company Research","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Followups","displayName":"Email Followups","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"1st Email Subject Lines Array\n","displayName":"1st Email Subject Lines Array\n","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"1st Email Content / CTA / Trigger\n","displayName":"1st Email Content / CTA / Trigger\n","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"2nd Email Content / CTA / Trigger","displayName":"2nd Email Content / CTA / Trigger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"3rd Email Content / CTA / Trigger\n","displayName":"3rd Email Content / CTA / Trigger\n","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Latest Email Thread ID","displayName":"Latest Email Thread ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead Reply Status\n","displayName":"Lead Reply Status\n","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stage","displayName":"Stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Email Sent","displayName":"Last Email Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Call Status","displayName":"Call Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Call Successful","displayName":"Call Successful","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Back & Forth raw content","displayName":"Email Back & Forth raw content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[832,5344],"id":"379f8f5e-e896-46f9-ba96-f7f4aacd5adf","name":"Update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"2a7t9bbSmio220XT","name":"Dan Google Cred"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0","mode":"list","cachedResultName":"Advanced SDR Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Email Sequencing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p8u1FDuqvY4Y6ToEwzyimDeWnnU7d4pKgtxupNegZf0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('get data').item.json['Email'] }}","Latest Email Thread ID":"={{ $json.threadId }}","Stage":"2"},"matchingColumns":["Email"],"schema":[{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone Numer","displayName":"Phone Numer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Website URL","displayName":"Company Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pain Points","displayName":"Pain Points","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Lead Source","displayName":"Lead Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Lead Company Research","displayName":"Lead Company Research","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Followups","displayName":"Email Followups","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"1st Email Subject Lines Array\n","displayName":"1st Email Subject Lines Array\n","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"1st Email Content / CTA / Trigger\n","displayName":"1st Email Content / CTA / Trigger\n","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"2nd Email Content / CTA / Trigger","displayName":"2nd Email Content / CTA / Trigger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"3rd Email Content / CTA / Trigger\n","displayName":"3rd Email Content / CTA / Trigger\n","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Latest Email Thread ID","displayName":"Latest Email Thread ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead Reply Status\n","displayName":"Lead Reply Status\n","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stage","displayName":"Stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Email Sent","displayName":"Last Email Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Call Status","displayName":"Call Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Call Successful","displayName":"Call Successful","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Back & Forth raw content","displayName":"Email Back & Forth raw content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[832,5744],"id":"0e705f56-e93b-41d1-9931-616e528e7cdd","name":"Update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"2a7t9bbSmio220XT","name":"Dan Google Cred"}}},{"parameters":{"operation":"getAll","limit":5,"filters":{"sender":"=Dan@creativeglu.xyz"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1248,5648],"id":"684f103f-5f35-43d0-bce8-8510232dc4cd","name":"Get many messages","webhookId":"1516ec2f-2406-448d-a32d-c508e0a4b458","credentials":{"gmailOAuth2":{"id":"QV2IR2u8ttUX0kND","name":"Dan Account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-16,2912],"id":"77bb9f9c-69af-4e11-96fa-a06d6b21db2d","name":"Telegram Trigger","webhookId":"8ad0bcaf-47ad-4181-a269-108b0f4594f0","credentials":{"telegramApi":{"id":"4uNFWo8TqlKasQYp","name":"Samy Sales bot"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=You are a helpful AI assistant integrated with Telegram via n8n. Your role is to handle incoming user messages and respond appropriately based on their content. Follow the rules strictly:\n\n1. If the message is a greeting (e.g., \"Hi\", \"Hello\", \"Hey\", \"Good morning\", \"Good evening\"), respond warmly and professionally. Example:\n   - \"Hi there! How can I assist you today?\"\n   - \"Hello! I'm here to help. Let me know what you need.\"\n\n2. If the message contains the phrase \"I have a new lead\" (case-insensitive), respond exactly as follows:\n   - \"Thanks for sharing the lead! Please fill all the lead details in the following form: https://gluagents.xyz/form/794b8d6e-a6e0-44d4-bb79-8d3ae1222770\"\n\n3. For all other messages, reply politely indicating that you're an AI assistant and request clarification or guide them to type \"I have a new lead\" if relevant. Example:\n   - \"I'm here to assist with lead submissions. You can say 'I have a new lead' to get started, or let me know how I can help.\"\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[368,2928],"id":"984a3e0d-295d-4a2b-a035-2971015ca4f4","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[432,3152],"id":"f6ddffb6-4f87-4c17-89c1-8d9d69c0688a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[784,2912],"id":"b5d0df16-14b8-4ca8-a397-b099a2fa3ae9","name":"Telegram","webhookId":"4bb393c8-5d4a-4e98-be05-26236157fa0a","credentials":{"telegramApi":{"id":"4uNFWo8TqlKasQYp","name":"Samy Sales bot"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[432,2688],"id":"bec031a2-251c-4d44-8fe8-a52950b5b9dd","name":"Telegram1","webhookId":"1ba96e10-3bbe-43d3-a1aa-1604decd90d8","credentials":{"telegramApi":{"id":"4uNFWo8TqlKasQYp","name":"Samy Sales bot"}}},{"parameters":{"content":"## Lead Capture Form\n\n### About us\nCaptures: Lead name, website, address, contact details\nAuto-populates lead database\nTriggers initial workflow sequence","height":672,"width":3660,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2336,3280],"id":"b33cd33f-5515-4d7c-8092-e9c6a1880e03","name":"Sticky Note"},{"parameters":{"content":"## Creative Glu Knowledge Base\n","height":700,"width":1920},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2336,2560],"id":"6c8ec357-b2a5-4511-a33c-966c28cf00d6","name":"Sticky Note2"},{"parameters":{"content":"## Telegram Chatbox\n","height":700,"width":1680},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,2560],"id":"8868e3ee-17ce-40db-bfa6-7edbaf8d9cf9","name":"Sticky Note3"},{"parameters":{"content":"## Lead Capture Form Input Node","height":336,"width":356,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1824,3504],"id":"ce948061-d680-4d7d-9e40-689e0c1c8529","name":"Sticky Note5"},{"parameters":{"content":"## Lead Capture Form Output Node","height":320,"width":260,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,3504],"id":"4bc68aa4-9dee-491c-b488-1b24090541c9","name":"Sticky Note6"},{"parameters":{"content":"## Gmail Trigger Input Node","height":300,"width":300,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2192,4528],"id":"31c2f69b-739e-45a1-b056-3ec69827d7c0","name":"Sticky Note7"},{"parameters":{"content":"## Output Node","height":320,"width":260,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1472,4000],"id":"3ba58cff-c27e-4a19-bb9d-ece3745d09f3","name":"Sticky Note8"},{"parameters":{"content":"## Output Node","height":320,"width":260,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1456,4576],"id":"ddc5f263-37eb-47ca-ba67-e12e54a00799","name":"Sticky Note9"},{"parameters":{"content":"## Followup Input Node","height":300,"width":300,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1776,5552],"id":"2f610f15-26d5-494f-897d-e6988adcad94","name":"Sticky Note10"},{"parameters":{"content":"## Output Node","height":320,"width":260,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[544,5312],"id":"d30ae9dd-0c54-4d42-9ebb-625215668bc5","name":"Sticky Note11"},{"parameters":{"content":"## Output Node","height":320,"width":260,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[544,5664],"id":"bc98167f-5705-48f1-aa13-5a03c053eacc","name":"Sticky Note12"},{"parameters":{"content":"## Knowledgebase Input Node","height":300,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1808,2752],"id":"a448da50-feb9-44e0-86b0-332b4a2871d5","name":"Sticky Note13"},{"parameters":{"content":"## Telegram Input Node","height":300,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-96,2800],"id":"8bde0da2-411d-4ac8-99ff-5566e51c9103","name":"Sticky Note14"},{"parameters":{"content":"## Telegram Output Node","height":320,"width":260,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[704,2800],"id":"6bc75747-c73b-4c5b-b3a2-33317f740b31","name":"Sticky Note15"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"labelIds":["INBOX"]}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-2096,4640],"id":"96f41e02-08f1-4aa0-a7b5-467a18123f2e","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"QV2IR2u8ttUX0kND","name":"Dan Account"}}},{"parameters":{"operation":"get","documentURL":"1xOB_dyP5e0zzCnSsQPc0pKCYDvXFQZMCeqCzXg03J80"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-336,4176],"id":"88c76c89-a84a-4e89-abf4-d39255eef4b3","name":"Get a document1","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}}},{"parameters":{"operation":"get","documentURL":"1Km1yNO1Irg-wBCKFgyJx8ILIrXuhbqN6F0YmIT5bOdQ"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-352,4592],"id":"45733d32-e0cf-4440-9532-e86716e9f780","name":"Get a document2","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}}},{"parameters":{"operation":"get","documentURL":"1J0bXLImJUiolgnsErNvzWzpsVJXZKWQI3gFG7mZk1mk"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[480,4752],"id":"47a7f8c4-2213-4536-af5f-74c6a3d91519","name":"Get a document3","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}}},{"parameters":{"operation":"get","documentURL":"1oDsEAFrta7iiexychkkAs58Hz0Kk4fD_pQAkibdTUhg"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[416,4096],"id":"0369efd0-d709-4ded-9419-c36c31f9083f","name":"Get a document4","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}}}],"connections":{"Lead Capture Form":{"main":[[{"node":"Prepare Lead Data","type":"main","index":0}]]},"Prepare Lead Data":{"main":[[{"node":"Email Verification","type":"main","index":0}]]},"Email Verification":{"main":[[{"node":"Email Validation Check","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings_OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Email Validation Check":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Creative glu doc","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"get data","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"AI Agent2","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Reply to a message","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Switch2","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Get a document1","type":"main","index":0}],[{"node":"Get a document2","type":"main","index":0}]]},"Code7":{"main":[[{"node":"If","type":"main","index":0}]]},"email body1":{"main":[[{"node":"Get a document4","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Reply to a message1","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"subject creation","type":"ai_languageModel","index":0}]]},"email body2":{"main":[[{"node":"Get a document3","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"email body2","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"subject","type":"ai_languageModel","index":0}]]},"subject creation":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"get data":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"get data1":{"main":[[{"node":"If2","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"subject1","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"subject creation1","type":"main","index":0}]]},"subject":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"subject creation1","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model8":{"ai_languageModel":[[{"node":"subject1","type":"ai_languageModel","index":0}]]},"subject creation1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"subject1":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"OpenAI Chat Model9":{"ai_languageModel":[[{"node":"email body1","type":"ai_languageModel","index":0}]]},"HTTP Request":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Creative glu doc":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Code9","type":"main","index":0}]]},"Code9":{"main":[[{"node":"Call Proposal Email Generation","type":"main","index":0}]]},"Reply to a message":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"KnowledgeBase Tool","type":"ai_embedding","index":0}]]},"KnowledgeBase Tool":{"ai_tool":[[{"node":"email body1","type":"ai_tool","index":0},{"node":"subject creation","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"KnowledgeBase Tool1","type":"ai_embedding","index":0}]]},"KnowledgeBase Tool1":{"ai_tool":[[{"node":"email body2","type":"ai_tool","index":0},{"node":"subject","type":"ai_tool","index":0}]]},"Get a document":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Get a thread":{"main":[[{"node":"get data1","type":"main","index":0}]]},"Reply to a message1":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Update row in sheet2","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Update row in sheet3","type":"main","index":0}]]},"Call Proposal Email Generation":{"main":[[]]},"Get many messages":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Telegram1","type":"main","index":0},{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram1":{"main":[[]]},"Gmail Trigger":{"main":[[{"node":"Get a thread","type":"main","index":0}]]},"Get a document1":{"main":[[{"node":"email body1","type":"main","index":0}]]},"Get a document2":{"main":[[{"node":"email body2","type":"main","index":0}]]},"Get a document3":{"main":[[{"node":"subject","type":"main","index":0}]]},"Get a document4":{"main":[[{"node":"subject creation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1754318072,"possibleDuplicates":["19875816f5be94b0","198756fa654393ea","198756fa371216dc"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Gmail Trigger":[{"json":{"id":"19836843b078b8da","threadId":"1983683a4ea9c374","snippet":"Oh nice On Wed, 23 Jul 2025 at 14:30, &lt;Dan@creativeglu.xyz&gt; wrote: Saw your work automating creative workflows at Creative Glu—impressive how you&#39;re streamlining content for e-commerce brands","payload":{"mimeType":"multipart/alternative"},"sizeEstimate":7245,"historyId":"266612","internalDate":"1753261280000","labels":[{"id":"INBOX","name":"INBOX"},{"id":"IMPORTANT","name":"IMPORTANT"},{"id":"CATEGORY_PERSONAL","name":"CATEGORY_PERSONAL"},{"id":"UNREAD","name":"UNREAD"}],"From":"Shreyansh J <shreyansh@grepruby.io>","Subject":"Re: AI to Simplify Creative Workflows?","To":"Dan@creativeglu.xyz"}}]},"versionId":"bc45861a-da6e-41e1-a068-064549612fda","triggerCount":3,"tags":[]}