Santorio SubAgent: Health Report Parser.json
{"createdAt":"2025-04-25T07:25:47.505Z","updatedAt":"2025-07-25T07:26:27.019Z","id":"asxGFD8fwFJjExga","name":"Santorio SubAgent: Health Report Parser","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-464,432],"id":"daca366d-b197-4253-bd89-d850dae99dcb","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"base":{"__rl":true,"value":"appn6GinPIiaJLmwu","mode":"list","cachedResultName":"santorio-memory-db","cachedResultUrl":"https://airtable.com/appn6GinPIiaJLmwu"},"table":{"__rl":true,"value":"tblA29s4zrajBOC58","mode":"list","cachedResultName":"health_reports","cachedResultUrl":"https://airtable.com/appn6GinPIiaJLmwu/tblA29s4zrajBOC58"},"id":"=","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[224,432],"id":"91390334-4467-47f9-b73b-c42470924849","name":"get_uploaded_record_count","credentials":{"airtableTokenApi":{"id":"LjkU3CjQ2npQkFJl","name":"Airtable Personal Access Token account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"userQuery"},{"name":"chatID","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-496,160],"id":"3915c074-9d53-436b-a3f2-62af2af76d9f","name":"When Executed by Another Workflow"},{"parameters":{"name":"user_query_fallback_tool","description":"Call this tool when you dindt get any data or output from Airtable tool and and summary tools this is fallback tool","workflowId":{"__rl":true,"value":"iTCZOo9YLSAAvFYv","mode":"list","cachedResultName":"SANv3.0 fallback tool user inputs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"userQuery":"={{ $('When Executed by Another Workflow').item.json.userQuery }}"},"matchingColumns":[],"schema":[{"id":"userQuery","displayName":"userQuery","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-96,400],"id":"6b65b4c8-ce22-4593-825b-c1d171f233b5","name":"user_query_fallback_tool"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appn6GinPIiaJLmwu","mode":"list","cachedResultName":"santorio-memory-db","cachedResultUrl":"https://airtable.com/appn6GinPIiaJLmwu"},"table":{"__rl":true,"value":"tblA29s4zrajBOC58","mode":"list","cachedResultName":"health_reports","cachedResultUrl":"https://airtable.com/appn6GinPIiaJLmwu/tblA29s4zrajBOC58"},"filterByFormula":"={userID} = '{{ $json.chatID }}'","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[464,432],"id":"6d7c7a54-079d-4204-85d2-ec2652e26144","name":"get_user_health_reports","credentials":{"airtableTokenApi":{"id":"LjkU3CjQ2npQkFJl","name":"Airtable Personal Access Token account"}}},{"parameters":{"promptType":"define","text":"=user query: {{ $('When Executed by Another Workflow').userQuery }}","options":{"systemMessage":"={{ ($json.content && $json.content.trim().length > 0) ? $json.content : `\nYou are a helpful assistant\n\n**Role:** Call appropriate tools based on user query  \n**Tools:**  \n**🩺 get_user_health_reports** → Use this tool to fetch answers to user queries from the database.  \n• If records are found, clearly mention:\n  - 📅 Dates of tests  \n  - 👤 Patient names  \n  - 📌 Important health details\n\n**📊 get_uploaded_record_count** → Use this when user asks how many reports have been uploaded into Airtable.\n\n**❓ user_query_fallback_tool** → Use this **only if** other tools return no result. Don't overuse it — call it **only when needed**.\n\n---\n\n### 🧠 Output Guidelines:\n\nThe output must be:\n- 💬 Simple\n- 🤝 Friendly\n- 🎯 Direct (not too long)\n\n📝 **Always include the RIOS breakdown**:  \n1️⃣ **Risk:** Explain what risk is involved based on the result.  \n2️⃣ **Insight:** Why this metric matters for recovery and performance.  \n3️⃣ **Opportunity:** Give practical suggestions to improve.  \n4️⃣ **Summary:** Keep it concise, engaging, and tailored to the user.\n\n⚡ Make the response **as fast as possible** and **avoid long explanations**. Use tool outputs first — then layer RIOS.\n` }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[64,160],"id":"65b7a5c9-05f9-4107-8b2b-b198851e5765","name":"Super Agent"},{"parameters":{"content":"# Super Agent ","height":240,"width":780,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-288,80],"id":"e49e67bc-9e49-4adb-96bc-8738a625349d","name":"Sticky Note3"},{"parameters":{"content":"# Brain","height":220,"width":640,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-576,352],"id":"e729fdfb-6f68-4401-ba46-64fd1925ac12","name":"Sticky Note1"},{"parameters":{"content":"# Agent Trigger\n","height":240,"width":280,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-576,80],"id":"3db9d394-2a06-4fa8-b464-6ea34a1a2040","name":"Sticky Note"},{"parameters":{"content":"# Airtable Database","height":220,"width":680,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,352],"id":"c87f5127-9e0b-44ea-a041-5d5511f7195b","name":"Sticky Note2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-304,432],"id":"6ef6e4d4-694d-4c04-a755-20ca2d7b7b79","name":"Think"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[832,160],"id":"f2498001-aac9-419c-8cca-1f92d9a5bc0d","name":"Send a text message","webhookId":"83aaf73e-1fb9-4485-abd6-a76bda36e51f","credentials":{"telegramApi":{"id":"n9uqHVVmsUH0LY6C","name":"Santorio-API-Token"}}},{"parameters":{"content":"## Response\n","height":240,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,80],"id":"ddad24cc-feba-4d11-b9a8-95aab744b26d","name":"Sticky Note4"},{"parameters":{"operation":"get","documentURL":"1SgLk8_qM0zvsJzFF-BQ8c-10O5pqqeP1tSHlGG1ObBQ"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-240,160],"id":"85de3668-badc-4464-b237-16b00090fef3","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Super Agent","type":"ai_languageModel","index":0}]]},"get_uploaded_record_count":{"ai_tool":[[{"node":"Super Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"user_query_fallback_tool":{"ai_tool":[[{"node":"Super Agent","type":"ai_tool","index":0}]]},"get_user_health_reports":{"ai_tool":[[{"node":"Super Agent","type":"ai_tool","index":0}]]},"Super Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Super Agent","type":"ai_tool","index":0}]]},"Get a document":{"main":[[{"node":"Super Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8a070b8d-b03b-4553-9764-85cf76682671","triggerCount":0,"tags":[]}