Santorio - Natural Health.json
{"createdAt":"2025-04-11T09:21:51.564Z","updatedAt":"2025-07-25T07:21:49.438Z","id":"EKQmuaB2MsYDcmMa","name":"Santorio - Natural Health","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.user_message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"4fa469c8-a6a7-4c96-b976-d1659ee3821c"}],"combinator":"and"},"renameOutput":true,"outputKey":"={{ $json.user_message }}"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cc16c2c4-c800-48c3-8d4d-880eca6f741e","leftValue":"={{ $('Telegram Trigger').item.json.message.photo.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"={{ $('Telegram Trigger').item.json.message.photo }}"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"43426d5f-f47a-471a-88cb-2c672d788de9","leftValue":"={{ $('Telegram Trigger').item.json.message.document.mime_type }}","rightValue":"image/jpeg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c4e27f09-8555-40a8-aaea-f20c1336d1b0","leftValue":"={{ $('Telegram Trigger').item.json.message.document.mime_type }}","rightValue":"image/png","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0d3030a1-e37d-4ecd-bdba-558234d6ae80","leftValue":"={{ $('Telegram Trigger').item.json.message.document.mime_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-848,-368],"id":"2fe1b72d-024e-4b62-8470-b1aef715df8d","name":"master router switch"},{"parameters":{"name":"daily_morning_update_tool","description":"=Call this tool to answer the quries if user requests a general daily health updates for themself or greets with “Good Morning.”,\"Update\".\"Give me my health update\"\n ","workflowId":{"__rl":true,"value":"3ppZDQEZk5L7FbCh","mode":"list","cachedResultName":"Santorio SubAgent: Daily Greeting"},"fields":{"values":[{"name":"userQuery","stringValue":"={{ $('Edit Fields2').item.json.user_message }}"},{"name":"chatID","stringValue":"={{ $('Edit Fields2').item.json.chatId }}"}]}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[224,-496],"id":"0c2513b7-73f3-4985-bcdc-a620c5a44e54","name":"daily_morning_update_tool"},{"parameters":{"name":"single_oura_query_handler_tool","description":"=Use this tool to answer user queires if user ask for his personal health data related to sleep, activity, heart rate, and readiness score on a particular day  \n\nyou may get this information\n- **Sleep-related** → `deep_sleep`, `efficiency`, `latency`, `rem_sleep`, `restfulness`, `timing`, `total_sleep`, `day`, `score`.  \n- **Recovery & Readiness** → `activity_balance`, `body_temperature`, `hrv_balance`, `previous_day_activity`, `previous_night`, `recovery_index`, `resting_heart_rate`, `sleep_balance`, `temperature_deviation`, `temperature_trend_deviation`.  \n- **Activity & Workouts** → `class_5_min`, `score`, `active_calories`, `average_met_minutes`, `meet_daily_targets`, `move_every_hour`, `recovery_time`, `stay_active`, `training_frequency`, `training_volume`, `steps`, `target_calories`, `total_calories`, `sedentary_time`, `non_wear_time`.  \n\n","workflowId":{"__rl":true,"value":"sFQxVO7qtziAmN1c","mode":"list","cachedResultName":"Santorio SubAgent: Oura Query"},"fields":{"values":[{"name":"userQuery","stringValue":"={{ $('Edit Fields2').item.json.user_message }}"},{"name":"chatID","stringValue":"={{ $('Edit Fields2').item.json.chatId }}"}]}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[400,-496],"id":"fb6d0b1f-2dfd-44ef-9aba-25666e6bbc05","name":"single_oura_query_handler_tool"},{"parameters":{"name":"trends_analyzer_tool","description":"=Call this tool to answer the user queries if user asks for health data over a period of time or if the user asks for trends or patterns in their health data over a period user might ask about sleep trends, readiness score changes, activity trends. \n\nfew shot examples:\n- Show me my sleep trends over the last month.\"`  \n- `\"How has my readiness score changed in the past two weeks?\"`  \n- `\"Compare my activity levels from January and February.\"`","workflowId":{"__rl":true,"value":"umrlK3xVZsVvHKJr","mode":"list","cachedResultName":"Santorio SubAgent: Oura Health Trends"},"fields":{"values":[{"name":"userQuery","stringValue":"={{ $('Edit Fields2').item.json.user_message }}"},{"name":"chatID","stringValue":"={{ $('Edit Fields2').item.json.chatId }}"}]}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[560,-496],"id":"636a5c8d-936c-47d8-9f8f-5846805e59db","name":"trends_analyzer_tool"},{"parameters":{"model":"gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1264,288],"id":"e5a343a4-aa53-47de-8880-c863425c7df3","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.content }}\n\nActual health report details:  {{ $('Extract data from pdf').item.json.text }}\nDo not include that line This message was sent automatically with n8n\nin reposnse\n\n🩸 AI health Report Analyzer – Response Guidelines 🩸\n🔹 Keep It Simple & Friendly – Use easy-to-understand language, avoiding technical jargon.\n   Keep The response short and redable , no need of long message\n🔹 No Raw Text/JSON – Format responses in a human-friendly way.\n🔹 Include Key Data – Show blood test values, reference ranges, risks, and next steps.\n🔹 Use Emojis & Formatting – ✅ Normal, ⚠️ Slightly High/Low, 🚨 Critical.\n🔹 Show Patient Details – 🆔 Name, 🎂 Age, ⚧ Gender, 🏥 Lab Name, 📅 Test Date.\n🔹 Clear Structure – Use bullet points, highlight findings, and organize neatly.\n🔹 Health Tips – Suggest diet, exercise, and medical advice if results are abnormal.\n🔹 Validate Report – If the uploaded data isn't a related to health-related information such as lab test results, blood reports, or medical prescriptions respond with:\n“This is not a valid blood test report.”\n\ninstructions-- follow properly \n1.Before the final response, first check if the test is a blood test or not.\n   If it is a blood test, use the line \"your blood test results\".\n   If it's not a blood test, use the line \"your health report\" instead.\n\n2.Once you receive the final output from the tools, always append the following message to the response:\n \"Do you want to learn more? click here https://santoriov1.vercel.app/status\" \n\n3. remove all markdown symbols like ** , ## and related to that , output should be simple stucture\n"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1280,400],"id":"bd8d5888-4334-46a6-b26d-961965981e68","name":"Pdf analysis agent"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[368,400],"id":"96791091-0f89-448c-938e-470d18f47cde","name":"get pdf file","webhookId":"be551ee1-f9dc-450e-88b1-c39577414b80","credentials":{"telegramApi":{"id":"n9uqHVVmsUH0LY6C","name":"Santorio-API-Token"}}},{"parameters":{"operation":"pdf","options":{"joinPages":true,"keepSource":"both"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[800,400],"id":"1b943125-f7dd-44d5-86e9-c47503f77e19","name":"Extract data from pdf"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1gXA_exZWSHlDZ0nLXqyp5psGpX_YTGC44HhUVmX8Xx0/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1040,400],"id":"f5ba240b-c7d8-44c2-9842-01ae8a9c2a22","name":"report analysis prompt doc","credentials":{"googleDocsOAuth2Api":{"id":"Om41V3tJihrnzpYR","name":"Google Docs account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"=Analyse the blood report provided to you carefullly and extract all information data value\n","inputType":"base64","options":{"detail":"auto"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[800,128],"id":"0a977ac5-e115-41ca-a20c-060e03283c6b","name":"Analysis Report Image node","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Access the binary data\nconst binaryData = items[0].binary.data;\n\n// Set the correct MIME type\nbinaryData.mimeType = 'image/jpeg'; // or 'image/png', depending on your file\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,128],"id":"c6cc3510-a0a7-4e16-b134-9578f3d406a2","name":"convert MIME type"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.photo[2].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[368,64],"id":"4d364b12-7982-402e-8acd-76c4a714e48b","name":"get report image jpeg/jpg","webhookId":"001dc3b8-048f-4950-84fe-625719523558","credentials":{"telegramApi":{"id":"n9uqHVVmsUH0LY6C","name":"Santorio-API-Token"}}},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[368,224],"id":"70416765-29cd-489b-b78e-1ae37639d594","name":"get report image png/doc","webhookId":"f76fd2f4-0121-4b12-8149-79c532cfdb35","credentials":{"telegramApi":{"id":"n9uqHVVmsUH0LY6C","name":"Santorio-API-Token"}}},{"parameters":{"model":"gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1280,544],"id":"50262f2b-7881-480a-8e98-5bf5a6d14924","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields2').item.json.user_message }}","options":{"systemMessage":"={{ ($json.content && $json.content.trim().length > 0) ? $json.content : `\n=You are an intelligent health assistant.Your job is to understand the user’s message and reply using available tools or previous chat history. \n\nif user message if greeting like \"hi\",\"hellow\" or command like \"/start\"\n use tool Greetings_Tool for manage greetings only\n\n### Instructions:\n\n1. Check chat history first for relevant answers (e.g. scores, results).\n2. If not found, call the right tool — but only once per query.\n3. Always use the general_conversational_query tool to answer general queries ( health advices, Genral Medicle terminolgy , Dieses advices ).\n3. Use disease_causes_recommendations for:\n   * Diseases, causes, risks\n4. Use health_reports_assiatnce_tool for:\n   * Blood reports, CBC, sodium, thyroid, lipid profile, or health report counts\n5. Use user_personal_health_details to get user health profile/info.\n6. Use Get_last_execution_cost if the user asks about last execution cost or tokens.\n7. Use get_last_execution_quality_summary for quality summary of last run.\n8. daily_morning_update_tool Call this tool to answer the quries if user requests a general daily health updates for themself or greets with “Good Morning.”, \"Update\", \"Give me my health update\"\n\n9. If no valid info in chat history, always call tools.\n10. Remove all markdown (like * or #) from the output.\n11. Do not hallucinate anything. Use only the information available. Do not use any other source.\n` }}","returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[704,-960],"id":"8e249135-8da1-4d87-9058-4ba8956875ca","name":"Santorio Super Agent","onError":"continueErrorOutput"},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2272,-288],"id":"d377f373-3c3e-4116-b2de-809dd82817ed","name":"blood_reports_image _response","webhookId":"a0aaac08-74f8-4db8-af7e-fbc4c45a8946","credentials":{"telegramApi":{"id":"n9uqHVVmsUH0LY6C","name":"Santorio-API-Token"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2272,-48],"id":"8cbf9337-45be-4f77-aa90-b428d9082485","name":"pdf_reports_response_node","webhookId":"03191d51-43e9-4b10-875e-9c2ba6c37363","credentials":{"telegramApi":{"id":"n9uqHVVmsUH0LY6C","name":"Santorio-API-Token"}}},{"parameters":{"promptType":"define","text":"=\nActual health report details: {{ $('Analysis Report Image node')?.item?.json?.content || $json.attachmentData }}\n\n🩸 AI health Report Analyzer – Response Guidelines 🩸\n🔹 Keep It Simple & Friendly – Use easy-to-understand language, avoiding technical jargon.\n   Keep The response short and redable , no need of long message\n🔹 No Raw Text/JSON – Format responses in a human-friendly way.\n🔹 Include Key Data – Show blood test values, reference ranges, risks, and next steps.\n🔹 Use Emojis & Formatting – ✅ Normal, ⚠️ Slightly High/Low, 🚨 Critical.\n🔹 Show Patient Details – 🆔 Name, 🎂 Age, ⚧ Gender, 🏥 Lab Name, 📅 Test Date.\n🔹 Clear Structure – Use bullet points, highlight findings, and organize neatly.\n🔹 Health Tips – Suggest diet, exercise, and medical advice if results are abnormal.\n🔹 Validate Report – If the uploaded data isn't a related to health-related information such as lab test results, blood reports, or medical prescriptions respond with:\n“This is not a valid blood test report.”\n\ninstructions-- follow properly \n1.Before the final response, first check if the test is a blood test or not.\n   If it is a blood test, use the line \"your blood test results\".\n   If it's not a blood test, use the line \"your health report\" instead.\n\n2.Once you receive the final output from the tools, always append the following message to the response:\n \"Do you want to learn more? click here https://santoriov1.vercel.app/status\" \n\n3. remove all markdown symbols like ** , ## and related to that , output should be simple stucture\n\n4. Final response Shoukld not to long\n"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1264,128],"id":"79ed27b6-eb97-4f0b-8d9f-6c4972a5b4b6","name":"blood_reports_image_tool"},{"parameters":{"options":{"summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"=Write a concise summary of the following:\n\n\n\"{{ $json.result.text }}\"\n\n\n\nCONCISE SUMMARY: ","prompt":"=Write a concise summary of the following:\nalso mentions the type like blood report of user \nDO not miss any data\n\n\"{text}\"\n\n\nCONCISE SUMMARY: "}}}},"type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2,"position":[3008,-128],"id":"d2a3d45f-7fb3-4600-ab9a-0669c2c71798","name":"Summarization Chain3","disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3024,112],"id":"6b732678-f906-4df2-8de3-f2ac5297cc60","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"name":"dieses_couses_recommendation_tool","description":"Call this tool when a user asks query related to the diseases risk they can potentially have and their causes and recommendations for THEMSELVES.","workflowId":{"__rl":true,"value":"NHcxfqgTghxPTxYH","mode":"list","cachedResultName":"Santorio SubAgent: Health Insights"},"fields":{"values":[{"name":"userQuery","stringValue":"={{ $('Edit Fields2').item.json.user_message }}"},{"name":"chatID","stringValue":"={{ $('Edit Fields2').item.json.chatId }}"}]}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[880,-528],"id":"8bef37b4-59de-4ef4-ada4-1d6256bb947e","name":"dieses_couses_recommendation_tool"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3168,-304],"id":"a952604d-08ac-4a59-a6ba-d10746452289","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"name":"health_reports_assiatnce_tool","description":"Use this tool when the user asks about their health or blood test reports.\nIt extracts and returns data like CBC, sodium, lipid profile, thyroid levels, etc., from stored lab results.\nExample queries: \"What is my sodium?\", \"Show my CBC report\", \"Lipid profile result\", etc.\n\nAlso call this tool when user ask aboute the uploaded health reports count data ","workflowId":{"__rl":true,"value":"asxGFD8fwFJjExga","mode":"list","cachedResultName":"Santorio SubAgent: Health Report Parser"},"fields":{"values":[{"name":"userQuery","stringValue":"={{ $('Edit Fields2').item.json.user_message }}"},{"name":"chatID","stringValue":"={{ $('Edit Fields2').item.json.chatId }}"}]}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[1024,-528],"id":"beafe2b7-8443-441d-b1ba-15eec5653d17","name":"health_reports_assiatnce_tool"},{"parameters":{"name":"andrew_huberman_protocols_tool","description":"Call this tool to provide accurate, science-based responses to user queries related to Andrew Huberman's protocols","workflowId":{"__rl":true,"value":"cCygyUfQeqUyyx7n","mode":"list","cachedResultName":"POC-Andrew-huberman-protocols"},"fields":{"values":[{"name":"userQuery","stringValue":"={{ $('Telegram Trigger').first().json.message.text}}"}]}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[1888,-544],"id":"701ef8bb-0ce1-4f80-858c-5430f93e6848","name":"andrew_huberman_protocols_tool","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"tdtnfw7LZLdJBt5W","mode":"list","cachedResultName":"upload health reports"},"workflowInputs":{"mappingMode":"defineBelow","value":{"report_data":"={{ $json.result.text  }}","file_name":"={{ $('Telegram Trigger').item.json.message.document.file_name }}","userID":"={{ $('Telegram Trigger').item.json.message.chat.id }}","file_source":"={{ $('Extract data from pdf').item.json.result.file_path }}"},"matchingColumns":["report_data"],"schema":[{"id":"report_data","displayName":"report_data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"file_name","displayName":"file_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"userID","displayName":"userID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"file_source","displayName":"file_source","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2752,-144],"id":"84a46435-0eba-4d36-8ea4-b5691823ce18","name":"Execute Workflow"},{"parameters":{"name":"Get_last_execution_cost","description":"Call this tool to retrieve the cost and token usage details of the most recent AI prompt execution, including prompt and completion tokens.","workflowId":{"__rl":true,"value":"DmAEsxJmsh5QriOv","mode":"list","cachedResultName":"Get Cost of excucation"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1232,-528],"id":"f4706a41-f39c-4400-a8c6-4c9af1a4826e","name":"Get_last_execution_cost","disabled":true},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1376,-320],"id":"e44ebe31-3a4a-4566-8061-604bae408996","name":"Telegram Trigger","webhookId":"6801df5f-5814-4087-a4c8-1a94d8c855d8","credentials":{"telegramApi":{"id":"n9uqHVVmsUH0LY6C","name":"Santorio-API-Token"}}},{"parameters":{"name":"get_last_execution_quality_summary","description":"Call this tool to get the last execution quality summary based on key evaluation metrics like faithfulness, relevance, correctness, summarization quality, and toxicity.","workflowId":{"__rl":true,"value":"4SR1OO432mVZbWec","mode":"list","cachedResultName":"Get Last Execution Quality"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1664,-544],"id":"e5cabb24-5907-44ca-b616-63f79db4c3d3","name":"get_last_execution_quality_summary","disabled":true},{"parameters":{"content":"# Agent Trigger\n","height":1780,"width":460},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1504,-1040],"id":"d5d53347-3310-4365-8b1f-c321e4f2e14f","name":"Sticky Note"},{"parameters":{"content":"# Santorio Super Agent\n \n.\n","height":740,"width":2500,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-448,-1040],"id":"6a46c801-b899-4124-b426-1620fb8d8de6","name":"Sticky Note1"},{"parameters":{"content":"# Response","height":1780,"width":500,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2080,-1040],"id":"48b9b6fd-6a10-4563-a8e2-1631b7224c4f","name":"Sticky Note9"},{"parameters":{"workflowId":{"__rl":true,"value":"g9xW3CEEfLWjscvi","mode":"list","cachedResultName":"costing tool"},"workflowInputs":{"mappingMode":"defineBelow","value":{"workflowname":"={{$workflow.name  }}","excuationID":"={{$execution.id}}"},"matchingColumns":["execution ID"],"schema":[{"id":"intermediateSteps","displayName":"intermediateSteps","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":true},{"id":"workflowname","displayName":"workflowname","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"input","displayName":"input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":true},{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":true},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":true},{"id":"excuationID","displayName":"excuationID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3712,-320],"id":"09e71967-9df6-4f90-998b-7c2daa8ee7a7","name":"Execute Costing Tool","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"hLBI0B5y93BEKzuh","mode":"list","cachedResultName":"Store Quality Analysis Summary"},"workflowInputs":{"mappingMode":"defineBelow","value":{"output":"={{ $('Santorio Super Agent').item.json.output }}","input":"={{ $('master router switch').item.json.user_message }}","workflowName":"={{ $workflow.name }}","executionID":"={{ $execution.id }}"},"matchingColumns":[],"schema":[{"id":"input","displayName":"input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"workflowName","displayName":"workflowName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"executionID","displayName":"executionID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2944,-544],"id":"502c24f8-948e-432e-abb1-51032e3056d5","name":"Execute Quality Analysis Agent","onError":"continueRegularOutput"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appn6GinPIiaJLmwu","mode":"list","cachedResultName":"santorio-memory-db","cachedResultUrl":"https://airtable.com/appn6GinPIiaJLmwu"},"table":{"__rl":true,"value":"tblyDq3tLtgxDmpvn","mode":"list","cachedResultName":"san-memory-table","cachedResultUrl":"https://airtable.com/appn6GinPIiaJLmwu/tblyDq3tLtgxDmpvn"},"columns":{"mappingMode":"defineBelow","value":{"chatID":"={{ $('Edit Fields1').item.json.chatId }}","chatHistory":"={{ $json.response.text }}"},"matchingColumns":[],"schema":[{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"chatHistory","displayName":"chatHistory","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3488,-496],"id":"84b9adaa-7fb4-467b-b507-c62459c29c13","name":"Store summary in memory db","credentials":{"airtableTokenApi":{"id":"LjkU3CjQ2npQkFJl","name":"Airtable Personal Access Token account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"content":"# Execution Analysis Agent","height":1780,"width":1260,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2608,-1040],"id":"1956651e-b90d-4924-9f9e-e08b3456f0e8","name":"Sticky Note17"},{"parameters":{"options":{"summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"=Write a concise summary of the following:\n\n\n\"{{ $json.result.text }}\"\n\n\nCONCISE SUMMARY:"}}}},"type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2,"position":[3168,-544],"id":"9d773f5d-38d8-44ad-a0ba-c0a0af37e1f9","name":"Summarize input/output"},{"parameters":{"content":"# Analysis Report Image/File\nUses AI to read and analyze reports, returning insights based on their contents.\n\n","height":1020,"width":2500,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-448,-288],"id":"87d78491-4d8b-46b9-99e3-7fde1d15f046","name":"Sticky Note19"},{"parameters":{"workflowId":{"__rl":true,"value":"DRZU7oMYJSRPwM1R","mode":"list","cachedResultName":"SantorioV3InputsAnalysis"},"workflowInputs":{"mappingMode":"defineBelow","value":{"text":"={{ $json.response.text }}","userID":"={{ $('Telegram Trigger').item.json.message.chat.id }}","file_source":"={{ $('Extract data from pdf').item.json.result.file_path }}"},"matchingColumns":[],"schema":[{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"userID","displayName":"userID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"file_source","displayName":"file_source","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3392,-128],"id":"5651042f-78ea-40b5-92d0-a7627b9b844b","name":"ExecutExecute Input Analysis For PDFe Input Analysis","disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-176,-496],"id":"a51c115a-70af-4c5d-9fb0-09088b88c81b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"L5UoHZfkBt6nb3Ad","name":"OpenAi Account"}}},{"parameters":{"description":"Call this tool get diabetes-and-toxins related informations","workflowId":{"__rl":true,"value":"He6MI2TjfhAr6HcD","mode":"list","cachedResultName":"Santorio SubAgent: Diabetes & Toxins Analyzer"},"workflowInputs":{"mappingMode":"defineBelow","value":{"userQuery":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('userQuery', `add user query inside that `, 'string') }}"},"matchingColumns":["userQuery"],"schema":[{"id":"userQuery","displayName":"userQuery","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1440,-528],"id":"9b523447-a10a-493d-9329-f9ac63de91c6","name":"diabetes-and-toxins","disabled":true},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1gXA_exZWSHlDZ0nLXqyp5psGpX_YTGC44HhUVmX8Xx0/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1072,128],"id":"03f8e4b9-1f22-4cd2-98ba-2c466cd242ca","name":"report analysis prompt doc1","credentials":{"googleDocsOAuth2Api":{"id":"Om41V3tJihrnzpYR","name":"Google Docs account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=Hey Kevin! 👋 I’m Santorio, your personal health coach 🧑‍⚕️\nPowered by your Oura Ring insights 💍, I help you understand your sleep 😴, activity 🏃, and readiness 💡 data.\nYou can also upload your health reports 📄 (like blood tests), and I’ll provide personalized insights 🔍 and easy-to-understand explanations 🧠 based on your results.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[2320,-544],"id":"f8d39360-86c3-4734-b6e4-17e0b0f5f421","name":"Greetings_Tool","webhookId":"6bf938c2-0d83-43ff-beb9-635235f1e523","credentials":{"telegramApi":{"id":"n9uqHVVmsUH0LY6C","name":"Santorio-API-Token"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[64,-496],"id":"98a32a1e-3e7f-4bae-a674-2a5dec37f515","name":"Think"},{"parameters":{"name":"conversational_tool","description":"Call this tool to answer the user queries if the user **engages in casual conversation** or asks **general health-related questions** (not about their own health).","workflowId":{"__rl":true,"value":"Sv88injvBKy3kbsp","mode":"list","cachedResultName":"encyclopedia"},"fields":{"values":[{"name":"userQuery","stringValue":"={{ $('Edit Fields2').item.json.user_message }}"},{"name":"chatID","stringValue":"={{ $('Edit Fields2').item.json.chatId }}"}]}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[720,-496],"id":"d1d0a595-a265-4c1f-b98e-96b89d846ea2","name":"Dr. Joe Brain","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"9f0ebff9-2204-4eb5-a944-cb54dbca3738","name":"user_message","value":"={{ $json.user_message || $json.message.text}}","type":"string"},{"id":"1d6708f8-9c04-4600-8bf1-e29ca7c71cbb","name":"chatId","value":"={{ $json.userId || $json.message.from.id }}","type":"string"},{"id":"e9d8783f-b5da-47cd-a0ff-3f63d12e689f","name":"attachmentData","value":"={{ $json.attachmentData }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1184,-144],"id":"09a554ae-fb15-4377-90d0-06fe629378cf","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"783c0696-cfcf-4e8c-9f50-ff4e16ca3349","leftValue":"={{ $('Edit Fields').item.json.chatId }}","rightValue":"cg_admin","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2688,-608],"id":"38c27654-6331-4a53-8c29-d67973bed1da","name":"If","onError":"continueRegularOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"user_message","type":"any"},{"name":"userId"},{"name":"metadata"},{"name":"attachmentData","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1376,-144],"id":"54ae1e9c-358f-41c0-824d-c8a744ded943","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"9f0ebff9-2204-4eb5-a944-cb54dbca3738","name":"user_message","value":"={{ $json.user_message || $json.message.text}}","type":"string"},{"id":"1d6708f8-9c04-4600-8bf1-e29ca7c71cbb","name":"chatId","value":"={{ $json.userId || $json.message.from.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1184,-320],"id":"dd7239c4-94c8-4651-9e85-15a083d51738","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1dff798a-2299-4c2e-a910-2be8ca1a6f9f","leftValue":"={{ $json.attachmentData }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-848,-144],"id":"c4e28a1e-da7d-4727-8589-55ccb6a8dcae","name":"If1"},{"parameters":{"promptType":"define","text":"={{ $json.content }}\n\nActual health report details: {{ $('If1').item.json.attachmentData }}\n\n🩸 AI health Report Analyzer – Response Guidelines 🩸\n🔹 Keep It Simple & Friendly – Use easy-to-understand language, avoiding technical jargon.\n   Keep The response short and redable , no need of long message\n🔹 No Raw Text/JSON – Format responses in a human-friendly way.\n🔹 Include Key Data – Show blood test values, reference ranges, risks, and next steps.\n🔹 Use Emojis & Formatting – ✅ Normal, ⚠️ Slightly High/Low, 🚨 Critical.\n🔹 Show Patient Details – 🆔 Name, 🎂 Age, ⚧ Gender, 🏥 Lab Name, 📅 Test Date.\n🔹 Clear Structure – Use bullet points, highlight findings, and organize neatly.\n🔹 Health Tips – Suggest diet, exercise, and medical advice if results are abnormal.\n🔹 Validate Report – If the uploaded data isn't a related to health-related information such as lab test results, blood reports, or medical prescriptions respond with:\n“This is not a valid blood test report.”\n\ninstructions-- follow properly \n1.Before the final response, first check if the test is a blood test or not.\n   If it is a blood test, use the line \"your blood test results\".\n   If it's not a blood test, use the line \"your health report\" instead.\n\n2.Once you receive the final output from the tools, always append the following message to the response:\n \"Do you want to learn more? click here https://santoriov1.vercel.app/status\" \n\n3. remove all markdown symbols like ** , ## and related to that , output should be simple stucture\n\n4. Final response Shoukld not to long\n"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1040,-160],"id":"9f0f823c-131c-49c7-afa5-7f95146b4bb5","name":"blood_reports_image_tool1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1040,0],"id":"d783d72e-2aa4-40e4-a56f-af2a9ac971ca","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1gXA_exZWSHlDZ0nLXqyp5psGpX_YTGC44HhUVmX8Xx0/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[832,-160],"id":"f996f670-ec31-4e4e-a6d1-b3aea5bcc559","name":"report analysis prompt doc2","credentials":{"googleDocsOAuth2Api":{"id":"Om41V3tJihrnzpYR","name":"Google Docs account"}}},{"parameters":{"content":"# Master Router\n.\n\n","height":1780,"width":560,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1024,-1040],"id":"673c9b81-0a5b-4d64-b5bc-cab3a0cd729e","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"2eb2f5e1-f310-4e7f-bd3c-0a8f9fd75309","name":"chatId","value":"={{ $json.chatId }}","type":"string"},{"id":"60a44747-8562-42a6-a8e4-66ff1b7ea748","name":"user_message","value":"={{ $json.user_message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,-960],"id":"aca4a1fe-da78-4bd9-b35e-79cc3edc94ff","name":"Edit Fields2"},{"parameters":{"operation":"get","documentURL":"1JvIqHSRHxCh5ke2GBGu1qielKOdU-3a1a75Zngm-fAE"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[288,-960],"id":"a5a5ef87-03c3-400f-9ed8-5266ddf1b283","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}}}],"connections":{"master router switch":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"get report image jpeg/jpg","type":"main","index":0}],[{"node":"get report image png/doc","type":"main","index":0}],[{"node":"get report image png/doc","type":"main","index":0}],[{"node":"get pdf file","type":"main","index":0}]]},"daily_morning_update_tool":{"ai_tool":[[{"node":"Santorio Super Agent","type":"ai_tool","index":0}]]},"single_oura_query_handler_tool":{"ai_tool":[[{"node":"Santorio Super Agent","type":"ai_tool","index":0}]]},"trends_analyzer_tool":{"ai_tool":[[{"node":"Santorio Super Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"blood_reports_image_tool","type":"ai_languageModel","index":0}]]},"Pdf analysis agent":{"main":[[{"node":"pdf_reports_response_node","type":"main","index":0}]]},"get pdf file":{"main":[[{"node":"Extract data from pdf","type":"main","index":0}]]},"Extract data from pdf":{"main":[[{"node":"report analysis prompt doc","type":"main","index":0}]]},"report analysis prompt doc":{"main":[[{"node":"Pdf analysis agent","type":"main","index":0}]]},"Analysis Report Image node":{"main":[[{"node":"report analysis prompt doc1","type":"main","index":0}]]},"convert MIME type":{"main":[[{"node":"Analysis Report Image node","type":"main","index":0}]]},"get report image jpeg/jpg":{"main":[[{"node":"convert MIME type","type":"main","index":0}]]},"get report image png/doc":{"main":[[{"node":"convert MIME type","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Pdf analysis agent","type":"ai_languageModel","index":0}]]},"Santorio Super Agent":{"main":[[{"node":"If","type":"main","index":0}],[]]},"blood_reports_image_tool":{"main":[[{"node":"blood_reports_image _response","type":"main","index":0}]]},"blood_reports_image _response":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"pdf_reports_response_node":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"Summarization Chain3","type":"ai_languageModel","index":0}]]},"Summarization Chain3":{"main":[[{"node":"ExecutExecute Input Analysis For PDFe Input Analysis","type":"main","index":0}]]},"dieses_couses_recommendation_tool":{"ai_tool":[[{"node":"Santorio Super Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Summarize input/output","type":"ai_languageModel","index":0}]]},"health_reports_assiatnce_tool":{"ai_tool":[[{"node":"Santorio Super Agent","type":"ai_tool","index":0}]]},"andrew_huberman_protocols_tool":{"ai_tool":[[{"node":"Santorio Super Agent","type":"ai_tool","index":0}]]},"Execute Workflow":{"main":[[{"node":"Summarization Chain3","type":"main","index":0}]]},"Get_last_execution_cost":{"ai_tool":[[{"node":"Santorio Super Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"get_last_execution_quality_summary":{"ai_tool":[[{"node":"Santorio Super Agent","type":"ai_tool","index":0}]]},"Execute Costing Tool":{"main":[[]]},"Execute Quality Analysis Agent":{"main":[[{"node":"Summarize input/output","type":"main","index":0}]]},"Store summary in memory db":{"main":[[{"node":"Execute Costing Tool","type":"main","index":0}]]},"Summarize input/output":{"main":[[{"node":"Store summary in memory db","type":"main","index":0}]]},"ExecutExecute Input Analysis For PDFe Input Analysis":{"main":[[{"node":"Execute Costing Tool","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Santorio Super Agent","type":"ai_languageModel","index":0}]]},"diabetes-and-toxins":{"ai_tool":[[{"node":"Santorio Super Agent","type":"ai_tool","index":0}]]},"report analysis prompt doc1":{"main":[[{"node":"blood_reports_image_tool","type":"main","index":0}]]},"Greetings_Tool":{"ai_tool":[[{"node":"Santorio Super Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Santorio Super Agent","type":"ai_tool","index":0}]]},"Dr. Joe Brain":{"ai_tool":[[{"node":"Santorio Super Agent","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"If1","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Execute Quality Analysis Agent","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"master router switch","type":"main","index":0}]]},"If1":{"main":[[{"node":"report analysis prompt doc2","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"blood_reports_image_tool1","type":"ai_languageModel","index":0}]]},"report analysis prompt doc2":{"main":[[{"node":"blood_reports_image_tool1","type":"main","index":0}]]},"blood_reports_image_tool1":{"main":[[]]},"Edit Fields2":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Santorio Super Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"007eb8ac-5330-4ad0-a132-fd66c634febd","triggerCount":1,"tags":[{"createdAt":"2025-04-11T09:22:08.439Z","updatedAt":"2025-04-11T09:22:08.439Z","id":"njm6GTgmZ72M7rfN","name":"San 3.0 - Main"},{"createdAt":"2025-04-11T09:22:08.440Z","updatedAt":"2025-04-11T09:22:08.440Z","id":"cvzQAF8NRsTc2q4S","name":"Santorio"}]}