Santorio SubAgent: Diabetes & Toxins Analyzer.json
{"createdAt":"2025-06-30T09:09:24.718Z","updatedAt":"2025-07-22T05:55:56.340Z","id":"He6MI2TjfhAr6HcD","name":"Santorio SubAgent: Diabetes & Toxins Analyzer","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"load","pineconeIndex":{"__rl":true,"value":"diabetes-and-toxins-new","mode":"list","cachedResultName":"diabetes-and-toxins-new"},"prompt":"=get matched data based on user query --> {{ $json.userQuery }}","topK":6,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-20,-60],"id":"de37edb2-ec1b-4d5a-9488-a96391ab6c12","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"T6SNKejHK4MjJcAj","name":"Dan Account"}}},{"parameters":{"options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[180,220],"id":"016fd833-55e3-4a4d-82b6-2975d51b5bb7","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').item.json.userQuery }}","options":{"systemMessage":"=You are a helpful assistant\nYour Job is to orovide user query answer based on oincone datavbase output\nAslo Do not helucinate any thing use anly below provided data \n\nInstruction :: Answer should be formative and user friendlay with bullrt points para and short way .\n\nDb output-->{{ $json.data[0].toJsonString() }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[560,-60],"id":"72172e6e-9b53-4429-b62a-cce53b6c8fee","name":"AI Agent"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[340,-60],"id":"efa9c445-0d39-445e-8258-8f0907bfe644","name":"Aggregate"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[460,240],"id":"2d386a7a-989a-459b-9a5a-bc467741d84e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"content":"# Trigger\n","height":500,"width":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-340,-120],"id":"b1a8ed4c-7d1f-46e1-bbbb-e48e852ea72e","name":"Sticky Note1"},{"parameters":{"content":"# Database & Aggregate","height":240,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-60,-140],"id":"532297b1-d4e1-4e23-82df-e2ff15d64cc2","name":"Sticky Note"},{"parameters":{"content":"# Final Output Frame","height":240,"width":440,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[500,-140],"id":"2fba945c-fa20-4f4f-a0fc-1f591976afd5","name":"Sticky Note2"},{"parameters":{"content":"# Embenddings And Brain\n","height":260,"width":1000},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-60,120],"id":"ce4d0e54-78aa-4ce0-9a5c-25e5817f2943","name":"Sticky Note3"},{"parameters":{"workflowInputs":{"values":[{"name":"userQuery"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-260,60],"id":"0013b19d-9e3e-48f5-8af2-7bd06691656a","name":"When Executed by Another Workflow"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f2b4cf47-9203-41e3-b63e-84525df8168b","triggerCount":0,"tags":[]}