Santorio SubAgent: Conversation Module.json
{"createdAt":"2025-04-11T09:27:25.883Z","updatedAt":"2025-07-16T08:06:03.637Z","id":"tRxUQXLUvXxyNuaM","name":"Santorio SubAgent: Conversation Module","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[220,20],"id":"f63915d5-4d11-4e74-bd22-551f707f8cff","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"text":"={{ $('Execute Workflow Trigger').item.json.userQuery }}","options":{"systemMessage":"=You are the Health Coach Agent.Your job is to analyze user lifestyle data (diet, sleep, exercise, stress, habits) and provide simple, research-backed recommendations.\n### Response Structure:\n* **Risk**: Identify the main concern (e.g. poor sleep, high stress, irregular exercise).\n* **Insight**: Briefly explain its health impact using behavioral science or lifestyle medicine.\n* **Opportunity**: Suggest one practical, evidence-based action the user can take now.\n### Guidelines:\n* Use behavior change models (e.g. Transtheoretical, Self-Determination) and motivational interviewing.\n* Compare current vs. past data to show progress, patterns, or concerns.\n* If data is unclear, suggest what to track next.\n* Base advice on trusted sources (e.g. Dean Ornish, DPP research).\n* Keep suggestions realistic, personalized, and easy to start.\n\n"}},"id":"35338662-646c-43b8-b32a-d274bc5b8513","name":"Health Coach","type":"@n8n/n8n-nodes-langchain.agent","position":[260,-200],"typeVersion":1.1},{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[60,-200],"id":"ce36cc7a-7d39-4df7-a77a-f7f5c5ed6ece","name":"Execute Workflow Trigger"},{"parameters":{"sessionIdType":"customKey","sessionKey":"001"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[380,20],"id":"17de3b12-ae61-4086-b81d-49bcedd38ec6","name":"Window Buffer Memory"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Health Coach","type":"ai_languageModel","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Health Coach","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Health Coach","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4ad04b6b-eb50-4ef3-a6ca-30530a4fd21f","triggerCount":0,"tags":[{"createdAt":"2025-04-11T09:22:08.440Z","updatedAt":"2025-04-11T09:22:08.440Z","id":"cvzQAF8NRsTc2q4S","name":"Santorio"},{"createdAt":"2025-04-11T09:23:59.152Z","updatedAt":"2025-04-11T09:23:59.152Z","id":"fSbMm0PHqiXhIK0L","name":"SAN-3.0 subworkflow"}]}