SANv3.0 fallback tool user inputs.json
{"createdAt":"2025-05-01T09:45:01.065Z","updatedAt":"2025-05-01T10:55:21.676Z","id":"iTCZOo9YLSAAvFYv","name":"SANv3.0 fallback tool user inputs","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[200,280],"id":"ea4fbbef-e53b-4ae2-9b89-e36040ba290c","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-140,-20],"id":"d7a6531f-e930-4e24-b50e-341e6ea09a1a","name":"When chat message received","webhookId":"429bd2fd-2bb9-4f63-b09d-7e2e44c93f52"},{"parameters":{"mode":"load","pineconeIndex":{"__rl":true,"value":"user-input-questions-joe-model","mode":"list","cachedResultName":"user-input-questions-joe-model"},"prompt":"=Find the most relevant documents or records that accurately match the following user query. Consider semantic meaning, not just keyword similarity.\n\nUser query: {{ $json.userQuery }}\n\nReturn documents that are most likely to help answer the user's question or provide related insights.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[160,40],"id":"1a36ed39-70f1-447c-82e4-30fc6a2c0bde","name":"Pinecone Vector Store","alwaysOutputData":true,"credentials":{"pineconeApi":{"id":"EnfM5lZWClj8IYRr","name":"harshit-pinecone-account"}}},{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{"systemMessage":"=You are a helpful assistant\nreturn the user query answeer based on on user message\n\nuser query ::{{ $('When Executed by Another Workflow').item.json.userQuery }}\n\nframe answer in readable formate \nDo frame the answer from uyour side user the give data always"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[740,40],"id":"bb3b6a7a-6c37-40dd-815d-c144fec66c29","name":"AI Agent"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[520,40],"id":"43817880-0817-4b98-9656-96eab8581a09","name":"Aggregate"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[780,260],"id":"cd19b02d-26d7-40ca-9d25-4e04c176f7f2","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"userQuery","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-100,140],"id":"2172661a-12c5-4f1d-bd7f-e5f613b1be49","name":"When Executed by Another Workflow"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3b3b540e-5262-4352-b839-38b7637660b7","triggerCount":0,"tags":[]}