Search Image.json
{"createdAt":"2025-06-16T11:00:55.151Z","updatedAt":"2025-06-16T11:20:10.054Z","id":"DiWcAgDnGb5Y8nF5","name":"Search Image","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"openai/gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-720,560],"id":"0f7b0e1e-72e5-4a97-96d1-44d63d062912","name":"GPT 4.1 mini","credentials":{"openRouterApi":{"id":"HpEjQpM176fwztFV","name":"OpenRouter account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0","mode":"list","cachedResultName":"AI Images Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-600,560],"id":"1cb97d4b-5519-4e25-b1cd-06bb055b2902","name":"Image Database","credentials":{"googleSheetsOAuth2Api":{"id":"0e2MdtnLl9hGCdxD","name":"Google Sheets account 2"}}},{"parameters":{"workflowInputs":{"values":[{"name":"intent"},{"name":"image"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-880,300],"id":"766025a6-55d5-4748-8d74-8bebafad47a3","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=Image: {{ $json.image }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are an Image Retrieval Agent. When the user provides a query, your task is to search the \"Image Database\" using the keywords from the query. Locate the most relevant matching image.\n\n## Output\n- Return the name, ID, and the Link of the image\n- If no image is found, output \"Not Found\"\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-600,300],"id":"32797c2c-f0ba-4a05-9bb2-7ab8b893a2c5","name":"Image Search Agent"},{"parameters":{"assignments":{"assignments":[{"id":"44c36e1d-19e8-4411-bd3d-86c5144ecb14","name":"response","value":"Image wasn't found in the database","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,40],"id":"6de6135b-177b-40b6-9756-f316f74cdb0d","name":"Not Found"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5a9fd85-2403-423e-92a2-d3ba20db83d9","leftValue":"={{ $('When Executed by Another Workflow').first().json.intent }}","rightValue":"Get","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[60,300],"id":"a64da655-e885-4f84-97fd-cae6440d68e9","name":"Get?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"85e307aa-0bb8-40f1-b62e-5b36c231b0af","leftValue":"={{ $json.output.status }}","rightValue":"Not Found","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-200,300],"id":"d8f0c428-3789-474d-9277-ec1147396bf7","name":"Not Found?"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.output.image_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[320,300],"id":"c084711b-88d3-48f5-a3e3-478c642eedad","name":"Download File","credentials":{"googleDriveOAuth2Api":{"id":"tpwDboahmvtrDGYm","name":"Google Drive account 2"}}},{"parameters":{"content":"# Trigger\n","height":260,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-960,220],"id":"6b829b71-2312-4321-9fdf-c9831d72f2e3","name":"Sticky Note5","disabled":true},{"parameters":{"content":"## Tool & Model","height":200,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-760,500],"id":"d50b36c1-8c17-437b-a15f-edad116190a5","name":"Sticky Note2"},{"parameters":{"content":"# Image Search\n","height":260,"width":380,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-680,220],"id":"c1ec2eb3-d69f-4029-85e0-363c62d378b9","name":"Sticky Note4"},{"parameters":{"content":"## Structured Output","height":200,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-460,500],"id":"7c1c7f5c-7619-4055-81ce-ac160a16d49c","name":"Sticky Note3"},{"parameters":{"jsonSchemaExample":"{\n  \"image_name\":\"string | null\",\n  \"image_id\": \"string | null\",\n  \"image_link\": \"string | null\",\n  \"status\": \"found | not_found\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-380,560],"id":"412322c1-419a-4da0-91f0-33f23503a7d2","name":"Name, ID, & Link"},{"parameters":{"content":"# Not Found?","height":260,"width":260,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-280,220],"id":"85c559ce-e4ac-4565-ba35-afe6572fe560","name":"Sticky Note"},{"parameters":{"content":"","height":200,"width":180,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"d05ba429-b19e-4f00-b470-c42e77e536f5","name":"Sticky Note1"},{"parameters":{"content":"# Get?","height":260,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,220],"id":"24e60b84-3888-49cd-83ba-9371ffdfe20e","name":"Sticky Note6"},{"parameters":{"assignments":{"assignments":[{"id":"be32fa20-d1e6-4831-a266-5991e5c4eb1e","name":"imageName","value":"={{ $json.output.image_name }}","type":"string"},{"id":"10b5ddb9-a482-46a7-962f-8e18533d90d5","name":"imageID","value":"={{ $json.output.image_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,660],"id":"7c5e0523-ee5b-49b3-b411-83148207a604","name":"Edit"},{"parameters":{"content":"","height":200,"width":180,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[380,620],"id":"09ebfaf8-d827-4270-bf3a-e2cb77fb5f49","name":"Sticky Note7"},{"parameters":{"content":"# Send Content","height":260,"width":280,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[500,220],"id":"ee5537c6-8626-4312-9c38-fe7fb60cc682","name":"Sticky Note8"},{"parameters":{"content":"# Download\n","height":260,"width":220,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,220],"id":"5c3bab1c-50e0-4087-bf15-8320fbc2ac1a","name":"Sticky Note9"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[580,300],"id":"d9cb2204-aff9-46d7-9a09-e0d46a6a787b","name":"Send Photo","webhookId":"85dc0064-e5c5-45a9-91a5-60e5b2bc4f1e","credentials":{"telegramApi":{"id":"3cByMTjVNfOWuiwC","name":"Marketing Bot"}}}],"connections":{"GPT 4.1 mini":{"ai_languageModel":[[{"node":"Image Search Agent","type":"ai_languageModel","index":0}]]},"Image Database":{"ai_tool":[[{"node":"Image Search Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Image Search Agent","type":"main","index":0}]]},"Image Search Agent":{"main":[[{"node":"Not Found?","type":"main","index":0}]]},"Not Found?":{"main":[[{"node":"Not Found","type":"main","index":0}],[{"node":"Get?","type":"main","index":0}]]},"Get?":{"main":[[{"node":"Download File","type":"main","index":0}],[{"node":"Edit","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Send Photo","type":"main","index":0}]]},"Name, ID, & Link":{"ai_outputParser":[[{"node":"Image Search Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b52448d7-6d66-4dee-b593-6db760acc838","triggerCount":0,"tags":[]}