SGO - Input super agent.json
{"createdAt":"2025-04-11T09:35:30.537Z","updatedAt":"2025-04-17T06:12:55.035Z","id":"dOg0FLdAUfYhMzob","name":"SGO - Input super agent","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Add doc","formDescription":"doc description","formFields":{"values":[{"fieldLabel":"file","fieldType":"file","multipleFiles":false}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1280,-15],"id":"7690fae5-0a2f-4ab7-83d8-37941dcea81c","name":"On form submission","webhookId":"0af51cdd-8fa3-4d29-8f73-ea86ef894340"},{"parameters":{"binaryPropertyName":"=file","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1060,-15],"id":"32b4b073-ddd4-4e70-b219-270a09ee7832","name":"Extract from File"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"label_public"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-840,-15],"id":"4d4a073c-82d8-4b12-98be-2251a40d1612","name":"Aggregate"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[788,-20],"id":"a49f091e-f098-4139-bb7b-d233ad0144a1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"batchSize":30,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-400,-15],"id":"850bf2c4-72ae-4b70-9672-1e7a06bf6a80","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"=label_public","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-620,-15],"id":"96f439a3-8afa-4215-8499-e3cb653d687e","name":"Split Out"},{"parameters":{"jsCode":"const items = $input.all();\nconst labelPublicArray = items.flatMap((item) =>\n  item?.json?.data.map((dataItem) => dataItem?.label_public),\n);\nreturn { labelPublicArray };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[40,-140],"id":"c3af5533-48f6-432e-af27-e5233a497ee9","name":"Code"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-180,-140],"id":"cf3e6026-49a4-41ae-b89d-1fb998a07320","name":"Aggregate_data"},{"parameters":{"promptType":"define","text":"={{ $('Code').item.json.labelPublicArray }}","options":{"systemMessage":"=\"Please classify the text provided by the user into one of the following categories:\nCategories :: {{ $json.data.toJsonString() }}\n\nEach category should group similar types of questions. Ensure that:  \n\n\nuse only mentioned above catgory not others and properly follow the description of category based on that anaylse the input/questions \n  \n> - The output is formatted as **valid JSON** with the structure:  \nKeep the stucture same always \n\nDo not miss any single question to categories\nif not relevent mathed found assign that question into other category\nDO not miss any single question/input \n\n### **Expected Output Structure**\n[\n>   {\n>     \"categoryName\": \"Category Name\",\n>     \"relatedInputs\": [\n>       \"Question 1\",\n>       \"Question 2\"\n>     ]\n>   }\n> ]\n> \nInstrcuction\nAll question you received are imporatnat to categories into given category \nDo NO miss any question to categories \nDuplicates question you found categories them also \n100 % accuracy is imporatnt \nDon't explain, and only output the json.\nif you not found question for any category do not share that json object if inputs are empty only share the filled categories with input in json\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[700,-240],"id":"d233224d-bff5-4c0f-b81f-9cc2cb4a8746","name":"AI Agent"},{"parameters":{"jsCode":"const items = $input.all();\nconst output = items[0]?.json?.output;\nconst jsonOutput = output.replace(\"```json\\n\", \"\").replace(\"\\n```\", \"\");\nconst parsedOutput = JSON.parse(jsonOutput);\nreturn parsedOutput;\n\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1076,-140],"id":"f5822adb-a6bb-4687-ab5c-ca7eb9504e62","name":"Code1","retryOnFail":true,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"eTX3bDII5NRti5Hh","mode":"list","cachedResultName":"SGO-Inputs-Category"},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1296,-15],"id":"b716d2fb-db29-4840-9da1-8cd5fee81fae","name":"Execute Workflow","alwaysOutputData":true},{"parameters":{"documentId":{"__rl":true,"value":"16EuQTAMKJnLtBpnDRjftDH_Ucs7EeZO9vkZ1YQoZHAk","mode":"list","cachedResultName":"health_categories","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16EuQTAMKJnLtBpnDRjftDH_Ucs7EeZO9vkZ1YQoZHAk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16EuQTAMKJnLtBpnDRjftDH_Ucs7EeZO9vkZ1YQoZHAk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[260,-140],"id":"fe55a306-379b-4270-a06a-05a3cdded959","name":"Google Sheets","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"Category Name,Categ_Description","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[480,-140],"id":"d1be85c4-622b-41dd-b95d-75605dee7026","name":"Aggregate1"},{"parameters":{"content":"Processing multiple 4000+ record Google Sheets ➡️ Grouping data by logic ➡️ Inserting grouped results into the database.\n\n","height":120,"width":360},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1120,-360],"id":"7c98ea4b-8c83-424a-b80d-68213c7582e0","name":"Sticky Note"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1280,345],"id":"80d7a25c-abdb-4e32-8a87-5f3ce410886e","name":"When chat message received","webhookId":"f6ad63af-756d-4576-a80c-c7e0f302e3ec","disabled":true},{"parameters":{"promptType":"define","text":"=User Health Inputs: {{ $('When chat message received').first().json.chatInput }}\n\nQuestions from vector db: {{ $json.data.toJsonString() }}","options":{"systemMessage":"=Role: you are an excellent analytical agent, your job is to carefully analyse user's Health Inputs and identify whether they have relevent information corresponding to the questions coming from vector db if the information is relevent and correctly answering the questions then store the information along with relevent question into suprabase Database otherwise respond with the information is not relevent.\n\nYour soul job is to store the only relevent information along with the corresponding question into suprabase db.\n\nIf more then one questions are getting correct answers from user's information, then call suprabase tool multiple times to store each relevent information along with their corresponding questions in suprabase db\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[572,345],"id":"938e0796-65dc-4793-a77c-658eddfa138d","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[600,565],"id":"91ae6492-b116-4458-860d-52de5650b084","name":"OpenAI Chat Model2"},{"parameters":{"mode":"load","pineconeIndex":{"__rl":true,"value":"san-inputs","mode":"list","cachedResultName":"san-inputs"},"prompt":"=get relevant matched document {{ $('When chat message received').item.json.chatInput }}","options":{"pineconeNamespace":"={{ $json.output }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-244,345],"id":"e99cd0ba-72f9-4e46-87f5-cdc949a8f463","name":"Pinecone Vector Store3","alwaysOutputData":true,"credentials":{"pineconeApi":{"id":"EnfM5lZWClj8IYRr","name":"harshit-pinecone-account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[-156,565],"id":"95b55f45-6525-4dd3-90f5-103053185a9d","name":"Embeddings OpenAI3","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[352,345],"id":"35b5848e-6e89-4a0f-96ba-7a6351eece17","name":"Aggregate2"},{"parameters":{"assignments":{"assignments":[{"id":"96c6f213-ce90-46d4-aade-2ac27853dbf0","name":"pageContent","value":"={{ $json.document.pageContent }}","type":"string"},{"id":"f63becb3-0413-4bbb-bbd7-673f68d3b4a0","name":"score","value":"={{ $json.score }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[132,345],"id":"d827e944-e34f-4049-b939-302ab43e5c5d","name":"Set Vector DB data"},{"parameters":{"tableId":"Relevent User Inputs","fieldsUi":{"fieldValues":[{"fieldId":"relevent_question","fieldValue":"={{ $fromAI(\"add_relevent_questions\",\"store the corresponding question from vector db to which the user information is most relevent\") }}"},{"fieldId":"user_information","fieldValue":"={{ $fromAI(\"add_user_inputs\",\"store the relevent user important informations\") }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[720,565],"id":"07ff9faf-0e5e-41b5-bcdf-a04c597f96eb","name":"Add row into Supabase"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"=Role Your Job is to find the relevant categories from user chat Input \nand only return the name of the category from there mentioned category\nCategoies :: {{ $json.data.toJsonString() }}\n\noutput \nonly the name of category which mentioned above nothing else "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-620,345],"id":"cd1c30c8-34f4-4ccf-95b8-f68624b07093","name":"AI Agent2"},{"parameters":{"documentId":{"__rl":true,"value":"16EuQTAMKJnLtBpnDRjftDH_Ucs7EeZO9vkZ1YQoZHAk","mode":"list","cachedResultName":"health_categories","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16EuQTAMKJnLtBpnDRjftDH_Ucs7EeZO9vkZ1YQoZHAk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16EuQTAMKJnLtBpnDRjftDH_Ucs7EeZO9vkZ1YQoZHAk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1060,345],"id":"8e09c9b7-5c30-4007-9674-aa7b42250719","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"3xLfojN6KZCZ4KHw","name":"Google Sheets account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-532,565],"id":"9b211397-474a-40c0-9a35-dced2d04aeaf","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"Category Name,Categ_Description","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-840,345],"id":"585d578d-8980-4714-8891-b37505068e98","name":"Aggregate3"}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Aggregate_data","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Aggregate_data":{"main":[[{"node":"Code","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store3":{"main":[[{"node":"Set Vector DB data","type":"main","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Pinecone Vector Store3","type":"ai_embedding","index":0}]]},"Aggregate2":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Set Vector DB data":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Add row into Supabase":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent2":{"main":[[{"node":"Pinecone Vector Store3","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Aggregate3":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f203f1b7-fda5-4e80-9be2-5884738715aa","triggerCount":0,"tags":[{"createdAt":"2025-04-11T09:23:59.152Z","updatedAt":"2025-04-11T09:23:59.152Z","id":"fSbMm0PHqiXhIK0L","name":"SAN-3.0 subworkflow"}]}