SGO-Inputs-Category.json
{"createdAt":"2025-04-11T09:39:11.586Z","updatedAt":"2025-04-17T06:10:23.616Z","id":"eTX3bDII5NRti5Hh","name":"SGO-Inputs-Category","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-240,-100],"id":"612ed588-2b10-4e6e-a5d0-9609ec162dc7","name":"Execute Workflow Trigger"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"san-inputs","mode":"list","cachedResultName":"san-inputs"},"options":{"pineconeNamespace":"={{ $json.categoryName }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[520,60],"id":"90aa76c0-c276-46f7-8c42-fa183148a3cd","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"EnfM5lZWClj8IYRr","name":"harshit-pinecone-account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.relatedInputs }}","options":{"metadata":{"metadataValues":[{"name":"id","value":"={{$now}}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[840,300],"id":"6d863992-a078-4f04-a4b1-e2f0b51dd62c","name":"Default Data Loader"},{"parameters":{"chunkSize":40,"chunkOverlap":10},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[920,460],"id":"6366c850-6ea9-4c10-bb86-e8bd03957c23","name":"Token Splitter"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[480,320],"id":"37dac93b-ebcf-4e77-bed0-65648d21b365","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[40,-100],"id":"7ab5faf9-6d70-44be-9145-32164f3115d9","name":"Loop Over Items1"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"reset\":true\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1220,320],"id":"3f3e4ead-3f34-442b-a9ca-170e8a444745","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[360,-100],"id":"e1fb85a1-e5da-4d3d-a5e9-8de4e414ed13","name":"No Operation, do nothing"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Loop Over Items1","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Pinecone Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"91a2279b-59a5-4eef-a2fe-6ead2c75e5d0","triggerCount":0,"tags":[]}