Shreyansh Main data- maker Newest.json
{"createdAt":"2025-06-26T06:39:14.774Z","updatedAt":"2025-07-30T07:48:08.307Z","id":"VKFPsJBjcOrURLUP","name":"Shreyansh Main data- maker Newest","active":false,"isArchived":false,"nodes":[{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[448,0],"id":"7dc502ab-5004-49e5-ada2-7ae106c4d307","name":"Aggregate"},{"parameters":{"workflowInputs":{"values":[{"name":"id"},{"name":"link"},{"name":"image"},{"name":"description"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"d3c62d14-591a-4c75-918a-c307a4dd594e","name":"When Executed by Another Workflow"},{"parameters":{"resource":"execution","returnAll":true,"filters":{"workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{"activeWorkflows":false},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[224,0],"id":"af8421c8-78ea-46a3-be04-4c1f24ad9557","name":"Get many executions","alwaysOutputData":true,"credentials":{"n8nApi":{"id":"9KyJX7wsWnhRZEI0","name":"New n8n API"}}},{"parameters":{"jsCode":"// Get input data from previous node\nconst executionData = $input.first().json.data;\nconst Workflowid = $('When Executed by Another Workflow').first().json.id\nconst Workflowlink = $('When Executed by Another Workflow').first().json.link\nconst Imagelink = $('When Executed by Another Workflow').first().json.image\nconst AgentDescription = $('When Executed by Another Workflow').first().json.description\n\n// Count successful executions (where finished is true)\nconst validExecutions = executionData.filter(item => typeof item.finished === 'boolean');\nconst totalExecutions = validExecutions.length;\nconst successfullyExecutedCount = validExecutions.filter(item => item.finished === true).length;\nconst unsuccessfullyExecutedCount = totalExecutions - successfullyExecutedCount;\n\n// Calculate percentages\nconst successPercentage = totalExecutions > 0 ? \n  Number(((successfullyExecutedCount / totalExecutions) * 100).toFixed(2)) : 0;\n\nconst failurePercentage = totalExecutions > 0 ? \n  Number(((unsuccessfullyExecutedCount / totalExecutions) * 100).toFixed(2)) : 0;\n\n// Create the statistics object with your specified property names\nconst stats = {\n  \"Total executions\": totalExecutions,\n  \"Succesful finished number\": successfullyExecutedCount,\n  \"Unsuccesful finished number\": unsuccessfullyExecutedCount,\n  \"Success percentage\": successPercentage,\n  \"Failure percentage\": failurePercentage,\n  \"Workflow id\": Workflowid,\n  \"Workflow link\": Workflowlink,\n  \"Image link\": Imagelink,\n  \"Agent Description\": AgentDescription\n};\n\n// Return the statistics as n8n output\nreturn [ { json: stats } ];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0],"id":"ad11ccd9-73eb-4229-8b60-7931f9248ea0","name":"Code"}],"connections":{"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get many executions","type":"main","index":0}]]},"Get many executions":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Code":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bb0c51d9-a214-4246-ada7-176b4c9a4d2d","triggerCount":0,"tags":[]}