Shreyansh-Data maker.json
{"createdAt":"2025-06-25T09:04:32.235Z","updatedAt":"2025-06-26T06:37:11.809Z","id":"mnnjq0sJyJLsOdHw","name":"Shreyansh-Data maker","active":false,"isArchived":false,"nodes":[{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[620,40],"id":"936e0b76-1fc5-4007-a60d-3a9fca368564","name":"Aggregate"},{"parameters":{"resource":"execution","filters":{"workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{"activeWorkflows":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[400,40],"id":"cf961b50-0609-47c4-8603-bf5049d385c1","name":"n8n","alwaysOutputData":true,"credentials":{"n8nApi":{"id":"3bO05BbPldH0LQxw","name":"n8n account 4"}}},{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{"systemMessage":"=executions: {{ $json.data }}\nYou are a smart data extractor agent that will create a json of attributes like:\n- Succesfully executed count.\n- UnSuccesfully executed count.\n- Success percetage.\n- Failure percentage.\n- Total executions\n\nGoal: To craete a json of above attributes from all the executions. "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[840,40],"id":"5c1857e0-78f8-4aa7-a86e-3ff8457c6665","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[928,260],"id":"28be38e1-3ec4-4d39-819e-1b5073b30c03","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"zD5wfo9phRcLkpGK","name":"OpenAi account 2"}}},{"parameters":{"workflowInputs":{"values":[{"name":"id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[180,40],"id":"efda6d91-c325-4f90-8103-3a7ebb46141c","name":"When Executed by Another Workflow"}],"connections":{"Aggregate":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a63d9cc8-84b7-4dbf-bead-45ee69b9202f","triggerCount":0,"tags":[]}