Shreyansh Sub Workflow maker.json
{"createdAt":"2025-06-26T07:48:52.889Z","updatedAt":"2025-07-08T06:23:06.146Z","id":"YEEdQ92uxVzhdXON","name":"Shreyansh Sub Workflow maker","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"aBqCtkTX1xd2Mjns","mode":"list","cachedResultName":"Shreyansh Sub data-maker"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $('When Executed by Another Workflow').item.json.SubWorkFlowID }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-540,-280],"id":"fd7bef18-55a7-4d33-98df-5c4e52a42f66","name":"Execute Workflow"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.SubWorkFlowID }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-760,-280],"id":"8c929a1c-e890-4dbe-aa9a-5b29464621aa","name":"Get a workflow","credentials":{"n8nApi":{"id":"ErPdia6OfpeN2Y4H","name":"Shreyansh n8n account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-100,-280],"id":"2c8f2174-0196-4e72-b7a2-3a146586925f","name":"Aggregate"},{"parameters":{"workflowInputs":{"values":[{"name":"SubWorkFlowID"},{"name":"MAinWorkflowExecutionDATA"},{"name":"MainWorkflowName"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-980,-280],"id":"270dc055-06bd-40f9-8ecf-78cb997a3382","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"69f74f7c-5c70-4c8f-98b4-8b046289ecce","name":"name","value":"={{ $('Get a workflow').item.json.name }}","type":"string"},{"id":"12e09f67-2815-4080-8198-3620992e6721","name":"id","value":"={{ $('Get a workflow').item.json.id }}","type":"string"},{"id":"e5a58a40-2a27-467e-952d-475c6b32a213","name":"ExecutionData","value":"={{ $json }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-280],"id":"ef129df9-a887-49d8-95a9-03b1a60d7c91","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"cfc72d27-a0ab-41cb-b23c-161d542533eb","name":"MainWorkflowName","value":"={{ $('When Executed by Another Workflow').first().json.MainWorkflowName }}","type":"string"},{"id":"bb78b17c-b373-4f0e-8c6c-3c4346d58561","name":"MAinWorkflowExecutionDATA","value":"={{ $('When Executed by Another Workflow').first().json.MAinWorkflowExecutionDATA }}","type":"string"},{"id":"1a30f548-a409-4bd7-aa0c-aca2ace3f5e0","name":"SubWorkflows","value":"={{ $json.data }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[120,-280],"id":"bb438419-9358-4b65-8156-e84eaf30dea6","name":"Edit Fields1"}],"connections":{"Execute Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get a workflow":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get a workflow","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Edit Fields1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"62a7b05c-f7e1-45cb-af2f-d529eabd2bcf","triggerCount":0,"tags":[]}