Shreyansh-ChatBot Dashboard (Jul 1 at 12:01:33).json
{"createdAt":"2025-07-01T06:35:34.913Z","updatedAt":"2025-07-01T06:35:34.913Z","id":"efNHwIt3v9wCtiFE","name":"Shreyansh-ChatBot Dashboard (Jul 1 at 12:01:33)","active":false,"isArchived":false,"nodes":[{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-480,100],"id":"6b994bb1-8282-45e5-8a11-2d1cb9d4049b","name":"When chat message received","webhookId":"b5629c57-7796-4cd2-9565-7c710504b0c9"},{"parameters":{"promptType":"define","text":"={{ $json.Message }}","options":{"systemMessage":"=You are a helpful Ai assistant.\n\nquery : {{ $json.Message }}\ndata: {{ $('Aggregate').item.json.data.toJsonString() }}\n\nGet all the data from AirTable tool that contains executio data and normal data related to workflows.\n\nIf query is related to greeting messaages like Hi Hello How are you , \nReturn response in formal conversation of greetings.\n\nAnswer the user query based on data we got.\n\nIf you dont find answer in the data you got,\nAnswer with \"Its not related to the Agent's data\".\n\nPerent agents have child agents in Childs.\nIf not mentioned always answer for Parent agent only not Childs.(Dont mention in this request in answer)\n\nReturn answer in a professional way.\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[560,-140],"id":"4891897b-19f5-412f-9643-9628a48f6f47","name":"AI Agent3"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[600,80],"id":"8ed1c544-43af-48d9-9d99-c4aaf3ba9cee","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appDhxpnl9eqpJm7z","mode":"list","cachedResultName":"Agents","cachedResultUrl":"https://airtable.com/appDhxpnl9eqpJm7z"},"table":{"__rl":true,"value":"tblcHZxjHzUPdYcPW","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appDhxpnl9eqpJm7z/tblcHZxjHzUPdYcPW"},"options":{"fields":["Agent Name","Total executions","Succesful finished number","Unsuccesful finished number","Success percentage","Failure percentage","Agent Description","Childs"]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-260,0],"id":"be6c6523-a860-45b4-a808-9370cd4293a4","name":"Search records","credentials":{"airtableTokenApi":{"id":"LUV09oDP5v1QpIcn","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-40,0],"id":"4ade64d8-cd54-4c1c-b0e3-65799aca588a","name":"Aggregate"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $now }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[760,100],"id":"1cb51d78-eb11-4232-9b7e-3e384348939a","name":"Simple Memory1"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-480,-100],"id":"66c4ae2f-fd7e-4cc1-ae9f-93b6299b02ab","name":"Telegram Trigger","webhookId":"f20f93ae-ae49-4911-9bfb-cb548c24fe8a","credentials":{"telegramApi":{"id":"yjTIjxaXNqale9Gp","name":"Dan Dashboard bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d83bac53-7159-4eb0-b848-b68e999890d7","leftValue":"={{ $('Telegram Trigger').item.json.message.chat.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[180,0],"id":"89a3cd0f-8052-4e28-b2ba-4012425d2f63","name":"If"},{"parameters":{"promptType":"define","text":"={{ $json.Message }}","options":{"systemMessage":"=You are a helpful Ai assistant.\n\nquery : {{ $json.Message }}\ndata: {{ $('Aggregate').item.json.data.toJsonString() }}\n\nGet all the data from AirTable tool that contains executio data and normal data related to workflows.\n\nIf query is related to greeting messaages like Hi Hello How are you , \nReturn response in formal conversation of greetings.\n\nAnswer the user query based on data we got.\n\nIf you dont find answer in the data you got,\nAnswer with \"Its not related to the Agent's data\".\n\nPerent agents have child agents in Childs.\nIf not mentioned always answer for Parent agent only not Childs.(Dont mention in this request in answer)\n\nReturn answer in a professional way.\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[560,240],"id":"b862a13a-b9a0-4187-94dd-e95bc52b542d","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,560],"id":"0a588117-a829-432d-920e-0bfa53258504","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $now }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[720,540],"id":"917453a2-0a46-476f-b030-9b8f87fc51fd","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[920,-140],"id":"fe7bcf35-87a5-48d8-9cf4-da83ad6cf880","name":"Send a text message","webhookId":"e3d1e0b2-5569-43d4-9fcb-fd2df4cb2eed","credentials":{"telegramApi":{"id":"9UDTcxGhNUDvWhgx","name":"typing test bot"}}}],"connections":{"When chat message received":{"main":[[{"node":"Search records","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Search records":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"If","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent3","type":"ai_memory","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Search records","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent3","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":null,"staticData":null,"meta":null,"pinData":null,"versionId":"7d314c72-9b8d-4a0b-9580-e6bad3bb2211","triggerCount":0,"tags":[]}