Shreyansh Sub data-maker.json
{"createdAt":"2025-07-08T06:21:35.079Z","updatedAt":"2025-07-09T06:27:18.224Z","id":"aBqCtkTX1xd2Mjns","name":"Shreyansh Sub data-maker","active":false,"isArchived":false,"nodes":[{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[320,-20],"id":"4deff2a3-077f-448b-8d22-17bdcbfab947","name":"Aggregate"},{"parameters":{"workflowInputs":{"values":[{"name":"id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-120,-20],"id":"d6053a13-4006-45a1-a730-1bb861768879","name":"When Executed by Another Workflow"},{"parameters":{"resource":"execution","returnAll":true,"filters":{"workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{"activeWorkflows":false},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[100,-20],"id":"7348a43e-8f32-4613-9941-c1f69404fa7f","name":"Get many executions","alwaysOutputData":true,"credentials":{"n8nApi":{"id":"ErPdia6OfpeN2Y4H","name":"Shreyansh n8n account"}}},{"parameters":{"jsCode":"// Get input data from previous node\nconst executionData = $input.first().json.data;\nconst Workflowid = $('When Executed by Another Workflow').first().json.id\n\n// Count successful executions (where finished is true)\nconst validExecutions = executionData.filter(item => typeof item.finished === 'boolean');\nconst totalExecutions = validExecutions.length;\nconst successfullyExecutedCount = validExecutions.filter(item => item.finished === true).length;\nconst unsuccessfullyExecutedCount = totalExecutions - successfullyExecutedCount;\n\n// Calculate percentages\nconst successPercentage = totalExecutions > 0 ? \n  Number(((successfullyExecutedCount / totalExecutions) * 100).toFixed(2)) : 0;\nconst failurePercentage = totalExecutions > 0 ? \n  Number(((unsuccessfullyExecutedCount / totalExecutions) * 100).toFixed(2)) : 0;\n\n// Create workflow link\nconst workflowLink = `https://gluagents.xyz/workflow/${Workflowid}`;\n\n// Create the statistics object with your specified property names\nconst stats = {\n  \"Total executions\": totalExecutions,\n  \"Succesful finished number\": successfullyExecutedCount,\n  \"Unsuccesful finished number\": unsuccessfullyExecutedCount,\n  \"Success percentage\": successPercentage,\n  \"Failure percentage\": failurePercentage,\n  \"Workflow id\": Workflowid,\n  \"Workflow link\": workflowLink\n};\n\n// Return the statistics as n8n output\nreturn [ { json: stats } ];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[540,-20],"id":"f7afa451-92dc-491e-bf78-cd4df8ebee58","name":"Code"}],"connections":{"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get many executions","type":"main","index":0}]]},"Get many executions":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"dd5a59d7-ca01-4960-be7d-9f749fa4ee4d","triggerCount":0,"tags":[]}