Shreyansh-Main Logger.json
{"createdAt":"2025-06-25T06:55:29.728Z","updatedAt":"2025-06-26T06:38:49.900Z","id":"4swVH3ZZvcGhHVhE","name":"Shreyansh-Main Logger","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1100,60],"id":"1e1456aa-c4f5-4ac8-8f92-e53afc2812ec","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"// Code Node to extract sub-workflow IDs from main workflow data\n// This assumes the main workflow data is coming from the previous node\n\nconst workflowData = $('Get a workflow').first().json;\nconst subWorkflowIds = [];\nconst subWorkflowInfo = [];\n\n// Check if nodes exist in the workflow data\nif (workflowData && workflowData.nodes) {\n  // Loop through all nodes to find Execute Workflow nodes\n  workflowData.nodes.forEach(node => {\n    // Check if this is an Execute Workflow node\n    if (node.type === 'n8n-nodes-base.executeWorkflow') {\n      \n      // Extract workflow ID from parameters\n      let workflowId = null;\n      let workflowName = null;\n      \n      // Check different possible parameter structures\n      if (node.parameters && node.parameters.workflowId) {\n        if (typeof node.parameters.workflowId === 'string') {\n          workflowId = node.parameters.workflowId;\n        } else if (node.parameters.workflowId.value) {\n          workflowId = node.parameters.workflowId.value;\n          workflowName = node.parameters.workflowId.cachedResultName || null;\n        }\n      }\n      \n      // If we found a workflow ID, add it to our arrays\n      if (workflowId) {\n        subWorkflowIds.push(workflowId);\n        subWorkflowInfo.push({\n          id: workflowId,\n          name: workflowName || `Sub-workflow ${subWorkflowIds.length}`,\n          nodeId: node.id,\n          nodeName: node.name\n        });\n      }\n    }\n  });\n}\n\n// Return the results\nreturn {\n  mainWorkflowId: workflowData.id,\n  mainWorkflowName: workflowData.name,\n  subWorkflowIds: subWorkflowIds,\n  subWorkflowInfo: subWorkflowInfo,\n  totalSubWorkflows: subWorkflowIds.length,\n  // Also pass through the original workflow data if needed\n  originalWorkflowData: workflowData\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-20,-170],"id":"3c138cc5-0357-4654-827e-e794bc200f83","name":"Code"},{"parameters":{"fieldToSplitOut":"subWorkflowIds","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[200,-170],"id":"2d8b60ba-c32d-467e-8eca-0ca48e4340ac","name":"Split Out","alwaysOutputData":true},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.subWorkflowIds }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[640,-120],"id":"54e1768f-87d6-4908-b93a-ffe506fe9182","name":"n8n3","credentials":{"n8nApi":{"id":"3bO05BbPldH0LQxw","name":"n8n account 4"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[420,-170],"id":"3b8fd12c-6e79-4af4-8969-7d79afb4678a","name":"Loop Over Items"},{"parameters":{"jsCode":"// Code Node to structure individual sub-workflow data within the loop\n// Using your specific data access pattern:\n// input.first().json.id - execution data\n// $('n8n3').first().json.createdAt - workflow data\n\n// Get execution data from current input\nconst executionData = $input.first().json.output;\n\n// Get workflow data from n8n3 node\nconst workflowData = $('n8n3').first().json;\n\n// Get the current sub-workflow ID from the split\nconst currentSubWorkflowId = $('Split Out').first().json.subWorkflowIds;\n\nconsole.log('Processing sub-workflow:', currentSubWorkflowId);\nconsole.log('Execution data ID:', executionData?.id);\nconsole.log('Workflow data name:', workflowData?.name);\nconsole.log('Workflow data createdAt:', workflowData?.createdAt);\n\n// Structure the data for this sub-workflow\nconst structuredSubWorkflow = {\n  name: workflowData?.name || `Sub-workflow ${currentSubWorkflowId}`,\n  workflowId: currentSubWorkflowId,\n  executionData: executionData || {},\n  // Add some metadata for verification\n  hasWorkflowData: !!workflowData,\n  hasExecutionData: !!executionData,\n  workflowCreatedAt: workflowData?.createdAt,\n  executionId: executionData?.id\n};\n\nconsole.log('Structured sub-workflow result:', {\n  name: structuredSubWorkflow.name,\n  workflowId: structuredSubWorkflow.workflowId,\n  hasWorkflowData: structuredSubWorkflow.hasWorkflowData,\n  hasExecutionData: structuredSubWorkflow.hasExecutionData,\n  executionId: structuredSubWorkflow.executionId\n});\n\nreturn structuredSubWorkflow;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1236,-70],"id":"73ce0afb-639d-48bf-bd7e-1d94f825ccf3","name":"Code1"},{"parameters":{"jsCode":"// Final Code Node - Structure Main Workflow with Sub-workflows\nconst loopResults = $input.all();\nconst mainWorkflowData = $('Get a workflow').first().json; // Original main workflow data.name\n\n// Structure the final result\nconst finalStructure = {\n  workflowName: mainWorkflowData.name,\n  executionData: $('Execute Workflow1').first().json.output,\n  subworkflows: loopResults.map(item => ({\n    name: item.json.name,\n    executionData: item.json.executionData\n  }))\n};\n\nreturn finalStructure;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,-420],"id":"63ccde83-8e5e-4a60-ba78-97f659bd94d7","name":"Code2"},{"parameters":{"workflowId":{"__rl":true,"value":"mnnjq0sJyJLsOdHw","mode":"list","cachedResultName":"Shreyansh-Data maker"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $('Loop Over Items').item.json.subWorkflowIds }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[938,-120],"id":"00e2ad50-5415-49c9-a05a-81ee20be8c2f","name":"Execute Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"mnnjq0sJyJLsOdHw","mode":"list","cachedResultName":"Shreyansh-Data maker"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-240,-160],"id":"720639e8-6988-4130-a3c0-c96350db65ea","name":"Execute Workflow1"},{"parameters":{"promptType":"define","text":"={{ $json }}","options":{"systemMessage":"=You are a helpful assistant that creates or updates records in Airtable using the connected Airtable tool.\nFor each main workflow, check if it has subworkflows.\nIf yes, collect all subworkflow names into an array of strings\nThen stringify the array using JSON.stringify() and save it in the ChildWorkflows column\nIt should be like:\nChilds: stringified array of child workflow names, like [\"Child1\",\"Child2\",\"Child3\"]\nWhile Updating dont change Agent description keep it as it is."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[860,-520],"id":"56b392a0-f500-47ba-bf7a-f542c0b02b9f","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[888,-300],"id":"cfbc186a-b010-45f1-ac64-730a0f97efb3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"zD5wfo9phRcLkpGK","name":"OpenAi account 2"}}},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appDhxpnl9eqpJm7z","mode":"list","cachedResultName":"Agents","cachedResultUrl":"https://airtable.com/appDhxpnl9eqpJm7z"},"table":{"__rl":true,"value":"tblcHZxjHzUPdYcPW","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appDhxpnl9eqpJm7z/tblcHZxjHzUPdYcPW"},"columns":{"mappingMode":"defineBelow","value":{"Total executions":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_executions', ``, 'number') }}","Succesful finished number":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Succesful_finished_number', ``, 'number') }}","Unsuccesful finished number":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Unsuccesful_finished_number', ``, 'number') }}","Success percentage":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Success_percentage', ``, 'number') }}","Failure percentage":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Failure_percentage', ``, 'number') }}","Agent Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Agent_Name', ``, 'string') }}","Agent Description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Agent_Description', ``, 'string') }}","Childs":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Childs', ``, 'string') }}"},"matchingColumns":["Agent Name"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Agent Name","displayName":"Agent Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Total executions","displayName":"Total executions","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Succesful finished number","displayName":"Succesful finished number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Unsuccesful finished number","displayName":"Unsuccesful finished number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Success percentage","displayName":"Success percentage","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Failure percentage","displayName":"Failure percentage","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Agent Description","displayName":"Agent Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Childs","displayName":"Childs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[1008,-300],"id":"096dc12f-9376-44aa-b005-b994f8e1c29f","name":"Airtable1","credentials":{"airtableTokenApi":{"id":"LUV09oDP5v1QpIcn","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1N1ShW0AO8x4S7ThF7Wiu9FY5ZWLv2Wl59d-_XC_xxy0","mode":"list","cachedResultName":"Agents","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N1ShW0AO8x4S7ThF7Wiu9FY5ZWLv2Wl59d-_XC_xxy0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N1ShW0AO8x4S7ThF7Wiu9FY5ZWLv2Wl59d-_XC_xxy0/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-900,55],"id":"52db679d-c652-458d-aa52-5cdb43386397","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"hpsjv1XnTe2gXjCG","name":"Google Sheets account 3"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-680,55],"id":"a19f0b48-182a-4b3a-b631-0fc418f1b0fe","name":"Loop Over Items1"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"FmnPwxVm5mdlsEtm","mode":"list","cachedResultName":"Subtraction sample agent (#FmnPwxVm5mdlsEtm)"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-440,80],"id":"e8a8b0ed-e036-428a-ba21-b9f045341aa7","name":"Get a workflow","credentials":{"n8nApi":{"id":"ErPdia6OfpeN2Y4H","name":"Shreyansh n8n account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"n8n3":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"n8n3","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Airtable1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Get a workflow","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Get a workflow":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Code2":[{"json":{"workflowName":"Subtraction sample agent","executionData":"{\n  \"Succesfully executed count\": 8,\n  \"UnSuccesfully executed count\": 2,\n  \"Success percetage\": 80,\n  \"Failure percentage\": 20,\n  \"Total executions\": 10\n}","subworkflows":[{"name":"Subtraction sub workflow","executionData":"{\n  \"Successfully executed count\": 5,\n  \"UnSuccessfully executed count\": 3,\n  \"Success percentage\": 62.5,\n  \"Failure percentage\": 37.5,\n  \"Total executions\": 8\n}"},{"name":"Subtraction second child","executionData":"{\n  \"Succesfully_executed_count\": 4,\n  \"UnSuccesfully_executed_count\": 0,\n  \"Success_percentage\": 100,\n  \"Failure_percentage\": 0,\n  \"Total_executions\": 4\n}"}]}}]},"versionId":"69d328ec-0b54-4412-912d-39a4f3a78b20","triggerCount":0,"tags":[]}