store-user-token.json
{"createdAt":"2025-06-04T05:18:57.500Z","updatedAt":"2025-06-04T06:29:00.735Z","id":"iH5RMdJxQ4WXzYzJ","name":"store-user-token","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"user-provided-token","type":"any"},{"name":"Secret-token","type":"any"},{"name":"userId","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-360,-200],"id":"7b548eeb-8b3a-4ee4-980f-a9d615a9fdce","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d249b973-c258-4d2f-bd9b-35aa729452a4","leftValue":"={{ $json[\"Secret-token\"] }}","rightValue":"={{ $json[\"user-provided-token\"] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-140,-200],"id":"efe9e8ee-d43a-454b-a154-48da169a89ab","name":"validate token"},{"parameters":{"assignments":{"assignments":[{"id":"f4c29c3c-a09f-4a58-8031-64b0a41b728c","name":"output","value":"not a valid token","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-100],"id":"18cfd4dc-8294-4914-b893-81fba9f57993","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"f4c29c3c-a09f-4a58-8031-64b0a41b728c","name":"output","value":"Token Successfully validate . ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,-280],"id":"2079559f-0ffa-47a1-af1d-d9fb33f2bfd5","name":"Edit Fields1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1uk-rDY0a3RMxHCtWtJyRqE09xXfiV7itOgSF2LmoCSU","mode":"list","cachedResultName":"Hanna_Auth","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uk-rDY0a3RMxHCtWtJyRqE09xXfiV7itOgSF2LmoCSU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2048845196,"mode":"list","cachedResultName":"users_tokens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uk-rDY0a3RMxHCtWtJyRqE09xXfiV7itOgSF2LmoCSU/edit#gid=2048845196"},"columns":{"mappingMode":"defineBelow","value":{"Token":"={{ $json[\"user-provided-token\"] }}","userId":"={{ $json[\"userId\"] }}","expiredAt":"={{ $now.plus({ minutes: 3 }).toISO() }}"},"matchingColumns":["userId"],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Token","displayName":"Token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"expiredAt","displayName":"expiredAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[80,-280],"id":"87b9ff9d-920e-484d-aa28-0a594b0c46a1","name":"Stored User Token","credentials":{"googleSheetsOAuth2Api":{"id":"2a7t9bbSmio220XT","name":"Dan Google Cred"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"validate token","type":"main","index":0}]]},"validate token":{"main":[[{"node":"Stored User Token","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Stored User Token":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8065f060-c42c-4440-8358-15c02602658f","triggerCount":0,"tags":[]}