Store Link-din Post.json
{"createdAt":"2025-08-05T05:46:33.095Z","updatedAt":"2025-08-07T08:31:02.080Z","id":"OhHFKhzrmk7rVtxD","name":"Store Link-din Post","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.datasetId }}/items?clean=true&format=json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,112],"id":"24b19e08-25a8-4191-8be3-9d7f9b360f3a","name":"HTTP Request1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk","mode":"list","cachedResultName":"Linkdin User Profile","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1226018619,"mode":"list","cachedResultName":"user_posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk/edit#gid=1226018619"},"columns":{"mappingMode":"defineBelow","value":{"author_name":"={{ $json.author.first_name }} {{ $json.author.last_name }}","author_headline":"={{ $json.author.headline }}","author_username":"={{ $json.author.username }}","author_profile_url":"={{ $json.author.profile_url }}","author_profile_picture":"={{ $json.author.profile_picture }}","post_text":"={{ $json.text }}","post_url":"={{ $json.url }}","post_date":"={{ $json.posted_at.date }}","post_type":"={{ $json.post_type }}","reactions_total":"={{ $json.stats.total_reactions }}","likes":"={{ $json.stats.like }}","love":"={{ $json.stats.love }}","support":"={{ $json.stats.support }}","insight":"={{ $json.stats.insight }}","celebrate":"={{ $json.stats.celebrate }}","funny":"={{ $json.stats.funny }}","comments":"={{ $json.stats.comments }}","reposts":"={{ $json.stats.reposts }}","article_thumbnail":"={{ $json?.media?.thumbnail }}","article_url":"={{ $json?.media?.url }}"},"matchingColumns":["author_username"],"schema":[{"id":"author_name","displayName":"author_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"author_headline","displayName":"author_headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"author_username","displayName":"author_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"author_profile_url","displayName":"author_profile_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"author_profile_picture","displayName":"author_profile_picture","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_text","displayName":"post_text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_url","displayName":"post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_date","displayName":"post_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_type","displayName":"post_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"reactions_total","displayName":"reactions_total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"likes","displayName":"likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"love","displayName":"love","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"support","displayName":"support","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"insight","displayName":"insight","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"celebrate","displayName":"celebrate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"funny","displayName":"funny","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"comments","displayName":"comments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"reposts","displayName":"reposts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"article_url","displayName":"article_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"article_title","displayName":"article_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"article_subtitle","displayName":"article_subtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"article_thumbnail","displayName":"article_thumbnail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[48,112],"id":"196ffa20-1f20-47b5-bb71-ae91e93cec0e","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"WqHYSCJUHAwccGcv","name":"Gluagents Google Sheets"}}},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-432,112],"id":"00da3dfa-a1a4-4641-8a7d-8b92ce7052e2","name":"Wait","webhookId":"735ecd45-b365-45c3-bd48-e5699eaba89e"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-656,352],"id":"677f5c6e-dca0-4425-a7e6-ef04bfb059b6","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk","mode":"list","cachedResultName":"Linkdin User Profile","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1226018619,"mode":"list","cachedResultName":"user_posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk/edit#gid=1226018619"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-448,352],"id":"e34f3b5e-5d54-4817-a97c-127959a6e0ff","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Oz3VV5pv0lxDbEHp","name":"Dan Creative Glue"}}},{"parameters":{"promptType":"define","text":"={{ $json.data.toJsonString() }}","hasOutputParser":true,"options":{"systemMessage":"=You are a data analysis assistant that specializes in social media virality scoring. \n\nYou will receive a list of LinkedIn posts with metrics such as:\n- Likes\n- Comments\n- Reposts\n- Reactions_total\n\nYour job is to:\n1. Calculate the **Virality Score** for each post using this formula:\n   Virality Score = (Likes × 1) + (Comments × 3) + (Reposts × 4) + (Reactions_total × 1.5)\n\n2. Return the **Top 2 viral posts** with:\n   - Author name\n   - Post and other important details,\n   - Metrics used (likes, comments, reposts, reactions_total)\n   - Final calculated score\n\n3. Optionally, provide a brief reason why these posts likely performed well (based on content/tone/engagement).\n\n⚠️ Only respond with the top 1 posts based on score, sorted in descending order.\n\nUse markdown formatting for clear readability in the response.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-64,352],"id":"cb6c20d4-34ff-4d67-ad9f-a3b84fa6e113","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-64,560],"id":"7dbf391e-ece6-4d55-a30f-4cc088ae6707","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-240,352],"id":"7272e5da-ca5f-432c-bfbf-5d8a8e64c27f","name":"Aggregate"},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"author\": \"\",\n    \"text\": \"\",\n    \"likes\": 0,\n    \"comments\": 0,\n    \"reposts\": 0,\n    \"reactions_total\": 0,\n    \"Why it performed well\":\"\"\n  }\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[80,560],"id":"981b9fce-2768-466b-a8c7-6762fb4c797a","name":"Structured Output Parser"},{"parameters":{"sendTo":"dan@creativeglu.ai","subject":"🚀 Viral LinkedIn Post of the Week (AI-Powered Insights)","message":"=<h2>🚀 Viral LinkedIn Post of the Week</h2>\n<hr/>\n\n<h3>📌 1. {{$json.output[0].author}}</h3>\n<p><strong>Post:</strong> {{$json.output[0].text}}</p>\n<ul>\n  <li><strong>Likes:</strong> {{$json.output[0].likes}}</li>\n  <li><strong>Comments:</strong> {{$json.output[0].comments}}</li>\n  <li><strong>Reposts:</strong> {{$json.output[0].reposts}}</li>\n  <li><strong>Reactions:</strong> {{$json.output[0].reactions_total}}</li>\n</ul>\n<p><strong>Virality Score:</strong> {{ \n  $json.output[0].likes + \n  ($json.output[0].comments * 3) + \n  ($json.output[0].reposts * 4) + \n  ($json.output[0].reactions_total * 1.5)\n}}</p>\n<p><strong>Why it performed well:</strong> {{$json.output[0][\"Why it performed well\"]}}</p>\n\n<hr/>\n\n<h3>📌 2. {{$json.output[1].author}}</h3>\n<p><strong>Post:</strong> {{$json.output[1].text}}</p>\n<ul>\n  <li><strong>Likes:</strong> {{$json.output[1].likes}}</li>\n  <li><strong>Comments:</strong> {{$json.output[1].comments}}</li>\n  <li><strong>Reposts:</strong> {{$json.output[1].reposts}}</li>\n  <li><strong>Reactions:</strong> {{$json.output[1].reactions_total}}</li>\n</ul>\n<p><strong>Virality Score:</strong> {{ \n  $json.output[1].likes + \n  ($json.output[1].comments * 3) + \n  ($json.output[1].reposts * 4) + \n  ($json.output[1].reactions_total * 1.5)\n}}</p>\n<p><strong>Why it performed well:</strong> {{$json.output[1][\"Why it performed well\"]}}</p>\n","options":{"appendAttribution":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[304,352],"id":"e839db39-978e-4a52-b4de-026d1005b085","name":"Send a message","webhookId":"a93ce110-f0ba-4c7d-99ed-d5e88c962ec6","credentials":{"gmailOAuth2":{"id":"g60VLt9jxOFvg1X1","name":"Gluagents Gmail"}}},{"parameters":{"promptType":"define","text":"=Viral Posts :: {{ $('AI Agent').item.json.output.toJsonString() }}","hasOutputParser":true,"options":{"systemMessage":"=You are a professional AI copywriter who specializes in writing viral-style LinkedIn posts.\n\nYou will be given:\n1. A real **viral LinkedIn post**\n2. A **plain-text company description** (not structured JSON)\n\nuser company details :: {{ $json.content }}\n\n🎯 Your job:\n- Analyze the **structure, tone, and writing style** of the viral post\n- Then, **write a similar LinkedIn post** for the company described, using the same energy, format, and voice\n\n---\n\n🧠 Rules for Writing:\n- Keep the **first line bold** and catchy (like a product launch or transformation headline)\n- Highlight a **key benefit** or transformation\n- Use clear, outcome-focused language\n- Include a **call to action** (CTA) or invite to explore\n- End with a short, confident closer (e.g. “It’s not hype. It’s execution.”)\n\nDo not copy words from the original post. Rephrase and adapt the tone.\n\n---\n\n📥 Input Format (You’ll receive this):\n\n```txt\n# VIRAL POST EXAMPLE:\nToday we’re launching GitHub Spark — a new tool in Copilot that turns your ideas into full-stack apps, entirely in natural language.\n\nI’ve enjoyed creating with Spark myself, but even more, I’ve enjoyed seeing what you're building: https://lnkd.in/g9_swvt3\n\n# COMPANY DESCRIPTION:\nCreative Glu is an AI advisory and automation company helping post-$1M CEOs automate their core business workflows. Their flagship AI Agent Accelerator helps leaders go from diagnostic to live agent in under 4 weeks, including prompt playbooks, ROI tools, and CTO-level guidance.\n\n##INstruction\n\nIf you found 2 viral post in user message you job is gertaed 2 new post for each viral posts do not mix all \nCreate a new post which "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[768,32],"id":"f91d8848-02c9-460c-b63a-7a35da2b687b","name":"AI Agent1","disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[784,176],"id":"6ccdcc4a-eb1d-4b67-970c-be44330b6393","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1NVEGKMcmsd9er4RhqvcuNtWACaitqGLaYoOf4PrA0PI/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[512,352],"id":"bab6620b-884e-4d2a-b449-c347c6933a27","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"L9xmtETGAE9P06CN","name":"Shreyansh Google Docs"}},"disabled":true},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"Post Title\": \"Introducing the AI Agent Revolution\",\n    \"Post Text\": \"\",\n    \"Post Style\": \"CEO-focused, Business Strategy, Bold, Informative\",\n    \"Created At\": \"2025-08-05T15:30:00Z\",\n    \"Original Post\": \"newpost_1\"\n  },\n  {\n    \"Post Title\": \"Why Most CEOs Struggle with AI\",\n    \"Post Text\": \"\",\n    \"Post Style\": \"Problem-Solution, Advisory Tone, Founder-centric\",\n    \"Created At\": \"2025-08-05T15:30:00Z\",\n    \"Original Post\": \"newpost_2\"\n  }\n]\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[928,160],"id":"55801e4a-2b58-42f0-8ffb-121acb92ff3d","name":"Structured Output Parser1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk","mode":"list","cachedResultName":"Linkdin User Profile","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1683024668,"mode":"list","cachedResultName":"new_post","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk/edit#gid=1683024668"},"columns":{"mappingMode":"defineBelow","value":{"Post ID":"={{ $now }}","Post Style":"={{ $json.output[0][\"Post Style\"] }}","Post Text":"={{ $json.output[0][\"Post Text\"] }}","Original Post":"={{ $json.output[0][\"Original Post\"] }}","Generated Date":"={{ $now }}","Post Title":"={{ $json.output[0][\"Post Title\"] }}"},"matchingColumns":[],"schema":[{"id":"Post ID","displayName":"Post ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post Title","displayName":"Post Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Post Style","displayName":"Post Style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post Text","displayName":"Post Text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Generated Date","displayName":"Generated Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Original Post","displayName":"Original Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1152,32],"id":"319cb786-ee0a-41cb-88a9-85e4989c22e5","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Oz3VV5pv0lxDbEHp","name":"Dan Creative Glue"}},"disabled":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk","mode":"list","cachedResultName":"Linkdin User Profile","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":704596287,"mode":"list","cachedResultName":"viral_post","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk/edit#gid=704596287"},"columns":{"mappingMode":"defineBelow","value":{"Post Text":"={{ $('AI Agent').item.json.output[0].text }}","Author":"={{ $('AI Agent').item.json.output[0].author }}","Likes":"={{ $('AI Agent').item.json.output[0].likes }}","Comments":"={{ $('AI Agent').item.json.output[0].comments }}","Reactions_Total":"={{ $('AI Agent').item.json.output[0].reactions_total }}","Reposts":"={{ $('AI Agent').item.json.output[0].reposts }}","Why it performed well":"={{ $('AI Agent').item.json.output[0][\"Why it performed well\"] }}","Created At":"={{$now}}"},"matchingColumns":[],"schema":[{"id":"Author","displayName":"Author","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Post Text","displayName":"Post Text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Comments","displayName":"Comments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Reposts","displayName":"Reposts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Reactions_Total","displayName":"Reactions_Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Why it performed well","displayName":"Why it performed well","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Created At","displayName":"Created At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[880,512],"id":"a858bc1e-ae49-4f77-ad0a-69cac04fdd2d","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"Oz3VV5pv0lxDbEHp","name":"Dan Creative Glue"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk","mode":"list","cachedResultName":"Linkdin User Profile","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":704596287,"mode":"list","cachedResultName":"viral_post","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wfov1gYev-eaqJnQoPKO9RHPta-BjOh3IDia-cxszRk/edit#gid=704596287"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[704,512],"id":"f8c90c98-887d-4703-9beb-ace4238c5b9e","name":"Delete rows or columns from sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Oz3VV5pv0lxDbEHp","name":"Dan Creative Glue"}}},{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-624,112],"id":"d96398b7-e37d-4954-9b67-ea132f04bea0","name":"When Executed by Another Workflow"}],"connections":{"HTTP Request1":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Get a document":{"main":[[{"node":"AI Agent1","type":"main","index":0},{"node":"Delete rows or columns from sheet","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"AI Agent1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Delete rows or columns from sheet":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"da43e20c-a40e-4edf-b342-c8499d30a2bb","triggerCount":0,"tags":[]}