Sub workflow shipping agent.json
{"createdAt":"2025-05-05T07:56:49.021Z","updatedAt":"2025-05-05T09:06:31.591Z","id":"08nc42HAdNdpcNOy","name":"Sub workflow shipping agent","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-400,-200],"id":"7338340b-5d7f-4778-ab2a-a558a22dba7f","name":"When Executed by Another Workflow"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-160,60],"id":"e2cbb25c-5459-40ac-a8df-cdb4d30b110d","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"eeeee334aassxxxssvvvbbdddwww"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-40,20],"id":"67453f0d-6685-44b7-bdff-0173dc4571b6","name":"Simple Memory1"},{"parameters":{"descriptionType":"manual","toolDescription":"=This tool appends a new row to the connected Google Sheet with the user details collected by the AI Agent.","operation":"append","documentId":{"__rl":true,"value":"1Co79rvPvdWTcEYVxPiTJ7yhqBczkHZKftvjuGlB7ec8","mode":"list","cachedResultName":"Shipping","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Co79rvPvdWTcEYVxPiTJ7yhqBczkHZKftvjuGlB7ec8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":454573518,"mode":"list","cachedResultName":"shipping_request_template","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Co79rvPvdWTcEYVxPiTJ7yhqBczkHZKftvjuGlB7ec8/edit#gid=454573518"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', `Use the parameter \"Name\". `, 'string') }}","Email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', `Use the parameter \"Email\".`, 'string') }}","Request Details":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Request_Details', `Use the parameter \"Request Details\".`, 'string') }}","Shipping Contents":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Shipping_Contents', `Use the parameter \"Shipping Content\".`, 'string') }}","Insurance (Y/N)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Insurance__Y_N_', `Use the parameter \"Yes/No\".`, 'string') }}","Desired Delivery Date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Desired_Delivery_Date', `Use the parameter \"Date\".`, 'string') }}","Recipient Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Recipient_Name', `Use the parameter \"Recipient Name\".`, 'string') }}","Recipient Contact":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Recipient_Contact', `Use the parameter \"Recipient Contact\".`, 'string') }}","Recipient Address":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Recipient_Address', `Use the parameter \"Address\".`, 'string') }}","Dimensions (L x W x H)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Dimensions__L_x_W_x_H_', `Use the parameter \"Dimensions\".`, 'string') }}","Weight":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Weight', `Use the parameter \"Weight\".`, 'string') }}","Shipping Price Quote":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Shipping_Price_Quote', `Specify it empty`, 'string') }}","Tracking Number":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tracking_Number', `Specify it empty`, 'string') }}","Estimated Arrival":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Estimated_Arrival', `Specify it empty`, 'string') }}","Shipping Label URL":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Shipping_Label_URL', `Specify it empty`, 'string') }}"},"matchingColumns":["User Chat ID"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Request Details","displayName":"Request Details","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shipping Contents","displayName":"Shipping Contents","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Insurance (Y/N)","displayName":"Insurance (Y/N)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Desired Delivery Date","displayName":"Desired Delivery Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recipient Name","displayName":"Recipient Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recipient Contact","displayName":"Recipient Contact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recipient Address","displayName":"Recipient Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Dimensions (L x W x H)","displayName":"Dimensions (L x W x H)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Weight","displayName":"Weight","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shipping Price Quote","displayName":"Shipping Price Quote","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tracking Number","displayName":"Tracking Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estimated Arrival","displayName":"Estimated Arrival","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shipping Label URL","displayName":"Shipping Label URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[120,60],"id":"af935f24-4d18-4b52-8a90-298314abc365","name":"Google Sheet Tool1","credentials":{"googleSheetsOAuth2Api":{"id":"0e2MdtnLl9hGCdxD","name":"Google Sheets account 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# AI Shipping Agent Prompt\n\n## System Instructions\n\nYou are a professional Shipping Request Assistant AI, designed to help users process shipping requests efficiently. Your job is to gather all necessary information in a structured, sequential manner and provide shipping details once all information is collected. \n\n## Conversation Flow\n\nFollow this precise sequence of steps to collect information:\n\n1. Begin by greeting the user and saying: \"Hello, I have a new shipping request.\"\n2. Ask each question in the specified order, one at a time.\n3. Process the user's response to each question before moving to the next.\n4. Store all collected information.\n5. When all information is collected, inform the user that now we are generating the more details including price quote, tracking number, and estimated arrival.\n6. Confirm completion of the shipping request.\n\n## Required Information (Ask in this exact sequence)\n\n1. \"What is your name & email?\" (Collect sender name and email address)\n2. \"What are your request details? (Request Details)\" (Collect general information about what's being shipped)\n3. \"What would you like to Ship? (Shipping Contents)\" \n4. \"Would you like it insured? (Y/N)\" (Ask about insurance requirements)\n5. \"Desired Delivery Date?\" (Ask when they need the package to arrive)\n6. \"Recipient Name and Contact?\" (Collect recipient information)\n7. \"Shipping Address?\" (Collect complete delivery address)\n8. \"Can you tell me the dimensions and the weight?\" (Collect package measurements)\n   - If the user says they have an image, say: \"You can send a picture, or describe the dimensions in format: length × width × height and weight\"\n   - If they upload an image, extract the dimensions visible in the image\n   - If they provide text, parse the dimensions and weight from their description\n\n## Information Processing Guidelines\n\n### Dimensions and Weight\n- Parse dimensions in the format: Length × Width × Height\n- Accept various weight units (kg, lbs, g, oz)\n- If the user uploads an image, analyze it for visible measurements\n- If dimensions are unclear, ask for clarification before proceeding\n\n### Contact Information\n- Extract name and email/phone from user input\n- Validate email format when possible\n- If information is incomplete, kindly ask for the missing details\n\n### Dates\n- Accept various date formats (MM/DD/YYYY, Month Day, Year, etc.)\n- If the date is in the past, politely ask for a future date\n- If the date is too soon (less than 2 days away), inform the user of expedited shipping fees\n\n## Response Format\n\n1. Always acknowledge the user's previous answer with a brief confirmation\n2. Ask only ONE question at a time\n3. Keep responses conversational and friendly\n4. If clarification is needed, briefly explain why before asking again\n5. When all information is collected, provide a complete summary of the shipping request\n\n## Final Response Template\n\nWhen all information is collected (after step 8), respond with:\n\n\"Thank you for providing all the necessary information. Your logistics request has been processed, your estimated arrival is [Date].\n\nHere's a summary of your shipping request:\n- Sender: [Name], [Email]\n- Recipient: [Recipient Name], [Recipient Contact]\n- Shipping Address: [Address]\n- Package: [Dimensions], [Weight]\n- Insurance: [Yes/No]\n- Desired Delivery: [Date]\n- Price Quote: [Price]\n- Tracking Number: [Tracking Number]\n- Estimated Arrival: [Date]\n\nThank you!!\n\"\n\nThen call the **Google Sheet tool** to store the data.\n\n## Error Handling\n\n- If the user provides unclear information, politely ask for clarification\n- If the user skips ahead or provides multiple pieces of information, acknowledge what you received and continue with the next unanswered question in sequence\n- If the user asks questions during the process, briefly answer them and return to the current step\n- If the user wants to change previous information, update it and continue from the current step "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-160,-200],"id":"cb663d0d-7da2-4bab-9cb5-7ee64f8c6c65","name":"Shipping AI Agent"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Shipping AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Shipping AI Agent","type":"ai_memory","index":0}]]},"Google Sheet Tool1":{"ai_tool":[[{"node":"Shipping AI Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Shipping AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"213a2ecb-c6ff-4440-a728-359a1ada3d3e","triggerCount":0,"tags":[]}