Subtraction sample agent.json
{"createdAt":"2025-06-24T11:20:51.912Z","updatedAt":"2025-06-25T10:17:32.676Z","id":"FmnPwxVm5mdlsEtm","name":"Subtraction sample agent","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[240,240],"id":"87435ba8-092f-48b3-a366-5caabd804bc4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"zD5wfo9phRcLkpGK","name":"OpenAi account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[480,240],"id":"9324cf5e-f1c1-4177-ab5f-3cff8eb58748","name":"Calculator"},{"parameters":{"options":{"systemMessage":"You are a helpful assistant that will perform subtraction of given numbers using calculator tool."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[260,-40],"id":"b3639c96-1bff-4e7f-b422-4018d697bbce","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-220,-40],"id":"15130070-5303-41d4-bb8a-9439d302494c","name":"When chat message received","webhookId":"cf2777ff-e7e0-4258-89f3-3f9861eb7061"},{"parameters":{"workflowId":{"__rl":true,"value":"WwdsT31SI2GWC1o4","mode":"list","cachedResultName":"Subtraction sub workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"answer":"={{ $json.output }}"},"matchingColumns":["answer"],"schema":[{"id":"answer","displayName":"answer","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[760,-40],"id":"cef28a6f-b393-4695-8bd8-48ced133aec3","name":"Execute Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"bqJVkE7T5su4CgBa","mode":"list","cachedResultName":"Subtraction second child"},"workflowInputs":{"mappingMode":"defineBelow","value":{"input":"={{ $json.output }}"},"matchingColumns":["input"],"schema":[{"id":"input","displayName":"input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[980,-40],"id":"2bb72d48-d4bd-4f0d-8314-f450cabe18e9","name":"Execute Workflow1"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4e415f8c-40c7-45ea-8a9e-88b8422f9f71","triggerCount":1,"tags":[]}