Subtraction second child.json
{"createdAt":"2025-06-25T10:01:41.094Z","updatedAt":"2025-06-25T10:23:04.453Z","id":"bqJVkE7T5su4CgBa","name":"Subtraction second child","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"input"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[260,340]},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[720,620],"id":"71291587-8f66-4603-81ac-2c5e9f2c2c7f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"zD5wfo9phRcLkpGK","name":"OpenAi account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1120,1000],"id":"4d747c41-c6f4-4f36-b6df-02903f967e86","name":"Calculator"},{"parameters":{"promptType":"define","text":"={{ $json.input }}","options":{"systemMessage":"=input: {{ $json.input }}\nYou are a helpful assistant that will remove emojis from recieved input. "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[680,360],"id":"440e63ca-0835-4b52-a232-1ff4a825ab8b","name":"AI Agent"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0979e068-84ae-41b7-8174-dc1687649055","triggerCount":0,"tags":[]}