Test Rag.json
{"createdAt":"2025-04-30T09:47:58.362Z","updatedAt":"2025-04-30T09:48:08.467Z","id":"GS4bAKBg3QOxP6s3","name":"Test Rag","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-420,-220],"id":"f66f03c9-7bed-4849-b206-9e27541f289d","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1gm0jxFTLuiWB5u4esEjzoCPImrVqu0AEMIKBIesTf9M","mode":"list","cachedResultName":"Udit Rawat - Details","cachedResultUrl":"https://docs.google.com/document/d/1gm0jxFTLuiWB5u4esEjzoCPImrVqu0AEMIKBIesTf9M/edit?usp=drivesdk"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-200,-220],"id":"326c04eb-1000-45fc-a31c-6a099ec17162","name":"Google Drive"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[20,-220],"id":"266cddc0-eeee-493a-9457-d3c338f8eb1b","name":"Extract from File"},{"parameters":{"jsCode":"let split_text = \"—---------------------------—-------------[SECTIONEND]—---------------------------—-------------\";\nfor (const item of $input.all()) {\n  item.json.section = item.json.data.split(split_text);\n  item.json.document = JSON.stringify(item.json.section)\n}\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-220],"id":"856f2b16-732f-449e-bf05-4494b1c986b4","name":"Code"},{"parameters":{"fieldToSplitOut":"section","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[460,-220],"id":"6e901795-566d-41fc-a8ea-4b929b11f331","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[680,-220],"id":"0fda60c9-07a4-400a-a7c3-e1afc4665c17","name":"Loop Over Items"},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=<document> \n{{ $('Code').item.json.document }}\n</document> \nHere is the chunk we want to situate within the whole document \n<chunk> \n{{ $json.section }}\n</chunk> \nPlease give a short succinct context to situate this chunk within the overall document for the purposes of improving search retrieval of the chunk. Answer only with the succinct context and nothing else. ","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-380,40],"id":"07fef3eb-6cea-4f57-a116-093af01cb2f3","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-400,220],"id":"b4062c70-a818-4127-acd2-8fed0abd8731","name":"OpenRouter Chat Model"},{"parameters":{"assignments":{"assignments":[{"id":"e5fb0381-5d23-46e2-a0d1-438240b80a3e","name":"=section_chunk","value":"={{ $json.output }}. {{ $('Loop Over Items').item.json.section }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-20,40],"id":"47f676b9-d024-4da2-af95-1ed54ecda82e","name":"Edit Fields"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"context-rag-test","mode":"list","cachedResultName":"context-rag-test"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[200,40],"id":"ba82d08c-f053-4a44-b5cc-203a03426cd6","name":"Pinecone Vector Store"},{"parameters":{"modelName":"models/text-embedding-004"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[140,220],"id":"2f527d6c-b5d9-41f5-88e9-bcf7555aa0fd","name":"Embeddings Google Gemini"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[340,220],"id":"80f3f23d-50e6-4b33-8901-fb72eb8010bb","name":"Default Data Loader"},{"parameters":{"chunkSize":100000,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[260,360],"id":"da5edb48-d10b-4e42-84fe-e06394564858","name":"Recursive Character Text Splitter"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"12da89b8-9f5e-4497-8734-49b114a52d68","triggerCount":0,"tags":[{"createdAt":"2025-04-30T09:48:05.986Z","updatedAt":"2025-04-30T09:48:05.986Z","id":"nclveQQB1hHouiwK","name":"Sell"}]}