upload-sheet-data.json
{"createdAt":"2025-04-11T09:21:03.392Z","updatedAt":"2025-04-17T13:41:02.496Z","id":"LtFgm3Lqf4926mWs","name":"upload-sheet-data","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"upload-sheets","formFields":{"values":[{"fieldLabel":"Sheet Name","placeholder":"Enter sheet name","requiredField":true},{"fieldLabel":"Sheet Url","placeholder":"Enter url of Sheet","requiredField":true}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-140,-100],"id":"559160e3-9570-4356-870f-0b746b98f4a4","name":"On form submission","webhookId":"bc80accb-a3e0-4e70-8281-00f102d05bfd"},{"parameters":{"jsCode":"const items = $input.all();\nconst updatedItems = items.map((item) => {\n  const urlPattern = new RegExp(\n    \"^(https?:\\\\/\\\\/)?\" + // protocol\n      \"((([a-z\\\\d]([a-z\\\\d-]*[a-z\\\\d])*)\\\\.)+[a-z]{2,}|\" + // domain name and extension\n      \"((\\\\d{1,3}\\\\.){3}\\\\d{1,3}))\" + // OR ip (v4) address\n      \"(\\\\:\\\\d+)?\" + // port\n      \"(\\\\/[-a-z\\\\d%_.~+:@]*)*\" + // path\n      \"(\\\\?[;&a-z\\\\d%_.~+=:@-]*)?\" + // query string\n      \"(\\\\#[-a-z\\\\d_]*)?$\",\n    \"i\", // fragment locator\n  );\n  const isValidUrl = !!urlPattern.test(item?.json[\"Sheet Url\"]);\n  return { ...item.json, isValidUrl };\n});\nreturn updatedItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[20,-100],"id":"8919038e-3b79-43af-a35c-afdeb6e2c53d","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9014e21-cc89-4eed-86fa-416e608af247","leftValue":"={{ $json.isValidUrl }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[200,-100],"id":"f5d6ed05-e8c2-4171-bd6a-2444481fb2b0","name":"If"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1jKLa8m8PnuoyKbsICWaRZVGqjl7PxBQmWb2gPsvkXhU","mode":"list","cachedResultName":"Myraa_RZ Google Sheets Code Test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jKLa8m8PnuoyKbsICWaRZVGqjl7PxBQmWb2gPsvkXhU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sources","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jKLa8m8PnuoyKbsICWaRZVGqjl7PxBQmWb2gPsvkXhU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Datasource":"={{ $('On form submission').item.json[\"Sheet Name\"] }}","Link":"={{ $('On form submission').item.json[\"Sheet Url\"] }}"},"matchingColumns":[],"schema":[{"id":"Datasource","displayName":"Datasource","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[420,-200],"id":"b21d86e3-9de9-4282-b0f1-b2b1e4f4cb2f","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"rVLVpC5FEF6wrTch","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://02dzo5iki3.execute-api.us-east-1.amazonaws.com/default/google-sheets-processor","sendHeaders":true,"headerParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,-200],"id":"bcc01c06-d3a9-47da-8a35-a35f891ab48c","name":"HTTP Request"}],"connections":{"On form submission":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c7d521d2-7e8b-4a54-904a-c260669c4bfb","triggerCount":1,"tags":[{"createdAt":"2025-04-11T09:21:01.873Z","updatedAt":"2025-04-11T09:21:01.873Z","id":"WJOCr5cq0E8mlVtD","name":"sheet process"},{"createdAt":"2025-04-11T09:21:01.864Z","updatedAt":"2025-04-11T09:21:01.864Z","id":"7EKACnc2dGSSx3jz","name":"cloude functions"}]}