upload health reports.json
{"createdAt":"2025-04-25T07:03:59.419Z","updatedAt":"2025-07-25T09:44:40.613Z","id":"tdtnfw7LZLdJBt5W","name":"upload health reports","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=file_name::{{ $('When Executed by Another Workflow').item.json.file_name }}\n\n{{ $('When Executed by Another Workflow').item.json.report_data }}\n\n","hasOutputParser":true,"options":{"systemMessage":"={{ ($json.content && $json.content.trim().length > 0) ? $json.content : `**Role:**  \nYou are a helpful assistant \n\n**Your Task:**  \nGenerate a summary of the user's data. Make sure not to miss any important values from the reports.\n\n**Instructions:**  \n1. Convert important keys to uppercase.  \n   - Example: Wbc → WBC, Rbc → RBC, tsh → TSH, Tsh → TSH, and so on.\n\n2. Create a report name based on the data in the document and file name.  \n   - Use patient name and file name mix to create report name.` }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[144,-80],"id":"a1b785b6-f012-40aa-b0ec-0eaba510abd5","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[160,144],"id":"c1bae904-61c9-42ac-8890-e89325908964","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"summary\": \"California\",\n\t\"report_name\": \"report_name\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[288,144],"id":"7d1e95d0-fc2b-499b-8b82-959bb9d32eb6","name":"Structured Output Parser"},{"parameters":{"workflowInputs":{"values":[{"name":"report_data"},{"name":"file_name"},{"name":"userID"},{"name":"file_source"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-304,-80],"id":"a9d2ce1d-ed36-4a5a-bde1-927bb8eed89a","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","documentURL":"1KbeQwMTDjgzFhOX88fZw8wSuwtvJ-ZbIIlP0-AoMuLg"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-80,-80],"id":"f38522f5-df53-4ba8-be6e-7982eb85ad17","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"T0uBlmGwFoQcaNzt","name":"Gluagents Google Docs"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app3aAg0KilMHTlde","mode":"list","cachedResultName":"Santorio","cachedResultUrl":"https://airtable.com/app3aAg0KilMHTlde"},"table":{"__rl":true,"value":"tbltsQUBMtrH230AT","mode":"list","cachedResultName":"health_reports","cachedResultUrl":"https://airtable.com/app3aAg0KilMHTlde/tbltsQUBMtrH230AT"},"columns":{"mappingMode":"defineBelow","value":{"report_name":"={{ $('When Executed by Another Workflow').item.json.file_name }}","description":"={{ $('When Executed by Another Workflow').item.json.report_data }}","summary":"={{ $('AI Agent').item.json.output.summary }}","file_source":"=https://api.telegram.org/file/bot7241872400:AAEjw-YYvUSCFawfYALHQoNAZd2flCoHZUQ/{{ $('When Executed by Another Workflow').item.json.file_source }}","userID":"={{ $('When Executed by Another Workflow').item.json.userID }}"},"matchingColumns":[],"schema":[{"id":"userID","displayName":"userID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"report_name","displayName":"report_name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"file_source","displayName":"file_source","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[512,-80],"id":"631ed98e-482c-4f01-85e5-dfc299953e0b","name":"Create a record","credentials":{"airtableTokenApi":{"id":"2CrlfDDV3wTPTK8t","name":"Creative Glu-New"}}}],"connections":{"AI Agent":{"main":[[{"node":"Create a record","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"53164d57-903c-47b4-b896-743b3fc896d1","triggerCount":0,"tags":[{"createdAt":"2025-04-11T09:28:50.842Z","updatedAt":"2025-04-11T09:28:50.842Z","id":"zs2sreDkbL3PMpx4","name":"San 3.0 - Sub"}]}