Waste organizer.json
{"createdAt":"2025-08-01T06:52:22.321Z","updatedAt":"2025-08-01T09:39:35.114Z","id":"JgvyMhUYZKtkeTBh","name":"Waste organizer","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"text"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-336,0],"id":"9d63366b-4628-44f0-938d-360f3f4e6095","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=Report:: {{ $json.text }}","options":{"systemMessage":"=You are an environmental waste organizer for NSW, Australia.\n\nYour Task:\nFor every domain, stockpile, or area described in the waste report:\n\nExtract:\n\nname (e.g., \"Stockpile 7 (SP-7)\")\nvolume (e.g., \"200 m³\")\nmaterial_type (e.g., soil, sand, concrete, fill, etc.)\nexemption (e.g., \"VENM\", \"ENM\", or null)\n\nDo not assign an EPA waste class or destination.\nIf a domain cannot be extracted with the info provided, set its value to null and specify what is missing.\n\nVENM and ENM Definitions (per NSW EPA):\n\nVENM (Virgin Excavated Natural Material):\n\nUncontaminated natural material (clay, sand, gravel, soil, or rock fines) excavated from areas that are not contaminated by industrial, commercial, mining, or agricultural activities.\n\nDoes not contain sulfidic ores or soils, or any other waste.\n\nHas not been processed or mixed with any other waste material.\n\nENM (Excavated Natural Material):\n\nOnly naturally occurring rock and soil (such as sandstone, shale, clay, or soil) excavated from the ground.\n\nContains at least 98% by weight natural material.\n\nDoes not contain any acid sulfate soil, sulfidic ores/soils, or any other waste.\n\nIs not contaminated by chemicals from industrial, commercial, mining, or agricultural activities.\n\nMeets the requirements of the relevant Resource Recovery Order (RRO) for ENM issued by the EPA.\n\nHow to use these definitions:\n\nIf the waste report explicitly states \"VENM\" or \"ENM\" or the domain description matches the above criteria, set exemption to \"VENM\" or \"ENM\".\n\nOtherwise, set exemption to null.\n\nOutput Format (JSON array, one object per domain):\n\n[\n  {\n    \"name\": \"Stockpile 7 (SP-7)\",\n    \"volume\": \"200 m³\",\n    \"material_type\": \"soil with minor debris\",\n    \"exemption\": null\n  },\n  {\n    \"name\": \"SP1 (W1, Bally Holly, pit removal)\",\n    \"volume\": \"30 m³\",\n    \"material_type\": \"sandy gravel\",\n    \"exemption\": null\n  }\n]\nUse null for any missing value.\n\nNo commentary, no summary—just the JSON array.\n\nInstructions:\nExtract only the requested fields for each domain/stockpile.\nDo not guess, group, or classify beyond what is explicitly described in the waste report.\nUse the VENM/ENM definitions above to set exemption only when criteria are clearly met.\nIf unsure, set exemption to null."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-112,0],"id":"fedeaa65-c719-4f4a-9735-b9bcb2ef3c46","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,224],"id":"5c880357-0467-404d-a09b-180e992b3a61","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"G5B8fc5uUqqLH94p","name":"OpenAi account 3"}}},{"parameters":{"jsCode":"// Get the output string\nconst outputStr = $input.first().json.output;\n\n// Parse the JSON string into an array\nconst domains = JSON.parse(outputStr);\n\n// Now you can process each domain as an object!\nreturn domains;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,0],"id":"3d7abcfd-eb98-45f6-b83c-f9b15a03cd85","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"048cbd2b-416c-4cc7-8221-41275b3134b1","triggerCount":0,"tags":[]}