Web Interface-Handler.json
{"createdAt":"2025-06-30T05:39:17.627Z","updatedAt":"2025-07-24T07:51:19.369Z","id":"p03PMfKIQY6zD2Q7","name":"Web Interface-Handler","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.workflowName }}","rightValue":"Connie – AI Marketing Team","operator":{"type":"string","operation":"equals"},"id":"7d119038-4dbf-4375-b6c5-eb531efd5328"}],"combinator":"and"},"renameOutput":true},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"fb083444-f727-43b9-94bd-d91546e59293","leftValue":"={{ $json.workflowName }}","rightValue":"Santorio - Natural Health","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"2224993d-3ee3-4b70-a8c5-12fcc2f140c6","leftValue":"={{ $json.workflowName }}","rightValue":"=Logan - Logistics","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8ab9935e-05ee-4da4-9c89-00688763b787","leftValue":"={{ $json.workflowName }}","rightValue":"Hannah - RevOps","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"295ca2ac-4ee1-4a62-82d7-b6eccdd91507","leftValue":"={{ $json.workflowName }}","rightValue":"The Dan - Agentic Chief of Staff","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d885905b-63d9-42ba-9366-6b4264809c3a","leftValue":"={{ $json.workflowName }}","rightValue":"Sam - Sales","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f4f82546-d8d6-4f74-8783-a0ee61939a70","leftValue":"={{ $json.workflowName }}","rightValue":"Helen - RevOps","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c7f0c8c6-06fb-4ae8-90bc-9d1ddf86c0bf","leftValue":"={{ $json.workflowName }}","rightValue":"=Ryzophere-Chat-Engine","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-496,1488],"id":"6f4c5d9e-2049-4f0e-b3d7-edd3e1cce990","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"76cf5481-8418-40fc-9041-7b41f7399ec1","name":"user_message","value":"={{ $('When chat message received').item.json.chatInput }}","type":"string"},{"id":"8feb3a60-a5cc-4806-81c3-e9e2ae5e8174","name":"=workflowName","value":"={{ $('Code1').first().json.workflowName }}","type":"string"},{"id":"b088bbcb-10a7-4ccf-8044-9633867f33b4","name":"=chatId","value":"={{ $('Code1').first().json.chatId }}","type":"string"},{"id":"f266cb48-7ee4-4299-bacf-37a41efd58a5","name":"attachmentData","value":"={{ $('Merge').item.json.text || $json.content }}","type":"string"},{"id":"477ef034-9260-4674-b374-329ae622ece6","name":"uploadFileUrl","value":"={{ $('Upload file').first().json.webViewLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,1552],"id":"525748a1-5ac9-439d-a7b7-cd7f36b1d841","name":"Edit Fields1"},{"parameters":{"workflowId":{"__rl":true,"value":"o0r09BiDeStqCAE9","mode":"list","cachedResultName":"Connie – AI Marketing Team"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_message":"={{ $json.user_message }}","user_id":"={{ $json.chatId }}"},"matchingColumns":[],"schema":[{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-224,1152],"id":"a72b6046-8d28-413a-a4fb-f599b1a001c7","name":"Connie"},{"parameters":{"workflowId":{"__rl":true,"value":"EKQmuaB2MsYDcmMa","mode":"list","cachedResultName":"Santorio - Natural Health"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_message":"={{ $('When chat message received').item.json.chatInput }}","userId":"={{ $json.chatId }}","metadata":"={{ $json.workflowName }}","attachmentData":"={{ $json.attachmentData }}"},"matchingColumns":["user_message"],"schema":[{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"metadata","displayName":"metadata","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"attachmentData","displayName":"attachmentData","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-224,1344],"id":"8e9f192e-bd4a-4f98-bd29-8bd459b70db9","name":"Santorio"},{"parameters":{"workflowId":{"__rl":true,"value":"lAPIuCmaQTMxdaXp","mode":"list","cachedResultName":"Logan_Workflow_Core"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_message":"={{ $json.user_message }}","metadata":"={{ $json.workflowName }}","chatId":"={{ $json.chatId }}","attachmentData":"={{ $json.attachmentData }}","uploadFileUrl":"={{ $json.uploadFileUrl }}"},"matchingColumns":[],"schema":[{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"metadata","displayName":"metadata","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"chatId","displayName":"chatId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"attachmentData","displayName":"attachmentData","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"uploadFileUrl","displayName":"uploadFileUrl","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-224,1552],"id":"9800b307-f989-4ba7-81bf-c8d4a62478d4","name":"Logan"},{"parameters":{"workflowId":{"__rl":true,"value":"P52GHv5dPorHBzxZ","mode":"list","cachedResultName":"Hannah"},"workflowInputs":{"mappingMode":"defineBelow","value":{"metadata":"={{ $json.workflowName }}","user_message ":"={{ $json.user_message }}","userId":"={{ $json.chatId }}"},"matchingColumns":[],"schema":[{"id":"user_message ","displayName":"user_message ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"metadata","displayName":"metadata","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-224,1744],"id":"328062ab-f483-49e9-9670-eae75db9087e","name":"hannah"},{"parameters":{"operation":"pdf","binaryPropertyName":"data0","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1296,1328],"id":"5fa498bd-c324-46e9-9899-1f1b5f49705d","name":"Extract from File","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const rawMetadata = $input.first().json?.metadata;\n\nlet parsed = {};\n\nif (rawMetadata) {\n  try {\n    parsed = JSON.parse(rawMetadata);\n  } catch (e) {\n    parsed = { error: \"Invalid JSON\", raw: rawMetadata };\n  }\n} else {\n  parsed = { error: \"No metadata provided\" };\n}\n\nreturn [{ json: parsed }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,1712],"id":"2c441951-9656-472d-90e9-15daf121e450","name":"Code1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1056,1424],"id":"68d2f3bd-2c75-4353-af80-f8f48761b341","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-848,1552],"id":"7d7520f6-99d9-4906-a468-85d8ff321c8e","name":"Limit"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.files[0].fileType }}","rightValue":"pdf","operator":{"type":"string","operation":"equals"},"id":"3c4d03e7-5f8c-40d5-aa52-1a258f9592c6"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb8213f4-06c6-4eed-9311-7e16ebac7139","leftValue":"={{ $json.files[0].fileType }}","rightValue":"=image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1488,1408],"id":"60974d91-d605-4403-adb4-a8941ae59bc2","name":"Switch1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"=Analyze the Image Properly and get all the data or information from image \nBllod report data, Packing items dimensions and other information ","inputType":"base64","binaryPropertyName":"data0","options":{"detail":"auto"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-1296,1504],"id":"29022960-ee75-4551-9d42-7a8c155b0fdc","name":"Analysis Report Image node1","credentials":{"openAiApi":{"id":"hpvxzuW3W9YmuUCO","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"Pj4V8ZpUbZluPXf3","mode":"list","cachedResultName":"Dan-Chief Of Agents"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Message":"={{ $json.user_message }}"},"matchingColumns":["Message"],"schema":[{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-224,1952],"id":"6d927381-2204-4faf-9212-51385da34126","name":"Dan"},{"parameters":{"assignments":{"assignments":[{"id":"871ddc0a-73a4-4919-8964-6fc9efe8628d","name":"output","value":"Check out the Samy AI Agent here: 🔗 https://gluagents.xyz/form/794b8d6e-a6e0-44d4-bb79-8d3ae1222770","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,2128],"id":"07008d5a-5c1d-4eb8-b816-e3947391cfea","name":"Sammy-AI"},{"parameters":{"inputDataFieldName":"data0","name":"={{ $json.files[0].fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1CeOMBZlthJ_3dbrlSrVX4eT_WtqZXfhN","mode":"list","cachedResultName":"web-attachments","cachedResultUrl":"https://drive.google.com/drive/folders/1CeOMBZlthJ_3dbrlSrVX4eT_WtqZXfhN"},"options":{"simplifyOutput":false}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1296,1152],"id":"2abf5675-db1e-4692-9e62-77ff1a9f0269","name":"Upload file","alwaysOutputData":false,"credentials":{"googleDriveOAuth2Api":{"id":"z29QCHSTFbuYhWdz","name":"Dan Drive Account"}},"onError":"continueRegularOutput"},{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1728,1408],"id":"6b994bb1-8282-45e5-8a11-2d1cb9d4049b","name":"When chat message received","webhookId":"b5629c57-7796-4cd2-9565-7c710504b0c9"},{"parameters":{"workflowId":{"__rl":true,"value":"fHsFWfZCkLyQweew","mode":"list","cachedResultName":"Helen - RevOps"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_message":"={{ $json.user_message }}","userId":"={{ $json.chatId }}"},"matchingColumns":[],"schema":[{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-208,2320],"id":"e8518669-17fe-4672-a395-165e096351d8","name":"Helen"},{"parameters":{"workflowId":{"__rl":true,"value":"bck8G0ft3hAlGHJa","mode":"list","cachedResultName":"Ryzophere-Chat-Engine"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_message":"={{ $json.user_message }}","user_id":"={{ $json.chatId }}"},"matchingColumns":[],"schema":[{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-208,2496],"id":"f2d58cd3-19de-449f-b1a4-02c0a4a8b4be","name":"Ryzophere"}],"connections":{"Edit Fields1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Connie","type":"main","index":0}],[{"node":"Santorio","type":"main","index":0}],[{"node":"Logan","type":"main","index":0}],[{"node":"hannah","type":"main","index":0}],[{"node":"Dan","type":"main","index":0}],[{"node":"Sammy-AI","type":"main","index":0}],[{"node":"Helen","type":"main","index":0}],[{"node":"Ryzophere","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"Analysis Report Image node1","type":"main","index":0}]]},"Analysis Report Image node1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Merge","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Upload file","type":"main","index":0},{"node":"Switch1","type":"main","index":0},{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5faf5eb6-91fb-40fd-85c7-62b6dd4a35ab","triggerCount":1,"tags":[{"createdAt":"2025-07-10T09:29:28.648Z","updatedAt":"2025-07-10T09:29:28.648Z","id":"fSH0WoDYCyb46CsN","name":"web"}]}