WhatsApp  Trigger.json
{"createdAt":"2025-07-07T11:17:52.844Z","updatedAt":"2025-07-08T05:50:03.642Z","id":"CrvWYvtekKR7h9Z0","name":"WhatsApp  Trigger","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"id":"6ddc7f92-381c-44a2-b771-a1d9f0930766","name":"WhatsApp Trigger","type":"n8n-nodes-base.whatsAppTrigger","position":[-1020,560],"webhookId":"0b1b3a9b-2f6a-4f5a-8385-6365d96f4802","typeVersion":1},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.audio.id }}"},"id":"d55493d3-ac9a-45e1-8e51-e27c24c930dc","name":"Get Audio URL","type":"n8n-nodes-base.whatsApp","position":[-220,100],"typeVersion":1,"webhookId":"5a667010-ead3-476a-954c-b0240797c83f"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.video.id }}"},"id":"a6b13e9e-54eb-4770-b798-5979469df64b","name":"Get Video URL","type":"n8n-nodes-base.whatsApp","position":[-220,460],"typeVersion":1,"webhookId":"d248a4d7-9155-4ac7-ad13-4aa99c0bad37"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.image.id }}"},"id":"ba54b794-d7a7-4386-adcd-63c741855fcd","name":"Get Image URL","type":"n8n-nodes-base.whatsApp","position":[-220,800],"typeVersion":1,"webhookId":"41df0cc4-f776-4875-ae5d-a372da733668"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"id":"bc817692-cbbe-4539-8d9c-4e1ea81eeb85","name":"Download Video","type":"n8n-nodes-base.httpRequest","position":[-60,460],"typeVersion":4.2},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"id":"b592c032-377f-4a37-95f3-7fcbcaed473c","name":"Download Audio","type":"n8n-nodes-base.httpRequest","position":[-60,100],"typeVersion":4.2},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"id":"f0902c32-3a12-4ce7-9080-b97260bc95b5","name":"Download Image","type":"n8n-nodes-base.httpRequest","position":[-60,800],"typeVersion":4.2},{"parameters":{"sessionIdType":"customKey","sessionKey":"=whatsapp-tutorial-{{ $json.from }}"},"id":"83a3a17d-cba5-48b7-83fc-4216a4e0df91","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1140,820],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"d990cbd6-a408-4ec4-a889-41be698918d9","name":"message_type","type":"string","value":"={{ $('Split Out Message Parts').item.json.type }}"},{"id":"23b785c3-f38e-4706-80b7-51f333bba3bd","name":"message_text","type":"string","value":"={{ $json.text }}"},{"id":"6e83f9a7-cf75-4182-b2d2-3151e8af76b9","name":"from","type":"string","value":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}"},{"id":"da4b602a-28ca-4b0d-a747-c3d3698c3731","name":"message_caption","type":"string","value":"={{ $('Redirect Message Types').item.json.video && $('Redirect Message Types').item.json.video.caption || '' }}\n{{ $('Redirect Message Types').item.json.image && $('Redirect Message Types').item.json.image.caption || ''}}\n{{ $('Redirect Message Types').item.json.audio && $('Redirect Message Types').item.json.audio.caption || ''}}"}]},"options":{}},"id":"661c73bd-4924-4cf0-88bb-b333fc93f6a8","name":"Get User's Message","type":"n8n-nodes-base.set","position":[840,640],"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"messages","options":{}},"id":"139f160f-709f-483c-bb27-fd07779d1f28","name":"Split Out Message Parts","type":"n8n-nodes-base.splitOut","position":[-780,560],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.type == 'audio' && Boolean($json.audio) }}","rightValue":"audio"}]},"renameOutput":true,"outputKey":"Audio Message"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"82aa5ff4-c9b6-4187-a27e-c7c5d9bfdda0","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.type == 'video' && Boolean($json.video) }}","rightValue":""}]},"renameOutput":true,"outputKey":"Video Message"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"05b30af4-967b-4824-abdc-84a8292ac0e5","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.type == 'image' && Boolean($json.image) }}","rightValue":""}]},"renameOutput":true,"outputKey":"Image Message"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Text Message"}},"id":"f2ca25c8-ae79-43fd-8699-83937f311304","name":"Redirect Message Types","type":"n8n-nodes-base.switch","position":[-500,640],"typeVersion":3.2},{"parameters":{"content":"## 1. WhatsApp Trigger\n[Learn more about the WhatsApp Trigger](https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.whatsapptrigger)\n\nTo start receiving WhatsApp messages in your workflow, there are quite a few steps involved so be sure to follow the n8n documentation. When we recieve WhatsApp messages, we'll split out the messages part of the payload and handle them depending on the message type using the Switch node.","height":245.72612197928734,"width":335.8011507479863,"color":7},"id":"3c89f031-f2e3-44eb-93fe-849148d00277","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1020,280],"typeVersion":1},{"parameters":{"content":"### 2. Transcribe Audio Messages 💬\nFor audio messages or voice notes, we can use GPT4o to transcribe the message for our AI Agent.","height":97.23360184119679,"width":356.65822784810103,"color":7},"id":"10e517c7-7093-4e24-9dd2-0b159388d975","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-220,-20],"typeVersion":1},{"parameters":{"content":"### 3. Describe Video Messages 🎬\nFor video messages, one approach is to use a Multimodal Model that supports parsing video. Currently, Google Gemini is a well-tested service for this task. We'll need to use the HTTP request node as currrently n8n's LLM node doesn't currently support video binary types.","height":127.13555811277331,"width":492.5258918296896,"color":7},"id":"c8ae7d90-117d-4b06-a5b6-dea273ba4326","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-220,300],"typeVersion":1},{"parameters":{"content":"### 4. Analyse Image Messages 🏞️\nFor image messages, we can use GPT4o to explain what is going on in the message for our AI Agent.","height":97.23360184119679,"width":356.65822784810103,"color":7},"id":"b5c54e86-cf11-4c09-afce-69d6d00dcd99","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-220,680],"typeVersion":1},{"parameters":{"content":"### 5. Text summarizer 📘\nFor text messages, we don't need to do much transformation but it's nice to summarize for easier understanding.","height":97.23360184119679,"width":428.24395857307246,"color":7},"id":"5fa204fe-4881-442f-8949-21aa6286c340","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-220,980],"typeVersion":1},{"parameters":{"amount":0},"id":"6df2ead5-8677-486b-9166-ea097000f685","name":"Get Text","type":"n8n-nodes-base.wait","position":[-220,1100],"webhookId":"99b49c83-d956-46d2-b8d3-d65622121ad9","typeVersion":1.1},{"parameters":{"content":"## Try It Out!\n\n### This n8n template demonstrates the beginnings of building your own n8n-powered WhatsApp chatbot! Under the hood, utilise n8n's powerful AI features to handle different message types and use an AI agent to respond to the user. A powerful tool for any use-case!\n\n* Incoming WhatsApp Trigger provides a way to get messages into the workflow.\n* The message received is extracted and sent through 1 of 4 branches for processing.\n* Each processing branch uses AI to analyse, summarize or transcribe the message so that the AI agent can understand it.\n* The AI Agent is used to generate a response generally and uses a wikipedia tool for more complex queries.\n* Finally, the response message is sent back to the WhatsApp user using the WhatsApp node.\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!","height":562.8608514850005,"width":470.66513233601853},"id":"fccc9ac6-3dec-4de6-a1e5-50e1132a3f57","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-1580,120],"typeVersion":1},{"parameters":{"content":"### Activate workflow to use!\nYou must activate the workflow to use this WhatsApp Chabot. If you are self-hosting, ensure WhatsApp is able to connect to your server.","height":96.0144533433243,"width":473.28063885246377,"color":5},"id":"2fbb907a-7eaf-484b-bbee-e07b6cbfb6a9","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-1580,700],"typeVersion":1},{"parameters":{"promptType":"define","text":"Here is an image sent by the user. Describe the image and transcribe any text visible in the image.","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]}},"id":"2ad8282c-7b16-4bcc-9dae-d15f673074c7","name":"Image Explainer","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[460,800],"typeVersion":1.4},{"parameters":{"assignments":{"assignments":[{"id":"2ec0e573-373b-4692-bfae-86b6d3b9aa9a","name":"text","type":"string","value":"={{ $json.candidates[0].content.parts[0].text }}"}]},"options":{}},"id":"a2dd1638-325c-4eda-98df-1a80417820ec","name":"Format Response","type":"n8n-nodes-base.set","position":[620,460],"typeVersion":3.4},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n### 🚨 Google Gemini Required!\nNot using Gemini? Feel free to swap this out for any Multimodal Model that supports Video.","height":305.35604142692785,"width":260},"id":"9379205f-2617-4834-a2d6-b5b93c85456b","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[300,440],"typeVersion":1},{"parameters":{"modelName":"models/gemini-1.5-pro-002","options":{}},"id":"1b3b8db6-d13a-4d6d-8bbb-406e95711fb8","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1000,820],"typeVersion":1},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n### 🚨 Google Gemini Required!\nNot using Gemini? Feel free to swap this out for any Multimodal Model that supports Audio.","height":294.22048331415436,"width":260},"id":"1aedf3ac-f917-4020-ab2f-ca07db5f6659","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[300,80],"typeVersion":1},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-002:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Transcribe this audio\"},\n      {\"inlineData\": {\n        \"mimeType\": `audio/${$binary.data.fileExtension}`,\n        \"data\": $input.item.binary.data.data }\n      }\n    ]\n  }]\n}\n}}","options":{}},"id":"3b92a6b6-3b09-4e56-8ad4-54b52606da7c","name":"Google Gemini Audio","type":"n8n-nodes-base.httpRequest","position":[380,100],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-002:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Describe this video\"},\n      {\"inlineData\": {\n        \"mimeType\": `video/${$binary.data.fileExtension}`,\n        \"data\": $input.item.binary.data.data }\n      }\n    ]\n  }]\n}\n}}","options":{}},"id":"16ff746c-1e34-4211-ab17-43bbfc1199e8","name":"Google Gemini Video","type":"n8n-nodes-base.httpRequest","position":[380,460],"typeVersion":4.2},{"parameters":{"modelName":"models/gemini-1.5-pro-002","options":{}},"id":"65077258-423b-4b5d-b94c-399c31992634","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[440,940],"typeVersion":1},{"parameters":{"modelName":"models/gemini-1.5-pro-002","options":{}},"id":"f9ebcaac-1c30-47c8-be8b-2b3da908d750","name":"Google Gemini Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[440,1240],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"2ec0e573-373b-4692-bfae-86b6d3b9aa9a","name":"text","type":"string","value":"={{ $json.candidates[0].content.parts[0].text }}"}]},"options":{}},"id":"63e8d1c9-6d10-4ec3-895f-73b58a4955d5","name":"Format Response1","type":"n8n-nodes-base.set","position":[620,100],"typeVersion":3.4},{"parameters":{"promptType":"define","text":"={{ $json.text.body || $json.text }}","messages":{"messageValues":[{"message":"Summarize the user's message succinctly."}]}},"id":"c39163a9-11df-4922-81ba-45803ae1a490","name":"Text Summarizer","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[460,1100],"typeVersion":1.4},{"parameters":{"promptType":"define","text":"=The user sent the following message\nmessage type: {{ $json.message_type }}\nmessage text or description:\n```{{ $json.message_text }}```\n{{ $json.message_caption ? `message caption: ${$json.message_caption.trim()}` : '' }}","options":{"systemMessage":"You are a general knowledge assistant made available to the public via whatsapp. Help answer the user's query succiently and factually."}},"id":"04e27402-64b3-4781-b482-ceebb12b73b1","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1040,640],"typeVersion":1.6},{"parameters":{},"type":"n8n-nodes-websockets-lite.websocketsNode","typeVersion":1,"position":[-1140,1920],"id":"d1ded20b-5e6d-432d-b916-db4cb9e292a5","name":"websocketsnode"},{"parameters":{},"type":"n8n-nodes-websockets-lite.websocketsReplyNode","typeVersion":1,"position":[-420,1780],"id":"d51dd1c5-bb11-426c-be56-ee8f6bf78ba5","name":"Websockets Send Node"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.event }}","rightValue":"open","operator":{"type":"string","operation":"equals"},"id":"3884e3d2-f40e-4e9f-9697-09e6733bf6db"}],"combinator":"and"},"renameOutput":true,"outputKey":"Open"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d2c8e9c1-914b-4368-982e-c01f0f3645c2","leftValue":"={{ $json.event }}","rightValue":"message","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"message"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a4402e1-723d-47d4-86ee-8ee0864d85af","leftValue":"={{ $json.event }}","rightValue":"close","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"close"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-880,1900],"id":"cdf19cf4-60c1-42b5-b529-9d62190231d3","name":"Switch"},{"parameters":{},"type":"n8n-nodes-websockets-lite.websocketsReplyNode","typeVersion":1,"position":[-420,1980],"id":"5d699ef5-05be-4155-9c3f-7dc950dd516a","name":"Websockets Send Node1"}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Split Out Message Parts","type":"main","index":0}]]},"Get Audio URL":{"main":[[{"node":"Download Audio","type":"main","index":0}]]},"Get Video URL":{"main":[[{"node":"Download Video","type":"main","index":0}]]},"Get Image URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Google Gemini Video","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Google Gemini Audio","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Image Explainer","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Get User's Message":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Split Out Message Parts":{"main":[[{"node":"Redirect Message Types","type":"main","index":0}]]},"Redirect Message Types":{"main":[[{"node":"Get Audio URL","type":"main","index":0}],[{"node":"Get Video URL","type":"main","index":0}],[{"node":"Get Image URL","type":"main","index":0}],[{"node":"Get Text","type":"main","index":0}]]},"Get Text":{"main":[[{"node":"Text Summarizer","type":"main","index":0}]]},"Image Explainer":{"main":[[{"node":"Get User's Message","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Get User's Message","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Gemini Audio":{"main":[[{"node":"Format Response1","type":"main","index":0}]]},"Google Gemini Video":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Image Explainer","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Text Summarizer","type":"ai_languageModel","index":0}]]},"Format Response1":{"main":[[{"node":"Get User's Message","type":"main","index":0}]]},"Text Summarizer":{"main":[[{"node":"Get User's Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"92f2ab7e-8c7a-4e4a-9524-b887711d3675","triggerCount":0,"tags":[]}